[2018-12-13 16:13] allan23 commented on #1187
Hi @MrEfrem,

What is the exact error you are receiving?

[2018-12-13 16:31] MrEfrem commented on #1187
Try use the ‘body-parser’ npm package and you will understand me. And why do you interest my error? This is explicit bug, because different of official documentation.

[2018-12-13 16:39] allan23 commented on #1187
The reason I ask is because you are using a proxy server in between your elasticsearch instance and your server. If the proxy server does not accept the correct content-type you will get an error.

[2018-12-13 17:19] MrEfrem commented on #1187
I use the proxy because I want process data adding to Elasticsearch and trigger some functions. I implement the proxy in Google cloud function. Because cloud functions run over Express.JS and google cloud platform uses ‘body-parser’ by default to parse ‘JSON’ then this incorrect header ‘Content-type’ leads to an error of parsing ‘JSON’.

[2018-12-13 19:56] networkingdude commented on #1037
I am having the same issue with the Woocomerce Brands Pro plug-in.

[2018-12-13 20:36] ray-lee commented on #1180
Great, thanks. I'm working on this now.

[2018-12-14 15:13] MWElyass opened #1188 "Second Query doesn't return correct post_type when executing 2 WP_Query."
**Have you searched for similar issues before submitting this one?**
yes

**Is this a bug, question or feature request?**
bug, i guess

**Describe the issue you encountered:**
I have 2 `WP_Query` executed one after the other. The queries are about posts with 2 differents custom types. The first one should return posts with `post_type=custom_author` and the second should return posts with `post_typ

[2018-12-14 19:15] spelkey-ucd opened #1189 "Stop ep_integrate=false from overriding the s parameter"
Have you searched for similar issues before submitting this one?
Yes.

Is this a bug, question or feature request?
Question, but maybe a feature request

Describe the issue you encountered:
I have the search feature enabled, but I don't want to use it for all searches. Basically, I would like to be able to use the `s` keyword parameter in a new WP Query object when `ep_integrate=>false`  so, I can

[2018-12-15 10:54] kordicpetar commented on #776
The same is with this filtering plugin WooCommerce Product Filter by dzeriho. Also you have problem with official woocommerce brands plugin. Maybe you should consider this as problem from your side also cause Elasticpress is not working well with main brands plugins.

[2018-12-16 04:00] BamaStangGuy commented on #1176
Bump. I can reproduce this bug and give you a complete open server to debug.

[2018-12-17 14:50] oscarssanchez commented on #1181
Hi @thesquaremedia ,

I think facets from custom taxonomies are possible, you would need to select them on the widget. Any other custom facet is not supported at the moment.

As for the range query, https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html have you tried running it with ep_formatted_args filter?

Thanks for raising your questions !

[2018-12-17 18:07] cbratschi opened #1190 "Pages not found"
Have you searched for similar issues before submitting this one?
Yes.

Is this a bug, question or feature request?
Question and probably a bug.

Describe the issue you encountered:

The following code works fine to query posts from ElasticSearch but pages and other post types are not found (404 error). We tried to use /page/<id> instead of /post/<id> but this did not change anything. How can we fi

[2018-12-17 18:44] incredimike opened #1191 "Using `ep_indexable_post_types` to filter indexed post types will result in empty WP_Query results for any other custom post type when ElasticPress facet feature is enabled."
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
Using `ep_indexable_post_types` to filter indexed post types will result in empty WP_Query results for any other custom post type when ElasticPress facet feature is enabled. Disabling the feature resolves the problem.

Current WordPress version:

[2018-12-18 20:45] incredimike commented on #1189
I also need to know the answer to this question.

[2018-12-18 20:50] incredimike commented on #1189
Seems to me that around line 72 in `classes/class-ep-wp-query-integration.php` There is the following pre_get_posts call:
[code]

Perhaps that void return should be `return $query;` instead?

[2018-12-19 06:44] MrEfrem commented on #1187
hi @allan23, I believe that Elasticpress should not always send an `application/json` header. My proxy accepts correct headers but for bulk requests the content header should be `application/x-ndjson`. Do you plan on fixing this issue? I'm just curious because I have solved the issue now in the proxy but it's not ideal. It would be much better if Elasticpress would always set correct content heade

[2018-12-19 17:36] peterjohnhunt opened #1192 "search_fields meta_query showing no results"
Have you searched for similar issues before submitting this one? Yes

Is this a bug, question or feature request? Bug

Describe the issue you encountered:

Current WordPress version: 5.0.1

Current ElasticPress version: 2.7.0

Current Elasticsearch version: not sure

Where do you host your Elasticsearch server: elasticpress.io

Other plugins installed (WooCommerce, Simple Redirect Manager, etc..):

[2018-12-19 17:49] oscarssanchez commented on #1192
Hi @peterjohnhunt , thanks for raising the issue!

I see you have the debug bar installed, that will be very helpful to help with this, could you please paste the Query Body and Query Response that went to ElasticSearch?

I see you are not getting the post, but having an error message from ES would be a great starting point for me :)

Thanks!

[2018-12-19 17:53] peterjohnhunt commented on #1192
Hey @oscarssanchez! Thanks for the quick response! Yes, here is the output from the debug bar:

Also a quick note from looking at the elasticpress.io endpoint mapping, it looks like it has the field "isbn" that we are trying to search for listed as a boolean.

Query Args:
[code]

Query Body:

[code]

Query Response Code: 200
Query response:

[code]

[2018-12-19 18:11] oscarssanchez commented on #1192
Thanks for the information @peterjohnhunt ,

I think this would be an issue with mappings, as ES would search for an integer or string but found a boolean field instead.

May I ask how is the ISBN meta generated so I can reproduce the problem?

[2018-12-19 18:16] peterjohnhunt commented on #1192
Hey @oscarssanchez, so this was setup as an ACF text field. It may not be filled in on all posts, but it is working for all other situations (including a search without EP).

Let me know what else would be helpful to help you recreate it. I'm also happy to get you delegated access to the staging site in question if that helps speed things along!

[2018-12-19 18:20] peterjohnhunt commented on #1192
Only other thing i can think of is that a lot of these posts get auto updated via a programatic `wp_update_post` function as part of the 'meta_input' array.

[2018-12-19 18:46] oscarssanchez commented on #1192
Hey @peterjohnhunt thanks!, i can confirm the same result with a text field from ACF. I will look into it and update once I find the problem.

[2018-12-19 20:03] oscarssanchez commented on #1192
Hi @peterjohnhunt ,

Turns out this was not a bug and mappings were just fine, sorry about that!

The solution for this is to set `isbn` as a search field for woocommerce queries, you can use the `'shop_order_search_fields'` filter to add it : https://github.com/10up/ElasticPress/blob/develop/features/woocommerce/woocommerce.php#L431

After that, your initial query, with `ep_integrate` set to `tru

[2018-12-19 20:05] peterjohnhunt commented on #1192
Hey @oscarssanchez! I'm actually not using woocommerce though i do have a custom post type named product. Do i need to do something else since i'm not using woocommerce?

[2018-12-19 20:12] oscarssanchez commented on #1192
Sure @peterjohnhunt  there's also the ep_search_fields filter :

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1467

Hope this works for your case!

[2018-12-19 20:43] peterjohnhunt commented on #1192
Ok, just to make sure i'm tracking, you're saying the meta fields were indexed fine and are in the elasticpress.io server ok, but i need to enable them on my side to be used via the `ep_search_fields` filter? Or that i need that to re-index stuff correctly?

My end goal is actually to have this as my query:

[code]

and a search to result with that ISBN, however in testing with Thorsten Ott he men

[2018-12-19 20:43] peterjohnhunt commented on #1192
Thanks again @oscarssanchez for all the help, and the quick turn around too! Hopefully i can get this wrapped up and will be all good!

[2018-12-19 21:16] oscarssanchez commented on #1192
@peterjohnhunt  That should be right!

I noticed i did not have issues with post_type: product since this is a post_type created by woocommerce, hence it is indexed.

However, when trying to reproduce the same query without it, it did not return any results, makes sense since there's no post_type field to search! Could you check this please?

You can easily check if there's a post_type product in

[2018-12-19 21:23] peterjohnhunt commented on #1192
I did get some results following those steps! the search has been working fine for us in relation to title, content, and excerpt it would seem as we are already using that successfully in production! It only appears not to be working for meta keys/values whether we do it via `meta_query`, or `search_fields`

[2018-12-19 21:36] peterjohnhunt commented on #1192
here is the full query body going to the elastic search server when i use the search_fields:

[code]

[2018-12-20 01:46] oscarssanchez commented on #1192
Hey @peterjohnhunt  I've been poking around with this with a custom post_type `product` with some `ISBN` meta, but this seems unusual because setting the search_fields and a meta query like this works for me:

[code]

Can you please do a POST request again with this query and check if you get no results?

[code]

This is how my mappings look for isbn so we can also compare :

[code]

Thanks!

[2018-12-20 01:57] peterjohnhunt commented on #1192
Hey @oscarssanchez! Thanks for continuing to dig on this! Still no results when posting with that specific query.

Here is my mapping:

[code]

[2018-12-20 18:20] oscarssanchez commented on #1192
Our mappings look identical @peterjohnhunt ,

Let's take a look at the data of the product with isbn 9781462753673 . Could you search for it by it's title and paste how it looks? This is how it looks for me :

[code]

[2018-12-20 18:49] peterjohnhunt commented on #1192
Hey @oscarssanchez, very helpful! So doing additional digging here, i'm actually noticing that though search is working and returning results when various keywords are used, it almost seems as if there are a number of titles that may not be indexed? I was also able to find one that is for sure indexed, and the ISBN is working when searching for that. So it appears it's just related to some posts.

[2018-12-20 20:11] oscarssanchez commented on #1192
Great, thanks for the information @peterjohnhunt ,

Another person just had a similar issue and it was because of some meta remanents generated by ACF. Could you please index your content with this wp-cli command: `wp elasticpress index --setup --show-bulk-errors`

Let's see what errors it throws

[2018-12-20 21:30] peterjohnhunt commented on #1192
started this a while ago and will update you once it's complete! no errors half way through as of yet!

[2018-12-20 23:00] peterjohnhunt commented on #1192
aha! It appears that my error is this:

[code]

[2018-12-20 23:02] peterjohnhunt commented on #1192
I've disabled protected content for now and am doing a resync as a have quite a bit of admin only data that i don't have to sync. Thanks for all the help @oscarssanchez! Would be nice if there was an alert or something in the plugin or elasticpress.io account page that showed i was over my quota!

[2018-12-20 23:10] peterjohnhunt commented on #1192
I'm re-running an index now to confirm this was the issue! That being said, i don't actually have WP-CLI access on my production server. is there an easy way i can delete the current index and re-index on there?

[2018-12-20 23:40] oscarssanchez commented on #1192
Hi @peterjohnhunt ,

This actually is related to the total field size on your elasticsearch server, not the documents you can index. For the essential plan that is 20,000 documents, far more than 5,000.

This issue is probably happening because of the meta you have right now. You probably have too much meta data in your database due to poor coded plugins. We had this exact same issue recently.

Th

[2018-12-21 13:33] oscarssanchez commented on #1190
Hi @cbratschi , that's because you are querying for `doc` type, not for `post_type`.

Take this GET request: http://localhost:9200/localhost-1/post/2 for a `post_type` page

Elasticsearch response:

[code]

Check that the `_type` is `post` and the `post_type` is `page` . With your current code, you are actually querying for all `pages`, `posts` and custom `post_types` you have.

May I ask why are

[2018-12-21 13:44] oscarssanchez commented on #1134
Just updating @martian77 , made a PR for this in case you want to try it in the meantime :)

[2018-12-21 14:02] oscarssanchez commented on #1175
Closing this one out @jeffceriello , please feel free to reopen if you have more questions.

[2018-12-21 14:02] #1175 closed

[2018-12-21 14:50] peterjohnhunt commented on #1192
Thanks Oscar! I'll look to clean up some old meta. I do have quite a bit of post meta that's used purely for admin related posts. What would the best way for me to exclude those from indexing be?

[2018-12-21 15:46] peterjohnhunt commented on #1192
Also, just to clarify, ideally you're saying i should have less than 5000 unique meta_key that are being indexed, correct?

[2018-12-21 17:32] oscarssanchez commented on #1192
That's right @peterjohnhunt , 5,000 seem like a lot of meta_keys for me . If there's some meta_keys that you would like to keep but not get indexed into elasticsearch, you can use this filter: `ep_prepare_meta_excluded_public_keys` and . Private meta is not indexed by default.

[2019-01-02 17:23] peterjohnhunt commented on #1192
Thanks Oscar! I excluded the offending meta by filtering is_protected_meta so as to more easily use a wildcard check since the meta that is bloating it has a consistent meta prefix (similar to the _ in protected meta). I resynced, and everything appears to be working now. It would be cool if there was an additional filter for `$allow_index` to be filtered within elastic press passing in the meta k

[2019-01-03 01:09] oscarssanchez commented on #1188
Hi @MWElyass ,

This is actually not a problem with performing a second query but rather a bug with compare LIKE. This PR should solve your problems in the meantime : https://github.com/10up/ElasticPress/pull/1167

Hope we can merge it soon :)

[2019-01-03 01:09] oscarssanchez commented on #1188
Related to https://github.com/10up/ElasticPress/issues/1127

[2019-01-04 22:17] thesquaremedia commented on #1181
@oscarssanchez cool thanks, yea I notice that the widget will grab the custom taxonomy. right now I'm more so wondering how I can index an ACF repeater field with two date fields and then use elastic search to search a date_range with them. so looking how ep_formatted_args and possibly ep_post_sync_args play into all of this. then I can figure out how to add inputs on the search page to pass that

[2019-01-07 12:29] willstocks-tech opened #1193 "Strange behaviour on my home page"
Tried to but couldn't find anything based on a quick search

Bug

Following the process documented here: https://www.cloudways.com/blog/elasticsearch-on-wordpress/ I have setup ElasticPress/ElasticSearch on my Cloudways Wordpress instance, however when I enable EP, my homepage (list of blog posts) gets replaced by the "failed search" screen (cleared all caches!)?
I've since disabled the plugin on

[2019-01-07 14:31] fkkm1999 commented on #1193
Version 2.7.0
--

[2019-01-07 14:48] willstocks-tech commented on #1193
Was that the ElasticPress version (Plugin), or the ElasticSearch version (service via Cloudways platform)?

[2019-01-07 14:54] fkkm1999 commented on #1193
2.4, but its something in the plugin probably.

[2019-01-07 14:56] willstocks-tech commented on #1193
Ahhh, OK cool - yeah I was trying to use 5.4 because 6.# didn't work at all (would be nice to see this in the future) so it's not just one version. I highly doubt Cloudways have wrecked ElasticSearch their end, so I'd be leaning more towards plugin-side :(

[2019-01-07 15:54] oscarssanchez commented on #1193
Hi @willstocks-tech  and @fkkm1999 ,

I just tested 2.7 with ES 5.4.2 and everything behaves as expected from my side.

Because this seems to be from the same hosting provider, I'm inclined to think the problem must be on their side, so the best thing here would be to reach out to them.

Also, note that ES is supported up to 6.3, so you can install that one if you want to :)

Have a good day!

[2019-01-07 15:59] willstocks-tech commented on #1193
Aha - thanks @oscarssanchez! I'll give the debug bar a go as well as will reach out to the guys at Cloudways (@Saquibrizwan and @shahroznawaz) to see what's what.
When I was using 6.3, it kept giving me a cURL error relating to SSL something or other (I'll regrab that and will log separately if it's not an environmental thing)

[2019-01-07 15:59] shahroznawaz commented on #1193
Hey Will, Thanks for notifying it. Looks strange to me also. I need to test it on my end also to check if this happend on every wordpress install or anything specific causing this. I'll test it and add the comment here.

[2019-01-07 16:05] willstocks-tech commented on #1193
@oscarssanchez this is a mammoth, but installed, reactivated, synced and went to my homepage and immediately:
[code]

[2019-01-07 16:23] oscarssanchez commented on #1190
Closing for now as we did not hear back from you @cbratschi , please feel free to comment if the issue was not solved

[2019-01-07 16:23] #1190 closed

[2019-01-07 16:24] willstocks-tech commented on #1193
PHP: 7.2.9
MySQL: 5.7.24

If this helps anyone?

[2019-01-07 16:35] shahroznawaz commented on #1193
Hey @willstocks-tech can you tell what exact settings and versions you are using? Also which wordpress you are using from the 3 options at Cloudways? Have you setup SSL cert?

[2019-01-07 16:39] willstocks-tech commented on #1193
Not a problem at all @shahroznawaz. So I'm setup as follows:
Wildcard Lets Encrypt SSl
![image](https://user-images.githubusercontent.com/43744514/50780278-72b15a80-129a-11e9-9b1d-dc5603444ee0.png)
W3TC configured per: https://www.cloudways.com/blog/how-to-use-w3-total-cache-wordpress/
ElasticPress setup as per: https://www.cloudways.com/blog/elasticsearch-on-wordpress/

If you want some further d

[2019-01-07 16:40] willstocks-tech commented on #1193
I tried Elasticsearch 6.5 first, but that just straight up didn't work. 5.4 setup fine, but obviously there's this issue :)

[2019-01-07 18:08] #1134 closed

[2019-01-07 18:09] shahroznawaz commented on #1193
@fkkm1999 I've noted your issue also and looking into it I'll add comment here after testing it :)

[2019-01-07 18:09] #1127 closed

[2019-01-07 18:11] #1133 closed

[2019-01-07 18:12] #1068 closed

[2019-01-07 18:22] allan23 commented on #1193
Hi @willstocks-tech,  you mentioned W3TC. What are your caching settings for that plugin?

[2019-01-07 18:24] allan23 commented on #1192
Hi @peterjohnhunt, PRs are always appreciated.

Have a great day.

[2019-01-07 18:24] #1192 closed

[2019-01-07 18:37] willstocks-tech commented on #1193
Shahroze - I’ll get that sent over this evening!

Alan - I set up W3TC as per:
https://www.cloudways.com/blog/how-to-use-w3-total-cache-wordpress/ however
I know @fkkm1999 isn’t using W3TC per the comment above

On Mon, 7 Jan 2019 at 18:23, Allan Collins <notifications@github.com> wrote:

[2019-01-07 18:39] fkkm1999 commented on #1193
Thank you.

Bit of topic but does elasticpress need to work for elastic search to work, or does elasticpress just hook up the front end search with elastic search?

[2019-01-08 16:17] allan23 opened #1196 "Allow user to specify selector for autosuggest"
Currently, users must use the selector hardcoded in the plugin. This means that if their theme does not have the selector or if they want to have autosuggest on a certain element, they will need to make customizations in the theme.

Giving users the ability to specify a selector within the dashboard will be a good step forward.

[2019-01-08 20:38] thesquaremedia commented on #1181
so I managed to get this working wondering if that is indeed the correct approach

`function c_ep_formatted_args( $formatted_args, $args ){

	 // Move the existing query.
   $formatted_args['query']['bool'] =  array_merge( $formatted_args['query']['bool'], array(
	   		"filter" => array(
                "range" => array(
                    "meta.classes_0_start_date.date" => array(
						'gte' =>

[2019-01-09 09:35] ray-lee opened #1198 "Allow customization of facet widget query parameters"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Feature

Describe the issue you encountered:
Our search result page has links that allow users to change the sort order, and to limit the results to a single post type. These links go to URLs with query parameters like `?post_type=page&orderby=date&s=hello`. When we add the facet widge

[2019-01-09 12:23] tott commented on #1196
I think it's likely best to put this as an optional setting into the autosuggest feature screen https://github.com/10up/ElasticPress/blob/develop/features/autosuggest/autosuggest.php#L42

[2019-01-09 19:49] TheLastCicada commented on #1157
I think that considering public/private/deleted is important, but I believe this suggestion goes overboard and is not the solution we actually want.  By preventing "private" sites (aka not-public) from indexing, we are preventing elasticsearch from being used on private social networks, or private intranet sites, both of which are valid use cases for Elasticpress.  There's no reason that a private

[2019-01-09 20:05] TheLastCicada opened #1199 "`wp elasticpress status` reveals too much information"
Have you searched for similar issues before submitting this one?  yes

Is this a bug, question or feature request?  feature request

Describe the issue you encountered:
The command `wp elasticpress status` reveals information about all indexes on the Elasticsearch server, not just the index related to this WordPress install.  On a shared Elasticsearch setup (which is not uncommon), this reveals in

[2019-01-10 12:23] svandragt commented on #674
Any update on this? We have a media library with 50k+ images that would really benefit from this.

[2019-01-11 10:32] turtlepod commented on #1176
I think it would be great if we can have this EP info in the dashboard, so things like this can be easily solved/tracked.

[2019-01-11 13:38] turtlepod commented on #1157
I wonder if this need to be integrated to "Protected Content" section in the settings.

[2019-01-11 22:07] BamaStangGuy commented on #1176
What is the status of this bug? I haven't been able to use this plugin since installing it and can reproduce it across different servers.

[2019-01-14 11:39] willstocks-tech commented on #1193
Just to confirm with everyone - I have set up a staging site for the guys at Cloudways to work with to try and resolve the issues
They have logged a ticket against my account for me (shout out to @shahroznawaz for arranging) and their support team are currently investigating/troubleshooting.
Will update here when I get an update!

[2019-01-14 11:58] fkkm1999 commented on #1193
I just did some trouble shooting with  CW support and after disabling my childtheme it was working again so i guess its something in my functions.php for me.

[2019-01-14 12:48] shahroznawaz commented on #1193
Hey will, Thanks for the shoutout. I'm in touch with the support team and they are investigating the issue on the server level. I hope the issue will resolve soon and we come to know the problem. As @fkkm1999 had resolved the issue by finding in a local file which is a part of the application so till then you can dig out in-app files too :)

[2019-01-14 14:43] willstocks-tech commented on #1193
@fkkm1999 - did you manage to work out what exactly within your functions.php was causing the issue?

[2019-01-14 15:19] fkkm1999 commented on #1193
I was able to fix it, it was a piece of code in my child themes functions.php that was hiding out of stock products. I deleted it im not sure what it exactly was sorry :(

[2019-01-14 15:32] willstocks-tech commented on #1193
Ahhhh bummer!

No worries - they guys @ Cloudways have my theme and might be able to pick out the function that's causing the issue, because I'm not even sure where to start! Do you remember what that piece of code was hooking in to? Maybe I'm hooking into the same place!

[2019-01-14 15:58] fkkm1999 commented on #1193
No idea, I just copy paste from google lol. :P  Goodluck with solving it :)

[2019-01-14 16:46] tott opened #1202 "Hide trailing dash from Subscription ID input field."
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Feature request

Describe the issue you encountered:
When using ElasticPress.io the Subscription ID field shows a trailing dash after saving.

Where do you host your Elasticsearch server:
ElasticPress.io

Steps to reproduce:
1. Go to plugin settings and enter an elasticpress.io endpoin

[2019-01-14 16:56] nasyrov opened #1203 "Get `site_id` from post object"
Hi guys,

Is there any way to get `site_id` from a post object when performing multisite search?

Thanks,
Evgenii

[2019-01-14 17:09] allan23 commented on #1199
@TheLastCicada we are discussing approaches.

[2019-01-14 17:13] allan23 commented on #1198
Hi @ray-lee,

We would love a pull request for this.

[2019-01-14 20:52] allan23 commented on #1176
Hi @BamaStangGuy. Sorry for the delays getting back to you.

Looking at the original issue encountered, it appears that the plugin is getting an empty string instead of the Elasticsearch version. If the version number was retreived, it would be displayed in the error message. (e.g. `Your Elasticsearch version 0.5.1 is below the minimum required Elasticsearch version 1.7. ElasticPress may or may no

[2019-01-15 13:17] tott opened #1205 "Ensure Autosuggest defaults to plugin settings"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Feature Request

Describe the issue you encountered:
The autosuggest feature does not implement the same defaults that were set by other functions and requires additional filters to ensure consistent behavior.

Looking at https://github.com/10up/ElasticPress/blob/develop/features/autos

[2019-01-16 08:48] fkkm1999 opened #1206 "Indexing stops after processing 350.000 records of the 400.000"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
Indexing stops after processing 350.000 records of the 400.000

Current WordPress version:
Version 5.0.3

Current ElasticPress version:
2.7.0

Current Elasticsearch version:
5.4

Where do you host your Elasticsearch server:
Cloudway

Other plugi

[2019-01-16 12:32] fkkm1999 commented on #1206
Also tried to sync with the plugin, but then it gets executed after 5 minutes.

[2019-01-17 02:33] BamaStangGuy commented on #1176
` curl -XGET 'http://localhost:9200/_nodes/plugins?pretty'
{
  "_nodes" : {
    "total" : 1,
    "successful" : 1,
    "failed" : 0
  },
  "cluster_name" : "elasticsearch",
  "nodes" : {
    "hvdXtZrUS-m4a0EpslVHFA" : {
      "name" : "hvdXtZr",
      "transport_address" : "127.0.0.1:9300",
      "host" : "127.0.0.1",
      "ip" : "127.0.0.1",
      "version" : "5.6.14",
      "build_hash" : "f310

[2019-01-17 18:38] oscarssanchez commented on #1206
Hi @fkkm1999 ,

Hope the day is going well,
Could you confirm you are allowed to store up to 350,000 docs on your index?

My first guess is that maybe there's a limit on the number of records you can store.
If everything is ok with your host, can you post the wp-cli command you are running ?

Thank you for raising your question.

[2019-01-17 20:51] fkkm1999 commented on #1206
wp elasticpress index --setup

Op do 17 jan. 2019 om 19:38 schreef Oscar Sanchez S. <notifications@github.com<mailto:notifications@github.com>>:

Hi @fkkm1999<https://github.com/fkkm1999> ,

Hope the day is going well,
Could you confirm you are allowed to store up to 350,000 docs on your index?

My first guess is that maybe there's a limit on the number of records you can store.
If everything is o

[2019-01-18 04:46] oscarssanchez commented on #1203
Hi @nasyrov ,

Could you please describe in better detail how are you performing this multisite search?
Thanks,

[2019-01-18 19:09] willstocks-tech commented on #1193
Hey Oscar,

No worries!

Cloudways did some checks and it’s defo looking theme related.

I’m going to purse through my functions.php to see if I can work out what
is causing the issue! I’ll let you know if/when I work out what it is 😊

On Fri, 18 Jan 2019 at 18:29, Oscar Sanchez S. <notifications@github.com>
wrote:

[2019-01-21 16:38] #1191 closed

[2019-01-21 17:03] #1202 closed

[2019-01-21 17:10] #1198 closed

[2019-01-21 17:12] #898 closed

[2019-01-21 17:12] #1157 closed

[2019-01-21 17:15] allan23 commented on #1187
Hello @MrEfrem, you can actually change the content-type header by using the `ep_format_request_headers` filter.

[2019-01-21 17:15] #1187 closed

[2019-01-21 17:18] #1193 closed

[2019-01-21 17:20] allan23 commented on #1176
@BamaStangGuy, it looks like it's not the plugin versions causing the issue.

Does using the `http_response` filter running `WP_Http_Encoding::decompress()` on the response body fix this issue?

[2019-01-22 07:58] willstocks-tech commented on #1193
@oscarssanchez - I've managed to identify the issue:
[code]

I'm excluding a specific list of posts that have a specific category set, from displaying on my home page. Why would this throw off EP?!

[2019-01-22 20:11] brandwaffle opened #1212 "Create a Network Admin Dashboard menu enabling users to choose whether a site should be indexed"
Previously in 2.7, we pushed some code that automatically set sites with a non-public value in the wp_sites table to "do not index." While this seemed like a good approach at the time, we've had significant feedback from people who have non-public sites that they do want to index, for a variety of reasons including testing behind a login and indexing an Intranet-style site.

We will be rolling bac

[2019-01-22 20:45] BamaStangGuy commented on #1176
It did not on this particular server or other servers setup in the exact manner. The server is Centos 7 running https://www.centminmod.com with Elasticsearch installed via https://www.elastic.co/guide/en/elasticsearch/reference/5.6/rpm.html

[2019-01-23 04:51] oscarssanchez commented on #1206
Hi @jeffochoa , No, the indexing happening on the dashboard is separate from the WP-CLI functionality.

Is there a reason why you won't like to run the wp-cli command if you have access to the terminal?

[2019-01-23 08:43] jeffceriello commented on #1175
Hi Oscar,

Thanks so much for your help with this matter. I'm sorry for the very late reply but I've been travelling for a couple of months, away from civilisation.

I have finally managed to do what you suggested. I can find some of the woocommerce mapping in the elasticsearch instance

http://176.56.56.116:9200/wardrobeiconscom-1/_mappings

and here is the other ping request

http://176.56.56.11

[2019-01-23 14:37] oscarssanchez commented on #1186
Hi @microsupportau ,

Sorry for the late reply, I just had a chance to test this with an elastic cloud trial account, which has X-pack installed and i did not have any problems when i set my ES_SHIELD constant.

Could you please describe your issue in better detail ?
Thanks and have a great day!

[2019-01-23 15:39] Salamander3 opened #1213 "Misleading requirements"
https://github.com/10up/ElasticPress#requirements
Why oh WHY don't you write right there that anything above 6.3 will not work properly? Isn't that the freaking point of the requirements? You gotta install latest elasticsearch to find out is not compatible. Who decides not to include this vital information and keep it to himself?

[2019-01-23 15:54] speedwheel commented on #1213
@Salamander3 what is the latest verion of Elasticsearch that is supported?

[2019-01-23 16:02] brandwaffle commented on #1213
@Salamander3 thank you for your suggestion. We always welcome suggestions and bug reports, and ask only that you raise them in a civil way so as to promote positive discourse.

We can add a "max Elasticsearch version supported" line to the Readme in the next release of the plugin, which I think should address this issue.

[2019-01-23 16:09] brandwaffle commented on #1213
@speedwheel currently we support up to version 6.3 of Elasticsearch. Elastic does tend to push a lot of new versions which can break backwards compatibility, so we do test a bit before we bump version support. We'll include the max supported version in future releases.

It's always worth testing with a newer version if you want the latest and greatest Elasticsearch--simply disable the version chec

[2019-01-23 16:16] speedwheel commented on #1213
@brandwaffle Thank you for your reply, I understand now, I am looking to test this plugin out, and it's good to know this.

[2019-01-23 17:01] Salamander3 commented on #1213
@brandwaffle I'm sorry i snapped i'm not a Linux pro so it took me a while to get everything working only to find out i wasted my time and had to start over.
Won't happen again.

[2019-01-23 17:03] brandwaffle commented on #1213
@Salamander3 no worries--Elasticsearch is not easy to set up and I've been there too :)

Your point is a good one and we're definitely going to include a max version going forward.

[2019-01-23 17:09] Salamander3 commented on #1213
I just finished syncing and yes it works, bypasses MySQL but the search results are nowhere near as good as WordPress. It just returns hundreds of irrelevant posts.
Setting search to "disabled" has no effect i had to deactivate the plugin to make it stop.

Is there any way for me to tweak how it searches?

[2019-01-23 17:52] brandwaffle commented on #1213
@Salamander3 yes, you can create [custom search weighting](https://github.com/10up/ElasticPress/wiki/Weighting-Search-Results) by using the filters in the plugin, as well as[ add synonyms](https://github.com/10up/ElasticPress/wiki/Synonym-Analyzer) to create better results.

[2019-01-23 22:11] espechtcfe opened #1214 "How to require ALL words instead of ANY words"
Our wordpress site uses elasticpress for search and when more than one word is entered, any posts that contain ANY of the words are returned.  I'm trying to figure out how to make it so that ALL of the words are required, but not necessarily in the order provided.

10Up suggested this code for this purpose, however this only matches an exact phrase:

`add_filter( 'ep_formatted_args', __NAMESPACE__

[2019-01-24 12:34] willstocks-tech commented on #1193
@oscarssanchez / @allan23 - any thoughts on this, or potential other methods I could use??

[2019-01-25 02:34] oscarssanchez commented on #1214
Hi @espechtcfe

Try this and it will require all of the words in any order:

[code]

For further precision tweaking, you can check this page: https://www.elastic.co/guide/en/elasticsearch/guide/current/match-multi-word.html

And adjust the array accordingly.

Thanks for raising the question, and hope you have an awesome day!

[2019-01-25 09:43] kordicpetar commented on #776
Hi there,

Here is official woocommerce brands plugin. It would be great if you can
make ElasticPress compatible with it. Also I am sending you link to product
filter plugin.
https://wetransfer.com/downloads/040e0e11b097a4ab9a646d24d60ac56720190125094101/306e0f743ca0514a619b8b3aad39f3bf20190125094101/0f3f88

Both of it have same problem, when Elasticpress is on, Brands have bug.
Also if Elasticpre

[2019-01-25 10:21] willstocks-tech opened #1216 "ElasticPress errors out when excluding posts from homepage"
_Originally posted by @willstocks-tech in https://github.com/10up/ElasticPress/issues/1193#issuecomment-456304060_

@oscarssanchez / @allan23 - I've managed to identify the issue:
[code]

I'm excluding a specific list of posts that have a specific category set, from displaying on my home page. Why would this throw off EP?!

Is there anything I can do to alleviate this issue? I'd rather not have to

[2019-01-25 14:53] espechtcfe commented on #1214
Thank you so much, oscarssanchez!  This is working beautifully!

[2019-01-25 15:09] jasonbronson opened #1217 "UI / Css is messed up"
Have you searched for similar issues before submitting this one?
yes

Is this a bug, question or feature request?
bug

Describe the issue you encountered:
css / ui is messed

Current WordPress version:
4.9
Current ElasticPress version:
Version 2.7.0
Current Elasticsearch version:
 Elasticsearch version 6.5.4
Where do you host your Elasticsearch server:
locally
Other plugins installed (WooCommerce,

[2019-01-25 18:07] oscarssanchez commented on #1217
Hi @jasonbronson ,

It looks like` ep_admin_styles-css` is not loading on your side. How did you install ElasticPress?

Unfortunately i could not reproduce this.

Thanks for raising the question and have a good day!

[2019-01-25 18:26] #1214 closed, assigned to nobody

[2019-01-25 22:13] jonathanstegall opened #1218 "VIP Go status?"
Have you searched for similar issues before submitting this one? Yes. There was an older discussion in #800.

Is this a bug, question or feature request? Question

Describe the issue you encountered:

Current WordPress version: 5.0.3

Current ElasticPress version: 2.7.0

Current Elasticsearch version: I'm not sure what version VIP Go runs.

Where do you host your Elasticsearch server: VIP Go

Othe

[2019-01-25 22:28] RetroGameTalk opened #1219 "[Question] How to use same elasticsearch server with multiple WP installations?"
Hello, i've a simple question. I got Elasticpress to work on 1 WP Site just fine.
If i want other websites to use the same server do i just install Elasticpress and index them?
Or do i need to do something else first? I don't want results to mix, Each site must search on it's own posts.

[2019-01-26 00:14] oscarssanchez commented on #1219
Hi @Salamander3 ,

Yes, you can index many site's content into one Elasticsearch cluster. Keep in mind the performance of your server (hence, your site) might suffer depending on the characteristics of your server, traffic and requests made to Elasticsearch.

Your information will not mix between sites, as all data from each WordPress site is stored separately.

Thanks for raising the quesiton, an

[2019-01-26 03:44] oscarssanchez commented on #1178
Hi @vekikive ,

Apologies for late reply,

Looking at the query body you provided the first time, it looks like somehow some values are getting erased (from value is empty, that's why elasticsearch throws that error):

[code]
I'm not sure how are you generating the above query, can you paste the code that is doing that?

As for your question for adding additional fields and taxonomies, I have made

[2019-01-26 03:47] oscarssanchez commented on #1181
This looks good @thesquaremedia  :)

[2019-01-26 11:09] Salamander3 commented on #1219
Alright so when i run elasticpress on a new site it will create it's own separate index.
I have a dedicated VPS for elasticsearch different than the webserver.
I will monitor CPU/Memory usage, so far it's mostly idle despite of the constant search queries. Unlike MySQL on WP Database that was filling my slow queries log. You guys are legends.

[2019-01-26 15:04] tlovett1 commented on #1218
ElasticPress has been used on VIP Go previously. I would just reach out to VIP and ask them what next steps for using it are.

[2019-01-26 18:33] Salamander3 commented on #1214
@oscarssanchez Could this be modified to match partial words? Example:
If someone searches for "Eur" but he meant "Europe" it will not find anything. Wp default search finds partial matches. How to do it in elasticpress?

[2019-01-26 19:40] oscarssanchez commented on #1189
Hi @spelkey-ucd  and @incredimike ,

Sorry for late response, I was trying to reproduce this like this:
[code]
But it looks like to me the s parameter is not getting overridden to me. Looking at the debug bar it looks like in this case, the only query that goes through elasticsearch is "fox", and "brown" is made via MySQL.

Could you please give more detailed steps if this not how this is supposed

[2019-01-27 18:32] #1219 closed, assigned to nobody

[2019-01-27 19:30] Salamander3 opened #1220 "Complete noob got some questions about partial matching, custom fields and compatibility with custom taxonomy filter plugin"
Have you searched for similar issues before submitting this one?
Yes.
Is this a bug, question or feature request?
Question
Describe the issue you encountered:
1) How can i make partial matches work? If i search for "eur" i need it to return "europe" as result too. I should mention i am using this code for AND logic already:
[code]
2) I have many custom fields (i use ACF plugin), but elasticpress d

[2019-01-27 23:20] jasonbronson commented on #1217
It must of been a caching issue it loaded finally.

[2019-01-27 23:21] #1217 closed

[2019-01-28 10:21] willstocks-tech commented on #1216
Hey @oscarssanchez

Yeah - I'll grab the output shortly for you :) I do have this output already: https://github.com/10up/ElasticPress/issues/1193#issuecomment-451984973 but I'll grab a "newer" one for you!

[2019-01-28 19:46] #953 closed

[2019-01-28 19:46] #907 closed

[2019-01-28 19:52] allan23 commented on #1176
@BamaStangGuy, can you email me with your site info and possibly set me up as an admin user?

My email is allan.collins@10up.com

Also, if you don't mind, could you please recap the steps to reproduce your issue?
What theme and plugins you currently have activated, etc.

Also just for sanity's sake, did you try running ElasticPress with a default WordPress theme and no other plugins activated?

[2019-01-28 19:58] allan23 commented on #1216
Hi @willstocks-tech, have you tried changing the query to use `category__not_in` instead of setting `cat` to `-10`?

https://codex.wordpress.org/Class_Reference/WP_Query#Category_Parameters

[2019-01-28 20:32] willstocks-tech commented on #1216
Admittedly, no - I haven't!

The code I have currently was based on: https://codex.wordpress.org/Plugin_API/Action_Reference/pre_get_posts

I can rewrite it as (?):
[code]

[2019-01-29 15:08] MWElyass commented on #1188
Hi @oscarssanchez
Since the PR #1167 has been reverted, I suppose the issue is not resolved

Thanks :)

[2019-01-29 15:42] willstocks-tech commented on #1216
An alternative to the above (even though the codex pages aren't being much help here for me!):

[code]
Based on: https://codex.wordpress.org/Plugin_API/Action_Reference/pre_get_posts again

Because I'm doing this in `functions.php`, not a theme file... would either this or the above be OK in terms of EP?

[2019-01-29 19:11] #1218 closed

[2019-01-29 19:13] allan23 commented on #1216
@willstocks-tech, please give the first one a shot and let us know.

[2019-01-29 22:38] spelkey-ucd commented on #1189
Is it actually returning results for "brown"?

When I use the same code snippet, I get no results for the MySQL query even though I get results when I perform the same query on a site clone that doesn't use Elasticpress.

However, when I remove the `s` parameter, and filter by a different parameter like `post_type`, I get results.

Quoting from the [readme](https://github.com/10up/ElasticPress/blo

[2019-01-30 15:34] Salamander3 opened #1224 "We have received a security alert from the German Federal Office for Information Security (BSI)."
So, i've received this, what are the steps to secure the server? And will it work with elasticpress if secured? I don't see options to insert username or password. I tried changing the network from 0.0.0.0 to the website IP, restarted elasticsearch but then elasticpress doesn't work...

[2019-01-30 15:50] tott commented on #1224
Hi @Salamander3,

it sounds like this relates not to the ElasticPress plugin but the underlying ElasticSearch infrastructure at your hosting provider. The ASN number indicates that this server is hosted at Hetzner, so my recommendation would be to work with the hosting provider to or your system administrator to add a security layer such as X-Pack (Stack) https://www.elastic.co/products/stack to y

[2019-01-30 15:55] Salamander3 commented on #1224
Ok so i need x-pack thank you.

[2019-01-30 17:59] oscarssanchez commented on #1220
Hi @Salamander3 ,

Answering questions:

1.- Maybe this can help: https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-matching.html I'm not that familiar with what you try to accomplish here, if you can find the correct query to get the result you want in JSON, we can definitely help you formulate it in PHP so ElasticPress can convert it.

2.- You have to set search fields, please

[2019-01-30 20:19] oscarssanchez commented on #1220
Just updating, a colleague and I went through the issue with related posts and likely the problem is the post you are looking does not have anything related to other posts. I could reproduce this issue but found i had content that was not related to other posts, hence the widget was returning and not displaying.

[2019-01-31 10:41] BamaStangGuy commented on #1176
Absolutely. Give me 24 hours and I can set you up. Thanks!

As for your last question, yes I did.

[2019-02-01 05:19] seyntjim commented on #1206
Hello,

I have the same problem. May I know how to check how much I'm allowed to store to my index? I have access to ssh. Thank you.

[2019-02-01 05:48] seyntjim commented on #1220
Hello,

I have the same question as number 2. I'm so noob at this so pardon me for asking. I wanted to index titles and some meta keys only. Is it the right code?

[code]

And where do I put this code? Thank you.

[2019-02-01 08:51] Salamander3 commented on #1220
@oscarssanchez Thanks i'll dig into all your answers thanks so much for replying.
@seyntjim That's correct you can do this on functions.php or your own plugin:
[code]

[2019-02-01 12:02] willstocks-tech commented on #1216
Leave it with me, I'll change it shortly! (apologies for the delayed response - manic few days!)

[2019-02-01 15:38] willstocks-tech commented on #1216
First one didn't work at all - It returned a single post!
I have now applied:
[code]
And I had to re-sync EP... but so far it's looking OK: https://willstocks.co.uk

[2019-02-01 15:49] tamara-m opened #1225 "How to do case insensitive searches"
**Have you searched for similar issues before submitting this one?**
Yes.

**Is this a bug, question or feature request?**
Question

**Describe the issue you encountered:**

I am looking to how to modify ElasticPress to do case insensitive searches with tax_query.
I want users to type their search "soccer" and receive posts with that taxonomy term using `'field' => 'name'`  (using slug seems to ma

[2019-02-01 15:54] willstocks-tech opened #1226 "Autosuggest Endpoint URL"
### Have you searched for similar issues before submitting this one?
Yes

### Is this a bug, question or feature request?
Question

### Describe the issue you encountered:

### Current WordPress version:
5.0.3

### Current ElasticPress version:
Latest

### Current Elasticsearch version:
5.4

### Where do you host your Elasticsearch server:
localhost

### Other plugins installed (WooCommerce, Simpl

[2019-02-01 16:00] willstocks-tech commented on #1226
This is currently what I'm looking at, but want to confirm this is the correct method to implement: https://github.com/grossherr/elasticpress-autosuggest-endpoint/blob/master/elasticpress-autosuggest-endpoint.php

[2019-02-02 13:06] tamara-m commented on #1225
Think I found the answer, is playing around with` ep_config_mapping`

[2019-02-02 13:06] #1225 closed

[2019-02-03 16:59] jeffceriello commented on #1175
Hi Oscar,

I'm just chasing up to know if you managed to have a look at this yet?

Thank you

[2019-02-03 18:05] oscarssanchez commented on #1226
Hi @willstocks-tech, these links might help:

https://florianbrinkmann.com/en/4714/autosuggest-elasticpress-apache/
https://github.com/10up/ElasticPress-Autosuggest

Best regards,

[2019-02-04 12:36] oscarssanchez commented on #1206
Hi @fkkm1999 ,

You can check that with your host provider. ElasticPress does not have a limit for that :)

[2019-02-04 15:13] willstocks-tech commented on #1216
So far, so good! EP appears to be working without an issue now. Searches return as expected (although I need to triple check whether posts in category 10 return in the search results - I assume they do) and the homepage/all other pages now show my content as I would expect!

To confirm, the function I ended up having to use (to exclude my categories) was:
[code]

[2019-02-04 15:13] #1216 closed

[2019-02-04 16:43] #834 closed

[2019-02-04 18:02] #1199 closed

[2019-02-04 18:21] #1226 closed

[2019-02-04 18:24] #1205 closed

[2019-02-04 18:25] #1179 closed, assigned to oscarssanchez

[2019-02-06 11:50] leogermani opened #1229 "Support for include_children property of tax_query"
Hi,

We have noted that when performing a query using a `tax_query`, the `include_children` attribute is not considered, therefore posts marked in child terms are not returned when you search for posts with a parent term.

We found this pull request that tried to address this issue: https://github.com/10up/ElasticPress/pull/1028

If possible, can you guys point out what are the problems with the a

[2019-02-06 12:28] leogermani commented on #1229
Just found out Its possible to solve this using:

[code]

The query returns the expected results. However, posts are indexed as if they belonged to the whole tree of terms, which is not a precise information.

Giving it a go to see if there are any problems with this approach.

[2019-02-06 17:35] aaemnnosttv opened #1231 "No posts found using autocomplete"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
Searching for posts using autocomplete did not return any results when it should have easily matched a common term.

Current WordPress version:
5.0.3

Current ElasticPress version:
Latest `dev-develop` 8fa0e5b1a4a527346ae7a3fda6252d7e38ac7639

C

[2019-02-07 03:33] oscarssanchez commented on #1231
Closed via #1232

[2019-02-07 03:33] #1231 closed

[2019-02-07 12:36] tamara-m opened #1234 "Searching by 's' returns all cpt"
Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Not sure, seems like a bug but I don't know
Describe the issue you encountered:
[code]
Returns all `peu-videos`, as if it was not filtering at all. The same happens with any search phrase.
"Correct" results return only when searching using `tax_query` with `'field'=>'slug'` instead of `

[2019-02-07 16:31] #1131 closed

[2019-02-07 20:47] tamara-m commented on #1234
This issue was not caused by ElasticPress, so I'm closing it.

[2019-02-07 20:47] #1234 closed

[2019-02-08 10:17] Jaygangkun commented on #789
I am going to get feature image url of product.
The elastic search returns feature image id instead of image url.

How can I do it?

[2019-02-08 13:05] vekikive opened #1236 "Sync issue with order status change REST API"
Have you searched for similar issues before submitting this one? YES, this one: https://github.com/10up/ElasticPress/issues/837
But didn't understand the solution; should I clear cache after each order?

Is this a bug, question or feature request? BUG

Describe the issue you encountered:
I believe I have the same problem as described in issue https://github.com/10up/ElasticPress/issues/837
I'm usi

[2019-02-08 14:33] svandragt opened #1237 "Bug: date_query after value bug for linux timestamp formatted dates"
Is this a bug, question or feature request? Bug

Describe the issue you encountered:
When passing a valid unix timestamp into the WP_Query's date_query's after value, in certain scenarios the timestamp gets converted again into a unix timestamp, causing it to shift into the future.

The range query is running build_mysql_datetime() on the $query['after] value which when no match is found a gmdate

[2019-02-08 14:34] svandragt commented on #1237
A workaround is to wrap the value in a date call so it reads:
`'after'  => date('c',strtotime( '-' . $date_after, strtotime( get_the_date( 'c' ) ) )),`

[2019-02-08 14:45] cbratschi commented on #1190
Hi @oscarssanchez, we just have the WordPress post id but we do not know if its a post or a page as post_type. So the /post/<post_id> query should return pages too but we are getting no result in this case. How can we get the ElasticSearch data for any post_id?

For instance the ID of our home page is 3440. The following query returns 404:

https://xyz.aws.found.io:9243/stagingxyz-1/post/3440

[2019-02-08 14:48] svandragt commented on #1237
Nevermind prefixing the value with `@` works as well.. Not an EP issue.

[2019-02-08 14:48] #1237 closed

[2019-02-08 15:50] cbratschi opened #1238 "Search HTML"
Have you searched for similar issues before submitting this one?
Yes.

Is this a bug, question or feature request?
A question.

Describe the issue you encountered:
Currently the default analyzer strips HTML code. This is normally fine but we have a use case where we are searching specific attributes. Is there a simple way to cover this case?

Current WordPress version:

Current ElasticPress versio

[2019-02-09 01:04] spelkey-ucd commented on #1189
so after some more troubleshooting, it looks like ElasticPress is fighting with Relevanssi - possibly on the `posts_request` hook. Is it possible to temporarily disable ElasticPress completely with a `remove_filter` function?

[2019-02-09 23:26] willstocks-tech opened #1239 "EP 2.8.0 reordering homepage posts"
Have you searched for similar issues before submitting this one?

Yes

Is this a bug, question or feature request?

Bug (sorry, it’s a bit of a skeleton as I’m currently mobile!!!)

Describe the issue you encountered:

Just upgraded to 2.8.0 (lastest release - via mobile, I know my bad!) and my list of posts has now been sorted into a random order on my homepage (again - no search has been made, f

[2019-02-10 15:15] turtlepod opened #1240 "ElasticPress Failed To Index if Post Have Null for Meta Key"
Have you searched for similar issues before submitting this one?
yes

Is this a bug, question or feature request?
bug

Describe the issue you encountered:
ElasticPress failed to index/update index for post if post have null meta key.
Here's the video: https://drive.google.com/file/d/1jcwl6uwbVhbubfX70zVQ5I0p7dFzlaeU/view?usp=sharing

Current WordPress version:
5.0.3 + Classic Editor Plugin

Curren

[2019-02-11 11:49] angtheod opened #1242 "Set Elasticsearch host via shell command"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Feature request

Would be nice if we could set the ES host via `wp elasticpress` so that we can add it in automated post-deploy scripts along with other already existing wp elasticpress commands.

thanks!

*Nevermind I forgot we could use `wp config set` to achieve that.

[2019-02-11 15:44] #1186 closed

[2019-02-11 15:49] #1242 closed

[2019-02-11 15:58] allan23 commented on #1239
@willstocks-tech can you confirm this is happening outside of your theme and custom codebase?

[2019-02-11 19:03] dustinrue opened #1243 "Plugin does not report or stop on server errors"
Have you searched for similar issues before submitting this one? Yes

Is this a bug, question or feature request? Bug

Describe the issue you encountered: When indexing attachments a PUT request is set to the /_ingest/pipeline endpoint to create an ingest pipeline for the attachments. If the server responds with 40x the plugin does not notice this as an error and will continue to index. In this si

[2019-02-11 21:51] Salamander3 commented on #1239
Exact same thing.
Updated to 2.8 and the homepage posts are sorted randomly. So, i rebuilt the index, no change.

Downloaded 2.7 uploaded it, refresh page, posts back to normal order (latest first).
My homepage is WordPress default "latest posts" on settings reading, not a static page or custom loop. Woocommerce not installed, regular WP.

[2019-02-11 21:54] willstocks-tech commented on #1239
@allan23 - I will go through the ol’ functions.php again to see if I can whittle it down - I haven’t been able to test with an alternate theme as it was in production (I know, I know).

Is there  a specific change/hook/filter that may have changed that I should keep an eye out for that may result in this behaviour? I can’t quite work it out from the commit messages between 2.7 and 2.8 and I would

[2019-02-12 15:50] turtlepod commented on #1240
mot sure, but maybe need to also check for meta key with spaces and special chars.

[2019-02-12 22:28] allan23 commented on #1239
Hey @willstocks-tech  and @Salamander3,

We believe we have found the root cause of this issue and have prepared a pull request that should resolve it.

https://github.com/10up/ElasticPress/pull/1245

Would it be possible for you to test this PR  to see if it resolves your issues?

[2019-02-12 23:11] willstocks-tech commented on #1239
Hi Allan,

I’ll grab a copy and will give it a go - is it only the one file change that is necessary?

I don’t use sticky posts - is that the reason for the issue?

[2019-02-12 23:42] allan23 commented on #1239
We believe that the logic for this feature is the cause whether or not a site uses sticky posts.

[2019-02-13 06:35] MrEfrem opened #1246 "Removal of mapping types"
Have you searched for similar issues before submitting this one?
yes
Is this a bug, question or feature request?
question

Have you got a plan to remove of mapping types and when?
https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html#_schedule_for_removal_of_mapping_types

[2019-02-13 18:14] #1240 closed

[2019-02-14 15:33] peterjohnhunt opened #1249 "Custom Taxonomy Query Not Translating to ElasticPress Correctly"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
When visiting a term page for a custom taxonomy related to a custom post type, if i use ep_integrate => true the post type and taxonomy term applied doesn't get translated into the ElasticPress query. Without ep_integrate enabled post type and t

[2019-02-14 17:22] dmhendricks opened #1250 "Enabling Search Result Highlighting/Context"
**Have you searched for similar issues before submitting this one?**

Yes

**Is this a bug, question or feature request?**

Question (possible feature request?)

**Describe the issue you encountered:**

I'm trying to enable search [highlighting/context](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html) in my search results without success. I tried th

[2019-02-14 20:08] BamaStangGuy commented on #1176
Sorry for delay but email sent with everything. Hope you can figure it out!

[2019-02-14 20:39] andreirebe opened #1251 "Is there any way to display result type in autosuggest search?"
Have you searched for similar issues before submitting this one?
yes
Is this a bug, question or feature request?
question
Describe the issue you encountered:

I have two questions:

1. Is there any way to display result type in autosuggest search? For example if I search for Car and i have car in woocommerce products to show me next to the result [product] and I have a car post to show me next to

[2019-02-14 20:51] ccournoyer-oktane opened #1252 "Issues when searching in taxonomie"
When i search the word "bioprote" I get 0 result, if i search for "Bioprotec" I get 25 results.
Bioprotec is a term in the product_cat taxonomy.
I checked with the debug bar plugin and the search_fields are set correctly
![capture d ecran le 2019-02-14 a 15 48 08](https://user-images.githubusercontent.com/24938235/52816853-2bc03d00-3070-11e9-9049-52d100891bf8.png)

Site is hosted on cloudways

[2019-02-14 21:35] brandwaffle commented on #1252
@ccournoyer-oktane any chance you can include the additional information in the intake form including the versions of ElasticPress and Elasticsearch you're running? Thanks!

[2019-02-14 21:46] ccournoyer-oktane commented on #1252
Sure, running ElasticPress 2.8.1 and Elasticsearch 5.4

[2019-02-14 23:39] brandwaffle commented on #1252
Thanks @ccournoyer-oktane that rules out the sticky posts issue that existed in 2.8.

Are you able to post the results of the EP JSON query that is generated (it's the option right below the EP Debug Bar option that outputs the WP Query array). That will tell us if the computed query is properly formatted.

[2019-02-14 23:39] brandwaffle commented on #1252
@ccournoyer-oktane one other question: are you running WooCommerce and if so, is the WooCommerce feature in ElasticPress active or turned off?

[2019-02-15 17:33] technosailor opened #1254 "Hook for additional Settings"
**Have you searched for similar issues before submitting this one?**

Yes

**Is this a bug, question or feature request?**

Feature request

**Describe the issue you encountered:**

Working with a client who needs to provide additional options for connecting to their ES cluster. I realized there are no hooks to add additional settings to the settings page.

**Current WordPress version:**

5.0.1

*

[2019-02-15 23:32] speedwheel opened #1256 "Add boost to certain keywords"
I am trying to add a boost to certain keywords (only if they are present into the search query string).

This is with what I came up with so far (here I am adding a boost of 5 to the word 'sample'):

[code]

Basically it's creating this array:

[code]

Is this the correct way to do it?

[2019-02-18 13:35] ccournoyer-oktane commented on #1252
We are running Woocommerce and the option is activated in ElasticPress.
For the EP JSON, I'm not sure if this is the correct info but here the Query result:
{
    "took": 5,
    "timed_out": false,
    "_shards": {
        "total": 5,
        "successful": 5,
        "failed": 0
    },
    "hits": {
        "total": 0,
        "max_score": null,
        "hits": []
    },
    "aggregations": {

[2019-02-18 20:57] willstocks-tech commented on #1239
Hi @allan23 - I’m so sorry, I haven’t had a chance to test this out! :( I noticed that a new version of EP is now available publicly - I’ve been busy with other projects this last week and have just migrated to a new server stack (doesn’t yet include ES - but will do soon!) so I’ll update ASAP (next couple of days) and will confirm back for you!
Cheers
Will

[2019-02-19 09:42] dannydamsky opened #1257 "Bug: Queries with "orderby=type" or "orderby=post_type" do not work with ElasticPress."
I am using Elasticsearch with the Ingest Attachment plugin installed so that queries in documents are enabled in ElasticPress.

What I'm trying to do is get search results with PDF files that contain the search query inside them.
It works. But only if I do NOT provide the "orderby=type" parameter in the request/in the WP_Query.
If I provide the parameter, the ordering is done correctly, but the re

[2019-02-19 15:32] #1206 closed

[2019-02-19 15:33] oscarssanchez commented on #1206
Closing as we did not hear back any more. Please feel free to re open the issue if this still persist.

Thanks!

[2019-02-19 16:35] oscarssanchez commented on #1189
Hi @spelkey-ucd apart from the `ep_integrate` parameter in WP_Query there's not a remove_filter function you can use

[2019-02-19 16:36] #1176 closed

[2019-02-20 09:43] ifsand opened #1258 "Post editor show wrong post after plugin activation"
Have you searched for similar issues before submitting this one?

Is this a bug, question or feature request?
bug

Describe the issue you encountered:
after plugin activation  and  post syncronization to elasticsearch, when i try to edit any post , the editor show another post , different from the selected one.

Current WordPress version: 5.0.3

Current ElasticPress version: 2.8.1

Current Elastic

[2019-02-20 10:06] dnikola opened #1259 "Auto index on post submit"
Hello people,

thanks for this amazing plugin.

This is more info question than issue, but since WP forum support page is not monitored I decided to post it here, sorry if my decision is wrong :)

Is it possible to make plugin auto index content when it is posted?

Thanks!

[2019-02-20 10:09] tott commented on #1259
Hi, thanks for your feedback. After an initial sync the plugin will automatically sync all changes and additions.

[2019-02-20 10:12] tott commented on #1258
Can you try to disable W3TotalCache and confirm if the issue persists. This will help us ruling out caching issues.

[2019-02-20 10:17] dnikola commented on #1259
Hi @tott

Thanks for your very fast replay!

This are very good news.

 - If i got a good point all query's even WP admin dash are served by Elastic (without additional customization?)
  -So actually if post is created by some kind of plugin it will be also sync or that plugin need to use some filter or action?
- Is all content sync (post, custom post's, comments, pages) and if yes are all data sy

[2019-02-20 10:20] ifsand commented on #1258
yes the problem persist

[2019-02-20 10:22] tott commented on #1259
As long as posts are created using regular WP APIs and running through the usual action/filter hooks ElasticPress will pick them up. If you have any plugins which work directly with the database and circumvent this behavior you can run into issues but other than that all post types returned here https://github.com/10up/ElasticPress/blob/2.8.1/classes/class-ep-config.php#L212 will be indexed. Comme

[2019-02-20 10:25] dnikola commented on #1259
@tott  great, thanks!

And about comments, may i ask why ? :)

Thanks!

[2019-02-20 13:53] ccournoyer-oktane commented on #1252
Hi i was wondering if there is some kind of premium support?

[2019-02-20 13:54] ccournoyer-oktane commented on #1252
@brandwaffle for the EP JSON, I'm not sure if this is the correct info but here the Query result:
{
"took": 5,
"timed_out": false,
"_shards": {
"total": 5,
"successful": 5,
"failed": 0
},
"hits": {
"total": 0,
"max_score": null,
"hits": []
},
"aggregations": {
"terms": {
"doc_count": 0,
"product_tag": {
"doc_count_error_upper_bound": 0,
"sum_other_doc_count": 0,
"buckets": []
},
"pa_type-de-comman

[2019-02-20 14:44] majestica opened #1260 "How i can index attachments?"
Hi, first I want to say thanks for the great plugin. Tell me please, I noticed the attachments are not indexed, how can I enable attachment indexing? In order to search the media library faster, I have more than 200,000 images in attachments, and for me it is very important. Please give an example if it's not difficult for you. thank

P.S
I'm not sure what I did right, I added the code and reindex

[2019-02-20 15:04] technosailor commented on #1254
@tlovett1 Anything more specific this PR would need to get it merged for the next release?

[2019-02-20 16:06] brandwaffle commented on #1252
@ccournoyer-oktane we do provide premium support at an hourly rate. You can reach out to sales@elasticpress.io if you'd like to learn more!

For this issue, I'm actually looking for the query that EP sends over to the Elasticsearch server, rather than the response. You'll see an option right above the one you pasted that says "Query Body" rather than "Query Result." If you can paste that into here

[2019-02-20 16:12] brandwaffle commented on #1254
@technosailor can you give an example of the type of settings you're looking to add here? Username and password auth are supported in the URL bar, or you can add ES_SHIELD credentials via wp-config.php.

I'm not opposed to adding the hook but want to make sure there's a solid case for it.

[2019-02-20 16:17] technosailor commented on #1254
@brandwaffle Sure. Initially, we are only supporting the basic auth settings, and it's true that this is already there. Though the idea is to make this stupidly simple for non-technical users, so we'd like to avoid `ES_SHIELD`. Longer term, we support multiple ES instances (failover, for instance) and domains. These may all, to the end of making it stupidly frictionless to the end user, get settin

[2019-02-20 16:21] brandwaffle commented on #1254
@technosailor that makes a lot of sense. I think we can get this queued up for 3.0 cc @tlovett1

[2019-02-20 16:23] technosailor commented on #1254
Thanks @brandwaffle! 🎉

[2019-02-20 16:24] brandwaffle commented on #1257
@dannydamsky thanks for submitting this issue!

One quick question I'm hoping you can clarify: in #3 on the steps to reproduce, you mentioned the result is the same with the plugin disabled. Am I understanding that correctly or does the orderby=type  query work if ElasticPress is turned off?

[2019-02-20 16:38] allan23 commented on #1249
Hi @peterjohnhunt,
just looking at your WP_Query parameters, it appears that `post_type` is empty. This causes the query to default to the `post` post_type. Can you explicitly set your custom post_type to the `post_type` parameter in WP_Query to see if this resolves your issue?

[2019-02-20 16:42] ccournoyer-oktane commented on #1252
@brandwaffle here the query
{
    "from": 0,
    "size": 20,
    "sort": [
        {
            "_score": {
                "order": "desc"
            }
        }
    ],
    "query": {
        "bool": {
            "should": [
                {
                    "multi_match": {
                        "query": "bioprote",
                        "type": "phrase",
                        "fiel

[2019-02-20 17:35] dannydamsky commented on #1257
@brandwaffle

The result is the same in the sense that in both cases ElasticPress doesn't work.

The query always works, but when I add orderby=type it doesn't fetch the results from ElasticPress.

This is apparent because ElasticPress fetches certain search results (PDF files containing the keyword for example) that do not appear when the plugin is disabled and/or when the orderby=type parameter

[2019-02-21 15:38] ccournoyer-oktane commented on #1252
@brandwaffle Honestly i dont know what could cause the issues. Query argument is pretty basic.

[2019-02-21 16:31] iDuuck opened #1262 "Features turning itself of at some point"
**Is this a bug, question or feature request?** Bug/Question

**Describe the issue you encountered:**

I am currently hosting a page with an Elasticsearch-powered search for a client. It's now multiple times, that the Elasticpress plugin has disabled some options by itself. I am using the "Documents" feature a lot on this project, but at some point the feature turns of by itself and it is not sear

[2019-02-21 17:00] brandwaffle commented on #1252
@ccournoyer-oktane I'm still hoping to take an in-depth look before the end of the week, but in the meantime I did notice the "fuzziness" is set to 0 on all queries. Are you doing anything to set that or is that the default behavior of the plugin?

[2019-02-21 18:49] ccournoyer-oktane commented on #1252
I had this filter :
`add_filter( 'ep_fuzziness_arg', function () {
    return 1;
 }, 10, 0 );`
to set it to 1.
I disabled it but it does'nt appear to change anything
I did another test by re-adding the filter but instead of 1 i set the fuzziness to to
`add_filter( 'ep_fuzziness_arg', function () {
    return 2;
}, 10, 0 );`
With it i'm able to get the correct result with single word search.
But no

[2019-02-24 10:32] jeffceriello opened #1263 "Woocommerce products disappears when plugin in enabled"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Seems to be a bug

Describe the issue you encountered:
When the ElasticPress plugin is enabled, many of our products disappear from our online store. They only reappear when I disable ElasticPress.

Current WordPress version:
5.1

Current ElasticPress version:
2.8.1

Current Elasticsea

[2019-02-25 00:14] peterjohnhunt commented on #1249
Hey @allan23! Thanks, yes i can manually specify this which fixes the post type issue, however the taxonomy / taxonomy term are still not set. For a default page query, taxonomy and taxonomy term are all being set and then it appears the post type is automatically determined based on that but none of that translates into the EP query parameters

[2019-02-25 16:21] allan23 commented on #1262
Hi @iDuuck, this is the first we have heard about this. Any reason why you are not running the latest version of ElasticPress?

[2019-02-25 16:22] allan23 commented on #1260
Hello @majestica, can you verify that your Elasticsearch has the[ Ingest Attachment Plugin](https://www.elastic.co/guide/en/elasticsearch/plugins/master/ingest-attachment.html)?

[2019-02-25 16:25] allan23 commented on #1258
Hello @ifsand, it sounds like you may have some kind of caching issue going on or a plugin conflict. Unfortunately, the next step you would need to take is to deactivate all plugins to determine which one is the culprit.

[2019-02-25 16:28] allan23 commented on #1256
Hi @speedwheel,

Check out our short guide on weighting results here: https://github.com/10up/ElasticPress/wiki/Weighting-Search-Results

[2019-02-25 16:30] oscarssanchez commented on #1263
Hi @jeffceriello ,

Sorry about the lack of response, I did not get any other emails from this issue, but thanks for opening a new one.

First of all i'd really recommend not exposing your elasticsearch server like that, so if you could hide it, I think that would be better for you form a security standpoint.

Second, by looking at these responses, how many woocommerce products does your store has

[2019-02-25 17:13] iDuuck commented on #1262
Don't want anything to break suddenly. But will give it a try now.

[2019-02-25 18:13] jeffceriello commented on #1263
Hi Oscar,

Thank you for your reply.

I have removed the elasticsearch server references from the comment.

There are around 11,800 products in the store.

Thanks

[2019-02-25 18:47] elvishp2006 opened #1265 "Incompatibility with WordPress 5.0 REST API search route"
Have you searched for similar issues before submitting this one?
- Yes

Is this a bug, question or feature request?
- Bug

Describe the issue you encountered:
- The new WordPress REST API search route does not work when the ElasticPress is active.

Current WordPress version: **5.1**

Current ElasticPress version: **2.8.1**

Current Elasticsearch version: **5.6.5**

Where do you host your Elasticse

[2019-02-25 18:54] majestica commented on #1260
Hi, I did not try this plugin, since I don’t have anything in attachments except for png and jpeg, can I do without this plugin?

[2019-02-25 20:06] speedwheel commented on #1256
@allan23 Hello, yes I saw it, based on that example I've created this.

[2019-02-26 14:38] valnei commented on #1265
Same problem here on version 5.0.

[2019-02-26 17:05] technosailor commented on #1254
@brandwaffle for the sake of managing my client's expectations, do you have a sense for when 3.0 will be released?

[2019-02-26 18:00] brandwaffle commented on #1254
@technosailor we're hoping to have the beta version out by the end of the week. Probably a few weeks after that for "official" release on WP.org.

[2019-02-26 18:43] sjeng commented on #1262
I noticed the same behavior if for any reason Elasticsearch server is unreachable by the plugin.  Elasticpress will deactivate the Documents feature when that happens.

[2019-02-27 15:54] oscarssanchez commented on #1263
Hi @jeffceriello ,

I remember I saw about half that number of products on the links you provided. Can you re-index with wp-cli and check if there's any errors please?

With this command:
`wp elasticpress index --setup --show-bulk-errors`

Thanks!

[2019-02-27 16:22] iDuuck commented on #1262
@sjeng Okay, strange one. Shouldn't really happen when on the same server, should it?

[2019-02-27 16:23] iDuuck commented on #1262
@allan23 It's actually a bug then, right?

[2019-02-27 16:59] Salamander3 commented on #1239
I can confirm 2.8.1 solves it.

[2019-02-27 17:24] #1239 closed

[2019-02-28 09:12] ga-studio29 opened #1267 "Indexing incomplete"
Have you searched for similar issues before submitting this one?

- Yes

Is this a bug, question or feature request?

- Question

Describe the issue you encountered:

- When syncing only some contents are Indexed. Sometimes not even regular posts are indexed and for custom post types only a few are indexed (for example, we've a custom post with 300 entries and only 10 are indexed in elasticsearch)

[2019-02-28 16:47] dkoo opened #1268 "Improve settings flow for inputting ElasticSearch host info"
Is this a bug, question or feature request? **Feature enhancement**

Describe the issue you encountered: **Improve the user flow for inputting ElasticSearch host credentials**

Currently, if you input an ElasticPress.io URL as an ES host, the settings page reveals three additional fields after clicking "save":

https://cl.ly/0e39c95f56fb/Screen%20Recording%202019-02-28%20at%2009.44%20AM.gif

This

[2019-03-01 10:47] julienroland commented on #1250
Hey @dmhendricks,

I had the same issue, i added two hooks in order to get the highlight result on the final post object.
There is a basic example:

[code]

[code]

[2019-03-02 06:27] speedwheel commented on #1250
@julienroland This didn't work for me.

[2019-03-02 08:32] julienroland commented on #1250
@speedwheel when using the elasticpress debug bar, do you see the highlight in the elastic response ?

[2019-03-02 09:05] speedwheel commented on #1250
@julienroland I don't see it, I also did a `print_r` on both `$post_return_args` and `$post` and there is not key/property with the name 'highlight'.

[2019-03-02 09:13] julienroland commented on #1250
@speedwheel i'm guessing there something wrong with your query.

Could you display your ep_formatted_args filter ?

[2019-03-02 16:50] oscarssanchez commented on #1238
Hi @cbratschi

Maybe adding a custom analyzer like it is described here:
https://github.com/10up/ElasticPress/wiki/Synonym-Analyzer

With this in mind:
https://www.elastic.co/guide/en/elasticsearch/reference/6.2/analysis-htmlstrip-charfilter.html

Kind regards,

[2019-03-02 16:56] oscarssanchez commented on #1246
I think this would need to be addressed when adding compatibility for new ES versions.
There has not been a discussion when this is going to be implemented.

Thanks for the heads up!

[2019-03-02 18:43] oscarssanchez commented on #1267
Hi @ga-studio29 ,

Can you please check if there's any errors by indexing with less posts per page with this wp-cli command:

wp elasticpress index --setup --post-per-page=100 --show-bulk-errors

We have had a lot of issues like this when posts have a lot of meta data due to poor coded plugin / management. Usually lowering the posts indexed or deleting unrelevant meta fixes this. It would be good

[2019-03-04 04:56] evanmcmahonf opened #1270 "Ability to disable rendering of post/pages when indexing."
Have you searched for similar issues before submitting this one? Yes.

Is this a bug, question or feature request? Feature Request (Happy to create a PR)

Describe the issue you encountered:

Our site is heavily dynamic, and most of this is driven by shortcodes.
This means on development environments rendering a post/page can be slow (> 1s).

When indexing, the plugin attempts to render these post

[2019-03-04 10:34] agenceR2 commented on #1267
Hi @oscarssanchez ,

thanks for your answer.

I've run the command and for a custom post type on last entries I've got the following errors :

- type: illegal_argument_exception
reason: Limit of total fields [5000] in index [indexname] has been exceeded

How can I resolve that ?

Thanks and regards

[2019-03-04 12:35] cbratschi commented on #1238
Yes, we already changed this and excluded all iframes from being removed. This works fine.

[2019-03-04 12:35] #1238 closed

[2019-03-04 15:18] ga-studio29 commented on #1267
Hi @oscarssanchez ,

thanks for your answer.

I've run the command and for a custom post type on last entries I've got the following errors :

type: illegal_argument_exception
reason: Limit of total fields [5000] in index [indexname] has been exceeded
How can I resolve that ?

Thanks and regards

[2019-03-04 16:15] allan23 commented on #1265
Hi @elvishp2006, thank you for bringing this to our attention.

[2019-03-04 16:36] allan23 commented on #1259
Hi @dnikola,
ElasticPress is configured to overwrite WordPress' WP_Query functionality. Most plugins abide by WP best practices by using WP_Query for all database interaction. However, if a plugin does not use it and instead uses $wpdb for a direct query, then ElasticPress cannot hijack it and perform the query on Elasticsearch.

Thank you for your inquiry.

[2019-03-04 16:36] #1259 closed

[2019-03-04 16:38] brandwaffle commented on #1259
@dnikola Comments are likely to be added in upcoming versions. Once version 3.0 is released it makes it easier for additional content types to be added to the plugin.

[2019-03-05 01:51] oscarssanchez commented on #1267
Hi @ga-studio29 ,

Per the errors you are getting (too many fields created by too many meta). I think you have problems with your current  post meta data. Could you please look out for duplicated or similar meta in the post_meta table of your site? Usually, cleaning it up solves this problem.

[2019-03-05 05:53] peterjohnhunt commented on #1249
Hey @allan23! let me know if i can add more details here in relation to the taxonomy portion!

[2019-03-05 14:13] Gandhi11 commented on #1030
Any news on this one?

[2019-03-05 15:08] majestica commented on #1260
guys, can someone help me?

[2019-03-05 21:43] brandwaffle opened #1272 "Autosuggest is broken in 3.0"
Currently in the develop branch if you activate Autosuggest and set it to the default value of the plugin (rather than safe values) it will throw a 400 error due to:
`{"error":{"root_cause":[{"type":"parsing_exception","reason":"[terms] query does not support [0] within lookup element","line":1,"col":187}],"type":"parsing_exception","reason":"[terms] query does not support [0] within lookup elemen

[2019-03-06 10:22] schneyra opened #1274 ""Related Posts" sometimes returns latest posts"
**Have you searched for similar issues before submitting this one?**
Yes. I've found this unanswered question on Stackoverflow: https://stackoverflow.com/questions/52141336/elasticsearch-related-posts-wordpress

**Is this a bug, question or feature request?**
This is most likely a bug.

**Describe the issue you encountered:**
I have a rather large database with about 25000 articles. I want to use

[2019-03-06 10:41] cameronterry commented on #1274
Hi @schneyra, thank you for reporting this.

I have a quick question; are you running a WordPress MultiSite / Network? And do you utilise a Domain Mapping plugin? And if so, do you have different domains for the admin side and the public side? For example;

`http://admin.com/wp-admin/` (Admin) => `http://example.com/` (Mapped)

Assuming the answer to the above is yes ... one potential issue is the

[2019-03-06 10:51] speedwheel commented on #1250
@julienroland Hello, here is the output:
[code]

[2019-03-06 10:59] julienroland commented on #1250
@speedwheel There is no highlighting in your query.

You have to use a filter for that: https://github.com/10up/ElasticPress/issues/684#issuecomment-275834011

Example:
[code]

[2019-03-06 12:34] speedwheel commented on #1250
@julienroland Thank! it's working now. The only issue is that it's alow displaying the Gutenberg comment tags in the excerpt: `-- wp:heading --> `.

[2019-03-06 12:44] schneyra commented on #1274
Hi @cameronterry, thanks for the quick reply.

I'm sorry, our Admin-Area is not mapped, it's `domain.com/wp-admin/` and it is a single-site.

But speaking of the database: Our MySQL is running on a Percona Cluster, can this cause any trouble?

[2019-03-06 13:14] julienroland commented on #1250
@speedwheel You could clean the post_content field like that:
[code]

[2019-03-06 13:26] speedwheel commented on #1250
@julienroland Thanks I will try it.

Do you know and why sometimes words that are not related to my search are being highlighted? In this cased I searched for "bully", but the word "fully" also got highlighted:

![fully](https://user-images.githubusercontent.com/5404341/53884385-25e0ca80-4024-11e9-9244-d8c8632d6a98.JPG)

[2019-03-06 13:38] julienroland commented on #1250
@speedwheel I have updated my last answer by the way (added a new filter)

Yes it's because de post_content has fuziness in the query. You can change the way the highlight works by updating the highlight query:
[code]

[2019-03-06 13:57] speedwheel commented on #1250
@julienroland thanks that worked, is there any way to adjust the fuziness? because I am getting a lot of irrelevant search results after 2-3 pages.

[2019-03-06 15:09] julienroland commented on #1250
@speedwheel
You can change the fuzziness using this filter:
[code]
Here is a part of the documentation about fuzziness:

[2019-03-06 15:35] speedwheel commented on #1250
@julienroland Your are awesome! thank you, this is what I was looking for.

[2019-03-06 18:56] bwcorey opened #1275 "Defining EP_HOST constant prevents update of Post index per cycle in WPMU"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
The constants `EP_HOST`, `EP_SHIELD`, and `EP_INDEX_PREFIX` are defined in wp-config (as opposed to entering them in the Elasticpress settings screen), and it appears that this is preventing the "Post index per cycle" setting from being updated.

[2019-03-06 19:19] oscarssanchez commented on #1275
Hi @bwcorey , thanks for reporting this! We will look into it

[2019-03-06 23:03] allan23 commented on #1249
@peterjohnhunt, which taxonomies/terms are you trying to retrieve?
I am not seeing the usage of a tax_query. (See: https://codex.wordpress.org/Class_Reference/WP_Query#Taxonomy_Parameters )

[2019-03-07 00:09] brandwaffle commented on #1275
@dkoo any chance you could look at this one and perhaps include it in the PR that changes the way settings are handled from #1269 ?

[2019-03-07 13:02] dmhendricks commented on #1250
Thank you so much, @julienroland! You rock!

[2019-03-07 15:28] cubryto opened #1278 "Related Post returns same 5 posts for every posts"
Have you searched for similar issues before submitting this one? Yes

Is this a bug, question or feature request? bug

Describe the issue you encountered:
Related post features return same 5 posts for every posts

Current WordPress version: 5.1

Current ElasticPress version: 2.8.1

Current Elasticsearch version: 6.2.0

Where do you host your Elasticsearch server: self-host, centos server

Other pl

[2019-03-07 15:43] Salamander3 opened #1279 "AND logic between 2 facets?"
### Have you searched for similar issues before submitting this one?
yes
### Is this a bug, question or feature request?
question
### Describe the issue you encountered:
When using 2 facets the relation between them seems to be OR, i'd need it to be AND.

### **Example:**
Taxonomy 1: Countries.
Taxonomy 2: Languages.
I select Country USA, Language English.

It returns ALL posts with term USA + ALL

[2019-03-07 15:46] #1213 closed

[2019-03-07 15:46] #1220 closed

[2019-03-08 09:52] iDuuck commented on #1262
Still not working, though. Just update the plugin.

[2019-03-08 09:54] iDuuck opened #1281 "WooCommerce search not working properly"
Is this a bug, question or feature request? Bug/Question

Describe the issue you encountered:

I have a shop for a client, which uses WooCommerce and ElasticPress. When I do a search (even when I say `$query->set('ep_integrate', false);`) I am not able to see all the search results.

See an example here: https://portal.ovb.de/shop?s=Together+Strong

"Debug Bar" still says, that the Elasticsearch r

[2019-03-08 09:55] iDuuck commented on #1281
Addition: Also tried to disable the "Search" feature in ElasticPress, which also isn't helping anything.

[2019-03-08 13:23] oscarssanchez commented on #1281
Hi @iDuuck ,

Could you confirm the product you are searching was properly indexed by ElasticPress? By "fired", do you mean the request was successful ? what is the request result?

Thanks!

[2019-03-08 13:33] iDuuck commented on #1281
Ok, I think (if ElasticPress would work right) this is a bug in WooCommerce, too. Since I am seeing in the Debug Bar, that the results are actually documents.

**However**, I am disabling search and still ElasticSearch is used for search. How does this happen?

[2019-03-08 15:39] ccournoyer-oktane commented on #1252
@brandwaffle I was was able to solve most of my problem by setting fuzziness to 2 and by adding an filter to disable elasticpress when displaying a taxonomy archive. Unfortunaly, I'm still stick with strange result when I make a search containing three letter word.
When I search for "Coq cuivre" I get 2966 result instead of 3. The first 3 result are correct. However, following result will only mat

[2019-03-08 16:08] brandwaffle commented on #1252
@ccournoyer-oktane if you turn on autosuggest and do a test that way, do the results improve? I ask because the Autosuggest feature uses the ngram analyzer which is designed to handle partial queries. If you're getting better results that way, it might be worth switching to that analyzer for your main queries.

[2019-03-08 16:23] ccournoyer-oktane commented on #1252
@brandwaffle I turn it on and the index started rebuilding itself. Meanwhile, I did a few search and the result was perfect. But a soon as the index was done rebuilding, the problem came back.

[2019-03-08 16:36] brandwaffle commented on #1252
@ccournoyer-oktane so if you start to type 'coq' it does not autosuggest results that include 'coq cuivre'?

If the fuzziness approach is working somewhat well, you might look into this blog post https://www.elasticpress.io/blog/2019/02/custom-search-with-elasticpress-how-to-limit-results-to-full-text-matches/. It describes how you can filter the Elastic query to only match on all words, rather th

[2019-03-08 16:45] ccournoyer-oktane commented on #1252
@brandwaffle Ok so i added the filter to limit result to full text matches and it did the trick
Search work as intented now.
Everything related to language is handled by wpml, so the option to integrate it in elasticpress is activated.
Thx a lot the help

[2019-03-09 01:25] oscarssanchez commented on #1270
Thanks @evanmcmahonf for your enthusiasm to make the plugin better, I will bring this to our standup next week.

Kind regards,

[2019-03-09 05:23] evanmcmahonf commented on #1270
No worries :)
In the meantime, we've just commented out the `apply_filters` and set it to `''`.

[2019-03-09 23:49] oscarssanchez commented on #1278
Hi @cubryto , this is correct, ElasticSearch related posts widget is only searching on post_type `posts`.

Because I don't know how your site is setup, I can't give a better answer for the moment.

If you could better describe how many post_types do you have, which plugins, etc. and install our debug bar and paste the query body and result, we can definitely give you better advise.

Kind regards a

[2019-03-10 00:14] oscarssanchez commented on #1279
Hi @Salamander3 ,

Since `facet_query()` is hooked to pre_get_posts, have you tried to set the relation parameters on `pre_get_posts` with a priority after `facet_query()` is executed?

[2019-03-10 16:46] Salamander3 commented on #1279
Hi, i haven't. I'm not sure how to get the right priority, something like this would do? (I'm no coder)

[code]

[2019-03-10 20:45] Salamander3 commented on #1279
![this](https://user-images.githubusercontent.com/8179611/54091222-cb29d480-437d-11e9-80d7-a7be432bc99f.png)

[2019-03-10 20:45] #1279 closed

[2019-03-11 08:24] Salamander3 opened #1283 "Facets searchbox Bug."
**Have you searched for similar issues before submitting this one?**
Yes
**Is this a bug, question or feature request?**
Bug i think
**Describe the issue you encountered:**
On facets when you type an uppercase letter it doesn't find anything, even if terms with that letter exist. This is a problem even more so for android users (Chrome Browser) because when they type it will always start in upperc

[2019-03-11 10:09] Salamander3 commented on #1283
Alright the cause of this bug is that the search-box ONLY works if you type in lowercase.
Android keyboards start the first letter of a sentence in Uppercase. This can be reproduced in desktop Typing any capital letter, would return no results (Even if there's a taxonomy that starts with that letter and that taxonomy is also starts with a capital letter).

I'm pretty sure this isn't intended, **th

[2019-03-11 10:29] Salamander3 commented on #1283
I think the file in question is /elasticpress/features/facets/assets/js/facets.min.js
A minified version of /elasticpress/features/facets/assets/js/src/facets.js

that's as much as i can do myself i don't know javascript to fix it, i hope it can be considered for a new version. Cheers!

[2019-03-11 10:35] schneyra commented on #1274
Has anyone else an idea on this topic?

[2019-03-11 10:37] schneyra commented on #1278
@cubryto Can you have a look, if those 5 posts are the newest 5? I'm having a similar problem: #1274

[2019-03-12 14:19] #1189 closed

[2019-03-12 15:42] #1254 closed

[2019-03-13 18:06] peterjohnhunt commented on #1249
Hey @allan23, i think my initial assumption was that if ep_integrate => true it will replicate whatever the default query would do over to Elastic Search. I will work to explicitly set the tax_query as well since the default WP query doesn't use that for the tax query in question!

[2019-03-13 22:02] marianagarciaferreira opened #1284 "How to sync custom post types?"
I did the sync and no post was sent to the elasticsearch. I configured the post types but did not synchronize the posts

how to sync custom posty types to elastic?

[2019-03-14 10:16] cbratschi commented on #1267
We've had the same issue. We are using ACF and some fields contain several hundred items. In order to reduce the mappings we had to exclude most of our fields which are not required for searches.

It would be very useful if wildcards could be used by the mapping. For instance we have fields named:

updates_*_content

All those fields contain HTML markup and a single mapping would be sufficient.

A

[2019-03-14 16:22] cubryto commented on #1278
When I look at the function ep_find_related( $post_id, $return = 5 ), I found out that the request is always made through the database instead of Elasticsearch server.
I added echo $query->request to ep_find_related function

function ep_find_related( $post_id, $return = 5 ) {
	$args = array(
		'more_like'		 => $post_id,
		'posts_per_page' => $return,
		'ep_integrate'   => true,
	);

	$query = new

[2019-03-15 10:13] jordan26 commented on #1284
Interested to know this too.

[2019-03-15 14:45] marianagarciaferreira commented on #1284
Anyone know how I can index manually?

I have an action that monitors when saving a specific post and I have a php doing a manual query, now I need to index this data in a specific type.
Does anyone know how I can make a laugh?

[2019-03-15 15:10] oscarssanchez commented on #1284
Hi @marianagarciaferreira , @jordan26 ,

Hope you are doing well, would you mind sharing some steps to reproduce the issues you are currently having?

@marianagarciaferreira I did not fully understand your last comment. Do you mean you need to duplicate the data from the post you are saving and inject it into an already existing post post_type ?

[2019-03-15 15:14] oscarssanchez commented on #1278
@cubryto , can you please install the elasticpress debug bar and tell us the query result of related posts?

[2019-03-15 15:16] marianagarciaferreira commented on #1284
no, I need to index the wordpress menus.
I made php and got the menus now in action save I try to index the type menus in elasticsearch

[2019-03-15 15:17] marianagarciaferreira commented on #1284
i try

 $data = $_POST['nav-menu-data'];
       //  $client = \EP_API::factory();

        $path = trailingslashit(ep_get_index_name()) . 'menus';
        $body = array(
            'type'  => 'menus',
            'data'    => $data
        );

        $request_args = array('method' => 'POST', 'body' => $body, 'timeout' => 30);
        $request = ep_remote_request($path, apply_filters('ep_bulk_ind

[2019-03-15 15:18] marianagarciaferreira commented on #1284
if ($_POST['nav-menu-data']) {
        $data = $_POST['nav-menu-data'];
       $client = \EP_API::factory();

        $path = trailingslashit(ep_get_index_name()) . 'menus';
        $body = array(
            'type'  => 'menus',
            'data'    => $data
        );
        $client->bulk_index_posts($body);

    }

[2019-03-15 15:19] marianagarciaferreira commented on #1284
I am in error and I hit because I did not find any documentation on how to add a type and its data in an index

[2019-03-15 15:20] marianagarciaferreira commented on #1284
all return error

WP_Error Object ( [errors] => Array ( [400] => Array ( [0] => Bad Request ) ) [error_data] => Array ( [400] => Array ( [headers] => Requests_Utility_CaseInsensitiveDictionary Object ( [data:protected] => Array ( [content-type] => application/json; charset=UTF-8 [content-encoding] => gzip [content-length] => 148 ) ) [body] => {"error":{"root_cause":[{"type":"illegal_argument_excep

[2019-03-15 15:36] marianagarciaferreira commented on #1284
is there any way to index WordPress menus?

[2019-03-15 15:56] marianagarciaferreira commented on #1284
I solved!!!!!!
after scouring the files of the plugin I found how to index the menu of WordPress

    if ($_POST['nav-menu-data']) {
        $post_type = get_post_type( $post_ID );
        $post_args = ep_prepare_post( $post_ID );
        $response = ep_index_post( $post_args, true );
    }

[2019-03-15 15:56] #1284 closed

[2019-03-15 18:34] speedwheel opened #1285 "Search custom fields"
Hello, how can I indedx and search custom fields, any examples? I want to add another field that will have the content of the post without the html, because it's creating problems.

[2019-03-15 19:48] oscarssanchez commented on #1285
Hi @speedwheel ,

Have you looked at `ep_search_fields` as well as `ep_config_mapping` filters?

[2019-03-15 19:49] aluferraz opened #1286 "BUG:Named meta queries not working"
Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Bug
Describe the issue you encountered:

When using documented "Named sub-meta queries and multiple orderby arguments" doesn't work with elasticpress.

https://codex.wordpress.org/Class_Reference/WP_Meta_Query#Named_sub-meta_queries_and_multiple_orderby_arguments

Current WordPress vers

[2019-03-15 23:33] thesquaremedia opened #1287 "Performing a custom ES search. using EP in a sort of connector mode."
Have you searched for similar issues before submitting this one?
yes
Is this a bug, question or feature request?
question
Describe the issue you encountered:
is it plausible to use elasticpress as more so of a connector/client. basically I would like to be able to create my own custom queries that I send to elastic search. this way I would have a global search functionality where I could have the

[2019-03-16 12:44] MediaMaquina opened #1288 "How to show related posts of the same custom type only?"
I've read ep_formatted_args is used to modify the query but i only want it to affect related posts function. If i want to show **related posts only of the same post type** for an array of types. How would the function look like?

My function looks like this (it's supposed to do an AND logic on search terms only). I'd like to add related posts too:

 function set_to_exact( $formatted_args, $args )

[2019-03-16 22:19] oscarssanchez commented on #1288
Hi @Salamander3 , have you tried something like:

[code]

[2019-03-16 22:39] oscarssanchez commented on #1287
Hi @thesquaremedia ,

You can send pretty customizable queries to ES by using the `ep_formatted_args` filter.

Alternatively, you can definitely ping your ElasticSearch server in any way you would like to, and you can interact with your index by building your own functions too. As an example, here is how ElasticPress pings the index to search for documents: https://github.com/10up/ElasticPress/blo

[2019-03-16 22:45] thesquaremedia commented on #1287
@oscarsanchez thanks a lot for the response that helps!

[2019-03-18 08:50] Salamander3 commented on #1198
I need exactly this too. Why is it closed? It doesn't seem implemented.

[2019-03-18 09:49] jeffceriello commented on #1263
Hi Oscar,

Thank you for your reply.

I managed to re-index via wp-cli and these are the results

[code]
It looks like it got half way through indexing and then timed out.

What could it be?

Thank you!

[2019-03-18 10:35] Salamander3 commented on #1288
Hi thanks for the code, i put it right above "return $formatted_args;" (outside of the if) and it gives php error:
`Fatal error: syntax error, unexpected '=>' (T_DOUBLE_ARROW) on line 39`

Are you sure the double arrow is the correct syntax? Or am i using it on the wrong place?

[2019-03-18 11:16] Salamander3 commented on #1198
For future me and someone with same issue. If you created your own query vars you can add them to the facets like so:
1) Make sure you register your keys, mine is called sorted:
[code]

2) Modify facets code. i don't know how to filter this otherwise:
Around 437 add:

[code]

[2019-03-18 11:40] Salamander3 commented on #1283
This happens on any platform not just android. To illustrate better the issue.
![bug](https://user-images.githubusercontent.com/8179611/54527697-f8c4de00-497a-11e9-889a-a91c726c2776.png)

[2019-03-18 23:31] aluferraz opened #1290 "BUG: Changing the "filter url" breaks the tax_query"
FIX AT: #1289

Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Bug
Describe the issue you encountered:

When you rewrite the filter url to hide the "pa_" string, ElasticPress breaks the query by searching a taxonomy that doesn't exist.

For example:
http://mywoocommerce.url/shop/?filter_brands=apple
**Elasticpress searches for a taxo

[2019-03-19 14:18] oscarssanchez commented on #1274
Hi @schneyra ,

When this happens,

- Is this a specific custom post type ?
- Are you sure there's content that is related to the post?

[2019-03-19 14:36] oscarssanchez commented on #1281
Hi @iDuuck did you disable the woocommerce feature or the search feature?

[2019-03-19 14:39] oscarssanchez commented on #1263
Hi @jeffceriello ,

You may want to try to index with less posts per page.

`wp elasticpress index --setup --show-bulk-errors --posts-per-page=10`

If this gets an error too, maybe even lowering it to 1 post per page.

[2019-03-19 22:01] Salamander3 opened #1292 "[BUG] Facets and paginated archives"
There's a problem with Facets:

**Steps to reproduce:**

1. Go to /page/2/ of any archive.
2. Click a facet that doesn't have enough posts to fill 2 pages.
3. you get 404. (/page/2/) doesn't exist.

----------My take on this-------------
When a facet is clicked it should remove the paged query (back to page 1). It's wrong to carry it over, it may not exist. I hope this can be fixed. Thanks.

[2019-03-19 22:03] Salamander3 commented on #1283
Thank you both! I found something else hopefully it's an easy fix too:
https://github.com/10up/ElasticPress/issues/1292

[2019-03-19 22:57] Salamander3 commented on #1292
This is my dirty cheap fix until this get addressed. Place this code on 404.php on your WP template:

[code]
It's so dirty you might need to shower after using it, but it works.

[2019-03-20 11:50] harslannet opened #1293 "[BUG] Attribute archive pages problem"
this is a bug.

Describe the issue you encountered:

There is a problem with the plug-in;
When we activate this plugin, the attributes links show all the products on the site, not the relevant products!

For example, this link should only show 1 products https://getmagic.app/pa5BSXlY85 (it should be like this: https://getmagic.app/TrEkTe09KC )

only this product needs to be listed (https://getmagi

[2019-03-20 15:11] iDuuck commented on #1281
Tried both. Neither worked.

[2019-03-21 11:16] Salamander3 opened #1296 "[QUESTION] Exact Same query (sort by meta) works for one key but for for others?!"
**Have you searched for similar issues before submitting this one?**
Yes but i didn't find a solution.
**Is this a bug, question or feature request?**
Question.
**Describe the issue you encountered:**
So, i'm trying to sort posts by different meta keys. I got it to work fine for 1 key (it sorts and uses elasticsearch) but when i tried to do the exact same thing for another key i got "400 Bad Reque

[2019-03-21 16:13] JayWood commented on #1092
If anyone else comes across this ticket, here's a function for you to use to get them from the DB directly:

[code]

[2019-03-21 17:11] Salamander3 commented on #1296
Alright so i did some more reading.
The problem is **_gdrts_stars-rating_votes** meta is not mapped and **cdr_download_counter** is mapped.
So i found this command to see mappings: curl -XGET 'http://127.0.0.1:9200/indexname-1/_mapping/'
<details>
<summary>Mappings</summary>
`{"cdromancecomdev-1":{"mappings":{"post":{"dynamic_templates":[{"template_meta":{"path_match":"post_meta.*","mapping":{"fie

[2019-03-21 17:19] Salamander3 commented on #1286
Same for me, it's not mapping the custom meta https://github.com/10up/ElasticPress/issues/1296

[2019-03-21 18:33] oscarssanchez commented on #1296
Hi @Salamander3 , to add your meta keys you should try the `ep_prepare_meta_whitelist_key` filter.
Most likely these are not getting indexed because of the "`_`".

Can you tell me how can I reproduce the cdr_download_counter meta key ? Does this belong to a plugin or is this an ACF field ?

[2019-03-21 18:41] oscarssanchez commented on #1293
Hi @harslannet ,

Can you please share a sample attribute and meta_data of

https://www.devritesbih.com/erkek-taki/fosilli-damla-kehribar-925-ayar-gumus-yuzuk/
https://www.devritesbih.com/kadin-takilari/dogal-hakiki-damla-kehribar-bileklik-2/

And also the product that you say it should only be displayed?

Also, could you please install the elasticpress debug bar: https://github.com/10up/debug-bar

[2019-03-21 18:42] Salamander3 commented on #1296
Hi thanks so much for the help! So it's because of the _ !!! Thanks for spotting that.
I'd love to know how to use ep_prepare_meta_whitelist_key but i couldn't find info. Where can i learn it?

As for the cdr_download_counter. It seems i was wrong, The mapping confused me because it's all unreadable like this so i used  a site to make it prettier https://codebeautify.org/jsonviewer

![ok](https://

[2019-03-21 19:10] oscarssanchez commented on #1292
Confirmed this. Thanks @Salamander3 for letting us know

[2019-03-21 19:25] Salamander3 commented on #1257
@dannydamsky i don't know if this will help you. But since i'm an idiot and wasn't aware of the existence of "type" i created my own parameter. Which works for me. So yif you are just interested in get this working ASAP you could use my method. But i think EP team should dig into the original issue for a solution.

My workaround concist on creating a new parameter let's call it something unused li

[2019-03-21 19:35] harslannet commented on #1293
Hi @oscarssanchez ,
Choose any attribute, click and the result will always be the same!

**Debug bar results:**
TOTAL ELASTİCPRESS QUERİES: 0
TOTAL BLOCKİNG ELASTİCPRESS QUERY TİME: 0 ms
No queries to show

[2019-03-21 19:36] Salamander3 commented on #1016
Can someone please write an example of how to use ep_prepare_meta_whitelist_key filter to indext some meta keys? I can't figure it out by looking at it.

[2019-03-21 23:37] Salamander3 commented on #1296
I think i resolved using another filter which does more or less the same? Does this make sense?
[code]

[2019-03-22 16:34] #1296 closed

[2019-03-22 16:48] MediaMaquina opened #1297 "How to achieve this results? (sorry for vague title)"
If someone searches for **spiderman**
I want results for "spiderman" [This happens]
But also for "spider" AND "man" (both words) [This doesn't happen]

If someone searches for **spider man**
I want results for "spiderman"  [This doesn't happen]
But also for "spider" AND "man" (both words) [This happens]

How can i do this?

[2019-03-23 14:41] Salamander3 opened #1298 "how to sort Facets terms by name asc instead of count desc?"
The facets widget sorts by count desc. But it's hard for people to find stuff with this order (random to them).
So i looked at /facets/class-ep-facet-widget.php

[code]
And yes, changing these has the desired effect but with 1 problem. The greyed-out terms don't move to the bottom. So i would need some sort of logic to move the count->0 to the bottom and the rest by name asc.

Does this make sense

[2019-03-23 21:57] oscarssanchez commented on #1180
Hi @ray-lee, do you mind if I redo this PR for 3.0? it looked very promising :)

[2019-03-23 22:14] oscarssanchez commented on #1298
Hi @Salamander3, there was PR in progress to show the counts so the sorting would make more sense to users: https://github.com/10up/ElasticPress/issues/1180 maybe we can redo this soon.

I think you would need custom code to modify this if you change the facet sorting, as of now it is intended to work only this way. To modify the widget display however there is this filter: `ep_facet_search_widget

[2019-03-23 22:39] Salamander3 commented on #1298
Yup this is too specific and would require too much code to work the way i'd like it to be. Thanks for the info. I'll see myself out.

[2019-03-23 22:39] #1298 closed

[2019-03-23 22:42] oscarssanchez commented on #1297
Hi @Salamander3 ,

You will need to set the fuzziness arg to a greater value. For this, there is the `ep_fuzziness_arg` filter. Setting it to 3 got me the results you want, but you may need to adjust in your particular case.

For more information: https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#fuzziness

[2019-03-23 23:02] oscarssanchez commented on #1288
Hi @Salamander3,

Yeah i think you are right i did not test this code, I think the correct one should be:

$formatted_args['post_filter']['bool']['must']['term']['post_type.raw'] =  $post_type;

[2019-03-23 23:08] oscarssanchez commented on #1287
Hi @thesquaremedia ,

Full index will only be triggered if you perform it. For this I think scheduling the indexing from WP-CLI would work perfectly for your case.

When you refer to delta indexing, do you mean indexing of new posts? If so, this is triggered whenever a new post is posted.

Hope this helps :)

[2019-03-23 23:21] oscarssanchez commented on #1260
Hi @majestica , by checking this and this issue https://github.com/10up/ElasticPress/issues/674 i don't think searching on media library is something you can currently do. Can you confirm @allan23 ?

[2019-03-23 23:25] #1252 closed

[2019-03-24 10:43] Salamander3 commented on #1297
I was able to change it but search results don't change, i even put it on 6, and i only get exact match (posts with "spider man don't show up) Maybe there's a conflicting code? This is the query:

[code]

[2019-03-25 11:21] jeffceriello commented on #1263
Hi Oscar,

Thank you. I've tried indexing 10 posts per page and it processes all the entries fine but in the end it says:
`The following posts failed to index:`
with a list of posts (there are a lot of them) looking like this one
[code]

At the end of the list it says
[code]

What does that limit of total fields [5000] mean?

Thank you

[2019-03-25 15:45] #1180 closed

[2019-03-25 15:46] #1258 closed

[2019-03-25 17:08] ray-lee commented on #1180
@oscarssanchez Sure, no problem.

[2019-03-25 21:07] Salamander3 commented on #1288
Ok it says: 400 Bad Request
Error:
[code]
Query:
[code]

[2019-03-26 15:27] schneyra commented on #1274
Hi @oscarssanchez,

sorry for the late reply.

I am searching for related posts on the normal post-type.

I am sure, that there is related content. With about 25000 posts over about 90 categories, there should always be _something_ to find. Unfortunately, the current test-installation is on an internal staging-system of my client, which I can't show you. So, an example:

We have an article with "P

[2019-03-27 07:02] pemz opened #1299 "Can't select any filter. It seems like results count is zero for every term."
Have you searched for similar issues before submitting this one?

Is this a bug, question or feature request?

Describe the issue you encountered:
Can't select any filter, all is like faded out.
Same for every filter type.
If debugging code, then $GLOBALS['ep_facet_aggs'] is empty

Current WordPress version:
5.1.1
Current ElasticPress version:
2.8.2
Current Elasticsearch version:
6.3.2
Where do yo

[2019-03-28 16:12] schneyra commented on #1274
Can I provide you more informations to help you, @oscarssanchez ?

[2019-03-29 05:37] joehoyle opened #1300 "Support for split_the_query"
In short, WordPress supports a method of querying with `WP_Query` called `split_the_query` that only pulls the post IDs from the database in the main mysql query. It then calls `get_post` on each ID. This means it will often pull from the object cache per post.

This isn't that important in the default `WP_Query` class, as it's expected that you have a high degree of trust in synchronization betwe

[2019-04-01 09:37] mustafauysal opened #1302 "change host and index prefix on the fly via CLI"
Overriding host and prefix via CLI command would be useful in some cases.

I'm not sure when #659 will be implemented, but when we able to index different hosts, shifting Elasticsearch version can be smoother.  (~10 hours downtime is not good for working with large datasets)

What are you guys thinking about this? 🤔

[2019-04-01 10:19] harslannet commented on #1293
Hi,
Do you do something to solve this problem?

[2019-04-02 06:47] mgratch opened #1304 "Facets are disabled on taxonomy archive pages."
### Have you searched for similar issues before submitting this one?
Yes, see #1299, I have tested #1301.
### Is this a bug, question or feature request?
Bug.
### Describe the issue you encountered:
When browsing taxonomy archive pages i.e. `wootest.test/product-category/clothing` facets are disabled.
### Current WordPress version:
5.1.1
### Current ElasticPress version:
2.8.2
### Current Elastics

[2019-04-03 16:12] iDuuck commented on #1262
Any update?

[2019-04-03 16:13] iDuuck commented on #1281
Any update here, @oscarssanchez

[2019-04-03 16:27] iDuuck opened #1305 "Documents content are not properly searched"
**Have you searched for similar issues before submitting this one?** Yes

**Is this a bug, question or feature request?** Bug

**Describe the issue you encountered:**

ElasticSearch **or** ElasticPress isn't searching in documents (pdfs) even though the `ingest-attachment` plugin is installed.

**Current WordPress version:** 4.9.10

**Current ElasticPress version:** 2.8.1

**Current Elasticsearch

[2019-04-03 17:24] chersull commented on #1032
Hi there, I realize this post is pretty old, but just putting this out there.  I was able to apply a custom index by doing the following. Not sure if all these steps are necessary, but it took me a while to figure it out so hopefully this will save someone else some time.

1. Find the `put_mapping` function in the plugins\elasticpress\classes\class-ep-api.php file.  Figure out which mappings file

[2019-04-04 06:57] schneyra commented on #1274
I've installed the latest update and reindexed the site, with the same results. Any ideas?

[2019-04-04 22:24] oscarssanchez commented on #1305
This is working correctly for me @iDuuck ,

Could you please try:

1.- Update elasticpress to 2.8.2
2.- Use this sample pdf: http://www.africau.edu/images/default/sample.pdf
3.- Index
4.- Search for "This is a small demonstration"

You should get the PDF.

If this is not happening, I'm afraid this might be something with how you installed the attachment plugin rather than a problem with elasticpre

[2019-04-04 22:28] oscarssanchez commented on #1302
Hi @mustafauysal , thanks for the PR!!, I will bring this up in our internal standup.

[2019-04-06 17:29] oscarssanchez commented on #1304
Hi @mgratch ,

Thanks for the detailed steps. I confirmed this is also not working for me

[2019-04-08 13:31] #1278 closed

[2019-04-08 13:32] oscarssanchez commented on #1278
Hi @cubryto I'm closing this for now due to inactivity, please feel free to open a new issue if you still have problems

[2019-04-08 13:36] oscarssanchez commented on #1267
Closing as i thinkg this is solved now. Thanks for the suggestions @cbratschi , i think we will have to think something as this is indeed a somewhat recurring issue.

[2019-04-08 13:36] #1267 closed

[2019-04-08 13:39] oscarssanchez commented on #1287
Closing for now due to inactivity. Please feel free to open a new issue if you still have questions @thesquaremedia

[2019-04-08 13:39] #1287 closed

[2019-04-08 13:42] oscarssanchez commented on #1285
Closing for now due to inactivity @speedwheel  please feel free to open a new issue if the problem is not solved.

[2019-04-08 13:42] #1285 closed

[2019-04-08 16:14] oscarssanchez commented on #1263
Hi @jeffceriello ,

This means you are exceeding the total fields allowed in elasticsearch.  What I would do is look at my post meta table and check out for unused or duplicated meta and clean it. If everything looks ok, then I would only include the important post meta data in the elasticsearch index. Check for example: https://github.com/10up/ElasticPress/issues/1267

[2019-04-08 16:31] #1196 closed

[2019-04-08 16:32] #1265 closed

[2019-04-09 08:24] jeffceriello commented on #1263
Hi @oscarssanchez ,

Thank you so much for your reply.

Could you please point me to the right direction for checking for unused or duplicated meta and cleaning it? Is that something I would do directly in the database? If so, what's the best way to do so?

In the issue #1267 another user says
"In order to reduce the mappings we had to exclude most of our fields which are not required for searches

[2019-04-10 08:14] alifazeli opened #1306 "connect elasticpress to my own elasticsearch server"
Hi
I made an elasticsearch server with kibana based on this toturial
https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elastic-stack-on-centos-7
Now i want to connect elasticpress to my own server
how can i do it?

[2019-04-12 00:10] oscarssanchez commented on #1306
Hi @alifazeli ,

It looks like you should get a localhost:9200 url from what i could briefly check. Simply input that host URL into the settings page and you should be good to go.

[2019-04-12 00:15] oscarssanchez commented on #1263
Hi @jeffceriello ,

You can use ep_prepare_meta_excluded_public_keys to exclude meta. This might help as it was also related to this issue: https://github.com/10up/ElasticPress/issues/1192

Unfortunately i can't really tell which meta should be excluded or deleted since i don't know your site , db and codebase, but one way to go about it is check fields that are similar, for example :_

test_field

[2019-04-12 05:47] flaversaver21 opened #1307 "Plugin breaks woocommerce order tracking when enabled"
Have you searched for similar issues before submitting this one?
- yes

Is this a bug, question or feature request?
- bug

Describe the issue you encountered:
- Plugin enabled, woocommerce order tracking gives error that order doesn't exist. Disable plugin and it works. Start a sync and it will work, but minute the sync ends the error result returns. This happens on both of our woocommerce sites (

[2019-04-12 06:51] flaversaver21 commented on #1307
More info...

When protected content is disabled it works. However, that's not an option for our stores.

[2019-04-12 08:54] alifazeli commented on #1306
tnx for answer
 i add my url to settings and it seems that it connected
but when i click on resync after syncing 16 record i got "an error occurred while syncing:
![image](https://user-images.githubusercontent.com/45519108/56024881-3886a780-5d26-11e9-9b2b-dae0e680b060.png)

[2019-04-12 08:58] alifazeli commented on #1306
is there any log for elasticpress?
apache log:
`[Fri Apr 12 13:23:02.353838 2019] [fcgid:warn] [pid 12708] [client x.x.x.x] mod_fcgid: stderr: #2 /home/mywordpress/public_html/wp-includes/shortcodes.php(199): preg_replace_callback('/\\\\[(\\\\[?)(toko_s...', 'do_shortcode_ta...', '<p>[vc_row full...'), referer: http://mywordpress.com/wp-admin/admin.php?page=elasticpress-settings
[Fri Apr 12 13:23:

[2019-04-17 15:14] elegra-glopez opened #1308 "Get the corrected word"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Question

Describe the issue you encountered:
I want to print on the screen a message like Google "Did you mean..." when the user types a word incorrectly. Is there any way to get which is the word corrected by Elastic? For example, the user searches for 'helloo' and Elastic interprets

[2019-04-18 15:16] #1249 closed

[2019-04-20 17:30] oscarssanchez commented on #1306
Hi @alifazeli ,

Can you please run this command and report back what's the output on your terminal please?

wp elasticpress index --setup --show-bulk-errors

Thanks!

[2019-04-20 17:39] oscarssanchez commented on #1308
I think you will need to write some custom code to add that functionality to your site. Maybe this can be insightful : https://qbox.io/blog/how-to-build-did-you-mean-feature-with-elasticsearch-phrase-suggester

You could definitely tweak the ES query body that elasticpress translate via filters and also retrieve the elasticsearch response.

Kind regards,

[2019-04-20 17:41] oscarssanchez commented on #1305
Closing due to inactiveness, please feel free to open a new issue if this is still not addressed @iDuuck

[2019-04-20 17:41] #1305 closed

[2019-04-20 17:41] oscarssanchez commented on #1307
Thanks for the report @flaversaver21 , we will definitely have a look into it!

[2019-04-20 18:20] alifazeli commented on #1306
tnx for support @oscarssanchez

This is output:
Adding mapping...
Deleting index...
Success: Index deleted
Success: Mapping sent
Indexing posts...

        Processed 43/43 entries. . .
Number of posts indexed on site 1: 43
Total time elapsed: 1٫895
Success: Done!
..............
Its strange, it seems everything is ok in terminal
but from interface i get syncing error yet

[2019-04-22 18:37] oscarssanchez commented on #1307
HI @flaversaver21 just went through the steps to reproduce, could you please let us know which tracking plugin are you using ? thanks

[2019-04-22 19:02] oscarssanchez commented on #1306
Hi @alifazeli , is the content of your site indexed then ?

[2019-04-22 20:55] brandwaffle opened #1310 "Facet custom HTML filter should pass $widget_title for customization purposes"
The filter for custom HTML for facet widgets here https://github.com/10up/ElasticPress/blob/develop-2.x/features/facets/class-ep-facet-widget.php#L236 does not pass in the $widget_title, which makes it impossible to style the HTML using that particular attribute. The filter should pass along the $widget_title as well as the existing HTML + params.

[2019-04-22 21:23] flaversaver21 commented on #1307
Not using a plugin. Our order tracking page is simply using the shortcode for the built in order tracking in Woocommerce.

_WooCommerce has guest tracking built in, but it’s not used anywhere by default. You can add a shortcode to your site to create an order tracking form: [woocommerce_order_tracking]

The tracking form allows guests to enter their order number and email information to revisit or

[2019-04-24 13:53] mgratch commented on #1304
Hi @oscarssanchez any more info on this? I am finally unblocked elsewhere that I will be digging into this, if you or anyone on the team has further insights that might help, I would appreciate it!

[2019-04-24 14:10] elegra-glopez commented on #1308
Thanks @oscarssanchez

[2019-04-24 14:10] #1308 closed

[2019-04-29 10:35] MediaMaquina opened #1311 "Decimal ignored when sorting query by numeric meta"
Hi, i have a meta_key that stores ratings, they are decimal numbers from 1 to 5 so: 4.8, 4.2, 2.5, etc.

The problem is i'm trying to display posts sorted by this meta DESC and it's **ignoring everything after the decimal point**. I mean it shows all posts with "4.x" first in any order then all with "3.x" also in any order and so on:
4.**2**
4.**8**
2.5

 I have tried switching 'type' to 'numeric'

[2019-04-30 01:41] MWDelaney opened #1312 "Searching multiple indexes, permalinks all use current site URL"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Question

Describe the issue you encountered:
I'm trying to use ElasticSearch to search multiple sites at once (multiple indexes). This is working well! Results are shown from all indexes, but the permalinks all use the base URL of the current site. How can I access the indexed permali

[2019-04-30 02:43] oscarssanchez commented on #1304
Hi @mgratch  i traced down the problem to this line: https://github.com/10up/ElasticPress/blob/develop-2.x/features/facets/facets.php#L292

I have not yet come with an approach to solve the issue, but if you have one that would be great.

Kind regards,

[2019-04-30 04:27] MWDelaney commented on #1312
I guess another way to phrase my question is: how do I access the ElasticPress results (specifically the permalink) from inside a loop? I don't want to use WordPress functions because they'll only work within the context of the site I'm on. I just want the raw field that ElasticPress has.

[2019-05-01 14:24] rferguson10 opened #1313 "Using standalone wp_query doesn't seem to be instantiating ES"
Have you searched for similar issues before submitting this one?
YES

Is this a bug, question or feature request?
Question

Describe the issue you encountered:

Current WordPress version:
5.1.1

Current ElasticPress version:
2.8.2

Current Elasticsearch version:
6.2.0

Where do you host your Elasticsearch server:
localhost:9200

Other plugins installed (WooCommerce, Simple Redirect Manager, etc..)

[2019-05-05 01:50] oscarssanchez commented on #1307
Hi @flaversaver21 ,

Just had an opportunity to give this a shot again.

This is what i did on my end:

1.-  Checkout with payment option "pay with cash on delivery"
2.- Do an elasticpress sync
3.- Browse test tracking page and search for order
4.- Order appears
5.- Check other pages are using elasticsearch

Does this apply for all of your orders? Am I missing something out with my testing?

Thank

[2019-05-05 03:35] flaversaver21 commented on #1307
Yeah, it's every single order and we have thousands of orders. Your instructions don't really apply to our problem. To be clear, when the elasticpress plugin is enabled, I can't track orders. When the plugin is doing it's sync, the order tracking works. However, the second the sync completed order tracking breaks again. If you want I can show you on our live store.

[2019-05-06 08:02] vadimbk opened #1315 "WPML: create separate index for every language"
Have you searched for similar issues before submitting this one?
I have found a temporary solution at https://wordpress.org/support/topic/wpml-and-custom-post-types/ but it doesn't work (maybe because of current wp version incompatibility.

Is this a bug, question or feature request?
It's a feature request

Describe the issue you encountered:
I have a site with 3 languages. Current EP plugin index

[2019-05-07 03:25] pmgarman commented on #1304
@oscarssanchez any idea why these views intentionally are not facetable? @tlovett1 looks like that may be your code there any insights you can provide as to why it was disabled so we can find a solution to make it work? Facets aren’t much use if they can’t facet. Having no facets on critical areas like these make this a non starter for us.

[2019-05-10 12:16] spacedmonkey opened #1316 "Add to Site health"
In WordPress 5.2, the site health feature was added. This allows users to see information about the server in which sites are running on.

This feature has a filter, for plugin developers to add other checks on the site. See [this filter](https://github.com/WordPress/WordPress/blob/6ac1d4ec1a4e008d29ee50b931c0e0816505f6cd/wp-admin/includes/class-wp-site-health.php#L1843).

It would be a great feat

[2019-05-13 08:02] tonybahama commented on #744
Hi! What filter should I use to filter product tags?

[2019-05-13 15:15] ratputin commented on #1105
Any word on when compatibility will be 100%? Or have you considered adding an option to dismiss the notice?

TIA!
KO

[2019-05-13 17:26] davidhefley opened #1317 "WP-CLI Issue with stats and status"
Have you searched for similar issues before submitting this one? YES

Is this a bug, question or feature request? BUG

Describe the issue you encountered:
If I don't have user indexing enabled, and I try to do a wp-cli elasticpress stats or wp-cli elasticpress status, I get:

Fatal error: Uncaught Error: Call to a member function get_index_name() on boolean in /var/www/html/wp-content/plugins/elas

[2019-05-13 19:21] tlovett1 commented on #1317
Thanks for the report @davidhefley. We are looking into this.

[2019-05-13 19:54] #1317 closed

[2019-05-14 09:39] trilobita99 opened #1319 "WP-CLI posts-per-page parameter issue"
Have you searched for similar issues before submitting this one? Yes

Is this a bug, question or feature request? Bug

Describe the issue you encountered:
have updated to EP3. Error when using wp-cli :-

[code]

Current WordPress version: 5.2

Current ElasticPress version: 3

Current Elasticsearch version: 6.7.1

Where do you host your Elasticsearch server: Local

Other plugins installed (WooComme

[2019-05-14 14:18] tlovett1 commented on #1319
Hey @trilobita99, `posts-per-page` has been renamed to `per-page`. We'll make sure the docs get corrected.

Thanks!

[2019-05-14 14:41] tlovett1 commented on #1316
Great idea.

[2019-05-14 14:41] tlovett1 commented on #1315
This could be accomplished with the indexables API in version 3.0.

[2019-05-14 14:42] tlovett1 commented on #1313
This should work. Are you testing via the Debug Bar ElasticPress plugin?

[2019-05-14 14:43] brandwaffle commented on #1319
@tlovett1 the docs are correct but perhaps we should call out that this flag has changed explicitly in the readme? I can take the action item if you agree.

[2019-05-14 14:44] tlovett1 commented on #1312
Permalink isn't stored in Elasticsearch. You need to use the WP function or store the URL as a special field in Elasticsearch via custom code.

[2019-05-14 14:49] tlovett1 commented on #1319
I already added it to the readme

[2019-05-14 14:49] trilobita99 commented on #1319
Thanks. --per-page works like a charm.

[2019-05-14 14:49] #1319 closed

[2019-05-14 15:28] tlovett1 commented on #1304
Hey @pmgarman, sorry for the delay. I'm not 100% sure why I did it this way. My guess is it just introduces more complexity when you should facets on a tax archive e.g. can't show a facet for the taxonomy you are on. I'll try to put together a quick fix.

[2019-05-14 15:38] davidhefley opened #1320 "REST Search includes attachments"
Have you searched for similar issues before submitting this one? YES

Is this a bug, question or feature request? BUG

Describe the issue you encountered: When you search with the REST api, attachments are included if document indexing feature is enabled and querying a custom post type

Current WordPress version: 5.2

Current ElasticPress version: 3

Current Elasticsearch version: 6.3

Where do yo

[2019-05-14 16:09] brandwaffle commented on #1304
@tlovett1 @pmgarman @mgratch we pushed a potential fix for this in https://github.com/10up/ElasticPress/pull/1301 and it looks like it worked for those who tested. @pmgarman @mgratch does that address the issue or is there something else we need to fix as well?

[2019-05-15 03:09] tlovett1 commented on #1320
Thanks @davidhefley. We'll get this fixed.

[2019-05-15 14:31] vadimbk commented on #1315
When you plan to launch ver.3.0?

[2019-05-15 22:23] columbian-chris opened #1323 "find_related() not limiting after 3.0 update"
After installing the 3.0 plugin update, I was getting errors using the old `ep_find_related()` function that was working before, so I updated my code using `ElasticPress\Features::factory()->get_registered_feature('related_posts')->find_related( $post->id, 3 )` but it's no longer limiting the posts returned to 3 for some reason.  Anybody else experiencing this issue?

I disabled plugins, reindexed

[2019-05-16 00:05] flaversaver21 commented on #1307
I tested Elasticpress 3.0 plugin and got the exact same results. I can provide direct access to this site for troubleshooting.

Also, the error specifically says: Sorry, the order could not be found

We do use custom order numbers. I'm guessing it simply doesn't know where to find the order number. If I disable elasticpress, this works. So elastic "protected content" is causing this problem.

[2019-05-16 14:15] tlovett1 commented on #1323
@columbian-chris how many posts are you getting? It works for me, but it's worth mentioning the widget caches output for an hour. So if you change the limit it takes awhile to reflect. We need to implement smarter cache invalidation.

[2019-05-16 14:39] vnmedeiros opened #1324 "Translate fields of orderby (.raw, .value, .sortable)"
Hi all.

The documentationsays that the resulting path to sorting by metadata is: `meta.my_key.raw`:

But, in method `parse_orderby` of class User (User.php) on line 573 we have:
[code]
As you see, the resulting path ends with `.value` (not as described in documentation).

In my tests, sorting by a metadata value is not working, unless use the filter `ep_formatted_args` and fix it to user `.value.

[2019-05-16 15:22] columbian-chris commented on #1323
@tlovett1 It's returning 1,494 posts. The site has 2,679 published posts in it. I refreshed it just now (the next day) and it returned the same amount, so the caching hour appears to be up.

[2019-05-16 17:18] jeffpaul opened #1325 "WordPress.org profile updates"
**Have you searched for similar issues before submitting this one?**

Yes.

**Is this a bug, question or feature request?**

Neither?  More like documentation.

**Describe the issue you encountered:**

- [x] update header image
- [x] update byline to 10up only
- [x] move remaining byline authors to contributors section

Current WordPress version: 5.2

Current ElasticPress version: 3.0

Current Ela

[2019-05-16 19:42] MarioKnight opened #1327 "No posts found after 3.0 update"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
In the WordPress dashboard, navigating to "All Posts" shows "No posts found" in the body yet the counts for all, mine, etc, are correct.  Going to the blog page yields an error rather than the post listings.

Current WordPress version:
5.2

Curr

[2019-05-17 06:45] tgijasonyip opened #1328 "The v2.8.2 of the plugin disappeared on WordPress Plugin website"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Question

Describe the issue you encountered:
I am using composer to download plugins from WordPress Official plugin website. I found that the v2.8.2 of the plugin no longer exist after the v3.0 is released.
Although it is still possible to get the version via GitHub, I wonder why the

[2019-05-17 07:02] tgijasonyip opened #1329 "warning made by the function addcslashes inside ep_register_feature function"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
There is a PHP warning - "Warning: addcslashes() expects parameter 1 to be string, array given in /var/www/html/wp-content/plugins/elasticpress/includes/compat.php on line 60" made by the function call - addcslashes which is called inside ep_reg

[2019-05-17 16:50] tlovett1 commented on #1329
This will be fixed in 3.0.1. Thanks!

[2019-05-17 17:25] tlovett1 commented on #1327
What EP features do you have active? Did you try reindexing? I am unable to reproduce.

[2019-05-17 17:27] tlovett1 commented on #1323
Can you install the EP Debug Bar and show us the query info from there? I'm not able to reproduce this.

[2019-05-17 20:27] columbian-chris commented on #1323
Host: http://192.168.33.10:9200
Time Taken: 93 ms
URL: http://192.168.33.10:9200/columbiantest-post-1/post/_search
Method: POST
Headers:
array(1) {
  ["Content-Type"]=>
  string(16) "application/json"
}
Query Args:
array(66) {
  ["more_like"]=>
  int(1876868)
  ["posts_per_page"]=>
  int(3)
  ["ep_integrate"]=>
  bool(true)
  ["error"]=>
  string(0) ""
  ["m"]=>
  string(0) ""
  ["p"]=>
  int(0)

[2019-05-17 20:40] MarioKnight commented on #1327
I reindexed after the 3.0 update with no issues.  I reactivated the plugin and the behavior occurred right away, and remained after another reindex.  The EP features that are active are:

* Post Search
* Protected Content
* WooCommerce
* Facets

[2019-05-18 23:28] mediasecure commented on #1323
I use the function in functions.php (from theme)

`ElasticPress\Features::factory()->get_registered_feature( 'related_posts' )->find_related( get_the_ID(), $return = 4 );`

get_the_ID() instead of $post->id

[2019-05-20 04:01] #1320 closed

[2019-05-20 04:02] #1329 closed

[2019-05-20 09:36] kevin25 opened #1331 "ElasticPress doesn't work with Yith Ajax Filter"
__Have you searched for similar issues before submitting this one?__

Yes, I have
__Is this a bug, question or feature request?__

Bug
__Describe the issue you encountered:__

The Ajax Filter By Yith doesn't work anymore.

__Current WordPress version?__

5.2

__Current ElasticPress version?__

3.0
__Current Elasticsearch version?__

2.4.6
__Where do you host your Elasticsearch server?__
Local host

[2019-05-20 17:10] columbian-chris commented on #1323
@mediasecure In the context of where I'm calling the method, `get_the_ID()` is returning the same value as `$post->id` and they're both the expected/correct value, so that isn't it.

No success after plugin upgrade to 3.0.1, even trying the now reintroduced and now deprecated `ep_find_related()` function. It's still returning a massive amount of posts.

[2019-05-20 17:51] columbian-chris commented on #1323
Again tried deactivating all plugins and this time switching to twenty nineteen theme, still returning 1,494 posts. Downgraded plugin back to 2.8.2 and reindexed and it appears to be working fine again, only returning the expected 3 posts.

[2019-05-21 09:51] rekkitatu opened #1332 "Installing Elasticpress prevents searching orders with customer name"
I noticed that when I have Elasticpress installed there are some issues with orders view in the backend. For example searching the orders by customer name isn't working when Elasticpress is active (protected content featured disabled). If I enable the protected content indexing, then the search with customer name does work but with this setting I'm also seeing problems where filtering orders by st

[2019-05-21 17:15] tlovett1 commented on #1328
This is fixed.

[2019-05-21 17:15] #1328 closed

[2019-05-22 09:08] gassan opened #1333 "assets/css/autosuggest.css contains less/scss code"
Should the file be compiled or renamed?

[2019-05-22 09:09] gassan commented on #1333
The same with dashboard.css

[2019-05-22 09:44] gassan opened #1334 "ep_retrieve_the_post filter missing"
__Current ElasticPress version?__
3.0.1

its not possible to retrieve the scores.

[2019-05-22 10:42] #1334 closed

[2019-05-22 13:57] tlovett1 commented on #1333
Compiled assets are in `dist` now.

[2019-05-22 17:00] columbian-chris commented on #1323
Can confirm this is happening on both my local vagrant environment and on a Pagely production server. This is seriously not happening to anyone else ??

[2019-05-22 22:02] cmmarslender opened #1336 "User/Author data is not indexed for posts"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Bug

__Describe the issue you encountered:__
When indexing, userdata is always just an empty array.

__Current WordPress version?__
5.2.1

__Current ElasticPress version?__
develop

__Current Elasticsearch version?__
5.6.5

__Where do you host your Elasticsearch server?__
WP Lo

[2019-05-22 22:06] #1336 closed

[2019-05-23 07:42] gassan commented on #1333
imho renaming sources to *.pcss would be a better option.

![Bildschirmfoto 2019-05-23 um 09 26 59](https://user-images.githubusercontent.com/2382015/58234505-fa29d280-7d3e-11e9-9665-96010f75b912.png)

[2019-05-23 07:44] gassan commented on #1333
![Bildschirmfoto 2019-05-23 um 09 43 58](https://user-images.githubusercontent.com/2382015/58234640-4e34b700-7d3f-11e9-8b18-8203deca5e7e.png)

[2019-05-23 09:36] nasyrov opened #1339 "Fix php errors please!!!!11111111111"
Hi guys,

Thanks for the amazing plugin!

Could you please fix php issues in `DateQuery`?
I actually made a PR #1338 to fix those...

Thanks,
Evgenii

[2019-05-23 09:41] nasyrov commented on #1339
`DateQuery` class is unusable, I cannot construct date related queries

[2019-05-23 09:42] pinpin0528 opened #1340 "Please tell me how to limit results to the searched word."
When someone searches for a bank, I want to display the searched word “bank.”
However, now all words including “bank” are displayed.
I tried the parameter fuzziness, but I didn't get what I wanted.
I don’t know how to set it up.

[2019-05-23 13:01] GhostToast commented on #1225
@tamara-m I'm curious what your fix was ultimately

[2019-05-23 13:47] tlovett1 commented on #1339
@nasyrov I pushed fixes to develop. Can you test?

[2019-05-23 13:50] tlovett1 commented on #1339
Also, what are the WP_Query args you are using to reproduce the error?

[2019-05-23 13:52] nasyrov commented on #1339
Thanks for that, why not use the php use statments for that?

[2019-05-23 13:53] nasyrov commented on #1339
[code]

[2019-05-23 14:03] nasyrov commented on #1339
[code]

It's called singleton not factory, factory will new up an instance on every call...
I would suggest renaming to `instance` and `static $instance = false;` what is that?

[code]

[2019-05-23 15:09] tlovett1 commented on #1339
Hey @nasyrov, I agree we could improve the use statements. For now I'm going to close this. Thanks!

[2019-05-23 15:09] #1339 closed

[2019-05-23 15:19] binaryfire opened #1341 "Multisite"
__Have you searched for similar issues before submitting this one?__ yes

__Is this a bug, question or feature request?__ question

__Describe the issue you encountered:__

Hi all!

I've been reading other threads re: multisite but I'm still not clear on what the best approach would be for my setup. The thread at https://github.com/10up/ElasticPress/issues/1041 answers my questions about compatibi

[2019-05-24 08:54] gassan commented on #1333
hmm. gulp task cssclean could also be removed

[2019-05-25 20:47] tamara-m commented on #1225
@GhostToast it ended up being something else entirely. Although I started looking at that filter, in the end I got the standard 's' search to work (which didn't at that time), and so I didn't need to take care of matching the cases. In case it helps, what I did was add the taxonomy to the 's' search fields like this:

[code]
Hope this helps.

[2019-05-27 08:07] traed opened #1346 "WooCommerce price filter widget doesn't work after 3.0 update"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Bug

__Describe the issue you encountered:__
The WooCommerce price filter widget isn't working after updating to EP 3.0. The query params min_price and max_price are added to the URL but EP seems to ignore these. Looking at the query using debug bar there is no price filtering

[2019-05-27 14:47] oscarssanchez commented on #1346
Hi @traed ,

Just did a PR a couple of days ago to integrate the query with ES https://github.com/10up/ElasticPress/pull/1342. Would you mind doing some testing?

[2019-05-28 19:44] allan23 commented on #1290
Hello @aluferraz,

Please let me know if I understand your issue correctly:

- Faceting using `filter_pa_brand` works correctly.
- When you modify the facet name to match the WooCommerce filter it does not.

Is this correct?

[2019-05-28 19:50] aluferraz commented on #1290
Hello @allan23,

Faceting using filter_pa_brand works correctly.
Faceting using filter_brand it doesn't.

The taxonomy identification was different on ElasticPress comparing it with woocommerce's wc-query.

[2019-05-28 19:51] allan23 commented on #1290
I see.
You also submitted a pull request to resolve this.

Can you refactor it for the latest version of ElasticPress (3.x)?

[2019-05-28 19:54] allan23 commented on #1293
Hello @harslannet,

Have you upgraded to the latest version of ElasticPress?

[2019-05-28 20:01] allan23 commented on #1275
Hi @bwcorey,

Are you still experiencing this issue with the latest version of ElasticPress?

[2019-05-29 13:47] oscarssanchez commented on #1286
Hi @aluferraz ,

Just had a chance to look at this. It looks like the meta field did not make the mapping. This could be many reasons, you could have a lot of meta keys it exceeds the field limit on Elasticsearch and it just ignores putting this key into mappings, maybe it is a protected meta, etc.

My first recommendation is to do a WP CLI index to check if there's any issues with the field limit

[2019-05-29 13:52] yannux commented on #722
Hi,
I had those Notice during test of the v3.
I find cleaner solution ( I think/hope ) than one in Command.php stop_the_insanity();

Hooked in `ep_wp_cli_pre_index` with :
[code]

Then no need to check for :
[code]

If that can help clean unwanted Notice :)

Sorry if it's bad too comment this closed issue

[2019-05-29 13:53] oscarssanchez commented on #1281
Hi @iDuuck ,

Just had some time to check this again.

Two questions:

- Have you checked if the issue persists on ElasticPress 3.0?
- If it still is an issue, are you able to reproduce this on other environments and can give us instructions on how we can reproduce as well?

Thanks

[2019-05-29 14:37] maidulcu commented on #1315
I find a work around
add_filter( 'ep_index_posts_args', 'index_posts_args');
function index_posts_args($arg)
  {
    $arg['suppress_filters'] = true;
    return $arg;
  }
This will index all other languages too.

[2019-05-29 15:27] maidulcu commented on #1315
Also if i index multiple custom post, some post did not index.

[2019-05-29 23:34] oscarssanchez commented on #1292
Just pushed a fix @Salamander3 , could you test if you have some time ?

[2019-05-30 01:02] oscarssanchez commented on #1274
Hi @schneyra ,

Per reading documentation on More like this https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html

It looks like the cause may be here on max_query_terms as documentation states:

max_query_terms: The maximum number of query terms that will be selected. Increasing this value gives greater accuracy at the expense of query execution speed. Defaults

[2019-05-30 14:39] bwcorey commented on #1275
After updating the plugin to version 3.0.2 I can confirm that this issue is no longer present.

[2019-05-30 17:56] rpovelones opened #1348 "ep_search_request_path filter no longer available in 3.0"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Question

__Describe the issue you encountered:__
I've noticed the `ep_search_request_path` that was previously available in version 2.8 is no longer available in version 3+. I was using this filter to change the index ElasticPress searches to one or more indexes. Is there any

[2019-05-30 19:33] thesquaremedia opened #1349 "Combined ES query and types question."
__Have you searched for similar issues before submitting this one?__
yes
__Is this a bug, question or feature request?__
question
__Describe the issue you encountered:__
So in the latest version are post and users set as different types in the same index? I see that post/_search and then user/_search. I thought newer versions of elastic search since 6.0 query getting rid of multiple types. is ther

[2019-05-31 05:45] flaversaver21 commented on #1307
Any further help here? We're happy to pay to get some type of support because it's a major drag on our customers at current and this plugin is the direct cause.

[2019-05-31 08:30] ShakaDiVirgo opened #1350 "Problem with ep_post_sync_kill (exclude from index post in import script)"
__Have you searched for similar issues before submitting this one?__
Yes and I've found a nice function but doesnt work with my script
__Is this a bug, question or feature request?__
It could be a bug (but I dont know if it depens on my script or something else)
__Describe the issue you encountered:__
I've write a script that import POST in WP. Some post dont need to be indexed so I've added to th

[2019-05-31 09:05] aaemnnosttv opened #1351 "Fatal error with ep_post_sync_kill filter in 3.0"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
~~undocumented backwards compatibility change~~ this is documented in the changelog for v3.
I would say this is a bug as it is a simple (yet serious) error to mitigate.

__Describe the issue you encountered:__
After upgrading to v3, I get a fatal error from a callback for the `

[2019-05-31 09:24] aaemnnosttv commented on #1351
I see now that this change is in the changelog for v3.

Perhaps a `$post_id` should be passed twice for semi-backwards compatibility? At least to not fatal error here?

[2019-05-31 17:04] beannt commented on #1307
I have the same problem too, I use Woocommerce sequential order numbers pro plugin, and not work when track order, is there any way to disable Elastic search on track-order page ?

[2019-05-31 18:48] brandwaffle commented on #1307
@flaversaver21 @beannt we have seen this recently with the Sequential Order Numbers plugin because the metadata from that plugin that contains the custom order number meta is not synced by default to ElasticPress (I believe because it's set as non-public meta).

We are working on a solution that will work in the majority of use-cases, but if you'd like a temporary solution I believe that adding th

[2019-05-31 19:12] flaversaver21 commented on #1307
How do we add that meta to ElasticPress sync?

[2019-05-31 20:29] thesquaremedia commented on #1349
I think I managed to get it working. question how can I override the Post Indexable either as a whole or the QueryIntegration Portion of things?

[2019-05-31 21:10] thesquaremedia commented on #1349
Just looking for confirmation but looks like adding the modify classes in the theme and running `Indexables::factory()->register( new CUSTOM_NS\Indexable\Post\Post() );` seems to override the plugins classes for the Post

[2019-05-31 22:46] brandwaffle commented on #1307
@flaversaver21 there's a filter you can use here https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L392 ( 'ep_prepare_meta_allowed_protected_keys' ).

You'll want to add the key name of the custom order ID meta and return it out of that filter.

P.S. I also reached out to you via LinkedIn in case a quick call might be helpful.

[2019-06-01 00:19] flaversaver21 commented on #1307
I’m not sure what the “key name of the custom order ID” would be.  I looked through the db, but nothing jumps out at me. Any guidance here?

[2019-06-01 03:24] #1351 closed

[2019-06-01 03:36] #1333 closed

[2019-06-01 03:39] tlovett1 commented on #1348
You can use https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L634. However, we will readd in 3.0.3. Thank you!

[2019-06-01 15:01] rmccue commented on #238
With ElasticPress' 3.0 update introducing Indexables, is comment support under way already? I see it mentioned in the docs and the 3.0 blog post.

[2019-06-01 21:28] #1306 closed

[2019-06-01 21:29] oscarssanchez commented on #1310
Closing via #1330

[2019-06-01 21:29] #1310 closed

[2019-06-01 21:33] oscarssanchez commented on #1331
Hi @kevin25 , there's #1342 which integrates the default woocommerce price filter. You can always adapt to your needs as this uses get parameters to build the query.

Kind regards.

[2019-06-01 21:36] oscarssanchez commented on #1340
Hi @pinpin0528 ,

This has been addressed a couple of times. Please refer to : https://www.elasticpress.io/blog/2019/02/custom-search-with-elasticpress-how-to-limit-results-to-full-text-matches/

Kind regards,

[2019-06-03 13:18] rpovelones commented on #1348
Great! Thanks Taylor. I'll wait for 3.0.3 before upgrading.

[2019-06-03 19:41] allan23 commented on #1313
@rferguson10 can you advise?

[2019-06-03 19:43] allan23 commented on #1275
Great to hear.

[2019-06-03 19:43] #1275 closed

[2019-06-03 19:43] rferguson10 commented on #1313
I was trying to just query it in the template, or functions.php as it says in my description. I've since written a separate class that interfaces with ES directly.

[2019-06-03 19:44] #1313 closed

[2019-06-03 19:47] allan23 commented on #1349
@thesquaremedia were you able to resolve your issue?

[2019-06-03 19:51] allan23 commented on #1311
Hi @Salamander3, can you give an example of a product object from elasticsearch that has that meta?
I just want to be sure that I am using the same test cases as you.

[2019-06-03 19:53] #1283 closed

[2019-06-03 19:53] thesquaremedia commented on #1349
hi yes it seems I was able to do what I was trying. to do. I manage to load my own customize Post indexable. and then I use the filter to skip the default post querying from running. as to not have two queries running at the same time. might be good to provide a way to load a developers customize version of the Post indexable class to change methods that don't have filter.

[2019-06-03 19:54] #1349 closed

[2019-06-04 12:01] #1348 closed

[2019-06-04 12:29] traed commented on #1346
@oscarssanchez See my comment on the PR

[2019-06-04 16:28] MarioKnight commented on #1327
I've kept this plugin disabled, but after 3.0.3 was released, I was hoping that maybe things would get going again.  And I've actually got everything back to working as intended!  A reindex after activating the plugin didn't help, so my plan was to disable a feature and reindex to see if I could determine if it was a feature.  I started with WooCommerce and the posts were still missing, but when I

[2019-06-04 16:28] #1327 closed

[2019-06-04 17:43] kaka0502 opened #1354 "While wp-cli sync running, search is not disabled to use ElasticSearch"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Bug

__Describe the issue you encountered:__
When issuing WP_CLI sync command i.e. `wp elasticpress index` from the terminal, it used to disable searching using ElasticPress and rather searching in the database. Seems at some point this got changed.
Seems the check here is only

[2019-06-05 16:14] skynet opened #1356 "Elasticsearch version 6.8.0 and 7.1"
Any plans or timeline for making ElasticPress work with latest versions of Elastichsearch?

[2019-06-05 21:35] zhehedream opened #1357 "No mapping found for [order] in order to sort on"
No matter what I did, it always returned with "HTTP 400, No mapping found for [order] in order to sort on"

Args:

array(73) {
  ["s"]=>
  string(3) "pop"
  ["error"]=>
  string(0) ""
  ["m"]=>
  string(0) ""
  ["p"]=>
  int(0)
  ["post_parent"]=>
  string(0) ""
  ["subpost"]=>
  string(0) ""
  ["subpost_id"]=>
  string(0) ""
  ["attachment"]=>
  string(0) ""
  ["attachment_id"]=>
  int(0)
  ["nam

[2019-06-05 21:53] zhehedream commented on #1357
seems to be an issue of theme. close now...

[2019-06-05 21:53] #1357 closed

[2019-06-10 10:34] Salamander3 commented on #1311
Aw sorry fro delay long time i don't touch this and i forgot how to get you the info.
Could you remind me where i can get it so i can do it please?

[2019-06-10 10:37] Salamander3 commented on #1292
@oscarssanchez I'm sorry i was away. Back now,  How can i get the fix for testing?

[2019-06-10 16:26] ekandreas commented on #1323
We have to adjust the count after the feature query. Sometimes it gives more posts than expected.

This is a hack:
[code]

[2019-06-10 18:37] columbian-chris commented on #1323
@ekandreas Has the query in ElasticPress 3 changed? Why is it sometimes giving more posts than expected? Should that be considered a bug? I should emphasize that in the environments I've tested in, it's not just giving a few more posts than expected here and there; we're talking over a thousand every time.

[2019-06-11 07:45] ekandreas commented on #1323
I'm so sorry, but I just wanted to answer your question if this happens for anyone else.
In development this is not an issue but in our production environments we get more than specified posts in return.

[2019-06-11 15:39] nicolinuxfr commented on #1332
Same problem here, using WooCommerce 3.6.4, ElasticPress 3.0.3 and ElasticSearch 6.7.2.

Let me know if you need more information.

[2019-06-11 15:54] nicolinuxfr commented on #1356
I'm trying to use ElasticPress with ElasticSearch 6.8.

Indexing and search features seem to work fine, so I was wondering : is there something I should know and maybe wait until an update ?

[2019-06-11 21:28] allan23 opened #1360 "Multisite: Not Allowed to Access Page After Sync"
__Is this a bug, question or feature request?__
Bug

__Describe the issue you encountered:__
As an end user on a WordPress 5.2.1 multisite, when I try to run a dashboard sync from the ElasticPress dashboard (network page), I get redirected to a URL that displays:
`Sorry, you are not allowed to access this page.`

This is due to a bug in ElasticPress where if the EP Intro page is not shown, the use

[2019-06-12 14:30] fabianmarz commented on #1251
Looking at the [autosuggest.js](https://github.com/10up/ElasticPress/blob/develop/assets/js/autosuggest.js#L331-L334) code, there's currently no option to customise the search results.

[2019-06-12 16:18] madrid1979 commented on #990
This is maddening. Where do i add `sites => all` in my `WP_Query`? Sorry, I've been looking everywhere for this, and I'm coming up with nothing. Would be ideal if you just added a checkbox or something that enabled this.

[2019-06-12 20:29] columbian-chris commented on #1323
I have discovered what just might be the culprit.

It appears to be adding sticky posts into the results. I have 1,490 sticky posts. When I ask it to return 5 related posts, it returns 1,495. When I ask it to return 8 related posts, it returns 1,498.

Can anyone repeat this on their end?

[2019-06-12 20:52] brandwaffle opened #1364 "Bump js-yaml and lodash versions in 3.1"
When we launch 3.1 we should also ensure that we bump the versions of js-yaml and lodash to address the vulnerability warnings we're getting.

https://github.com/10up/ElasticPress/network/alerts per @jeffpaul we can do this by setting up the automated security PRs and checking if they merge correctly.

[2019-06-12 20:55] columbian-chris commented on #1323
I added `'ignore_sticky_posts' => true` to the `$args` in the `find_related()` method in /elasticpress/includes/classes/Feature/RelatedPosts/RelatedPosts.php (line 89 in 3.0.3) and now my issue is fixed.  Is there any reason why adding that argument might be not be a good idea?

I'd like to add that in comparing the `ep_find_related()` method in 2.8.2, the code looks identical to the `find_related

[2019-06-13 06:48] msh134 opened #1365 "Multisite: One of the sites is not indexing."
__Have you searched for similar issues before submitting this one?__
Yes
__Is this a bug, question or feature request?__
Question
__Describe the issue you encountered:__
I am trying to integrate Elasticpress in a multisite environment where we have 4 sites. When I manually index from the dashboard the progress bar shows all sites are indexed. But when I look into the Elasticsearch's index listing

[2019-06-13 18:54] Salamander3 opened #1366 "How to call facets widget on 3.0.3 ?"
Hi dumb question, on 2.8.2 i used to call facets like this:

[code]

But now i updated the plugin it stopped rendering, i think the widget changed name but, i can't figure the new name. The old class was EP_Facet_Widget but now it's just "Widget" and it doesn't work, also tried ep-facet but no deal.

How can i make my code work with the new version?

[2019-06-17 07:15] fabianmarz commented on #1251
As I'm blocked by this issue I came up with the following approach:

[code]

As triggerHandler will return `undefined` in case no handlers are triggered I'm using the common practice pattern to assign a default value.

See [docs](http://api.jquery.com/triggerhandler/) for more informations.

@oscarssanchez, @tlovett1 what's your opinion about this?

[2019-06-17 15:10] oscarssanchez commented on #1293
Closing for now @harslannet

[2019-06-17 15:10] #1293 closed

[2019-06-17 15:12] oscarssanchez commented on #1286
Closing for now @aluferraz  please feel free to open a new issue if the issue persists. Thanks

[2019-06-17 15:12] #1286 closed

[2019-06-17 15:12] oscarssanchez commented on #1281
Closing for now @iDuuck  please feel free to open a new issue if the issue persists. Thanks

[2019-06-17 15:12] #1281 closed

[2019-06-18 19:41] tott commented on #334
Will prep a MR to actually resolve this internally at least in WP-CLI through \WP_CLI\Process->run() In this way we can invoke a command for each site and ensure it runs with proper environment set up

[2019-06-19 10:50] msh134 commented on #1365
I finally found the issue and resolved it. The issue was with the index name. One of the sites in the network had uppercase letters in the URL. So, when EP tried to send mapping for this site, ElasticSearch threw an error telling that index names must be in lower case. So, I used the 'ep_index_name' filter to change the case of the index name to lower and after that the sync worked perfectly.

[2019-06-19 10:50] #1365 closed

[2019-06-20 08:03] mnazwan opened #1370 "Hitting error when saving changes through dashboard"
__Is this a bug, question or feature request?__
Bug

__Describe the issue you encountered:__
Hitting javascript error in console whenever I try to change and save settings through the dashboard. Chrome 74.0.3729.169.

__Current WordPress version?__
v4.8.3

__Current ElasticPress version?__
v3.0.3

__Current Elasticsearch version?__
v6.5.4

__Where do you host your Elasticsearch server?__
bonsai.io

[2019-06-20 20:46] brandwaffle opened #1373 "Display an admin warning if nodes < 2"
Per the Elasticsearch best practices we should show a notice to users in the Admin Dashboard if they're running an Elasticsearch setup with only 1 node. Using our new notice system, this should be dismissable in the Admin but mandatory on ElasticPress dashboard screens.

In general, this warning should notify if status != green (a single node automatically triggers yellow status).

We also want to

[2019-06-22 15:04] psorensen commented on #1366
@Salamander3 Try using the full namspace:

[code]

[2019-06-22 19:32] oscarssanchez commented on #1307
Hi @flaversaver21 ,

If you have access to debug tools, I think the fast way (at least for me) could be to update a random order that matches this scenario, and set a breakpoint here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable.php#L296

This way you can check all meta related to that specific order.

Kind regards,

[2019-06-23 07:08] ServeMe opened #1375 "High CPU Usage"
this seems like a bug but I am not sure
When my website have a 50 request concurrently Elasticsearch goes creasy and consumed a lot of CPU this is wired because I don't have that huge index 500MB only

Elastic search version
6.8.1
Wordpress Version
4.9.6
ElasticPress Version
3.0.3
I use only the search feature from ElasticPress and I have elasticsearch on my server
to repreduce, the problem use ab

[2019-06-24 09:17] andersrehn commented on #1370
Was also struggling with this issue. As it turns out there are more features not working. Once you get the save to not give console errors the dashboard does not actually save any values.

Here is a quick fix that will work using a filter until the PR is solved.

[code]

`$allowedtags['a']['data-feature'] = true;` is from your PR #1372

`$allowedtags['input']['data-field-name'] = true;` makes it p

[2019-06-24 14:03] mforbak opened #1376 "400 error - bad request on WooCommerce categories"
__Have you searched for similar issues before submitting this one?__
Yes, I have found [#1097](https://github.com/10up/ElasticPress/issues/1097) but unresolved.

__Is this a bug, question or feature request?__
bug

__Describe the issue you encountered:__
Every request on WooCommerce archive pages (shop page, categories, tags, size archive) returning **400 Bad Request**

__Current WordPress version

[2019-06-24 14:30] mforbak commented on #1376
Ok, I probably found the issue. The issue occurs when sort by popularity is default. All other sorting options works fine, but popularity not.

![image](https://user-images.githubusercontent.com/12497013/60027205-4dc07080-969d-11e9-846a-c70067ef32c9.png)

[2019-06-25 00:46] extremeshok opened #1377 "elasticsearch-elasticpress docker"
Just a little heads up.

We have developed a docker container with elasticsearch which can be used for dev, testing or production

* https://hub.docker.com/r/extremeshok/elasticsearch-elasticpress
* https://github.com/extremeshok/docker-elasticsearch-elasticpress

### Notes
[code]
### Plugins
[code]

[2019-06-25 08:58] Salamander3 commented on #1366
@psorensen This works great after re-sync. Thanks.

Solved then.

[2019-06-25 08:58] #1366 closed

[2019-06-26 16:40] Salamander3 commented on #1257
Since 3.03 my code above doesn't work any more.
I'm only trying to filter search by post type.
Like so:

`/?s=query&post_type=amazing_type`

But it doesn't do it. Why?

[2019-06-26 19:15] Salamander3 opened #1379 "/?post_type=ignored"
__Have you searched for similar issues before submitting this one?__
I think it's related to:  https://github.com/10up/ElasticPress/issues/1257 and https://github.com/10up/ElasticPress/issues/1188 and https://github.com/10up/ElasticPress/issues/649
__Is this a bug, question or feature request?__
I'm afraid i'll have to say bug. It always seems to get ignored due to inactivity.
__Describe the issue

[2019-06-28 00:04] krunalpuri opened #1380 "Boosting By Popularity using field_value_factor"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Question & Feature Request

__Describe the issue you encountered:__
Unable to customize the search results

__Current WordPress version?__
5.11

__Current ElasticPress version?__
2.82

__Current Elasticsearch version?__
7.2
__Where do you host your Elasticsearch server?__
Yes

[2019-06-28 01:38] jeffpaul opened #1381 "readme updates"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Documentation

__Describe the issue you encountered:__
It's not obvious the level of support provided for this repo, so let's add some clarification.
- [x] add support level section and badge
- [x] add release version badge
- [x] add WP tested up to badge
- [x] add license file

[2019-06-28 01:42] #1325 closed

[2019-06-28 12:06] mustafauysal commented on #1302
The PR has been merged, I'm closing the issue.

[2019-06-28 12:06] #1302 closed

[2019-07-01 14:03] mustafauysal commented on #1375
Hi @ServeMe,

As a quick reminder: ElasticPress officially supports max version 6.3 for now.
Also, it can't help your homepage unless you didn't integrate WP_Query with `ep_integrate` parameter.

If you are running `ab` on the search page, make sure those queries hitting the Elasticsearch server. You can check `X-ElasticPress-Search` header.  Nevertheless, CPU usage depends on the server configura

[2019-07-02 13:40] fabianmarz opened #1387 "Autosuggest: Quotes are not escape and break search results."
__Have you searched for similar issues before submitting this one?__
- ✅

__Is this a bug, question or feature request?__
- Bug 🐛

__Describe the issue you encountered:__
- If search results contain quotes the `data-search` attribute breaks, as the output is not escaped. See screenshot:

__Steps to reproduce:__

1. Index post with quotes
2. Search for post via the Autosuggest feature in EP

__Scre

[2019-07-02 15:37] tlovett1 commented on #1387
@oscarssanchez please test and create a fix PR.

[2019-07-02 15:41] tlovett1 commented on #1379
@Salamander3 your dreams may be coming true. This seems like a bug. @oscarssanchez will look at it.

[2019-07-02 15:43] tlovett1 commented on #1257
@oscarssanchez is investigating.

[2019-07-02 15:44] tlovett1 commented on #1377
Thanks!

[2019-07-02 15:44] #1377 closed

[2019-07-02 15:45] tlovett1 commented on #1376
@oscarssanchez will investigate. Perhaps orderby popularity isn't working.

[2019-07-02 21:22] bengreeley commented on #1030
@Ritesh-patel @allan23 I can't tell - was this ever merged and fixed? I think the files have been refactored quite a bit so it's difficult to tell if the issue remains or not. Let me know if you think it's good and I can update the plugin to the latest version. A site is currently using Ritshes fork because it implemented this performance fix. Thanks!

[2019-07-02 23:40] cmmarslender commented on #1379
Hi @Salamander3 ,

Unfortunately, I'm not able to reproduce the behavior you are describing, even with the plugins you listed.

Default results: https://cloudup.com/cDfbrXwT65l
With post_type=pepe: https://cloudup.com/clUOzLeSLcj

The only way I got all post types to show up when using a `?post_type=<post_type>` type filter in the URL was when I used an invalid post type name in the url (I tried `

[2019-07-03 03:49] #1370 closed

[2019-07-03 03:52] #1257 closed

[2019-07-03 04:12] #1360 closed

[2019-07-05 10:10] fabianmarz commented on #1290
@aluferraz, any updates on the rebase?

[2019-07-05 12:21] zandergrin opened #1390 "Query Response Code: HTTP 400 - malformed URL"
Bug report

__Describe the issue you encountered:__

When setting up elasticpress on cloudways we're getting an error.
When looking in the elasticpress debug bar we get Query Response Code: HTTP 400

Seems to be an issue with the URL. The Debug bar seems to show the URL for the query as
`URL: http://localhost:9200/wordpressxxxxxxxxxxcloudwaysappscomwp-post-1/post/_search`
(numbers replaced for sec

[2019-07-05 15:14] brandwaffle commented on #1390
Hi @zandergrin I'm not really able to determine if the URL is correct or not. If Cloudways installs Elasticsearch on the same server as your WordPress site, this URL might work. If not, then you're correct that it wouldn't work. That said, it appears to be the correct structure for a URL, so I'd start by insuring you have the correct URL in your settings page. Cloudways support should be able to a

[2019-07-05 15:14] #1390 closed

[2019-07-05 15:21] zandergrin commented on #1390
thanks for the reply..
so what you're saying is
`IPADDRESS:PORT/PATHNAMEWP-POST-1/POST is correct.`
shouldn't it be
`IPADDRESS:PORT/PATHNAME/WP-POST-1/POST is correct.`
Note the slash between the pathname and wp-post-1 in the second one.

I've checked with cloudways and the server is correctly configured.
I've checked the installation, and can see the path is being pulled through by other php func

[2019-07-05 15:30] zandergrin commented on #1390
ok thanks. I checked with cloudways before writing the ticket, they couldn't find an issue with the configuration. I checked the installation files and applications settings too. I guess I'll keep digging.

[2019-07-05 15:33] brandwaffle commented on #1390
https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable.php#L74

You may also want to expand the tabs showing the query body and query result. There's a chance that some custom code in the theme is creating mapping or other data that's not properly formatted for Elasticsearch that is causing the 400 error. If you deactivated plugins after the initial EP sync, make sure to run

[2019-07-05 15:39] zandergrin commented on #1390
sorry yes - I should have included that...

`"error": {
        "root_cause": [
            {
                "type": "query_shard_exception",
                "reason": "No mapping found for [wpse_last_word] in order to sort on",
                "index_uuid": "uPXM7CiaSEq2P7q5-ep5SA",
                "index": "wordpress297460911126cloudwaysappscomwp-post-1"
            }
        ],
        "type":

[2019-07-06 16:14] Salamander3 commented on #1379
It was a problem on my end, i found it and fixed it sorry.

[2019-07-06 16:14] #1379 closed

[2019-07-06 16:21] Salamander3 commented on #1292
Yes that fixes it. Thanks. Please add https://github.com/10up/ElasticPress/pull/1347 to the next version of the plugin.

[2019-07-06 16:21] #1292 closed

[2019-07-07 01:12] oscarssanchez commented on #1387
Thanks for reaching out @fabianmarz ,

Would you mind testing https://github.com/10up/ElasticPress/pull/1391 to check if this solves your issue?

Thanks!

[2019-07-07 15:57] oscarssanchez commented on #1376
Hi @mforbak ,

Thanks for reaching out and reporting,

This relates to another issue we had in the past when price was set as default sorting. I'm not sure if this is due to new Woocoommerce version, but the fix for it seems to be the same. Would you mind testing if https://github.com/10up/ElasticPress/pull/1392  solves the issue for you ?

Thanks!

[2019-07-08 03:58] #1376 closed

[2019-07-08 14:36] fabianmarz opened #1394 "Autosuggest: Facet Widget choices"
__Have you searched for similar issues before submitting this one?__
- ✅

__Is this a bug, question or feature request?__
- bug

__Describe the issue you encountered:__
- In https://github.com/10up/ElasticPress/blob/develop/assets/js/autosuggest.js#L248 `input[type="search"]` is used to trigger the autosuggest search query
- Such query is also triggered when using a Facet widget to drill down the

[2019-07-08 15:25] oscarssanchez commented on #1274
Closing per #1355

[2019-07-08 15:25] #1274 closed

[2019-07-08 15:26] oscarssanchez commented on #1270
Closing per #1358 :)

[2019-07-08 15:26] #1270 closed

[2019-07-08 15:28] oscarssanchez commented on #1307
Closing for now due to inactivity, please feel free to open a new ticket @flaversaver21 if the ticket has not been resolved for you.

[2019-07-08 15:28] #1307 closed

[2019-07-09 10:16] ServeMe commented on #1375
here is a wired situation
I had a plugin deactivated and integrate the `ep_integrate` parameter that was the reason for this problem. and also to notice the response does not have X-ElasticPress-Search header
On the other hand, I think it is wired that 50 requests/second is a huge number to handle on a server given that my server has 64 GB Ram and a good CPU, does I miss something?

[2019-07-09 16:20] ikappas commented on #789
For anyone interested, I am sharing the following snippet that works around the issue of indexing thumbnail urls (but can be adjusted to inject anything into the meta fields for that matter):
[code]

[2019-07-09 17:09] mustafauysal commented on #1375
I'm not sure how did you integrate with `ep_integrate ` parameter but usually those requests hit the MySQL instead of Elastic when you can't see the `X-ElasticPress..` header.

Which service consume the max server resources when you running `ab` test?

If the only bottleneck is Elasticsearch and you are sure about that; you may consider increasing [heap size](https://www.elastic.co/guide/en/elasti

[2019-07-11 09:11] fabianmarz commented on #1387
Can be closed as #1391 resolved it. Thanks for the fix!

[2019-07-11 09:11] #1387 closed

[2019-07-11 17:42] flaversaver21 commented on #1307
I was able to figure out the "key name of the order ID", but I need help implementing this.

[2019-07-11 17:43] flaversaver21 commented on #1307
reopen.

[2019-07-11 17:44] flaversaver21 opened #1396 "Help Adding "key name of the order ID""
I was able to figure out the "key name of the order ID", but I need help implementing this.

_Originally posted by @flaversaver21 in https://github.com/10up/ElasticPress/issues/1307#issuecomment-510584233_

[2019-07-11 20:36] brandwaffle opened #1397 "Provide support for the default WP post lookup admin feature"
**Is your enhancement related to a problem? Please describe.**

This feature would speed up the ajax-based post lookup that happens when you click on the Link button in Gutenberg and search for a post on the site.

**Describe the solution you'd like**

Take over the search behavior at /wp-json/wp/v2/search?search=<term>&per_page=20&type=post&_locale=user if the plugin has the Protected Content fea

[2019-07-12 20:08] flaversaver21 commented on #1332
Same here. I'm having nothing but headaches with Elastic Press to the point I would tell everyone else to run. Huge bugs. Nothing but headaches and problems. 500 errors. Can't search orders. Screws up the front end search results. It's ruining our store and thus pissing off customers.

[2019-07-12 20:19] columbian-chris opened #1401 "get posts with featured image meta query not working"
Is there a way to return only posts that have a featured image?

The following was not working for me:

[code]

[2019-07-13 03:44] dustinrue opened #1403 "Ability to specify the number of shards/replicas has been removed"
**Describe the bug**
Version 1.2 introduced the ability to specify the number of shards/replicas at index creation time. This was removed in a recent release. You can see the addition at - https://github.com/10up/ElasticPress/blob/v1.2/classes/class-ep-api.php#L283.

**Steps to Reproduce**

**Expected behavior**
Utilizing the filters mentioned would allow you to limit the number of shards/replicas

[2019-07-13 03:56] dustinrue opened #1404 "Under some conditions you will receive an incorrect message of "An index is already occuring. Try again later""
**Describe the bug**
This may happen with other curl issues but is easily triggered when the remote ES server is using a self signed SSL certificate. Under this scenario the cURL call will fail but EP takes this to mean an index operation is already happening. In version 3.0.3 of the plugin the error is issued at line 1070 of includes/classes/Command.php after attempting to `get_elasticsearch_vers

[2019-07-15 15:24] oscarssanchez commented on #1311
Hi @Salamander3 , you can do a var_dump() of the product, so something like  var_dump( wc_get_product( $product_id ) );

Hope this helps

[2019-07-15 17:29] majemedia opened #1405 "Connection issues with Redis Object Cache plugin enabled"
**Describe the bug**

When setting the host via dashboard to `http://localhost:9200` the "can't connect to host..." error message comes up.

If I then run `wp elasticsearch status` OR `wp elasticsearch index` and then refresh the dashboard the error goes away.

UNTIL

I hit one of the dashboard settings pages... then the error comes back.

The error also comes back if I deactivate OR reactivate Re

[2019-07-15 18:52] flaversaver21 commented on #1396
Going back to version 2.8.2 and toggling enable / disable of EP along with sequential order numbers pro and somehow I can now track orders. However, all orders are completely gone when you look at order history of a user. If I disable EP, I can suddenly see all my order history again.

This might be the worst plugin on the planet. I've never had so many issues and they all started with version 2.8

[2019-07-15 19:07] dustinrue commented on #1405
Hello @majemedia ,

Can you provide the output from `curl http://localhost:9200/` from the machine running the site?

Thank you!

[2019-07-15 19:09] majemedia commented on #1405
[code]

[2019-07-15 19:20] dustinrue commented on #1405
Would you be able to drop your Elasticsearch version to 6.3.2 and try it again?

[2019-07-15 19:28] majemedia commented on #1405
Sorry I cannot (production server) and this was installed via apt-get. I tried to see if aptitude had different versions available so that I didn't have to add the repo:

Results from aptitude versions elasticsearch

[code]

[2019-07-15 19:51] brandwaffle commented on #1396
@flaversaver21 I'm sorry to hear you feel this way about the plugin. We do our best to provide general support for our free and open-source offering, and support for compatibility with other plugins is an area where we do our best to provide solutions, though the reality is there is a wide range of plugins created for WordPress and we are not able to provide compatibility for all of them.

In #130

[2019-07-15 20:22] flaversaver21 commented on #1396
I followed up with that info in the previous ticket, but clearly that was glossed over.

Regardless, I have that part working and I have no idea how I fixed it per say. I'm no longer on version 3.0.3 either. Back to 2.8.2

Now all customer orders are missing from their order history. Plus I can't search for order numbers, users, emails, or phone numbers in the admin order search. If I turn off EP,

[2019-07-15 20:24] flaversaver21 commented on #1396
Excuse me, I didn't put the order key in the ticket. I send that via email to both you and another one of your devs.

The meta key Sequential Order Numbers is using:

_order_number

[2019-07-15 21:59] dustinrue commented on #1405
Ok, the highest officially supported version of ES is 6.3 and I'd try to rule out some kind of version incompatibility before digging in too far. When I setup WP 5.2.2 and Redis Cache 1.4.3 locally I was unable to replicate the issue.

[2019-07-16 15:30] tlovett1 commented on #1404
The develop branch decreases the likelihood of this error. However, it is still a problem. The solution is registering a shutdown hook in WP-CLI that cleans up the indexing transient. Other people are having issues with this as well.

[2019-07-16 15:31] tlovett1 commented on #1403
Hmm interesting. When was this removed?

[2019-07-16 15:34] #1381 closed

[2019-07-16 17:10] brandwaffle commented on #1396
@flaversaver21 thanks for the call yesterday! For those following along at home, if you need to add support for Sequential Order Numbers Pro to your ElasticPress/WooCommerce search, you can add the following filter to your functions.php:

[code]

[2019-07-16 17:10] #1396 closed

[2019-07-18 15:48] jordan26 commented on #1332
Having same issue where when ES is activated, the search in admin for customer orders etc returns nothing.

[2019-07-18 19:17] dustinrue commented on #1403
It seems to have disappeared with the 3.0 release

[2019-07-19 21:29] PayteR commented on #1144
Hi, @oscarssanchez i experience same issue as @eraserx99

WordPress 5.2.0
ElasticPress 3.0.3
ElasticSearch 6.3.1

I'm on a multisite installation. When i set to initially sync posts into ES on one site in this multisite. Everything's fine, i see adding documents in `elasticsearch:9200/_cat/indices?v`, but when it reaches end, then it drops index, creates it again and then starts again from 0. It n

[2019-07-19 22:55] PayteR commented on #1144
When i tried to run  `wp elasticpress index --setup` then this error happened at the end
[code]

[2019-07-19 23:48] PayteR commented on #1144
but tIt finished fine on the second run...
[code]

[2019-07-21 16:55] extremeshok commented on #1377
Any chance to have a mention (link) to the docker in the readme ?

[2019-07-22 07:49] tlovett1 commented on #1377
Please submit a PR @extremeshok

[2019-07-22 14:45] aluferraz commented on #1290
Rebase done: https://github.com/10up/ElasticPress/pull/1410

[2019-07-22 21:55] #1332 closed

[2019-07-23 19:53] columbian-chris commented on #1401
Appears to be working after 3.1.0 release. Might be related to "Support for nested tax queries" reported in version changelog.

[2019-07-23 22:06] columbian-chris commented on #1401
After resyncing, this functionality still appears to be very selectively working for me. Some of these queries are still throwing a 400 with this error returned:

[code]

[2019-07-24 09:52] goaround opened #1414 "Weighting: Taxonomies used on multiple Post Types don't show up"
I use the same Taxononmies, even categories, tags... on multible Custom Post Types. On the new Weighting there are completly missing.

**Describe the bug**

I think the problem ist on line 64 at includes/classes/Feature/Search/Weighting.php:

`		$taxonomies = get_taxonomies(
			[
				'public'      => true,
				'object_type' => [ $post_type ],
			]
		);
`

To query only for one `$post_type` gets yo

[2019-07-24 16:42] dustinrue opened #1415 "When using protected content the admin may show outdated information under some scenarios"
**Describe the bug**
With protected content enabled interactions in the admin can result in inconsistent information.

**Steps to Reproduce**

1. On a small site with minimal plugins
2. Create a post and save it
3. In the post listing, click on trash to put the item in the trash
4. Note that when the page refreshes the item is still shown in the listing
5. Refresh the listing, note that the item h

[2019-07-24 17:24] #1414 closed

[2019-07-24 17:25] cmmarslender commented on #1414
@goaround thanks for filing this! Fix will be released with the next version.

[2019-07-24 17:33] dustinrue opened #1417 "Index name handling can lead to orphaned data when going from pre 3.x to 3.x"
**Describe the bug**
Changes were made for version 3.0 of the plugin that affect the way index names were calculated in order to implement new features. This leads to one potential cosmetic issue with the index name and, more importantly, the potential for orphaned data in Elasticsearch.

The cosmetic issue is that for users that have inserted a dash into their index prefix name will now have a do

[2019-07-26 11:09] barryceelen opened #1419 "Facets widget removes empty search query parameter"
**Describe the bug**
Facets removes an empty search parameter from the URL when creating links via [build_query_url()](https://github.com/10up/ElasticPress/blob/master/includes/classes/Feature/Facets/Facets.php#L344) causing the facet widget links to become invalid.

**Steps to Reproduce**
1. Go to your site's search page without a search query: https://example.com/?s
2. Click on a category link i

[2019-07-27 02:19] #1250 closed

[2019-07-28 06:18] tlovett1 opened #1422 "Unit Tests for Weighting/Ordering/Custom Results"
We need unit tests for all this stuff.

[2019-07-28 06:58] tlovett1 opened #1423 "Weighting Bug: Can't disable post fields"
When I make no fields searchable for post, my changes don't save and they all become searchable.

[2019-07-30 08:36] kozora opened #1424 "index setup time out"
wp elasticpress index --setup
Adding post mapping...
Success: Mapping sent
Indexing posts...
Processed 350/11114...
Processed 700/11114...
Processed 1050/11114...
Processed 1400/11114...
Processed 1750/11114...
Processed 2100/11114...
Processed 2450/11114...
Processed 2800/11114...
Processed 3150/11114...
Processed 3500/11114...
Processed 3850/11114...
Processed 4200/11114...
Processed 4550/11114.

[2019-07-30 11:46] dustinrue commented on #1424
Can you provide some more information about the environment?  How is Elasticsearch hosted? If it is a provider what provider? If it is self hosted what is the health of the server? What are you indexing? Does it include documents?

This message typically means your Elasticsearch service is struggling to keep up. What you’re doing will help define how to adjust your indexing process.

[2019-07-30 15:23] altendorfme opened #1426 "WPQuery with tags dont work"
**Wordpress version:** 5.2.2
**ElasticPress version:** 3.1.1 (Reindexed)
**Kinsta Elastic**

category__and, category__in work correctly, but if we try to use tag__and, tag__in or tag_id, it does not return the posts correctly, below is an example of WP_Query, Querys and the Result.

**WPQUERY:**
[code]

**QUERY ARGS:**
[code]

**QUERY BODY:**
[code]

**QUERY RESULT:**
[code]

[2019-07-30 17:35] jordan26 commented on #1380
Interested in this also.

[2019-07-31 02:36] kozora commented on #1424
I see in CHANGELOG there set a limit to 5000
https://github.com/10up/ElasticPress/blob/develop/CHANGELOG.md#added-11
I want to change it, where I can find the file

[2019-07-31 10:34] jordan26 commented on #1380
I see a new settings page has been added recently for "Weighting dashboard to control weights of specific fields on a per post type basis"

However it doesn't seem to let you do weighting on custom fields. Only the standard title, content etc.

[2019-07-31 11:14] mch0lic opened #1427 "Virtual post meta data"
**Is your enhancement related to a problem? Please describe.**
Unable to insert additional virtual/dynamic meta data for object, in this case WooCommerce product, into ElasticPress index.

**Describe the solution you'd like**
Option to programatically modify (add) object's meta data before it is inserted into ElasticSearch.

**Describe alternatives you've considered**
Open to ideas.

[2019-08-01 21:25] mustafauysal commented on #1424
https://github.com/10up/ElasticPress/blob/develop/CHANGELOG.md#added-11
I want to change it, where I can find the file

@kozora you can use `ep_user_total_field_limit` and `ep_total_field_limit` filters to change default value.

[2019-08-02 20:08] jordan26 commented on #1427
If you add fields to a post type via ACF, they're sent to ElasticSearch automatically, however any which are added manually, such as I am with update_post_meta etc, ElasticPress does not know about them and does not sync them to ElasticSearch.

Therefore using the following filter you can declare the meta fields you would like the sync to send across also:

add_filter( 'ep_prepare_meta_allowed_pro

[2019-08-03 13:09] kozora opened #1431 "it seems weight doesn't work"
try to set some category more weight, but the search result still show by date.
ES version:6.3
plugin:IK
ep version:3.1.1

[2019-08-05 09:20] mustafauysal opened #1432 "Weighting: Incompatible Query with Elastic 1.7.x"
**Describe the bug**
Weighting query is not compatible with Elasticsearch 1.7.x
https://www.elastic.co/guide/en/elasticsearch/reference/1.7/query-dsl-bool-query.html
https://github.com/10up/ElasticPress/blob/acb6e6354b0f261bd365be959f98e71cd83105c6/includes/classes/Feature/Search/Weighting.php#L411-L417

`filter` query is not supported in versions earlier than 2.x
Maybe it's time to considering dr

[2019-08-05 11:32] mch0lic commented on #1427
@jordan26 I'm aware of this filter and this would only allow me to include **existing** meta key & value into the the index. If the meta data does not exist this is completely useless.

Why do I need this feature? I have custom data that is not stored as product meta (e.g. data in custom tables, dynamically created string, etc.). Some of the data could improve search results given it is added to t

[2019-08-05 15:39] dev4223 opened #1433 "Filter hook ep_search_results_array in v3.x"
**Describe the bug**

We were using ES aggregations for searching for event posts.
Therefor in pre 3.x version we were using ther filter hook ep_search_results_array this way:

[code]

This hook is in classes/class-ep-api.php around line 260.

**Expected behavior**

Can you re-implement this hook, because it's very useful for using aggregations with elasticsearch.

[2019-08-08 03:42] tlovett1 commented on #1433
Just pushed a fix for this. Thanks!

[2019-08-09 00:07] tw2113 commented on #786
Not an issue re-open, I just wanted to say thanks to @sjferwerda quick for the ES_SHIELD tip, as it's what I needed for a project I'm helping out with.

[2019-08-09 08:57] dev4223 commented on #1433
Thanks!

[2019-08-09 19:23] oscarssanchez commented on #1431
H @kozora ,

Can you please try #1435 to check if the issues solve for you?

Thanks!

[2019-08-10 13:44] angtheod opened #1437 "Question: How to ignore posts with a specific post_meta field"
**Describe your question**

I need to check when searching the existence of a WP Page meta field (stored in `post_meta` table) so that I can ignore those pages.

Now, when I do a direct curl to ES (with the data below) I get the correct results
[code]
But I have not found a way to translate this correctly to EP arguments.
I have tried something like this in the `ep_formatted_args` filter but it is

[2019-08-13 09:08] ashish200025 commented on #1048
@###

-

@1. url
Duplicate of
Duplicate of ##

)

[2019-08-13 15:42] tlovett1 opened #1440 "Add meta/range capabilities to facet feature."
Right now facet feature just supports taxonomies. Let's add support for meta and ranges.

[2019-08-13 19:07] #1433 closed

[2019-08-14 02:09] #1431 closed

[2019-08-14 09:31] alifazeli opened #1442 "no products were found matching your selection"
Hi
I have an Arabic WordPress site with woo-commerce.
Previously i install and test Elasticsearch and Elastic-press and there was no any problem.
but with new version when i enable Elastic-press and index my contents woo-commerce widgets don't show products in my homepage with this error:
no products were found matching your selection.
These are snapshots of my homepage and setting:

Homepage befo

[2019-08-19 09:08] traed opened #1444 "3.1 breaks WooCommerce filters"
After upgrading to version 3.1 filtering done by WooCommerce widgets is no longer working. When using any taxonomy filter on an archive (shop) page, I get 0 products found. Using the price filter seem to have no effect. If I downgrade to 3.0.3 it works fine.

[2019-08-19 15:39] mlaroy commented on #1437
thanks @angtheod , we are looking into this issue.

[2019-08-19 15:49] mlaroy commented on #1432
thanks @mustafauysal, we are discussing bumping version support up to 5.x now actually.

[2019-08-19 22:04] cmmarslender commented on #1442
I'm not able to reproduce this with latest ElasticPress, Woocommerce, and the storefront theme. Can you let me know what theme you are using and what settings you have for you homepage as well so I can try and reproduce?

[2019-08-20 14:14] traed opened #1447 "WooCommerce product attribute archive pages doesn't work"
When displaying an archive page for WooCommerce products all products in the shop are shown, not just the products with the attribute which archive page you are viewing. I've tested this with a clean WordPress installation and the problem disappears when disabling the plugin.

**Steps to Reproduce**
1. Setup clean WooCommerce installation with the default Storefront theme and sample products.
2. C

[2019-08-20 15:27] #1311 closed

[2019-08-20 16:18] #1444 closed

[2019-08-20 21:04] eflorea opened #1448 "Running wp cli index doesn't set site_option for ep_index_meta to pause WP Queries to EP"
**Describe the bug**
Running wp cli index doesn't change the option ep_index_meta to pause WP Queries being integrated with EP so if you run a wp cli command with --setup the data is deleted on ES side and therefor the queries return no results (until EP syncs something)

![Screen Shot 2019-08-20 at 1 44 58 PM](https://user-images.githubusercontent.com/13055601/63383645-0e876680-c352-11e9-9c8b-417

[2019-08-21 13:59] #1403 closed

[2019-08-21 14:39] alifazeli commented on #1442
I use latest woocommerce version, bookie theme (v1.4.2) and WPBakery Page Builder 5.6. There is no problem when i choose sort by date or name but when i choose to sort products by random that massage apears. "no products were found matching your selection"

![image](https://user-images.githubusercontent.com/45519108/63441429-a5354f80-c446-11e9-8276-7ec248cfc410.png)

My website: https://ketabpedia

[2019-08-21 14:45] tlovett1 commented on #1448
Thanks @eflorea. We are looking into this.

[2019-08-21 15:18] #1447 closed

[2019-08-21 22:12] mlaroy commented on #1437
Hi @angtheod

The best way to omit your posts from search queries is to hook into the `pre_get_posts` action, and filter out your results with a meta query.

An example could look like:

[code]

You can also do this using WP_Query:

[code]

Finally, preventing indexing may not be your best solution, since they would not show on the admin side either, if using the protected content feature.
However

[2019-08-21 22:12] #1437 closed

[2019-08-22 15:28] #1448 closed

[2019-08-23 10:36] angtheod commented on #1437
Thank you @mlaroy

[2019-08-23 15:51] samikeijonen opened #1456 "Re-factor to Vanilla JS by removing jQuery dependency"
**Is your enhancement related to a problem? Please describe.**
In most cases projects don’t use jQuery in the FE anymore and jQuery is kind of a blocker.

**Describe the solution you'd like**
Re-write JS like `autosuggest.js` in Vanilla JS.

[2019-08-23 16:34] cmmarslender commented on #1442
@alifazeli Can you send me a copy of the theme that I can install locally (I think the theme also bundles the page builder?). You can email me at chris.marslender [at] 10up.com

[2019-08-24 06:55] kevinsan2001 opened #1457 "Facet problems after last update."
**Describe the bug**

After latest update. When select facet taxonomy term we get this error on localhost and production. Before working fine.

An exception occurred: [Error] Call to undefined function ElasticPress\Feature\Facets\wc_attribute_taxonomy_name() in /var/www/html/wp-content/plugins/elasticpress/includes/classes/Feature/Facets/Facets.php on line 267

    ElasticPress\Feature\Facets\Face

[2019-08-24 07:04] alifazeli commented on #1442
@cmmarslender  I sent you my theme
tnx so much

[2019-08-24 08:59] kevinsan2001 commented on #1457
If I replace the Elasticpress files with a previous version, it works.

[2019-08-24 09:06] kevinsan2001 commented on #1457
In file /includes/classes/features/facets/facets.php revertiing line 267 to the previous version fixes the problem.

Old 267: 'taxonomy' => $taxonomy,

New 267: 'taxonomy' => wc_attribute_taxonomy_name( $taxonomy ),

Revert to: 'taxonomy' => $taxonomy,

[2019-08-24 16:45] ijakparov opened #1458 "wp_insert_post ignore post_author when elasticpress on"
`php
        $mypost = array(
            'post_title' =>"Черновик детали, пользователь ".$user_first_name." " .$user_email,
            'post_status' => 'draft',
            'post_author' => 3 // it will be ignored
            'post_type' => 'product',
            );

        $post_id = wp_insert_post($mypost);
`

[2019-08-24 18:56] #1458 closed

[2019-08-26 09:06] ijakparov opened #1460 "How to reindex post by ID"
Can't find way to trigger update index for post by id.