[2022-06-28 14:07] felipeelia commented on #2856
Let's create it in the Health Tools' Info Screen

[2022-06-28 14:48] JakePT opened #2869 "BUG: Related Posts block does not appear on .org plugin page"
**Describe the bug**
The [ElasticPress plugin page](https://wordpress.org/plugins/elasticpress/) lists the Facet block as available under the _Blocks_ heading, but the Related Posts block doesn't appear.

**Steps to Reproduce**

1. Visit https://wordpress.org/plugins/elasticpress
2. Scroll down to _Blocks_ heading.

**Expected behavior**
Related Posts should appear as an included block.

**Additio

[2022-06-28 17:33] #2848 closed, assigned to felipeelia

[2022-06-29 05:29] HypeAU opened #2870 "BUG:"
**Describe the bug**
I just updated to the latest version and got this

( ! ) Notice: Undefined index: server_type in  public_html/wp-content/plugins/elasticpress/includes/classes/Elasticsearch.php on line 1326
--

1 | 0.0030 | 772400 | {main}( ) | .../index.php:0
2 | 0.0030 | 772792 | require( '/public_html/wp-blog-header.php ) | .../index.php:17
3 | 0.0030 | 773176 | require_once( '/public_html/

[2022-06-29 05:36] HypeAU commented on #2870
thats funny just disappeared :) my bad

[2022-06-29 05:37] #2870 closed, assigned to nobody

[2022-06-29 09:53] cbratschi commented on #2870
We have the same issue:

https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L1326

[2022-06-29 14:56] TommyKolkman commented on #2308
Hi @simohammedhttp, did you ever get this working? Quite stuck on this for a client.

[2022-06-29 15:13] simohammedhttp commented on #2308
Hi, unfortunately I gave up using Elastic Search, it means that I don't have multiligual full search feature in my blogs.

[2022-06-30 16:26] BWBama85 opened #2873 "BUG: PHP 8.1 deprecated errors"
**Describe the bug**
[code]

**Steps to Reproduce**

I am not able to get this to show up on every page load so not exactly sure what triggers it. I did catch it on one page load, but when I refreshed the page the errors disappeared.

**Expected behavior**
No deprecated errors

**Environment information**
 - WordPress version: 6.0

 - ElasticPress version: 4.2.1
 - Elasticsearch version: 7.10.2-1

[2022-06-30 18:00] felipeelia commented on #2866
As this problem was not in the plugin but rather in the overall setup I'm going ahead and closing out the issue. Thanks!

[2022-06-30 18:00] #2866 closed, assigned to nobody

[2022-06-30 18:02] felipeelia commented on #2852
Closed by #2853

[2022-06-30 18:02] #2852 closed, assigned to nobody

[2022-06-30 19:00] columbian-chris opened #2874 "ElasticPress is integrating all main queries"
Is this a feature of a recent update?  All of a sudden the main query throughout the different pages on my site I've looked into are using ElasticPress, acting like it has `ep_integrate` set to true in them.

Using:
ElasticPress 4.2.1
Elasticsearch 7.9.3 (also tested on 7.17.3)
Wordpress 6.0 (also tested on 5.9.3)
PHP 7.4.30

[2022-06-30 19:17] columbian-chris commented on #2874
I reverted the plugin back to 4.2.0 and am not experiencing the same issue.  I'm going to try wiping the index and resyncing in the middle of the night (using 4.2.1).

[2022-06-30 19:20] felipeelia commented on #2874
@columbian-chris can you please list the features you have enabled? We've made a change to make Facets available in taxonomy archives IIRC and that could be increasing the number of pages being integrated with EP.

[2022-06-30 19:22] rwrobe opened #2875 "BUG: `ep_post_sync_kill` executed before post meta in DB"
**Describe the bug**
Using a metadata flag (via ACF) to prevent a post from being filtered, like so:
[code]
If I put a breakpoint after it grabs the $should_index value, it evaluates as null. Using the post_id passed into the function, I can also see that the wp_postmeta table doesn't have all the post meta for the post yet.

**Steps to Reproduce**
1. Add the function above hooked to `ep_post_sync

[2022-06-30 19:29] columbian-chris commented on #2874
@felipeelia Features enabled: Post Search, Facets, Custom Search Results, Related Posts

Does this mean that a resync should be possibility be required with 4.2.1?

[2022-06-30 19:36] felipeelia opened #2876 "BUG: LiteSpeed Cache's Object Cache"
**Describe the bug**

It seems Object Cache set by [LiteSpeed Cache](https://wordpress.org/plugins/litespeed-cache/) will make ElasticPress syncs to get stuck.

The first object of this issue needs to be an investigation of the problem (see if we can reproduce it or not) and also check if it affects general setups with object cache enabled.

Related to #2805

[2022-06-30 19:37] felipeelia commented on #2805
I've opened #2876 now to start an investigation of the problem. Thank you both!

[2022-06-30 19:37] #2805 closed, assigned to oscarssanchez

[2022-06-30 19:44] felipeelia commented on #2826
@blenkhn it could be something related to cache. Generally, all cache plugins will flush caches when a plugin is activated or deactivated, and that would explain why the list changed. If the cache solution is not detecting the order status change, that would also explain why the list always remains the same in general.

[2022-06-30 19:56] felipeelia commented on #2832
Hi @scooterlord.

It seems you will need to split the search terms into different parts and apply different types and fuzziness to them. If you give a look at the code that starts in [this line](https://github.com/10up/ElasticPress/blob/4.2.1/includes/classes/Indexable/Post/Post.php#L1414) you will see that we always treat the entire string as a whole.

You'll need to use the [ep_formatted_args_qu

[2022-06-30 19:56] #2832 closed, assigned to nobody

[2022-06-30 20:03] felipeelia commented on #2838
Hey @Finnstax, glad to read it worked! Have you already tried to set the synonyms in lower case? I think ElasticPress already [indexes all the content in lowercase](https://github.com/10up/ElasticPress/blob/develop/includes/mappings/post/7-0.php#L75), so that should work. If that does not work, you can also try to lower case the search term sent by users too.

[2022-06-30 20:17] felipeelia opened #2877 "Create `default_search` analyzer while setting up synonyms"
**Is your enhancement related to a problem? Please describe.**

Currently, ElasticPress has only a [`default` analyzer](https://github.com/10up/ElasticPress/blob/4.2.1/includes/mappings/post/7-0.php#L64) used on both index and search time. That is usually not a problem but when we add the Synonym's token filter [here](https://github.com/10up/ElasticPress/blob/4.2.1/includes/classes/Feature/Search/

[2022-06-30 20:21] felipeelia commented on #2838
I'm going ahead and closing this one out in favor of #2877.

[2022-06-30 20:21] #2838 closed, assigned to felipeelia

[2022-06-30 20:31] felipeelia commented on #2873
Although the log points to ElasticPress, it is actually something handled by WordPress's core itself.

A similar issue was [reported in the WP-CLI repo](https://github.com/wp-cli/wp-cli/issues/5613). There I found that the WP core team is handling this upgrade via this ticket in Trac: https://core.trac.wordpress.org/ticket/54504

As unfortunately there is nothing we could do on our side, I'm going

[2022-06-30 20:31] #2873 closed, assigned to nobody

[2022-06-30 20:40] felipeelia commented on #2874
No, @columbian-chris, that should not be related to resyncs.

In #2837 we've addressed a problem where the Facets widget would not show up in taxonomy archives. In order to display that widget, we need to run the main query through EP, so we had to expand the list of archive pages where we were setting both `ep_integrate` and `ep_facet` as `true`.

 If you don't want your queries going through EP

[2022-06-30 23:58] columbian-chris commented on #2874
Thanks, I'm not going to waste time and resources try doing a resync then.  I will give [that override](https://10up.github.io/ElasticPress/ep_is_facetable.html) a shot, although I'm not quite certain yet how to apply it.  If I use it in my theme's functions.php file, will it disable EP from all queries unless I manually pass the query using the `ep_integrate` parameter?

I would in theory love to

[2022-07-01 10:08] craigpearson opened #2878 "BUG: Synonyms break syncs when a dot is used in the term"
**Describe the bug**
Indexing issues are created when using "." character in synonyms, both sets and alternates. Suspected that this causes issues as Elasticsearch uses dot notation for queries.

Example use case:

When categorising WooCommerce products for duvets / quilts, each product would have a Tog rating, this is denoted by "10.5 Tog" or "7.5 Tog" etc

As a user may not know the correct tog

[2022-07-01 12:37] gillespieza opened #2879 "QUESTION: My blog page is showing products and posts instead of just posts"
**Describe your question**
I have my site set up to use a static home page, with a separate page for blog posts. When ElasticPress is enabled, all my products and my posts show on my news page, instead of just the posts.

I've looked at WP_Query using Query Monitor and Debug Bar, and the SQL is correct (returns only the 6 posts I have). I can't ferret out where the additional hundreds of products

[2022-07-01 14:05] felipeelia commented on #2878
Hi @craigpearson,

This is most probably related to #2877. While we don't have that done, you could try to tweak the word delimiter token filter a bit. A starting point could be the following code:

[code]

You'll need to add that to your codebase and resync (deleting all data.) Can you give that a try and let us know if that fixes your problem? Thanks.

[2022-07-03 20:09] #2826 closed, assigned to nobody

[2022-07-04 14:09] #2878 closed, assigned to nobody

[2022-07-05 12:46] burhandodhy opened #2881 "BUG: JS error on Custom Results edit page"
**Describe the bug**

Custom Results edit page gives JS errors in console if any of the post is not available anymore.

[code]

**Steps to Reproduce**

1. Create new post "Hoodie"
2. Create new Custom Results "Clothing"
3. Add "Hoodie" post in result.
4. Delete the "Hoodie" post
5. Refresh the Custom Results "Clothing" edit page

**Screenshots**
Custom Result before post is deleted.

<img width="1

[2022-07-06 13:30] chaselivingston commented on #2796
@JakePT let me know this isn't quite done. #2825 is a fix for a related issue but not this exact one.

[2022-07-06 15:19] dmhendricks opened #2882 "QUESTION: ElasticPress 4.2.1 reporting "server software is not supported""
Since upgraded to ElasticPress 4.2.1, I'm getting the "server software is not supported" notice on both of the 2 sites I tried it on. The message suggests checking the [requirements](https://github.com/10up/ElasticPress#requirements), however, the environment meets the minimum requirements listed, and I don't recall getting this message with previous versions.

What is the best way to find the inc

[2022-07-06 16:44] columbian-chris commented on #2882
I had this issue also after upgrading to 4.2.1 from 4.2.0 and it actually stopped showing the notice after a short amount of time for some reason.  I also am testing on another site where I'm using Elasticsearch 7.17.3 which is greater than the maximum supported version and it isn't throwing the notice for me.

[2022-07-06 16:50] columbian-chris commented on #2874
I did a resync and it does seem to be showing the posts in the archive page it wasn't before the sync.  But also I'm looking at another archive page and it isn't showing new posts that were entered after the sync.  So it seems like I might have an issue with new posts being saved to my Elasticsearch index.

[2022-07-06 20:35] oscarssanchez commented on #2879
Hi @gillespieza ,

I couldn't reproduce this, would you mind sharing more details if possible please? The "Environment information" section is a good place to start:

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress version:

 - ElasticPress version:
 - Elasticsearch version:
 - Where do you host your Elasticsearch server?
 - What ElasticPress features do you have

[2022-07-07 07:27] coenve commented on #2882
I got the same, running 7.5.1. I would like to upgrade to 7.17.5. I think it's been a while since they updated the versions in the requirements. Maybe its time for a review?

[2022-07-07 17:56] oscarssanchez commented on #2879
Hi @gillespieza ,

I could actually reproduce this today, seems this is happening when you have the facet feature activated. If you are not using this feature for now, I would deactivate it or if you are using it, perhaps something like explicitly setting the post types might help in this case as a workaround while we fix this issue. Something like:

[code]

[2022-07-09 11:42] HypeAU opened #2884 "QUESTION: epwr_decay : How to use post's post_modified_gmt instead of post_date_gmt"
Hi guys, I have posts published from 2020 but recently updated that don't show up when searched... I need the decay functions to work on post_modified_gmt not post_date_gmt for post type posts. How do I do this? thanks

My current settings are below which work  fine for published date:
add_filter( 'epwr_boost_mode', function() { return 'multiply'; } );
 add_filter( 'epwr_offset', function() { retu

[2022-07-10 04:50] shmaltz commented on #2339
@oscarssanchez I am not using `ep_facet_search_widget` however I am using the following snippets: https://gist.github.com/shmaltz/5bc60cdf4fff48c33f17262b70073214

[2022-07-11 15:26] DenisFlorin opened #2885 "QUESTION: Search reports no results found for some queries, but they work if EP is deactivated or EP 3.6.1 is active"
Hello, everyone!

Thank you in advance for taking the time to read this issue.

So,

We have a website where ElasticPress 4.0+ doesn't work well anymore after upgrading from ElasticPress 3.6.1. For example, searching for the word "spyhunter" with EP 4.0 gives no results:

![image](https://user-images.githubusercontent.com/38504865/178298987-cee60777-bd09-4104-b470-283d683cd0e5.png)

If the website

[2022-07-12 12:48] kovshenin opened #2887 "Some feedback and ideas around the dummy request in Autosuggest.php"
Hey folks! I was reviewing the code in Autosuggest.php recently and a few things stood out to me, which I'd like to share with you below. Please note that I do not have deep knowledge of the ElasticPress codebase so some of the points may be quite off, but either way I think a few of them will be useful.

1. The primary purpose of the `generate_search_query()` method seems to be able to obtain a J

[2022-07-12 16:08] felipeelia opened #2888 "Composer v2 Compatibility"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2022-07-12 18:28] #2888 closed, assigned to felipeelia

[2022-07-12 18:43] #2879 closed, assigned to oscarssanchez

[2022-07-12 18:52] nickchomey opened #2891 "Is it possible to create a Feature that has multiple Indexables?"
I'm currently working on a BuddyPress feature which indexes the various BuddyPress tables/data types - e.g. activity posts, groups, members, etc... Right now I've created a couple separate Features and Indexables (largely by copying and modifying existing Features) which are indexing, syncing and querying correctly, but it really would be better to have all of the Indexables related to a single BP

[2022-07-12 19:20] nickchomey commented on #2891
Nevermind. I should have dug a bit more before asking.

Yes, it appears to be quite possible to have multiple indexes with one feature.

Just include the extra classes at the top of the Feature class

[code]

and register extra indexables within the `setup()` function of the Feature, and make sure the Indexable is properly set up with its QueryIntegration and SyncManager classes.

[code]

[2022-07-12 19:20] #2891 closed, assigned to nobody

[2022-07-12 21:33] felipeelia opened #2893 "[Release] 4.2.2"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method. If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.2.2` for your changes.
- [x] 3. Version bump: B

[2022-07-13 11:43] #2882 closed, assigned to nobody

[2022-07-14 11:07] Jeetshahcl commented on #2812
How to put weightage i tried but its not on wp_query can you please help me on this

[2022-07-14 11:08] Jeetshahcl commented on #2812
@felipeelia please help me i am stuck.

[2022-07-14 17:18] #2893 closed, assigned to felipeelia

[2022-07-14 19:31] mmgc84 commented on #2671
Hi there @felipeelia
I'm using WordPress 6.0.1 and ElasticPress4.2.0 and I have been running tests using OpenSearch 1.2.4 and OpenSearch 1.3.1

While using both OpenSearch versions I'm running into a Mapping error which apparently is an incompatibility

**Noticing the error via terminal using with wp cli:**
Via terminal `wp elasticpress index --setup --skip-themes` NO error is shown but there is o

[2022-07-14 19:59] felipeelia commented on #2671
Hi @mmgc84, OpenSearch users need the snippet we've recently added to our docs: http://10up.github.io/ElasticPress/tutorial-compatibility.html
ElasticPress 4.2.1+ should show you a warning with a link to that page. Thanks for the detailed comment!

[2022-07-14 21:27] mmgc84 commented on #2671
@felipeelia thanks for your quick response.
Question: Do you know in which file I should add this snippet?

Thanks in advance

[2022-07-15 00:03] btweedy2879 opened #2895 "QUESTION: Search by Product SKU not working with standard url param pattern"
**Describe your question**

Our site has a custom theme that seems to be causing an issue with Searching by sku.  It does not seem to work when using the standard url param search (https://v1tactical.com/?s=KEKSA&post_type=product#search). Autosuggest works but as soon as the user hits the enter key, an empty result is returned.

I have narrowed the issue to the theme as switching to one of the de

[2022-07-15 13:38] felipeelia commented on #2671
@mmgc84 you could either add it to your theme's functions.php, to a new custom plugin or use a plugin like [Insert PHP Code Snippet](https://wordpress.org/plugins/insert-php-code-snippet/).

[2022-07-15 13:50] felipeelia commented on #2874
Hey @columbian-chris, sorry for not getting back to you earlier. In ElasticPress 4.2.1 (released yesterday) we've narrowed down a bit how Facets would change the main query but I don't think that will help with your problem, unfortunately.

No. There is a couple of reasons why ElasticPress would be automatically integrated on a query: a regular search query, a query with ep_integrate, or a potenti

[2022-07-15 13:50] #2874 closed, assigned to nobody

[2022-07-15 14:03] felipeelia opened #2896 "New `epwr_decay_field` filter"
**Is your enhancement related to a problem? Please describe.**

As described in #2884, in some scenarios a developer could need to change the field used to decay scores. This filter would receive the default field name, formatted_args, and args, and return the new field name:

[code]

The new filter will need a proper doc block as usual -- could be simply copied from a different filter. A `@since`

[2022-07-15 14:05] felipeelia commented on #2884
Hey @HypeAU,

Currently, we do not have a filter to change that specifically but here is a snippet you could use to change it:

[code]

I'm going ahead and closing this one in favor of #2896. Thanks!

[2022-07-15 14:05] #2884 closed, assigned to nobody

[2022-07-15 14:28] felipeelia commented on #2885
Hi @DenisFlorin,

When you reindex, do you see any errors? Also, does it return any results when you search for `spy hunter`? At last, we've changed the search algorithm in EP v4, and that may be playing a part here.

You can change the search algorithm being used with the following WP-CLI command:
`wp elasticpress set-algorithm-version --version='3.5'`
to change it back you can use
`wp elasticpre

[2022-07-15 14:36] felipeelia commented on #2895
Hi @btweedy2879,

Your theme is trying to order results using the `_sort_order` meta field. As that field's key start with a `_`, it is not indexed by default, causing the error you are seeing.

You can try to add the following snippet to your codebase and resync your content again:
[code]

[2022-07-15 14:36] #2895 closed, assigned to nobody

[2022-07-15 15:24] felipeelia commented on #2887
Hey @kovshenin, thanks for taking the time to leave your comments here!

As this code is a result of several different iterations, I had to do some investigation to answer some of your questions but here are some of the reasons why things are like they are.

1. As autosuggest queries run completely unauthorized from the final user's browser, that request (authenticated) is fired to make the ES ser

[2022-07-15 18:35] mmgc84 commented on #2671
Hi @felipeelia , thanks for your help.
I confirm that using the snippet fixes the issue I was having :)

[2022-07-15 23:58] columbian-chris commented on #2874
Thank you, @felipeelia.  Does the [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/) plugin log to PHP or to WP's debug file (/wp-content/debug.log) or somewhere else?

[2022-07-18 07:20] DenisFlorin commented on #2885
Hello @felipeelia,

Thank you for your time reading the issue and feedback.

I tried to search for the keyword "spy hunter", but no results were found. When I reindexed the content, I looked over the process, and I didn't see any errors.

Changing back to the algorithm version 3.5 seems to work. Will this version be removed in the future?

Kind regards,

[2022-07-18 11:58] felipeelia commented on #2874
To make it easier for beginner users, it will store messages into a WP option @columbian-chris. That said, once you have error messages logged, don't forget to turn the logger off.

[2022-07-18 12:00] felipeelia commented on #2885
We don't have any plans to remove that version @DenisFlorin. In fact, plans are to make things easier to change the algorithm being used.

The fact that it is not finding any post using 4.0's algorithm is weird, though, because it should be finding a simple term. Do you mind sharing how you have the weighting dashboard set and double check if English is set as the language on the Settings page?

[2022-07-18 12:14] DenisFlorin commented on #2885
Hi @felipeelia,

Attached are the screenshots with the weighting dashboard.
![2022-07-18_15-11](https://user-images.githubusercontent.com/38504865/179508732-05bdd2d9-7f45-45af-b29b-fed18b78b346.png)
![2022-07-18_15-11_1](https://user-images.githubusercontent.com/38504865/179508762-88fb0b09-f604-42c9-a797-76d4a8c12470.png)

The English language is set as the language in Settings.
![2022-07-18_15-12

[2022-07-19 13:14] bsabalaskey opened #2897 "QUESTION: how to index millions of comments?"
**Describe your question**

Instead of creating a bug report initially, I wanted to ask how to enable searching of comments where there are quite a lot of them. I have a database of over 1.5 million comments. When I run the WP CLI (wp elasticpress index), the result is a message of 'Killed' . Running the Delete All Data and Sync process from the admin screen, I get a "Sync failed" message. There i

[2022-07-19 19:49] oscarssanchez commented on #2897
@bsabalaskey did you get any meaningful errors on the sync page?

[2022-07-19 19:54] bsabalaskey commented on #2897
Sorry, no other details, Just 'Killed' on WP CLI and 'Sync failed' in the backend log window. My WP server has 8G RAM with about 3.25G available. My Elasticsearch server has 16G RAM with about 6G free.

[2022-07-20 07:24] JakePT commented on #2796
I went to make this change but ran into an issue. `in_the_loop()` does not return `true` inside the Query Loop block, so checking `in_the_loop()` would stop the block from appearing when used inside the query loop block.

Alternatively I though I might be able to check the block for the `postId` context that's used inside the editor, since I could use that to determine if we were inside the query

[2022-07-20 12:58] bsabalaskey commented on #2897
@oscarssanchez After putting in some debug code and looking at server stats (with glances), this is clearly an out of memory issue for large datasets, so Linux kills the process. RAM usage goes up for every per-page chunk, so it looks like some forced garbage collection is minimally needed to stop using so much RAM.

[2022-07-20 17:16] MARQAS commented on #2876
I am unable to recreate this issue, I tried with both Caching plugins (LiteSpeed Cache and Redis Object Cache ).

- Is indexing working properly with LiteSpeed Cache? Yes
- Is indexing working fine with Redis Object Cache? Yes
- Are all the features of ElasticPress working as expected including the WooCommerce when Object cache is enabled? Yes
- Are you able to index using wp cli commands? Yes
- I

[2022-07-20 17:16] #2876 closed, assigned to MARQAS

[2022-07-20 21:16] BWBama85 opened #2899 "BUG: Custom results wrong"
**Describe the bug**
Created a custom result and moved it to the first result.

**Steps to Reproduce**
See above

**Expected behavior**
The page I add to the custom result should appear first, since I added it to the first slot
Instead it shows up on page 3 here: https://www.bamapolitics.com/?s=Huntsville
Furthermore, why is a custom result even needed here? Why is Huntsville losing out to all the

[2022-07-21 15:36] BWBama85 commented on #2899
I reset all the weights to 1, and now it appears at the top. My question now is, the only weight I had changed was I moved Page Title to 100 and everything else stayed at 1. Why would that trump custom results?

[2022-07-21 18:31] bsabalaskey commented on #2897
@oscarssanchez The offending statement is the WP comment query trying to get a total comment count, which tries to read all the millions of comments into memory and thus blows up even after many GB. That statement is in the query_db() method in includes/classes/Indexable/Comment/Comment.php.
[code]

So I wrote an SQL optimized version of that which just gets the count and doesn't use astronomical

[2022-07-22 14:46] felipeelia commented on #2899
Hi @BWBama85,

Can you please install [the debugging plugins](http://10up.github.io/ElasticPress/tutorial-debugging.html), get the weightings as you had before, visit that 3rd page of search results, and send us the contents of Query Body and Query Results from Debug Bar ElasticPress?

Also, can you please check if that changes when you have "Weight results by date" enabled or disabled?

Thanks!

[2022-07-22 14:50] felipeelia commented on #2885
I should've been clearer @DenisFlorin, sorry. I meant ElasticPress's Settings Page, not WordPress :)

Do you think it would be possible for you to install [the debugging plugins](http://10up.github.io/ElasticPress/tutorial-debugging.html), revert it to the 4.0 search algorithm, and share with us the Query Args and Body contents of Debug Bar ElasticPress? Thanks!

[2022-07-22 18:00] felipeelia commented on #2897
That is great, thanks for sharing @bsabalaskey. I've opened #2903 now with a similar approach but leveraging WordPress's native functionalities. Would it be possible for you to give that change a try?

Fwiw, another possible approach would be the following snippet. With that in place, we'd retrieve only IDs instead of full objects:
[code]

Thanks!

[2022-07-25 01:13] sirmbhe opened #2904 "Partial Exact Match Search Query"
Hi.

I have an issue to tackle on my wordpress search result using Elasticsearch/Elasticpress.

I notice that if I look for a word, for example : Abbott
The search result that came up is: Abbott, Abnett, and even Betty.

The same stuff happen when I am doing search on 2 words or more.
Is there any way to narrow down the search result, giving me only the exact word that I search?

I am trying to fo

[2022-07-25 12:22] #2790 closed, assigned to burhandodhy

[2022-07-25 15:09] #2885 closed, assigned to nobody

[2022-07-25 15:09] #2899 closed, assigned to nobody

[2022-07-25 15:24] salvoaranzulla opened #2905 "BUG: Custom posts don't appear in Related Posts"
**Describe the bug**

My ElasticPress indexes posts and custom posts. Custom posts appear in search, but the custom posts don't appear in Related Posts. It seems that Related Posts shows only posts.

**Steps to Reproduce**

I have created a custom post with the same content and title of a regular post. In the custom post page, Related Post shows the link to regular post, but not vice versa.

**Exp

[2022-07-25 17:34] bsabalaskey commented on #2897
Your update works fine for me (https://github.com/10up/ElasticPress/pull/2903), thanks. Since I know SQL well, I wrote the most optimized query for huge comment numbers and made the DB server do all the work.

[2022-07-25 17:41] #2897 closed, assigned to nobody

[2022-07-26 12:20] JakePT opened #2908 "Add a filter to allow modifying the Autosuggest query"
**Is your enhancement related to a problem? Please describe.**
Currently there is no way to filter an Autosuggest query conditionally based on the input or form that triggered it, meaning that it's not possible for Autosuggest to reflect any additional fields in the form beyond a `post_type` field which is natively supported.

**Describe the solution you'd like**
We could add a 'filter', a la the

[2022-07-26 14:19] JakePT commented on #2796
There's an open issue regarding `in_the_loop()` in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/32896 I've added a comment to hopefully revive it.

[2022-07-26 15:55] #2869 closed, assigned to JakePT

[2022-07-26 16:56] #2868 closed, assigned to burhandodhy

[2022-07-26 19:57] #2896 closed, assigned to MARQAS

[2022-07-26 22:59] shmaltz commented on #2087
@felipeelia Will this be possible with the v3.4.0 meta filtering feature?

This ability would be very useful in many industries.

[2022-07-26 23:13] shmaltz opened #2910 "ElasticPress is affecting TTFB"
I have a large WooCommerce site with ElasticPress, and noticed that with the ElasticPress plugin enabled, the product category archive has a TTFB of 1.9s, however if I disable EP, I get a TTFB of only 425ms. (Measured with GTMetrix)

My Woo archive page has around 40 taxonomy facets, and the site has around 60k products.

Is there any way to find out what is causing this major slow down?

Thanks!

[2022-07-27 01:29] #2910 closed, assigned to nobody

[2022-07-27 12:50] #2908 closed, assigned to johnwatkins0

[2022-07-27 21:50] jonathanstegall opened #2912 "BUG: the `format_hits_as_terms` returns a term as `stdClass` instead of `WP_Term`"
**Describe the bug**
I've been trying to hunt down an issue where a filter on wp-admin/edit-tags.php?taxonomy=post_tag&post_type=post URL expects data to come back as an instance of `WP_Term` but it instead comes back as `stdClass`, and I think it might be related to the `format_hits_as_terms` method in [these lines](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Term

[2022-07-29 13:19] felipeelia commented on #2905
Hey @salvoaranzulla,

You can change that using the following snippet:
[code]
replacing `page` with your custom post type slug.

[2022-07-29 13:19] #2905 closed, assigned to nobody

[2022-07-29 13:31] felipeelia commented on #2904
Hey @sirmbhe.

Can you please try with the following snippet?
[code]

That should disable fuzziness for the search algorithm we are using on ElasticPress 4.0.

I am going to close the issue right now but if you still face any problems please let us know and we can reopen if needed. Thanks!

[2022-07-29 13:31] #2904 closed, assigned to nobody

[2022-08-02 13:03] IIM-Andreas opened #2918 "BUG: synchronisation problem in my enviroment (elasticsearch cluster)"
**Describe the bug**
When I publish a new post it's not found after a while in the searchbox from elasticpress.

**Expected behavior**
The post is found in the searchbox.

**Environment information**
 - Browser and version: 103.0.5060.134
 - WordPress version: 6.0
 - ElasticPress version: 4.2.2
 - Elasticsearch version: 6.3
 - Where do you host your Elasticsearch server? Timme-Hosting
 - What Elas

[2022-08-02 14:47] #2912 closed, assigned to nobody

[2022-08-02 18:35] adam-vanbuskirk opened #2920 "BUG: Search Results Showing That Don't Contain The Search Term"
**Describe the bug**
When searching for a term on our site (topclassactions.com), the results contain many posts that do not contain the search term. You can use _**kashima**_ as an example. We have a DB of 3GB+ in Prod. The lower life cycle (Dev & Staging) return the correct results. The plugin is not. modified. I cannot figure out why our search returns bad results in Prod.

When this would happ

[2022-08-02 19:15] nickchomey opened #2921 "QUESTION: How to modify the mapping for postmeta keys/values?"
**Describe your question**
I am indexing some postmeta fields for custom post types and have successfully used the various filters to select which keys to index. However, an ES field is generated for many different data types due to the dynamic_template in the mapping file. I can't figure out how to override this to only map `'type' => 'keyword'`.

When I use the `ep_post_mapping` filter and do th

[2022-08-02 21:20] orasik opened #2922 "BUG: Wrong error message"
**Describe the bug**
I have many posts to sync to ElasticSearch (500,000). I tried to sync using the plugin admin page.

After reaching 99% progress, I received an error:

`Sync Failed.  The response is not a valid JSON response.`

I tried again using the CLI, and it looked as if it was working fine, but when I checked the plugin admin page, I noticed it was showing sync failed even when the CLI p

[2022-08-04 09:09] DenisFlorin opened #2924 "QUESTION: PHP Error - Allowed memory size"
Hello,

I'm not sure if this is a bug, but after upgrading from WordPress 5.9.3 to WordPress 6.0.1 the plugin started to throw errors while editing categories.

Below is the error:
**[04-Aug-2022 08:48:27 UTC] PHP Fatal error:  Allowed memory size of 671088640 bytes exhausted (tried to allocate 113247840 bytes) in /app/web/wp-content/plugins/elasticpress/includes/classes/Indexable.php on line 335

[2022-08-04 12:14] felipeelia commented on #2920
Hi @adam-vanbuskirk,

This is not a bug. By default, Elasticsearch will try to find _similar_ words and not only exact matches. Looking at your screenshot I can see _Kashi_  and that is just two letters different from _**Kashi**ma_.

If you want to disable that behavior, you can use the following snippet:
[code]

To read more about Elasticsearch Fuzziness, you can access [their docs](https://www.e

[2022-08-04 12:14] #2920 closed, assigned to nobody

[2022-08-04 16:00] felipeelia commented on #2922
Hey @orasik, thanks for opening the issue. I could partially reproduce the problem and opened #2927, it seems to fix the problem.

Would it be possible for you to run that sync via Dashboard with Chrome's Developer Tools opened and check in the Network tab what is the response from the failing AJAX request? That will help us to understand why you are getting that `The response is not a valid JSON

[2022-08-04 16:12] dustinrue commented on #2918
Beyond telling you in its server health report, ElasticPress is unaware of if it is connecting to a single node or a cluster. Assuming your cluster is configured properly, and it is indeed acting as a cluster, the data is automatically spread across the available nodes. By default, EP requests 5 shards and 1 replica.

If you are having data go missing you will want to ensure your cluster is formed

[2022-08-04 16:12] #2918 closed, assigned to nobody

[2022-08-04 16:30] felipeelia commented on #2924
Hey @DenisFlorin,

Are you seeing that behavior while editing all terms? Or specific ones, like those with more posts associated? If that is happening just on terms with lots of posts associated with them, you could use the EP_SYNC_CHUNK_LIMIT constant to tell ElasticPress to send posts in batches instead of queueing everything.

Let me know your findings, okay? Thanks!

[2022-08-05 09:24] DenisFlorin commented on #2924
Hello @felipeelia,

The save works fine for categories which have fewer posts.

I've enabled the mentioned constant and now I have another problem We don't get anymore the allowed memory limit, but we get a 504 timeout. Some categories have over 20k posts associated. Below is the stack trace:

[code]

Do you have other ideas?

Kind regards,

[2022-08-05 17:12] oscarssanchez opened #2928 "BUG: Woocommerce custom sort doesn't seem to integrate with EP"
**Describe the bug**
Woocommerce offers a custom sorting option when you visit the shop page. It seems EP is ignoring this custom sorting when you have reordered the products in the admin.

**Steps to Reproduce**

1. With Woocommerce and EP enabled, go to Products
2. Click on "sorting"
3. Reorder your products and reload
4. See the ordering has not been applied
5. Visit the shop page and see the o

[2022-08-07 16:09] ChekhWasTaken opened #2929 "QUESTION: Customizing the appearance of related posts"
**Describe your question**
From what i understood from looking thru the code for the related posts widget in `wp-content/plugins/elasticpress/includes/classes/Feature/RelatedPosts/Widget.php`, it seems that there is no straightforward way to customize the looks of the related posts, i.e. adding styles and a thumbnail.

could you please point me to the right direction here?

[2022-08-08 10:49] burhandodhy opened #2930 "BUG: Term search returns nothing in the admin panel."
**Describe the bug**

Term search returns no results in the admin dashboard for the taxonomy whose public parameter is set to false.

**Steps to Reproduce**

1. Register a taxonomy and set `public` to false.
2. Enable `Terms` feature.
3. Create a new term.
4. Search for that term.
5. EP will return empty result.

**Expected behavior**

ElasticPress should return the term.

[2022-08-08 16:45] Greygooo opened #2932 "BUG: Meta query using relation=or while also sorting by meta key creates disjunction with sorting meta key exists"
**Describe the bug**
Creating a meta query for multiple fields with relation OR, while also sorting based on a meta field, creates a query that checks for the disjunction of the original meta query clauses together with `sorting key exists`.

**Steps to Reproduce**
As an example consider the resulting elastic query of following wp query:
[code]
creates the elastic query:
[code]

**Expected behavio

[2022-08-09 09:24] cmcandrew opened #2933 "BUG: EP 4.x - Edit Category update times"
**Describe the bug**
Experiencing issues updating categories with large number of posts (30k), it takes between 7-27 minutes which on Production causes timeouts

Appears to be triggering a Sync on every Update

**Steps to Reproduce**
1. ElasticPress 4.2.2 (any version 4 release)
2. Full Index via WP-CLI
3. Edit Category with thousands of posts (30k) and click Update
4. See error

**Expected behavi

[2022-08-09 14:28] #2922 closed, assigned to nobody

[2022-08-09 14:49] felipeelia commented on #2933
It seems related to #2924

[2022-08-09 18:24] felipeelia commented on #2929
Hi @ChekhWasTaken,

If you need a more detailed presentation, I recommend you to use one of these two functions:

[code]
or
[code]
More info in our docs: https://10up.github.io/ElasticPress/tutorial-features.html#related-posts

[2022-08-09 18:24] #2929 closed, assigned to nobody

[2022-08-09 20:11] nickchomey opened #2934 "Allow for the usage of the msearch API"
**Is your enhancement related to a problem? Please describe.**

I would like to be able to search multiple indexes with one search query, but right now ElasticPress appears to only override one query at a time.

**Describe the solution you'd like**

Elasticsearch has the `msearch`, Multi Search, API which allows you to send many separate queries in one request and receive all of the results at onc

[2022-08-10 14:14] altendorfme opened #2936 "QUESTION: Auto create indices"
The server I'm using doesn't give me permission to _auto_create indices_, is there a way to set this manually?

`2222497 (Post): [security_exception] action [indices:admin/auto_create] is unauthorized for user [xyz]`

[2022-08-10 18:20] #2794 closed, assigned to felipeelia

[2022-08-10 18:27] #2846 closed, assigned to felipeelia

[2022-08-10 18:46] #2695 closed, assigned to felipeelia

[2022-08-10 19:31] felipeelia opened #2938 "BUG: Activating a feature does not trigger the correct sync process"
**Describe the bug**

It seems #2858 may have introduced a bug where the user activates a feature that requires a reindex (like Users, or Terms) and that does not trigger the correct sync, i.e., it should "Delete All Data and Sync" but it simply syncs.

[2022-08-11 11:30] #2938 closed, assigned to JakePT

[2022-08-11 15:38] nickolas-kola commented on #2847
UX deliverable created, please refer to internal channels.

[2022-08-11 15:38] nickolas-kola commented on #2770
UX deliverable created, please refer to internal channels.

[2022-08-11 15:38] nickolas-kola commented on #2739
UX deliverable created, please refer to internal channels.

[2022-08-11 15:40] JakePT commented on #2527
So I've done some discovery on this using the [`@wordpress/hooks`](https://github.com/WordPress/gutenberg/blob/767081132e1f2be43fd660e946c776e1dd2eea80/packages/hooks/README.md) package and it looks promising.

The hooks package itself is only a 5kb dependency, loaded in the footer, and its only dependency is `wp-polyfill` which is already a dependency of several packages used in Instant Results,

[2022-08-11 15:41] chief1983 opened #2940 "BUG: Notice with ElasticPress Related Posts on Widgets admin page"
**Describe the bug**
When ElasticPress is the only plugin enabled and the Related Posts indexing option is enabled (even when switched to the standard Genesis theme and not our own internal edited version) and I visit Appearance -> Widgets (/wp-admin/widgets.php), it generates a notice:

```Notice: Function wp_enqueue_script() was called incorrectly. "wp-editor" script should not be enqueued toget

[2022-08-11 16:00] JakePT commented on #2940
Hi @chief1983, thanks for taking the time to file an issue. I am unable to replicate this issue however, and it would be quite unusual if ElasticPress was responsible as we don't enqueue `wp-editor` at all, let alone as part of the Related Posts feature.

Can you let me know if you installed the plugin from wordpress.org or if you're installing from GitHub?

Also, I noticed that you've tried switc

[2022-08-11 16:14] JakePT commented on #2940
Hi @chief1983, a quick update. It looks like we are in fact enqueuing `wp-editor` in the release version of ElasticPress. Good catch. Thankfully this has already been fixed in the development branch which is why I couldn't find it. So I can let you know that this issue will be fixed in the next release.

[2022-08-11 16:14] #2940 closed, assigned to JakePT

[2022-08-12 06:25] JakePT commented on #2507
Instant Results is currently launched by submitting any form that contains an `input[name="s"]` and on submission of that form it takes the value of that input and triggers a search with that search term. Since we're interacting with two elements here it makes a setting like Autosuggest more difficult because there isn't necessarily a single selector that a user could enter.

We could allow a user

[2022-08-12 12:36] felipeelia commented on #2936
Hi @altendorfme, the indices should not be created automatically but by a specific call. Is there any specific scenario where you are getting that? Do you have the indices already created? (Visiting the Index Health subpage would list the indices you have.) If you don't have them already, you'll need to pass the `--setup` flag to the WP-CLI `index` command.

[2022-08-12 13:58] altendorfme commented on #2936
Hi @felipeelia you're right, the `--setup` was missing, but now I have another problem.

[code]

Success appears, but indexing does not start.

[code]

[code]

[2022-08-12 18:55] #2792 closed, assigned to felipeelia

[2022-08-13 19:36] oscarssanchez commented on #2921
Hi @nickchomey ,

Based on the error you are getting, it seems that even though you have defined the mapping explicitly you'd still need to modify the value created by prepare_meta_types()  https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable.php#L643

You might want to use the `ep_post_sync_args` to modify the data that's sent to ES for the document's meta.

Hopefully this

[2022-08-14 08:51] leroile22 opened #2946 "QUESTION: How to update the index when uploading and deleting post with PHP?"
**Describe your question**

I am not able to find a way to add, update or delete a post from the index using a PHP function. Do functions like these exist in this plugin: add_elastic_index($post_id), delete_elastic_index($post_id), update_elastic_index($post_id)?

In the documentation, it is stated that IndexHelper class is the central point of the process for all methods available (WP Dashboard a

[2022-08-15 02:34] rafaucau opened #2947 "BUG: When the plugin is enabled, the `guid` in the categories RSS is empty"
**Describe the bug**
Recently I have a problem with the sections in Google News. Only the home page feed is indexed correctly.

It turned out that in the RSS feed of the category `guid` is empty.
So I turned off all plugins and started testing one by one. After enabling ElasticPress, the problem occurred.

**Steps to Reproduce**

1. Enable ElasticPress
2. Run sync
3. Add or update a post in a cate

[2022-08-15 02:47] rafaucau commented on #2947
Temporary fix:
[code]
After adding this code, make sure to add or update the post to clear the feed cache.

[2022-08-15 04:40] nickchomey commented on #1871
@aaronjpitts Did you ever figure this out?

[2022-08-15 12:24] leroile22 commented on #2946
I try to read the code, I am not gonna lie I don't understand anything; there are too many classes.

If someone with knowledge on this can help, I can pay a fair price.

[2022-08-15 13:22] felipeelia commented on #2946
Hey @leroile22,

The code you want is this:
[code]

The IndexHelper is the central point of the sync process that goes through *all* posts. To sync only one, that call there should do it. Ideas on how we could document that better and PRs with the addition are welcomed! Thanks.

[2022-08-15 13:22] #2946 closed, assigned to nobody

[2022-08-15 14:11] leroile22 commented on #2946
Thank you very much for the information,

I have sent CHF 20 to the PayPal account associated with your Github.

[2022-08-15 15:08] chief1983 commented on #2940
Thanks for the follow-up, look forward to the fix.

[2022-08-15 19:27] felipeelia commented on #2946
Hey @leroile22, I really appreciate the gesture, but I am just doing my job here and happily reimbursed you. Don't hesitate to pay it forward though and help someone who needs it today :slightly_smiling_face:

[2022-08-16 02:18] oscarssanchez commented on #2875
Hi @rwrobe,

Have you tried to reproduce this outside ACF? i tried to reproduce with a standard metabox approach saving meta data on `save_post` and this wasn't a problem for me, however, with ACF I can reproduce what you reported. I'm wondering if the problem is with ACF

[2022-08-17 12:12] burhandodhy opened #2951 "BUG: The sync process gets stuck when there is only one post (password protected)."
**Describe the bug**

The sync process get stuck in a loop when there is only one published post (password protected). This issue happens only when the Protected Content Feature is disabled.

**Steps to Reproduce**

1. Delete all the posts
2. Create a new Password Protected Post
3. Go to Sync page and click Delete all Data and Start a Fresh Sync button

**Expected behavior**

The sync process shou

[2022-08-17 12:19] burhandodhy opened #2952 "BUG: Progress bar shows NaN instead of number when the number of posts are 0"
**Describe the bug**

Progress bar shows `NaN` instead of number when the number of posts are 0

**Steps to Reproduce**

1. Delete all the posts
2. Go to Sync page and click Sync Now button

**Expected behavior**

Valid number should be show in the progress bar.

**Screenshots**

![image](https://user-images.githubusercontent.com/7139602/185115813-f9ac9963-8241-4a59-be99-3f9419e17372.png)

[2022-08-17 16:20] #2951 closed, assigned to felipeelia

[2022-08-17 16:20] #2952 closed, assigned to felipeelia

[2022-08-17 17:34] nickchomey commented on #2921
@oscarssanchez Thanks for the help! In the end, I decided to just index the handful of metakeys as normal fields, outside of the `meta` nested field - it just seemed much easier to deal with in every way...

[2022-08-17 17:35] #2921 closed, assigned to oscarssanchez

[2022-08-17 17:46] #2776 closed, assigned to felipeelia, brandwaffle

[2022-08-17 17:46] #2811 closed, assigned to felipeelia

[2022-08-17 18:08] ecaron commented on #2867
It actually looks like an action of `shop_subscription_search_custom_fields` - shown at https://github.com/Automattic/woocommerce-subscriptions-core/blob/trunk/includes/admin/class-wcs-admin-post-types.php#L61

I'll continue investigating to see if a PR can come out of this.

[2022-08-19 04:56] nickchomey commented on #2812
@oscarssanchez I am making good progress on the BuddyPress Integration (#3) and would like to add metaboxes to the Search Fields and Weightings feature in order to be able to tweak things from the GUI. But unfortunately there aren't any filters/mechanisms for this yet.

I'd be happy to work on this if you can give me some direction on how you'd like for it to be done.

I'm thinking that it would b

[2022-08-19 14:44] nickchomey commented on #2812
I see this PR https://github.com/10up/ElasticPress/pull/2588 that might be related, but it isn't at all clear to me what it does given the lack of explanation/details...

[2022-08-21 21:31] oscarssanchez commented on #2875
I've done some testing with Fieldmanager and seems to be the same behavior. Seems like something ElasticPress should change.

[2022-08-23 02:13] oscarssanchez commented on #2749
Seems to be compatible with GA4. Closing

[2022-08-23 02:13] #2749 closed, assigned to oscarssanchez

[2022-08-23 08:18] danylfilatov opened #2956 "QUESTION: Does Related Posts feature learn from user interaction?"
When ep shows related posts - does it always query posts that have same words in content / title, or does it also adapt to user interaction? Does it learn from "click behaviour"? Does it track which posts users click on most from the ones presented in related posts widget, and suggest those posts more, or is related posts query simply static and is only about same words found in other posts?

I fo

[2022-08-23 11:57] burhandodhy opened #2957 "Only show those taxonomies in Facet blocks for which show_ui & public parameter are set to true."
**Is your enhancement related to a problem? Please describe.**

Most of the time, developers create a taxonomy that is not available in the admin dashboard, for example the `ep_custom_result ` [taxonomy](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/SearchOrdering/SearchOrdering.php#L338) in ElasticPress. Facet Blocks list the name all taxonomies in the select option.

[2022-08-23 23:31] nickchomey commented on #2671
FYI, I just installed ES 8.3 and so far basic operations seem to be working fine (which really shouldn't be surprising). I'll be poking around with the new NLP-related stuff (https://www.elastic.co/virtual-events/introduction-to-nlp-models-and-vector-search), so will report if I find any conflicts.

[2022-08-24 11:52] ouch-digital opened #2960 "Facets resets/removes Woocommerce default sorting orderby= query string"
Hey EP Team, firstly thank you for creating such an amazing plugin.

This is a little feature request to persist the orderby= query string when filtering facets in EP.

When sorting using Woocommerce orderby= (sort by price, relevance etc), when selecting a EP facet, the WC orderby query string is removed when the new page is loaded.

**Describe the solution you'd like**

It would be great if this

[2022-08-24 12:16] JakePT opened #2961 "Migrate Autosuggest filters to proper WordPress hooks"
**Is your enhancement related to a problem? Please describe.**
ElasticPress Autosuggest supports modifying its functionality by defining JavaScript functions on the window with a particular name. This started with the `epDataFilter` function that allows modifying the data returned from Elasticserach for use by Autosuggest and functions as a rudimentary hook.

[code]

Additional 'filters' have been

[2022-08-24 12:50] JakePT opened #2962 "BUG: Sync page shows a successful previous sync even if the index has been deleted"
**Describe the bug**
The status of the ElasticPress Sync page is currently based on the results of the last sync operation. If a sync has not been performed yet the sync page will only offer a single option for syncing (#2858) and a "You just need to sync your content" admin notice will appear. If a sync has been performed the sync page will show the status of the last sync and display an addition

[2022-08-24 14:24] felipeelia opened #2963 "[Release] 4.3.0"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method. If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.3.0` for your changes.
- [x] 3. Version bump: B

[2022-08-24 16:28] #2509 closed

[2022-08-24 17:59] #2881 closed, assigned to felipeelia

[2022-08-24 18:36] #2855 closed, assigned to MARQAS

[2022-08-25 13:37] #2856 closed, assigned to oscarssanchez

[2022-08-26 15:46] altendorfme commented on #2936
Problem solved!

I needed to declare the ep-prefix:

`wp elasticpress index --setup --ep-prefix=prefixthatwesentyou`

It is also possible to define

`EP_PREFIX_INDEX` on wp-config.

[2022-08-26 15:46] #2936 closed, assigned to nobody

[2022-08-27 09:36] piotrkunicki opened #2966 "Is it possible to disable facets selected terms at the top?"
Currently when I'm using facet widget or block, when I select i.e. the last term - it's moved to the top after page refresh..

Is it possible to disable this feature? I've found order_by_selected function in Renderer.php file but unfortunately disabling it doesn't change anything..

[2022-08-29 13:15] JakePT opened #2967 "BUG: Related Posts links are clickable in the editor"
**Describe the bug**
When using the Related Posts block it's possible to click on the links and be directed away from the editor.

**Steps to Reproduce**

1. Add a "Related Posts" block.
2. While in the editor click on one of the links.

**Expected behavior**
The link should not be followed.

**Additional context**
The Latest Posts block deals with this using a custom click handler: https://github

[2022-08-29 17:13] felipeelia commented on #2960
Hey @ouch-digital,

Thanks for the idea! We will add that in a future release. In the meantime, you can use the following snippet:
[code]

I am marking this as a `good first issue`, as the solution in the plugin should be as simple as adding `orderby` to [this array](https://github.com/10up/ElasticPress/blob/94cb4f5fef76d28e10a3e09099997095c142145b/includes/classes/Feature/Facets/Facets.php#L502).

[2022-08-29 17:23] felipeelia opened #2969 "Refactor Indexable/Post/Post::format_args"
**Is your enhancement related to a problem? Please describe.**

Currently, the `Indexable/Post/Post::format_args` method gets all query args and adds them to a single array that will become the ES query.

**Describe the solution you'd like**

This method can be refactored to handle each query arg separately and run all the pieces through a single WP filter, so additional code could handle the must

[2022-08-29 17:32] felipeelia opened #2970 "Facet by Meta AND Taxonomy: The `any`/`or` operator"
**Is your enhancement related to a problem? Please describe.**

Currently, setting `any` as the operator in the Facets Feature will not work properly when creating a meta facet AND a taxonomy facet. That happens because each one will set an `operator => or` in their `*_query` clause but it won't check a post for `a post that has a term OR a meta field`

**Describe the solution you'd like**
Ideally

[2022-08-29 17:53] felipeelia commented on #2956
Hey @danylfilatov, thanks for opening the issue. It does not take user clicks into account, which would need an update of the post info in Elasticsearch on every interaction and could cause some performance penalties, especially for bigger sites.

By default, it will take into account the post title, content, and tags but you can change that behavior using the `ep_related_posts_fields` filter. See

[2022-08-29 17:53] #2956 closed, assigned to nobody

[2022-08-29 17:59] felipeelia commented on #2339
@shmaltz are/were you seeing any JS errors in console by any chance?

[2022-08-29 18:19] shmaltz commented on #2339
@felipeelia There are no errors in console, and no requests are made in the network tab.

We are using autosuggest btw.

I tried in chrome and firefox.

[2022-08-29 18:24] felipeelia commented on #2339
Thanks @shmaltz. Is this publicly available somewhere we could give a look? The facet widget search does not trigger an ajax request, it simply shows/hides the terms already in the dom.

[2022-08-29 18:28] felipeelia opened #2971 "BUG: Intermittent tests failures"
**Describe the bug**

It seems we have unit and e2e tests that are intermittently failing. Examples are:
- Unit Tests: related to pointers in custom search results
- E2e: Searching for product variation sku
- E2e: Terms (Can a term be removed from the admin dashboard after deleting it)

[2022-08-29 18:41] shmaltz commented on #2339
@felipeelia Here you go: https://dlpx.ca/6mxfw

[2022-08-29 18:49] felipeelia commented on #2339
Got it, @shmaltz. ElasticPress will need one of [these two classes](https://github.com/10up/ElasticPress/blob/develop/assets/js/facets.js#L31) (`.widget_ep-facet` or `.wp-block-elasticpress-facet`) added to the widget wrapper, so it detects the presence of the input and know which elements should be filtered. Adding that should make the JS to trigger in the correct places.

[2022-08-29 18:49] #2339 closed

[2022-08-29 19:18] shmaltz commented on #2339
Thank you @felipeelia I will check that out!

[2022-08-30 11:33] MARQAS opened #2972 "Add ElasticPress-Comments block"
**Is your enhancement related to a problem? Please describe.**
Currently, the ElasticPress - Comments widget is only available as a Legacy widget.

**Describe the solution you'd like**
Ideally, we should be able to add the ElasticPress-Comments as a block for the block theme as well.

**Additional context**
Anyone who is using a block theme will not be able to use this feature.

[2022-08-30 14:33] felipeelia commented on #2962
Let's check indices in Elasticsearch directly, comparing with the indices list we would expect to see based on enabled features.

[2022-08-31 06:54] JakePT opened #2974 "BUG: Custom results are not highlighted"
**Describe the bug**
When highlighting is enabled the search term is not highlighted for results added using the Custom Results feature, even if they contain the search term.

**Steps to Reproduce**

1. Activate Custom Results feature.
2. Create custom results for a search term and manually include results that include the search term in the title.
3. Search on the front end.

**Expected behavior*

[2022-08-31 13:39] #2963 closed, assigned to felipeelia

[2022-08-31 14:42] nickchomey commented on #4
Just linking this with the BuddyPress issue (#3 ) that I've been working on

[2022-08-31 14:59] nickchomey commented on #2812
@oscarssanchez I wonder if this should be related with the [call to action in the 4.3 release](https://github.com/10up/ElasticPress/releases/tag/4.3.0) for ideas for Facets enhancements? We should be able to both extend the Custom Fields and Weights feature and then use those in Facets as well. Again, I'm eager to contribute to this - I just need to be pointed in the right direction.

[2022-09-01 01:06] ouch-digital commented on #2960
Thank you! @felipeelia

That's awesome. Have a great day. I will continue to let you know if I find any small ways I can contribute to the project.

Warm regards

[2022-09-01 20:13] shmaltz commented on #2339
Adding the class fixed the issue. Thanks @felipeelia !

[2022-09-01 20:20] shmaltz commented on #2087
@felipeelia Can we add the `Facet` label to this?

[2022-09-02 12:02] Finnstax opened #2977 "QUESTION: Index by content and by cpt label"
Hey! We're using EP on our page and wondered the following thing:

Is it possible to index not only by content, but also by cpt label?

E.g. we have a custom post type that is called 'Job', where we save our current job listings.

If the user searches for 'job' we want the user to find all the content where 'job' is in the title, excerpt, etc. but we also want the user to find all entries of the c

[2022-09-02 13:56] JakePT commented on #2507
On discovery I think we can break this down and handle this task in two parts, and move decoupling Instant Results from the modal into a separate issue.

The two things that need to be done here:

1. Support a public method for triggering Instant Results to open. I think a good way to do this would be a custom action that could be called with `doAction()` which Instant Results would listen to inst

[2022-09-02 14:04] JakePT opened #2978 "Support more search form fields in Instant Results"
**Is your enhancement related to a problem? Please describe.**
Currently the Instant Results modal is opened by submitting a form containing a search input. This opens the modal and sets the search term in Instant Results. Additionally, if any fields with the name `post_type` are found, this will be used to apply a post type filter in Instant Results.

The problem is that these are the only two fi

[2022-09-02 14:04] JakePT commented on #2507
Created #2978 for #2 above.

[2022-09-02 14:15] JakePT opened #2979 "Decouple Instant Results from the Modal"
**Is your enhancement related to a problem? Please describe.**
The Instant Results feature currently provides a faster search experience by querying EP.io directly with AJAX and bypassing the theme. Since the theme is bypassed it's not possible to serve results using the theme's template, so instead we serve results in a modal window that inherits styles from the theme but is otherwise independent

[2022-09-02 14:15] JakePT commented on #2507
Created #2979 for decoupling Instant Results from the modal.

[2022-09-02 17:20] felipeelia commented on #2977
Hey @Finnstax,

ElasticPress already indexes the post_type slug. If that matches with the label, you could use the following snippet (largely inspired in [this blog post](https://www.elasticpress.io/blog/2020/06/custom-fields-and-weighted-search-with-elasticpress-part-2/)) to enable it as a field in the Weighting Dashboard:

[code]

After adding that, you will be able to make that field searchable

[2022-09-02 17:20] #2977 closed, assigned to nobody

[2022-09-02 17:53] felipeelia commented on #2966
Hey @piotrkunicki,

Unfortunately, with the current codebase that is not possible. You can rewrite the HTML completely with the [ep_facet_search_widget](http://10up.github.io/ElasticPress/ep_facet_search_widget.html) filter tough.

If you want to send us a PR making the usage of `order_by_selected` optional, that would be great. Thanks!

[2022-09-02 17:53] #2966 closed, assigned to nobody

[2022-09-02 18:45] felipeelia commented on #2934
Hey @nickchomey,

Unfortunately, I'm unclear what you are trying to achieve with the msearch API. Do you mind explaining it a bit further?

If you are trying to send the same query to different indices, you could use the [`ep_query_request_path`](http://10up.github.io/ElasticPress/ep_query_request_path.html) filter, and add the indices to the request path. Another way to achieve that is by sending

[2022-09-02 19:22] felipeelia opened #2981 "Rename WP-CLI commands"
**Is your enhancement related to a problem? Please describe.**

Some of the WP-CLI command names are misleading: `clear-index`, for example, seems to imply that an Elasticsearch index would be cleared, when it actually clears a sync process. In some other cases, we use `indexes`, when the official document prefers `indices`.

**Describe the solution you'd like**
We can rename some commands to make

[2022-09-02 20:17] nickchomey commented on #2934
@felipeelia

Thanks for the response!

I'm simply trying to use the msearch api to do multiple searches with one request - the way the BuddyBoss Network Search mechanism works is it does a single mega mysql query for all the various searchables (members, groups, activity posts, CPTs etc...) and then processes them all at once in order to display the results on one, tabbed, page - you can see how t

[2022-09-06 05:27] oscarssanchez commented on #2875
I dug a bit into FieldManagers code with the latest version of EP and it seems either the code to test is not correct, or something got resolved in the latest version. Here's the code I'm using to test after adding a Checkbox field with FieldManager:

[code]

FieldManager saves post meta on save_post which then will trigger either `updated_post_meta` or `added_post_meta`. I'll close this one since

[2022-09-06 05:27] #2875 closed, assigned to oscarssanchez

[2022-09-06 08:02] burhandodhy commented on #2859
This is happening because WordPress calls two different functions [get_terms](https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/class-wp-terms-list-table.php#L143) and [wp_count_terms](https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/class-wp-terms-list-table.php#L147). In this case, this behaviour is expected. @felipeelia, we can close this ticket.

[2022-09-06 13:13] #2971 closed, assigned to burhandodhy

[2022-09-07 11:13] burhandodhy opened #2990 "BUG: Taxonomy Facet tree issue"
**Describe the bug**

When the user selects the child category first and then the parent category in the Taxonomy Facet. The term tree doesn't generate correctly.

**Steps to Reproduce**

1. Create new category let say Mobile.
2. Create two new child categories (Android and iOS) and set the mobile as a parent.
3. On frontend select the iOS first and then the Mobile.

**Screenshots**

<img width="4

[2022-09-11 17:46] jonaaix opened #2993 "QUESTION: How to search in custom data?"
**Describe your question**

Hi there,
I successfully achieved to add additional data to the search index by modifying `Post.php` and `mappings/post/*.php`.

However it is still not possible to search in that data. What is the necessary step to retrieve search results?

Thanks

[2022-09-11 20:17] leroile22 opened #2994 "QUESTION: How to add Post to sync queue?"
**Describe your question**

Currently, I use the following code to add a post to the index:

- ElasticPress\Indexables::factory()->get('post' )->index( $post_id, true );

However, this is heavy as I need to index 1 million posts per day. I would like instead to add the posts to the queue AND set the the queue trigger to be 500 (index once 500 posts are in the queue). So far, I have the following:

[2022-09-12 15:22] yarovikov opened #2995 "QUESTION: WP_User_Query not working"
Hi there.

I have last WP version 6.0.2 and ElasticPress plugin 4.3.0.
So,  a need search for users (username, description and more fields). I have full index without any errors but with this code is not any results:

[code]

Has anyone had a similar problem? Thanks 🙌

[2022-09-12 23:01] AndersonatAMC opened #2996 "QUESTION: How to re-rank searching results based on number of page views?"
Hi I'm using ElasticPress and have bought ElasticPress.io subscription. Now the searching is fast, but I want the searching index re-rank based on number of page views, i.e. if a page has been visited many more times, it should show up at the top of searching results. May I ask if there is any way to do it? Thank you.

[2022-09-13 15:48] catalinoprea opened #2999 "QUESTION: I maintain a news website and I have problem with saving the big categories (Wordpress)"
**Saving / editing big categories**
When editing the big categories (the categories that have thousands of articles associated) the server enters in timeout (I cannot alter this) because of indexing. How can I stop elasticpress from indexing on category / tag (taxonomy) edit ?

I suppose that there is an action / filter which I can use, but the list is huge and the description is laconic.

Please

[2022-09-14 14:20] natesprout opened #3000 "Ability to use Facet by Meta filtering within builders"
I am hoping this request gets enough traction for development sooner than later.

It would be great to see the Facet by Meta that you recently released for Blocks only being widgetized so that builders such as Beaver Builder, Elementor, Divi and the like can use it while building our archive pages and layouts.

We use Beaver Builder & Themer to create and structure our Archive pages with added fac

[2022-09-15 06:35] JakePT opened #3001 "BUG: Custom Results REST API endpoints have no permissions check"
**Describe the bug**
The Custom Results admin page is powered by two REST API endpoints, `pointer_search` and `pointer_preview`. These are used for finding posts when displaying the default search results and when searching for new posts to add. Both of these endpoints have no permissions check even though they're only used in the admin.

They likely lack a permissions check because all they are d

[2022-09-15 14:51] felipeelia commented on #2999
Hey @catalinoprea, you can stop ElasticPress from indexing on a taxonomy edit:

[code]

If you want to make that decision based on the number of posts associated with the term in question, you can use a code like this:

[code]

Just keep in mind that you will need to manually sync everything once you have made all the changes you need.

[2022-09-15 14:51] #2999 closed, assigned to nobody

[2022-09-15 14:54] felipeelia commented on #2924
Closing this in favor of #2933.

[2022-09-15 14:54] #2924 closed, assigned to felipeelia

[2022-09-15 14:57] felipeelia commented on #2933
For users having this problem, the solution outlined in [this comment](https://github.com/10up/ElasticPress/issues/2999#issuecomment-1248213058) might help:

---

You can stop ElasticPress from indexing on a taxonomy edit:

[code]

If you want to make that decision based on the number of posts associated with the term in question, you can use a code like this:

[code]

Just keep in mind that you w

[2022-09-16 05:57] yarovikov commented on #2995
Hi again

I'v used following code. It's works.

[code]

But i have mismatched results searching by user name. How can i fix this?

Thanks

[2022-09-16 08:32] cmcandrew commented on #2933
Hi @felipeelia is this posed as a workaround solution until a proper fix is implemented?

[2022-09-16 12:03] felipeelia commented on #2933
Hey @cmcandrew, yes. The problem with this one is how we will want to "fix" it. We have a couple of options:

1. Make the opposite of how we have it today: totally disable syncs for edited terms, and make it opt-in.
2. (The easiest) Only sync when a term with a certain number of posts is edited.
3. (The optimal) Only sync that specific field of all posts, potentially sending a much smaller request

[2022-09-16 12:06] #2760 closed, assigned to felipeelia

[2022-09-16 13:10] felipeelia commented on #2995
Hi @yarovikov,

What do you mean by mismatched results? By default, it will allow some fuzziness in the results, so for example if someone searches for `yarovokov` it would also match `yarovikov`, as it has only 1 char difference. Is that what you are referring to?

Also, looking at the code that [interprets the search fields to be used](https://github.com/10up/ElasticPress/blob/4.3.0/includes/cla

[2022-09-16 13:28] #2960 closed, assigned to felipeelia

[2022-09-16 13:34] pranavstorepro opened #3003 "QUESTION: I cannot show the facets in the side bar"
The facets and Related Posts are not appearing in the side bar

**Describe your question**
I have configured Elastic press and search is working very well.But ,the facets and related posts in the side bar widget never shows!

https://prnt.sc/c8E95sUsF5iK
https://prnt.sc/3snnio06u3DB

I researched a bit,but unable to solve.Am i missing something.I have activated storefront theme to check ,if there

[2022-09-16 15:31] mazharrehman commented on #3003
I have the same issue, After update ElasticPress 3.6.6 to 4^ than facets is not working any more.

[2022-09-16 20:19] JiveDig commented on #2527
I love this idea. We want to show the post modified date instead of published date, and it's quite rigid.

Is it not possible to have PHP filters for markup/elements in the results? I'm guessing not, since it's pulling from ES, but if there was any way to tweak the template dynamically with PHP, that would be great.

[2022-09-16 21:37] mcarfgit opened #3005 "BUG: Adding synonyms causes indexing to fail"
**Describe the bug**
The elasticpress.io plugin is installed in a Woocommerce store with approx 10,500 products.  When synonyms are added within the elasticpress plugin admin screen, indexing throws an error.   Removing the synonyms allows the indexing to run as expected.

Here's a screen shot showing the error:

![image](https://user-images.githubusercontent.com/113728942/190788737-1b96a9d0-5278-

[2022-09-17 17:06] ws256 commented on #2996
Usually the number of views is fixed in a custom field. Sort by it. orderby parameter.
https://github.com/terrence-gonsalves/elasticsearch-indexer#user-content-supported-wp_query-parameters

[2022-09-17 17:23] ws256 commented on #2995
Hi @felipeelia
To make the parameters relevant, we used the parameter `'orderby' => 'relevance'` WP_User_Query
But I would like to use other sorting options as well.
quote from documentation "You can sort by multiple fields as well i.e. title meta.my_key.raw"
`'orderby' => 'relevance meta.my_key.long',`
Only one sort option works, the one listed first.
If you use parameters
`'orderby' => 'title me

[2022-09-17 17:33] ws256 opened #3006 "QUESTION: Related Posts options"
Hi there.
I have last WP version 6.0.2 and ElasticPress plugin 4.3.0. I also have a website with 70,000 entries. I am using the function Related Posts. The results are not relevant. In some cases, there are none at all or only 1 post (out of 5 requested). Tell me, on what principle does the issuance of posts work Related Posts? Are there any options?

[2022-09-19 13:24] #2995 closed, assigned to nobody

[2022-09-19 17:36] #3001 closed, assigned to felipeelia

[2022-09-19 18:27] felipeelia commented on #3000
Hey @natesprout, thanks for opening the issue!

Although you have a completely valid use case, as widgets are losing space to blocks, we have decided to focus only on blocks for now. Hopefully, solutions to add WP blocks to Beaver Builder will be developed soon enough (it seems there is a [solution for that on Elementor](https://www.wpxpo.com/display-gutenberg-blocks-in-elementor/) already.)

I wi

[2022-09-20 07:08] ws256 opened #3008 "BUG: WP_User_Query orderby"
Hi there.

In order to get relevant user search results, we used 'orderby' => 'relevance' in WP_User_Query
But I would like to use other sorting options as well.
quote from documentation "You can sort by multiple fields as well i.e. title meta.my_key.raw"
'orderby' => 'relevance meta.my_key.long',
Only one sort option works.
If you specify two parameters, we get a 400 error. "Query Response Code:

[2022-09-20 13:30] burhandodhy opened #3012 "BUG: Clicking on Facet Item redirects to the homepage."
**Describe the bug**

The user redirects from search page to homepage when he/she click the facet term. This issue only happens when the search query is empty

**Steps to Reproduce**

1. Add the Term Facet Widget
2. Go to on frontend and search without adding anything.
3. Click on the Facet item.

**Expected behavior**
The user should stay on the Search Page

**Screenshots**

[2022-09-20 17:12] pranavstorepro commented on #3003
It'd worked automatically.
@glow7020 ,my case update not caused the issue!
Thanks

[2022-09-20 17:20] pranavstorepro opened #3013 "Need to include product attribute search for some product categories in the facet"
Hi,

I just need a help to configure product attributes inside product categories in facets.

for example in the side bar facet appears as this https://imgur.com/a/k3xBo42 .I need to add attributes for some of these categories,which should look like a another search facet just below

I was checking its possibilty using the hook ep_facet_search_widget,but could not make it

Any Idea on this?

Thank

[2022-09-21 00:57] jeremylugros opened #3014 "Strange JSON error on woocommerce place order"
Hi team,
after the plugin was installed, synced, and configured, we have tested and found an error when order was placed on checkout page.
The page started loading, and then the session expired right after.
The developer console shows and error on the request response, of an unexpected character on the JSON data.
Analyzing the response, the order was successfully placed, but all the order-received

[2022-09-21 15:01] JiveDig opened #3016 "BUG: Instant results modal closes when unchecking taxonomy filter item"
**Describe the bug**

The instant results modal is working great, thanks! However, when we use the taxonomy/category filters, the modal closes when we try to uncheck any of the items.

**Steps to Reproduce**

1. Use the search to launch the modal
1. Make sure you have taxonomies available to filter
1. Check one or more terms to filter your results
1. Uncheck one of the already checked terms
1. The

[2022-09-21 15:43] JakePT commented on #3016
Hi @JiveDig, this is definitely unexpected behaviour. Are you able to check the JavaScript console while unchecking the term and letting us know if you see any errors? There's a guide on checking this available here if you're not sure how to do it: https://wordpress.org/support/article/using-your-browser-to-diagnose-javascript-errors/#step-3-diagnosis

[2022-09-21 15:50] JiveDig commented on #3016
Sure thing. I'm deactivating a bunch of plugins and doing some general debugging, but no fix yet. Here's the JS error in console when I toggle off the checkbox. With debug on via wp-config.php, it still loads the min file and points to that line.

<img width="557" alt="image" src="https://user-images.githubusercontent.com/540990/191551418-91b6ab9a-9b2f-4803-8062-cf0785a673e4.png">

[2022-09-21 15:55] JakePT commented on #3016
@JiveDig Thanks for the prompt response. It looks like Elasticsearch is not returning the expected response. Are you able to check the Network tab and share the response to the AJAX request? Also, are you able to provide this information:

- ElasticPress version:
- Elasticsearch version
- Where do you host your Elasticsearch server?

If you're using ElasticPress.io then don't worry about the last

[2022-09-21 15:55] JiveDig commented on #3016
<img width="949" alt="image" src="https://user-images.githubusercontent.com/540990/191552722-70fa0ae4-9ca6-44a5-86d0-917cee9baf90.png">

[2022-09-21 16:03] JiveDig commented on #3016
EP: 4.3.0
ES: 7.17.6
Host: Pinging @dws122 from my team, since he set it up.

Related notes:
* This happens on a different site/domain using the same ES instance.
* It doesn't happen with when filtering by Types, only terms (category/tag/custom taxo).

<img width="963" alt="image" src="https://user-images.githubusercontent.com/540990/191553156-332425f8-ffd6-4376-bbbe-fa0795241bfe.png">

[2022-09-21 17:09] oscarssanchez commented on #3014
Hi @jeremylugros ,

Can you confirm this only happens with Woocommerce and ElasticPress activated? I see 74 plugins listed on your site which seems like way too many. If you could help us narrow down, post a screenshare etc to reproduce this that would be great. Thanks!

[2022-09-21 17:24] oscarssanchez commented on #3013
Hi @pranavstorepro ,

If I understand correctly you want the facet to be as an example:

`Upper Parts -> Pistols -> red`

This is not possible and would require some custom coding.

You are right that you'll need to use `ep_facet_search_widge`t to achieve it. You might need to either check for all posts that have the pa (as I remember this is post meta, not a sub category) or check the aggregation

[2022-09-21 17:38] oscarssanchez commented on #3006
Hi @ws256 ,

Fields used are the following: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/RelatedPosts/RelatedPosts.php#L75

It's hard to determine why without knowing your website, but I've seen cases where content is built with ACF, in that case ElasticPress is not looking at these fields, for example.

You can learn more about the query that's being used here: elast

[2022-09-21 18:41] oscarssanchez commented on #3003
Hi @pranavstorepro , @glow7020

Can you please share some steps to reproduce? There are cases where faceting and related posts is not supposed to show anything.

Thanks!

[2022-09-21 18:52] oscarssanchez commented on #2996
Hi @AndersonatAMC ,

Your indexed documents do not store page views as a field, so this is something you "might" want to add manually using a custom field, like it was suggested.

That said, you'll have to take into account the scalability of that approach.

Say you have 70,000 posts and you get 100,000 visits each day. To accurately know whether a page has more views than others you'll need to up

[2022-09-21 18:54] dws122 commented on #3016
We are running on Ubuntu 20.04 LTS

[2022-09-21 21:34] pedlima opened #3017 "[SOLVED] Deleted products still showing in ElasticSearch, although they do NOT even exist in WP database (tested with DebugBar ElasticPress)"
If we look into [this website](https://americana.pt) we will see some products without image (those are in draft), and therefore when we click on them, it gives us a 404 error.

Same happens when we access a tax page, like [this one](https://americana.pt/mochilas-estojos-e-carteiras/)

But if we search for a name of products that are in draft, although they do not appear in search results, there i

[2022-09-21 23:47] oscarssanchez commented on #2994
Hi @leroile22 ,

You are probably looking for `EP_SYNC_CHUNK_LIMIT` https://github.com/10up/ElasticPress/blob/develop/includes/classes/SyncManager.php#L129

[2022-09-21 23:49] oscarssanchez commented on #2993
Hi @btxtiger ,

As we don't know what changes you did to post.php and the mapping file (something we highly not recommend), we'd not be able to help out much. Can you describe in details what changes you did, what data are your looking to search, etc?

Thanks!

[2022-09-22 00:04] jonaaix commented on #2993
@oscarssanchez
Added to post.php:
[code]

What I added in mapping:
[code]

However I did not understand what the mapping is used for, just tried to reverse engineer how the index was created.
The data appears now in the index, but is not searchable.
Thanks for help

[2022-09-22 07:48] JakePT commented on #3016
@JiveDig Thanks for sharing. It looks like the issue is that Elasticsearch is returning an error in response to the query, rather than anything with the ElasticPress plugin itself. I can see that you're using the [elasticpress-proxy](https://github.com/10up/elasticpress-proxy) plugin, rather than ElasticPress.io, so the issue may lie with the Elasticsearch query being generated from that plugin ba

[2022-09-22 07:48] #3016 closed, assigned to nobody

[2022-09-22 12:23] #2967 closed, assigned to felipeelia

[2022-09-22 13:10] #2947 closed, assigned to burhandodhy

[2022-09-22 13:54] ws256 commented on #3006
Thanks @oscarssanchez,

[2022-09-22 16:39] #2930 closed, assigned to felipeelia

[2022-09-22 16:51] #2990 closed, assigned to felipeelia

[2022-09-22 17:08] #2961 closed, assigned to felipeelia

[2022-09-22 17:13] felipeelia opened #3019 "[Release] 4.3.1"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method. If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.3.1` for your changes.
- [x] 3. Version bump: B

[2022-09-22 17:31] ws256 commented on #3006
Thanks, @oscarssanchez
In order for related posts to work correctly, we have added a filter that removes from the array: 'post_content'.
And added forced sorting 'orderby' => 'relevance'
Why isn't it available by default for users and related posts?
After these manipulations, the issuance of posts became correct, where it was not at all - it appeared.

[2022-09-22 20:10] JiveDig opened #3021 "BUG: Conflict with featured images and `update_post_thumbnail_cache()`"
**Describe the bug**

We're trying to speed up queries by using `update_post_thumbnail_cache()` on the search results query. When using custom search results it seems the reordered posts are added to the query as an `ID` instead of the entire `WP_Post` object.

WP core throws an error in `/wp-includes/post-thumbnail-template.php` on line 116 `$id = get_post_thumbnail_id( $post->ID );`. The error i

[2022-09-23 12:35] burhandodhy opened #3023 "BUG: Facet returns no result for a term having accent characters "
**Describe the bug**

Facet returns no result when the term slug has a accent character

**Steps to Reproduce**

1. Create a new category `غير-مصنف`
2. Assign some posts to new category
3. Go to frontend and select `غير-مصنف` from taxonomy widget

**Expected behavior**

It should return the posts from `غير-مصنف` category

**Screenshots**

[2022-09-24 17:11] #3014 closed, assigned to nobody

[2022-09-24 18:10] #3013 closed, assigned to nobody

[2022-09-24 19:09] #3003 closed, assigned to nobody

[2022-09-25 00:29] #2994 closed, assigned to burhandodhy

[2022-09-26 14:29] burhandodhy opened #3024 "BUG: Searches for SKU are not working when EP is activated on the network."
**Describe the bug**

So when ElasticPress is activated on the network, Searching for a SKU doesn't return the product.

**Steps to Reproduce**

1. Activate the ElasticPress and WooCommerce on network
2. Search for product SKU on frontend

**Expected behavior**
It should return the product the way it works for the single site.

[2022-09-27 08:13] JakePT commented on #2527
Hi @JiveDig, the reason Instant Results can be so Instant is that it bypasses WordPress and PHP altogether, so unfortunately the components used by Instant Results will only be modifiable via JavaScript.

[2022-09-27 10:13] burhandodhy opened #3025 "BUG: EP returns nothing when an invalid value is passed to the tax_query field parameter."
**Describe the bug**

By default, the tax_query `field` parameter only accepts `term_id`, `name`, `slug` or `term_taxonomy_id` If any other value passes to `field` parameter, WordPress falls back to default value that is `term_id`. This fallback case is not handled by the EP and, due to that, the EP returns no post for the query. 

**Steps to Reproduce**

1. Run the below snippet  and no post will

[2022-09-27 13:32] JakePT opened #3026 "BUG: 400 response to requests when searching comments"
**Describe the bug**
When searching comments in the admin with the Comments and Protected Content features added Debug Bar was showing a total of 4 requests, and 2 of those were returning a 400 error response with the following content:

[code]
Apart from these errors in Debug Bar the actual search appeared to function as expected, so these responses appear to be for some secondary queries.

**Ste

[2022-09-27 13:34] roborourke commented on #1492
If anyone is hitting this (original) issue it's because the arrays being used to set the `terms` queries are not zero-indexed. This means `json_encode()` will interpret them as objects and not arrays. End result is that Elasticsearch rejects it as a malformed query.

Example:

[code]

Should be:

[code]

Possible mitigation:

Check the arrays you are using when passing arguments to `WP_Query`, mak

[2022-09-27 16:16] jakgsl opened #3027 "BUG: Admin product stock status filtering not working"
**Describe the bug**

Stock filtration on admin Product List page has no effect. All other filters (categories etc, work).
To note, this is happening on another site with a similar setup.

**Steps to Reproduce**

1. Go to Products
2. Filter by stock status (with test products in, out of stock, and back order)

**Expected behavior**

Products to be filtered correctly by stock status

**Screenshots*

[2022-09-27 17:15] #3019 closed, assigned to felipeelia

[2022-09-28 17:54] oscarssanchez commented on #3027
Confirmed the bug. Protected content must be activated to reproduce it.

[2022-09-28 18:13] oscarssanchez commented on #3021
Confirmed we are just returning Id's with Custom results. The problem might lie here https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/SearchOrdering/SearchOrdering.php#L658

[2022-09-28 18:17] oscarssanchez commented on #3017
I can't reproduce with the information shared. @pedlima please fill in the bug template so we can attempt to reproduce with better accuracy.

Thanks!

[2022-09-28 19:26] oscarssanchez commented on #3008
Hi @ws256 ,

The reason you get that is because there's no field mapping "title" for users. Try something like:

`'orderby' => 'display_name meta.user_points.long'`

And this should work.

Probably worth changing in the docs to avoid confusions.

[2022-09-28 19:47] oscarssanchez commented on #3006
Hi @ws256 ,

I guess I don't fully understand what you say. Can you clarify what are the expectations ?

Thanks!

[2022-09-28 19:48] #2996 closed, assigned to nobody

[2022-09-28 20:22] ws256 commented on #3008
Hi @oscarssanchez,

`'orderby' => 'display_name meta.user_points.long'`
In this case, there are no errors 400. But the issuance is not at all what you need.
Sorting on the numerical field _meta.user_points.long_ does not occur

Even if you use it
`'orderby' => 'display_name relevance',`
The only James Bond is on the 3rd page page. The results are no rrelevant.

In order for the search results to m

[2022-09-28 22:24] kevinlisota commented on #2920
@felipeelia the `ep_match_fuzziness` filter is deprecated, replaced by `ep_post_match_fuzziness`. However, returning zero to the new filter does not turn off fuzzy matching. What is the equivalent snippet for 4.3.0?

[2022-09-29 11:30] marc-kohde opened #3033 "BUG: ep_post_match_fuzziness value overridden by default value of deprecated ep_match_fuzziness value"
**Describe the bug**

The deprecated filter `ep_match_fuzziness` is run after its replacement filter `ep_post_match_fuzziness` despite the first filter being defined with `add_filter` and returning a value.

As such, fuzziness is always set to "auto", the default value for the deprecated filter.

**Steps to Reproduce**

1. Add the filter

[code]

When the search is performed this is called (Versio

[2022-09-29 16:36] jonaaix commented on #2993
@oscarssanchez basically I want to be able to find the value that I've added as property "sku". How can I search it?

[2022-09-29 19:32] kevinlisota commented on #3033
I assume this is related to my question [here](https://github.com/10up/ElasticPress/issues/2920#issuecomment-1261524183)

[2022-09-30 04:38] KusalDay opened #3034 "QUESTION: Result drop down showing only 9 product"
In the drop-down list, when I search for something that gives a result, the maximum results are 9 products. I want to show all the results and more than 10 using scrolling to see the result.

[2022-09-30 09:00] ws256 commented on #3006
Related Posts is a display of related posts in terms of content. Not random, not with the same one word in the title.
Above, I wrote what I had to do to get exactly the "related records".

[code]

[2022-09-30 09:19] wongkediri opened #3035 "BUG: missing products in category page"
**Describe the bug**

Missing some products in category page:
the number of products on the category page is different from the query results, the number of products is less than actual

**Steps to Reproduce**

1. Woocommerce admin Go to Products -> Categories check 'count' column
2. click view to see category page in frontend & compare the result

**Expected behavior**
its happen for some categor

[2022-09-30 11:35] jakgsl commented on #3027
That's great - is there something I can turn on/off for the moment to fix?
Is there anything I can do to help fix this?

[2022-09-30 12:24] #3012 closed, assigned to burhandodhy

[2022-09-30 13:41] #2974 closed, assigned to felipeelia

[2022-09-30 13:45] felipeelia commented on #3005
Hi @mcarfgit, what are the synonyms you are setting? This might be related to #2877.

[2022-09-30 14:02] felipeelia commented on #2993
Hi @btxtiger,

Most of WooCommerce products info is already indexed when you have the WooCommerce feature enabled in the ElasticPress dashboard (wp-admin/admin.php?page=elasticpress)

To @oscarssanchez's point, we do not recommend editing the plugin code. Instead, you could use the `ep_post_sync_args_post_prepare_meta` filter to change the post (in this case product) before it is sent to Elasticse

[2022-09-30 14:02] #2993 closed, assigned to burhandodhy

[2022-09-30 14:15] felipeelia commented on #3021
@oscarssanchez @JiveDig can you please check if #3010 fixed this problem? Thanks!

[2022-09-30 14:32] felipeelia commented on #3027
@jakgsl any chance you can give #3036 a try and confirm it fixes the issue? Thanks!

[2022-09-30 17:06] felipeelia commented on #3033
Hey @marc-tt, thanks for opening the issue. I've created a PR changing a bit how those filters work and now the deprecated filters will honor the value set with the newer filters. And yes, @kevinlisota, that is related to your question, thanks for that.

[2022-09-30 17:13] felipeelia commented on #3034
By drop-down list you mean Autosuggest? If so, you can change the number of posts displayed with the following snippet:
[code]

To add a scroll to the list, you can use something like this:
[code]

[2022-09-30 17:13] #3034 closed, assigned to nobody

[2022-09-30 17:25] felipeelia commented on #3035
Hi @wongkediri,

I can't reproduce the error locally. Do you happen to know when the numbers start to differ? Would it be possible for you to delete and sync all your content again and keep an eye on those numbers and reach out saying the exact event that does not update the count?

Thanks!

[2022-10-02 10:28] pedlima commented on #3017
Thank you first of all for your care in answering and help.

Could you please let me know what more you need me to let you know in order to help you, helping me?

I mean the" bug template" should have: Bug description (is there), Steps ro Reproduce (I've explained how to reproduce the problem), Expected behavior (also stated this part), Screenshots (I sent links to see it happening live, it's bett

[2022-10-03 05:54] burhandodhy opened #3039 "Introduced Factory for Post, User and Term"
**Is your enhancement related to a problem? Please describe.**

For the PHP unit tests, we have helper functions `create_and_sync_post`, `create_and_sync_user` and `create_and_sync_term` to create the dummy data and sync with ElasticSearch. The one issues which I found in these functions, is that we have to manually provide the content, they don't generate the content automatically. 

**Describe t

[2022-10-03 07:39] burhandodhy opened #3040 "BUG: put-mapping --network-wide CLI command returns an error without explanation when plugin is not activated on network"
**Describe the bug**
The WP CLI command `wp elasticpress put-mapping --network-wide` returns an error without explanation when plugin is not activated on the network.

**Steps to Reproduce**

1. Activate plugin plugin on the main site (not network wide).
1. Run `wp elasticpress put-mapping --network-wide`.

**Expected behavior**
The command should only run for the single single site and doesn't th

[2022-10-03 09:27] jakgsl commented on #3027
@felipeelia Hi, yes this has completely corrected the issue.

Great stuff,

Regards,

[2022-10-03 11:57] #3027 closed, assigned to burhandodhy

[2022-10-03 14:08] casinojeffrey opened #3043 "QUESTION: WordPress with API-Data: Crawler possible?"
**Describe your question**

Hi there. I have about 7400 posts as posts and custom post types.

also i have about 75k of pages displayed live via an api. therefore i need a solution to scrape / crawl my wordpress website for content on a daily basis and include this data to my search bar.

can this be done with elasticpress & the elasticpress plugin?

thank you for your reply in advance and best re

[2022-10-03 14:21] #3005 closed, assigned to nobody

[2022-10-03 18:13] #3035 closed, assigned to nobody

[2022-10-04 14:16] #3006 closed, assigned to nobody

[2022-10-05 20:00] mae829 opened #3046 "Widget get_terms() optimization"
**Is your enhancement related to a problem? Please describe.**
On enterprise level websites, some taxonomies can reach large number count (10k+). I know it can be up to the client to clean that up but sometimes that will just not happen.
The large number of terms results in the call to [get_terms()](https://github.com/10up/ElasticPress/blob/25058386304cde1281a2c4df4719a35476b797ea/includes/classes

[2022-10-05 21:06] Junior774 commented on #2023
Hi @pinguluk

I think I'm having the same problem and I'm trying to implement your solution, where do I set the ids terms? and where I can see the ids of my terms, I'm using advanced query options dinamyc related posts.

[2022-10-06 06:31] Vaibhav2608 opened #3047 "QUESTION: How can I use ajax to get response form elasticsearch"
**Describe your question**

I am on the woocommerce project which have 10k products approx, in which we want to give some filter by meta fields. I followed the guide line i cheked, non of our meta_key starts with `_`. For template we create html structure and fire ajax query if someone enter any thing html input though jquery. As wordpress basic coding structure we hook ajax action with php functi

[2022-10-06 08:11] burhandodhy commented on #3024
I'm closing this bug as searching by SKU is working fine when ElasticPress is activated on networking.

[2022-10-06 08:11] #3024 closed, assigned to burhandodhy

[2022-10-06 13:22] pinguluk commented on #2023
From what I remember and read from my comment, on **initial load** and every **load next page**, I call the custom **getFilterIds** function, which retrieves the ids of the posts and set them in the **data**, for the ajax request:

[code]

then in the php file, I retrieve and assign the data to a new variable

[code]

and then override the data, to be queried.

[code]

which basically sets the **p

[2022-10-06 19:51] oscarssanchez commented on #3047
Hi @Vaibhav2608 ,

There could be many reasons for your problem. If you are unsure if the results are coming from Elasticsearch, you will see the elasticsearch_success property defined in the WP_Query object. See for example: https://github.com/10up/ElasticPress/blob/develop/tests/php/indexables/TestPost.php#L418

I'd start checking that. You could also log the request sent to elastic and the resp

[2022-10-06 19:57] oscarssanchez commented on #3043
Hi @casinojeffrey ,

I don't understand your question, do you mean you want to scrape content, put that later into your WordPress site and make that available for search, or the opposite, you have another website unrelated to WordPress, and you want to scrape its content? I also don't understand what you mean by including the data to your search bar.

Thanks!

[2022-10-07 04:58] Vaibhav2608 commented on #3047
Hi @oscarssanchez ,

Well my ajax function did send the query every time but i didn't find my query in Elasticpress query log. in response of my query i get this
`{"query":{"ep_integrate":true,"post_type":"product","meta_query":{"0":{"key":"cas_number","value":"99627-0"},"relation":"AND"},"orderby":"rand","posts_per_page":20,"pagination":true},"query_vars":{"ep_integrate":true,"post_type":"product

[2022-10-07 07:12] casinojeffrey commented on #3043
@oscarssanchez Thank you for your reply. So let me try to rephrase it then:
- everything is inside 1 wordpress site
- but the 75k pages are no posts/custom posts and are only being displayed via an api-plugin
- "including the data to my search" was my try to say that i want the 75k pages added to the elastic-database so users will be able to search for them.

hope that clarifies the topic

[2022-10-07 11:13] burhandodhy opened #3049 "BUG: PHP Unit Tests are failing on PHP 8"
**Describe the bug**

PHP Unit tests are failing on PHP 8. Only 5 tests have the issue.

[code]

**Steps to Reproduce**

1. Set PHP version to 8
2. Run unit tests.

**Expected behavior**
All tests should pass on PHP 8

[2022-10-07 13:03] felipeelia commented on #3049
Once we have addressed this one, let's make sure we bump the PHP version used in the GitHub Action too.

[2022-10-07 20:35] JiveDig commented on #3021
Sorry for the delay. Yep! #3010 fixes it for me. I'm running master branch and manually changed the 2 lines in SearchOrdering.php and it works as expected. Thanks!

[2022-10-08 07:52] devteam-pisarek opened #3052 "Autosuggest not working"
Autosuggest not working.
What configuration I have set
Enable elastipress autosuggest feature
Set custom autosuggest selector as per requirement
Endpoint URL : /autosuggest
I'm using a third-party elasticsearch host URL which is on amazonaws.com

So when I type any text in the search field, the request goes to 404 https://ecsdev.participaction.com/autosuggest
If I change the endpoint URL with the

[2022-10-09 20:45] pedlima commented on #3017
@oscarssanchez any idea of what this could be? Thank you so much.

[2022-10-10 10:42] burhandodhy opened #3054 "Improve PHP Unit Tests Coverage"
**Is your enhancement related to a problem? Please describe.**

This bug will be used to improve the overall coverage of PHP Unit Tests

[2022-10-10 12:50] burhandodhy opened #3055 "BUG: WP_User_Query Search returns all user when search_columns set to user_url"
When we set the `search_columns` to `user_url` in the `WP_User_Query`. The search result returns all the user whose website value is set.

**Steps to Reproduce**

1. Create 3 users.
2. Set the Website field of one user to `https://elasticpress.io` and for other 2 users set field to `https://example.com`
3. Run the below snippet

[code]

**Expected behavior**

It should only returns the user who's

[2022-10-10 13:58] burhandodhy opened #3056 "BUG: WP_User_Query Search returns more results than expected"
**Describe the bug**

`WP_User_Query` Search returns more results than expectation when we search for the user email. For example when I search for `example@gmail.com`, ElasticPress returns all user with the matching email.

For example

- admin@example.com
- epredovic@gmail.com
- testuser@example.com
- testuser4@example.com
- testuser5@exampl.com
- burhantest@gmail.com
- example@gmail.com (only t

[2022-10-11 08:13] glamble007 commented on #2742
Hi,

It is a REST API endpoint that fetches (searches for Images / attachments).
When the plugin is disabled, the query works fine. However, when the
elasticpress plugin is enabled, the array is blank.
Any advice?

Regards;

On Wed, May 11, 2022 at 11:41 PM Felipe Elia ***@***.***>
wrote:

--
[image: avatar image]

www.urbanplatter.in <https://urbanplatter.in/>
Dhaval Kenia

Founder & CTO
--------

[2022-10-11 11:48] #2527 closed

[2022-10-11 12:40] #3033 closed, assigned to burhandodhy

[2022-10-11 12:49] #3040 closed, assigned to felipeelia

[2022-10-11 13:07] #2610 closed

[2022-10-11 13:44] oscarssanchez commented on #3021
Works for me as well!

[2022-10-11 13:45] #3021 closed, assigned to oscarssanchez

[2022-10-11 14:09] felipeelia commented on #3046
Hey @mae829, thanks for the suggestion. Do you mind sending us a PR changing the get_terms call to pass `update_term_meta_cache` false? Thanks!

[2022-10-11 14:19] #2957 closed, assigned to burhandodhy

[2022-10-11 16:12] #1781 closed

[2022-10-11 16:25] #2969 closed, assigned to felipeelia

[2022-10-11 17:20] oscarssanchez commented on #3052
Hi @devteam-pisarek ,

Autosuggest endpoint should be a publicly available endpoint to the end user (for example, the post index endpoint). We discourage that however, as there's security reasons to not make that available for the end user. See: https://elasticpress.zendesk.com/hc/en-us/articles/4413938931853-Considerations-for-self-hosted-Elasticsearch-setups

As this support is outside the scope

[2022-10-11 17:20] #3052 closed, assigned to nobody

[2022-10-11 17:25] oscarssanchez commented on #3047
Hi @Vaibhav2608 ,

That seems correct to me, can you verify this query works in a non-ajax context? For that, i'd recommend installing our debug bar elasticpress plugin. More on that here: https://www.elasticpress.io/blog/2017/05/debugging/

Thanks!

[2022-10-12 07:20] Vaibhav2608 commented on #3047
Hi @oscarssanchez ,

The same query is working for non-ajax context.

[code]

For this query, response have `[elasticsearch_success] => 1` thus this coming from elastic search. I checked it on init action hook. But same query in ajax will give result in 5s and elastic press debug bar don't have my query.

I don't understand where I have been wronged and what to do.

Please help

[2022-10-12 11:58] #3039 closed, assigned to felipeelia

[2022-10-12 13:13] #2932 closed, assigned to felipeelia

[2022-10-12 18:05] #3026 closed, assigned to MARQAS

[2022-10-12 19:20] #2507 closed

[2022-10-13 10:11] pedlima commented on #3017
@oscarssanchez Any news on this? Please.

[2022-10-13 11:43] #2859 closed, assigned to felipeelia

[2022-10-13 11:57] Vaibhav2608 commented on #3047
Hi @oscarssanchez ,

I came across filter `add_filter( 'ep_ajax_wp_query_integration', '__return_true' );` after that my ajax query have `[elasticsearch_success] => 1` but response is still taking 2sec. Is it possible to get result with in less then 1sec.

Thank you

[2022-10-13 13:53] pedlima commented on #3017
So, [these products](https://ibb.co/R9rRw2J) do not even exist in database (at all, they are simply not there).

So when we turn off ElasticPress, those results disappear.

BUT, for some reason, ElasticSearch is NOT receiving that information and therefore, showing these results as "publish", which is obviously not true at all.

[2022-10-13 17:27] casinojeffrey commented on #3043
@oscarssanchez is it ok to post a reminder here? sorry if it shouldn't be done, just checking in

[2022-10-14 07:39] Vaibhav2608 commented on #3047
Why does this has results in no product where as same query in sql returns 135 products. Even other fields too.
[code]

[2022-10-14 08:52] Vaibhav2608 commented on #3047
I think this issue is due to `wp_query`, is there any other way around to achieve same thing.

[2022-10-14 10:36] burhandodhy commented on #3049
@felipeelia phpunit 7.5.20 doesn't have support for PHP 8. Should I bump the version?

[2022-10-14 11:16] felipeelia commented on #3049
Yeah, that won't be simple though. There is an issue for that already: https://github.com/10up/ElasticPress/issues/2459

[2022-10-14 14:57] felipeelia opened #3059 "BUG: Translation of JavaScript files"
**Describe the bug**

Although we are using WordPress i18n functions in JS files, currently it is not possible to translate any of those strings.

Here is the list of things that needs to be changed:

- [x] 1. For each `wp_enqueue_script()` or `wp_register_script()` call we have, a call to `wp_set_script_translations()` needs to be added;
- [x] 2. We need to check if blocks' JS files also need tha

[2022-10-14 20:46] mae829 commented on #3046
@felipeelia sure thing.

PR created over at #3060

[2022-10-16 22:43] mailshuxin commented on #2026
Thank you very much for your help.

[2022-10-17 04:37] #3047 closed, assigned to nobody

[2022-10-17 15:50] #2970 closed, assigned to felipeelia

[2022-10-17 15:55] #3046 closed, assigned to felipeelia

[2022-10-17 16:04] #3025 closed, assigned to felipeelia

[2022-10-17 17:30] felipeelia opened #3062 "Make Facets by Meta available by default"
**Is your enhancement related to a problem? Please describe.**

Now that #2970 was merged, we can make Facets by Meta available by default, without needing a plugin for it.

[2022-10-17 18:20] oscarssanchez commented on #3043
@casinojeffrey if those 75k pages are no posts/custom posts then the plugin doesn't know how to index those or search them.

There's a couple of approaches you could follow thinking out loud.

- Create those 75k pages in your WordPress site, let ElasticPress then index them and they should be searchable as well. If you need to change the permalink for them to link to another site it should be poss

[2022-10-17 22:04] pedlima commented on #3017
Thank you for NO help at all.

Anyway, in order to help the community, here's the solution that worked for me.

We use crons to fire some actions, such as indexing using WP-CLI Commands. So one command we were using on the crontab is this, for instance:

`30 06 * * * sh /home/dev/public_html/elasticpress-cron.sh
`
And inside that shell file, we had this:

[code]

Problem is, using the command "wp

[2022-10-17 22:04] #3017 closed, assigned to nobody

[2022-10-18 14:04] vojkny opened #3063 "BUG: Notice: Undefined index: server_type in /var/www/html/wp-content/plugins/elasticpress/includes/classes/Elasticsearch.php on line 1322"
**Describe the bug**

This is not really bug, but annoying warning if you have all the logging on:

Notice: Undefined index: server_type in /var/www/html/wp-content/plugins/elasticpress/includes/classes/Elasticsearch.php on line 1322

**Steps to Reproduce**

I am not sure why this happens on my instance. Maybe there needs to be some additional erorr handling,

**Expected behavior**

Ideally such m

[2022-10-18 14:11] felipeelia opened #3064 "Future of alternative Indexables"
- Mark Users as deprecated (4.4) and then move it to EP Labs on 5.0
- For Terms and Comments just make it available though code (starting on 5.0)

[2022-10-18 15:59] JiveDig commented on #2415
Sorry to resurrect this one, but it's exactly what we're wanting to do as well.

Is it possible to have term archives (category/tag/custom taxo) show up combined within the posts in search results? I understand it may have to merge queries, but seems very relevant. @stijlbreuk's example is a great use-case.  If someone searches **Radios** they should see results for the Radios term archive as well

[2022-10-18 17:36] felipeelia opened #3065 "Update Cypress"

[2022-10-18 17:46] felipeelia commented on #3017
Hi @pedlima,

ElasticPress out-of-the-box keeps products in sync in real time. Whenever a post is inserted, changed, or deleted there is code to sync that with Elasticsearch (see [here](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/SyncManager.php#L55).) That said, no one should be indexing the entire content daily.

If that code is not working as it should, the

[2022-10-18 18:14] pedlima commented on #3017
Hi @felipeelia ,

Thank you for your answer but as you can see, an explanation like the one you just gave would have helped a LOT and would have literally saved days of research from my side.

But, unfortunately, you only answered 27 days after my initial post and you talk about "SLA".... seriously?

Again, I do know what "open source" is, community, etc. if I didn't knew, I wouldn't invest my pre

[2022-10-18 18:22] oscarssanchez commented on #3063
Hi @knyttl ,

It would be great if you could give more details about this, there's a couple of places where that gets defined, but it should be always defined as a property as you can see here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L52

Ans just to make sure you are not using this filter, correct ? https://github.com/10up/ElasticPress/blob/develop/inc

[2022-10-18 18:38] oscarssanchez commented on #2415
Hi @JiveDig ,

Yes that's totally doable, you'll need to account for term suggesting in the mapping, indexing term suggestions, formatting the args that are being sent ås the request, and create a new autosuggest JS file that handles all of this. Unfortunately this kind of thing falls out of the normal scope of this plugin since it is a completely different feature than normal autosuggest, but we

[2022-10-18 19:37] JiveDig commented on #2415
Okay cool, thanks for the reply. I don't actually need this via autosuggest though, I forgot that's what the OP was about. I need it for regular search results, as hijacked by EP. Hoping I can keep it all in PHP.

[2022-10-19 04:47] vojkny commented on #3063
Hi,

honestly I have no idea. This happens on my fresh installation and I never touch the variable.

No I don't use it. It is just a fresh run of the plugin.

Is there a way to set this variable so that the error disappears?

[2022-10-19 09:04] amanfredini76 opened #3067 "Search Woocommerce order by id"
Hi, in my Elasticpress istance the order search doesn't work with order ID.

Why?

It return another set of order

[2022-10-19 13:32] amanfredini76 commented on #1396
Hi,

my elasticpress search by post id, not order_number, even i've inserted this snippet

@flaversaver21

[2022-10-19 14:11] felipeelia opened #3069 "Facets: Provide a way to get all items except some"
**Is your enhancement related to a problem? Please describe.**

Currently, if the user wants to get results for all terms except some, it is needed to click on all the terms one by one (waiting for the page to refresh on each selection.)

**Describe the solution you'd like**
We could provide the user a way to select everything, unselect some, and only then apply the filters.

**Additional context*

[2022-10-19 15:31] brandwaffle commented on #3017
@pedlima I just wanted to let you know that we're very proud of how @felipeelia represents 10up. In the future, I recommend you look to the documentation for ElasticPress, which clearly explains all of the questions you had and would have saved you a lot of time (and prevented you from having to verbally attack folks trying to help you).

[2022-10-19 15:38] pedlima commented on #3017
@brandwaffle Good to know. Wish you guys all the best.

[2022-10-19 19:49] swiftcommike commented on #2713
Same error message in our WP dashboard. I just tried to deploy  Elasticsearch 7.10, but only 3 versions are available in the
Kibana/AWS management console. They are: 8.4.3, 8.3.3, 7.17.6. So, without spinning up a server manually, it seems impossible to deploy a compatible version on Kibana/AWS.
I'm interested in reverting, because multi-word searches are not producing results. Only single work se

[2022-10-19 23:02] gwhitehead opened #3070 "BUG: Problem with Indexing via CLI"
To give you a background, the site we have has a lot of Post Meta data that is being indexed. We found that we have to do groups of Post ID index requests via the CLI in order to get through it all. We are using the --lower-limit-object-id and --upper-limit-object-id= commands. Since we are on a WP Engine hosting environment we believe we are limited by time so we have to break it up in groups of

[2022-10-20 07:39] Vaibhav2608 opened #3072 "Why did wp query didn't show up in debug console In elastic press section"
I made some code through which we can filter woocommerce products. Code works purely on ajax and `wp_query` but the problem is my query didn't show up in elastic press debuge console, I even install Query Monitor to view query but it also doesn't contain my query.

Did ajax query didn't show up in debug console? And one more thing why did response takes 2 sec.

If any one can tell me if these thin

[2022-10-20 15:26] #3065 closed, assigned to burhandodhy

[2022-10-20 20:32] #2459 closed

[2022-10-20 20:32] felipeelia commented on #3049
Closed by #3073

[2022-10-20 20:32] #3049 closed, assigned to felipeelia

[2022-10-20 21:09] #3062 closed, assigned to felipeelia

[2022-10-21 07:07] burhandodhy opened #3075 "BUG: Deprecated Warning: uasort(): Returning bool from comparison function is deprecated"
**Describe the bug**

ElasticPress is giving the deprecated warning when running it on PHP 8.

`uasort(): Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero`

**Steps to Reproduce**

1. Install ElasticPress on PHP 8 environment.
2. Import WooCommerce Dummy Content.
3. Add the Taxonomy Facet and select the `clothing` term.

**Expected

[2022-10-21 13:51] #3043 closed, assigned to nobody

[2022-10-21 13:57] felipeelia commented on #3063
Hi @knyttl,

Can you please go to the Settings page, save it again, and check if the error is gone? Probably not related but your WordPress version does not match our minimum requirement (currently WP 5.6.), is it possible for you to test it against a newer version? Thanks

[2022-10-21 14:03] felipeelia commented on #3067
Hi @amanfredini76,

Can you please install the [Debug Plugins](http://10up.github.io/ElasticPress/tutorial-debugging.html) and share with us the query information (query args, query body, and query results)? You can paste them into https://pastebin.com/ and share only the link, so it is easier to read.

The WooCommerce feature will also search for that number in a [set of different fields](https:/

[2022-10-21 14:13] felipeelia commented on #3072
Hi @Vaibhav2608,

AJAX Requests will not be captured by any of these debug plugins, as they can only detect things happening in the request that has "created" the original page (not any subsequent request.)

I'm not sure about what you are trying to achieve but you can debug it using tools like XDebug or error_log calls, so messages are output in log files. To integrate AJAX calls, you might need

[2022-10-21 16:24] #3023 closed, assigned to felipeelia

[2022-10-21 17:19] oscarssanchez commented on #3070
Thanks for opening this @gwhitehead !

I wonder if the first issue is related to object cache not being updated with the sync meta information that the indexing finished. As for the other ones, If I recall correctly your site has a lot of PDFs as well. Sometimes these could be heavy and if there's more than a couple per batch, I think that could explain the reason of the timeouts.

One way to chec

[2022-10-21 20:31] gwhitehead commented on #3070
Could very well have been this object caching within the hosting environment.

[2022-10-21 20:31] #3070 closed, assigned to nobody

[2022-10-24 07:13] vojkny commented on #3063
I seems that the error disappeared over the weekend. I haven't done anything at all, so nevermind 🤦

Closing 👍

[2022-10-24 07:13] #3063 closed, assigned to nobody

[2022-10-24 14:23] #3067 closed, assigned to nobody

[2022-10-25 16:35] felipeelia opened #3077 "Better Debugging and Status Report"
- [ ] Change the existing debug info in Health Tools to `'private' => false,` so they can be retrieved while copying/pasting it
- [ ] Add a notice in the Sync Page if we detect the site has more public meta than Elasticsearch would technically support
- [ ] Add some information about the number of meta fields (total and per post-type) and the number of fields already stored in Elasticsearch

[2022-10-25 17:42] #2981 closed, assigned to felipeelia

[2022-10-26 05:46] ws256 commented on #3056
Hello!
That's right, full-text search, the word gmail is everywhere.
1. read https://github.com/10up/ElasticPress/issues/3008
2. use sorting by relevance

[2022-10-26 05:59] ws256 opened #3080 "BUG: Gallery Shortcode"
Hi all.

**Describe the bug**
I found this bug, if a standard gallery shortcode is used in a published post on the site, there will be an error during indexing.
https://codex.wordpress.org/Gallery_Shortcode

**Steps to Reproduce**

1. Create a post containing a shortcode [gallery]
2. Start creating an index

**Expected behavior**
It is expected that the progress bar will reach 100% and there will

[2022-10-26 13:51] #3059 closed, assigned to felipeelia

[2022-10-26 16:47] oscarssanchez commented on #3080
Hey @ws256 ,

I tried to reproduce this but I am unable. Can you please try to reproduce from your end with a fresh install and if you can reproduce, would you mind sharing a screencast to see the steps you are taking?

Thanks!

[2022-10-26 17:42] oscarssanchez opened #3083 "BUG: Custom results should be excluded from available facet options"
**Describe the bug**

As of now, we can select custom results as a facetable taxonomy

<img width="455" alt="Screen Shot 2022-10-26 at 12 26 25" src="https://user-images.githubusercontent.com/31049169/198097072-007fe420-e0e8-46b8-8edf-ab0b523eddd9.png">

We probably shouldn't give users the option to select it. There's not a practical purpose allowing them to.

**Steps to Reproduce**

1. Activate

[2022-10-26 18:21] oscarssanchez opened #3084 "Revisit post index mapping data types"
**Is your enhancement related to a problem? Please describe.**

We could improve some of the data types in mappings.

**Describe the solution you'd like**

* Thumbnail src from `text` to `keyword` : https://github.com/10up/ElasticPress/blob/develop/includes/mappings/post/7-0.php#L445 (this is similar to other URL data like https://github.com/10up/ElasticPress/blob/develop/includes/mappings/post/7-

[2022-10-26 19:49] LucyTech opened #3086 "Sync is getting stuck"
I am trying to sync the index on my website but I'm just seeing this in the log file:
Processed posts 2019 - 2019 of 2021. Last Object ID: 0
Processed posts 2019 - 2019 of 2021. Last Object ID: 0
Processed posts 2019 - 2019 of 2021. Last Object ID: 0

[2022-10-26 19:49] LucyTech opened #3087 "Sync is getting stuck"
I am trying to sync the index on my website but I'm just seeing this in the log file:
Processed posts 2019 - 2019 of 2021. Last Object ID: 0
Processed posts 2019 - 2019 of 2021. Last Object ID: 0
Processed posts 2019 - 2019 of 2021. Last Object ID: 0
Processed posts 2019 - 2019 of 2021. Last Object ID: 0

[2022-10-27 06:01] mediachip-ux opened #3088 "Search suggestions don't match the search query"
Hello, our website is [here](https://www.specialistsales.com.au) - elasticpress/elastic search is doing some strange things and not showing relevant suggestions.

For example if you search for 'red marker dye' other products or completely unrelated products will populate well before any of the red marker dyes are shown.

Also, we find that the suggestion box takes a very very long time to pop up.

[2022-10-27 06:05] mediachip-ux opened #3089 "The response is not a valid JSON response.QUESTION:"
We are trying to sync Elasticpress but we get the following message:

Elasticpress - Sync Fails - The response is not a valid JSON response.

Is there a way to fix this?

[2022-10-27 17:15] oscarssanchez commented on #3087
Closing as it is a duplicate of https://github.com/10up/ElasticPress/issues/3086

[2022-10-27 17:15] #3087 closed, assigned to nobody

[2022-10-27 17:17] oscarssanchez commented on #3089
Hi @mediachip-ux ,

This could be for a variety of reasons, most often it could be because of a plugin conflict. I think the first steps is confirming this by disabling all your plugins and only keeping ElasticPress. If indexing proves to be successful, then finding the conflicting plugin would be the second step.

[2022-10-27 17:22] oscarssanchez commented on #3088
Hi @mediachip-ux ,

It seems your autosuggest is not the one from ElasticPress. I'd probably check what WP_Query is being sent to EP to format by logging it and/or log the formatted args that are being sent as a request by ElasticPress. From there it will be easier to translate what is the request asking and infer why you get the results you currently get.

[2022-10-27 17:26] oscarssanchez commented on #3086
Hey @LucyTech ,

I'd try these WP CLI commands:

`wp elasticpress stop-indexing`

And then

`wp elasticpress index --setup --show-errors`

This will unstuck your index and attempt a new indexing operation. Hopefully that solves it.

[2022-10-27 20:40] felipeelia opened #3090 "Apply code standards to PHPUnit tests as well"
Currently, our PHPUnit tests don't follow the code standards enforced throughout the plugin. It would be great if we could fix that.

[2022-10-27 22:31] oscarssanchez commented on #3083
This seems to be resolved in latest develop.

[2022-10-27 22:31] #3083 closed, assigned to nobody

[2022-10-27 22:39] felipeelia commented on #3090
We will need https://github.com/10up/phpcs-composer/pull/36 to be merged or to use a fork of the repo to have the tests folder added to the linter.

[2022-10-28 15:55] jonasborneland opened #3094 "BUG: Version 4.3.0 release notes link to Facet By Meta plugin"
**Describe the bug**

4.3.0 notes this deat link: [this plugin](https://raw.githubusercontent.com/10up/ElasticPress/develop/tests/cypress/wordpress-files/test-plugins/elasticpress-facet-by-meta.php)

Im using 4.3.1 and I can't see the Facet By Meta anywhere in widgets? Where do I find it? Do I need the plugin mentioned above? :)

**Steps to Reproduce**

1. Go to 'https://github.com/10up/ElasticPre

[2022-10-28 16:20] felipeelia commented on #3094
Hey @jonasborneland, thanks for the heads up! I've just fixed the link now, do you mind trying again? And yeah, you will need that plugin in order to see the Facet By Meta block in the dashboard.

[2022-10-28 16:20] #3094 closed, assigned to nobody

[2022-10-28 17:01] gwhitehead opened #3095 "QUESTION: AutoSuggest customizations stop working with 4.3.1"
So with 4.3.0, the autosuggest customizations that are working via custom javascript have stopped working with 4.3.1.

I am limiting the number of results with

[code]

And then customizing the output with

[code]

And 4.3.1 does not appear to be working with any of these customizations.  No console error log at all from what I can see.

[2022-10-28 17:36] jonasborneland commented on #3094
@felipeelia Thank you for the quick reply! I have installed and activated the plugin, but I still don't see the Facet By Meta block in the widget area?

[2022-10-28 20:50] felipeelia commented on #3094
Hey @jonasborneland, are you using the Classic Editor plugin or something similar? Currently, the new Facet by Meta is only available as a block, so you need to be using the new Block Editor to manage the widget areas.

[2022-10-29 07:04] AndersonatAMC commented on #2747
Is there a solution? It's still printing so many words in search results.

[2022-10-29 08:26] jonasborneland commented on #3094
Hi @felipeelia yes! that was it. It's working now without the classic editor 😊
I'm trying to use a metafield which contains serialized data. Right now the Facet by Meta output is like:
[code]

Any clue on how to make it work? Is there a hook to change it maybe before indexing?

Here is how it should be working:
In the edit area of my WC product, theres some meta fields with checkboxes to choose wh

[2022-10-29 13:11] nickchomey commented on #2747
I forget exactly, but I'm pretty certain  you need to pass the `_source` field in the request and just return the fields you want. I don't recall the elasticpress hook that you need to use, but just search their documentation

[2022-10-29 13:13] nickchomey commented on #2747
http://10up.github.io/ElasticPress/ep_pre_request_args.html this one might work. There's 4 or 5 hooks prior to the request being sent, if I recall correctly. Just browse the source code

[2022-10-29 17:10] #3080 closed, assigned to nobody

[2022-10-30 13:33] jonaaix commented on #2993
Hi @felipeelia ,
thanks for the detailed reply. However I wanted to let you know, that this didn't help me in any way regarding my question as I am developing a custom fork of the plugin, and my intention was to search in any custom data – just this WC fields as example here, so the WC EP feature ist not an option, and I decide about the sources of the additional data by myself. The step that I wa

[2022-10-30 18:10] #3086 closed, assigned to nobody

[2022-10-30 18:10] #3089 closed, assigned to nobody

[2022-10-31 03:04] JakePT commented on #3095
Hi @gwhitehead, thanks for taking the time to report this. ElasticPress 4.3.1 migrated these customisation functions to proper WordPress hooks. You can see the [updated documentation](http://10up.github.io/ElasticPress/tutorial-theme-integration.html) for how they work. If you can update your code to use those hooks it should solve your issue.

However, that being said, 4.3.1  did include code to

[2022-10-31 10:53] jonasborneland opened #3096 "QUESTION: Facet by Meta Block – Serialized data? Which hook to use?"
I'm trying to use a metafield which contains serialized data. Right now the Facet by Meta output is like:
a:2:{i:0;s:3:"110";i:1;s:3:"116";}
a:2:{i:0;s:3:"122";i:1;s:3:"128";}
a:2:{i:0;i:68;i:1;i:74;}
a:2:{i:0;i:80;i:1;i:86;}
a:1:{i:15;s:3:"134";}
a:2:{i:0;i:74;i:1;i:80;}
a:3:{i:6;s:2:"80";i:7;s:2:"86";i:8;s:2:"92";}
a:2:{i:6;s:2:"80";i:7;s:2:"86";}
a:4:{i:9;s:2:"98";i:10;s:3:"104";i:11;s:3:"110";

[2022-10-31 12:43] gwhitehead commented on #3095
So the code that I am using is in the themes functions.php file and is the following:

[code]
With the enqueue script being called via the following line after the function "custom_scripts" which contains the above line.
[code]
So it is a separate custom.js file which the customization code at the bottom of this file with other custom code not related to elasticpress above it is, starts and ends a

[2022-10-31 13:26] burhandodhy opened #3097 "BUG: In Instant Result, term labels are encoded if it contains special HTML character"
**Describe the bug**

When a term contains special HTML characters, the Instant Result shows those characters as encoded HTML.

**Steps to Reproduce**

1. Create a new category for example `Macaroni & Cheese`
2. Assign post to that category
3. Enable the Instant Result feature
4. Search for a post on the frontend
5. `&` character is encoded to `&amp;`

**Expected behavior**

The Label shouldn't be

[2022-10-31 13:53] burhandodhy opened #3098 "BUG: [Instant Results] Failed to create query: empty String"
**Describe the bug**

The main issue is in the [elasticpress-proxy](https://github.com/10up/elasticpress-proxy). Because there is no option to report the issue on that repo so reporting here. The API returns the `400` error `failed to create query: empty String` every time we select we select and then deselect the term.

**Steps to Reproduce**

1. Enable the Instant Results.
2. Make sure [elasticp

[2022-10-31 16:42] spacedmonkey opened #3099 "Handle WP_Query caching"
**Is your enhancement related to a problem? Please describe.**
In WordPress 6.1, caching is enabled by default in WP_Query. See https://github.com/WordPress/wordpress-develop/commit/7f7d616d822b79c952cbd6a3046a6f6a8aa5a35e. Caching could effect this plugin.

**Describe the solution you'd like**
Disable caching for WP_Query query caching if elastic search in play.

**Designs**

**Describe alternati

[2022-11-01 04:27] Vaibhav2608 commented on #3072
Hi @felipeelia ,

I added some code which will real time search product on shop page. I am doing that with ajax along with wp-query and that ajax response taking approx 2-3 sec. I my code only show 12 product of search result on page.

I am using cloudways hosting. They provide es integration. But still it gives me result in 2sec.

I hope now I make myself clear.

[2022-11-01 08:48] burhandodhy opened #3101 "BUG: Incorrect excerpt when Excerpt highlighting is enabled"
**Describe the bug**

When the `Excerpt highlighting` is enabled, we call the `get_the_excerpt` function outside of the loop for the different post. It returns the excerpt of the post of main loop. This happened because [get_the_content](https://github.com/10up/ElasticPress/blob/burhan/unit-test-for-highlight-search/includes/classes/Feature/Search/Search.php#L293) is looking for the content of mai

[2022-11-01 11:47] #3075 closed, assigned to felipeelia

[2022-11-01 12:09] JakePT commented on #3095
@gwhitehead Thanks for the information. We'll check if there's anything we can do on our end, but if you're able to test 4.3.1 again could you try adjusting the priority of the `custom_scripts` callback from `200` to `9`? That may resolve the issue.

[2022-11-01 13:36] felipeelia opened #3103 "BUG: PHP Lint"
**Describe the bug**
PHP linter is now failing for the last couple of days

We should update it to use shivammathur/setup-php as the current action is now deprecated in favor of that.

[2022-11-01 13:58] #3103 closed, assigned to nobody

[2022-11-01 16:54] alaa-alshamy opened #3105 "BUG: Parent taxonomy term auto sync bug"
**Describe the bug**

When linking a child taxonomy term with a post, ElasticPress will add the parent and child terms info to the post document in Elasticsearch, but when edit the info of the parent taxonomy term for example changing its slug it will not be synced automatically to the post document in Elasticsearch unlike when editing the child taxonomy term slug it will synced automatically.

Be

[2022-11-02 20:25] praggmatica opened #3107 "BUG: Autosuggest doesn't allow click through when you customized the itemHTML value"
**Describe the bug**
After using the wp.hooks.addFilter() functionality on ep.Autosuggest.itemHTML filter, I can click on the item itself when the autosuggest list comes through, but it does not go to the page link.

**Steps to Reproduce**
1. Install ElasticPress 4.3.1 and WordPress 6.0.3
2. Setup ElasticPress install with the ElasticPress.io host and Autosuggest, Post Search, and Facets turned on

[2022-11-02 22:53] JakePT commented on #3107
Hi @praggmatica, are you able to share the code you're using to change the markup? Also, you mention you retained the class names, but are you retaining the other attributes that are required, as per the documentation?

[2022-11-03 09:44] Vaibhav2608 commented on #3072
Hi @felipeelia ,
You were right the problem was wordpress itself.

Thank you for you help

[2022-11-03 09:44] #3072 closed, assigned to nobody

[2022-11-03 11:24] burhandodhy opened #3108 "BUG: Unit tests for User feature are failing for WordPress 6.1"
**Describe the bug**

 Unit tests for User feature are failing for WordPress 6.1

[code]

**Steps to Reproduce**

1. Run Unit tests.

**Expected behavior**

All tests should pass.

[2022-11-03 16:23] praggmatica commented on #3107
Sure, here's the code I'm using:

[code]

I did consider that maybe my HTML was not formatted correctly with the right parameters, so I thought if I just replace the inside of the <a> tag rather than rewriting the whole <li> (originally I had it the way the example shows with this different inside piece with the thumbnail and such), maybe it would fix the problem. But unfortunately, it still won't

[2022-11-04 10:08] JakePT commented on #3107
Hi @praggmatica, thanks for sharing the code. That was super helpful. It looks like there is indeed a bug in click handling with Autosuggest. In its current form it doesn't like elements inside the `.autosuggest-link` element. So if you omit the `<span>` elements around the text then it should be possible to click the suggestion, but clicking on the image may still cause issues. We'll work on impl

[2022-11-04 11:33] #3108 closed, assigned to felipeelia

[2022-11-04 13:35] pranavstorepro opened #3112 "QUESTION: Autosuggest is not working"
Installed ElasticPress 4.3.1 configured the search and its working fine.

But the Auto-suggest is not working.

This is the setup,i followed https://prnt.sc/kfHkozNApvG3
using elementor search form

Any idea,why it is not working
There is no errors in the console or requests in Network tab

Thanks!

[2022-11-04 18:03] #2933 closed, assigned to felipeelia

[2022-11-07 01:02] mediachip-ux commented on #3088
Thanks will try to look at the WP_Query.

I also am curious to understand why it is that our search results and the autosuggest would include totally unrelated products items? It seems that when you start typing, the autosuggest includes a latest product (totally unrelated)

The EP search weight really doesn't help me configure this. :(

Thank you

[2022-11-07 12:14] #3097 closed, assigned to felipeelia

[2022-11-07 12:33] #3095 closed, assigned to felipeelia

[2022-11-07 12:33] #3107 closed, assigned to felipeelia

[2022-11-07 17:17] jonasborneland opened #3116 "BUG: WC product admin area search custom meta"
**Describe the bug**

Hi
I have a barcode field which is '_wpm_gtin_code' and I have added it through `add_filter(	'ep_weighting_fields_for_post_type'`
The field is also made searchable in Search Fields & Weighting. The '_wpm_gtin_code' is also whitelisted in ep.

The barcode is working for the searchfield in the frontend – but it wont show any results searching in the admin area of wc products.

[2022-11-07 18:17] moisb opened #3117 "QUESTION: search on multiple indexes (cross domain search) is not possible using third-party elasticsearch service?"
hello, I can't pay for ElasticPress monthly plan, but I need the user to be able to fetch results from site A and site B at the same time. I used WPSolr for that, but that plugin has bad performance and numerous bugs.
**So I tried the following:** I created an index/deployment on Elastic.co, I installed ElasticPress on the 2 sites, and connected them both to the same index I created, I synchronize

[2022-11-07 18:46] #2928 closed, assigned to felipeelia

[2022-11-07 19:44] felipeelia opened #3118 "Facets: Add meta range capabilities"
**Is your enhancement related to a problem? Please describe.**

Currently, meta values are simply listed as options. We can go a step further and create a "range" block, so users can select posts withing a range of (numeric) values.

**Additional context**
This issue is the continuation of #1440

[2022-11-07 19:45] felipeelia commented on #1440
As support to meta was recently introduced, I'm breaking up the range part into a new issue: #3118.

[2022-11-07 19:45] #1440 closed

[2022-11-07 23:53] bfrye26 opened #3120 "Seeing issue when exclude meta, showing odd results"
We have been using Elasticpress for a while now, and recently noticed there are very strange issues coming up. We had to exclude meta fields to get the index of all posts done correctly , but when we did that and reindexed everything, searches act strangely.

[code]

We have it set to relevence, but when we do, it shows very old posts first. If we set it to date, it shows articles that are not at

[2022-11-08 14:34] bfrye26 commented on #3120
Just to give a bit more context, when searching, for the term "Star Wars" for example, if it is set to date, the results seem to never mention Star Wars in the content. When set to relevance, it has posts from years ago first, it seems to make no rhyme or reason. I have included screenshots just to give an idea. I also tried the same with the term Samsung, just to give an idea on what sort of issu

[2022-11-08 14:59] bfrye26 commented on #3120
I should also note, if I brute force it by making the meta limit over 5000, the results are MUCH better, but there is then an issue where the search is incredibly slow, so that method simply did not work.

[2022-11-08 15:00] JiveDig opened #3123 "BUG: Invalid argument supplied for foreach() in /public_html/wp-content/plugins/elasticpress/includes/classes/Indexable/Comment/QueryIntegration.php on line 306"
**Describe the bug**

We're using the Comments featured to speed up native WP/Genesis comment display on posts that have thousands of comments. Our logs keep showing:
[code]

**Steps to Reproduce**

I'm not exactly sure. We enabled/indexed comments, then our custom code enable ep for the comment query via:
[code]

**Environment information**
  - ElasticPress version: 4.3.1
 - Elasticsearch version

[2022-11-08 16:01] #3101 closed, assigned to burhandodhy

[2022-11-08 17:11] felipeelia commented on #3088
Hey @mediachip-ux, can you please go to wp-admin/admin.php?page=elasticpress, open the "Post Search" box, set "Weight results by date" as Disabled, save it and test the results again? Generally, that helps with the wrong order of products, especially when we see the behavior of more recent products being prioritized. Thanks!

[2022-11-08 17:53] felipeelia commented on #3096
Hey @jonasborneland, thanks for opening the issue. With the current codebase, I'm afraid that is not possible. One thing you could do is create a new FacetType to cover that use case. The new class could extend the Meta\FacetType class, and change at least these two methods:

- get_meta_values (so you display the proper list of different values) and
- add_query_filters (so you can apply the proper

[2022-11-08 17:53] #3096 closed, assigned to nobody

[2022-11-08 17:54] felipeelia commented on #3096
Oh, I forgot to say but installing the [Debugging plugins](https://10up.github.io/ElasticPress/tutorial-debugging.html) can help you a lot to understand what info Elasticsearch received and how you could use that to filter results.

[2022-11-08 18:05] felipeelia commented on #3112
Hi @pranavstorepro, you will need to provide an Endpoint URL to have it working. That would be a *public* URL, directly accessible to all your users, so please take security into account. We have more info about it in [this article](https://elasticpress.zendesk.com/hc/en-us/articles/4413938931853-Considerations-for-self-hosted-Elasticsearch-setups) (under the Autosuggest header.) More info can be

[2022-11-08 18:05] #3112 closed, assigned to nobody

[2022-11-08 18:20] felipeelia commented on #3116
Hey @jonasborneland, to have that working on the admin side you will need to use the `ep_woocommerce_admin_products_list_search_fields` filter too. Something like this:

[code]

The current documentation of that filter is actually wrong but we will update it for the next release already. Thanks!

[2022-11-08 18:20] #3116 closed, assigned to nobody

[2022-11-08 18:37] felipeelia commented on #3117
Hi @moisb, if those two sites are part of the same multisite installation, you can activate ElasticPress at the network level and change the main WP_Query, adding the `'sites'` parameter. (More info [here](https://10up.github.io/ElasticPress/tutorial-indexables.html#post-indexable)). In ElasticPress 4.4.0 that parameter will be deprecated in favor of `'site__in'` and `'site__not_in', so keep that

[2022-11-08 18:37] #3117 closed, assigned to nobody

[2022-11-08 18:52] felipeelia commented on #3120
Hey @bfrye26, some questions for you:

- When you say "When set to relevance", where are you changing that value?
- In ElasticPress features, do you have "Weight results by date" (inside Post Search) enabled?
- Can you please install [Debug Bar ElasticPress](https://10up.github.io/ElasticPress/tutorial-debugging.html), visit that search results page again, and share with us here the contents of th

[2022-11-08 19:04] felipeelia commented on #3123
Hi @JiveDig,

I've tried to reproduce that locally but I couldn't. Would it be possible for you to add some debug [around that line](https://github.com/10up/ElasticPress/blob/4.3.1/includes/classes/Indexable/Comment/QueryIntegration.php#L306) so we could determine exactly what is being passed to that foreach? Thanks

[2022-11-08 19:12] bfrye26 commented on #3120
Okay, I did that, I am seeing there are three queries when the search happens:

![image](https://user-images.githubusercontent.com/5135055/200654225-689c94ff-7d19-4278-8ff3-446164c9bbd4.png)

But here is the pastebin of all the details, let me know if you need anything else!

https://pastebin.com/NC65rDQh

Thank you for all your help!

[2022-11-08 19:38] JiveDig commented on #3123
Wow, I swear I dug around a bit before posting, but now I went back to one of the sites that was consistently showing this error, and now it's gone. Rather than let it linger, I'm going to close this until I see it again, then I'll dump/debug to see what I can find, and re-open. Thanks for checking.

[2022-11-08 20:16] JiveDig commented on #3123
Okay, I just realized why I wasn't seeing it. It's only happening on posts with **no** comments. The line is `foreach ( $all_comments as $c ) {` and `$all_comments` is `null` here somehow.

If I typecast the value to an array here:
[code]
...the error is gone, but it seems like it should be dealt with somewhere earlier in the trace.

[2022-11-08 20:17] JiveDig commented on #3123
Reopening.

[2022-11-08 20:23] JiveDig commented on #3123
Here are the Discussion settings on this site --
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/540990/200667680-2e2097d0-1c7b-41bb-a7fa-20d730d2f42c.png">

[2022-11-08 22:29] bfrye26 commented on #3120
Also, I noticed I forgot to mention relivence, currently have it set up with this code:

`<?php

add_filter( 'epwr_boost_mode', function() { return 'multiply'; } );
add_filter( 'epwr_offset', function() { return '15d'; } );
add_filter( 'epwr_scale', function() { return '30d'; } );
add_filter( 'epwr_decay', function() { return 0.5; } );`

with settings like this:

![image](https://user-images.githu

[2022-11-09 02:06] abdulraheemalick commented on #1656
Cheers.

This resolved an error of my site too, and man have I been going around in circles.

[2022-11-09 11:42] jonasborneland commented on #3116
Hi @felipeelia

Thank you so much for the answer!
It does work, however it's not working on variant products.
If searching a barcode for a simple product, it does work.
But searching for a barcode belonging to a variant/size it won't match anything

Is it possible to make it work with variant products? :)

Or is it possible to disable ep for the admin area product search?

[2022-11-09 12:06] #2972 closed, assigned to JakePT

[2022-11-09 12:15] #2962 closed, assigned to felipeelia

[2022-11-09 12:17] jonasborneland commented on #3096
Thank you very much for the answer, I will be looking into this :)

[2022-11-09 13:34] #2739 closed, assigned to felipeelia

[2022-11-09 13:38] #3098 closed, assigned to felipeelia

[2022-11-09 14:08] #3123 closed, assigned to nobody

[2022-11-09 14:09] felipeelia commented on #3123
Hey @JiveDig, I was able to reproduce the problem now. We've merged a fix for that and it will be available in the next release, thanks!

[2022-11-09 14:21] felipeelia opened #3128 "[Release] 4.4.0"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method. If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.4.0` for your changes.
- [x] 3. Version bump: B

[2022-11-09 14:34] JiveDig commented on #3123
Great, TY!

[2022-11-09 14:39] JiveDig commented on #3123
Just tested that fix/change and it's all good on my end too :)

[2022-11-09 17:34] andyblackwell commented on #3063
Seeing this as well, looks like the bug was likely introduced in https://github.com/10up/ElasticPress/pull/2835
and looks like in plugin version `4.2.2`

when the info is pulled from transient data and the data was written from a previous version without the `server_type` key

https://github.com/10up/ElasticPress/blob/4.3.0/includes/classes/Elasticsearch.php#L1313-L1325
https://github.com/10up/Ela

[2022-11-09 18:04] #2867 closed, assigned to nobody

[2022-11-09 18:11] felipeelia commented on #3063
@andyblackwell, the upgrade routine should delete that transient for previous versions [here](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Upgrades.php#L175). Are you using object cache by any chance? We will need to determine why and in which scenarios the deletion of that transient is not happening properly.

[2022-11-09 18:55] andyblackwell commented on #3063
yes, we are using object cache via https://objectcache.pro/ installed as an mu plugin

[2022-11-09 19:11] andyblackwell commented on #3063
possibly related to this, is that `ep_need_upgrade_sync` didn't get set for us when upgrading from `3.6.3` to `4.3.1`

[2022-11-10 15:35] felipeelia commented on #3063
Hey @andyblackwell, did you upgrade this site before and then downgrade it? That would explain why that code was not called. Also, are you continuously getting that warning, or was it just a 1-time thing?

[2022-11-10 15:39] andyblackwell commented on #3063
was just a one time notice on the first load after upgrading, and no upgrade/downgrade, though after this conversation I reset the site several times to test, and it does seem to be something with object cache as you alluded to

[2022-11-10 21:11] praggmatica commented on #3107
Thank you, I appreciate this! I'll keep my temp fix (took out the preventDefault in the min file) until the release comes out.

[2022-11-11 18:10] #3088 closed, assigned to nobody

[2022-11-14 12:49] JakePT opened #3131 "Log errors in response to Sync requests"
**Is your enhancement related to a problem? Please describe.**
When the Sync page sends an AJAX request to sync, if the response is not valid JSON the `apiFetch` function catches an error when parsing the JSON an throws a generic error message. This can make debugging for customers somewhat more difficult.

**Describe the solution you'd like**
Replace `apiFetch` with a regular `fetch()` implementa

[2022-11-14 19:37] andyblackwell opened #3132 "BUG: ep_weighting_configuration_for_search filter not applied if using fallback default weight config"
when using the `ep_weighting_configuration_for_search` filter, it is not applied when the plugin code needs to backfill with a default weight config for a post type
https://github.com/10up/ElasticPress/blob/4.3.1/includes/classes/Feature/Search/Weighting.php#L580-L590
https://github.com/10up/ElasticPress/blob/4.3.1/includes/classes/Feature/Search/Weighting.php#L531-L547

**common case**: when the

[2022-11-15 06:36] oscarssanchez commented on #3099
Hi @spacedmonkey ,

Thanks for this, I didn't notice issues on my testing, did you noticed a problem or is it more like a heads up?

Thanks!

[2022-11-15 13:02] spacedmonkey commented on #3099
It is a heads up. But it is likely that some testing or tweaks will be required.

[2022-11-15 22:32] oscarssanchez commented on #3120
Hi @bfrye26 ,

The reason you get fresh content is because you have the weight results by date option enabled. The parameters you are setting via the filters you shared affect the decaying function used. Please see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html#function-decay

You'll probably first want to define what "odd" means to you. By defa

[2022-11-15 22:56] bfrye26 commented on #3120
The odd thing is that it is finding articles that do not seem to have anything to do with the topic searched. In this search, in the screenshot, I searched Star Wars. There are a few articles on the first page that have nothing to do with that term, and even when I go into the article, there is no mention of Star Wars. I am honestly confused. I even have it set to consider the title above all else

[2022-11-16 04:14] oscarssanchez commented on #3120
Hi @bfrye26 ,

In all of those articles there seems to be mentions to the terms `star`, `war` or `stars`, `wars`, or the whole phrase `star wars`. Since you are searching for `Star + Wars` that's the reason all of that comes back as a result.

There's many ways to improve the search experience. The lowest effort I think is to give it a try at another algorithm and see if it fits better for your ne

[2022-11-16 10:16] burhandodhy opened #3134 "BUG: Network alias creation failed for posts"
**Describe the bug**

`Delete all Data and Start a Fresh Sync` or `elasticpress index --network-wide` always give the `Network alias creation failed for posts` error. This happens when any of the site is marked as `Deactivate`

**Steps to Reproduce**

1. Enabled the ElasticPress on network
2. Mark any site as a `Deactivate`
3. Try to index the the content either from dashboard or cli

**Expected b

[2022-11-16 14:42] bfrye26 commented on #3120
That makes a lot of sense! Is there any documentation about what the different algorithms do? I did a quick search and could not find it, but I could be missing it. Curious to see how they tackle data differently since what you said makes a lot of sense so to why it would show that.

Thanks for all the help!

[2022-11-16 19:05] spithash commented on #2040
I'm having the same issue when importing products, even deleted items do not get erased from the index automatically, is there a solution to this? I tried setting EP_SYNC_CHUNK_LIMIT to 0 without any luck.

Can anyone suggest something? I'm stuck.

[2022-11-17 09:00] tamara-m commented on #2040
All I can think of is triggering the deletion form index programmatically, similar to how I triggered the indexing above, but hooked to the delete product action. Hope this helps

[2022-11-18 09:10] JakePT opened #3138 "BUG: Instant Results search template is only saved for the main site of a multisite network"
**Describe the bug**
When using Instant Results the feature needs to save a search query template for the posts index to ElasticPress.io (or [proxy](https://github.com/10up/elasticpress-proxy)). It will automatically save or update the template when activating the feature, syncing, or saving the weighting configuration. The problem is that when ElasticPress is network-activated these actions can o

[2022-11-18 12:53] spithash commented on #2040
@tamara-m I mean, they both don't work, deleted and new imported items. I always have to sync by myself. I mean, I trigger it via cronjob every x hours or so via wp-cli but, there should be a better way, idk...

By the way, how (and where) do you use that line below?
`\ElasticPress\Indexables::factory()->get( 'post' )->index( $post_id, true );`

Thank you for the reply

[2022-11-18 16:00] tamara-m commented on #2040
I'm using that inside of a custom plugin I developed. You'd need to do the same or learn how to add php code snippets to your WordPress site.

[2022-11-19 08:01] spithash commented on #2040
Ah, gotcha :) Thanks...

[2022-11-20 12:15] spithash opened #3140 "QUESTION: Auto index and delete (sync) when importing with wpallimport in real-time"
hello there, I am reading here and there that for auto indexing and auto deleting products programmatically, I  have to use these two functions:

\ElasticPress\Indexables::factory()->get( 'post' )->index( $post_id, true )
\ElasticPress\Indexables::factory()->get( 'post' )->delete( $post_id, true )

Is there anyone who've done something similar? Maybe some function to run inside the theme's funcion

[2022-11-21 12:22] felix-lessoer opened #3141 "TESTRESULT: Using ElasticPress with Elasticsearch 8.4.2 in Elastic Cloud"
In the readme you asked to add a issue when testing with newer versions of Elasticsearch.
I am using ElasticPress with Elasticsearch Version 8.4.2 by Elastic Cloud and I am able to replace the normal Wordpress Search using it.

I can't say if all the features are working perfectly well, but so far it looks good.
If you like to have a look: [Elastic Content Share](https://elastic-content-share.eu/)

[2022-11-21 13:12] #3077 closed, assigned to felipeelia

[2022-11-22 09:10] ceejau commented on #1533
![ep issue](https://user-images.githubusercontent.com/67996335/203272380-2933fa96-bbad-4cf2-a6a0-912f26211dbd.png)
 I am having a similar issue where this sync is running non-stop without making any progress and without hindering the search functionality on my wordpress website. We were running "wp elasticpress index --setup --per-page=1 --url= " to remove some of the files which were deleted and

[2022-11-22 09:12] ceejau opened #3142 "QUESTION: Sync running non-stop without making any progress"
![ep issue](https://user-images.githubusercontent.com/67996335/203272380-2933fa96-bbad-4cf2-a6a0-912f26211dbd.png)
 I am having a similar issue where this sync is running non-stop without making any progress and without hindering the search functionality on my wordpress website. We were running "wp elasticpress index --setup --per-page=1 --url= " to remove some of the files which were deleted and

[2022-11-22 12:28] ceejau opened #3144 "Non stop syncing"
![image](https://user-images.githubusercontent.com/67996335/203313836-c2701c95-32e3-4933-b859-b0b9b7a02b90.png)
I am having an similar issue where this sync is running non-stop without making any progress and without hindering the search functionality on my wordpress multisite website. We were running "wp elasticpress index --setup --per-page=1 --url= " to remove some of the files which were delet

[2022-11-22 12:32] felipeelia commented on #3144
@ceejau please stop opening new issues and leaving comments in existing ones, this will **not** speed up the process of getting back to you. I will close this issue in favor of #3142, and we will get back to you there as soon as possible. Thanks for understanding.

[2022-11-22 12:32] #3144 closed, assigned to nobody

[2022-11-22 13:03] #3131 closed, assigned to felipeelia

[2022-11-22 13:06] #3134 closed, assigned to felipeelia

[2022-11-22 13:51] MonGMZ commented on #3141
Hi,
I've tested with new elastic v8.5.1 and it seems to work fine, except for the autosuggest. Did you try to make it work @felix-lessoer ? Thanks

[2022-11-22 14:07] felipeelia commented on #1579
FWIW, in #2181 (released in EP 3.6.0) this is possible via code using the `ep_autosuggest_default_selectors` filter.

[2022-11-22 14:12] felipeelia commented on #2088
FWIW, this page of our docs outlines the process of changing that via code: https://10up.github.io/ElasticPress/tutorial-theme-integration.html

[2022-11-22 15:09] #1579 closed

[2022-11-22 17:01] felix-lessoer commented on #3141
Hi,

I see that I have autosuggested search terms based on the search terms that where already used.
However it seems not using Elasticsearch auto completion feature for that.

[2022-11-22 17:08] felipeelia commented on #2742
All advice possible was provided back on May 11, so I'm going ahead and closing the issue.

[2022-11-22 17:08] #2742 closed, assigned to burhandodhy

[2022-11-22 17:22] felipeelia commented on #3140
Hi @spithash, you should not need any custom code to have products synced with Elasticsearch, so it seems to be something specific to WP All Import. In [this comment](https://github.com/10up/ElasticPress/issues/2654#issuecomment-1067195922), I left some settings that you might want to change to see if that helps. Can you please try that and let us know the results? Thanks!

[2022-11-22 17:28] felipeelia commented on #3142
@ceejau, what version of the plugin are you using? To stop an ongoing sync you can run `wp elasticpress clear-index`. Then, to start a new sync, use `wp elasticpress index --setup --per-page=1 --show-errors --url=<URL>` to see if there is any error happening. It is important to note that that --url parameter should receive a URL and not be sent empty.

[2022-11-22 17:35] ceejau commented on #3142
does the wp elasticpress clear index affect the existing indices anyways? as in will it clear it and affect the search results?

[2022-11-22 17:37] ceejau commented on #3142
version 4.2.  will the command delete the existing indices or cause the search functionality to break?

[2022-11-22 17:38] felipeelia commented on #3142
No, unfortunately, the command name is a bit misleading (and will be changed to `clear-ongoing-sync` in ElasticPress 4.4.0) but it won't affect any index in Elasticsearch, it will just unstuck the sync process.

Also, please use the latest version of the plugin, we've added some error handling in that already.

[2022-11-22 17:42] ceejau commented on #3142
This issue is currently in my live site, can I test the command in lower instances? I do not have this issue there though. What could be the cause of the issue? Could it be that i might have run the command without the url in --url=<URL> parameter or any other sytax error in " wp elasticpress index --setup --per-page=1 --show-errors --url=<URL> " . Just checking to see if i can replicate it.

[2022-11-22 18:51] spithash commented on #3140
As a matter of fact, I had both options turned on, I disabled them and now it works my friend :)

I can confirm everything is working as it should.

Thank you very much!

[2022-11-22 20:26] abdulraheemalick opened #3146 "QUESTION: How to Change the Number of Autosuggest Results"
**Describe your question**

Hi.

I use Elasticpress for our Woocommerce site and I've been able to tweak it for our use case. However, I am having trouble with one issue.

I need to change the number of results returned by the Autosuggest feature.

While testing, I noticed that it matches the WordPress Reading setting 'Blog Page return `x` Articles'

I am using Breakdance for our site which doesn'

[2022-11-22 20:43] abdulraheemalick commented on #3141
Hey @felix-lessoer, I can also confirm Autosuggest is not working with 8.5.1

Were you able to come up with a workaround or fix?

[2022-11-23 07:51] #3140 closed, assigned to nobody

[2022-11-23 10:25] JakePT commented on #1860
Reviewing the current state of these issues:

I'm not sure if this has been changed since this issue was created, but currently the selected item is only indicated by a darker grey background that might not have sufficient contrast. A more distinct colour might be ideal. Most accessible examples I can find use a blue background with white text, but this isn't necessarily theme or OS agnostic.

Thi

[2022-11-23 12:42] JakePT opened #3150 "Add WP CLI commands for saving and deleting the Instant Results template."
**Is your enhancement related to a problem? Please describe.**
The Instant Results feature requires a search template be saved to ElasticPress.io to help power the API. This template is saved when the feature is activated, on sync, or on a change to the weighting settings. It is deleted when the feature is deactivated.

There is currently no direct way to manually save and delete this template out

[2022-11-23 16:46] #3138 closed, assigned to felipeelia

[2022-11-23 17:30] felipeelia opened #3152 "BUG: Status Report last details"
**Describe the bug**
There is a couple of last-minute adjustments needed on the Status Report page:

1. The link in the admin notice pointing to the failed queries section is not working properly (it does not point to the section)
2. In some cases, depending on the failed query, the entire page content is hidden when you open the collapsible

**Steps to Reproduce**

1. Add the following code to th

[2022-11-23 21:15] paoloburzacca opened #3153 "QUESTION:"
![immagine_2022-11-23_221327625](https://user-images.githubusercontent.com/1489602/203647083-1f2fb78a-58ff-4a5b-b96c-7f0b8e5d98ae.png)

I have issues on initial syncing. I tried several times, both with browser and Wp Cli.
They stop at the same point as you see in picture. It seems it tries to sync always the same post and not going on. I cannot find any error in log

Wp Cli blocks forever here, t

[2022-11-24 09:04] MonGMZ commented on #3141
Could it be the web browser's autocomplete history?

[2022-11-24 10:01] ceejau commented on #3142
I ran this command . Still the process is stuck

![image](https://user-images.githubusercontent.com/67996335/203755541-044e0b63-80d3-4bd0-a378-1f69266b869c.png)
version in use

[2022-11-24 17:25] oscarssanchez commented on #3153
Hey @paoloburzacca ,

Try these commands in order

[code]

[2022-11-24 17:29] oscarssanchez commented on #3146
@devTheodul we have a handy set of filters in the plugin. You are looking for this one https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Autosuggest/Autosuggest.php#L578

[2022-11-24 17:29] #3146 closed, assigned to nobody

[2022-11-24 17:32] oscarssanchez commented on #3120
@bfrye26 we have some descriptions about them in each class for example https://github.com/10up/ElasticPress/blob/develop/includes/classes/SearchAlgorithm/DefaultAlgorithm.php#L45 , but if you want to understand them deeply, my suggestion is to get familiarized with Elastic query language.

[2022-11-24 17:32] #3120 closed, assigned to nobody

[2022-11-24 20:16] paoloburzacca commented on #3153
same problem...cli is stopped, web sync still going with same last object
id in loop.
no error showed

[image: image.png]

Il giorno gio 24 nov 2022 alle ore 18:26 Oscar Sanchez S. <
***@***.***> ha scritto:

[2022-11-24 20:41] abdulraheemalick commented on #3146
Gee thanks. @oscarssanchez

Guess, I was looking in the wrong place and the wrong filter name.

[2022-11-25 17:18] oscarssanchez commented on #3153
@paoloburzacca , does the sync starts from 0 or from 149000 - 150000 ?

If it is the latter, can you try a CLI sync with offsetting those posts? say start from 150001.

As a side note, it seems you are syncing 1,000 items per cycle, can you lower that down to default if that's the case?

[2022-11-27 10:30] spithash opened #3160 "QUESTION: Empty / blank pagination pages"
Hello there, I am having an issue with the pagination on my site.

While everything works great in real-time when importing products with wp all import, I mean new products are shown on the store and search results, and deleted products disappear correctly, the paginated pages remain there as if I still have those products that got deleted.

For example, if my store has 1000 products and the pagin

[2022-11-27 18:27] oscarssanchez commented on #3160
@spithash  That probably means the import plugin is bypassing normal WordPress functions/hooks as ElasticPress integrates with post deletion. See https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/SyncManager.php#L60

I think there's a couple things you can do:

* Ask the WP All import developers if they integrate wtih the delete hook, ask them more specifics about t

[2022-11-28 07:46] spithash commented on #3160
Thank you, I will ask the folks from wpallimport about that and I'll come back

By the way, I do have both WP_IMPORTING and "Increase speed by disabling do_action calls in wp_insert_post during import" settings to off, no issue with that...

[2022-11-28 11:46] #3152 closed, assigned to felipeelia

[2022-11-28 12:11] felipeelia commented on #3142
@ceejau did you already try running those commands after upgrading the plugin to the latest version? Also, are you using object cache? If so, you might need to flush your cache.

[2022-11-28 12:13] felipeelia commented on #3153
In addition to that, can you please share with us:
1. The version of ElasticPress being used
2. If you have Object Cache enabled

There is an ongoing issue with a similar problem: https://github.com/10up/ElasticPress/issues/3142

[2022-11-28 12:41] 9bureau commented on #3153
ElasticSearch version: 7.10.2
ElasticPress version: 4.3.1
Php version: 7.4

in Wp Health Status I see this next to : Elastic Search Last Sync errors (by Dashboard Sync)
0: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes)

But it is an old sync, then I tried several times with wp cli

about Object Cache  I don't know...I use Wp Rocket

[2022-11-28 12:45] paoloburzacca commented on #3153
ElasticSearch version: 7.10.2
ElasticPress version: 4.3.1
Php version: 7.4

in Wp Health Status I see this next to : Elastic Search Last Sync errors
(by Dashboard Sync)
0: Allowed memory size of 134217728 bytes exhausted (tried to allocate
20480 bytes)

But it is an old sync, then I tried several times with wp cli

about Object Cache I don't know...I use Wp Rocket

Il giorno lun 28 nov 2022 alle o

[2022-11-29 13:09] JakePT opened #3164 "BUG: Unrecognised errors in failed queries"
**Describe the bug**
When testing 4.4.0 I encountered 2 failed queries where the errors were not recognised and no solution could be recommended.

The first one occurred after deleting the posts index, updating an existing post, visiting the homepage, then searching for that post.

This appeared as a failed query on the homepage and the search results page. The homepage failed query seemed to be r

[2022-11-29 14:06] #3164 closed, assigned to felipeelia

[2022-11-29 18:26] #3099 closed, assigned to oscarssanchez

[2022-11-29 18:27] #3128 closed, assigned to felipeelia

[2022-11-29 22:20] oscarssanchez opened #3166 "BUG: Enforce pretty print associative args to be "real" booleans."
**Describe the bug**
Right now if you type something like:

`wp elasticpress get-mapping --pretty=somethingweirdhere`

It will return a pretty printed version.

If you do

`wp elasticpress get-mapping --pretty=0`

You will get the non pretty version.

The logic is not really what the intended usage is, as we are mostly checking if the associative argument is just not empty, so it can be "anything"

[2022-11-29 22:48] oscarssanchez commented on #3150
Couple questions I have:

* Should we have a command also for getting the "local" version of the template? `epio_get_search_template()` gets the version that's hosted in EPIO. Not sure if it would be handy for let's say, compare what you generate locally vs saved version.
* `epio_save_search_template()` and `epio_delete_search_template()` returns void, so the WP CLI command would only run that met

[2022-11-30 00:02] shmaltz opened #3167 "Ability to add images to Autosuggest results"
Is there any possibility that we will ever be able to add images to the autosuggest results?

[2022-11-30 07:53] paoloburzacca opened #3168 "ElasticPress 4.4.0 issues"
With new 4.4.0 version, I cannot open admin Sync page, it loads until I found timeout error on logs.
Sync seems to work with wp cli, but in status report page, the last sync shows me only syncs done from wp dashboard.

[2022-11-30 08:25] spithash commented on #3160
Hello again,

I asked the team @ wpallimport and they said that:

[2022-11-30 10:54] paoloburzacca commented on #3168
file: /wp-content/plugins/elasticpress/includes/classes/Indexable/Post/Post.php
row:  2429
error type: E_ERROR
error msg: Maximum execution time of 300 seconds exceeded

[2022-11-30 11:03] paoloburzacca commented on #3168
in my site the query "_SELECT DISTINCT meta_key FROM {$wpdb->postmeta} ORDER BY meta_key_" in that line gives me this output:

**193992 rows in set (21.774 sec)**

if i change in

_SELECT DISTINCT meta_key FROM {$wpdb->postmeta} WHERE meta_key  NOT LIKE '%oembed%' ORDER BY meta_key;_

my output is:

**191 rows in set (4.773 sec)**

[2022-11-30 11:13] felipeelia commented on #3167
It is already possible, as documented here: https://10up.github.io/ElasticPress/tutorial-theme-integration.html#customize-suggestion-markup
NOTE: The image needs to be indexed in Elasticsearch, as results come directly from there, not passing through WordPress.

[2022-11-30 11:13] #3167 closed, assigned to nobody

[2022-11-30 11:28] felipeelia commented on #3168
Hi @paoloburzacca,

In ElasticPress 4.4.0 we introduced a check that runs that query. The check is related to the number of fields that will be sent to Elasticsearch, so we can foresee a field limit break before the sync happens. To bypass that check, you can add the following snippet to your codebase:

[code]

Regarding the Status Report page and the Last Sync section, I can't reproduce this prob

[2022-11-30 13:51] scooterlord opened #3170 "BUG: [match_all] malformed query, expected [END_OBJECT] but found [FIELD_NAME]"
### Describe the bug

Hello, I am getting the following error on the Status Report Page (pasted below):

[match_all] malformed query, expected [END_OBJECT] but found [FIELD_NAME]

The only way I am affecting the query is by using the following code - however, judging by the results in the front-end it seems to be working well:

`function change_main_es_query( $formatted_args, $args ) {
	$formatted

[2022-11-30 18:38] oscarssanchez commented on #3170
Hi @scooterlord ,

I'm just trying to understand. Is the problem that you see the `[match_all] malformed query...` message in the report page, but you are not sure it is actually an issue on your site?

If so, you can validate it by checking the query in the frontend with the debug bar elasticpress. You should probably get the same message.

For your other question, that's probably another plugin/