[2014-06-10 19:56] JJJ opened #1 "Dashboard Widget"
A dashboard widget with some statistical information would really help tie the room together:

http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-stats.html

[2014-06-10 19:58] JJJ opened #2 "Replace search in wp-admin"
Elastic search is currently only used for improving the visitor experience. Is it possible to improve the accuracy of searches within wp-admin? Accuracy and performance of searching through posts, users, comments, etc... could likely be vastly improved.

[2014-06-10 20:05] JJJ opened #3 "BuddyPress Integration"
BuddyPress components would hugely benefit from indexing of their content:
- Extended Member Profile fields
- Activity streams
- Username @ mentions
- Individual Groups and Members
- Private messages

The above list is loosely in priority order as I see it. Users ask for multifaceted member profile search constantly, and there just isn't a real solution out there.

[2014-06-10 20:09] JJJ opened #4 "bbPress Topic/Reply search"
bbPress deviates from WordPress's search functionality just a bit, so it's worth making a dedicated issue for it here.

Thankfully, bbPress topics and replies are just post types, so it's easy enough to grok. Providing fast and reliable relevancy-based results in a forum dramatically improves user experience, and the effectiveness of searching what can oftentimes be hundreds of thousands of posts.

[2014-06-10 20:10] tlovett1 opened #5 "Improve code coverage with unit tests"
Title says it all. We really need unit tests to test more edge cases related to ES_Query and running searches against the Elasticsearch instance.

[2014-06-10 20:12] AaronHolbrook opened #6 "Port over the autosuggest from EWP"
This new plugin is missing the functionality required to make autosuggest work, let's make sure to bring it over.

[2014-06-10 20:14] AaronHolbrook opened #7 "Add ability to do more configuration in admin"
Things like index name, meta fields to index, etc

[2014-06-10 20:15] JJJ opened #8 "Code review needed"
A thorough code review is necessary before we can launch 1.0. Making an issue here so we can assign it to someone, track progress, and mark it resolved when 1.0 launches.

[2014-06-10 20:15] AaronHolbrook opened #9 "Leverage Elasticsearch's content relevancy to find related posts"
Like the title says - this would be a relatively straightforward process of finding relevant posts and spinning it into a 'related posts module'.

[2014-06-10 20:18] AaronHolbrook opened #10 "Security: prevent malicious post indexing"
Via server side - but still an important thing to figure out is how we're limiting and controlling access to the Elasticsearch server. Currently we are proxy pass limiting access to POST - this does not prevent users from maliciously indexing data

[2014-06-10 20:18] AaronHolbrook opened #11 "On direct post auto-suggest selection direct to post instead of search results"
Will have to be careful with this one, as general terms should still return a list of results, however - in some cases it would be helpful and effective to skip the results page and go directly to an individual post.

I'm thinking if they select an autosuggested post title, or if the relevancy score is high enough, then bypass result page and head to post. (Could possibly even provide a helpful li

[2014-06-10 20:19] tlovett1 opened #12 "Only index public taxonomies"
Right now all terms of all taxonomies of a post are indexed. Only public taxonomies terms should be indexed.

[2014-06-10 20:24] AaronHolbrook opened #13 "Remove requirement to use ES_Query object on non-multisite sites"
I would really like to get back to having the plugin automatically fall back to WordPress's default search when possible. If the only reason we're creating an ES_Query is for multisite we allow it but don't make it the required route.

[2014-06-10 20:29] tlovett1 opened #14 "Readme with good instructions and plugin description"
We need a nice README.md as well as readme.txt.

[2014-06-10 20:31] AaronHolbrook opened #15 "Control to activate/deactivate ElasticPress search control along with indicator for current status"
Can pull from previous plugin - very nice to determine current status of Elasticsearch with your install

[2014-06-11 02:19] AaronHolbrook opened #16 "Show post type labels, not just slugs in admin interface"
http://d.pr/i/3gmR/n95jKgwY

[2014-06-23 05:02] #12 closed, assigned to nobody

[2014-06-23 05:16] tlovett1 opened #17 "Support ES_Query parameter that designates post meta entries to be searched"
This should probably be called "search_meta" since we have "search_tax" for taxonomies.

[2014-06-27 01:35] AaronHolbrook opened #18 "Cache available post types on each sub site in admin"
Having to query each site every time causes a noticeably slow user experience on the admin page. Would be good to cache this in settings and inject/remove post types once the query has been performed (possibly also cache this for a small period of time and invalidate on permalink/rewrite flush).

[2014-06-27 01:36] AaronHolbrook opened #19 "Make labels of post types clickable in admin"
Clicking labels of post types should check/uncheck the associated checkbox.

[2014-06-27 01:39] AaronHolbrook opened #20 "Show indication of sync progress in admin"

[2014-06-27 11:03] AaronHolbrook opened #21 "Fix potential issue with indexing non-published posts"
Currently the sync is set for posts that are transitioning INTO the publish status, however this doesn't address items that WERE published but are being moved to a draft or private status (or anything other than publish). These items should be removed from the index as they are no longer _available_ for searching.

[2014-06-27 11:10] AaronHolbrook opened #22 "Orphaned post types created when deselecting post type after index."
Indexing a post type, then deselecting that post type to be indexed could leave incorrect post types in the ES index if a full sync is not performed.

Double check that search is being performed only on current post types (pretty sure this is the case, just want to double check) and should look run a full post type delete from index on save of new post types.

[2014-06-27 11:15] AaronHolbrook opened #23 "In EP_Config, $global_site_config and $single_site_config property values never get set"
These values never get stored and thus in the `get_option` function they will always return blank.

[2014-06-27 11:45] AaronHolbrook opened #24 "Need to re-sync post any time a post is saved"
Currently only syncing on publish of post, but this should be done any time a post has been updated as new content may have been added to the `post_content` taxonomies or post meta data.

[2014-06-27 12:23] AaronHolbrook opened #25 "get_index_url() returns incorrect empty host and index_name values if passed a null site id"
This was intended to return a sub site's unique host and index_name values, however if they are not present it does return anything - which is not what we want.

This should fall back to the host site's information.

[2014-06-27 15:11] tlovett1 opened #26 "Escape post ID and site ID in API calls"
Title says it all.

[2014-06-27 15:23] #26 closed, assigned to nobody

[2014-06-27 18:29] AaronHolbrook opened #33 "Use loading indicator for network admin post types"

[2014-06-29 12:57] #8 closed, assigned to nobody

[2014-06-30 17:23] brandwaffle opened #35 "Change all instances of "statii" to "statuses""
Let's not perpetuate grammatical mistakes from core into our plugins. If there's a REAL reason we're doing this, I'm open to hearing it. http://www.englishforums.com/English/TheProperPluralFormStatusStati-StatiiStatuses/jwvp/post.htm

[2014-07-02 16:10] #24 closed, assigned to nobody

[2014-07-02 18:51] #23 closed, assigned to nobody

[2014-07-03 02:09] #17 closed, assigned to nobody

[2014-07-03 02:12] AaronHolbrook opened #38 "Compatibility note"
From @ericmann's review:

[2014-07-03 02:14] AaronHolbrook opened #39 "Escaping of translated output and core output needed"
From @ericmann's review:

[2014-07-03 02:15] AaronHolbrook opened #40 "Internationalization needed"
From @ericmann's review:

[2014-07-03 02:15] AaronHolbrook opened #41 "Equality issues"
From @ericmann's review:

[2014-07-03 04:00] #41 closed, assigned to nobody

[2014-07-03 04:03] #35 closed, assigned to AaronHolbrook

[2014-07-08 10:32] #40 closed, assigned to nobody

[2014-07-09 01:57] tlovett1 opened #45 "WP_Query interception"
@AaronHolbrook were you planning on doing this?

[2014-07-09 11:32] AaronHolbrook opened #46 "Add default mapping and send the mapping on initial index"

[2014-07-09 11:40] AaronHolbrook opened #47 "Cross-site setting inconsistency"
If cross-site setting is saved on multisite, network deactivated and then re-activated on a sub-site, cross-site is still enabled and the settings page only shows on the network settings page and not the sub-site.

This should behave in a more expected manner and if activated by a sub-site, not automatically re-enable cross site search, and should show itself on the sub-site admin panel.

[2014-07-09 11:42] AaronHolbrook opened #48 "Post syncing status gets stuck"
Due to an unknown reason, the sync button does not work on my local install. Not only does it not work, but it says it's been syncing for the last two weeks.

We should detect if we're not going to be able to sync for some reason (i.e. wp-cron isn't working or whatever the issue) if possible and prevent syncing from happening or find some other approach.

Additionally - there should be some sort o

[2014-07-10 17:46] #14 closed, assigned to nobody

[2014-07-17 21:04] AaronHolbrook opened #49 "Add wp-cli sync option"
Port from EWP

[2014-07-17 21:30] #25 closed, assigned to AaronHolbrook

[2014-07-21 14:27] tlovett1 opened #50 "Support "search_author" in WP_Query"
"search_author" should behave similarly to "search_tax" and "search_meta". Given a search string, it should search posts by author based on that string.

[2014-07-22 14:49] #19 closed, assigned to AaronHolbrook

[2014-07-29 01:52] AaronHolbrook opened #52 "Add debug logging if request(s) fails"
Currently all requests fail silently without offering an explanation as to the cause. Instead we should aim to allow for easier debugging by offering an explanation to what went wrong.

Discussion as to how we'd offer debugging (straight error log for regular use / print to console for WP CLI) should be thought through before approaching this item.

[2014-07-29 01:55] AaronHolbrook opened #53 "Add better remote request response checking"
Currently remote requests check to ensure that a WP_Error is not present, but do not check the HTTP response code to ensure an ok response was received.

This should be handled to ensure that we receive proper responses from the Elasticsearch server.

[2014-07-29 02:57] #13 closed, assigned to AaronHolbrook

[2014-07-30 18:44] tlovett1 opened #54 "Pull Out Syncing Taxonomy and Remove ep_id from Post Meta"
"ep_hidden" taxonomy is not necessary. Let's pull out it.

[2014-07-30 18:50] AaronHolbrook opened #55 "Add support for multisite with wp-cli functions"
Use assoc args.

Possible things to think about are how to enable network wide setting pushes

For example use `--network-wide`

[2014-07-30 20:42] AaronHolbrook opened #56 "Separate sync logic from cron/schedule logic"
The function `ep_full_sync` actually calls `do_scheduled_syncs`. Unfortunately this forces us to first schedule a sync event which in cases where we call from wp-cli, we would not want to do.

The logic behind actually doing a full index/sync should be abstracted out from the `do_scheduled_syncs` and placed into a function that does a full index that can be called independently and directly.

For

[2014-07-31 03:12] tlovett1 opened #57 "Cron schedule not setup properly"
Cron schedule not setup properly. This is completely breaking cron syncs.

[2014-08-01 17:13] AaronHolbrook opened #58 "Track/report usage analytics"
Record how visitors interact with ES: What they're searching for, what was returned, perhaps what they clicked on as a result.

Submitted by @tddewey.

Great idea - would love to see this reported in a cool dashboard widget even.

[2014-08-04 11:11] #56 closed, assigned to tlovett1

[2014-08-04 11:23] AaronHolbrook opened #60 "Remove `ep_last_synced` post meta storage"
I'm still not sold that we need to be doing a DB insert for every post we sync. I'm not clear of what the benefits are over the increased cost of a full index.

I think a stress test to measure the performance between updating the last synced post meta and removing that bit entirely would be a good step in understanding just how much effect it truly has.

In addition, it should be remembered that

[2014-08-04 11:26] #54 closed, assigned to nobody

[2014-08-06 16:49] mattonomics opened #62 "Bulk indexing"
Rather than submit posts for indexing one at a time, it would be better to use the Elasticsearch bulk index functionality.

We will have to consider error handling when using the bulk api because it's possible that some posts don't get indexed and others do. Elasticsearch will tell us what happened but we will have to resubmit those posts for indexing.

Additionally, we'll need to be aware of the

[2014-08-06 16:55] AaronHolbrook opened #63 "Add put_mapping function to wp admin interface sync"

[2014-08-06 16:56] AaronHolbrook opened #64 "Require initial sync admin notice"

[2014-08-06 16:58] AaronHolbrook opened #65 "Require initial sync and configuration in order to do post indexing"

[2014-08-11 12:05] AaronHolbrook opened #66 "Intelligent POST size / Elasticsearch Memory limit detection"
Originally reported in #62:

This isn't a critical priority - but it would be a really nice thing to have. Ideally our plugin would intelligently detect (and cache it's findings) how large of a POST request it can get through. Additionally, if possible, detect from Elasticsearch how much memory/size of bulk index would be allowable. Using those values we can set a larger than default bulk index se

[2014-08-12 04:14] #57 closed, assigned to tlovett1

[2014-08-12 19:15] #60 closed, assigned to nobody

[2014-08-12 19:15] #49 closed, assigned to AaronHolbrook

[2014-08-13 16:30] #55 closed, assigned to mattonomics

[2014-08-13 20:21] mattonomics opened #69 "Bulk Error Handling"
Handling bulk errors will require us to pick out individual posts that were returned as not indexed and queue them back up for the next bulk submission.

Docs: http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/bulk.html

[2014-08-13 20:34] tlovett1 opened #70 "Turn off EP search integration during sync"
Related to #15

[2014-08-14 02:01] AaronHolbrook opened #72 "Cron jobs currently run every X minutes - instead of being initiated by admin"
Currently the ep_sync cron job gets run regardless of admin interaction every X (currently 30) minutes.

There may be a reason for this, but I wanted to note what was going on and have a conversation regarding the thought process behind this approach. Marking as bug until resolved.

[2014-08-14 23:55] mattonomics opened #73 "Rework the cross site implementation"
Currently, the cross site functionality works like so: if cross site is on (and we're in a multisite setup) all posts will be indexed in the same Elasticsearch index. If it's off (and multisite), posts are indexed in the $blog_id index.

A better approach, in my opinion, would be to put each site in their own index and simply modify the search url.

An example of a current search url is `http://lo

[2014-08-15 14:08] #48 closed, assigned to AaronHolbrook

[2014-08-15 15:27] AaronHolbrook opened #74 "Modular plugin system"
Along the lines of Easy Digital Downloads or WooCommerce's plugin to a plugin system, we should build a system that allows us to modularize things like 'related posts', 'Buddypress searching', 'admin search' (although this one we might want to include in core by default).

[2014-08-18 14:48] AaronHolbrook opened #77 "Re-add is_alive caching"
Was removed for wp_query integration due to improper conditional testing in #76.

We should re-add to prevent multiple unnecessary remote requests.

[2014-08-19 15:53] #46 closed, assigned to nobody

[2014-08-19 15:55] #63 closed, assigned to nobody

[2014-08-20 17:09] #45 closed, assigned to nobody

[2014-08-21 12:50] AaronHolbrook opened #79 "Remove admin interface page"
In order to simplify things and focus on the primary responsibility of integrating with Elasticsearch, @mattonomics, @tlovett1 and I have decided to move forward with removing the admin interface panel from Elasticpress.

At this point the options that are available should either be configured via a constant in `wp-config.php` or via a filter.

Things that will need configuration (add any that I m

[2014-08-27 15:56] #79 closed, assigned to nobody

[2014-08-27 20:10] #73 closed, assigned to tlovett1

[2014-08-27 20:10] #72 closed, assigned to nobody

[2014-08-27 20:17] #15 closed, assigned to tlovett1

[2014-08-27 20:17] #16 closed, assigned to nobody

[2014-08-27 20:18] #20 closed, assigned to nobody

[2014-08-27 20:18] #5 closed, assigned to nobody

[2014-08-27 20:18] #7 closed, assigned to nobody

[2014-08-27 20:18] #18 closed, assigned to nobody

[2014-08-27 20:19] #33 closed, assigned to nobody

[2014-08-27 20:24] #22 closed, assigned to nobody

[2014-08-29 20:34] AaronHolbrook opened #82 "Hook into a taxonomy term update and post meta update"
Currently if a taxonomy term is updated, ElasticPress does not know to re-index all posts that have that taxonomy term associated with it - this could be a major problem.

[2014-09-03 19:43] AaronHolbrook opened #84 "Update documentation for setup/indexing"
EP_HOST
wp cli commands

[2014-09-03 20:17] AaronHolbrook opened #85 "Add filter for modifying which indexes get created on multisite"

[2014-09-05 15:53] #84 closed, assigned to nobody

[2014-09-05 15:54] #85 closed, assigned to AaronHolbrook

[2014-09-10 19:44] AaronHolbrook opened #102 "Add wrapping method for `wp_get_sites`"
Add filter to `wp_get_sites()`

[2014-09-11 14:09] #102 closed, assigned to AaronHolbrook

[2014-09-11 14:19] #62 closed, assigned to mattonomics

[2014-09-15 15:33] AaronHolbrook opened #111 "`reset_postdata` causes the `current_blog_id`to be incorrectly set"
Because we are filtering `the_post`, anytime `reset_postdata` gets called the `current_blog_id` gets changed when it shouldn't be causing all things that rely on the proper blog to be mishandled.

[2014-09-16 14:20] AaronHolbrook opened #114 "If break is called during a multisite loop, original blog is never restored"
As title states, if during a multisite loop, break is called at a point after the original blog has been switched, loop_end never fires and the original blog is never restored.

[2014-09-16 14:32] #111 closed, assigned to AaronHolbrook

[2014-09-17 19:34] tlovett1 opened #115 "Disable sync during WP_Import"
We need to disable post syncing during WordPress importing.

[2014-09-17 19:43] tlovett1 opened #116 ""sites" parameter needs to support specific post ids"
Right now it supports "all", "current", and a single site ID defaulting to "current". It should support an array of site ids.

[2014-09-18 15:17] #115 closed, assigned to AaronHolbrook

[2014-09-18 15:50] AaronHolbrook opened #118 "Add arguments to the index command for deleting and mapping"
As discussed in Hipchat - we should add oft-used together commands like deleting the index and putting the mapping prior to the index operation.

I suggest we add the following commands:
`$> wp elasticpress index --delete --put-mapping`

[2014-09-22 11:16] AaronHolbrook opened #122 "Should check for validity of blog_ids in get_index_name"
If a non-valid blog_id is passed to `get_index_name()` currently the plugin does not ensure the blog exists and returns a `-blog#`. I think a better strategy would be to ensure this is a blog we know about or return false if it does not exist.

[2014-09-22 11:27] #116 closed, assigned to tlovett1

[2014-09-22 11:38] #21 closed, assigned to AaronHolbrook

[2014-09-22 14:04] AaronHolbrook opened #124 "Admin status page"
Would be helpful to show whether or not ElasticPress is currently replacing search. Additional future uses could be settings/reindexing commands as well as showing usage and searches performed.

[2014-09-23 15:05] #47 closed, assigned to tlovett1

[2014-09-23 15:06] #39 closed, assigned to nobody

[2014-09-23 15:08] #122 closed, assigned to nobody

[2014-09-23 18:48] AaronHolbrook opened #126 "Document Aggs Query Param"
Write documentation for passing/setting up aggregations in the context of `WP_Query`

http://d.pr/i/1ez9K/3fIg0vGj

[2014-09-24 19:51] #69 closed, assigned to nobody

[2014-09-25 04:41] #38 closed, assigned to tlovett1

[2014-09-26 13:49] #50 closed, assigned to mattonomics

[2014-09-26 13:50] #118 closed, assigned to nobody

[2014-09-26 13:51] #70 closed, assigned to AaronHolbrook

[2014-09-26 14:40] #126 closed, assigned to nobody

[2014-10-01 19:21] cmmarslender opened #135 "Weight results for title matches"
We have a site with a Post titled "Armed Anytime, Anyplace":
http://www.personaldefenseworld.com/2012/10/forever-armed/

When searching "armed anytime anyplace", core WordPress search returns the result first, but with elastic search we don't get this result anywhere _at all_. It seems that an exact (or near exact) title match should be weighted to move to the top of results.

[2014-10-01 20:41] cmmarslender opened #136 "Output header indicating if ES is being used for results"
For search results pages, it would be helpful to have a header in the response that indicates if elastic search was used for the results on the page or not. In the case of multiple queries on the same page using ES, I think the main query would be the important one to know. Something like ```x-elastic-search true``` would do for me - I often find myself wondering if the results for the search are

[2014-10-06 20:10] AaronHolbrook opened #137 "--setup command errors out during new site index"
`--setup` runs delete index, which errors out if no index exists, should change to simple notification, instead of error.

[2014-10-06 20:19] #137 closed, assigned to nobody

[2014-10-08 14:40] brandoncamenisch opened #138 "Suggestion for writing a bash script"
Write a simple shell script to setup Elasticsearch automatically. Could be used for setting up an environment quickly to use elasticsearch.

[2014-10-08 15:06] GhostToast opened #139 "Error messages need more granularity"
Specifically, during a `--setup` event, a deactivated ElasticSearch service returns slightly less than helpful information.

[2014-10-09 01:48] #139 closed, assigned to GhostToast

[2014-10-10 19:49] #10 closed, assigned to AaronHolbrook

[2014-10-13 14:56] #138 closed, assigned to nobody

[2014-10-13 14:57] #74 closed, assigned to nobody

[2014-10-21 11:31] AaronHolbrook opened #145 "WP-CLI Connect check is checking activation status incorrectly"
Causes a failure to index if EP is deactivated because `is_alive` is checking activation status as well.

[2014-10-21 15:45] #145 closed, assigned to nobody

[2014-10-21 18:25] AaronHolbrook opened #148 "Orderby/order tests need to be reviewed for accuracy"
See title - tests did not catch the sort argument not being applied, this makes me doubt their effectiveness. This should be addressed.

[2014-10-27 11:09] #148 closed, assigned to nobody

[2014-10-27 20:18] jamesmehorter opened #150 "Unable to index due to bug in EP_Config::get_index_url()"
Elasticsearch is setup, though for the site in question; no index has been created yet.

**EP Host is set:**
`define('EP_HOST', 'http://192.168.50.4:9200');`

**Elasticsearch is running:**

[code]

**Elasticsearch is reachable**

[code]

**However, EP is unable to build the index**

[code]

Upon debugging this I noticed that during the EP_API::is_alive() method ElasticPress attempts to query Elast

[2014-10-27 22:59] #150 closed, assigned to AaronHolbrook

[2014-10-28 00:45] cadwell opened #152 "WP-CLI Post Delete does not trigger es sync"
Testing wp-cli post delete on a multi-site instance. We are able to remove a Custom Post Type post via the command, but this does not remove the post from the elastic search server. If we manually remove the post from the admin, it will remove the post from ES.

[2014-10-31 20:47] #152 closed, assigned to AaronHolbrook

[2014-11-04 13:03] sebastiaandegeus opened #155 "How to filter on post_meta"
edit: changed the title and description of this issue to better fit my question.

Is it possible to filter on `post_meta` with an exact match? Just like `meta_query` would?

[2014-11-05 00:25] ccanada81 opened #156 "Missing posts and post types"
Lots of posts missing from multisite index. A curl query of 'q=post_type:nav_menu_item' returns two menu items of the dozens currently in the database. Multiple custom post types don't appear at all.

[2014-11-05 03:53] #155 closed, assigned to nobody

[2014-11-07 06:38] colegeissinger opened #158 "Ability to pass Query DSL"
A while back @mattonomics, @AaronHolbrook and I discussed briefly about being able to pass a raw Query DSL via ElasticPress. Utilizing WP_Query to interface with Elasticsearch is great, but there may be moments that constructing a raw ES query would be more appropriate.

Documenting that previous discussion here so we can discuss/strategize on this going forward.

[2014-11-07 07:58] sc0ttkclark opened #159 "bbPress Topic singular pages broken with ElasticPress"
Pods.io is a multisite install, with ElasticPress setup using Searchly.

Used this to index:

`wp elasticpress index --setup --network-wide --url="http://pods.io"`

On topic singular pages, I'm seeing the same set of replies on each topic I go to, always 376 total, always incorrect (it would seem).

http://pods.io/forums/topic/new-pods-tutorial-section/

Broken:
![Broken Topic page](https://cloud.

[2014-11-12 16:40] tlovett1 opened #161 "Support meta queries in WP_Query integration"
This is pretty important. We need support `meta_query`, `meta_key`, `meta_value`, and `meta_value_num`.

[2014-12-05 18:06] #156 closed, assigned to nobody

[2014-12-05 18:20] #159 closed, assigned to nobody

[2014-12-05 18:21] #135 closed, assigned to nobody

[2014-12-05 18:30] tlovett1 opened #166 "Documentation for each WP CLI command"
Title says it all.

[2014-12-16 20:23] tlovett1 opened #168 "Support date params in WP_Query"

[2014-12-16 22:02] tlovett1 opened #169 "match_all queries and future of ES/WP integration"
Right now Elasticsearch integration happens when the `s` or `ep_match_all` parameters are passed to `WP_Query`. The end goal for ES/WP integration is to bypass MySQL as much as possible (more than just search). We have the `ep_match_all` parameter to do this for `WP_Query`. This is a step in the right direction but I think we can do better as we look to extend to other API's in WP such as `WP_Date

[2014-12-30 15:34] #169 closed, assigned to nobody

[2014-12-30 17:41] GhostToast opened #181 "Support "p" param to pass in specific post ID"
Requested by @tlovett1

[2014-12-30 18:30] #2 closed, assigned to AaronHolbrook

[2014-12-30 21:21] #181 closed, assigned to nobody

[2014-12-31 16:38] tott opened #183 "custom post type not passed through to search results"
When searching for a custom post type the post type does not appear in search results.

I used the following query

[code]

As in filter_the_posts() the get_post() function get utilized to fill in missing parameters the default parameters of WP_Post get inherited through the new WP_Post call.

I addressed this in
https://github.com/tott/ElasticPress/commit/fd2965095a0e1762890c799d7514e158cd474f3f

[2015-01-01 16:53] alagirirajesh opened #185 "'elasticsearch' is not a registered wp command"
I am trying to install elasticsearch and have following the instructions as much as possible. But i am getting the above error when i am running the command "wp elasticpress index --setup --network-wide".

Also i am using wpmudev's directory plugin uses custom fields. Can you please let me know if the current version of elasticpress supports custom fields.

Please help. As i did not know where to

[2015-01-02 13:20] AaronHolbrook commented on #185
Hi @alagirirajesh,
Based on the title of this issue, it sounds like you're actually running the command:

[code]

This will give you the exact message as the title of this issue - because `elasticsearch` is not the name of a command that the *ElasticPress* plugin implements. The command name is `elasticpress`. You should try:

[code]

Hope that helps

[2015-01-02 13:20] #185 closed

[2015-01-02 13:24] AaronHolbrook commented on #124
Could allow enabling and disabling of things like autosuggest and admin search (if either of these are placed into the core plugin)

[2015-01-02 17:19] AaronHolbrook commented on #6
This has been started as a separate plugin: https://github.com/10up/ElasticPress-Autosuggest

Please submit any tickets/issues to that repo.

[2015-01-02 17:19] #6 closed

[2015-01-05 16:59] tlovett1 opened #186 "Checking if index exists on every page load is a major performance bottleneck"
This comes from a post on the support forum:
https://wordpress.org/support/topic/bug-report-major-bug-availability-check-for-every-request-kills-system?replies=2

[2015-01-05 18:58] AaronHolbrook commented on #186
From the issue on .org:

[code]

[2015-01-07 20:03] GhostToast commented on #168
I began this with simple data parameters as outlined here: http://codex.wordpress.org/Class_Reference/WP_Query#Date_Parameters

I believe I've hit limitation for ElasticSearch as it stands. Consider the following example: Find all posts from October 15th. This would mean passing `'monthnum' => 10` and `'day' => 15`. In WP_Query, this will actually build out the following SQL statement:

` AND (

[2015-01-08 20:39] #161 closed

[2015-01-12 15:19] #186 closed

[2015-01-12 15:20] #77 closed

[2015-01-13 08:20] alagirirajesh opened #188 "Network wide search not working"
Have done the following:

1. Have successfully installed elasticpress and is working fine.
2. This is a multisite where each site is a directory for a specific city.
3. There is a main site and a sub site where the main site does not have any data. Where the subsite does have data.
4. Elasticpress is network activated.

Need to know the following:

1. If i need to implement a single search box for

[2015-01-13 14:47] tlovett1 commented on #188
You need to provide the `sites` parameter to `WP_Query`. For example to search across all the blogs on the network:
[code]

Or just to search to specific sites on the network (sites with ID 3 and 5):

[code]

[2015-01-13 14:57] alagirirajesh commented on #188
thank you for your response. But as i am new to this can you please let me know which file am i suppose to edit.

[2015-01-13 22:53] AaronHolbrook commented on #188
Hi @alagirirajesh - you definitely do not want to edit any core files, instead create a new plugin or modify your theme's functions.php file and use a WordPress action hook ( `pre_get_posts` ) to modify the search query.

http://codex.wordpress.org/Plugin_API/Action_Reference/pre_get_posts

[2015-01-15 13:08] ivankruchkoff commented on #124
So when working on #1 I imagined it having this functionality too, and yes a status page rather than a widget.

https://github.com/ivankruchkoff/ElasticPress/commit/a1c3435d998c872e6c6e551b13d9feabc290477f contains the start of this functionality

[2015-01-15 16:17] tlovett1 commented on #124
@ivankruchkoff what do you imagine the status page showing?

[2015-01-16 13:18] ivankruchkoff commented on #124
Any useful stats we can get from the ES hosts:

* Info about all indices (size, num shards, num replicas, num docs) -- for multisite, only for the current site
* Top searches (by week, month, all time) per index.
* health check (up / down)

If possible:
 * query times (mean / peak load)
 * num elasticpress queries compared to num of regular wordpress search queries

[2015-01-16 20:28] tlovett1 commented on #124
Health check, plus index info is good. Top searches is not possible as far as I know without adding another layer of complexity.

[2015-01-17 05:10] jonathanbardo opened #190 "Provide filters for post statuses in sync manager class"
Right now the function ```action_sync_on_transition``` of the ```EP_Sync_Manager``` class contains a couple of hard coded post status (publish). One of the problem I've been facing with creating the plugin that would provide search in the admin is that we need to index all potential post status.

@AaronHolbrook I wanted your input before creating a pull request. I think some filters to let the ela

[2015-01-19 12:19] AaronHolbrook commented on #190
Hey @jonathanbardo, so this presents an interesting dilemma. If we go down the path of allowing unpublished posts to be indexed, we'll need to be sure that the default search includes a filter that searches for only published posts (otherwise people might shoot themselves in the foot by allowing drafts to be searchable from the frontend).

@tlovett1 this is to allow for a better admin search - do

[2015-01-19 14:23] jonathanbardo commented on #190
@AaronHolbrook Of course if we decide to go that path we have to tell people that the elasticsearch server need to only respond to request from specific host only and not from the client has it would give people an api to get all posts, even private ones.

[2015-01-19 17:05] tlovett1 commented on #190
+1 on a filter for post status.

@AaronHolbrook we will then need to support the post_status param in WP_Query.

[2015-01-19 22:04] jonathanbardo commented on #190
I'll try my hand on this in the coming days and do a pull-request. I think I'm very close to something that works!

[2015-01-26 19:26] jonathanbardo opened #193 "Add support for date_query"
WordPress date_query could easily be implemented using [Elasticsearch range](http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/_ranges.html).

This could give more advanced facets and give potential bloggers more flexibility.

[2015-01-28 00:05] ryanboswell opened #194 "Abide by 'exclude_from_search' flag."
We launched ElasticPress on our site last night and found that on search pages it was including results from 'public' post types that we had explicitly excluded from search using the 'exclude_from_search' flag when registering the post type.

Looking through the query integration code, it looks like EP simply unsets the post_type query var when not targeting a specific type or types, which doesn't

[2015-01-28 16:26] tlovett1 commented on #194
I think this was just overlooked. It is worth noting changes in the `develop` branch around this logic that will go live in 1.3: https://github.com/10up/ElasticPress/pull/176

Can you rewrite your commit against develop and open a pull request? We can then backport into master if necessary.

[2015-01-28 20:21] ryanboswell commented on #194
Thanks for the quick look over, I've gone ahead and rewritten the commit for develop and opened a PR.
https://github.com/10up/ElasticPress/pull/195

[2015-01-28 22:52] tlovett1 commented on #193
Is this related to https://github.com/10up/ElasticPress/issues/168?

[2015-01-29 03:48] jonathanbardo commented on #193
It's indeed related. I honestly thought I went through the issues before submitting this one. Sorry!

[2015-01-29 16:29] AaronHolbrook commented on #194
Closed by #195

[2015-01-29 16:29] #194 closed

[2015-01-29 16:29] AaronHolbrook commented on #194
Props @ryanboswell

[2015-01-29 16:29] AaronHolbrook commented on #193
Closed - duplicate of #168

[2015-01-29 16:29] #193 closed

[2015-01-30 19:04] #190 closed

[2015-01-30 19:04] AaronHolbrook commented on #190
Closed by #192

[2015-01-30 19:09] AaronHolbrook opened #197 "User Friendly Dashboard (Don't require WP CLI to do an index)"
I think this is a blocker for a lot of people, we should revisit how we can do indexing without needing WP CLI.

[2015-01-30 19:20] #188 closed

[2015-02-02 22:52] tlovett1 commented on #166
Definitely worth some discussion for 1.4. For now I am closing this as it's complete.

[2015-02-02 22:52] #166 closed

[2015-02-03 12:56] kara-todd commented on #158
@AaronHolbrook related to this, would it be possible to get the original function arguments passed in as well as the formatted arguments?

In other words to have:
`return apply_filters( 'ep_formatted_args', $formatted_args, $args );`

This would make it much easier to pass in additional values over the API and override the final set of formatted arguments before going out to Elasticsearch. I neede

[2015-02-03 13:14] mikaelmattsson commented on #158
Kara, are you also created a layered navigation for woocommerce perhaps?
That would indeed be a nice addition. In my case i have my only plugin, ElasticPressExtended, that doesn't use a lot of the original hooks from ElasticPress, but instead created its own hooks and filters and  calls the original filters from ElasticPress rather than add to them. In my case I have a filter that does exactly wha

[2015-02-03 13:24] kara-todd commented on #158
In my case, I'm just applying a slew of secondary filters to a set of search results. However, most of the data I'm using is coming directly from post meta. So I need to be able to sort and filter by various criteria base around custom fields (and often more criteria than one)

So for example, I have a situation where I need: posts related to another custom post type AND that have a date field (po

[2015-02-03 13:49] mikaelmattsson commented on #158
Yeah. Sounds similiar. What i did was I hooked into the ep_post_sync_args so that aditional data was added to the ES database, like some protected meta_data, in my case price (that also had to be saved as ints to perform range queries). Then I hooked ep_format_args to add the ES filters like range. In that case I don't really need the wordpress original query arguments. I just add my custom filter

[2015-02-03 13:55] kara-todd commented on #158
Are you still allowing users to select the range on the front end? I guess I'm a little confused on how you're passing the value to the query.

If I want to have the user input a start and end date, and then select all posts where `post_meta.custom_date` falls between that range. How would I go about it using your proposed method?

I've been making calls over ajax and using the backbone client.js

[2015-02-03 14:18] mikaelmattsson commented on #158
Yes, the ranges are set in front end.
To perform a range query i think the values in the database cant be strings and values in post_meta are allways saved as strings.
So you probably, like i said in my previous post, have to hook ep_post_sync_args and add the custom date. To make sure that it will be saved as a date and not a string you will also have to add a mapping for the new proptery using e

[2015-02-03 14:42] tlovett1 commented on #158
@kara-todd filter added :) Right now it is just in the develop branch. It will be merged into master/.org with version 1.3

[2015-02-03 16:57] #183 closed, assigned to nobody

[2015-02-03 17:05] #136 closed

[2015-02-03 17:50] kara-todd commented on #158
@tlovett1 awesome! Thanks very much.

[2015-02-03 18:28] mikaelmattsson commented on #158
@tlovett1

I just created this https://github.com/10up/ElasticPress/pull/200
It's doesn't add a lot flexebility atm, but its a start, and it allows one to fetch an array of posts without using WP_Query.

[2015-02-06 13:17] GhostToast opened #201 "Implement Geolocation"
@tlovett1 Please let me know if this would be better accomplished as a fork, add-on plugin, or if this belongs in the core ElasticPress plugin.

Anyway, the ability to find "things" based on Latitude/Longitude is becoming increasingly important. WPEngine recently went public with a built-in GeoIP which automatically determines a user's location. Being able to utilize this (and geo info from other

[2015-02-06 13:47] AaronHolbrook commented on #201
Discussed this in hipchat

[2015-02-09 23:46] zamoose opened #202 "Check for 'http://' prefix and prepend if not present"
Just wasted a good bit of time trying to debug why an EP setup wasn't working -- turns out `define('EP_HOST', '[IP address]:[port]');` is treated *completely* differently than `define('EP_HOST', 'http://[IP address]:[port]');`

Either the docs should be updated to reflect this necessity, or the code should prepend a protocol specifier.

[2015-02-10 03:45] psorensen opened #203 "Enable orderby date"
Are there plans to implement this? Seems odd that it's not available seeing it's the default wp_query orderby argument.

[2015-02-10 15:51] tlovett1 commented on #203
We can add this to 1.4 :)

[2015-02-10 15:51] tlovett1 commented on #202
Submit a PR? The docs specify http://

[2015-02-10 15:52] tlovett1 commented on #201
@AaronHolbrook what are you guys thinking here? I'm leaning towards separate plugin.

[2015-02-10 20:30] psorensen commented on #203
Thanks! This plugin is a site for sore eyes. Glad to see it's so active!

[2015-02-11 18:05] psorensen opened #204 "Error when bulk indexing"
Getting an error part way through index:

Performed: `wp elasticpress index --setup`
After 50 or so batches sent, received error: `Operation timed out after 5001 milliseconds with 0 bytes received`

Is this a CURL error? Is their a timeout setting I can edit?

May want to include handling of this error in Readme

[2015-02-12 04:31] tlovett1 commented on #204
Seems like `wp_remote_request` is timing out. For now, you can filter `http_request_timeout` and set it to something like 30. I'll write a patch to help.

[2015-02-12 17:06] #203 closed

[2015-02-12 22:52] psorensen commented on #204
Filtering `http_request_timeout` did the trick. Thanks.

[2015-02-12 23:25] psorensen opened #207 "Ability to filter indexer"
Is this possible? Example scenario:

When using [Advanced Custom Fields relationship field](http://www.advancedcustomfields.com/resources/relationship/), the data saved in the custom field is the ID of the related post. It would be nice if the developer could include post information from the related post in the Elasticsearch entry. In other words, hook into the indexer and include additional fiel

[2015-02-13 07:44] mikaelmattsson commented on #207
This is allready possible.
`ep_post_sync_args` to manipulate the data from each post before it is put into ES and `ep_config_mapping` to add more mappings.

[2015-02-13 11:55] AaronHolbrook commented on #207
@mikaelmattsson is 100% correct, if you would like to add additional fields that are not already being brought over (ElasticPress natively brings over any non-protected, i.e. non underscore prefixed meta fields) you simply need to filter the `ep_post_sync_args` filter and add them yourself.

[2015-02-13 11:55] #207 closed

[2015-02-13 11:57] #204 closed

[2015-02-13 12:00] AaronHolbrook commented on #201
@tlovett1 yea - this makes a lot of sense as a supporting plugin to EP.

Leaving open for now - feel free to close once this plugin repo has been created.

[2015-02-16 13:56] Melindrea opened #208 "Wildcard search"
Where is that on the horizon, if at all?

[2015-02-16 15:36] AaronHolbrook commented on #208
Hi @Melindrea - can you be more specific as to what you're looking for here?

[2015-02-17 05:53] psorensen opened #209 "Empty search string causes tax_query to break"
I can't seem to find any way around this. I've created a post type specific search by creating `{my-post-type}-archive.php` and removing `search.php`, thus defaulting all general searches to `index.php` (This may be irrelevant)

When I visit `?post_type={my-post-type}&s=&{taxonomy}={term}`, I get all results for that post_type. When I remove the `s=`, the taxonomy rules apply. I've tried using `un

[2015-02-17 07:43] mikaelmattsson commented on #209
The problem is probably that wordpress has allready looked at the `$_GET['s']` to determine if the main query should be a search or not. So the query object has already been made before you access the get variable. Unseting the the get variable should have no effect.
I'm not sure what you are trying to do here so i can't help you any further.

[2015-02-17 09:22] psorensen commented on #209
The problem is, with EP **deactivated**:
`//sitename.com/?post_type={post_type}&s=&{taxonomy-name}={term}`
returns all posts of that post type with the taxonomy term. With EP **active**, it ignores the taxonomy request and returns all posts of that post type. If I remove the `s` query var, it does not ignore the taxonomy parameter.

In other words, using a faceted search form, if the user selects

[2015-02-17 09:52] psorensen commented on #209
In the meantime, I'm using JS to change the form (sets name of search field to '') on submit if the input is empty.

[2015-02-17 10:44] mikaelmattsson commented on #209
Just to clairify, that if you remove `s=` then ElasticPress will ignore the query because of `EP_API::elasticpress_enabled`
This seems to be an unsupported feature then. The plugin support the tax_query query argument but not the taxonomy query argument.
The WP_Query object will sometimes include the query_var `taxonomy` and `term` or `term_id`

I'll share the code i use

    if (!empty($query_var

[2015-02-17 12:13] mikaelmattsson commented on #209
The title of this issue is a bit misleading. An empty search string will not cause tax_query to break. It will result in EP not doing anything and the query will run against MySQL like it normally would.

[2015-02-17 12:25] AaronHolbrook commented on #209
This is more of a limitation with WordPress's `is_search` - when the `s` parameter is blank or not set, WordPress says that it is not a search - which is what ElasticPress was using to know when and what to override.

Because of that, we've added the parameter of `ep_integrate` to our check - so if `is_search` is not true, then it will check to see if `ep_integrate` was passed in the query argumen

[2015-02-17 12:27] #209 closed

[2015-02-17 16:29] psorensen commented on #209
Thanks for your input Aaron and Mikael. This was an error on my part. In my project, I'm using `pre_get_posts` to search based on `$_GET` parameters. I was sending slugs to a `tax_query`, but not setting the `field` parameter to `slug`, thus the slugs were not registered as found.

In the end EP is working as described and my problem was due to an error. Regardless, your efforts were helpful in fu

[2015-02-17 16:34] AaronHolbrook commented on #209
Good to hear - thanks for following up @psorensen !

[2015-02-17 21:18] jamesmehorter opened #210 "Elasticsearch defaults to 10 aggregation terms returned"
This isn't an issue really, but maybe it's worth noting somewhere in the EP docs?

By default only 10 aggregation term buckets are returned for each aggregation, which could confuse someone who is using EP out of the box. Scroll down to the 'size' section here: http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html

If someone needs

[2015-02-17 21:22] jamesmehorter commented on #210
Adding this as a wiki page instead

[2015-02-18 00:18] psorensen opened #211 "meta query: enable more compare operators"
Namely `>` & `<`. Any plans to implement this? Any major roadblocks?

[2015-02-18 02:02] psorensen commented on #210
Thanks,  James!

[2015-02-18 11:34] AaronHolbrook commented on #211
No real roadblocks I know of - pull requests welcome!

[2015-02-18 16:52] tlovett1 commented on #210
@jamesmehorter perhaps aggregations should return posts_per_page results by default?

[2015-02-18 17:10] jamesmehorter commented on #210
@tlovett1 possibly! However, posts_per_page is used for the actual hits returned correct?

Consider the following.. You use a category taxonomy as an aggregation and Es returns the default 10 hits, AND the top 10 category terms (aggregation term buckets) used by the hits. However, what if there are actually 25 category terms used by the hits? That's the situation I had run into which all this spur

[2015-02-24 05:32] superdummy opened #214 "Duplicate Hook - Leads to triggering action two times (with sideffects)"
Hello,

first of all, great Plugin, love it! Thanks for developing it.

I think i discovered a bug: The Hook "ep_post_sync_args" is triggered in two methods (see bolow) in sequence. This leads to buggy behaviour when attaching to this hook. As logic gets executed two times right after each other!

Background = What I want to do and resulting buggy behaviour:
I need to manipulate the Data that is p

[2015-02-24 06:39] superdummy commented on #214
Update:
It would further be brilliant to have a "late option" to cancel/skip sending any data to Elastic (based on the full content. This allows for example for special checks based on interdependencies of data attributes.)

So the ideal fix (for my first post and this second post) could be:

public function sync_post( $post_id ) {

               //removed:  $post_args = apply_filters( 'ep_post_s

[2015-02-24 11:39] #211 closed

[2015-02-24 15:06] tlovett1 commented on #214
How does this look? #215

[2015-02-25 03:13] tlovett1 commented on #214
A fix for this has been merged.

[2015-02-25 03:13] #214 closed

[2015-02-25 11:23] AaronHolbrook commented on #214
props @superdummy for a good find - thanks for the bug report!

[2015-02-25 18:36] superdummy commented on #214
absolutely great, thanks very much!!

[2015-02-25 23:50] psorensen opened #216 "EP not working for ajax-powered search"
Perhaps the burden doesn't fall on the plugin development and I'm just doing it wrong.

I'm trying to build an ajax-powered search by sending a request to a function that returns a query. I've made it work no problem with EP disabled, but re-enabling EP seems to have no affect. I'll post the relevant parts of my code for reference as to provide my method used.

***ajax-search.js***

[code]

***sea

[2015-02-26 03:06] tlovett1 commented on #216
This looks like it should work fine. I'm going to test locally.

[2015-02-26 03:28] tlovett1 commented on #216
The problem is here. `admin-ajax.php` counts as an admin request. I am going to add a filter so you can enable query integration only for ajax requests. However, you shouldn't make requests to `admin-ajax.php` from the front end since page caching can't be taken advantage of. Instead you should create an endpoint on the front end to hit for search.

[2015-02-26 03:28] tlovett1 commented on #216
Meant to paste this: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-wp-query-integration.php#L27

[2015-02-26 06:03] psorensen commented on #216
Thanks for the quick fix, @tlovett1. I will heed your advice regarding making requests to `admin-ajax.php`.

[2015-02-26 06:03] #216 closed

[2015-03-02 19:57] GhostToast opened #218 "Custom Analyzer"
This is definitely a "would be nice" item:

To be able to associate relevant terms from within WP dashboard. What I mean is terms which have synonymous meaning within the context of a particular site and would help users find content based on the potential intention of their words.

As an example, let's say there is a restaurant review site which writes about a bar in Chicago. Only, they insist on

[2015-03-02 20:01] GhostToast commented on #218
Related reading: http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/custom-analyzers.html

[2015-03-02 20:44] tlovett1 commented on #218
Definitely an idea. Please post the code you use to add the custom analyzer. Thanks!

[2015-03-02 23:49] esaheiskanen opened #219 "How to use mappings"
Hi!

Could you show simple example how to use mappings on setup? I have Advanced Custom Field that is number type but it's interpreted as string in elastic search.

Thank for great plugin!

[2015-03-03 16:54] AaronHolbrook commented on #219
Hi @esaheiskanen,
You will need to filter the initial mapping that happens during setup: https://github.com/10up/ElasticPress/blob/df56933d7a041eb5567a095e46e6909aa2211a1f/classes/class-ep-api.php#L520

You can use the pre-existing mapping as a guide, but you'll need to specify your field directly (instead of allowing the dynamic mapping to map every post meta field). Something like
[code]

[2015-03-03 16:54] #219 closed

[2015-03-03 17:00] esaheiskanen commented on #219
Thank you for answer. Where i should put this? Cli parameter of modify plugin source?

[2015-03-03 17:01] esaheiskanen commented on #219
*or (mobile client doesnt let me edit)

[2015-03-03 17:02] AaronHolbrook commented on #219
As I said and linked to - you should filter the `ep_config_mapping` filter.

Use WordPress's Action/Filter API: http://codex.wordpress.org/Function_Reference/add_filter

[2015-03-03 20:14] GhostToast commented on #218
More related reading: http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/analysis-synonym-tokenfilter.html

[2015-03-03 21:06] GhostToast commented on #218
Some basic synonym stuff:

[code]

[2015-03-04 14:44] tlovett1 commented on #218
Awesome start!

[2015-03-11 08:04] jonathan-dejong opened #222 "Am I missing something for pagination?"
Hi!

Just implemented EP on a clients multisite network and boy I love it..
I can't seem to get pagination to work tho.

This is  my slightly condensed pre_get_posts function to retrieve posts for the search results (sorry about the bad indentation):
[code]

However it doesn't seem to work and I'm thinking it might be due to the global search?
To be clear, the search returns 20 results ONLY even t

[2015-03-11 08:11] jonathan-dejong commented on #222
Nope. Just tried with a completely vanilla search (no custom settings with pre_get_posts) and I'm still not seeing any pagination and found_posts and max_num_pages are both 0.

[2015-03-11 20:15] allan23 commented on #222
Hi Jonathan,

The pre_get_posts action gets called when ElasticPress indexes your site. With your code above, you are limiting the indexing to 20 posts.

My suggestion would be to wrap your code with the following IF statement:
[code]
This will allow your code to kick in on a main search instead of on every single WP Query throughout the site (frontend and backend).

Let me know if that resolves y

[2015-03-12 08:31] jonathan-dejong commented on #222
Hi Allan,

Actually I have the code above wrapped in
` if(is_search()) `
so my pre_get_posts action only applies on a search which is what I want. I just left that part out for readability sake :)

This is the entirety inside the pre_get_posts function with some other stuff that's not related left out:

[code]

You say that the posts_per_page is actually limiting the indexing to 20 posts, is that

[2015-03-12 16:32] allan23 commented on #222
Thanks for the code clarification Jonathan. I can see that your code does not affect indexing, so we are good on that front.

While running your code on a local multisite install with four sites with 108 posts total, I was not able to replicate your pagination issue.

[code]

I'm using the Twenty Fifteen theme on WP 4.1.1, no other plugins other than ElasticPress.

Is there anything special about

[2015-03-13 12:17] pyroAdrian commented on #197
Any news with this issue ? I am willing to move the app in wpengine but I don't have any option to index the data.

[2015-03-13 13:40] tlovett1 commented on #197
@pyroAdrian you can ask WP Engine support to run the WP CLI command.

[2015-03-13 13:50] pyroAdrian commented on #197
@tlovett1 I already ask them to run the wp cli, but they are saying that is not possible to run CLI commands for user plugins

[2015-03-16 14:12] GhostToast commented on #197
@pyroAdrian I actually had a discussion with WPEngine spawned by this comment, and their answer was "Yes, we can run a wp-cli command that uses a user built plugin.  We have done this for other customers in the past.  They just need to make sure the plugin is active."

However, the account in question is on a rather high-end plan. I'm not sure if that is a factor.

[2015-03-16 20:50] ryanboswell opened #225 "Tracking indexing status per-post"
We recently ran into an odd issue where some posts were not synced/indexed to Elasticsearch for some reason, there wasn't any log information (that we could find) to indicate the exact reason.  But we had a few server issues around the time this happened, and it's possible that the part of the request that indexed these posts was aborted and so they were skipped, since we has similar issues with o

[2015-03-16 21:00] tlovett1 commented on #225
We used to have this but decided to pull it out. I'm okay with putting it back. @AaronHolbrook ?

[2015-03-16 21:00] ryanboswell commented on #225
Maybe have it as optional for 'advanced' users that want it or when doing testing?

[2015-03-16 21:17] AaronHolbrook commented on #225
As it seems to be more for debugging purposes, and a pretty unorthodox debugging method at that, I don't think it would make sense to do this by default. @ryanboswell you could easily use a filter in EP or even just on transition_post_status yourself to add a protected meta key timestamp.

[2015-03-17 07:38] jonathan-dejong commented on #222
Hi allan,

Sorry I've been sick with the flu for some time now..

Hmm.. I'm using EventEspresso for events which might be messing with the query.. I'll try disabling it.
Other than that I have a pretty extensive list of plugins both custom made and from the community. I'm also using a custom theme but I can't imagine that being the issue since this is the only filter I have that manipulates the qu

[2015-03-18 15:20] tlovett1 commented on #168
Thanks @joeyblake ! #224

[2015-03-18 15:20] #168 closed

[2015-03-18 17:02] swissspidy commented on #3
This. So much this. I could really use faceted search at the moment. How can I extend ElasticPress to integrate `BP_User_Query`

[2015-03-21 18:10] charlesLF opened #226 "Custom "Function Score" sorting"
I'm not sure if this is the right place to post, but I hope this might help others who need a similar solution.

Here's what I am currently doing to obtain a custom function_score in wordpress's global search using elasticpress:

[code]

I hope this could be useful to someone :)

I appreciate your comments/feedback too!

[2015-03-23 18:25] tlovett1 commented on #226
Awesome! This would be great to add to the Wiki.

[2015-03-24 11:31] AaronHolbrook opened #227 "If using fields => ids in WP_Query, ElasticPress nullifies the request"
Just stumbled across this one.

**The Problem**
----------------------

Given a `WP_Query` arg array of the following:

[code]

ElasticPress runs and may / may not find posts. However, in WP's own `query.php` on L:3433: https://github.com/WordPress/WordPress/blob/bce851dcf25439a74c3f7ce42bb784c84ca8f3cc/wp-includes/query.php#L3433

`get_posts` actually just takes the request SQL and determines the

[2015-03-26 14:56] joeyblake commented on #227
```id=>parent``` is easy enough to add the ```site_id``` to the results. So the consensus needs to be on how best to handle splitting up multi site id returns. What makes the most sense? Splitting the ids results up into

[code]

Or do we nullify a search for ids on a multi-site search, and require using either 'id=>parent' or a new param 'id=>site' in those instances?

Or

[2015-03-26 23:08] istvano opened #228 "is it possible to index pdf doc files that is attached to the post ?"
Hi Guys,

I just found this plugin and I am wondering if there is a way to also support indexing pdf doc using ES attachment plugin ?

Thanks a lot

[2015-03-27 14:42] tlovett1 commented on #228
Yes, although it hasn't been done yet:

http://www.elastic.co/guide/en/elasticsearch/reference/1.3/mapping-attachment-type.html

[2015-03-27 19:31] istvano commented on #228
hi,

thanks. I have used ES in many projects and I know how to set-up the mapping. I was wondering if you could guide me to the right direction where I need to add support in the WP plugin.

Thanks !

[2015-03-29 19:24] jonathan-dejong commented on #222
Hi,

So I came back to this issue a few days ago and suddenly the pagination worked but showed an massive amount of found posts (so again it was wrong). But I did a reindex and it's now working. So I guess something went wrong with the first indexing or something..

[2015-03-29 19:24] #222 closed

[2015-03-29 19:29] jonathan-dejong opened #229 "orderby date not working"
Hi!

Got this site where I use EP with a network query using ep_integrate. It's working just fine except it wont order by date instead of relevance (atleast I assume it's using relevance, it's not a search query). You can see the results here: http://kfsk.se/nyheter/

And this is the query:

[code]

I can't see anything wrong with it but for some reason it just doesn't want to change the orderby..

[2015-03-31 19:57] cmmarslender opened #232 "Emails about errors, even when there were not any errors"
Just reindexed a multisite, and got a bunch of emails (one per site) about indexing errors, even when a site didn't have any actual errors.

See screenshots:
https://cloudup.com/cuXQ4sX9udk

[2015-03-31 23:59] tlovett1 commented on #232
@cmmarslender it must have been trying to index posts that don't exist:
https://github.com/10up/ElasticPress/blob/develop/bin/wp-cli.php#L433

How is the database setup? Is there multiple DB servers? Perhaps, they are out of sync.

[2015-04-01 11:33] jonathan-dejong commented on #229
I've also tried simplifying it by removing the meta_query and still no dice.
It works when I change the orderby to title or name.. those both work as expected. But not date.

[2015-04-01 14:48] psorensen commented on #229
see #206, this addition has already merged into develop branch.

[2015-04-01 15:04] tlovett1 commented on #229
This will be merged into the next version of EP.

[2015-04-01 15:04] #229 closed

[2015-04-01 15:15] jonathan-dejong commented on #229
Ah okay great news!
Bit confusing as the docs says it supports it already :)

Any thoughts on when the next stable will come or is it possible to use dev branch on a live site?

[2015-04-01 15:51] jonathan-dejong commented on #229
Never mind. I just integrated the changes myself until it comes in stable :)

A headsup, it seems ordering by date and setting the order parameter to ASC disables the date ordering. Atleast in a multisite setup when querying multiple sites

[2015-04-01 18:10] tlovett1 commented on #229
Sorry the doc shouldn't say that. Develop branch *should* be stable. We are hoping to release the next version in the next month.

Regarding date ordering, if this is an issues, can you open up a new issue?

[2015-04-01 20:47] #208 closed

[2015-04-01 20:47] tlovett1 commented on #202
@zamoose ping :)

[2015-04-02 06:38] jonathan-dejong opened #233 "Orderby Date with order ASC disables orderby"
Hi,

Opening new issue regarding the new orderby date feature. I've implemented the code changes myself to the current stable version since I needed this for a live site.

I'm querying regular posts from ~8 sites in a multisite network and setting the orderby parameter to "date". When also setting the order parameter to "ASC" the orderby parameter no longer works (with date, others work as expecte

[2015-04-02 13:37] tlovett1 commented on #218
@GhostToast perhaps it's worth adding the custom analyzer thing to the wiki?

[2015-04-02 13:39] tlovett1 commented on #210
Yea, I agree this just needs some documentation.

[2015-04-02 22:58] cmmarslender commented on #232
Does have multiple DB servers, but I dont think they were out of sync - Maybe a possibility.

I was reindexing a multisite, and after double checking the emails, the very first email I got (which I ignored, assuming it was empty like the rest....) actually had posts. Maybe there is an issue with doing this network wide, where ```$this->failed_posts``` is not cleared for each site or something like

[2015-04-06 15:29] GhostToast commented on #218
Added https://github.com/10up/ElasticPress/wiki/Synonym-Analyzer @tlovett1

[2015-04-06 19:55] #218 closed

[2015-04-07 15:05] qubika opened #235 "filter_posts_request() - object instead of ID passed into get_posts"
Installed elasticpress and work seamlessly, but noticed that author details weren't being returned in the search result.

After a bit of digging, found that the filter_posts_request() function in class-ep-wp-query-integration.php is passing the $post object into get_post rather than $post->ID so the object isn't being enriched.

Changing this seemed to fix things.

[2015-04-07 20:44] tlovett1 commented on #232
@EduardMaghakyan can you explain how this fixes the bug?

[2015-04-07 21:10] EduardMaghakyan commented on #232
@tlovett1 Well as far as I've understood send_bulk_errors is called for each site and if $this->failed_posts is not empty the email is sent. So if $this->failed_posts is not empty one site email will be sent for that site and for all sites which are indexed afterwards, even if there aren't any failed posts.

[2015-04-07 21:12] tlovett1 commented on #232
Awesome thanks

[2015-04-07 21:12] #232 closed

[2015-04-09 08:38] natostanco opened #237 "negative site parameter?"
Is is possible to use a negative value with the site parameter as to specify search all blogs minus this one?

[2015-04-09 09:43] qubika opened #238 "Indexing comments?"
Is is possible to index comments in ElasticPress so that they form part of the search?

I'm using the P2 theme so comments and posts have equal weighting - since EP doesn't seems to support comment indexing (unless I'm missing something) then this is a limitation.

[2015-04-09 10:22] AaronHolbrook commented on #237
That is not currently how the system works.

You could however, pass an array of all blogs excluding the current one and it would do what you're looking to achieve.

[2015-04-09 10:22] #237 closed

[2015-04-09 14:05] tlovett1 commented on #238
Right now this is not possible. I do think this would be great as a separate plugin or an enhancement. PRs welcome!

[2015-04-10 19:32] tlovett1 opened #242 "Date Query Documentation"
@joeyblake can you write documentation for your date query feature? No need to open a PR. Just push straight to develop.

[2015-04-13 13:42] zamoose opened #243 "Support https connections"
Not sure what needs to happen to support this, but specifying an https URL for the `EP_HOST` bombs out, even though the Elasticsearch instance is up.

[2015-04-13 13:46] zamoose commented on #243
Specifically, `wp elasticpress index` reports

`
Error: Unable to reach Elasticsearch Server! Check that service is running.
`

[2015-04-13 15:56] zamoose commented on #243
Investigating further:
@tlovett1 hopped on to the test box and re-ran the index command using root and --allow-root and it completed. Trying various combinations of https/http, with port, without port, if `EP_HOST` had :443 specified, it would bomb if run as `sudo -u apache`, but would run as root.

I'm confused. This may not actually be an issue, or it may well be.

[2015-04-13 16:53] zamoose commented on #243
If I can't reproduce, I'll close this out as an aggravating Heisenbug. Suspecting system packages/Apache* is at fault.

*When in doubt, always blame Apache.

[2015-04-13 17:11] tlovett1 commented on #243
Blaming Apache works for me.

[2015-04-13 19:35] tlovett1 commented on #227
So we are going to pass on this one for the following reasons:
1. This is useful for MySQL since it makes queries more performant. This isn't necessary for Elasticsearch
1. We can't really make this work with cross-site searches since we need a site id with the post id.
1. Seems like this isn't possible anyway with the final mapping of `get_post` in the main `WP_Query` query method.

Thanks to @Aa

[2015-04-13 19:35] #227 closed

[2015-04-14 04:19] zamoose commented on #243
Closing as invalid.

[2015-04-14 04:19] #243 closed

[2015-04-14 04:23] #202 closed

[2015-04-14 19:29] tlovett1 opened #245 "WP_Query date functionality QA"
Hey everyone, the big push for next version is date query support. @joeyblake took an initial pass in #221. #221 has been merged into the `develop` branch along with some additional commits by me (unit tests plus bug fixes by me and Joey).

We need people to test this code. Any bugs should be exposed via a PR with a unit test referencing this ticket. **A bug is any difference between [WP_Query dat

[2015-04-15 05:09] zamoose opened #246 "Respect Elasticsearch defaults for shards & replicas"
In [includes/mappings.php#L6-7](https://github.com/10up/ElasticPress/blob/e184151a913f1e4a0f765e8f503900cea5b69427/includes/mappings.php#L6-7), we're hard-setting number of replicas and shards at 1 and 5, respectively. While filterable, this adds an extra layer of complexity and can interfere needlessly with system administrators' prerogatives in sharding the data in a way that makes sense.

While

[2015-04-15 14:27] #246 closed

[2015-04-17 11:03] EduardMaghakyan commented on #233
Hey @jonathan-dejong ,

Can you please help me to reproduce this issue?
I'm using this query arguments
$args = array(
	's' => 'Apricot',
	'sites'			=> 'all',
	'date_query' => array(
		array(
			'after'     => 'April 1st, 2015',
			'before'    => array(
				'year'  => 2015,
				'month' => 4,
				'day'   => 9,
				'hour'  => 11,
				'minute'  => 25,
				'second'  => 8,
			),
			'inclusive' => false,

[2015-04-20 06:57] jonathan-dejong commented on #233
Hi Eduard,

you can see the code I use here: https://github.com/10up/ElasticPress/issues/229

[2015-04-22 15:24] zamoose opened #249 "Add security X- header to requests"
It'd be great to have an `X-` header sent along with every* EP request so that, in addition to locking access down via firewall we can secure access to individual Elasticsearch instances with a few Nginx rules.

I'm envisioning setting something like

* `X-ElasticPress-API-key`
* with a payload of some md5 hash or similar that is a pre-shared key between the ES and EP sides
* set it in `wp-config.

[2015-04-22 15:27] zamoose commented on #249
Additional thoughts:

* EP should ignore this header if one is unspecified in the config. It should not be mandatory.
* Nginx can check for the presence of the header and check it against its shared value and reject the traffic if an incorrect key is supplied or no header is sent when one is expected.
* We'd need some convention for the Nginx side of things to send back so that EP can coherently h

[2015-04-22 15:32] zamoose commented on #249
...Or we could just use my favorite error code, [HTTP 418](http://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol#Commands_and_replies).

[2015-04-22 17:52] tlovett1 commented on #249
Are you defining "EP Request" as EP making a request to Elasticsearch?

[2015-04-22 17:58] zamoose commented on #249
Yup, a request from EP to the Elasticsearch server/cluster. Ideally, the "potentially destructive" requests can be covered, but if we want to also maintain some form of access control so Joe Sixpack from the Internet can't run JSON queries against even the read-only indexes, then all requests should probably be covered.

[2015-04-22 18:09] tlovett1 commented on #249
So here is the logic I see:
If and only if `EP_API_KEY` is defined, included it in ALL requests to ES as a `X-ElasticPress-API-Key` header.

Does this work for you?

[2015-04-22 18:13] zamoose commented on #249
That would be brilliant.

[2015-04-22 18:43] #249 closed

[2015-04-22 18:44] tlovett1 opened #250 "Add filters to request arguments for all ES requests."
Title says it all.

[2015-04-22 18:53] #250 closed

[2015-04-25 05:46] crebacz opened #252 "Trouble with filters"
Hello--

I'm not sure if this is the right forum; however, I'm having trouble with having filters taking effect in my queries.  Specifically, I am trying to limit search results by category.  I have tried the following:

[code]

I have also tried using a tax_query with category as the taxonomy.  It still isn't filtering.  I'm not quite sure how to begin troubleshooting this. Any pointers on where

[2015-04-25 12:19] psorensen commented on #252
Your syntax looks correct. Where are you placing this code?

[2015-04-25 18:17] crebacz commented on #252
In search.php.  the elasticsearch is returning results (I can tell because the fuzzy search is working  beautifully). But for some reason, it returns all results rather than only those within a certain category or post type.

[2015-04-27 19:32] crebacz commented on #252
So I decided to look at the query that is being sent to ElasticSearch (I basically var_dumped the $args that are being encoded into json within the search method in the EP-API class).  A couple of things that I noticed:
1. There are two queries echoed when I perform a search. The first query seems to be the standard search output from Wordpress (i.e., it has the keyword, but all other fields are s

[2015-04-28 17:14] psorensen opened #253 "Ignore certain posts when indexing"
Just starting a discussion here.

Our site has a lot of private pages that we don't want to show up in the SERP, but we don't set these to private status in WP because we often direct non-users to them. I'm thinking a per-post meta-box that includes an option to exclude the post from the ES index.

Is this a potential for core EP? Or would it be better suited for a plugin. Anyone have additional t

[2015-04-28 17:45] psorensen commented on #252
Personally, I use a 'pre_get_posts' filter. I'd also be interested to hear how other implement this.

[2015-04-29 16:56] tlovett1 commented on #252
Hey guys, sorry the documentation was incorrect. You need to use `tax_query` instead of `category` as the query param.

[2015-04-30 05:47] allan23 commented on #253
Hello,
You can accomplish this with a plugin using the 'ep_index_posts_args' filter by setting the 'post__not_in' argument.

For example:
[code]

Hope this helps.

-Allan

[2015-05-01 16:20] psorensen commented on #253
Thanks for that. Wouldn't this just ingore the posts only on initial indexing? (Not on post create/update?)

[2015-05-04 13:55] #252 closed

[2015-05-04 13:56] #235 closed

[2015-05-04 14:00] #245 closed

[2015-05-04 23:10] allan23 commented on #253
You are correct. That filter would work on the initial index.
You would probably want to tap into the 'ep_post_sync_kill' filter as well; which would stop a post from indexing on create/update:

[code]

* Where 37 is the post ID you wish to not index.

One idea: you could implement a custom field on the post to toggle whether or not the post should be indexed on ElasticSearch like so:

[code]

Ple

[2015-05-04 23:26] psorensen commented on #253
Looks great to me. My initial question was whether something like this
should be part of the core plugin. I appreciate your work! I will test it
out and let you know how that goes. Thanks!

On Mon, May 4, 2015 at 4:11 PM, Allan Collins <notifications@github.com>
wrote:

[2015-05-05 00:43] crebacz commented on #252
Thank you!  The updated documentation worked beautifully for me. Appreciate your help with this. Thanks psorenson for your input.

[2015-05-06 21:13] MarkGavalda opened #254 "Indexing WooCommerce Orders?"
Thanks for your work on this plugin!
One of the weakest points of WC is that its orders search function takes ages when you have a lot of orders. It would be great to leverage ES for this too!

[2015-05-08 17:13] tlovett1 commented on #254
Thanks for the suggestion!

[2015-05-08 17:14] tlovett1 commented on #253
I personally think the filters provided are sufficient. Happy to discuss further.

[2015-05-08 17:14] #253 closed

[2015-05-09 14:44] psorensen opened #255 "Accessing returned aggs."
How is this done? May be worth documenting/including in a wiki entry. I'd be glad to do so once I learn how it's done.

[2015-05-12 12:06] zamoose commented on #249
Circling back around to this one:
I've just been using this in a test setup -- it works like a charm.

[2015-05-13 15:21] EduardMaghakyan commented on #233
Hey @jonathan-dejong , thanks and sorry for such a late response :) have you tried with the latest code from develop branch? I think that's already fixed there.

[2015-05-14 14:22] natostanco commented on #237
Yes but assuming the array is very large, pretty much the entire multisite and you want to exclude just a handful of blogs, wouldn't that be a little too much for a simple exclusion?

[2015-05-15 09:19] natostanco commented on #237
So from what I understand in order to only exclude some sites, you would have to perform the search on the global index, and filter out the specified site_ids

[2015-05-15 10:38] jonathan-dejong commented on #233
Hi,

Nope haven't tried it since then. I don't change the order for my client so the only reason I would try it would be to debug. If you think it's been fixed I'll take your word for it :)

So you can close this issue if you want to.

[2015-05-15 11:26] untoreh opened #257 "Allow querying taxonomies?"
Would be nice to be able to fetch taxonomies from elasticsearch, of course this is not done by WP_Query in wordpress but would definitely be useful.

[2015-05-15 18:48] psorensen commented on #253
I'm having trouble with the `my_ep_stop_sync` function. I've provided a true/false custom field which returns a boolean, however, when updating the post, I'm redirected to `wp-admin/post.php` with a blank white screen.

[2015-05-17 09:14] crebacz opened #258 "MySQL db is still be used"
Hello--

I'm working on elasticpress in my local environment. When I perform a search, the wordpress database looks like it is still being hit...and a lot.  Based on Query Monitor, I'm getting over 900 queries to the database. Same search request with elasticpress deactivated is 53 queries of the database.  From the docs, it sounded like WP_Query is only run if elasticsearch fails.  However, I kno

[2015-05-18 08:19] pyroAdrian opened #259 "The date range filter is not working"
Hi,

I'm trying to filter the posts using date range and it seems that is not working. Using this query arguments:
[code]
the code is generating the following json that is sent to elasticsearch
[code]

Does anyone know what could be the issue ?

Thank you

[2015-05-18 14:42] psorensen commented on #253
I think a better solution for my case is to just use `pre_get_posts` to not exclude posts with the assigned custom field.

[2015-05-18 18:34] tlovett1 commented on #258
@EduardMaghakyan can you look at this one?

[2015-05-18 21:16] #242 closed

[2015-05-21 08:45] #233 closed

[2015-05-26 07:02] EduardMaghakyan commented on #259
@pyroAdrian just to confirm that we are on the same page you mean that this part

[code]

should be

[code]

because inclusive is set to false?

[2015-05-26 07:17] pyroAdrian commented on #259
Hi @EduardMaghakyan ,

I've found what was the main cause of the issue. The problem was that I've indexed the data using "wp elasticpress index" and this command is indexing the post_date as string and the filter is not working correctly if the field is string.

I've indexed the data using the mapping (index --setup) and the post_date has the type "date" and filter worked.

This issue can be close

[2015-05-26 13:54] tlovett1 commented on #259
@pyroAdrian 1.4 requires the "mapping" be re-sent to Elasticsearch which the `--setup` flag does. Going forward you will not need `--setup` unless the mapping changes again. This has been added to the release documentation.

[2015-05-26 13:54] #259 closed

[2015-05-27 01:52] tuanmh opened #263 "Supporting 'like' query in post meta"
It seems that currently EP does not support 'LIKE' query against post meta data. This is actually a need as sometimes we don't want to match exact by using 'term' but using 'match'. This could be really handy. I can do a PR if desired.

[2015-05-27 13:47] tlovett1 commented on #263
Have you looked at the `search_fields` parameter?

[2015-05-27 21:56] tuanmh commented on #263
Yes. I'm using it for one of my post_meta fields. However, in our app, we have a search query which queries against the search fields and another query using in filter. For example:
- ``Introduction``: main query on fields ``post title, post content, post_meta.subtitle``
- ``elasticpress``: a filter, something like ``elasticpress`` on other fields, e.g. ``post_meta.ABC``

So it's basically the sam

[2015-05-30 15:36] markjaquith commented on #197
How expensive are the indexing HTTP requests? Couldn't there just be an XHR-powered admin screen that tells the server to do, say, 10 of the indexing requests, and on success, tells the server to do the next 10?

It looks like `_index_helper()` could be further abstracted so that it calls method available outside of WP-CLI that accepts an offset in addition to posts-per-page.

1. [ ] Abstract the

[2015-05-30 15:46] tlovett1 commented on #197
@markjaquith The index requests aren't that expensive. Elasticsearch also has bulk indexing so you can index multiple posts in one request. You could even use non-blocking requests (possibly after confirming the first one is successful).

[2015-05-31 22:33] tuanmh commented on #263
Something like this commit (05a8b0b) would be really appreciated.

[code]

[2015-06-01 17:37] tlovett1 commented on #263
@tuanmh can you open a PR?

[2015-06-02 16:00] Stayallive opened #271 "Indexed number not reflected in ElasticSearch"
Hey,

I am working with this plugin now for a few weeks, with pleasure... however I just realised a problem.

When indexing our pretty large posts table we notice a big inconsistency.
```Indexed 13950/38034 entries. . .```

While ElasticSearch says:
[code]

The number 38034 should be correct by our own calculations, this is the number of articles with published status which should end up in Elasti

[2015-06-02 16:08] Stayallive commented on #255
Hey @psorensen,

Maybe you already found it but let me know about this for an explanation:

ElasticPress exposes a hook `ep_retrieve_aggregations` which can be used to access the aggs.

I have the following code in my search wrapper:

[code]

Which allow me to do `Elasticsearch::$aggregations` and get the aggs as returned by ElasticSearch after the query has executed.

[2015-06-02 17:10] foofy opened #272 "--network-wide commands stop after 100 sites"
The index, put-mapping, and delete-index commands, when used with the --network-wide flag, stop working after 100 sites. This is because EP_API::get_sites() uses wp_get_sites() which only returns 100 sites by default:

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1063

[2015-06-02 17:22] AaronHolbrook commented on #272
Nice catch @foofy

[2015-06-02 17:23] #114 closed

[2015-06-03 18:23] cmmarslender opened #274 "Add ability to prevent index error email from being sent"
It would be nice if we could control whether or not the emails that get sent to the site administrators when posts fail to index are sent or not. Something as simple as a filter I could return false on to prevent the email from going out would work for me :)

[2015-06-03 18:37] tlovett1 commented on #274
Totally agree.

[2015-06-03 18:45] tlovett1 opened #275 "#270 needs tests"
We need tests for the post meta like filter.

[2015-06-03 18:46] tlovett1 commented on #272
I think we just need to document this. Thoughts?

[2015-06-03 18:47] tlovett1 commented on #271
@Stayallive any update on this?

[2015-06-03 21:22] tuanmh commented on #263
@tlovett1 I will add the test ASAP.

[2015-06-03 23:59] hriad opened #279 "Slow initial indexing"
Hello,
Indexing is really slow. After more than two hours, 10.000 posts have been indexed out of 100.000. Boxes hosting the site / database / Elasticsearch are all reporting normal load and plenty of free RAM, so the issue does not seem resources related.

[2015-06-04 11:52] #263 closed

[2015-06-04 11:52] tuanmh commented on #263
Closing via c142064 and 99d334c

[2015-06-04 11:53] tuanmh commented on #275
@tlovett1 unit test added.

[2015-06-04 13:59] #275 closed

[2015-06-04 14:01] #274 closed

[2015-06-04 14:01] #258 closed

[2015-06-04 14:02] tlovett1 commented on #279
How much RAM does your box have? This is probably an issue with Elasticsearch configuration not EP.

[2015-06-04 15:02] psorensen commented on #279
@hriad might be worth offloading ES. Bonsai.io offers a free plan. It's only 1g memory/storage, however, I use it on one of my sites to host 180k posts with considerable traffic. Works great.

[2015-06-04 20:09] Stayallive commented on #271
@tlovett1, I am seeing lot's of `MapperParsingException[failed to parse]; nested: StackOverflowError;` no clue yet from what :)

[2015-06-04 20:27] Stayallive commented on #271
Okay walk of shame here... I messed something up while rewriting our custom categories to actual categories... causing above mentioned errors... 😨

[2015-06-04 20:27] #271 closed

[2015-06-04 22:17] hriad commented on #279
@tlovett1 1GB RAM on the ES box. I might have an idea about what happened, today I checked the output from the wp cli index command. It was reporting that script execution timed out for a certain blog post, and it was point at one of my plugin shortcode. Does it mean that EP fetch every post and run through all shortcodes it finds? If it's the case it might explain the slow indexing, and how could

[2015-06-05 14:00] tlovett1 commented on #279
@hriad you could write some code to not process shortcodes here: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L420

Also, I'd recommend 2GB of RAM.

[2015-06-05 18:37] hriad commented on #279
That's exactly what I was looking for, thanks for the help @tlovett1

[2015-06-05 18:40] #279 closed

[2015-06-05 19:58] trident60 opened #282 "Filter search and format results?"
Hello,
Great plugin - it works perfectly!

That said, let me be a bit boring and tell you what I've been struggling to do ;)

90K posts - each post is an app from iTunes or Android Play. Each post has custom fields - pricing, free, release date, etc…

I'm trying to put a search in place that will allow the end user to do a "normal" keyword search but I'd like them to also be able to select or, at

[2015-06-09 01:10] tuanmh opened #283 "Expose a filter to modify request header"
I would be great if we could have a filter to modify the request header, for instance, some one may use HTTP Basic Authentication for their requests. I can submit a PR if desired.

[2015-06-09 15:48] allenmoore opened #285 "Error Log for is_search"
We're receiving the following in the error logs related to the ```elasticpress_enabled()``` function:

```2015/05/13 04:20:49 [error] 32735#0: *5417370 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to a member function is_search() on a non-object in /var/www/html/yourdomain.com/wordpress/wp-content/plugins/elasticpress/classes/class-ep-api.php on line 1100" while reading upstream, c

[2015-06-09 16:00] tlovett1 commented on #285
I think this is a bug in "query stacking": https://github.com/10up/ElasticPress/blob/bfa16e55e1478ac44260a60da4fd7acc224a992a/classes/class-ep-wp-query-integration.php#L110

[2015-06-09 18:15] AaronHolbrook commented on #272
I think this should be documented and a filter added for the arguments array that is used to call `wp_get_sites()`.

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1088

Right now you could filter it yourself and return it, but it's redundant and wasteful. A filter would be a good fix.

[2015-06-09 18:15] AaronHolbrook commented on #272
cc @GhostToast

[2015-06-10 01:11] tuanmh commented on #283
Closed via 202f346

[2015-06-10 01:11] #283 closed

[2015-06-12 11:03] AaronHolbrook opened #286 "On index failure (request entity too large), no notification"
Even though the `_bulk` index request failed, it was not reported during the index operation.

This should be addressed for better debugging and troubleshooting.

[2015-06-12 11:19] AaronHolbrook opened #288 "Auto-detect if index failure because request entity is too large and adjust posts-per-page"
I think we can intelligently determine if our first request was too large and scale down the bulk-index request until it either works or the bulk size is too small to be effective.

[2015-06-12 11:25] AaronHolbrook commented on #282
Hi @trident60,
Sounds like you're definitely looking to implement [aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations.html) as well as some template/thematic changes.

To answer your first question, yes ElasticPress definitely supports the ability to send and receive aggregations, however it definitely requires some modifications of your query and your

[2015-06-12 11:25] #282 closed

[2015-06-12 11:29] AaronHolbrook commented on #254
Hey @MarkGavalda - work was started on an admin search integration over at [https://github.com/10up/ElasticPress-Admin](https://github.com/10up/ElasticPress-Admin). It's a working prototype and any PRs are welcome.

[2015-06-12 11:29] #254 closed

[2015-06-12 11:44] AaronHolbrook opened #289 "After bulk index is complete, ensure all posts were indexed"
It's possible to have the index operation complete and only have a small portion of posts indexed.

This may be fixed by the addition of #286, but it would still be nice to do a final check against `num_docs` reported by the index to ensure what we think we sent over was actually received.

[2015-06-15 12:02] AaronHolbrook opened #291 "Add action prior to kicking off wp-cli index command"
Allows for modification of things like removing filters that are hooked to parse_query or pre_get_posts that cause issues during indexing.

[2015-06-16 02:45] #291 closed

[2015-06-16 10:43] AaronHolbrook opened #293 "Remove / suppress all query filters during an index operation"
Discovered a massive issue with the Tribe Events Calendar that occurred during a bulk index operation.

The Events Calendar has a filter on `parse_query` that adds some very heavy `IF` logic to the mysql request. This not only slows down the indexing operation but can potentially fill up the mysqltmp file and crash the db server.

Taking this a step further, I began to wonder - when would we want

[2015-06-16 14:06] bordoni commented on #293
On `parse_query` or on `pre_get_posts`? Currently the plugin creates custom SQL on the following methods:
- `Tribe__Events__Query @ multi_type_posts_fields`
- `Tribe__Events__Query @ posts_join`
- `Tribe__Events__Query @ posts_join_orderby`
- `Tribe__Events__Query @ posts_where`
- `Tribe__Events__Query @ posts_distinct`
- `Tribe__Events__Query @ posts_groupby` -- _Deprecated_

The only if that hap

[2015-06-16 14:54] AaronHolbrook commented on #293
Hi @bordoni,
I was seeing it on `parse_query`.

Since this is an indexing operation performed via a WP_CLI command for the express purpose of sending all data to an Elasticsearch server (so it's the main loop), your injection causes some serious issues simply because the `tribe_events` post type was included in the query.

[2015-06-16 14:58] bordoni commented on #293
The only problem I could ever see would be missing the "ordering", which I think on a Indexing action is not _really_ a problem.

[2015-06-17 19:04] ChrisWiegman opened #296 "Use EP for building dashboard content lists"
One additional use I would like to see for EP/ES is to use it to build the post/pages/etc content lists instead of via WordPress. The advantage here is these can be some very troublesome spots on large sites due to the inefficiencies of the queries involved. Replacing the lists with results from EP could really boost performance.

Thoughts?

[2015-06-17 19:07] zamoose commented on #296
Maybe extend WP_List_Table?

[2015-06-17 21:47] tlovett1 commented on #296
@ChrisWiegman in the admin, front, or both?

[2015-06-17 21:57] zamoose commented on #296
@tlovett1 admin, mainly, since it's uncacheable.

[2015-06-17 22:04] tlovett1 opened #297 "Documentation for #294"
#294 needs documentation.

[2015-06-17 22:04] tlovett1 commented on #297
@bordoni mind doing this?

[2015-06-17 22:15] #272 closed

[2015-06-17 22:22] tlovett1 commented on #296
Got it. This would be a good extension plugin.

[2015-06-17 22:23] tlovett1 commented on #296
I know @AaronHolbrook started this https://github.com/10up/ElasticPress-Admin

[2015-06-18 14:22] bordoni commented on #297
I can do it, but if there are any mentions to the `--network-wide` on the Wiki I don't have permissions to change, someone else will have to change it there.

[2015-06-18 14:44] tlovett1 commented on #297
I don't think it has any mentions.

[2015-06-18 14:45] bordoni commented on #297
:wink:

[2015-06-18 17:32] tlovett1 opened #298 "Query Caching"
We need to investigate using `cache_results` in queries especially when `ep_integrate` is used.

[2015-06-18 20:58] AaronHolbrook commented on #293
@bordoni I don't think orderby is at all relevant in an indexing operation.

[2015-06-18 21:01] bordoni commented on #293
:wink: Agreed!

[2015-06-18 21:03] AaronHolbrook commented on #293
Does anyone else have any thoughts as to why suppressing filters during indexing could have negative ramifications?

[2015-06-18 21:24] psorensen commented on #293
We filter the_content to show a password prompt for unregistered users.
Unless we add a check to the filter, EP will index the password prompt
instead of the content.

An easy fix on our end, but would definitely lean toward turning off
filters altogether when indexing, as we have no need for them. Regardless,
if possible, it would be most beneficial to make the implementation of this
command filt

[2015-06-19 00:59] joelgarciajr84 commented on #293
Just following the conversation :+1:

[2015-06-19 10:32] AaronHolbrook commented on #293
@psorensen I can see how that would affect you, but it does make more sense to leave content stored in `post_content` and simply change the template logic to test if a user is logged in/out to show it. That or use something like [Restrict Content Pro](https://pippinsplugins.com/products/restrict-content-pro/).

Irregardless, I do believe we could leave this up to the user and have it be filterable

[2015-06-19 15:52] tlovett1 commented on #293
@psorensen which filter are you doing that on?

[2015-06-19 17:20] psorensen commented on #293
@tlovett1  I'm filtering `the_content`. Is this what you mean?

@AaronHolbrook We do use a membership software, Membermouse. But their content restriction is limited so we take it into our own hands using membership-level checks using their API. We've tried to make the content restriction theme-agnostic by filtering the content, rather than place the logic directly in the theme.

My solution to by

[2015-06-19 17:27] AaronHolbrook commented on #293
@psorensen yea that looks like it'd work fine - only show the message if a condition is met (i.e. member not valid), instead of storing that message as `post_content`.

@tlovett1 a possible strategy we could employ to not break backward compatibility is to check to see if ElasticPress was already installed and if it was, set the filter removal to false by default. It would be more complex logic, b

[2015-06-22 20:38] #286 closed

[2015-06-23 20:35] allan23 commented on #285
This is most likely caused by BuddyPress in bp-groups/bp-groups-template.php on line 3799 when it sends an instance of BP_Groups_Group_Members_Template in the 'loop_start' hook:
[code]
A possible solution to this would be to check for the is_search() method in the retrieved $query object:
[code]

[2015-06-24 17:32] #297 closed

[2015-06-24 21:58] psorensen opened #303 "http basic auth"
I'm using qbox.io to host my index. I've also created a JS search interface which uses `elasticsearch.jquery.js` to get ajaxed results.

Qbox offers a http authentication which

But I still need to authenticate EP to do the indexing. Is this possible?

[2015-06-25 04:53] tuanmh commented on #303
Do a quick search through 'Closed' issue, check it out mate https://github.com/10up/ElasticPress/issues/283

[2015-06-25 06:04] tuanmh opened #304 "Improvement: allow recursively terms indexing"
Hi guys, thanks again for a great and extensible plugin. Just a suggestion. With current terms indexing, we run into a problem that if a post's term (e.g. ``optimization``) is under other terms, for example: ``computer science -> performance -> optimization``, we will not be able to search for that post under ``computer science`` or ``performance`` term. Hence, it would be handy if we can also all

[2015-06-25 06:06] tuanmh commented on #304
This ccee471 can give you brief idea on this.

[2015-06-25 13:43] #303 closed

[2015-06-25 15:54] #285 closed

[2015-06-25 20:27] #298 closed

[2015-06-26 03:56] tuanmh commented on #304
I don't think I made it clear, let me put it in this way. Let's say, we have this hierarchy:
Computer Science
-- Optimization (post A)
---- Performance (post B,C)
------ Algorithms (post D)

Currently, when searching posts under optimisation will only yield: post A, while logically to someones to return A, B, C, D. Searching performance will return only B and C but it should be B,C D.

The enhance

[2015-06-26 14:08] tlovett1 commented on #304
@tuanmh makes sense to me. I'm not sure of the implications this could have though. Waiting for review from @allan23

[2015-07-01 13:25] paulhuisman opened #306 "Lots of notices in regular search query since 1.5"
Hi,

I'm seeing alot of notices since upgrading to 1.5 from 1.4.

This happens in a regular search query:

Notice: Undefined index: comment_count in /Users/paul/projects/fc-corporate/web/app/plugins/elasticpress/classes/class-ep-wp-query-integration.php on line 313

Notice: Undefined index: comment_status in /Users/paul/projects/fc-corporate/web/app/plugins/elasticpress/classes/class-ep-wp-query-i

[2015-07-01 14:31] tlovett1 commented on #306
I think we need to check if these properties exist before adding them to the post since we added fields to the indexed document.

Also, we need to update the mapping to account for a few fields that we missed.

@allan23 can you take care of this?

@paulhuisman re-indexing will most likely fix this for you now.

[2015-07-01 14:41] paulhuisman commented on #306
Thanks for your swift response. Re-indexing helped!

[2015-07-02 01:06] allan23 commented on #304
@tuanmh It looks like you still have line that is not PHP 5.3 compatible: test-single-site.php line 282. I see that your unit test is checking the post via ep_get_post(), can you also write a unit test to utilize WP_Query?

@tlovett1 This does make sense if someone wants to determine a post's term hierarchy. Further unit testing is needed.

[2015-07-02 21:14] allan23 commented on #293
I think this a good idea to improve indexing time, but what about shortcodes that provide relevant content to the page/post?

[2015-07-03 01:12] AaronHolbrook commented on #293
This was just intended to suppress query filters, not `the_content` type filters, so I believe shortcode filters would be ok.

On Thu, Jul 2, 2015 at 4:14 PM, Allan Collins <notifications@github.com>
wrote:

[2015-07-03 03:48] tuanmh commented on #197
I highly support the idea of @markjaquith. This is the same as the plugin "Regenerating Thumbnails' is doing.

We can run into problem if using WP_CLI in cloud environment. I have to ssh to an instance and do indexing there but I have no idea when this instance is going to be terminated - so indexing can be interrupted in half-way and this happened could be of times to me already.

[2015-07-03 03:50] tuanmh commented on #304
I'm quite busy these days but will find time to finish them this weekend. Thanks for pointing that out!

[2015-07-06 14:55] #306 closed

[2015-07-06 15:43] allan23 commented on #293
@AaronHolbrook I don't see why this would be an issue then.

[2015-07-07 08:50] Stayallive commented on #289
It looks like #287 fixed the silently non synced posts for me.

I had one post missing in about 40k and that errored out nicely in 1.5.

And since there is the `ep_post_sync_kill` filter this might not even be reliable.

[2015-07-07 09:00] FreshFlesh commented on #9
I managed to do this easily with a simple filter https://gist.github.com/f99bfc9c4180f66df841.git
Could be enhanced :)

[2015-07-08 15:20] #255 closed

[2015-07-09 13:42] psorensen opened #309 "Attachment post type not indexed on publish"
When adding media via the media uploader or post editor, attachment is not indexed.

Steps to replicate:

1. Filter `ep_indexable_post_types` to include 'attachment'
2. Filter `ep_indecable_post_status` to include 'inherit'
3. Run `wp elasticpress index --setup`. (attachments are indexed)
4. Upload attachment via media uploader or post editor. (attachment not indexed*)

*Changes are not sent to th

[2015-07-10 22:13] Faison opened #310 "Post meta saved on the 'save_post' hook is never up-to-date in Elasticsearch"
I ran into an issue recently where a post's meta wasn't saved in Elasticsearch after creating the post, but would show up in Elasticsearch after updating said post once. This lead me to find something that seems kind of like a big deal:

ElasticPress syncs a post with Elasticsearch on the `transition_post_status` hook, which happens several hooks before the `save_post` hook. This means that any cu

[2015-07-13 08:50] Stayallive opened #312 "Password protected posts"
I was wondering what the thought is on password protected posts...

They are currently indexed just fine, I think this should or be noted in the docs or be excluded by default with an option to include them.

[2015-07-13 19:35] tlovett1 commented on #312
Do password protected posts show up in normal WP search?

[2015-07-13 19:37] tlovett1 commented on #310
This is related to #264. @allan23 can you investigate?

[2015-07-14 08:46] tuanmh commented on #309
This is because saving an 'attachment' will never invoke ``wp_insert_post`` which is being used to sync a post to ES. A workaround would be in your plugin hook into both ``edit_attachment`` and ``add_attachment``. It should fix the problem. This is what've doing at the moment.

[2015-07-14 08:50] tuanmh commented on #310
We had this problem before and actually had several workaround to make it work properly. But I'm pretty sure that EP 1.5 does not use that hook anymore, now it's using ``wp_insert_post`` which is even below ``wp_save_post`` https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-sync-manager.php#L22. Updating to 1.5 would help.

[2015-07-14 13:37] Faison commented on #310
@tuanmh That did it. Somehow I missed the update, so this ticket is completely a non-issue. Good choice of hook, that's actually the one I was going to suggest if it wasn't already fixed.

Thanks again!

[2015-07-14 13:37] #310 closed

[2015-07-14 18:37] tlovett1 commented on #310
Woot

[2015-07-16 14:24] Stayallive commented on #312
Yep, should have checked that first, they do show up in normal WP search.

So should there be an Wiki entry or some sorts with a `ep_post_sync_kill` filter example?

[2015-07-16 14:33] tlovett1 commented on #312
A wiki entry would definitely be cool.

[2015-07-16 14:33] #312 closed

[2015-07-17 05:58] tuanmh commented on #304
ok, finally I can settle down and have the unit tests fixed with new tests added as recommended by @allan23 . @tlovett1 could you please review this, thanks!

[2015-07-21 08:03] fschroiff opened #318 "Adding content from Advanced Custom Fields to search index"
I am trying to add content from some of my custom fields to the search index and failing. What am I missing?

[code]

There's a modest bounty for whomever answers [this question on StackExchange](http://wordpress.stackexchange.com/q/194785/10595).

[2015-07-22 09:07] #318 closed

[2015-07-22 09:07] fschroiff commented on #318
Never mind, the issue lies elsewhere.

[2015-07-22 14:10] tlovett1 commented on #309
@allan23 any ideas here?

[2015-07-22 15:15] tlovett1 commented on #309
@tuanmh nice catch. Enabling attachments will be possible in 1.6 via filters exactly how you assumed @psorensen .

[2015-07-30 19:01] GhostToast opened #321 "Abide by the `exclude_from_search` flag when indexing"
To match the behavior of searching for post_types which have `exclude_from_search` set to `false` (meaning they are searchable...double negative), the indexing performed by `get_indexable_post_types()` should make the same check, instead of checking for `public` being set to `true`.

This can be seen on class-ep-config.php around line 71

Related: https://github.com/10up/ElasticPress/pull/195

[2015-07-31 05:22] russmac commented on #228
Hi Guys,

I can see what looks like the feature mentioned being developed here,
https://github.com/10up/ElasticPress/compare/master...feature/attachments

I'm assuming it will index the document contents so they will be available in search?

[2015-08-05 15:22] #309 closed

[2015-08-05 17:54] trueinviso commented on #185
I am running `wp elasticpress index --setup` and get the same error.  Running `wp help` I can see that elasticpress is not an option in wp yet.  In the bin/wp-cli.php file I can see that this is where the elasticpress command is supposed to be added to wp-cli, but for whatever reason this code hasn't run yet.  Is there something I need to do to get this file to run?

[2015-08-06 13:07] FreshFlesh opened #322 "Scheduled posts are not indexed when transitioning to publish status"
Thanks 10up for this great plugin!

I noticed that my posts scheduled for publishing are not indexed at all.

Looking at the EP_Sync_Manager class, post sync seems only to happen on `wp_insert_post` hook, which is probably too simplistic. For instance my posts with scheduled publishing are not indexed because WP don't run this hook on cron.

Also what happens if a post meta or a term is updated? I

[2015-08-06 15:34] tlovett1 commented on #82
Same thing with post meta.

[2015-08-06 15:35] tlovett1 commented on #322
@FreshFlesh would love to see a unit test that shows the publishing problem.

If post meta/terms are updated. The post is not resynced to ES. This is definitely a bug but one we haven't thought of a good solution for yet. See #82

Would love to see some code here :)

[2015-08-06 17:33] zamoose commented on #185
Did you activate ElasticPress?

[2015-08-06 18:18] trueinviso commented on #185
Yes, the problem seems to be that I have wordpress in a subdirectory and it can't find WP_CLI to add the elasticpress command to WP_CLI.

[2015-08-06 20:05] GhostToast commented on #321
This is still relying on `'public' => true` which will prevent non-public post_types from being searchable by default. I think relying _only_ on `'exclude_from_search' => false` is the way to go, because that will default to `true` for many applications where a post_type has been registered as non-public.

[2015-08-07 01:44] sc0ttkclark opened #326 "Add action to EP_API::index_post()"
Sometimes posts don't sync up or index correctly, when something's wrong with the indexing / ElasticSearch provider. Would be great to be able to debug post indexes.

`do_action( 'ep_index_post_retrieve_raw_response', $response, $post );`

I'll add a PR once I get my first PR #325 verified I did it right.

[2015-08-07 18:57] sc0ttkclark opened #327 "Default sort by score is incorrect when integrating with non-search queries"
When integrating with non-search queries, and orderby is empty, the default should be date as WP core uses itself.

Currently, an empty orderby triggers the `$default_sort` logic of using `_score`:

[code]

This could instead, be this:

[code]

[2015-08-07 19:06] sc0ttkclark opened #328 "Query posts by thumbnail not available because it's a protected meta key"
The EP_API::prepare_meta method removes meta keys which are protected. That unfortunately leaves out the ability to still query by posts that have thumbnails (a common occurrence).

Original:

[code]

With filter and _thumbnail_id added would be something like this (with inline hook doc):

[code]

[2015-08-07 19:16] sc0ttkclark opened #329 "Adding orderby meta_value and meta_value_num support"
In order to add support for a potential meta_value and meta_value_num value in 'orderby' arguments, we have to be able to sort by meta value. But post_meta data sets are all arrays when indexed, as prepared by EP_API::prepare_meta.

`$prepared_meta[$key] = maybe_unserialize( $value );`

Something like this could allow for single values, in which sorting would work for those cases:

[code]

As note

[2015-08-07 19:22] sc0ttkclark opened #330 "Adding orderby post__in support"
Sorting in ES may not be possible to sort by a manual order of _id or post_id, so I think if we do get an orderby 'post__in' we'd have to sort it manually with PHP (not so great).

Here's what core does with MySQL, so I'm not sure how to accomplish that in ES. Looked around the docs but it didn't seem to be available.

[code]

Further, the same logic we end up using could also be used for orderby

[2015-08-07 19:48] tlovett1 commented on #327
Something like this definitely makes sense.

[2015-08-09 22:23] FreshFlesh commented on #328
Because this is very specific and someone could argue that some other protected metas should also be indexed by default, may be it is better to set this meta as unprotected using is_protected_meta filter?

[code]

[2015-08-09 22:28] sc0ttkclark commented on #328
I wouldn't want to change how WordPress it works itself here -- is_protected_meta would do that.

The filter I've proposed in ep_prepare_meta_allowed_protected_keys would allow anyone to allow indexing of other protected meta keys in a much more clear way for EP itself and devs using it.

[2015-08-09 23:09] FreshFlesh commented on #328
I understand that someone might want to index a meta while keeping it protected in WP itself, so having a dedicated filter for EP only might be the solution!

I am still unsure about having `array( '_thumbnail_id' )` as the default value though..

Did i miss something or your code is missing a condition on `$allowed_protected_keys`?

[2015-08-10 00:28] sc0ttkclark commented on #328
Sorry, updated my code with `if ( ! is_protected_meta( $key ) || in_array( $key, $allowed_protected_keys ) ) {` as I originally intended it to have.

[2015-08-10 13:26] EkAndreas opened #331 "Elasticsearch version?"
Are there any version requirements to Elasticsearch for this plugin?

[2015-08-10 14:20] tlovett1 commented on #331
Great question! This should be in the docs. Most likely 1.3 since that's when aggregations were added. Would love for someone to test that.

[2015-08-10 14:24] tlovett1 commented on #328
I think adding a filter to allow specific keys is a great idea. Not a huge fan of having a non-empty default though.

[2015-08-10 14:24] tlovett1 commented on #326
+1

[2015-08-10 14:26] EkAndreas commented on #331
Ahh, ok! One of my hosting partners only install 1.08 as Debian 8 has it in their package configs.

[2015-08-10 14:29] #304 closed

[2015-08-10 14:34] FreshFlesh commented on #322
My bad, WP indeed run the wp_insert_post hook when a scheduled post is published. I must have an issue with another plugin, i will investigate and confirm!

[2015-08-10 14:48] sc0ttkclark commented on #328
Is EP indexing the featured thumbnail or whether it has a thumbnail already? If not, I feel like the non-empty default makes sense in this case -- since the thumbnail (and maybe even page template, but that's a big stretch) is a common meta_query for most of the sites I've worked on (at 10up and in recent years)

[2015-08-10 15:48] sc0ttkclark commented on #329
Wanted to note that I'm not sure how to order by values in ES which are themselves arrays, like post_meta.some_custom_field (which would be `["something"]` -- a single value, so that the post would appear before one with the value of `["zebra"]`).

[2015-08-10 15:52] sc0ttkclark commented on #329
To clarify the last comment, this is in regards to working with thousands of records, pulling the top 3 ordered by a value (top 3 most expensive product, top 3 by their amazon stars, etc)

[2015-08-11 10:56] nicoladj77 commented on #185
I was having the same problem when running it on a [hgv](https://github.com/wpengine/hgv) machine, but in that case you have to run

    wp ep4wpe index --setup --network-wide

[2015-08-11 16:36] trueinviso commented on #185
I was able to fix this by changing WP_CONTENT_DIR in wp-config file.

I was using:
     `define('WP_CONTENT_DIR', realpath($_SERVER['DOCUMENT_ROOT'] . '/content'));`
And changed it to:
    `define('WP_CONTENT_DIR', realpath(dirname(__FILE__) . '/content'));`

wp-cli could now find my project and the elasticpress command was added.

[2015-08-18 00:26] cmmarslender opened #334 "Theme specific CPTs / Taxonomies not indexed when using --network-wide flag"
Take the example of a custom taxonomy "review-type" being registered by theme code on blog_id 2 - since that site's theme is not loaded with the --network-wide flag, the taxonomy is never indexed into elasticsearch. By using the --url flag and doing site by site, you do get this data (since wp-cli sets up the environment as if you are running that site specifically when using --url)

Same thign fo

[2015-08-18 00:39] cmmarslender opened #335 "Allow querying taxonomies by more than just slug"
Currently, this is restricted to use only the "slug" field - Sometimes, we might know IDs or Names, and want to search by those

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L747

[2015-08-18 18:02] bordoni commented on #335
We could include some, Parent related search in this enhancement, or is it too much?

[2015-08-18 18:16] cmmarslender commented on #335
My specific case was trying to include results from a list of a few taxonomy ids, but I would think the long term goal here should be to mirror as much of the tax query support for WP_Query as we can ¯\_(ツ)_/¯

[2015-08-28 18:59] ChrisWiegman opened #338 "Complex meta values are lost"
This is partially related to #328 but from a different direction.

Currently prepare_meta() attempts to unserialize the meta values it encounters but there are a couple of issues here.

First, it should never hit a meta value it would need to unserialize as the get_meta call only returns arrays of the meta values (not the single value) which is how it should work and could easily be overcome with

[2015-08-31 07:40] mustafauysal opened #340 "tax_query with term_id"
Hello,

I guess, tax_query parameter only support "slug" for now. Is there any update for the supporting term_id?

[2015-08-31 08:10] mustafauysal commented on #340
sorry for duplicate #335

[2015-08-31 08:10] #340 closed

[2015-08-31 16:09] tlovett1 commented on #338
How does it attempt to unserialize? Doesn't `get_post_meta` do that? Can you create a supporting unit test that demonstrates the problem?

[2015-08-31 17:29] #321 closed

[2015-08-31 17:35] #331 closed

[2015-08-31 19:10] mustafauysal commented on #335
:+1:

[2015-09-01 07:22] tuanmh opened #342 "Allowing guid to be indexed and retrieved"
Hi guys, as we now officially support attachment indexing, I think we should also allow ``guid`` to be indexed and retrieved to/from ES. This field is essential in some cases, e.g. searching attachment in media screen needs this field to show file name, otherwise, this will look like this (the 2 attachments in the middle):

![image](https://cloud.githubusercontent.com/assets/3193353/9598297/720487

[2015-09-02 15:55] ChrisWiegman commented on #338
There are a few issues in how this works.

First, as a quick demonstration take a look at the [feature/meta-poc](https://github.com/10up/ElasticPress/tree/feature/meta-poc) branch which will provide some demonstration on the issue.

To go a little deeper the prepare_meta method in the api class fetches all meta items for a given post with the get_post_meta which it then, and this is the first bug,

[2015-09-10 20:49] tlovett1 commented on #338
@ChrisWiegman after banging my head against on the wall on this one. I think this is a `wontfix`. Elasticsearch has no good way of supporting dynamic nested objects that are searchable. We can index arbitrary objects without a mapping but then the mapping can't be changed. Would love to hear @AaronHolbrook weigh in on this one.

I think we need to either document that multi-level meta can't be sto

[2015-09-11 14:16] EkAndreas opened #343 "delete_post called at enter new post-new.php in wp-admin"
ElasticPress causes two error calls when creating a new post i wp-admin.
The hook delete_post is triggered twice and there is nothing to delete from index when creating a new post :-)

[2015-09-11 14:26] tlovett1 commented on #343
Would you mind demonstrating this problem with a test?

[2015-09-11 14:48] EkAndreas commented on #343
Yes, reproduce the error like this:
1. Plain WordPress installation with ElasticPress configurated to ES.
2. Install and activate Query Monitor to watch requests.
3. Click "Add New" under Posts in WordPress wp-admin.
4. Follow the red flag from Query Monitor in the admin bar. There are two http-requests failing to ES.

[2015-09-11 14:50] EkAndreas commented on #343
Http Request: DELETE http://127.0.0.1:9200/newsflowdevwp-1//post/22
Response: 404
Call Stack:
WP_Http->request()
wp_remote_request()
EP_API->remote_request()
ep_remote_request()
EP_API->delete_post()
ep_delete_post()
EP_Sync_Manager->action_delete_post()
EP_Sync_Manager->action_sync_on_update()
do_action('wp_insert_post')
wp_insert_post()
get_default_post_to_edit()

[2015-09-11 18:08] ChrisWiegman commented on #338
@tlovett1

Here's an example of what we're looking at:

I've uploaded a media file, in this case a podcast I had locally:

![screen shot 2015-09-11 at 13 48 25](https://cloud.githubusercontent.com/assets/394675/9822241/392958e6-588d-11e5-90e0-3ae4be4dad88.png)

Notice the population of meta information from the file on the following image:

![screen shot 2015-09-11 at 13 48 32](https://cloud.githu

[2015-09-11 20:01] tlovett1 commented on #328
@sc0ttkclark since the post meta key `_thumbnail_id` is private, it is not indexed by default. I could probably be convinced that it should be.

[2015-09-11 20:08] sc0ttkclark commented on #328
If you could probably be convinced that it should be, we should whitelist it :)

[2015-09-12 07:20] crebacz opened #344 "Mapping failed"
Hello

I upgraded to 1.6 and was trying to reindex my site.  It deleted the current index as expected, but then WP-CLI return the message Error: Mapping Failed.  Not sure what causes this or how to troubleshoot.

Any suggestions on how to proceed?

[2015-09-14 13:46] tlovett1 commented on #344
What version of Elasticsearch are you running?

[2015-09-14 13:47] tlovett1 commented on #343
Hmmm ok. We will investigate.

[2015-09-14 13:48] tlovett1 commented on #342
Not sure why we aren't already indexing the guid. Can you send a PR?

[2015-09-14 15:22] crebacz commented on #344
The most recent 1.6

-------- Original Message --------
From: Taylor Lovett <notifications@github.com>
Date: Mon, Sep 14, 2015, 07:47
To: 10up/ElasticPress <ElasticPress@noreply.github.com>
CC: "Rebacz, Christopher F" <CFRebacz@DIRECTV.com>
Subject: Re: [ElasticPress] Mapping failed (#344)

What version of Elasticsearch are you running?

�
Reply to this email directly or view it on GitHub<https://

[2015-09-14 15:59] tlovett1 commented on #344
Elasticsearch not ElasticPress

[2015-09-14 16:09] crebacz commented on #344
I'm sorry.

Version 1.4.2

[2015-09-14 16:34] tlovett1 commented on #344
First, can you try upgrading to the latest version?

[2015-09-14 20:08] sc0ttkclark opened #345 "Pulling post data from current db instead of only from EP"
https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-wp-query-integration.php#L277

On this line, we setup a faux post object, but it's not a real `WP_Post` object. I feel like we should either enable or by default use `$post = get_post( $post_array['post_id'] );` and setting `$post->site` and `$post->elasticpress` after that. If `$post` is empty, then continue and skip that post, as

[2015-09-14 20:10] sc0ttkclark opened #346 "posts_per_page bug in argument handling"
https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L678

There's a typo, it should be `'posts_per_page'` instead of `'post_per_page'`. Will submit PR.

[2015-09-15 19:21] crebacz commented on #344
I have been trying to figure out how to update and embarrassingly I have not been able to do so.  I know you don't support elasticsearch itself...but do you know of a resource that explains the proper steps?  If not, i will keep looking.

I was wondering, worst case scenario, and I am not able to update to the latest version, what does that mean with respect to using this plugin?

Thanks as always

[2015-09-16 17:34] allan23 commented on #343
I can confirm that an unnecessary HTTP request is happening when WP creates a post with the auto-draft status. PR to follow.

[2015-09-16 18:44] sc0ttkclark commented on #343
PR looks good

[2015-09-16 18:46] EkAndreas commented on #343
Whats PR?

[2015-09-16 18:49] sc0ttkclark commented on #335
PR submitted

[2015-09-16 18:54] #342 closed

[2015-09-16 19:41] sc0ttkclark commented on #343
Pull Request, a code change that gets integrated into the code after review and any additional tweaks.

[2015-09-16 20:41] sc0ttkclark opened #358 "Search Exact / Partial / ALL words"
The ability to customize per WP_Query or filter for the global setting, if search terms should be looking at exact, check for existence of ANY words in the search query, or for ALL words (not exact).

Ability to turn off fuzzy matching would be nice too.

If anyone has a beat on the ElasticSearch args I should be looking at, I'll get on my way towards a PR.

[2015-09-16 20:52] tlovett1 commented on #358
This just relates to the query type: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-queries.html

[2015-09-16 20:58] tlovett1 commented on #345
I see what you are seeing. Two points:

1. The faux post thing is pretty tricky. I'm not sure if using `get_post` would even work right. Have you tried that?
2. The problem you are trying to solve seems super edge case. ES should always be in sync with WP so it should never happen.

[2015-09-18 09:46] paulhuisman opened #359 "Showing relevant excerpt in search results list"
Is it possible to return a relevant excerpt of a PDF indexed file?

For example somewhere in the indexed pdf it's about the term _velocity_.

The passage around this term will be shown in the search results.

[2015-09-21 16:56] mustafauysal opened #363 "stopwords support"
stopwords feature would be nice for mappings.

[2015-09-21 17:40] #343 closed

[2015-09-21 18:02] #327 closed

[2015-09-21 18:03] #326 closed

[2015-09-21 18:17] #346 closed

[2015-09-21 18:18] tlovett1 commented on #363
@mustafauysal mapping is completely customizable via filters. What are you missing?

[2015-09-21 19:25] mustafauysal commented on #363
@tlovett1 I was looking filter in mappings.php file directly. Sorry, I've realized now.

[2015-09-21 19:25] #363 closed

[2015-09-21 21:07] jeichorn opened #366 "current_user_can edit_post check in sync manager keeps system generated events from syncing"
I created hooks to archive woocommerce orders, and everything works fine, except new orders aren't indexed because of that check at:

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-sync-manager.php#L86

I'm not sure what the rational behind the check is, but it would be great to have some flexibility here.

[2015-09-22 15:43] tlovett1 commented on #366
Hmm, what role do users have that are indexing to ES?

[2015-09-23 00:27] jeichorn commented on #366
The user isn't logged in at this point, so it has no roles.

[2015-09-23 05:33] sc0ttkclark commented on #322
I'm reopening this issue. When a post is scheduled, it does run `wp_insert_post` hook that EP hooks into, but in `EP_Sync_Manager` we are checking if current user can edit the post or not:

[code]

This does not take into account wp-cron.php running either in the background or manually. There's no way to tell what a post *was* at this point, so the only way to bypass this would be to check if `DOI

[2015-09-23 17:22] sc0ttkclark commented on #322
@tlovett1 am i on the right track here for the solution?

[2015-09-25 17:31] allan23 commented on #366
@jeichorn Can you please provide some example code of what you are doing so we can reproduce?

[2015-09-25 17:42] allan23 commented on #344
@crebacz Here are a few resources:

https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-upgrade.html

http://stackoverflow.com/questions/9497223/how-to-upgrade-a-running-elasticsearch-older-instance-to-a-newer-version

I know this isn't much to go off of, but I'm hoping it will be enough to point you in the right direction.

[2015-09-25 17:43] allan23 commented on #293
@AaronHolbrook @tlovett1 Where did we land on this topic?

[2015-09-25 19:12] AaronHolbrook commented on #293
I think it looks like it would indeed be safe to proceed. @tlovett1 ?

I vote to make this a part of the next release.

[2015-09-25 19:23] AaronHolbrook commented on #338
@tlovett1 Hmm, this is indeed an interesting issue - I would think because Elasticsearch supposedly supports dynamic mapping this would be doable, however I have not had the opportunity to try it.

Have you tried modifying the mapping for post_meta? It's already a dynamic mapping, but perhaps the field it's storing into needs to also change to be dynamic?

https://github.com/10up/ElasticPress/blob

[2015-09-25 21:59] johnpbloch opened #369 "Add Mapping for Users"

[2015-09-26 13:34] bordoni commented on #369
It would be incredibly nice to see a "faster" way to search for users using roles. I mean, Currently it's a mess.

[2015-09-28 15:43] FreshFlesh commented on #322
+1 for this, had no time to look into it so thank you Scott!

[2015-09-29 21:12] jeichorn commented on #366
@allan23 its pretty simple

[code]

There is a bunch more in add_filter( 'ep_post_sync_args', function( $args, $post_id ) and then of course on the query side, but none of that gets run because of the check.  The goal here is to index WooCommerce orders and search for them on the admin side, because all the postmeta fun makes order search super slow.

It just happens that the order objects get cre

[2015-09-30 14:49] allan23 commented on #366
Thanks @jeichorn. I'll take a look to try to reproduce.

[2015-10-01 14:26] goblindegook opened #370 "Filtering by an array of blog IDs yields no results in 1.6 [Multisite]"
It seems that passing an array of blog IDs to the `sites` query var is no longer possible in 1.6 on a multisite install, only the `all` and `current` keywords yield results. If I provide an array, I get an empty result set.

I reverted the plugin to 1.5.1 and can confirm that search results are being returned correctly using that version.

[2015-10-01 21:21] allan23 commented on #370
Thanks @goblindegook, we'll take a look.

[2015-10-03 05:06] sc0ttkclark commented on #330
I'm going to leave things without post__parent_in for now.

[2015-10-10 09:08] natostanco commented on #370
actually it returns values from the current blog only

[2015-10-14 14:11] tlovett1 commented on #370
Hmm, the test seems to be passing - https://github.com/10up/ElasticPress/blob/develop/tests/test-multisite.php#L225

[2015-10-16 11:45] AaronHolbrook opened #383 "Bulk index status relapses to not showing total after a certain point"
Noticed this while performing a rather large index today with 27,492 posts.

After the 13,650th post, the total being reported instead showed just the latest number.

<img width="353" alt="screen shot on 2015-10-16 at 06-43-28" src="https://cloud.githubusercontent.com/assets/953022/10540850/756acd44-73d1-11e5-949e-7d2c229b930c.png">

This is a somewhat minor issue, but would be nice to resolve for

[2015-10-16 15:39] tlovett1 commented on #338
Related to #376

[2015-10-22 09:46] paulhuisman opened #384 "Select language per index"
Is it possible to add the appropriate language per index?

I'd like to have two indexes, english and dutch.

Obviously both should have the proper token stop filters.

[2015-10-22 19:05] allan23 commented on #366
@jeichorn sorry about the delay, but it appears that you can use the 'woocommerce_payment_complete' action hook to force the new order to be indexed.

[code]

Let me know if that resolves your issue.

[2015-10-22 19:21] allan23 commented on #370
@goblindegook I cannot reproduce your issue. Can you please provide the code you are using for this query?

[2015-10-26 15:23] jeichorn commented on #366
@allan23 I will give that a try, thanks

[2015-10-30 18:48] sc0ttkclark commented on #322
@tlovett1 Do you want a PR for this fix as I outlined in my previous comment?

[2015-10-31 13:48] #322 closed

[2015-10-31 13:52] tlovett1 commented on #383
@allan23 mind looking at this?

[2015-11-02 17:43] Mono-Code opened #387 "Trying to display all posts except for one. (post__not_in not working)"
My project requires that I display similar posts to the one currently being viewed. Although I'm able to perform a search query (using the article's title), the article itself keeps popping up as a similar article (makes sense) but when I try to pass "post__not_in" with this article's ID it doesn't seem to be working. I have found a work-around for the time being, but what would you suggest as bei

[2015-11-04 19:20] allan23 commented on #387
@Mono-Code Can you please copy/paste the WP_Query you are using?

[2015-11-04 21:33] allan23 commented on #383
@AaronHolbrook Can you let me know what kind of post types you are indexing? Single-site or Multi-site? EP Version?

Can this be replicated over and over again?

(I'm trying to find a way to reproduce this and I might be missing something.)

[2015-11-05 11:25] AaronHolbrook commented on #383
Post post types, multi-site, but individually indexing each single site. EP version is 1.6.

Can be replicated every single time. Seems to require a LOT of posts

On Wed, Nov 4, 2015 at 3:33 PM, Allan Collins <notifications@github.com>
wrote:

[2015-11-08 11:20] edbloom commented on #344
Hey @allan23  - I got the same error running ES 2.0 - downgrading to ES 1.7.3 resolved the issue so I'm guessing there's something new in 2.0 breaking ElasticPress.

[2015-11-08 18:31] sarahannedaigle commented on #344
In the Elasticsearch 2.0 video they mentioned there are several breaking changes. Any idea what elements might be the issue?

Sarah

[2015-11-09 15:37] tlovett1 commented on #344
This bug is confirmed. Expect a fix today.

[2015-11-09 18:27] Mono-Code commented on #387
Sure thing, here you go:

$similar_query = new WP_Query(
	 array(
		's' => get_the_title(),
		'post__not_in' => array($post->ID),
		 'showposts' => 4,
		 'post_status' => 'publish',
		 'orderby'=>'relevance',
		 'order'=>'DESC',
	 )
 );

[2015-11-10 19:53] tlovett1 commented on #197
Reviving this :)

[2015-11-11 16:29] #366 closed

[2015-11-18 20:04] psorensen commented on #387
also having this issue.

[2015-11-20 12:17] lukaspawlik opened #390 "Cannot use --no-bulk indexing parameter."
When I use `--no-bulk` index parameter I get following error.

[code]

[2015-11-23 16:58] bswatson opened #392 "wp-cli indexes deleted, archived, and spam sites"
When combined with a query to search network-wide, this allows returning results that may not be accessible.

[2015-11-24 03:11] allan23 commented on #387
@Mono-Code & @psorensen  - I am unable to replicate this issue. The only way I can get the post to be returned is if the wrong post ID is passed into the post__not_in array.

Is there any further information that you can provide?

[2015-11-24 03:14] allan23 commented on #383
@AaronHolbrook I've tried different ways to reproduce this and I'm coming up short. Anything else I can try to reproduce?

[2015-11-24 11:45] AaronHolbrook commented on #383
How many posts are you trying to index?

Wish I could give you more, it was reproducing every time on sites with a very large number of posts.

[2015-11-25 13:14] paulhuisman opened #394 "Searching for wildcards in search_fields meta"
Hi there,

I'm using ElasticPress with Advanced Custom Fields, and right now my query looks like this:

[code]

Is there a away to add a wildcard like `building_blocks_%_text` so i don't have to add every field id?

[2015-11-30 16:31] markzero opened #395 "When is ElasticPress getting post data?"
I guess `ep_search` function is used for getting data from Elasticsearch through it's API.

But the variable `$new_posts` is always empty after this line:

https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-wp-query-integration.php#L256

Filter `ep_wp_query_search_cached_posts` exists nowhere, so when does it get inside the following IF statement and fill `posts_by_query` property?

[2015-11-30 18:39] tlovett1 commented on #197
@ChrisWiegman working on this.

[2015-11-30 18:42] tlovett1 commented on #394
Nope, not right now. This could definitely be a future enhancement.

[2015-11-30 18:43] tlovett1 commented on #345
Update here?

[2015-11-30 18:47] tlovett1 commented on #384
This is definitely possible with Elasticsearch. With ElasticPress, it might take some research/work. Love to see what you figure out!

[2015-11-30 18:47] #344 closed

[2015-11-30 21:42] tlovett1 commented on #392
This was merged.

[2015-11-30 21:42] #392 closed

[2015-11-30 21:42] tlovett1 commented on #338
Merged.

[2015-11-30 21:42] #338 closed

[2015-12-02 21:56] paulgv opened #397 "Fuzziness on by default ? How do I get exact results from ElasticSearch ?"
Hi,
I would like to know how I should build WP_queries in order to get exact matches from ES.
Performing a basic search query like this :
[code]
Returns too much results for my need. This is caused by the `fuzziness` parameter in `class-ep-api.php` :
[code]

Why is this parameter set to 2 ? How do I set it to 0 for specific queries ?
Thanks !

[2015-12-05 19:51] codingideas opened #399 "WooCommerce post-type products"
How do we make this compatible with woocommerce? At this stage we have two searches:

?s=a&post_type=product
?s=b&post_type=post

?s=b&post_type=post works fine. We can see our posts. but if we want to ?s=a&post_type=product its not finding any products.

What if we want to index taxonomies like pa_color&post_type=product which we use in the layered navigation. How would we do that?

[2015-12-06 07:00] non-entity9 commented on #399
I've literally just run into the same problem.

I can even see that the product information has been indexed, yet the search returns no results.

[2015-12-06 20:18] codingideas commented on #399
Yes its weird because by default it says they search all taxonomies. Categories work. etc. Its just the search page with post_type=product. Shows no search results like you said.

[2015-12-06 20:49] lukaspawlik commented on #390
PR for this issue https://github.com/10up/ElasticPress/pull/400

[2015-12-09 16:45] tvanantwerp opened #402 "Initial indexing fails due to fatal error with 'WP_Widget'"
When I run `wp elasticpress index --setup`, I get this error:

[code]

I haven't got a clue why the WordPress Popular Posts widget would even be involved with the ElasticPress indexing. I deleted the WPP plugin entirely, and it didn't help. Here's the message I got after that:

[code]

I just updated to WordPress 4.4, so maybe there's a breaking change in there I'm not aware of? I don't know why w

[2015-12-09 16:49] philipnewcomer commented on #402
@tvanantwerp I just experienced that issue this morning. You need to update WP-CLI to be compatible with WordPress 4.4. See https://github.com/wp-cli/wp-cli/issues/2225

[2015-12-09 16:49] #402 closed

[2015-12-09 19:02] codingideas commented on #399
@tlovett1 do you know whats up with this?

[2015-12-10 02:32] tlovett1 commented on #399
I'm going to have to install Woocommerce to test. How the $_GET variable post_type is passed to WP_Query is probably somewhat dependent on your theme. Not 100% sure how it's setup. All public taxonomies are indexed but you have to use `search_fields` to designate which taxonomies to actually search.

[2015-12-10 04:18] allan23 commented on #383
@AaronHolbrook I have finally reproduced it! Running an index on ES 2.0 / WP 4.4 multisite, I am seeing that the total post count goes down as the the current number of indexed posts goes up.

<img width="241" alt="screen shot 2015-12-09 at 9 17 13 pm" src="https://cloud.githubusercontent.com/assets/1326772/11706867/43da4444-9eba-11e5-867e-056328d3362b.png">

Now comes the tricky part of figuring

[2015-12-10 05:46] codingideas commented on #399
Thanks Taylor. Sure so in the search input we just add <input type="hidden"
name="post_type" value="product"> and we installed default woocommerce
products that come with woocommerce.

We've tried on multiple stock themes. We dont know if this is something we
need to ask for with custom code or if this is something that is suppose to
work.

On Wed, Dec 9, 2015 at 7:32 PM, Taylor Lovett <notificati

[2015-12-10 07:29] rafaelcmrj commented on #399
@tlovett1 As I see the query is trying to filter the post_meta._visibility but it isn't indexed.

See above the json for the filter param:

[code]

But the object isn't indexing post_meta._visibility, as you can see in the _source below:

[code]
If I change "must" to "must_not" (or remove this filter) it works fine (filtering by the post_type).

[2015-12-10 11:40] AaronHolbrook commented on #383
Hmm @allan23 that's still not the same bug as reported though, but it's possible related.

Let me know what you find!

[2015-12-10 18:55] codingideas opened #403 "Indexing Conflicts"
When I run wp elasticpress index from command line I get this:

Fatal error: Class 'WP_Widget' not found in /wp-content/plugins/gravityforms/widget.php on line 16

I deactivate gravityforms

Fatal error: Class 'WP_Widget' not found in /wp-content/plugins/akismet/class.akismet-widget.php on line 5

When I deactivate akismet I get this:

Fatal error: Class 'WP_Widget' not found in /wp-content/plugin

[2015-12-10 18:57] tlovett1 commented on #403
You need to upgrade WP-CLI to the latest version.

[2015-12-10 18:57] #403 closed

[2015-12-10 19:09] codingideas commented on #403
how do I do that?

On Thu, Dec 10, 2015 at 11:57 AM, Taylor Lovett <notifications@github.com>
wrote:

[2015-12-15 17:45] bswatson opened #405 "Multisite requires manual index when adding new sites"
Sites can be setup and indexed from the command line, but the expectation is that ElasticPress should automatically pull in content from the new site.

[2015-12-21 18:02] spaarndam commented on #399
When i comment out the following line in plugins/woocommerce/includes/class-wc-query.php.
`add_action( 'pre_get_posts', array( $this, 'pre_get_posts' ) );` i'm able to search on the 'product' post type.

[2015-12-21 20:02] cmmarslender opened #410 "Make index requests non-blocking on save_post (and similar) hooks"

[2015-12-22 14:03] #410 closed

[2015-12-22 14:09] tlovett1 commented on #399
All, see https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L644

You need to allow the _visibility key to be index. Here is a snippet:

[code]

[2015-12-22 14:13] #397 closed

[2015-12-22 14:14] tlovett1 commented on #405
Yep, tough problem to solve. I think once @ChrisWiegman's dashboard is merged in, this will make sense to address.

[2015-12-22 14:15] #345 closed

[2015-12-23 18:09] spaarndam commented on #399
Hi, thanks for the update.
But even with the snippet, there are still no results on the products..

 `add_filter( 'ep_prepare_meta_allowed_protected_keys', function( $keys ) {
		    $keys[] = '_visibility';
		    return $keys;
		}); `

 `$allowed_protected_keys = apply_filters( 'ep_prepare_meta_allowed_protected_keys', array(), $post );  `

[2015-12-27 20:37] beatelite opened #413 "keep getting database conection error when running wpcli commands for EP"
I installed the plugin (master branch) and activated it on an MS install.

I installed the wpCLI according the instructions

I defined my constant  using my bonsai ES hosting:

[code]

I ran

[code]

I get back

[code]

I'm using wp 4.4

Any suggestions?

[2015-12-27 20:42] beatelite commented on #369
Agree with this. I'll be using this for a user directory on the front end so sorting by custom user-registered taxonomies and roles would be great.

[2015-12-29 19:22] lukaspawlik opened #414 "Unable to delete post from Elasticsearch"
I see in access logs below entries

"DELETE /xxxx-85//post/1526 HTTP/1.0" 404 92 "-" "WordPress/4.3.1; https://xxx.com" "-"

[2015-12-29 19:28] lukaspawlik commented on #414
PR https://github.com/10up/ElasticPress/pull/415

[2015-12-30 23:37] allan23 commented on #413
@beatelite Are you able to successfully run WP-CLI commands in general?
(Example: ``wp post list --post_type=post --posts_per_page=5`` )

[2015-12-31 15:53] allan23 commented on #395
Hi @markzero, sorry for the late reply. As explained in #337, you can use the ``ep_wp_query_non_cached_search`` action to cache results and then feed them to the ``ep_wp_query_search_cached_posts``.

I hope this makes sense. Let me know if you need further clarification.

[2016-01-05 19:52] beatelite commented on #413
No, I keep getting the same error. Weird. Suggestions?

[2016-01-05 20:09] allan23 commented on #413
Sounds like an issue with your WP-CLI install. Might want to try setting that up again and verify that you are running from your WordPress install's root directory.

[2016-01-11 15:32] #413 closed

[2016-01-12 15:22] ziodave commented on #228
+1

[2016-01-12 19:00] tlovett1 opened #420 "Checking WP_Query->query instead of WP_Query->query_vars"
In `ep_elasticpress_enabled`, we are checking `WP_Query->query` instead of `WP_Query->query_vars`. I feel like we should be checking `WP_Query->query_vars`. Thoughts? @ChrisWiegman @allan23

[2016-01-13 06:58] ziodave commented on #228
Thanks Doug, is it there any documentation?

[2016-01-14 17:06] natostanco opened #424 "meta_query returns empty with 'sites' => 'all'"
Passing an array of sites returns posts correctly, but doing a broad search with `sites => all` returns no posts.

[2016-01-14 23:30] #395 closed

[2016-01-14 23:30] #387 closed

[2016-01-17 12:41] prashanttct07 opened #427 "What is the default search query in Elasticpress"
Hi Team,

I was working for this plugin quite a while, So have a query like what is the default query which gets fired if I do any text search.

Here default search query means whether it is Query_string query, or match query or term query or any other query.

[2016-01-20 00:17] #414 closed

[2016-01-20 00:31] #384 closed

[2016-01-20 08:13] paulhuisman opened #428 "Is it possible to change index values for a specific post type?"
I'd like to give more priority to the published_date in the post type newsarticle.

So that new newsarticles get more priority in the search results.

Is this possible?

[2016-01-20 17:04] adorr commented on #210
@jamesmehorter thanks for this, I spent a long time trying to debug why I was only seeing 10 results in my aggregation.

[2016-01-20 19:01] tlovett1 opened #429 "ElasticPress Documentation Site"
Title says it all. Hoping to build and release some time soon.

[2016-01-20 22:11] dkotter commented on #427
Hey @prashanttct07, thanks for the question.

If I'm understanding the question correctly, if you were to install this plugin on any WordPress and you had Elasticsearch active and working properly, if you were to then go and run a normal search on that site, ElasticPress will then intercept that search query and pass that along to Elasticsearch, bypassing WordPress all together.

This means Elasti

[2016-01-22 12:04] gabrielperezs commented on #399
Hello @spaarndam, the snippet works, but you have to reindex to use it. In my Woo instalation works perfect after the reindex.

Before the reindex, the product in elastichsearch didn't have this part:

                  "_visibility" : [
                     {
                        "value" : "visible",
                        "datetime" : "1971-01-01 00:00:01",
                        "raw" : "v

[2016-01-22 12:14] spaarndam commented on #399
Hi @gabrielperezs,

yes, i managed to it working. Haven't thought about updating my comment here..
Problem for me, after reindexing was that ES indexed the products properly, but they still wouldn't come up during the search.

After some checking, i found out that this was due to the way the woocommerce did the WP_Query.
I saw that woo did some checking on the visibility as well.
I was able to get

[2016-01-22 18:54] tlovett1 commented on #399
Hey guys, this isn't officially released yet (in beta) but enjoy:
https://github.com/10up/elasticpress-woocommerce

[2016-01-23 22:51] JosefJezek commented on #399
:+1:

[2016-01-26 20:45] ChrisWiegman commented on #424
Hi @natostanco,

I've been testing this a bit this afternoon and have not been able to reproduce. Do you have an snippet of the code you can share to show us the query you're trying? Also, can you please confirm the version of both ElasticPress and Elasticsearch you are trying this on?

[2016-01-27 14:14] ChrisWiegman opened #433 "WP-CLI Status Command Failing"
wp elasticpress status fails with the following message using Elasticsearch 2.1:

====== Status ======
{
  "error" : {
    "root_cause" : [ {
      "type" : "illegal_argument_exception",
      "reason" : "No feature for name [_status]"
    } ],
    "type" : "illegal_argument_exception",
    "reason" : "No feature for name [_status]"
  },
  "status" : 400
}

====== End Status ======

[2016-01-27 14:14] ekandreas opened #434 "Packagist"
Hi!
Please register the plugin at Packagist so that install with composer is possible!
https://packagist.org/packages/10up/

[2016-01-27 14:16] ekandreas commented on #434
Sure, I could go via wpackagist-plugin/elasticpress but it's quite better without the wpcom dep.

[2016-01-27 17:44] johnpbloch commented on #434
This is waiting on #435 and will be taken care of as soon as that gets merged in.

[2016-01-27 19:37] dkotter commented on #433
Checked with Elasticsearch v1.7.2 and did not get this error. Plan on updating Elasticsearch soon and will re-test at that point.

[2016-01-27 21:54] dkotter commented on #433
Just upgraded to Elasticsearch v2.1.1 and now get the exact same error.

[2016-01-27 21:55] ChrisWiegman commented on #433
Ah ha! That's what I figured. I'll get a PR in for this tomorrow.

[2016-01-28 15:10] ChrisWiegman commented on #420
After poking around a bit I don't see any reason why this was implemented this way. I've opened PR #436 to address. In testing the switch seems to work just fine.

[2016-01-28 15:16] ChrisWiegman commented on #82
@dkotter After reviewing the two attached issues and their related PRs I'm going ahead and closing this issue as it appears to be fixed. Some testing seems as if it is working as well.

[2016-01-28 15:16] #82 closed

[2016-01-28 15:42] ChrisWiegman commented on #334
@allan23 before I dig too deep on this have you made any progress?

[2016-01-28 22:21] dkotter commented on #420
Tested out the PR and worked great. This has been merged so I'm closing this out now. Thanks!

[2016-01-28 22:21] #420 closed

[2016-01-28 23:13] dkotter commented on #434
#435 has now been merged into develop. Will be released as part of v1.9, which should happen within the next couple week.s

[2016-01-28 23:14] johnpbloch commented on #434
In the meantime, Packagist already recognized the name change in develop: https://packagist.org/packages/10up/elasticpress

[2016-01-28 23:14] #434 closed

[2016-01-28 23:19] ekandreas commented on #434
Great! Thanks!

[2016-01-29 15:59] dkotter opened #437 "Add ability to set what sites you want indexed/active"
When working through getting the Admin GUI in place (#396), we talked about how it would be nice if on a multisite instance, instead of having to index all sites and having ElasticSearch override queries on all sites, if you could either choose what sites you do want or exclude the sites you don't want.

We didn't want to include that in the #396 PR, as we'd want to add this feature, if possible,

[2016-01-29 21:55] dkotter opened #439 "Add --keep-active option to the admin GUI"
In #401, we added an option to not disable ElasticSearch during indexing, when using the cli command. It would be nice to bring this same option over to the new admin GUI. I'm imagining something like a checkbox next to the index button, that if checked, would keep ElasticSearch enabled.

[2016-02-01 03:32] #390 closed

[2016-02-04 22:27] #328 closed

[2016-02-04 22:28] #335 closed

[2016-02-04 22:33] dkotter commented on #405
The admin dashboard is now merged in, which makes it really easy to index a new site. But that indexing still is user initiated, so I agree it would be nice to figure out a way to automate this. The tricky part of this is sometimes you might not want every new site indexed, so any solution here would need the ability to turn it off. Would love to see a PR here.

[2016-02-04 22:34] #370 closed

[2016-02-04 22:35] dkotter commented on #369
Don't think this will get in for the 1.9 release, but any update here @johnpbloch?

[2016-02-08 13:42] phpanos commented on #384
Did you find a solution to this @paulhuisman? I would need this as well.

[2016-02-09 15:46] tegonsalves opened #441 "ElasticSearch Protected with Shield"
I was wondering if it is possible to connect EP to an ElasticSearch Server that has been protected with the Shield plugin?

[2016-02-10 13:14] phpanos opened #444 "Multisite indexing (custom taxonomies?)"
I'm trying to use this plugin on a multisite install but when trying to index the site I get the following error:

[code]

This happens on WordPress version 4.4. I then tried on WP version 4.3.3 and it worked.

The site has custom taxonomies.

Is this a known issue? Let me know if I can provide more information.

Thanks!

[2016-02-11 01:06] jaisgit opened #446 "GUI reindex fails when APCu"
FYI
The GUI reindex fails when using APCu Object Cache Backend plugin.

`Feb 11 11:49:16 host httpd: PHP Fatal error:  Uncaught exception 'ReflectionException' with message 'Property APCu_Object_Cache::$cache does not exist' in /var/www/wp-content/plugins/elasticpress/classes/class-ep-index-worker.php:173
Stack trace:
#0 /var/www/wp-content/plugins/elasticpress/classes/class-ep-index-worker.php(17

[2016-02-11 04:19] dkotter commented on #446
Hi @jaisgit, thanks for the error report. I don't have APCu setup anywhere to test, but just created a PR that I hope fixes this: #448. If you could, can you check that PR out and see if it fixes your error? Also, if you could check both on the PR and on the develop branch to see if you get the same error when using the cli command, as it does the same thing with the `ReflectionProperty`, so would

[2016-02-11 04:28] dkotter commented on #444
@phpanos So I just tried to reproduce this on a multisite instance that also has custom taxonomies and didn't get any error.

Looking at your error message, it's coming from a core WordPress file, so seems like potentially a bug in WordPress itself. But any other information you can provide that we could use to debug further would be great. What version of ElasticPress are you running? Any customi

[2016-02-11 04:29] dkotter commented on #441
@tegonsalves So I'm not familiar with the Shield plugin. Anyway you can link me to it so I can take a look? Thanks!

[2016-02-11 05:14] jaisgit commented on #446
That does fix the error with ACPu. I'm not sure if there was any errors via cli but a `wp elasticpress index --network-wide `  doesn't seem index all sites only the first one.

[2016-02-11 10:49] phpanos commented on #444
@dkotter Thank you for your fast reply! Did you use the latest version of wordpress when testing?

I don't have too much insight in this site since I didn't build it, but the only special thing about the custom taxonomies seem to be that you can select a language for them since WPML is installed. But I did deactivate all of the plugins and the same error appeared.

I am using ElasticSearch version

[2016-02-11 23:40] dkotter commented on #446
All right, just pushed the same fix to the cli command. Can you try running that one more time and see if works better now? Thanks!

[2016-02-11 23:41] dkotter commented on #444
All right, thanks for the extra info. Do you know what version of the ElasticPress plugin you're running? Would like to see if that's a factor here or not. Otherwise just keep us informed with any additional information you have and we can keep looking into this.

[2016-02-12 02:27] jaisgit commented on #446
I can confirm that `$ wp elasticpress index --network-wide` now says it indexes all sites but I don't see any logs in elasticsearch showing the activity where I do with the admin GUI index method.

[2016-02-12 08:12] phpanos commented on #444
Of course! I'm using version 1.8. Thanks for looking into this!

[2016-02-12 15:42] dkotter commented on #446
All right, merged in #448 which fixes the original issue here.

When you say you don't see the logs, do you mean you're not seeing any logs in the admin when you use the cli command? If so, I think that's expected, though maybe something we can fix. I would recommend opening another issue if you think it's something we should look into.

Thanks!

[2016-02-12 15:42] #446 closed

[2016-02-13 00:02] jaisgit opened #449 "Follow up on possible issues found during #446"
During the testing of #446 and in reference to my comment:

I wanted to clarify that I was referring to the Elasticsearch instance logs and not WP admin GUI progress.

Should running `$ wp elasticpress index --network-wide` without the `--setup` command work the same as clicking on the index button in the WP GUI?
If so, I'm seeing the Elasticsearch activity in logs with the GUI button but I don't

[2016-02-14 19:01] tegonsalves commented on #441
It adds username/password authentication to ElasticSearch -
https://www.elastic.co/products/shield

On 10 February 2016 at 23:29, Darin Kotter <notifications@github.com> wrote:

--
Terrence Gonsalves

[2016-02-18 02:47] mgibbs189 opened #451 "`post__in` and `fields` support?"
Hello,

Does EP currently support (or plan to support) the `post__in` and `fields` parameters?

E.g. `'fields' => 'ids'` to return an array of post IDs, and `'post_in' => array( 1, 2, 3 )` to only search through specific posts.

Thanks

[2016-02-18 04:32] tlovett1 commented on #451
`post__in` is supported. `fields => 'ids'` support is not possible until this [trac ticket](https://core.trac.wordpress.org/ticket/35476) goes through.

[2016-02-18 09:37] jonathan-dejong commented on #433
Any news on this? Just updated to latest ElasticSearch and Elasticpress.
It seems to work on the site but in the terminal it throws this error.

[2016-02-18 12:45] mgibbs189 commented on #451
@tlovett1 Thanks, just submitted PR https://github.com/10up/ElasticPress/pull/452 to add `post__in` to the documentation.

Keep up the good work!

[2016-02-21 14:14] mustafauysal opened #453 "bulk indexing extremely slow"
We upgraded to version 1.8 and realized that bulk indexing extremely slow. The reason of this, calling `wp_cache_flush()` in wp-cli.php

Is there anybody have same problem? (We are using memcached for object caching)

Thanks.

[2016-02-22 12:37] mustafauysal commented on #453
Thanks @cmmarslender for https://github.com/10up/ElasticPress/commit/8f5058f8973801c9029a13e01721ed86a680b988#diff-c537e2c20a88117b8e57e904f6e80417  (I didn't realize before)
Hope new version coming soon!

[2016-02-23 15:36] chauhankrishan opened #454 "Ability to search using exact phrase/keyword"
Hi Team,

I have configured elasticpress and elasticsearch on my local machine. My requirement is that i would like to search multiword terms as exacht phrase/keyword search, but elasticpress is not giving me back instead it return multiple results in response to search result.

would it be possible to search using elasticpress wordpress plugin and if yes, then how?

My multi word search terms wou

[2016-02-25 03:48] rveitch commented on #441
Subscribed, I have the same question.

[2016-02-25 15:04] paulhuisman commented on #428
Anyone?

[2016-02-25 16:45] tlovett1 commented on #428
You could filter here: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L79

[2016-02-27 04:48] johnpbloch commented on #369
@dkotter The work in the `feature/user-search` branch has been refreshed up to the latest state of the `develop` branch. It's a little light on tests and could use more testing. It has near-parity with the WP_User_Query object, but I'm sure there are areas where that could be improved.

[2016-02-29 16:19] rveitch commented on #441
I decided to tackle this one myself this weekend.  Pull request  #456 adds Shield login username:password basic authentication headers to requests if `ES_SHIELD` is defined in your wp-config.php file.

**Value Format:** `username:password` (colon separated)
**Example:** `define( 'ES_SHIELD', 'es_admin:password' );`

[2016-03-02 14:39] benbakelaar opened #457 "Not returning results from all sites"
Hello all, I am new to ElasticSearch, but not to Wordpress.

I followed all the directions here:
https://www.saotn.org/install-elasticsearch-on-centos-6-7/

I checked out everything here:
https://wordpress.org/plugins/elasticpress/installation/

I read the README.md file in full.

I ran the setup for network:
wp elasticpress index --setup --network-wide

I checked over these Google search results:

[2016-03-03 08:58] JoseTomasTocino commented on #197
What's the status on this? I'm planning on installing Elasticpress on a network of many WordPress sites (not a multisite but individual sites) and it would be great if wp-cli weren't needed.

[2016-03-03 09:00] JoseTomasTocino opened #458 "Configuring EP_Host from the dashboard"
It would be great it the URL for the elasticsearch server could be configured from within the dashboard instead of having to modify `wp-config.php`.

[2016-03-03 14:56] tlovett1 commented on #197
It's in the develop branch and pretty stable. Any testing you could do would be helpful.

[2016-03-03 22:25] #441 closed

[2016-03-03 22:25] dkotter commented on #441
The PR has been merged in, targeted for a 1.9 release.

[2016-03-03 22:27] dkotter commented on #458
This is now possible using the Admin GUI that is merged into the develop branch, and will be the main feature of the 1.9 release. I would recommend checking that out if you want to see how that works. Any feedback on that process is more than welcome. Thanks!
<img width="548" alt="screen shot 2016-03-03 at 3 26 15 pm" src="https://cloud.githubusercontent.com/assets/916738/13511860/638ae6f4-e154-11

[2016-03-03 22:27] #458 closed

[2016-03-03 22:28] #451 closed

[2016-03-03 22:29] dkotter commented on #444
Still have not been able to reproduce this, testing on both 1.8 and the develop version of ElasticPress (soon to be 1.9 version). So at this point I'll just wait for more information, and hopefully that will lead us closer to a solution.

[2016-03-03 22:48] dkotter commented on #433
Just made a PR to fix this issue. Once that's reviewed and merged in, should be good here.

[2016-03-03 23:08] tuanmh commented on #369
Would love to have this feature @johnpbloch. Would you be happy if I evaluate the branch and PR if needed?

[2016-03-04 07:53] JoseTomasTocino commented on #458
That's great! :D When is 1.9 expected to be released?

[2016-03-04 09:01] moelleer opened #460 "Filter for giving extra weight to post_title"
Hi!

I am trying to make an Elasticsearch integration where the post_title should have more weight than the other properties. Is there anywhere I can find an example of someone doing this?

I have found the filter `ep_formatted_args`, but not sure how to use it proper for this.

Any suggestions?

Thanks!
Johan

[2016-03-04 11:24] #460 closed

[2016-03-04 12:01] JoseTomasTocino commented on #197
Well I've just tried it and it works properly, using a blank wordpress site and a Docker container for the ElasticSearch. Looking forward to seeing it in the release branch!

[2016-03-07 00:08] Promaethius opened #461 "Multi-Site Domain Mapping Indexing"
I'm using the WPMUDEV domain mapping addon. Indexing works find for my multisite but the indices are as subdomains. When I initiate a search from the site as a subdomain, the search queries as normal. When initiated from the mapped domain, it cannot find the index and returns no results. Sometimes, unpopulated indexes pop up for my mapped domains. Any help would be appreciated!

[2016-03-07 15:14] #433 closed

[2016-03-09 15:56] tlovett1 opened #462 "Support post_parent"
Title says it all.

[2016-03-10 11:36] miguelalvagarcia opened #463 "Support tax_query operator "NOT IN" o "IN" exclude include tax on WP_query"
Hi, I need to make a WP_Query excluding or including taxonomies. Currently I do not see ElasticPress has support in the field of "operator" for tax_query. And the search have to do need to include or exclude taxonomies, how I can exclude taxonomies with ElasticPress with WP_Query?

Now:
<pre>
			$search_query['tax_query'] = array(
				'relation' => 'AND',
				array(
					'taxonomy' => 'product_cat

[2016-03-11 20:19] dkotter commented on #458
Soon! The plan was this week but since it's already Friday, probably early next week.

[2016-03-16 18:51] tlovett1 commented on #453
@mustafauysal was this never resolved?

[2016-03-16 19:15] mustafauysal commented on #453
Nope, It isn't resolved.  So we didn't update ElasticPress on production, still running 1.7.

[2016-03-16 21:02] cmmarslender commented on #453
Just to be certain.. @mustafauysal Have you tested 1.9 to see if there were any improvements? It was only released a day or two ago.

[2016-03-17 00:24] mustafauysal commented on #453
@cmmarslender  Today I checked on same machine, at the same time.

### Results
**ElasticPress 1.7**
[code]

**ElasticPress 1.9**
[code]

[2016-03-17 19:51] cmmarslender commented on #453
@mustafauysal Running some tests now - Are you using an object caching drop in (object-cache.php)? If so, can you link me to the particular one you are using?

[2016-03-18 07:22] mustafauysal commented on #453
Yes, I'm using memcached object cache (Version 2.0.2) – https://wordpress.org/plugins/memcached/

[2016-03-20 12:48] ColonelOwl opened #465 "How to use the autosuggest?"
I found in the index implementation autosuggest, but I do not understand how to use. Help me please

[2016-03-20 15:23] Promaethius commented on #461
ElasticPress creates indecies by either looking at the populated site table or by looking at the URL the site is working from. This is why I would have a index of both the subdomain and the mapped version. While I haven't looked at the code itself to find a solution, as of 1.9 and the inclusion of the GUI, activating the plugin on a per site basis and indexing each individually creates and populat

[2016-03-20 15:23] #461 closed

[2016-03-25 17:45] cosmin86200 opened #466 "Issue with moving the website on the server"
Hi,

So, I have a problem...
Locally, EP works fine with an external ElasticSearch server and has worked from the beginning.
I moved the site to the test server today, and.. it doesn't work at all. I tried to see what is happening, and in the plugin, on connecting to the server I am getting this:

    array(5) {["headers"]=> array(4) {
    ["cache-control"]=> string(8) "no-cache"
    ["connection"

[2016-03-28 15:18] mustafauysal commented on #463
Hi @miguelalvagarcia ,

I did similar thing before.  You can use  `ep_formatted_args` filter.

For example;
[code]

[2016-03-28 16:48] allan23 commented on #1
Hi Everyone,
Considering that this issue is pretty old, do we still see value in having a dashboard widget given that GUI indexing has been added in 1.9?

[2016-03-28 16:59] AaronHolbrook commented on #1
I think it would still be a nice value add to be able to show usage and searches.

So yea - I still give this a :+1:

[2016-03-28 18:09] allan23 commented on #124
Given we have the GUI indexing page, is this issue still valid?

[2016-03-28 18:27] AaronHolbrook commented on #124
Nope, that's exactly what was meant here.

I would love to see more information - maybe break out the other features into separate tickets?

[2016-03-28 18:29] allan23 commented on #124
Let's have separate issues to admin page enhancements. Closing this one.

[2016-03-28 18:29] #124 closed

[2016-03-28 18:30] AaronHolbrook commented on #124
Perfect, thanks @allan23

[2016-03-29 01:57] ChrisWiegman opened #467 "ElasticPress improperly indexes oembed content"
Rather than just indexing the URL, as is stored in the WordPress posts table for post content, the application of the "the_content" filter at https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L503 causes WordPress to index the oembed output, not just the URL. This has the result of breaking things like TinyMCE when it is used to retrieve backend content.

[2016-03-29 11:13] lukaspawlik opened #468 "Add handling for garbage collection of WP_Metadata_Lazyloader"
Memory consumption issue fixed in https://github.com/10up/ElasticPress/commit/622dade9e6bd7865a33bef55f346ed28c6af9918 has been fixed in [WordPress Core](https://core.trac.wordpress.org/changeset/36566) needs a bit different handling. Will create PR soon.

[2016-03-29 12:11] lukaspawlik commented on #468
As we use `update_post_term_cache => false` in `WP_Query` there is no need to patch `wp-cli` for this feature.

[2016-03-29 12:11] #468 closed

[2016-03-29 15:35] mojovski commented on #210
thank you very much!

[2016-03-29 18:38] cmmarslender commented on #453
Hi @mustafauysal

I've done a bit more looking into this, and came up with the following results:

Indexing in general is slower with object-cache.php file, unless all your posts are currently in cache. Likely, when you are indexing, most of your posts aren't in the object-cache, so things slow down a bit (at this point, I'm assuming WordPress is adding items that were missing from cache as it goe

[2016-03-29 22:10] BenChirlin opened #471 "Benchmarking"
Hello. Loving the plugin but I was wondering if there was an easy way to get some benchmarking out. Specifically I'm interested in how much this plugin helps improve complex `WP_Query` performance, such as those with multiple taxonomy and/or meta arguments within them.

I've been trying to get some rough benchmarks just using debug bar console with `microtime`, a `WP_Query`, and `ep_integrate = tr

[2016-03-29 22:46] AaronHolbrook commented on #471
Hey @BenChirlin that's great, glad you're loving the plugin!

I think without load on a server, and depending on what version of PHP you're using (7 is very quick), you may not see much difference.

However, the place this really starts to shine is on massive installs that have a lot of traffic where sending numerous uncached db queries would be a big hit on the db server. Instead they get sent to

[2016-03-29 22:47] BenChirlin commented on #471
Thanks. I'll take a look.

[2016-03-30 17:58] allan23 commented on #454
Possibly related: #358

[2016-03-30 18:58] #427 closed

[2016-03-30 19:40] AaronHolbrook commented on #467
Think this is somewhat related to #293

[2016-03-30 19:53] ChrisWiegman opened #472 "Bring parity between CLI and GUI indexing"
An artifact of the method used to initiate indexing from the GUI is that each runs their own code for processing. This ticket is to refactor both so that there is a single method for processing all data.

[2016-03-30 20:09] AaronHolbrook commented on #472
:+1:

[2016-04-01 13:16] mustafauysal commented on #453
@cmmarslender Thanks for detailed info.

We fixed this problem by removing the following parameters.
[code]

If these $args effect another ElasticPress users  we might think to remove it, otherwise I can use filter.

Thanks.

[2016-04-04 21:21] severfire opened #473 "problem with memory"
`PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 72 bytes) in /home/username/public_html/wp-content/plugins/elasticpress/classes/class-ep-api.php on line 167`

seems like my db is too big to handle... or should it be optimized other way?

[2016-04-04 23:55] cmmarslender commented on #453
Here is what the impact is, from a "time to index" point of view on 8,424 posts:

|                         | 1          | 2          | 3          | 4           | 5         | 6         | Average   |
|-------------------- |-----------|-----------|-----------|-----------|----------|-----------|--------------|
| No Caching     | 65.736 | 63.182 | 67.756 | 67.75   | 71.885 | 63.785 | **66.68** |
| All

[2016-04-05 12:27] petermartin opened #474 "Searching/handling WPML translations"
How does ElasticPress handle translated content? I'm digging through my indexes now, seems like it's not being indexed?

[2016-04-05 15:28] lukaspawlik commented on #453
@cmmarslender yes - this was specifically added to address memory issues however the final solution was added here https://github.com/10up/ElasticPress/commit/622dade9e6bd7865a33bef55f346ed28c6af9918

If we remove

[code]

we may see memory consumption issue back again however it shouldn't be as that significant as it was in the past (as https://github.com/10up/ElasticPress/commit/622dade9e6bd7865

[2016-04-05 15:32] cmmarslender commented on #453
@tlovett1 @allan23 Thoughts on your preferred way to proceed here?

[2016-04-07 22:01] trewknowledge commented on #228
Hello,

I am also interested in this functionality. Has this been integrated into ElasticPress? Or is this something I would need to do outside of this plugin?

[2016-04-08 14:16] tegonsalves opened #477 "Indexing Isuess with WPML"
I have upgraded to EP 1.9 and have WPML active and I noticed that when I index the site through the admin that it will only index the content of the language that I am currently on. So in my case English content if I'm on the English side and French content if I'm on the French side. When doing this through the command line it will only index English content.

[2016-04-09 13:23] ChrisWiegman commented on #293
After review I do think this is the same issue I was experiencing in #467 and results from the fact that the_content is applied before index rather than just after (it is applied again after content retrieval before the content is displayed).

This leaves us a few choices.

1.) Remove the_content filter. The simplest and will bring data store in ES to parity with data stored in MySQL but will of c

[2016-04-12 03:33] tlovett1 opened #478 "Query log only possible with WP_DEBUG"
I think in 1.9 we only add to the query log when `WP_DEBUG` is on. This makes it extremely difficult to debug production sites. I realize it's a performance fix, but we need a way around this ASAP.

[2016-04-12 17:36] petermartin commented on #477
Good catch. I'm seeing this too - I thought the alternate languages weren't being indexed at all, but you're correct that it will index whatever the active language is.

[2016-04-12 18:32] lukaspawlik commented on #478
@tlovett1 I propose adding additional option in GUI "enable debug mode" which would define if we should log queries (only for logged users) even with `WP_DEBUG` disabled. I estimate this for ~2 hrs.

[2016-04-13 05:45] tlovett1 opened #482 "Post meta updates not being indexed"
Right now, when post meta is updated using `update_post_meta`, the updated meta is not sent to Elasticsearch. This is unexpected behavior.

I'll have a patch for this soon but wanted it to be on everyone's radar.

[2016-04-14 02:09] allan23 opened #484 "Delete site list transient on new site creation (multisite)"
When a new site is created in a multisite install, it doesn't appear in the settings page dropdown until the 'ep_site_list_for_stats' transient expires.

It would be ideal for this transient to get deleted when a new site is created instead of having to wait ten minutes for the transient to expire.

[2016-04-14 04:15] #482 closed

[2016-04-14 04:36] tlovett1 commented on #478
I'd rather just have a filter rather than an option that 95% of users won't use.

[2016-04-14 04:38] #478 closed

[2016-04-14 19:04] gonbasaldua opened #486 "AWS Elasticsearch"
Hi, we are going to use AWS Elasticsearch Service (https://aws.amazon.com/es/elasticsearch-service/).

- Will this plugin work for us?
- Is it prepared to work with AWS Authentication?

Thanks!

[2016-04-14 19:36] lkbr commented on #486
I use it and haven't ran into any issues yet. For authentication, we didn't change anything on the WordPress end and just whitelist our server IP using the basic "Allow access to the domain from specific IP(s)" template.

The only thing I'm worried about is that they use Elasticsearch 1.5.2. I'm wondering when thats going to bite me.

[2016-04-15 07:30] jonathan-dejong opened #488 "Question: Windows server.. will it work?"
Hi!

We have a client with a Windows server (not our idea stop yelling at me!).
While I know elasticsearch will work on it.. will elasticpress?

Just want to make sure before pitching the switch to elasticsearch/press :)
They have ALOT of content and complex queries so this setup is pretty perfect for them..

Thanks!

[2016-04-15 08:53] mustafauysal commented on #488
Hi,

ElasticPress interacting with Elasticsearch by [HTTP API](https://codex.wordpress.org/HTTP_API). So It wouldn't be a problem.

[2016-04-15 09:30] jonathan-dejong commented on #488
Hi Mustafa,

Thanks! That's what I figured but not being a server-kinda-guy I felt compelled to make sure.

[2016-04-15 09:30] #488 closed

[2016-04-15 13:46] tegonsalves opened #489 "Tax Query support"
Is it possible for me to implement the OR relation? Will you be adding support for this anytime soon?

[2016-04-15 16:39] allan23 opened #490 "Test Issue"
Please disregard. Testing of notification services.

[2016-04-15 16:39] #490 closed

[2016-04-16 06:04] jakejackson1 opened #491 "Add support for WP REST API"
It would be great if ElasticPress support could be also applied to doing searches via the WP REST API.

[2016-04-18 16:59] miguelalvagarcia commented on #463
hi @mustafauysal

thank you very much works perfectly!

[2016-04-18 16:59] #463 closed

[2016-04-20 21:50] #439 closed

[2016-04-20 21:52] allan23 commented on #369
@tuanmh Are you still interested in reviewing this branch for a PR?

[2016-04-21 09:37] paulhuisman commented on #477
Is there a fix for this? Or do i have to downgrade?

[2016-04-21 11:52] miguelalvagarcia opened #492 "As exclude products that match the search"
I need to exclude products that match the search term made, provided that those terms the ones in the product in a custom_filed called product_exclude_search

The product_exclude_search field will contain texts by those who do not want to leave that product.

There would be some way to do this within the query with a filter?

[2016-04-21 13:50] tlovett1 commented on #477
@allan23 can you look into this?

[2016-04-21 13:51] tlovett1 commented on #491
Hmmm, the WP REST API uses WP_Query so if you are searching via the REST API, ElasticPress should integrate.

[2016-04-21 13:52] tlovett1 commented on #486
I don't see why that wouldn't work. Although ES 1.5.2 is a bit scary.

[2016-04-21 13:52] #486 closed

[2016-04-21 13:52] tlovett1 commented on #474
Depends how the plugin saves that data. Can you remind me where/how WPML saves translated content?

[2016-04-21 13:52] #471 closed

[2016-04-21 13:53] tlovett1 commented on #489
We don't have that on the immediate roadmap. Would love to see a PR!

[2016-04-21 13:54] tlovett1 commented on #473
Which version of EP are you using?

[2016-04-21 13:58] tlovett1 commented on #453
I'm fine with adding a command line parameter to disable caching.

[2016-04-22 02:35] tuanmh commented on #369
@allan23 yes, sure, I'll have a look this weekend.

[2016-04-22 02:39] tuanmh commented on #453
Also would be great if we had these options on admin UI as well.

[2016-04-22 02:53] tuanmh commented on #454
We will need to add another query type: `phrase` with possiblly higher `boost` than 2 two current queries. This will make sure exact match posts will always sit above other posts.

Current:

[code]

Suggestion:
[code]

[2016-04-22 03:22] jakejackson1 commented on #491
That's what I thought too, but when I search my custom post type via the REST API and compare the results to the native WP search while using the `post_type` GET attribute (so it also only searches the custom post type) there's a vast difference in the results. I disabled all unnessisary plugins and double checked there was no plugin conflict but the problem persisted.

[2016-04-24 15:21] dnaber-de opened #495 "Version 1.9 tells me, it is '1.8'"
The tag 1.9 has the version number `1.8` in it's plugin header which leads to confusion when using this plugin via composer:
https://github.com/10up/ElasticPress/blob/1.9/elasticpress.php#L6
Also the constant `EP_VERSION` is defined to `1.8`.

Also, semantic version numbers would be nice. E.g. `1.9.0` instead of `1.9`.

[2016-04-25 06:39] mustafauysal commented on #491
Hi @jakejackson1 ,

Did you check custom posts exist in your index? (if not `ep_indexable_post_types` filter can help)
Can you share example query string?

We are using ElasticPress with WP REST API for a long while and we don't have that problem.

[2016-04-26 07:12] jakejackson1 commented on #491
I just ensured that particular custom post type is included in the index.

I also used xdebug to sniff out what's different in the query variable array between the standard and REST API searches.

Here's the dump of the standard search:

[code]

And here's the same dump when doing the REST API search:

[code]

The two interesting differences that stood out where the `paged` and `orderby` keys. I f

[2016-04-26 19:31] GhostToast opened #497 "`switch_to_blog()` leaving me on wrong blog"
During an all-site search, I am encountering a bug where `switch_to_blog()` is being ran but restoration to the original site isn't occurring. This results in starting on blog_id 1 and having `paginate_links()` yield links for blog_id 3 for example.

On `search.php` I am using the standard WP loop. In order to fix this for now, I am capturing the `get_current_blog_id()` at the top of the page and

[2016-04-26 19:51] GhostToast commented on #497
Never mind. This was a blend of WordPress' global `$blog_id` colliding with a local variable I was using... 😬

[2016-04-26 19:51] #497 closed

[2016-04-27 03:59] tlovett1 commented on #495
@allan23 you see this one?

[2016-04-27 04:00] tlovett1 opened #499 "README.md updates"
The `Background` and `Purpose` sections of README.md are outdated, poorly written, and contain broken sentences. Anyone want to take a crack at rewriting them?

[2016-04-27 08:40] mustafauysal commented on #491
When you unset orderby keys, ElasticPress sorts by relevance in descending order.

I don't think there is a bug, sorting could be different for REST API. You can use `ep_formatted_args` to formatting orders.

[2016-04-27 19:37] petermartin commented on #474
All of the posts are in the posts table, but there is a separate "icl_translations" table where they're all matched up to languages and linked to the original. Seems like the issue is probably a conflict with the way that WPML modifies WP_Query?

[2016-04-27 22:19] jakejackson1 commented on #491
Thanks for the feedback.

The whole idea of the REST API is to replicate WordPress' native features in API format. So if the native search doesn't set an `orderby` by default you would think the REST API shouldn't do so by default either.

In any case, I'll check out `ep_formatted_args` and see if I can't make both results consistent.

[2016-04-28 03:22] jakejackson1 commented on #491
I ended up using a filter to modifying the REST API arguments and unsetting the `orderby` parameter for searches.

For anyone else interested, the code I used was:

[code]

`v4_docs` in the filter name refers to the post type you want to modify.

[2016-04-28 03:22] #491 closed

[2016-04-29 09:28] ShariqKhan2012 opened #500 "Elasticpress uses "OR" operator to do searches. No options to use "AND" operator"
When I search for say "Leather shoes", it shows up results containing any of these words.
So all these results come up:
1. leather shoes
2. leather jackets
3. sports shoes

Whereas, I would expect search results to show up only "leather shoes"

I used ElasticPress Debugbar and found out the operator being used is "OR". Hence the above results
Is there a way I can restrict ElasticPress to use "AND"

[2016-05-03 15:01] lukaspawlik opened #503 "Unable to delete post from ES index"
This was fixed in https://github.com/10up/ElasticPress/pull/415/files however it seems to be an issue again here https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L242

[2016-05-04 20:01] #503 closed

[2016-05-05 18:04] jmusal opened #505 "Option to Use WordPress Search?"
I have a strange use case that I don't see supported in the docs or quick look at the codebase, but I want to make sure.

I'd like to continue to use the WP search feature by default, but offer a second search that leverages EP/ES (for reasons that I won't get into).  Basically, I'm interested in some way to say "use EP" or "use traditional" that I could build some logic around if needed - does an

[2016-05-05 19:26] mphillips commented on #505
To bypass ES for some queries, try returning true for the 'ep_skip_query_integration' filter.

[2016-05-05 19:28] jmusal commented on #505
Thank you!  That looks perfect for what I'm trying to do, and I'm sorry that I missed it before asking the question.

[2016-05-05 20:23] mphillips commented on #505
No worries. :)

[2016-05-05 20:23] #505 closed

[2016-05-10 03:29] tlovett1 opened #507 "Admin GUI Usability Issues"
This is an ongoing list of admin GUI usability issues:

1. If no index has occurred, the following message is shown: `ElasticPress is not enabled and cannot override WP queries. You can activate it on the form to the left.`. I spent hours trying to understand that message just to find out I needed to index. This is not an acceptable experience.
1. Showing index status within the publish meta box i

[2016-05-11 08:34] finalwebsites commented on #473
I get the same error if I use more than one word for the search. I'm using the latest version of EP (1.9) + the woocommerce extension (1.1.4)

[2016-05-17 16:21] dnaber-de commented on #495
For what I see, you just needed to bump the version to 1.9.1 from the current master (5e8852e) and tag it with 1.9.1.

[2016-05-17 17:24] nkallman opened #510 "Initial index failing"
The initial index `wp elasticpress index --setup` fails with the error 'Index delete failed'.

[2016-05-17 17:36] tlovett1 commented on #495
This is fixed

[2016-05-17 17:36] #495 closed

[2016-05-18 10:02] dnaber-de commented on #495
Thanks.

[2016-05-20 15:48] ivanlopez commented on #507
I was unable to reproduce your issue #3 exactly. After inputting a usable host and indexing the use Elasticsearch checkbox was there but not checked. If I hit save changes at that time ElasticPress was disabled. So my solution to that problem was auto select the use Elasticsearch checkbox once indexing is complete. I'll be submitting a pull request shortly with the rest of the updates.

[2016-05-20 18:19] tlovett1 commented on #507
I just reproduced #3 again locally (multisite only).

First I added a host to the text field and saved. Then I clicked the index button resulting in this screenshot:
![one](https://cloud.githubusercontent.com/assets/1844351/15437557/c70d6516-1e95-11e6-9563-a52f6062806e.png)

Then I clicked save button again resulting in this:
![two](https://cloud.githubusercontent.com/assets/1844351/15437556/c70cb

[2016-05-20 18:21] tlovett1 commented on #507
Adding a #4 to the list above:

4. The "do not deactivate" checkbox confuses people. They think they are supposed to check it and click save. This experience needs rethinking.

[2016-05-20 18:39] ivanlopez commented on #507
What version of WordPress are you using?

[2016-05-20 18:48] tlovett1 commented on #507
4.5.2

[2016-05-20 19:17] ivanlopez commented on #507
I'm still not able to reproduce  but it looks like ep_check_host might be returning an error on your environment. How many sites do you have on your multisite and what plugins do you have enabled?

[2016-05-25 17:38] tlovett1 commented on #507
Going to close this.

[2016-05-25 17:38] #507 closed

[2016-05-25 17:39] tlovett1 commented on #473
Might need to up the memory for the server.

[2016-05-25 17:40] #399 closed

[2016-05-25 17:40] tlovett1 commented on #369
Update?

[2016-05-25 17:49] tlovett1 commented on #492
You can always filter `ep_formatted_args`

[2016-05-25 17:49] #492 closed

[2016-05-25 17:50] tlovett1 commented on #466
Sorry, not sure what the problem is.

[2016-05-25 17:50] #466 closed

[2016-05-25 17:51] tlovett1 commented on #457
By default it won't return content from all sites. You need to pass `'sites' => 'all'` to the WP_Query object

[2016-05-25 17:51] #457 closed

[2016-05-25 17:52] tlovett1 commented on #444
I would try updating WP CLI.

[2016-05-25 17:52] #444 closed

[2016-05-25 17:53] tlovett1 commented on #369
Pushing this from 2.0.

[2016-05-26 13:39] #462 closed

[2016-05-28 10:10] devlesedi opened #515 "Indexing thumbnail url"
I just want to include the featured image url on the indexed posts. Can someone point me into the right direction?

[2016-06-04 11:51] kingkool68 commented on #515
ElasticPress integrates tightly with WP_Query so you should have no problem getting the featured image from a search result like a normal search query. You can use the loop and template tags like `the_post_thumbnail` or functions like [`get_post_thumbnail_id()`](https://codex.wordpress.org/Function_Reference/get_post_thumbnail_id) for any post inside or outside of the loop.

[2016-06-15 22:38] rveitch commented on #515
@devlesedi It may depend on your use case, but if you just simply want the featured image URL in the post meta so that it is included on index posts, [I have a plugin written for that](https://github.com/rveitch/elasticpress-featured-image-url).  It will automatically add the featured image url to WordPress post meta for easy indexing with Elasticpress when posts are updated or published, have WP-

[2016-06-15 23:44] devlesedi commented on #515
Thanks for the feedback. @rveitch, that's what I needed. Great work.

[2016-06-15 23:44] #515 closed

[2016-06-16 05:07] tlovett1 commented on #515
@rveitch cool solution.

I see you have `post_views_count` there. Are you using EP to track that?

[2016-06-16 15:18] rveitch commented on #515
@tlovett1 Thanks!  We aren't actively using it yet, but it's something I included to build up some historical data to potentially leverage in the future, and I wanted to experiment with using it for some rankings and aggregations.  Use case is a cross-site publishing and distribution system for a 300+ site contributor network.

[2016-06-17 00:03] denised opened #520 "Wiki Request --- intro to searching over custom post types"
The wiki page https://github.com/10up/ElasticPress/wiki/Use-Cases doesn't mention "searching over custom post types" as an envisioned use case --- though looking at the code and issues list, it pretty clearly is.

Assuming that is the case, it would really be nice if there were a 1 paragraph intro on the wiki indicating how to get started doing this.

I'll even volunteer to write (some) of it, if

[2016-06-21 21:01] rcespa commented on #473
I am facing the same problem while building the index from the GUI. I raised the memory_limit up to 4096M and then I tried the command line option with no success:

`[root@vmiXXXXX interline]# wp --allow-root elasticpress index
Warning: ElasticPress is already deactivated.
Indexing posts...
Segmentation fault (core dumped)`

Running Nginx 1.10, php-fpm 5.6, latest git versions for both EP and EP W

[2016-06-23 23:39] blindpet opened #521 "Endless loop crash if wrong host is input"
I am testing this for somebody running Apache. I put just localhost (not the correct http://ip:port format) as the host and it saved, then it started making a lot of php calls and crashed Mysql and elasticsearch.

The only thing that stopped the crash was deleting the plugin, however on reinstallation the looping crash continued and I had to restart.

Could you add a failsafe so if the host doesn'

[2016-06-24 00:45] blindpet opened #522 "Not compatible with memcached object cache"
After starting from scratch I enabled the plugin and got it working with elasticsearch. When I installed memcached is your friend plugin for object cache the host for elasticpress got reset to 127.0.0.1 without the port. I had to disable object cache to be able to reset it to 127.0.0.1:9200.

[2016-06-27 12:01] sternt opened #524 "Not work with elasticsearch 2.2.3 when meta_query"
SearchParseException[No mapping found for [ASC] in order to sort on];

[2016-06-27 17:32] tlovett1 commented on #524
Just tested in 2.3.3. Not able to reproduce.

Can you install the Debug Bar ElasticPress plugin and show us the JSON that's being sent to ES?

Thanks!

[2016-06-28 13:01] rcespa commented on #473
I don't know if my segfault problem is related to memory, but I confirm I have the problem with PHP 5.6 & 5.5.
Everything is ok with CentOS 6.8 stock PHP packages.

[2016-07-01 09:12] r66r opened #525 "WP_Query search ordered by meta_key returns no results"
Hello

A WP_Query search ordered by meta_key returns no results with ElasticPress enabled. The same arguments without ElasticPress enabled works fine. Here are the arguments passed to WP_Query:

    Array (
        [s] => mémoire
        [post_type] => Array (
            [0] => archive
            [1] => serie
            [2] => book
            [3] => periodical
            [4] => documentary

[2016-07-01 09:26] r66r opened #526 "WP_Query search with meta_query args returns no results"
Hello

A WP_Query search filtered by meta_query returns no results with ElasticPress enabled. The same arguments without ElasticPress enabled works fine. Here are the arguments passed to WP_Query:

    Array (
        [s] => mémoire
        [post_type] => Array (
            [0] => archive
            [1] => serie
            [2] => book
            [3] => periodical
            [4] => documentary

[2016-07-01 10:06] r66r commented on #526
OK, I think I solved this issue: with the filter `ep_prepare_meta_allowed_protected_keys` and after reindexation, my search works.

[2016-07-01 10:06] #526 closed

[2016-07-02 19:41] buley opened #527 "413 errors when indexing via wp-cli"
I was consistently running into `Error: Request Entity Too Large` when trying to index my site. The workaround to get things started was to use `--nobulk`.

I'm thinking there must be a hard limit on object size and my particular bundle of posts was violating that (too much post meta?). Checking that size in PHP before sending may prevent users from postmeta-spamming themselves out of being able t

[2016-07-03 09:38] ShariqKhan2012 opened #528 "How can I limit ElasticPress to use 1/2 shards for my multisite network?"
I have a **MULTISITE** network and I use ElasticPress on it. The network has about 227 sites in it. EP works good except that it uses 1135 (227x5) shards, which results in me running out of my quota on my manged hosting.
I am totally a noob when it comes to ElasticSearch and that is why I opted for managed ES hosting.
I know I can use '_ep_default_index_number_of_shards_' filter to change the numb

[2016-07-03 23:28] tlovett1 commented on #528
I don't think it's possible to use 1/2 shards. Seems like you need a bigger cluster.

[2016-07-03 23:28] #528 closed

[2016-07-03 23:28] tlovett1 commented on #527
Are you using nginx or Apache? You just need to up the POST body size allowed.

[2016-07-03 23:28] #524 closed

[2016-07-03 23:29] tlovett1 commented on #521
Please see if you can reproduce in the develop version of the plugin.

[2016-07-04 02:58] ShariqKhan2012 commented on #528
Thanks for commenting onto the issue. I do have a question though. When you said

Would the reason for this be the number of sites in my network? Or is it becuase of the way ElasticPress works.
I really love this plugin and it would be a shame if I wont be able to use it on my site.  It is working beautifully on my test environment (about 350 sites, and a total of 20 custom post types per site) an

[2016-07-04 11:50] ShariqKhan2012 commented on #528
Thank you so much for reply on this thread. I am a bit confused though:

and then,

So, what does EP finally adhere to : ES server default settings? Or its own default settings (4 shards per index and 1 replica per shard)
And if the ES sever settings are 1 shard and 1 replica, would EP respect that?

Is there a setting in ES to change this? If yes, then I would ask my ES provider to configure it.

[2016-07-04 12:13] dansmart commented on #293
I've recently encountered this. I'd love to be given the option as a developer - so either (2) which allows me to choose whether I want the filtered or unfiltered version of post_content to be stored, or (3) which gives me the choice after indexing.

[2016-07-04 12:58] r66r commented on #525
OK, I think I solved this issue: I changed all my meta into public ones (without "_" in prefix) and change the "orderby" arguments with "meta.year_from.raw" instead of "meta_value_num". After full reindexation, the sorting works fine.

[2016-07-04 12:58] #525 closed

[2016-07-05 08:19] buley commented on #527
@tlovett1 This is indexing, which is `wp-cli` (PHP on the command line). What's the server interaction here? My assumption was that this was making requests against Amazon. `wp-cli.phar` uses my wp-config to make requests against the database but has no knowledge about my webserver, from what I understand.

[2016-07-05 14:28] tlovett1 commented on #522
Which version are you using?

[2016-07-05 14:34] blindpet commented on #521
Sorry Taylor, the VPS I was testing this on is no more. It may have been related to the other issue I posted. Starting from scratch worked fine. It may have been related to the caching of the value if it is set as a transient which I asked over in the other issue.

[2016-07-05 14:35] tlovett1 commented on #521
Yes it is unfortunately. I'd suggest giving 2.1 in the develop branch a try.

[2016-07-05 14:41] tlovett1 commented on #500
It weights AND matches (phrase match) above OR. You can always filter in and change the matching algorithm.

[2016-07-05 14:41] #500 closed

[2016-07-05 14:41] tlovett1 commented on #510
Permission issue? Does the GUI work? What version are you using?

[2016-07-05 14:41] tlovett1 commented on #477
Not compatible with WPML (yet).

[2016-07-05 14:41] #477 closed

[2016-07-05 14:42] tlovett1 commented on #522
Yes it is unfortunately. I'd suggest giving 2.1 in the develop branch a try.

[2016-07-05 14:43] tlovett1 commented on #520
Writing that would be very helpful!

[2016-07-05 14:44] #474 closed

[2016-07-05 14:46] tlovett1 commented on #453
Would love to see this tested in 2.1 in the develop branch.

[2016-07-05 14:46] tlovett1 commented on #454
The match phrase query is now used by default.

[2016-07-05 14:46] #454 closed

[2016-07-05 14:48] tlovett1 commented on #449
It should work almost the same. Please test again with 2.1 in the develop branch. Feel free to re open.

[2016-07-05 14:48] #449 closed

[2016-07-05 15:24] blindpet commented on #521
OK, did you change the parsing so invalid urls don't get set? Some sort of failsafe would be great.

[2016-07-06 14:58] rcespa commented on #473
I'm testing the 2.1 and this is what happens:

 1. if I try to run the index from the Web UI, I only get a non specific
    "An error occured while syncing"
 2. I can run the index command via wp-cli (with ElasticPress
    WooCommerce disabled)
 3. I can run the index command via wp-cli (with ElasticPress
    WooCommerce enabled)

As far as I can understand, ElasticPress WooCommerce is no longer
n

[2016-07-07 15:05] tlovett1 commented on #473
@rcespa can you tell me what sort of error message happens in the AJAX request for 1?

[2016-07-12 14:48] tlovett1 commented on #527
Can you give 2.1 a try (in develop branch)?

[2016-07-13 08:21] rveitch commented on #522
@blindpet I believe the issue with The Memcached is Your Friend plugin is its use of private scope on the cache groups it sets, which prevents from Elasticpress (and even some core WordPress functions) from clearing the cache group.

When the ElasticPress stop_the_insanity() tries to clear some of these (specifically specifically 'group_ops' and 'stats') it is unable to due to the private scope.

[2016-07-13 08:48] blindpet commented on #522
Thanks @rveitch for looking into this, do you suggest making the group ops and stats public instead of private?

[2016-07-13 15:44] sc0ttkclark opened #529 "post_status from WP_Query not respected"
There's a filterable list of indexable post statuses for EP, however even if you enable them the post_status of WP_Query is not respected.

By adding a clause below the post_type filtering in class-ep-api.php we can solve that problem.

[2016-07-13 20:38] #510 closed

[2016-07-13 21:06] #529 closed

[2016-07-14 05:13] jaisgit opened #531 "Passing sites={site_id} in query string fails to select correct index in multisite setup"
When specifying site ids in the query string the code in class-el-api.php:137
`} elseif ( is_int( $scope ) ) {`
is not resolving to true as the argument is a string.

Eg... http://address/to/wp_site_1/?s=search_term&sites=2
Returns results from only the current site_id e.g. 1.

Changing the code to:
`} elseif ( is_numeric( $scope ) ) {`
fixes this behaviour.

I'm not sure if it breaks any other fu

[2016-07-14 10:14] natostanco commented on #344
getting mapping failed too on latest elasticpress (2.0 ) and elasticsearch (2.3.4)

[2016-07-14 13:14] tlovett1 commented on #344
Can you manually POST the JSON to Elasticsearch and tell us what the error message is?

[2016-07-14 13:15] tlovett1 commented on #531
Can you create a PR?

[2016-07-14 15:10] natostanco commented on #344
I tried the plugin from git and it indexed everything fine so maybe you fixed it along the way

[2016-07-14 20:22] cmmarslender commented on #453
Tested with and without `cache_results` and  results were very similar to above, with indexing being significantly faster with this removed. Tested memory usage with and without, and overall, we use about 2MB more memory with it removed, but memory usage doesn't grow with each iteration, so overall, my recommendation is to remove this - Pushed f0ef475 that should help significantly with the slowne

[2016-07-14 20:53] rveitch commented on #522
Hi @blindpet, no problem.  Here are the compatibility fixes I made to Memcached is Your Friend on the production server where I encountered the issue myself.  They resolved all the related issues for me, but for good measure I would recommend testing before implementing on a production server.  Aside from changes from private to public, I also added `$memcache_debug` to ensure the group is already

[2016-07-15 03:26] #453 closed

[2016-07-17 22:17] jaisgit commented on #531
Sorry, I'm unfamiliar with that process at the moment.

[2016-07-18 01:43] jaisgit commented on #531
I have added PR #533

[2016-07-20 12:59] mikelking commented on #461
Unfortunately, it does not work with a origin-push configured CDN.

[2016-07-22 14:33] Namke opened #535 "Messup with search and woocommerce"
Hi there,

I installed latest develop branch today and seem it is totally messup with search function, page always return first page but other than that no page was listed.
Product in WooCommerce return in some sort of random way, sometime nothing, especially on front store, almost return nothing all the time except when it request to show all products.

Is there are anything required beside insta