[2020-04-08 12:06] puntope opened #1730 "Query metas in ep_post_sync_args"
First, thanks all you guys for the work in this community project, is great.
**Describe your question**

I did a hook in `ep_post_sync_args` with a setup in order to have some extra meta.

It's like `$args['meta']['is_sale_product'] = true;` or `$args['meta']['is_sale_product'] = false;` depending on some chekings... basically if the product has sale_price.

Then in the query I want to filter with

[2020-04-12 05:02] dnikola commented on #1711
Hello,

any replay regarding this questions?

[2020-04-12 10:35] peeyooshk commented on #1692
There was a new update from the plugin author of Perfect WooCommerce Brands. Can you please help if the issue is resolved or by when the fix would be released?

[2020-04-12 11:47] appasahebs commented on #1723
Yes protected content is activated.

[2020-04-12 17:40] oscarssanchez commented on #1730
Hi @puntope,

From what I read I can suggest the following:

* First check if your meta is indeed indexed by looking at your post mappings: http://yourelasticendpoint/_mappings
* Is there a reason to not use a `WP_Query` object to perform this search? For example:

[code]

[2020-04-12 23:30] oscarssanchez commented on #1681
Hi @jeffceriello ,

As I'm not very familiar with the plugin codebase, my help here is limited. I skimmed through the plugin codebase and it looks like this adds some new parameters to WP_Query which elasticpress does not know how to handle. On the other hand, I don't know how the re-arrangement of posts works here so if you could tell us more or less how that's being done perhaps we could offer b

[2020-04-12 23:58] oscarssanchez commented on #1711
Hi @dnikola , @arhimed-me-account ,

Can you please share more information about this? Are these custom post types hierarchical ? what features do you have activated? what is your current ElasticSearch and ElasticPress version ? I was able to search for orders and products just fine so any information you can give to reproduce this issue will help us a lot in order to troubleshoot.

Regarding your

[2020-04-13 01:39] oscarssanchez commented on #1685
Hi @luciocm ,

What comes to mind to make this happen is to use the `ep_facet_search_widget` filter and mimic the `widget` method,  and if the term count is 0 for each of the terms https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Facets/Widget.php#L101 return an empty string.

Hope this helps

[2020-04-13 03:15] todiadiyatmo opened #1734 "Bahasa Indonesia Bug (Stemmer Error)"
**Describe the bug**

I have error on elasticpress server log showing that the Indonesian class stemmer not found

**Steps to Reproduce**
1. Go to setting -> set `Elasticsearch Language` to `Bahasa Indonesia`
2. Sync via wp-cli
3. Check log on `/var/log/elasticsearch/{index-name}.log`

[code]

**Expected behavior**
Should be able to index with indonesian stemmer, it is supported on the elasticsear

[2020-04-13 10:51] dnikola commented on #1711
Hi @oscarssanchez

thanks for your kind replay!

Ok let we split this in two questions problems
-----------------
1)  Custom post's problem

I am using elasticpress addon plugin for debug bar to debug query (hope that this is the beast way I  am using, if not please tell me for another tool)
Here is a SS to see when i open post's page
http://prntscr.com/ryc1v0
and custom posts page in wp-admin
htt

[2020-04-13 12:16] felipeelia commented on #1734
Probably related to #1721

[2020-04-14 07:36] spape84 opened #1735 "Indexing fails for some products (WooCommerce)"
**Describe the bug**
The bug occurs when trying to index our website using Elastic Press. We are running a WooCommerce store with 4500 products with 5 variations for each product. When indexing some posts/pages/products (700 of them) are not indexed.

The following messages+many more appear on the CLI, when running the command from CLI:
`[illegal_argument_exception] Limit of total fields [5000] in

[2020-04-14 12:29] renakdup opened #1736 "Not correct generating elastic queries for taxonomies"
**Describe the bug**
For Custom Taxonomies elasticpress is generating not correct query.

**Steps to Reproduce**
If we want use Custom Taxonomy for our query, we fill $args for wp_query and we get next generated query for elastic:
[code]
And elastic by this query not found some posts, because code formatting terms  `terrms.cutom_tax_name.id` has error. We need use `term_id` instead `id`, because i

[2020-04-14 13:00] puntope commented on #1730
Hello @oscarssanchez thanks for your answer,

First check if your meta is indeed indexed by looking at your post mappings: http://yourelasticendpoint/_mappings

The metas are there. It's also ok for me to use `_sale_price` default property.

Is there a reason not to use a WP_Query object to perform this search? For example:

Well...  is a legacy project I got recently, so, not sure, the old develo

[2020-04-14 13:33] renakdup commented on #1736
I made pull request with this fix, but I dont understand why linter show errors in other files which I not changed.

https://github.com/10up/ElasticPress/pull/1737

[2020-04-15 08:06] thachphamw2 commented on #1724
Thank you @moraleida , if you need more information, please let me know, I will provide more.

[2020-04-15 12:22] renakdup opened #1738 "Adding taxonomy by slug arg of query when I search by term id"
**Describe the bug**

**Steps to Reproduce**

1. You will need add in wp_query args search by taxonomy id as in next sample
[code]
2. You will get elastic press query
[code]
3. You will see that query

[code]
Pay attention to appeared `terms.category.slug`
[code]
which we have not added.

**Expected behavior**
I expect that the search will be only by term's ids

**Environment information**
 - Brow

[2020-04-15 13:51] renakdup commented on #1738
Also I have seen, that if I have used next args for query
[code]
Parser have Chosen the first tag id from 3 tags, although must have generated for 3 tags id. And I was seeing next query for elastic search
[code]

[2020-04-16 10:06] kevin25 opened #1739 "Error: Number of post index errors:"
**Describe your question**

Every index got the error like this:

<img width="346" alt="Screen Shot 2020-04-16 at 16 47 19" src="https://user-images.githubusercontent.com/2909982/79443749-7470de80-8004-11ea-82a1-e033e9baaa3e.png">

I tried to disabled all plugins except for WooCommerce plugin. I switched the theme back to the default but still no luck.

I got the warning:

**It looks like one or m

[2020-04-16 15:52] brandwaffle commented on #1739
@kevin25 can you add the `--show-bulk-errors` flag to your CLI command let us know what results you see?

[2020-04-16 15:57] kevin25 commented on #1739
Thank you. I got this error.

[illegal_argument_exception] Limit of total fields [5000] in index [Test-post-1] has been exceeded
- 49445 (Post):

[2020-04-16 16:22] kevin25 commented on #1739
It seems i'm not a lone https://github.com/10up/ElasticPress/issues/1735

[2020-04-16 19:19] adiloztaser opened #1740 "Duplicate non-blocking requests"
**Describe the bug**
When the user changes the max number of times to attempt failed remote requests with the filter `ep_max_remote_request_tries`,  ElasticPress tries to make non-blocking requests repeatedly because if the request is non-blocking, `wp_remote_request` returns an empty string as a result and empty string is not a valid response.

I think there are two options for solving this probl

[2020-04-18 08:01] olexandrrevizor commented on #1677
I used cli. I tried different batch size, but have the same effect

[2020-04-18 14:59] sebumd commented on #1650
I'm syncing ~60k posts on first sync - what's the best way to do this for the first time? There seems to be no way to continue syncing if it fails once, I have to start over..

[2020-04-20 02:13] oscarssanchez commented on #1739
Hi @kevin25 ,

My guess from past issues folks have raised is that you have too many post meta keys to map on Elasticsearch, see: https://github.com/10up/ElasticPress/issues/1263 or https://github.com/10up/ElasticPress/issues/1267

If you can confirm this, my suggestion would be to first clean up your database as much as you can from unused post meta If you keep getting the same issue, manually se

[2020-04-20 02:15] oscarssanchez commented on #1735
Hi @spape84  ,

In the past  folks have raised  similar issues related to this, my guess is that you have too many post meta keys to map on Elasticsearch, see: #1263 or #1267

If you confirm the same, my suggestion would be to first clean up your post meta table as much as you can from unused data. If you keep getting the same issue, manually selecting which post meta keys to include would be the

[2020-04-20 02:50] kevin25 commented on #1739
Thank you. How can I clean the database? I've never work on this site before.

Also how to do this:

manually selecting which post meta keys to include would be the next step.

[2020-04-20 04:46] oscarssanchez commented on #1730
Hi @puntope ,

If you do use a WP_Query object, your search will be done through elasticsearch if you pass the special parameter `ep_integrate => true` . Can you give this a shot and check if this solves your issue?

[2020-04-20 08:58] israeldahan opened #1742 "connect to elastic cloud"
if i want to connect elasticpress to elastic cloud? how to connect? where i put username and password?

[2020-04-20 13:01] david-we opened #1744 "Highest compatible versionnumber of elasticsearch for 2.8.2 ?"
We want to upgrade to elasticsearch 6.8 or higher, because our elasticpress is modified we can not update it to 3.x.x yet. What is the highest version number that works with 2.8.2 ?

__Current ElasticPress version?__
6,3
__Current Elasticsearch version?__
2.8.2
__Where do you host your Elasticsearch server?__
on premise

[2020-04-21 00:51] oscarssanchez commented on #1744
Hi @david-we ,

It looks like 6.3 would be the Max supported version.

[2020-04-21 00:54] oscarssanchez commented on #1742
Hi @israeldahan ,

If you happen to have authentication enabled, you may define `define( 'ES_SHIELD', 'username:password' );` as documentation indicates: http://10up.github.io/ElasticPress/tutorial-security.html

[2020-04-21 00:58] oscarssanchez commented on #1739
Hi @kevin25 ,

Unfortunately I don't know your codebase and needs of your site as well, so I don't have an exact answer, reply here would be my suggestion:  https://github.com/10up/ElasticPress/issues/1263#issuecomment-482386162

[2020-04-21 01:05] oscarssanchez commented on #1723
Thanks @appasahebs ,

Can you please install the elasticpress debug bar:

https://es.wordpress.org/plugins/debug-bar-elasticpress/

And paste the json output for both `query args` and `query result`?

[2020-04-22 02:44] sebumd opened #1746 "Cannot use date_query for a custom column by date part (year, month, day, etc)"
As a developer, I should be able search by custom field and date part, like

$args['date_query'][] = array(
    'column' => 'meta.birthdate.date',
    'year' => '1947',
);

[2020-04-23 13:04] felipeelia commented on #1740
Hi @adiloztaser ,
I've tried to replicate this issue but I couldn't. Do you mind sharing with us the details of your environment? WordPress, ElasticPress, ElasticSearch versions, and which web server (Apache, Nginx, or some other) on which version would be helpful.
Thanks!

[2020-04-23 14:04] adiloztaser commented on #1740
Hi @felipeelia,

I am using ElasticPress 3.4.1 with Elasticsearch 6.3.2 on WordPress 5.3.2

For more detail here is my test patch:

[code]

After trigger some non-blocking action (such as saving post which is not published) here is the option result:

`{"count":7,"args":{"method":"DELETE","timeout":15,"blocking":false,"headers":{"Content-Type":"application\/json"}}}`

I hope this will help you.

[2020-04-23 14:08] goaround opened #1749 "Huge Performance Issues if "Post Search" is enabled"
Since a few days I have huge performance Issues on my Elasticsearch Server if "Post Search" is enabled. I use a lot of ElasticPress features including Related Posts, Facets and Custom Search Results.

If I enable "Post Search" the CPU Usage explodes on my Server. To rule out if my server configuration is the issue, I've set up a Cluster on Elastic Cloud but I see the same issue here.

Activating "

[2020-04-23 15:03] goaround commented on #1749
Ok, I found the issue. The Google Bot DDOSed my server because of the way Facets work.

I will open a new bug issue.

[2020-04-23 15:03] #1749 closed

[2020-04-23 15:57] goaround opened #1750 "Facets-URL Parameter can lead to DDoS from the Google Bot"
**Describe the bug**

The Facets-Feature can lead to a lot of request from the Google Bot. It adds URL parameter like `filter_category=business-class&filter_post_tag=star-alliance` and with a large set of custom terms there are near to infinite combinations possible.

The Google Bot follows every link and the Facets Widget generates a new link for every option. The search page has not been indexed

[2020-04-23 16:00] azzyadrac opened #1751 "Adding filter amount in search filters"
Hi,

I am trying to get the number of products shown in the filter widgets in the side of WooCommerce when searching.
I have successfully got the amount to show before a filter is applied.
e.g. to calculate the amount there is going to be for a brand before the filter is applied.

The issue I am having is when the filter is applied more products are shown, so the number of products shown with the

[2020-04-23 17:56] felipeelia commented on #1740
Thanks, @adiloztaser. I've opened a PR with a possible fix for this. As non-blocking requests will only fail later in the timeline, I don't think we could do anything other than just make sure non-blocking requests are not repeated.
It would be great if you could give the PR a try and let us know if that works for you too.

[2020-04-23 18:50] adiloztaser commented on #1740
The PR works as I expected. Thanks for your work. :+1:  @felipeelia

[2020-04-24 08:41] emilpriverrc opened #1753 "Missing data in elasticsearch when syncing."
__Have you searched for similar issues before submitting this one? yes

__Is this a bug, question or feature request? Bug/Question

__Describe the issue you encountered:
We are using Elasticpress to sync data between our local elasticsearch server which is used to search for posts, cars and so on. We miss about 33% of the content. We have 760 posts which should be synced but only 500 is synced. Ha

[2020-04-24 11:08] maciejmackowiak opened #1754 "Custom search analyzer"
Hi,

I want to implement ES search on our website but I've run into a problem
for example I have post like this:
[code]
I would like to find this post by searching for part of an anchor href attribute:
`com.twitter.android`
but it doesn't work.

Can you please tell me how to adjust search results to make it work?

I've tried custom analyzer with pattern tokenizer, but how to properly hook it into

[2020-04-25 20:53] dnikola commented on #1711
Hello @oscarssanchez

did you had time to check something regarding this problem?

Thanks!

[2020-04-26 23:45] oscarssanchez commented on #1753
Hi @emilpriverrc ,

This command should provide output when a post fails to index:

wp elasticpress index --show-bulk-errors

[2020-04-27 09:21] paoloburzacca opened #1755 "News posts not indexed"
In my huge website after initial syncing (with WP-CLI) I have 140678 documents indexed, but when new posts are added these are not indexed anymore and my documents count remain always the same. Do I need to reindex manually each night? Do I need to attach to Wordpress save_post action ?

[2020-04-27 20:16] moraleida commented on #1724
@thachphamw2 I can't seem to reproduce this issue on WP 5.4 and EP 3.4.1. I'm able to reindex and reach category pages such as /product/clothing or /product/tshirts and see results coming from Elasticsearch.

Do you have any other query customizations that might be interfering with this one?

[2020-04-27 20:35] moraleida commented on #1692
@peeyooshk is this still an issue? I see brands listed properly on the site above, in the brands page, with counts, and in individual products.

[2020-04-27 20:58] peeyooshk commented on #1692
@moraleida That is because we had stopped using elasticpress since the bug was reported and are waiting for the bug to be fixed to start using it.

[2020-04-28 03:54] oscarssanchez commented on #1755
Hi @paoloburzacca ,

Each time you update or save a post it should index/reindex the document. Can you please provide more details about your current site?

[2020-04-28 07:01] paoloburzacca commented on #1755
I debugged plugin code and I can see that new posts are added to the queue if they are publish, but it's like the queue is not processed

[2020-04-28 11:54] barryceelen opened #1757 "WP_IMPORTING check in SyncManager too early"
The SyncManager setup() methods [contain a check if WP_IMPORTING is true](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/SyncManager.php#L30), and do not add their hooks if WP_IMPORTING is true.

It seems this check is performed on the `init` hook, which can be too early: other functionality may define WP_IMPORTING on a later hook.

To improve Elasticpress respon

[2020-04-28 15:36] tlovett1 commented on #1757
Seems like a method should be called in that class that checks that constant. Can you draft a PR?

[2020-04-28 15:48] #1744 closed

[2020-04-29 21:20] peeyooshk commented on #1692
@tlovett1 Shall we expect an update on this bug soon or shall we start looking for an alternative? Sorry if i sound harsh, but its been over 1.5 months since the issue was reported and no workout being done to resolve the bug that we see.

[2020-04-30 14:57] mwidmann opened #1758 "Media Library search not working with EP and Protected Content indexation enabled."
**Describe the bug**
I updated to version 3.4.1 recently and users reported that searching for items in the media library didn't return any results anymore.

I investigated and found out that even though attachments are not part of the indexed `post_type`s, ElasticPress reaches out to the elasticsearch server with a query nevertheless. This returns an empty result and thus the search results page

[2020-04-30 15:50] mwidmann commented on #1758
So I invetigated this a bit further. Seems that the issue results from this line of code called with the `ep_elasticpress_enabled` hook:

https://github.com/10up/ElasticPress/blob/91f1135e90506a5758f67a28f2273bb598f29bb3/includes/classes/Feature/Search/Search.php#L288

If `is_search()` is set on `WP_Query` and a keyword is searched for than query integration does get enabled regardless of the post

[2020-04-30 20:18] brown-a2 commented on #1529
Hi, has any progress been made on this enhancement? Moving from our dev environment to production, I'd like to be able to export and then re-import our settings.

[2020-05-01 02:07] Fuzzzzy opened #1759 "Exclude custom fields from indexing"
Hello,

Thanks for the awesome plugin.

1. Is there any way to exclude some custom fields from being indexed?
2. I can see that under each custom field there is some confusing data being sent to index. Why is that and why is it needed? I can also see that a simple text field has multiple types in the elastic index. Please see screenshot.
![image_53](https://user-images.githubusercontent.com/153501

[2020-05-01 05:56] oscarssanchez commented on #1742
Closing as it looks like this got solved.

[2020-05-01 05:56] #1742 closed

[2020-05-01 18:11] morganestes opened #1760 "Can't uninstall the plugin through Admin UI or WPCLI"
**Describe the bug**

The uninstaller hangs when trying to delete the plugin in the WP Admin plugins page and gets a 404 from` admin-ajax.php` in the process.

When using WP CLI to uninstall, it gives me two warnings about EP_FILE and fails to uninstall.

**Deleting** via WP CLI _does_ work, but at what cost?

**Steps to Reproduce**

**Admin UI:**
1. Go to Plugins page in WP Admin
1. Open the brow

[2020-05-03 10:46] gregoriopellegrino opened #1761 "Documentation to update about Feature API"
The documentation contains these guidelines for defining an _ep_register_feature_:

http://10up.github.io/ElasticPress/tutorial-feature-api.html

But this warns generates a PHP warning:

`Notice: ep_register_feature is deprecated since version 3.0! Use Feature registration API instead.`

I found this blog post saying that the Feature recording mode has changed:

https://www.elasticpress.io/blog/20

[2020-05-03 21:30] danielbachhuber opened #1762 "Avoid using spl_object_hash() for storing found posts"
In https://github.com/pantheon-systems/solr-power/pull/448, I discovered that `spl_object_hash()` [doesn't do what you'd expect it to do](https://www.php.net/manual/en/function.spl-object-hash.php#76220):

tl;dr: You don't actually get a unique ID.

Given you need a unique ID for storing posts on a singleton in the test suite, I decided to instead generate the unique ID each `WP_Query` instance:

[2020-05-04 10:55] emilpriverrc commented on #1753
hello @oscarssanchez,

Thank you, I did run the command and found the error :D.

Been going through both docs and github project to find something that could make the "total fields" higher. Anyway edit the limit to something higher?

[2020-05-04 15:19] Slamik opened #1763 "How to remove_action 'shutdown' for index_sync_queue?"
**Describe your question**

I've noticed that index_sync_queue fired every time while my "ajax postview counter" increments value using update_post_meta.

I've tried `remove_action ('shutdown', ['ElasticPress \ Indexable \ Post \ SyncManager', 'index_sync_queue']);` but with no luck.

Is there any way to remove this action correctly?

Thank you in advance!

[2020-05-05 15:39] tlovett1 commented on #1762
Thanks @danielbachhuber. I'll take a look.

[2020-05-05 19:55] gregoriopellegrino commented on #1482
I have the same problem: I have one post type for videos and one for playlists. With ACF in every playlist there are n videos. I'd like to bring this structure back into ElasticSearch, but I can't figure out how.

[2020-05-06 22:06] nickdaugherty opened #1765 "CLI: wp elasticpress list-features shows wrong active/inactive status"
**Describe the bug**

When you run the `list-features` command, it doesn't call `is_active()` on the `Feature` object, which bypasses the `ep_feature_active` filter, causing incorrect active/inactive status to be shown.

**Steps to Reproduce**

1. Add a filter like this: `add_filter( 'ep_feature_active', '__return_false' )`
1. Run `wp elasticpress list-features`
1. Notice that previously active Fe

[2020-05-07 04:46] oscarssanchez commented on #1758
Hi @mwidmann

Thanks for your report, the only way that I could trigger a similar behavior is if I set all queries to be elasticpress enabled:

[code]

I made a quick video hoping that you can spot if I did not understand your instructions to reproduce:
https://youtu.be/wnExJBapYK0

Can you please let me know if I missed something ?

Thanks!

[2020-05-07 05:57] oscarssanchez commented on #1755
Hi @paoloburzacca ,

Can you provide more details about your site? Unfortunately without more information it is almost impossible to know what could be going wrong.

[2020-05-07 06:00] oscarssanchez commented on #1754
Hi @maciejmackowiak ,

Do change the mappings, if it is for the post Indexable, you can use the `ep_post_mapping` filter

[2020-05-07 06:03] oscarssanchez commented on #1751
Hi @azzyadrac ,

When you say widget filters, do you mean the facet widget?

If so, I remember a PR that was submitted before 3.0 got released. Perhaps it is a good place to look: https://github.com/10up/ElasticPress/pull/1195

[2020-05-07 06:04] #1739 closed

[2020-05-07 06:04] #1735 closed

[2020-05-07 06:04] #1730 closed

[2020-05-07 06:05] #1723 closed

[2020-05-07 07:09] mwidmann commented on #1758
Hi @oscarssanchez , thank you for the response. This is very strange, but I'll try providing a step-by-step instruction to reproduce the issue.

The be 100% sure nothing in my regular setup interferes with the installation, I used a sandboxed new installation in [Local](https://localwp.com/). I selected PHP Version 7.3.5 and MySQL 5.7.28. I like Local because it's very easy go test something out i

[2020-05-07 07:18] paoloburzacca commented on #1755
Hi, I have resolved with a new server and a new Elastic Search installation. The old server had only 2 Gb Ram and somtimes ES crashed, now with 8Gb Ram it's all ok! Thank you

[2020-05-07 11:21] kevin25 commented on #1739
This hasn't been fixed yet. Is there any fixes for this isuse?

[2020-05-07 16:21] oscarssanchez commented on #1763
Hi @Slamik ,

I thought this was correct however a colleague pointed out the right solution for this:

`remove_action('shutdown', array( \ElasticPress\Indexables::factory()->get( 'post' )->sync_manager, 'index_sync_queue' ) );`

Hope this helps

[2020-05-07 16:57] oscarssanchez commented on #1755
Good to know ! Will close this one then.

[2020-05-07 16:57] #1755 closed

[2020-05-07 22:11] #1670 closed

[2020-05-07 22:11] #1681 closed

[2020-05-07 22:12] #1685 closed

[2020-05-07 22:14] #1710 closed

[2020-05-07 23:09] oscarssanchez commented on #1373
Closing as this has been implemented already

[2020-05-07 23:09] #1373 closed

[2020-05-08 01:14] oscarssanchez commented on #1677
Hi @olexandrrevizor ,

In my experience, reducing the per page items results in a greater indexing time.

Based on experience, I've seen different results depending on these parameters that have not being mentioned yet:

* Your service resources
* Your posts size. This is especially true if you are indexing large files like extremely big PDF's which will result in greater indexing time.

It would

[2020-05-08 01:17] oscarssanchez commented on #1673
Closing as there was no response back. If the problem has not being solved, please feel free to open a new ticket.

[2020-05-08 01:17] #1673 closed

[2020-05-08 01:22] oscarssanchez commented on #1671
Hi @jeffceriello ,

Can you please paste the output of your queries by installing the elasticpress debug bar and updating to the lastest version of elasticpress ?

[2020-05-08 01:24] oscarssanchez commented on #1669
Hi @ovaislak ,

There could be a lot of different explanations for this.

Can you put a list of the environment where you are seeing these issues? It would be great to know plugins installed, themes, and any custom code modifications that are running.

Thanks!

[2020-05-08 01:28] oscarssanchez commented on #1664
Hi @roditi3811 ,

I think what you can do in this case is use the facet filter widget `ep_facet_search_widget` to customize what would you like to display. This way, you also have more control over the customization of the widget.

Hope this helps

[2020-05-08 02:09] oscarssanchez commented on #1720
Hi @thachphamw2 ,

To answer some of your questions:

1/ Exclude private posts on the search results.

Can you confirm there is no other custom code running in your site and you are running the latest version of elasticpress? As far as I could test, protected content only enables unpublish status post search in the backend

2/ After activate the plugin, the search behaviors changed.

Some behavior

[2020-05-08 02:11] oscarssanchez commented on #1719
Hi @mabezdek ,

You are looking to set a timeout when searching, did I get that right?

[2020-05-08 12:52] puntope commented on #1730
Hello @oscarssanchez sorry for my late response

The mappings are there "_sale_price":{"properties":{"boolean":{"type":"boolean"},

The query using WP_Query doesn't work for me since that means to change all the legacy code of the application to this new way.

What I need is to know how to query the metas using the dsl.

Pseudo Example:

'body' => ['query' => ['term' => ['meta._sale_price', '>',0]

[2020-05-08 14:19] felipeelia commented on #1759
Hi @Fuzzzzy ,

To exclude custom fields from being indexed, you can use the [ep_prepare_meta_excluded_public_keys](http://10up.github.io/ElasticPress/ep_prepare_meta_excluded_public_keys.html) filter. Your code will look like this:
[code]

Regarding multiple types being saved, that happens because ElasticPress tries to save the field in all possible ways. So, if the field is a string it will try t

[2020-05-08 18:14] oscarssanchez commented on #1739
Hi @kevin25 ,

Did you have a chance to try the suggestion ? Can you please tell us how it went?

Thanks!

[2020-05-08 18:21] oscarssanchez commented on #1753
Yes @emilpriverrc

If you are getting the total fields limit error, my first suggestion is to try to clean up your database from unused meta and exclude any non essential meta, see #1263 or #1267.

If that's not a possibility, the filter to raise the total fields would be `ep_total_field_limit`

Hope this helps

[2020-05-09 11:34] jeffceriello commented on #1671
Hi @oscarssanchez ,

Thank you for your reply.
It looks like 6 queries are performed. Here is a screen shot of what the ElasticPress Debug area looks like after a search for "red shoes" looks like this

![Screenshot 2020-05-09 at 13 21 37](https://user-images.githubusercontent.com/5859601/81472516-d209dc80-91f8-11ea-81ff-b6e5d13f18ac.png)

The first query result at the top looks like the below
Hea

[2020-05-11 07:28] emilpriverrc commented on #1753
@oscarssanchez Thank you for the help Oscar! We solved the problem :D

[2020-05-11 07:28] #1753 closed

[2020-05-11 11:03] azzyadrac commented on #1751
Hi @oscarssanchez ,
Thank you for your response.
When I said "Widget filters", I meant the widgets from WooCommerce that I customised.
This was due to the facets not meeting my requirements.

I shall have a look at the PR suggested and see I can use any of the code to assist me.

Again, thank you :)

[2020-05-11 13:32] Fuzzzzy commented on #1759
Thanks for that, I'll try it out!

[2020-05-11 13:32] #1759 closed

[2020-05-12 00:47] #1760 closed

[2020-05-12 01:52] tlovett1 commented on #1734
@todiadiyatmo can you see if #1756  fixes your problem?

[2020-05-12 01:52] tlovett1 commented on #1721
@alifazeli  can you see if #1756  fixes your problem?

[2020-05-12 01:54] tlovett1 commented on #1765
Thanks for the report! Would love to see a PR.

[2020-05-12 01:54] tlovett1 commented on #1761
That's correct. That needs to be updated.

[2020-05-12 02:57] oscarssanchez commented on #1758
Hi @mwidmann , I think the list view was what i was missing. I can reproduce this with local and will try out on our normal environments. Thanks for the detailed steps!

[2020-05-12 10:31] adiloztaser opened #1769 "Deprecated field [include] used, expected [includes] instead"
**Describe the bug**
When I was working on the user integration feature in our project, I realized that Elasticsearch returns this warning. I am not quite sure but `include` deprecated in Elasticsearch 6.6.0 [(Deprecate `_source_include` and `_source_exclude` url parameters #33475)](https://github.com/elastic/elasticsearch/pull/33475).

I think the warning will be solved when if we replace `includ

[2020-05-12 14:04] oscarssanchez commented on #1758
Hi @mwidmann ,

Can you check it https://github.com/10up/ElasticPress/pull/1770 solves the issue for you?

Thanks!

[2020-05-12 14:24] mwidmann commented on #1758
@oscarssanchez thanks for the PR. It would fix the issue, but open up another one if the user decides to include attachments to the indexed post types in order to make the query faster in the backend, by adding them through the `ep_indexable_post_types` filter.

[code]

The originating discussion and my try to fix it pointed out that I need to index attachments to ES, because the DB query would ti

[2020-05-12 14:52] joelrendall commented on #1205
Hi, I hope it's ok to comment here. I'm seeing this message in my dashboard _(Autosuggest feature is enabled.… "Use safe values" checkbox in Autosuggest settings to default to safe content search)_

However, I can't see this checkbox in the autosuggest settings.
<img width="618" alt="Screenshot 2020-05-12 15 45 38" src="https://user-images.githubusercontent.com/8376419/81707289-747bc700-9468-11ea-

[2020-05-12 15:51] alifazeli commented on #1721
Hi @tlovett1
What should I do?
Just update elasticpress and run index again? or should i change some files before?

[2020-05-12 19:33] alifazeli commented on #1721
I replaced dashboard.php with new file and It's work. tnx

Processed 305550/307947...
Processed 305900/307947...
Processed 306250/307947...
Processed 306600/307947...
Processed 306950/307947...
Processed 307300/307947...
Processed 307650/307947...
Processed 307947/307947...
Number of posts indexed: 307947
Total time elapsed: 7٬236.912
Success: Done!
Adding post mapping...

[2020-05-13 22:13] flaversaver21 opened #1772 "Woocommerce and missing products with EP"
**Describe the bug**
ElasticPress 3.2.6 and up from what I can tell have a bug where the sync completes, but products are flat out missing on the front end search AND the backend search. If I update the product (simply click the update button) it will suddenly show up in both searches. If I resync, the issue reoccurs.

**Steps to Reproduce**
See above.

**Expected behavior**
See above

**Environme

[2020-05-14 10:25] Slamik commented on #1763
Hi @oscarssanchez ,

Thank you! Works like a charm!

[2020-05-14 10:25] #1763 closed

[2020-05-15 12:11] #1442 closed

[2020-05-15 14:57] nickdaugherty opened #1774 "Index other post date field (post_date_gmt, post_modified, post_modified_gmt) components"
**Is your enhancement related to a problem? Please describe.**

Currently, ElasticPress indexes the "components" (like year/month/day/etc) of the `post_date` field, but not the components of the other core date fields `post_date_gmt`, `post_modified`, `post_modified_gmt`. This means that any query attempting to use these fields in the same way as `post_date` will not behave as expected.

**Describ

[2020-05-15 15:09] torava opened #1775 "Match type for any term within facet, all terms between facets"
I use ElasticPress with WooCommerce and I want allow user to choose multiple terms from facets. It would be possible with match type "show all content tagged to any selected term" but with multiple facets it doesn't produce desirable result. If user chooses black from color facet and M and L from size facet then there should be only products that are color black and size of M and L. What happens i

[2020-05-15 15:24] torava opened #1776 "Price filter with search parameters"
I use ElasticPress with WooCommerce. I would like to allow choosing a price range while doing a search. If I search with some terms and then choose max price from WooCommerce's price range widget then search terms will be ignored and only the price range is respected. Could ElasticPress support filtering by a price range along with search terms?

[2020-05-16 10:39] charinduedirisuriya opened #1777 "MySQL Load still high"
I'm doubting that even though elasticpress is setup, my load to the MySQL server has not reduced and I feel like elasticpress is not been used by my quries.

The average response time for a get request like, `/wp-json/wc/v3/products?sku=650260368`
on woo-commerce was around 2 seconds, and under heavy load it takes up to 30 seconds, this is why I choose to install elasticpress.

I installed the deb

[2020-05-17 17:52] oscarssanchez commented on #1777
Hi @charinduedirisuriya ,

Could you please give us more details ? It is not really clear for me how are you using elasticpress. If you could give us the steps you are following after installing elasticpress, that would be great.

Thanks!

[2020-05-18 00:03] charinduedirisuriya commented on #1777
After adding the plugin I added the host and enabled woocommerce, and indexed all the data.
![sinppo33](https://user-images.githubusercontent.com/33041881/82163467-094b4e00-98c9-11ea-82b1-5a0e2e91508f.PNG)
![sniop22](https://user-images.githubusercontent.com/33041881/82163469-0a7c7b00-98c9-11ea-9d9f-0bb5dd5b9645.PNG)
![sniop23](https://user-images.githubusercontent.com/33041881/82163470-0b151180-9

[2020-05-18 01:52] oscarssanchez commented on #1671
Hi @jeffceriello ,

Yes, having a lot of queries happening there could be a problem to troubleshoot there.

What I could notice from taking a look at your query body is that it looks like the query is not being formatted correctly.

Do you have any custom code that could be hooking into elasticpress? For this case in specific I would look into code hooked with the `ep_formatted_args` filter

[2020-05-18 08:15] bilalmalkoc opened #1778 "Why i can't delete plugin?"
I can't delete plugin. Can you explain me why?

[2020-05-18 12:53] felipeelia commented on #1778
Hi @bilalmalkoc, thanks for opening this issue. This problem was discussed in #1760 and fixed in #1767. The new version will already have this fixed.
If you don't want to wait, you can either manually delete it or apply [this change](https://github.com/10up/ElasticPress/pull/1767/commits/d9cb5df91784236e8f0dc23d7ea9c4ae4766b85f).

[2020-05-19 03:47] oscarssanchez commented on #1777
Thank you @charinduedirisuriya ,

Can you make a request to your elasticsearch endpoint on the _search endpoint i.e.  https://elasticsearchserver/yourendpoint-post-1/post/_search like the following:

[code]

And report what gets returned?

Also, can you confirm the indexing process was successful ? Ideally, if you have access to WP CLI you can run this command:

`wp elasticsearch index --setup --s

[2020-05-19 13:42] oscarssanchez commented on #1754
Hi,

We are closing now this issue as there was no further follow up. If the issue is still not solved, Please feel free to reopen or submit a new issue referencing this one. Thanks!

[2020-05-19 13:42] #1754 closed

[2020-05-19 13:43] oscarssanchez commented on #1751
Closing for now, please feel free to reopen or create a new issue if you find some issues!

[2020-05-19 13:43] #1751 closed

[2020-05-19 13:43] oscarssanchez commented on #1720
Hi,

We are closing now this issue as there was no further follow up. If the issue is still not solved, Please feel free to reopen or submit a new issue referencing this one. Thanks!

[2020-05-19 13:43] #1720 closed

[2020-05-19 13:44] oscarssanchez commented on #1677
Hi,

We are closing now this issue as there was no further follow up. If the issue is still not solved, Please feel free to reopen or submit a new issue referencing this one. Thanks!

[2020-05-19 13:44] #1677 closed

[2020-05-19 13:44] oscarssanchez commented on #1664
Hi,

We are closing now this issue as there was no further follow up. If the issue is still not solved, Please feel free to reopen or submit a new issue referencing this one. Thanks!

[2020-05-19 13:44] #1664 closed

[2020-05-19 15:36] tlovett1 commented on #1718
@felipeelia is confirming this is working.

[2020-05-19 15:37] #1721 closed

[2020-05-19 15:38] #1724 closed

[2020-05-19 15:38] #1740 closed

[2020-05-19 15:38] #1734 closed

[2020-05-19 15:42] tlovett1 commented on #1774
@nickdaugherty can you open a PR back to this repo?

[2020-05-19 15:43] felipeelia commented on #1765
Working on it

[2020-05-19 15:47] tlovett1 commented on #1778
Please confirm this is fixed.

[2020-05-19 15:48] brandwaffle commented on #1772
@flaversaver21 can you reindex via WP-CLI with the following command and share the results?

`wp elasticpress index --setup --show-bulk-errors`

[2020-05-19 16:08] nickdaugherty commented on #1774
Yep that's the plan (just making sure it's stable on our fork first).

[2020-05-19 17:51] #1778 closed

[2020-05-19 20:24] flaversaver21 commented on #1772
$ wp elasticpress index --setup --show-bulk-errors
Success: Mapping sent
Success: Mapping sent
Indexing posts...
Processed 350/37110...
Processed 700/37110...
Processed 1050/37110...
Processed 1400/37110...
Processed 1750/37110...
Processed 2100/37110...
Processed 2450/37110...
Processed 2800/37110...
Processed 3150/37110...
Processed 3500/37110...
Processed 3850/37110...
Processed 4200/37110...
P

[2020-05-20 11:16] laiconsulting opened #1781 "Does the ‘sites’ parameter allow negative int for exclusion?"
Can I do
[code]
to exclude site 2 and 3?

[2020-05-20 12:59] laiconsulting opened #1782 "Posts in a particular subsite are not indexed"
I have a multisite setup.
Every subsite has at least 1 post (the hello world post). However, there is one subsite that couldn't have any posts indexed. How could that happen?
The debug bar shows everything 200, nothing wrong to report. (Since the problem isn't about searching, but indexing).
There is nothing custom with this subsite. Posts are still of post post-type. The only addition may be Tran

[2020-05-20 15:17] laiconsulting commented on #1781
A separate question, can one reindex a particular site, say site 10000, without reindexing those 9999 sites prior to that?

[2020-05-20 17:24] Trisky commented on #1533
Hi there, this is the first result on Google when you search for the error message.

in plain PHP we can do

[code]

So every time indexPosts throws an exception or finishes successfully, it will call delete_transient() so the indexing is labeled as 'not running' again.

I think that a PR with this approach would solve the issue in a more graceful way than having a reset command.
Should I try it o

[2020-05-20 17:33] laiconsulting commented on #1782
Correction: No posts are indexed whatsoever, not in any subsite.
How come?

[2020-05-20 18:10] laiconsulting commented on #1782
Close.
it is my misconfiguration from wpml filter.

[2020-05-20 18:10] #1782 closed

[2020-05-20 20:02] brandwaffle commented on #1772
@flaversaver21 are those last two lines appearing after the `Success: Done!` line? If so, it seems that maybe something is re-triggering the application of the post mapping after the sync is completed. I'm not 100% sure it's related, but it could be why the post needs to be manually updated (this would trigger another individual object sync _after_ the mapping gets changed).

[2020-05-20 20:06] flaversaver21 commented on #1772
Yes they are appearing after. I take it that was unexpected.
The minute I do a resync from the GUI, those exact same products go missing again. I don't have this issue on our other 99% identical woo site. That site is running same version of EL and EP. Plugins are largely the same too, however not all plugins are updated yet.

[2020-05-20 20:07] brandwaffle commented on #1772
@flaversaver21 can you try re-running the CLI-index command from earlier but this time Ctrl+C out of the process mid-index? Then try searching for a few products--if it seems like you have some, but an incomplete set, that would support the idea that maybe that mapping is happening after the fact for some reason.

[2020-05-20 20:08] brandwaffle commented on #1772
@flaversaver21 the GUI sync will automatically disable EP while it's running. When it completes, are the products also gone? I'm looking through code so knowing whether this happens in both CLI and GUI context is definitely helpful.

[2020-05-20 20:12] flaversaver21 commented on #1772
I'll have to test this after hours (5pm pst) . Right now it's busy sales time.

But to your comment, yes when EP is syncing (via GUI) all works normally from what I can tell. Then when the sync completes the products in question are blackholed. I can find them by using a bulk product editor which then allows me to go in and update the product to get it to reappear.

[2020-05-21 17:41] charinduedirisuriya commented on #1777
{"took":379,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}

Error: 'elasticsearch' is not a registered wp command. See 'wp help' for available commands.

[2020-05-22 03:26] laranea opened #1783 "Elasticpress hangs on indexing."
Hi all,

Testing EP on a staging WooCommerce with only a few products but indexing hangs...

[root@spookje webshop]# wp elasticpress index --show-bulk-errors --show-nobulk-errors --show-errors  --per-page=1 --setup
Adding post mapping...
Success: Mapping sent
Indexing posts...
Processed 1/41...
Processed 2/41...
Processed 3/41...
Processed 4/41...
Processed 5/41...
Processed 6/41...
Processed 7/41

[2020-05-22 06:44] flaversaver21 commented on #1772
Stopped the sync mid process from the CLI and the search seems to work just fine.

However, I can't run a full sync as it recognizes a sync still in process. Not sure how to get out of this.

[2020-05-22 20:34] brandwaffle commented on #1772
@flaversaver21 after that partial sync are the results still appearing (at least the ones that got synced)? I want to confirm EP is still taking over that search. It _should_ once the transient is deleted, but confirming via the total number of results being smaller (but not empty) or via the Debug Bar ElasticPress plugin would be ideal.

If we get that squared away, the next step is we can debug

[2020-05-22 20:35] flaversaver21 commented on #1772
Even with it interrupted the sync appeared totally normal. I couldn't find any issues.

[2020-05-22 22:11] brandwaffle commented on #1772
This line has a filter that you can use for debugging: https://github.com/10up/ElasticPress/blob/2bf808d9da3978c1ef35ff60ce9b3bb87e64cc5f/includes/classes/Command.php#L262

I would just log out whenever that fires to confirm it's happening again at the end. If it is, then I'd put in a check somewhere around here to see that put_mapping_helper is firing each time https://github.com/10up/ElasticPres

[2020-05-25 17:58] marcinkrzeminski opened #1787 "Is it OK that total number of docs is different than posts that are being synced?"
**Describe your question**

When I run the sync button within the plugin it says Syncing posts 0/1201. Once that done I check the backend and is says docs count: 516. And this leads me to another question. When I try to search for some content that should be visible in the search results it's not there (the content is stored in an ACF flexible layout field). Is it related? Any suggestions on that?

[2020-05-25 19:22] oscarssanchez commented on #1787
Hi @marcinkrzeminski

Numbers may differ as it includes all public post types and if document feature is enabled also your media assets.

We are happy to troubleshoot further if your posts are not getting indexed though, could you please open a support ticket on elasticpress.io ? This way we can give you a more personalized support.

Thanks!

[2020-05-25 23:51] oscarssanchez commented on #1783
Hi @laranea,

Per the first error you get, it would seem as if you have a timeout issue, however, the "Sorry, no pages was found" errors look weird to me.

Can you search for this string inside your codebase, check if it is generated by a plugin, disable and reindex?

Can you also let us know if you have custom code, or how big your products are?

Thanks!

[2020-05-26 03:17] oscarssanchez commented on #1719
Hi @mabezdek ,

We are closing this now as we have not heard back from you. If the issue is not solved please feel free to open a new issue.

[2020-05-26 03:20] #1719 closed

[2020-05-26 03:32] oscarssanchez commented on #1651
Hi @clemorphy ,

I think you could alter the formatted query that's being sent to elasticsearch with the  `ep_formatted_args` filter, however, i don't know what type of query you would need to do for this particular use case. I found the following in the elastic.co forums: https://discuss.elastic.co/t/hit-counts-within-a-document/19643/6 which doesn't seem to be 100% what you are probably looking

[2020-05-26 03:34] oscarssanchez commented on #1777
hI @charinduedirisuriya ,

Apologies, the correct command is : `wp elasticpress index --setup --show-bulk-errors`

[2020-05-26 03:39] oscarssanchez commented on #1669
Hi @ovaislak

We are closing this one as we have not heard back from you. If you are still having issues please feel free to open a new issue.

Kind regards,

[2020-05-26 03:42] #1669 closed

[2020-05-26 03:44] dinhtungdu commented on #1769
@adiloztaser I addressed this issue in #1788. If you have time, can you please test and review it?

[2020-05-26 08:26] marcinkrzeminski commented on #1787
Hi @oscarssanchez,

As per your request I just sent a support ticket on elasticpress.io.

Thanks

[2020-05-26 08:26] #1787 closed

[2020-05-26 12:32] adiloztaser commented on #1769
Hi @dinhtungdu,

The pr fixes my problem, but I did not test any other Elasticsearch versions which are older than 6.3.2. Do you know the older Elasticsearch versions support the `includes` field?  If they do not support there may be a problem.

[2020-05-26 13:44] #1765 closed

[2020-05-27 12:48] laiconsulting opened #1790 "Sorting for all site search is first by site_id"
It appears that no matter how I specify the 'orderby', the results of all site search are always first sorted by site ID. Is there a way to counter that?
**Describe your question**

I would like the results to be sorted by date throughout all subsites.

[2020-05-27 13:38] sinusiks opened #1791 "Search "E-mail" vs "Email""
We have a post with title "Best E-mail clients for mobile phones"

- When searching for "E-mail" (without quotes) a lot of posts are found, none of them not even including word "mail" in title or content even though title has highest weight set.

- When searching for "Email" without dash, the correct post is found and also a first result.

ElasticPress is configured with default settings, except t

[2020-05-27 20:06] laiconsulting commented on #1790
my stupidity

[2020-05-27 20:06] #1790 closed

[2020-05-28 04:28] dinhtungdu commented on #1769
@adiloztaser I tested with ES 5.6.16 and it works without any warning. The docs for ES 5.0 and above shows `includes` example too.

[2020-05-28 06:25] adiloztaser commented on #1769
@dinhtungdu thanks for the information and your work :+1:

[2020-05-28 19:33] mbanusic opened #1792 "Plugin incompatibilty - Co-Authors Plus"
**Describe the bug**
Co-Authors Plus plugin enables to create Guest authors - authors that don't have a login. For that it creates a taxonomy 'author' which is used for displaying post author information. This causes a problem with Search query since ElasticPress\Indexable\Post::format_args creates a query that returns 0 results. That especially obvious in WP administration when viewing "Mine" pos

[2020-05-31 15:54] charinduedirisuriya commented on #1777
Hi, @oscarssanchez sorry for the late reply,
this is the output I got.

Warning: Function pcntl_signal not available. Make sure to run `wp elasticpress clear-index` in case the process is killed.
Adding post mapping...
Success: Mapping sent
Adding term mapping...
Success: Mapping sent
Indexing posts...
Processed 7/7...
Number of posts indexed: 7
Indexing terms...
Processed 37/37...
Number of terms

[2020-06-01 04:42] oscarssanchez commented on #1791
Hi @sinusiks ,

I think you could test how things look to you by adjusting the fuzziness and also look into Elasticsearch synonyms for the specific Email vs E-mail issue. Perhaps this link can help: https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-synonym-tokenfilter.html

[2020-06-01 04:45] oscarssanchez commented on #1777
Thanks @charinduedirisuriya !

It seems that only 7 items got indexed. This might be obvious but can you confirm there's only 7 products/posts you have in your site?

[2020-06-01 08:59] sinusiks commented on #1791
Thanx but can you please tell me how to adjust fuzziness and synonyms? I use default Elasticpress with default Elasticsearch installation - can I solve both in the code or in the elasticsearch configuration? Because I can't find this anywhere through the module settings..

[2020-06-02 14:16] #1769 closed

[2020-06-02 15:04] scooterlord opened #1793 "There is a problem with connecting to your Elasticsearch host error"
**Describe the bug**
I encounter an error that reads:
There is a problem with connecting to your Elasticsearch host. ElasticPress can try your host again, or you may need to change your settings. Response Code: 200 Response error: OK

I have searched multiple topics concerning the same issue here at github, but none of them provided a solution.

**Steps to Reproduce**
1. I run elasticsearch server

[2020-06-02 15:55] scooterlord commented on #1793
I reinstalled everything - including my hosting service - and everything seems to be working properly now.

[2020-06-03 06:48] mbanusic commented on #1792
This issue has more edge cases. Search with author_name should be directed to terms. Below is the fix for that and the "Mine" posts. I will update this thread as new issues and solutions come up.

[code]

[2020-06-03 13:32] scooterlord commented on #1793
New edit: I reinstalled everything from scratch, including the local server.

I have combined the following solutions, which only solve the problem temporarily, but thankfully it's reproducible.

a) I added in the `functions.php` the following snippet:
`add_filter( 'ep_format_request_headers', function ( $headers ) {
    $headers['Accept-Encoding'] = 'gzip';
    return $headers;
});`

b) I added i

[2020-06-03 15:28] dinhtungdu commented on #1401
I tested this bug with a filter to allow indexing `_thumbnail_id`, ElasticPress works correctly and can query posts with thumbnail.

[2020-06-03 17:12] charinduedirisuriya commented on #1777
@oscarssanchez yes, this is a test server and it only has 7 products.

[2020-06-03 18:19] felipeelia commented on #1700
Hi @jmreicha ,
I know this has been here for a while now but did you had the chance to fix the problem? If so, can you please share the solution? That way we can keep it for other users with the same problem.

If you didn't fix it, do you mind sharing the code you're using to add the header?

Thanks!

[2020-06-04 18:34] tonydjukic commented on #1315
We're in June now and WPML still have not budged even the slightest on the patch.

Also, none of these solutions seem to be working for me anyway... ...I still get English posts loading on all French language pages in both the admin and the front end.  Pages, CPTs all work perfectly, it's only posts that seem the be effected.

[2020-06-04 22:32] maartenhunink commented on #1315
I created two support tickets on the WPML forum. It doesn't look like they are planning to fix this any time soon, if at all, since not enough people are using the plugin. For more info see here:

https://wpml.org/forums/topic/2-bugs-causing-elasticpress-and-wpml-not-to-work-together/
https://wpml.org/forums/topic/no-responses-anymore-to-support-request/

It's kinda strange that within ElasticPres

[2020-06-04 23:18] ejdanderson opened #1794 "Load facet and paginated results via javascript"
**Is your enhancement related to a problem? Please describe.**

It would be great to have just the results area of facets or paginated content be lazyloaded/loaded in via AJAX preventing a complete reload of the page. Or at least the option for this.

**Describe the solution you'd like**

Facets and/or Pagination should load filtered results in via AJAX, update the URL and modify the browser histo

[2020-06-05 11:35] alexgarciab opened #1795 "Support for newer versions of ElasticSearch (7.7.1)"
**Is your enhancement related to a problem? Please describe.**
Are there any plans to support newer versions of ElasticSearch, such as 7.7.1? We have it installed, and right now we can not use the plugin, because it only supports up to 7.5

**Describe the solution you'd like**
Add compatibility for newer versions of ElasticSearch, such as 7.7.1

[2020-06-05 11:43] alexgarciab opened #1796 "How to make Custom Post Fields "Searchable" and "Weightable"?"
**Describe your question**
I have installed the ElasticPress plugin in one of my Wordpress sites that makes a heavy use of WP_Query. The type of WP_Query that we make involves searching data in Custom Post Fields of Custom Post Types. On the plugin page: page=elasticpress-weighting I see that it is only possible to index and weight content based on: Title, Content, Excerpt or Author.

Is there a w

[2020-06-05 13:52] felipeelia commented on #1672
Hi @MediaMaquina ,

We have another version of that function that can help you (and possibly others that come to this GitHub issue later):

[code]

As you already found a solution that fixes your problem, I'll go ahead and close this issue but feel free to reopen it or add any additional info you think is useful, okay?

Thanks!

[2020-06-05 13:52] #1672 closed

[2020-06-05 14:22] MediaMaquina commented on #1672
I appreciate the code but i cannot use it.
It returned thousands of irrelevant posts, while in comparison the old method returns 7 relevant posts.

[2020-06-05 14:35] felipeelia commented on #1796
Hi @alexgarciab ,

You can use the [ep_weighting_fields_for_post_type](http://10up.github.io/ElasticPress/ep_weighting_fields_for_post_type.html) filter for this. For example, to add a meta field with `my_custom_field` as the key, your code would look like this:

[code]

With that in place, you'll have this new element in the `Manage Search Fields & Weighting` Screen, under "Posts":

![image](http

[2020-06-05 14:41] felipeelia commented on #1672
Thanks for the feedback, @MediaMaquina . Based on the results you're getting, I'd say the `parse_query` hook solution you're already using is the best way to go. Thanks for sharing that code!

[2020-06-05 14:54] felipeelia commented on #1793
Hi @scooterlord ,

ElasticPress tests the Elasticsearch server making a request to the `/_nodes/plugins` endpoint.

Are you able to visit `http://127.0.0.1:9200/_nodes/plugins`? If so, do you get a JSON object with a "nodes" attribute?

And the port part is expected. As I said, ElasticPress will try to find the Elasticsearch info through an HTTP GET request. If you set the host as `http://127.0.0.

[2020-06-05 16:08] MediaMaquina commented on #1672
All good thanks!!!

[2020-06-05 17:19] tonydjukic commented on #1315
I've always found JetPack in general to be a bit too cumbersome and have even had updates crash sites.  This is unfortunate.  Am I right in understanding that WPML even removed the compatibility directory for EP in one of the recent updates?  So even those of us that want to apply the work-around fix can't?

[2020-06-05 18:05] maartenhunink commented on #1315
Well... they removed their official compatibility (and probably support), but the compatibility files are still there. So at the moment you can apply the fix. I just tested it and it's still working.

[2020-06-05 18:21] maartenhunink commented on #1315
Ah, I was wrong. They actually removed the elasticpress compatibility files in version 4.3.15 of WPML.

[2020-06-06 06:05] vasikgreif commented on #1795
Just came across this - ElasticPress won't work on ES 7.7.x, or is it just not officially supported? Any possible issues with it?

[2020-06-06 09:33] scooterlord commented on #1793
Hello @felipeelia and thanks for your reply,

I realize that it required the port, but changing back and forth without and with port was what enabled the plugin dashboard to be visible once.

I came here to post the solution to the problem, so checking `http://127.0.0.1:9200/_nodes/plugins` _now finally works_ as it should,

After multiple reinstallations of the server, wordpress and elasticpress

[2020-06-06 09:33] #1793 closed

[2020-06-06 17:07] jitendraharpalani22 commented on #1152
@allan23 I am facing this issue with Elasticpress latest version. My `posts_per_page` is set to 10 for pagination. I was getting the count earlier via `found_posts` which was the total number of posts= 350,000. Now, though it is returning 10000 which seems to be the default in new ES 7.4.2

It used to work with 6.3 and previous version of EP. I tried the filter mentioned above to set max_results_w

[2020-06-08 14:13] jmreicha commented on #1700
If I remember, we basically forced it to add a `x-api-key` header to all requests and then check if the header was there. Unfortunately I can't seem to find the code that does this.n

[2020-06-08 18:12] scooterlord commented on #218
Hello, this is an old post, but did you manage to make this work?

[2020-06-09 14:11] felipeelia commented on #1700
Theoretically, a code like this would add a header to all requests:

[code]
Are you able to connect to your ES server through a program like `https://www.postman.com/`, for example? That can help to pin point the problem.

[2020-06-09 14:14] felipeelia commented on #1727
Closed via #1728

[2020-06-09 14:14] #1727 closed

[2020-06-09 14:19] felipeelia commented on #1686
Closed via #1688

[2020-06-09 14:19] #1686 closed

[2020-06-09 15:27] jmreicha commented on #1700
Yes, I think the above example is almost exactly what we ended up doing.

On Tue, Jun 9, 2020 at 9:11 AM Felipe Elia <notifications@github.com> wrote:

[2020-06-09 15:41] jeffpaul commented on #1708
This appears to have been handled in https://github.com/10up/ElasticPress/commit/723a74d3479a74eefc5c492129fb492210638ff3 and https://github.com/10up/ElasticPress/commit/a2d0a28b00ad2829cdcc2841d6785c45a4629c7e as part of ElasticPress 3.4.0.

[2020-06-09 15:41] #1708 closed

[2020-06-09 16:44] felipeelia commented on #1700
Nice, @jmreicha, thanks. I'll go ahead and close this issue, feel free to reopen it if you need.

[2020-06-09 16:44] #1700 closed

[2020-06-10 09:55] dinhtungdu commented on #1644
@jeffpaul @tlovett1 Tested this today against `develop`, the admin notification is cleared after CLI index.

[2020-06-10 19:21] pulkit8 opened #1797 "Indexing is very slow"
I am trying to create an index using elasticsearch for a database with around 90,000 Posts.
The time being taken to create index is way high (like 24 hours+), however, ideally I don't think so it should be this high and hence would need some guidance on it.

Please find some related information below :

Elastic Search is setup on Linux Server with following Specs
20 CPU cores 2.5ghz Xeon E7
96GB R

[2020-06-10 20:17] photocurio opened #1798 "Delete an attachment with the CLI does not tigger ES sync"
The issue is the exact same as [WP-CLI Post Delete does not trigger es sync](https://github.com/10up/ElasticPress/issues/152), except I am deleting attachments not posts.

**Steps to Reproduce**
1. Delete an attachment with the CLI. The command is the same as for deleting a post: `wp post delete <id> --force`
2. Search for the attachment in the media library (its gone)
3. Search for the attachment

[2020-06-11 08:22] pulkit8 commented on #1797
`Processed 80042/80042...
Number of posts indexed: 80042
Total time elapsed: 61,686.840
Success: Done!`

[2020-06-11 08:47] alexgarciab opened #1799 "400 Bad Request - ElasticSearch remote_request()"
**Describe your question**

I have installed ElasticPress on a Wordpress website. I have installed Query Monitor as well, to monitor DB queries. What I have realized is that when I make a search (and ElasticPress & ElasticSearch are being used), I get a 400 Bad Request error.

This is related with the remote_request() call. Here is the screenshot of the error. How can I debut this and fix the erro

[2020-06-11 18:21] photocurio commented on #1798
P.S. can a sync be triggered from the CLI? I could just run a second command, as a workaround.

[2020-06-11 20:15] vnmedeiros opened #1800 "The condition for building the post_status parameter in a simple query"
Hey guys!
I have a doubt, on `post_status` parameter of the WP_Query class the default value is‘ publish ‘, but if the user is logged in,‘ private ‘is added, see:
https://developer.wordpress.org/reference/classes/wp_query/#status-parameters

but the elasticpress when on perform query only adds the private status if the request is made through an administrative page and if the user is logged in, se

[2020-06-12 00:55] #1757 closed

[2020-06-12 00:57] tlovett1 commented on #1718
@felipeelia does this work?

[2020-06-12 01:03] #1758 closed

[2020-06-12 11:23] photocurio commented on #1798
I tried these:

-  adding `add_action( 'delete_attachment', array( $this, 'action_delete_post' ) );` to SyncManager.php in the elasticpress plugin, at line 42. This does not work.
- I also tried disabling the early return in action_delete_post, thinking maybe attachments were not in $indexable_post_types.  That did not work.

[2020-06-15 11:00] MadalinWR opened #1805 "Remove source mappings from minified JS"
**Describe the solution you'd like**
Removing source mappings from minified JS.

**Additional context**
We're using this plugin along with a caching plugin.
Most of the caching plugins are ignoring minified files(js and css). As you already know, **facets-script.min.js** script is loaded in front end and as you can see in the picture bellow 85% of its content is the source mapping.
![image](https:

[2020-06-16 03:03] oscarssanchez commented on #1791
Hi @sinusiks ,

Yes you would need to add this through code.

Here is a sample on how to set a synonym:

[code]

If you want to add more complexity to this i recommend the following: https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-synonym-tokenfilter.html

Hope this helps!

[2020-06-16 03:09] oscarssanchez commented on #1777
Thanks @charinduedirisuriya ,

Can you do one sample query and report back the results from the elasticpress debug bar (both the sent JSON and response) ?

For example:
[code]

[2020-06-16 03:10] oscarssanchez commented on #1783
Hi @laranea ,

As there was no response we are now closing this. If this issue is still persisting please feel free to open a new ticket and we can check it again!

[2020-06-16 03:10] #1783 closed

[2020-06-16 03:14] oscarssanchez commented on #1781
Hi @laiconsulting ,

I have not tried this but perhaps something like wp elasticpress index --setup --url=yoursite would work to only index a particular one ?

As for your original question, without having experience with this particular case i would say this is not integrated yet into elasticpress. Did you have a chance to try it ? It would be great to confirm it!

[2020-06-16 03:19] oscarssanchez commented on #1799
Hi @alexgarciab ,

Can you please install the debug bar and elasticpress debug bar and paste the JSON query body and query result ?

Thanks!

[2020-06-16 06:46] laiconsulting commented on #1781
I tried it, it didn't work.
So I guess this is rather a feature request.
I'd like to have everything indexed, but a flexible way to exclude search of certain subsites.

[2020-06-16 16:15] photocurio commented on #1798
I resolved this in my app by sending a `_delete_by_query` post request to ElasticSearch, right after deleting the attachment.  https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html.  It's not an optimal solution, but it will do.

[2020-06-16 22:22] gustavo-roganti opened #1807 "Autosuggest stop working if a DOM change (eg. ajax request) replaces the input box"
I have a Search Form that on submit replaces itself with an updated version, via AJAX.

This has the side effect of replacing the <input type="search"> tag with a new one (same attributes).

This then breaks the Autosuggest: the new input tag doesn't have the event handlers attached to behave as an autosuggest field.

The code that attaches the events is not inside a function, nor is it exposed. I

[2020-06-18 10:02] volmerf commented on #1396
@brandwaffle any update on this would be much appreciated. We still can't search for the order number generated by the sequential order plugin?

Thanks.

@flaversaver21 did you solve this problem?

[2020-06-18 14:28] alexgarciab commented on #1799
Which debug bar are you referring to?

[2020-06-19 01:50] oscarssanchez commented on #1799
Hi @alexgarciab ,

The one in the WordPress.org repo please https://wordpress.org/plugins/debug-bar-elasticpress/

[2020-06-19 02:00] oscarssanchez commented on #1781
Thanks @laiconsulting ,

I will add the enhancement label to this. If you have a code solution for this in the meantime, please feel free to open a PR!

[2020-06-19 02:13] oscarssanchez commented on #1750
Closing per #1764

[2020-06-19 02:13] #1750 closed

[2020-06-19 10:18] goaround opened #1810 "Facet Widget & 3-level deep hierarchical taxonomy"
**Describe the bug**

We use the Facet to filter posts based on the custom hierarchical taxonomy Destination e.g.

[code]

But in the Facet Widget with Order Terms By Term Name and Term Order Ascending it looks like this:

[code]

If I change the Term Order to Descending, it looks like this:

[code]

It seems like that only one 2ed level item is allowed. On the 3rd level, more than one Item is fin

[2020-06-19 10:22] goaround commented on #1810
I think the bug has its origin somewhere here: https://github.com/10up/ElasticPress/blob/master/includes/classes/Feature/Facets/Widget.php#L180 but it's quite hard for me to understand this part of the function

[2020-06-19 18:28] felipeelia opened #1811 ""Search Fields & Weighting" Screen on Multisites"
**Describe the bug**

Currently, when ElasticPress is Network Active, the "Search Fields & Weighting" submenu item is not displayed under the ElasticPress menu but it is still accessible opening the "Post Search" feature box. The link points to a screen under the subsite Dashboard with no CSS applied.

**Steps to Reproduce**
1. Create a new WordPress multisite installation
2. Network Activate Elas

[2020-06-20 00:49] christianc1 opened #1812 "Meta queries after first meta query stripped from nested meta queries"
**Describe the bug**
When you are nesting meta queries more than a single level deep, all but the first meta query is stripped out of the deeper queries.

Take for example:
[code]
In this example, the meta query on `key2` get's stripped out because of https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable.php#L488

**Steps to Reproduce**

1. Nest multiple meta queries at a de

[2020-06-20 01:06] christianc1 commented on #1812
Note, you can workaround this issue by ensuring that `relation` key is the first element in the array, but that's sort of luck.  Happy to submit a patch, but the code causing this issue looks like it's in there to handle another strange edge case.  Maybe we can discuss the original intent more @tlovett1.

[2020-06-21 02:12] oscarssanchez commented on #1811
Mmmmm after checking the bug my question is do we want to have this feature "accessible" on multisite installations as it is now?

My thoughts are that each sub site should have its own weighting configuration. Some sub sites may even have their own custom post types for example and we want to make sure it just applies to those sub sites. Having a global weight settings looks troublesome for me.

[2020-06-21 02:33] oscarssanchez commented on #1800
Hey @vnmedeiros ,

I think you are right! I did a search with and without elasticpress.

Without, i get some results when looking for a private post. With EP enabled, I get no results.

I'll craft a PR for this.

[2020-06-21 05:39] pulkit8 commented on #1797
@oscarssanchez Hi,  do you have any insights on this ?

[2020-06-22 02:46] oscarssanchez commented on #1800
Hi @vnmedeiros ,

I made https://github.com/10up/ElasticPress/pull/1813 to address this. Could you give it a try see if it solves the issue for you?

[2020-06-22 18:34] vnmedeiros commented on #1800
Hi @oscarssanchez
cool!
I'll test, thank very much!

[2020-06-22 22:56] oscarssanchez commented on #1797
Hi @pulkit8 ,

Thanks for reaching out, I think there could be many reasons! Although disabling all plugins but elasticpress and keep seeing issues takes one of the most tedious parts!

With that said, before arguing it could be your elastic instance, can you let us know more about the data you are trying to index? Are there any custom fields in there? Do you have a lot of big media files?

[2020-06-23 01:55] oscarssanchez commented on #1798
Hey @photocurio ,

I did some testing here. Turns out this happens on all post types that are force deleted. I will take a look.

[2020-06-23 05:11] oscarssanchez commented on #1798
Hi @photocurio ,

I made PR https://github.com/10up/ElasticPress/pull/1814 to address this. Can you please give it a shot check if this solves the issue for you?

[2020-06-24 08:25] pulkit8 commented on #1797
Hi @oscarssanchez  thank you for looking into the query. Yes, there can be multiple reason, I tried debugging and doing many P&C before ending up asking help here :))

Are there any custom fields in there? : Yes, there are some custom fields here. eg. post-featured ( meta key ) and value set to 1 and few more exists.

Do you have a lot of big media files? : Big media files , no but large number of

[2020-06-24 17:39] ikoshele opened #1815 "Can't sync posts. Empty response."
Hi

When I'm clicking on sync icon, first request returns JSON data, but second one returns nothing, just empty response. JS catching error and that's it.
Will be glad if someone could help

![image](https://user-images.githubusercontent.com/54847623/85605135-96b55700-b65a-11ea-91e1-ad9733fd9492.png)

[2020-06-25 09:39] VoroDk opened #1816 "Widget ob_start/_get_clean visually in div but output is outside"
**Describe the bug**
In the Facets Widget, the terms is visually outputted within `ob_start();` and `$facet_html = ob_get_clean();` wrapped in a div with the class `terms`. The problem is the `$facet_html` is not echoed until after the div is closed, so the visual

[code]

is actually outputted as:

[code]

**Steps to Reproduce**

1. Create any term for any post type
2. Apply term to a post
3. Ins

[2020-06-25 10:40] dmhendricks opened #1817 "Enabling Indexing of Users & Terms Maps Date/Time Fields as Strings"
**Describe the bug**

If I activate indexing of Users and/or Terms, the schema for `post_date` and `post_date_gmt` is mapped as [text](https://www.elastic.co/guide/en/elasticsearch/reference/7.5/text.html) rather than [date](https://www.elastic.co/guide/en/elasticsearch/reference/7.5/date.html). This presents a bit of an inconvenience when I try to work with the data in Kibana because it doesn't l

[2020-06-25 12:37] ChrisWiegman opened #1818 "Indroduce a way to specify credentials via PHP constant."
**Is your enhancement related to a problem? Please describe.**
While _ep_host_ configuration is available via PHP constant, this is not extended to related fields, particularly the credentials when using elasticpress.io. In order to better help our users configure elasticpress.io on their sites, we would like to see the ability to apply all required configuration items, especially credentials, via

[2020-06-25 12:51] brown-a2 commented on #218
Hello, I'm having a lot of trouble trying to modify the default analyzer.

If I try to replace or add to the default analyzer array, ie
$mapping['settings']['analysis']['analyzer']['default']['filter'][] = 'secret_client_synonym_filter';

I get "Error: Mapping failed".

When I var_dump the array (see below), I can see it has been added to the array, the mapping is just failing.

    array(5) {

[2020-06-25 16:22] #1815 closed

[2020-06-26 19:14] iexpertini opened #1821 "wp elasticpress index --setup -path=/home/.../ --allow-root shows critical error although indexer is fine when run from plugin dashboard"
Hi Guys,

Need a help to run the Elasticpress indexer by cron job. As we have 99+ blogs and we can't run this indexer manually. We want to run this by cron.

Today, we tried to do and face the following error:

Error: There has been a critical error on your website.Learn more about debugging in WordPress. There has been a critical error on your website.
Adding post mapping...

Kindly please guide

[2020-06-28 05:30] oscarssanchez commented on #1821
Hey @iexpertini ,

I could not reproduce this, this works for me without issues:

`wp elasticpress index --setup --path=/var/www/html/ --allow-root`

I see you have a couple of errors and a fatal one before this message. I would try disabling that "iwj" plugin, as this seems unrelated to elasticpress.

[2020-06-28 11:38] soufianejayden1000 commented on #1442
hello sir i have also this problem when i login to my wordpress wp-admin.php it show product

when i copier web site link and past it in navigation private to see my blog as costumer it doesn't show the product

[2020-06-28 11:39] soufianejayden1000 commented on #1442
if you see the first screen : SCREENSHOT :                  https://cdn.filestackcontent.com/W3DXzvavTFStOIF7X0DY
and the second screenshot from navigation private :    https://cdn.filestackcontent.com/Z7iSaHXqRICnDTl0CuVz

[2020-06-28 18:12] iexpertini commented on #1821
Hi,

After analysing it further I noticed that ElasticPress also tries to index the pages and all other post types and creating the issues.

So when I define the post type as guided here: http://10up.github.io/ElasticPress/tutorial-wp-cli.html

It works for me with this command from cron: 0 * * * * /usr/local/bin/wp elasticpress index --setup --post-type=my_post_type --path=/home/public_html/myhom

[2020-06-28 21:16] oscarssanchez commented on #1821
Hi @iexpertini ,

Thanks for the feedback, I'll cc @brandwaffle for the post type frontend enhancement. In the meantime, if you would like to work on this feature and share it, please feel free to make PR as they are always welcome.

For now, a solution for this would be to use the `ep_indexable_post_types` filter to define your indexable post types programatically.

As for your other issue, 400,0

[2020-06-28 21:33] soufianejayden1000 opened #1822 "No products were found matching your selection."
Hello support how you doing  i have  a  problem  when i login to my wordpress wp-admin.php and move on  to my web site  in shop page it show product however .

when i copier web site link and past it in navigation private to see my web site as costumer it doesn't show the product in shop  page it show only this message No products were found matching your selection.

if you see the first screen :

[2020-06-29 03:48] oscarssanchez commented on #1822
Hi @soufianejayden1000 ,

Unfortunately it is difficult to give you an helpful answer without having much more context. As I could not reproduce what you are reporting locally, my first suggestion would be to disable all your plugins but Woocommerce and ElasticPress, and switch to a common theme like storefront, run a reindex and check if the problem persists.

This will help discard an external p

[2020-06-29 21:12] brown-a2 commented on #218
Just an update on my above comment. Using the `ep_config_mapping_request` filter, I was able to see the response coming back from Elasticsearch and it seems that using the`ewp_word_delimiter` and synonyms are incompatible. At least in the above order. I think I'd still the to know the correct approach here, should I even be trying to modify the `default` analyzer or should I just create my own cus

[2020-06-30 15:36] #1821 closed

[2020-06-30 15:37] tlovett1 commented on #1822
Seems like a caching issue.

[2020-06-30 15:37] #1822 closed

[2020-06-30 15:38] tlovett1 commented on #1816
What ElasticPress version are you running?

[2020-07-01 01:05] oscarssanchez commented on #1799
Hi @alexgarciab ,

As we have not heard back from you we are now closing this issue. If you still have problems please feel free to open a new one.

[2020-07-01 01:05] #1799 closed

[2020-07-01 01:06] oscarssanchez commented on #1791
Hi @sinusiks ,

As we have not heard back from you we are now closing this issue. If you still have problems please feel free to open a new one.

[2020-07-01 01:06] #1791 closed

[2020-07-01 01:06] oscarssanchez commented on #1777
Hi @charinduedirisuriya ,

As we have not heard back from you we are now closing this issue. If you still have problems please feel free to open a new one.

[2020-07-01 01:06] #1777 closed

[2020-07-01 08:51] tvcapisani opened #1823 "index number of shards and replicas should be configurable"
Actually ElasticPress does force indices creating with 5 primary shards and 1 replica shards each.
It would be nice to have an option to let the users change these default values depending on the ES cluster topology/configuration.

[2020-07-01 16:07] brandwaffle commented on #1823
@tvcapisani thanks for reaching out! You can set the number of shards and replicas during the initial mapping put (this is when ElasticPress sets the index replica info) with this filter: https://github.com/10up/ElasticPress/blob/ec3fd7ef9ae2c3dbfd658236845c2605a3855b55/includes/classes/Elasticsearch.php#L677

`Array
(
    [settings] => Array
        (
            [index.number_of_shards] => 5

[2020-07-01 16:07] #1823 closed

[2020-07-01 16:14] brandwaffle commented on #1817
@dmhendricks thanks for reaching out! From what I can see, the mapping for post_date is 'date' already: https://github.com/10up/ElasticPress/blob/1ad1716700e1be38b332ce08d7d5198dd6208145/includes/mappings/post/7-0.php

Can you share the error you're getting? I'm wondering if maybe the mapping isn't being properly applied and ES is guessing at some fields.

Also, I'd love to know what types of repo

[2020-07-01 16:16] brandwaffle commented on #1817
@tlovett1 since you're most familiar with Users/Terms, any chance you could also take a quick look at this one?

[2020-07-01 16:22] brandwaffle commented on #1797
@pulkit8 can you share which ElasticPress features you currently have active (e.g. Autosuggest)? If you have Documents or Protected Content turned on, start by trying to reindex without those. Beyond that, you can try reducing the number of items to index per cycle in the ElasticPress settings menu. If your issue is the WP code trying to prep a lot of posts, you'll see faster turnarounds per reque

[2020-07-02 09:29] VoroDk commented on #1816
@tlovett1 Version 3.4.2.

#1780 fixed a mismatch in opening and closing divs regarding `ob_start()` and `ob_get_clean()`.
The original bug actually made sure that the final output was correct, but semantically wrong.
This fix then made it semantically right, but because of the placement of `ob_get_clean()` and the actual echo of the output variable, it outputs outside the intended div.

[2020-07-02 18:11] alifazeli opened #1825 "Arabic custom mapping"
Hi

I have an arabic Woocomrece website.
I want add some custom mappings to have better results.

A mapping example is here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-mapping-charfilter.html#analysis-mapping-charfilter-analyze-ex

My elasticsearch version is  6.3.2.

My questions:
Is it possible with ElasticPress?
If yes
Which file should i add my custom mapping rule

[2020-07-03 10:42] nicklem opened #1826 "Filters: GET parameter naming collision"
**Describe the bug**

The way GET params are checked for the presence of filters conflicts with the way another plug-in populates query string filters.

The plug-in in question:
https://www.radiustheme.com/downloads/classified-listing-pro-wordpress/

An example of what the query string looks like on a search page as generated by the plug-in above:
`all-ads/?rtcl_location=&rtcl_category=&filters%5B

[2020-07-03 12:12] SimonvanWijhe opened #1827 "Delete page from edit.php does not remove page from elastic database"
**Describe the bug**

When deleting a page from `edit.php` the page is not deleted from the elastic database. Instead the post_status is changed to "trash".

This behaviour is different from when the page is deleted on the post page itself. (see screen recording)

**Steps to Reproduce**

1. Go to 'Pages'
2. Click on 'Trash' under the post title.
3. Go to elastic database
4. See that the page is st

[2020-07-04 09:22] pulkit8 commented on #1797
@brandwaffle

I have all the features off and only few necessary ones ON. (autosuggest is off, protected content is also off). Tried reducing the number of items to index already. Did many different settings but no luck.
For server part, as I shared the details, I had a full dedicated 4xE7 processor server with pretty much RAM and NVME disk too (top notch server). I have verified all settings for

[2020-07-06 20:40] scooterlord commented on #218
You are right, it probably has to do with the order of the filter. I managed to get the synonyms filter to work by directly changing the `includes/mappings/post/7-0.php` file and placing the synonym filter first.

I was too busy doing other things in the meantime, but at some point I'll have to deal with this issue properly using a wordpress function. If anyone happens to write a similar function

[2020-07-07 12:17] felipeelia commented on #1796
I'm closing this issue, as the question was answered. Please feel free to reopen it if needed. Also, this subject was also explored in more depth in this blog post: https://www.elasticpress.io/blog/2020/06/custom-fields-and-weighted-search-with-elasticpress-part-2/ :)

Thanks!

[2020-07-07 12:17] #1796 closed

[2020-07-07 13:33] edwinsiebel commented on #1827
Some additional information:

When deleting a document from the `edit.php` (thus the admin archive view), two requests are done to ES.

First, the actual delete of the document:

[code]

And afterwards, a bulk 'restore'/'save' of the `trashed` post, which is thus not desired:
[code]

[2020-07-07 13:49] edwinsiebel commented on #1827
And the culprit:

[code]

This triggers the `$this->index_sync_queue();`, which sends the _bulk action.

[2020-07-07 14:49] oscarssanchez commented on #1816
Can confirm this. Will work on a fix.

[2020-07-08 15:09] brown-a2 commented on #218
So, if it helps others, my final solution to the above was to use `array_merge()` to add my synonym filter to the default analyzer, but in the first position of the array. So as an example, using the `ep_config_mapping` hook, and the following code:

[code]

[2020-07-09 14:24] sanbalj919 opened #1832 "Search via Elasticpress not happening"
To enhance the Search functionality in our Marketplace, we are leveraging the ElasticPress V3.4.2. Activating the plugin got the Indexing done successfully and no problem with that.

However, search from the Woodmart Header is not going via Elasticpress and no queries to Elasticsearch are triggered(Checked with ElasticPress Debug bar plugin) ?

From application, search query is triggered with defa

[2020-07-09 16:51] brandwaffle commented on #1832
@sanbalj919 can you confirm the actual query being sent to the database still contains the ?s parameter? Sometimes we see plugins/themes overriding the default search functionality and creating a custom query. Also, I'm not familiar with Woodmart but if it uses ajax to reload results those queries would not appear on the debug bar.

[2020-07-09 16:52] brandwaffle commented on #1832
@sanbalj919 and can you confirm the WooCommerce Feature in ElasticPress is active?

[2020-07-13 01:49] tamara-m commented on #1797
@brandwaffle @pulkit8 Leaving this comment here in case it helps.

We started indexing a pretty large bbpress data set of ~1,700,000 posts and the associated postmeta from bbpress that adds several post meta records per post.

Running `wp elasticpress index --setup` with its default at 350 per cycle was taking between 3 and 4 minutes per cycle.

The process run like this for ~28 hours and then we

[2020-07-14 15:29] oscarssanchez commented on #1816
Hi @VoroDk can you test #1834 ?
Thanks!

[2020-07-14 15:41] #1818 closed

[2020-07-14 15:46] #1761 closed

[2020-07-14 17:33] naqirizvi commented on #1184
any update on the solution ?

[2020-07-16 14:25] MediaMaquina opened #1836 "Facets terms searchbox doesn't work"
**Describe the bug**

When i enter text on the facet search-box to narrow down terms it doesn't do anything.

**Steps to Reproduce**

1. Have facets
2. Type something in the searchbox
3. it doesn't search
4. no js errors or console errors, nothing.

**Expected behavior**

It should narrow down the list of terms of the facet.
**Screenshots**

![facets](https://user-images.githubusercontent.com/8179

[2020-07-16 14:35] MediaMaquina commented on #1836
I have a staging copy of the site (outdated).
With version 3.0.3 of elasticpress and this works fine.
I'm pretty sure some of the latest updates that messed with facets broke it.

[2020-07-16 18:28] pjohanneson opened #1838 "Documents' content not indexed from wp-admin, works from wp-cli"
**Describe the bug**
When I re-sync from my site's wp-admin pages, the contents of documents (PDF for sure) are not indexed. If I use `wp elasticsearch index [--url={site url}]`, they are indexed.

**Steps to Reproduce**

I have seen this in both a single site in a Multisite network, and when using network-activated Elasticsearch.

1. Add a PDF file to the site containing the string "Jezebel".
2.

[2020-07-16 18:44] pjohanneson commented on #1838
I found a similar issue in #1305, which was closed without any apparent resolution.

[2020-07-16 19:13] pjohanneson commented on #1838
To rule out plugin conflicts (because I seem to have a lot of them running on my local instance), I did a clean install of WordPress and tried it out. I'm seeing exactly the same issue on WordPress running TwentyNineteen and Elasticpress only.

## WP Health Check info

`
### wp-core ###

version: 5.4.2
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /index.php/%year%/%monthnu

[2020-07-17 04:55] oscarssanchez commented on #1838
Hi @pjohanneson ,

I could not reproduce this locally.

Can you try the following:

1.- Upload this sample PDF: http://www.africau.edu/images/default/sample.pdf
2.- Activate the documents feature
3.- Index
4.- If protected content is enabled: in the media page search for this string _this is a small demonstration_ or _boring_
5.- If protected content is not enabled: in the frontend, search for _th

[2020-07-17 05:05] oscarssanchez commented on #1836
Hi @MediaMaquina ,

I can reproduce this, it seems #1834 solves this for me. Can you give it a try?

Thanks!

[2020-07-17 13:50] pjohanneson commented on #1838
I'm seeing the same issues using the sample PDF. The dashboard indexing doesn't seem to include it; the command-line indexing does.

I'm going to try setting up an Elastic server on my local machine, to see if there's some kind of weird network problem affecting me.

[2020-07-17 14:32] MediaMaquina commented on #1836
@oscarssanchez thank you. Yes that's it.

[2020-07-17 14:32] #1836 closed

[2020-07-17 14:55] pjohanneson commented on #1838
Even using Elastic server on my local machine, I get the same effect: indexing from the dashboard doesn't seem to add the document content, but the command line does.

I've got Elasticsearch 6.8.10 running on both sites; do I need to upgrade to the latest version of the search server?

[2020-07-19 21:04] oscarssanchez commented on #1838
Hi @pjohanneson ,

I just tried this with 6.8.10 and i have no issues whatsoever. You may want to test with https://github.com/10up/wp-local-docker-v2 to rule out specific configurations in your environment.

Kind regards.

[2020-07-20 07:40] VoroDk commented on #1816
@oscarssanchez It works as intended in my end!
Thank you

[2020-07-20 17:31] DenisFlorin commented on #1799
Hello,

I'm opening this issue again because I'm getting the same error. I have 2 errors like in the title. I posted both of them. Below are the query body and query result:
`{
    "from": 0,
    "size": 2,
    "sort": [
        {
            "post_date": {
                "order": "desc"
            }
        }
    ],
    "query": {
        "more_like_this": {
            "like": {

[2020-07-20 17:38] DenisFlorin opened #1840 "400 Bad Request ElasticSearch remote_request() in Query Monitor"
Hello,

I'm seeing the following errors in Query Monitor:
![image](https://user-images.githubusercontent.com/38504865/87968298-ddb33280-cac8-11ea-86e4-0b050ff6004e.png)

I installed Debug Bar ElasticPress and below are the query body and query result:

`{ "from": 0, "size": 2, "sort": [ { "post_date": { "order": "desc" } } ], "query": { "more_like_this": { "like": { "_id": 381565 }, "fields": [ "p

[2020-07-20 20:14] brandwaffle commented on #1840
@DenisFlorin this error usually indicates that the ElasticPress mapping failed and therefore Elasticsearch is incorrectly guessing that the post_date is text. Can you try running the following WP CLI command?

`wp elasticpress index --setup --show-bulk-errors` and paste any output if that doesn't fix the problem?

[2020-07-20 21:39] mi-um commented on #1533
If someone is just looking for a quick way out, this helped me (using the WP CLI command):

wp eval 'delete_transient( "ep_wpcli_sync" ); delete_option( "ep_index_meta" ); delete_site_transient( "ep_wpcli_sync" ); delete_site_option( "ep_index_meta" );'

[2020-07-21 13:28] DenisFlorin commented on #1840
Hi @brandwaffle,

The WP CLI command has fixed my issue.

Thank you for your help!

[2020-07-21 13:28] #1840 closed

[2020-07-21 13:36] DenisFlorin opened #1841 "Related Posts not working as expected"
Hello,

I need help configuring elastic press to show related posts. For example, on this link https://www.addictivetips.com/internet-tips/whats-this-song/, the section "Related Reading" doesn't display correctly the related posts. Here is an image:
![image](https://user-images.githubusercontent.com/38504865/88061106-bfecd880-cb6f-11ea-8030-cb491175b26a.png)

Let me know if you need anything else

[2020-07-21 17:21] brandwaffle commented on #1841
@DenisFlorin you'll want to install the Debug Bar and Debug Bar ElasticPress plugins on your staging site. Then you can load that page in staging to see if ElasticPress is properly handling the query (if so, you'll see a 'more_like_this' in the query body). If the query itself is working, then you might want to consider additional customization of the query (https://www.elastic.co/guide/en/elastic

[2020-07-23 11:16] eriktad opened #1843 "Autosuggest is not working"
Hi there.
After the last (3.4.3) update autosuggest is not working.

**Describe the bug**

We have JS error on the autosuggest.
This is console output.
![image](https://user-images.githubusercontent.com/10712881/88280360-b477e980-ccf6-11ea-8027-7a30ab9d5df3.png)

This is our admin settings.
![image](https://user-images.githubusercontent.com/10712881/88280416-d2dde500-ccf6-11ea-9a70-ed203f02b85b.pn

[2020-07-23 19:39] MediaMaquina opened #1844 "How to enable Shingle Token Filter in Elasticpress?"
**Describe your question**
Hello my question is the same as this https://stackoverflow.com/questions/38760914/how-to-match-a-word-without-space-with-elasticsearch-data-having-space

How can i do that with elasticpress?

i already got this filter in place:

[code]

THANKS!

[2020-07-24 13:24] diazoxide commented on #1843
Yes its actual. Issue was related to `autosuggest.js` top includes. I noticed that jQuery dependency removed from wordpress enqueue.

[2020-07-25 22:04] eriktad commented on #1843
Fixed

[2020-07-25 22:04] #1843 closed

[2020-07-26 05:44] #1816 closed

[2020-07-26 08:45] vipul1113 opened #1846 "elasticpress plugin is not working on my elasticsearch enabled cloudways server"
__Have you searched for similar issues before submitting this one?__

__Is this a bug, question or feature request?__

__Describe the issue you encountered:__

__Current WordPress version?__

__Current ElasticPress version?__

__Current Elasticsearch version?__

__Where do you host your Elasticsearch server?__

__What ElasticPress features do you have currently active?__

__Other plugins installed

[2020-07-26 08:47] vipul1113 commented on #1846
Hello,

I have recently installed elasticpress by 10up and my host cloudways is elasticsearch enabled still plugin is not working i.e no action in search box as it was expected and other features like filtering options and so on .

Kindly guide me how to overcome from this situation.

Kind Regards
Vipul Arora

[2020-07-27 16:00] brandwaffle commented on #1846
Hi @vipul1113 unfortunately we are unable to provide support for self-hosted Elasticsearch. You can try installing the Debug Bar and Debug Bar ElasticPress plugins, which will tell you which queries are failing and why. If you feel there is a specific error causing the problem, please create a new ticket and fill out the questions in the bug report completely (versions, error messaging seen, etc).

[2020-07-27 16:00] #1846 closed

[2020-07-27 16:13] vipul1113 commented on #1846
Hi,

Thank you so much for your email.

I have tried to find error using debug bar, not throwing any error "No quires to show" but Elasticsearch isn't working. could you please suggest next option?

Kindest Regards.
Vipul Arora

[2020-07-27 17:29] brandwaffle commented on #1846
@vipul1113 again, we are really not in a position to help debug connection issues. However, if you would like us to review or provide support we need the basic info in the bug report as well as any screenshots so we can see what's happening. Keep in mind you need to 1) index your data in the Dashboard and then 2) perform a search to see ElasticPress work.

[2020-07-28 00:55] tlovett1 commented on #1827
Do you have the Protected Content feature enabled?

[2020-07-28 01:52] tlovett1 commented on #1843
What was the solution? Seems like this happens if your search input is not inside a `<form>`?

[2020-07-28 06:20] edwinsiebel commented on #1827
I don't have that enabled. Just the `Post Search`.

[2020-07-28 12:19] vipul1113 commented on #1846
Hello,

Thank you so much for your kind response and support.

I already have indexed data of my staging website but nothing works as expected, I am sending you relevant screenshots kindly take a look and guide me how to overcome from this situation. Please find the URL's below

https://i.imgur.com/X9slz58.png

https://i.imgur.com/zagRREo.png

https://i.imgur.com/ahofQHD.png

https://i.imgur.com/g

[2020-07-28 12:56] fabianmarz opened #1849 "[Qestion] Total field limit for huge amount of meta value mappings"
**Describe your question**

While the [default](https://www.elastic.co/guide/en/elasticsearch/reference/master/mapping.html#mapping-limit-settings) total field limit of Elasticsearch is `1000`, the [default](https://github.com/10up/ElasticPress/blob/develop/includes/mappings/post/7-0.php#L38) for ElasticPress is `5000`. This is caused by the Database design of Wordpress as each meta value is saved

[2020-07-28 16:02] peeyooshk commented on #1692
@moraleida @tlovett1  Any luck on this? We would be completing 5 months in couple of days to the issue being reported and no resolution till date.

[2020-07-28 19:53] SWICDEV opened #1850 "Can not get ElasticPress to work"
**Describe your question**

We have a fully setup server for ElasticSearch. It looks like we can index however the search terms are not registered on any theme we have. The weight does not seem to work as well. We get results of indexing in the Dashboard. We downloaded the Debug bar and Debug Bar ElasticPress. The debug shows no results. Suggestions?

[2020-07-30 14:14] lukecav opened #1853 "When will ElasticPress work with versions higher than 7.5"
The max version currently supported is 7.5.
https://github.com/10up/ElasticPress#requirements

The current version of Elasticsearch is 7.8.1.
https://www.elastic.co/downloads/elasticsearch

[2020-07-31 12:12] scooterlord commented on #218
Hello, I tried to combine the answers above, but still haven't found a way to make this work:

`function configMapping($mapping){
	 $default_filter_array_analyzer = $mapping['settings']['analysis']['analyzer'];

	 $mapping['settings']['analysis']['analyzer']['synonym'] = array(
	 	 'tokenizer'   => 'standard',
	 	 'filter'      => array('synonym_filter'),
	  );

	 $default_filter_array = $mapping[

[2020-08-01 20:05] MediaMaquina opened #1854 "Error: The element input must not appear as a descendant of the a element."
**Describe the bug**

The facets links are not hmtl5 valid.
**Steps to Reproduce**

1. Have facets
2. validate page with https://validator.w3.org/
3. Scroll down to 'Error: The element input must not appear as a descendant of the a element'
4. See error

[code]

**Expected behavior**

it should use valid html.

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:

[2020-08-01 20:09] MediaMaquina commented on #1836
@oscarssanchez i fins that the search works on the first facet, but not on the second, i have 3 inline.

[2020-08-01 20:16] MediaMaquina commented on #1854
Also another error with facets:

**Error: Element a is missing required attribute href.**

This happens when we have
`<a  rel="nofollow">`
On terms that are disabled (no posts with that term). a lacks href.

[2020-08-02 10:33] dinhtungdu commented on #1508
I test this multiple times but can't reproduce the issue. It always shows the correct amount of indexed posts.

[code]

[2020-08-02 14:14] iexpertini opened #1855 "How we can index some post_type and escape other post type from update"
Hi there,

We have 5 post type

Jobs always get updated daily
Salary, posts, pages won't get updated

But if we run this command it will do only for post type jobs:

wp elasticpress index --setup --post-type=jobs

So we want to run the index from ssh and don't want to update salary,posts and pages.

Thanks,
Ahsan

[2020-08-03 02:32] oscarssanchez commented on #1827
Hi @edwinsiebel @SimonvanWijhe ,

I could reproduce this when protected content is not enabled. However, I am wondering if the actual behavior should be the opposite and the bug is the opposite: when you trash a post from the post edit page itself.

It is not fully clear to me whether the `trash` post status belongs to the protected content feature so I will check internally.

[2020-08-03 02:41] oscarssanchez commented on #1850
Hi @SWICDEV ,

If you get results when performing a search in the admin dashboard that is good news, it means your content is on elasticsearch! Now to do your queries through elasticsearch, you would need to perform your search via a WP_Query() object and pass the ep_integrate parameter. For more information please refer here: http://10up.github.io/ElasticPress/tutorial-indexables.html

[2020-08-03 02:44] oscarssanchez commented on #1849
Hi @fabianmarz ,

Usually making a list of meta fields and exclude them from indexing is the preferred path as of now. In case you find some patterns in your post meta, this comment might be useful:

https://github.com/10up/ElasticPress/issues/1192#issuecomment-575231184

[2020-08-03 02:49] oscarssanchez commented on #1844
Hi @MediaMaquina ,

From what I could read, elasticsearch would need to create new tokens, meaning the code from stackoverflow should not go into the `ep_formatted_args` filter (used to alter search), but rather at indexing time. So you would need to add a filter to the default mappings. Unfortunately, I am not familiar with the Shingle tokenizer but this is how we added a filter for synonyms, so

[2020-08-03 15:39] dinhtungdu commented on #1855
Hi @iexpertini,

You can index multiple posts type by passing a comma-separated list to the `--post-type` flag, for example:

[code]

Hope this helps!

[2020-08-03 17:08] iexpertini commented on #1855
Yes we use this for all post but my request is we don't want to update again e.g. salary post as it won't change. Where as jobs post changes daily.

[2020-08-03 17:13] DenisFlorin commented on #1841
Hello,

I attached my query bodies here. I don't understand from here https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html how I can configure them.

`{
    "from": 0,
    "size": 2,
    "sort": [
        {
            "post_date": {
                "order": "desc"
            }
        }
    ],
    "query": {
        "more_like_this": {
            "like": {

[2020-08-04 02:17] iexpertini commented on #1855
Since salary post don't get updated daily and it has 100k posts and whereas jobs has 200k posts.

So whenever we run this

wp elasticpress index --setup --post-type=jobs,salary

it will delete and reindex all 300k posts.

So idea is since only jobs post updated and avoid load time. I want only jobs post to update and keep salary post as it is.

So in this scenario what command I should use.

Hope

[2020-08-04 06:34] dinhtungdu commented on #1855
@iexpertini Each time you update a job post, it should reindex that job. Why do you need to index it again? Is the reindexing on update not working for you?

[2020-08-04 06:52] iexpertini commented on #1855
Yes, if jobs post are updated  / added / deleted it won't automatically sync in Elasticsearch. We thought may be it is because of large number of jobs 200k+.

So the reason we do run cron command to manually update it daily.

[2020-08-04 07:14] iexpertini commented on #1855
To be honest if that sync happens automatically with that large data of 300k posts it will solve our problem.

[2020-08-04 09:38] edwinsiebel commented on #1827
Hi @oscarssanchez ,

Using Protected Content seems unusual for this case.

When not using Protected Content, I would think that only 'published' content will be pushed to ES. Trashed items are not published (or publicly available) content.
Thus, either trashing it vai the post edit page itself, or on the overview pages, it should not be pushed to ES (and should be only deleted from ES).

Just my 2

[2020-08-04 09:43] dinhtungdu commented on #1855
@iexpertini Can you try adding this code to wp-config.php and see if EP indexes your posts after create/update:

[code]

[2020-08-04 15:09] itGuyFacethesound commented on #1810
the bug is originated here :
https://github.com/10up/ElasticPress/blob/develop/includes/utils.php#L427
($to_process = $term->children + $to_process;)
can be fixed changing the line to
with
					$to_process = [...$term->children,...$to_process ]; ( php 7.3, not suggested )
or
					$to_process = merge_array($term->children,$to_process); ( should work everywhere)

[2020-08-04 15:49] tlovett1 commented on #1807
@oscarssanchez please investigate.

[2020-08-04 15:54] MediaMaquina commented on #1844
Thanks @oscarssanchez for looking into it. I don't understand elasticpress to implement it. Please leave it open in case someone else can in the future, could be an interesting feature.

[2020-08-04 15:55] tlovett1 commented on #1811
The page should not exist and the link should not be shown. Use `EP_IS_NETWORK` constant.

[2020-08-04 15:57] #1838 closed

[2020-08-04 17:19] #1508 closed

[2020-08-04 17:25] iexpertini commented on #1855
I tried this for some time and noted it won't work for me. May be usually 10k jobs deleted and update in 1 hr the automatic process won't work.

Elasticsearch count:  225311
Actual Post: 245419

So my idea is running from cron daily jobs and skipping salary

A) If I run this daily what will happened?

wp elasticpress index --post-type=jobs --path=/home/myindexer/public_html/ --allow-root

Will thi

[2020-08-04 18:16] shaneonabike opened #1856 "ElasticSearch doesn't meet minimum requirements"
**Describe the bug**
I have a self-hosted ElasticSearch (first tried the latest 7.*, and then after reading through the tickets found that 6.8 was working for folks. So I'm presently using 6.8. Unfortunately, ElasticPress does not detect my version. If I do a

curl -XGET 'http://127.0.0.1:9200' or the same but with localhost I get:

`{
  "name" : "qmQM8Sd",
  "cluster_name" : "elasticsearch",
  "c

[2020-08-04 18:42] shaneonabike commented on #1856
Ok I finally see the problem! With the stock install there is a port that is configured which is awesome and more secure. I don't see an option to set that in settings (I actually assumed it would attempt the default 9200 port or prompt me I suppose). Once I put

http://localhost:9200 all was well!

Is it possible to update the documentation to indicate that port must be in the URL (or even in the

[2020-08-05 08:33] pulkit8 commented on #1797
@tamara-m  I tried this P&C already, however, no luck.
New index command runs fast for existing index batch and then drops the speed.

Takes forever to create index.

Didn't receive any in-depth detail to debug or fix this.

[2020-08-05 12:54] adiloztaser opened #1857 "Every edit page view triggers ES sync"
**Describe the bug**

`_edit_lock` meta is updated each time visiting post edit page and then ElasticPress triggers ES sync. It seems like an unnecessary request.

**Environment information**
 - WordPress version: 5.3.4
- ElasticPress: 3.4.1

[2020-08-06 02:56] dinhtungdu commented on #1692
Hi @peeyooshk, I can't reproduce your issue either. I can see the correct count on the brands page, and correct products served by ElasticPress in the brand archive page. I use WP 5.4.2 with EP 3.4.3 and Perfect Brands for WooCommerce 1.8.3

[2020-08-06 16:16] fredroo opened #1858 "WP-CLI not working full database"
**Describe the bug**
when run  nohup wp elasticpress index --post-type="domain"
only some posts are indexed, but not total

**Steps to Reproduce**

1. command line
2. run command  ```nohup wp elasticpress index --post-type="domain```
3. See error success page refresh data

**Expected behavior**
Full Indexed
**Screenshots**

                <button type="button" class="btn btn-success ml-3 mb-2">Re

[2020-08-08 04:21] alexminh-its opened #1859 "400 Bad Request! Really need help to fix it."
I active ElasticPress Query Log and here is result I have for this problem. Do anyone has fixed this? Really need help to fix it.
{
    "error": {
        "root_cause": [
            {
                "type": "query_shard_exception",
                "reason": "No mapping found for [meta._priority.raw] in order to sort on",
                "index_uuid": "FA56AG4wSFKGDYOBi5sstg",
                "in

[2020-08-09 16:58] #1603 closed

[2020-08-10 09:52] iexpertini commented on #1855
Can you please confirm I run only this command it will only update jobs post type and don't delete other post type from indexer

wp elasticpress index --post-type=jobs --path=/home/myindexer/public_html/ --allow-root

[2020-08-11 02:43] jeffpaul commented on #1692
@peeyooshk we've been unable to replicate your issue.  Could you please re-test to see if things are working as expected?  If its still not working for you, then please provide your Site Health Info export to help us better troubleshoot with you... thanks!

[2020-08-11 15:35] #1856 closed

[2020-08-11 15:38] brandwaffle commented on #1858
@fredroo can you post any errors you're seeing or additional information? It's not clear to me what the issue is. Also, are you intending to index only the Custom Post Type "domain"? If you want to index all post types, you should remove that parameter. Also, the first time you run WP-CLI to index you will need to pass in the --setup flag.

[2020-08-11 15:52] jeffpaul commented on #1792
@mbanusic could you try out the branch from #1851 and provide feedback there if that's helping cover your use case with Co-Authors Plus?

[2020-08-11 16:49] fredroo commented on #1858
@brandwaffle i will put --setup flag to test and back here to put the result with full logs

[2020-08-11 21:43] fredroo commented on #1858
Warning: mysqli_query(): (HY000/3): Error writing file '/tmp/MYYmS5PF' (Errcode: 28 "No space left on device") in /home/whatismy/public_html/wp-includes/wp-db.php on line 2024
Number of posts indexed: 32550
Total time elapsed: 2,537.792
Success: Done!

@brandwaffle i found the problem, how i can change folder tmp to another place to solve? consider the versions above

[2020-08-11 22:08] fredroo commented on #1858
i tried change in  /etc/sysconfig/elasticsearch
ES_TMPDIR=/mnt/backup/estmp

but restart elasticsearch not work

someone know how to change with the right way

[2020-08-11 23:27] fredroo commented on #1858
solved, change mysql tmp dir in my.cnf

[2020-08-11 23:27] #1858 closed

[2020-08-12 16:13] brandwaffle commented on #1859
Hi @alexminh-its,

The issue you're seeing is likely because that field is private meta which is not automatically indexed by ElasticPress. The solution is to add this filter:

`function whitelist_meta_keys( $meta, $post ) {
    return array_unique(
        array_merge(
            $meta,
            array(
                '_priority'
            )
        )
    );
}
add_filter( 'ep_prepare_meta_a

[2020-08-13 14:05] SWICDEV commented on #1850
Hello,

Thank you for the reply however I am still not able to get the search to work or queries to show up in the ElasticPress Dashboard through ElasticSearch/ElasticPress.

I have tried a few different things using WP_Query on multiple pages including the search page however I still cannot get a Query to show up in the ElasticPress Dashboard or the search to work.

I also tried to add the ep_int

[2020-08-13 14:32] amesplant opened #1860 "Accessibility issues with Autosuggest"
**Is your enhancement related to a problem? Please describe.**
Autosuggest has some A11y issues that should be corrected

**Describe the solution you'd like**
WCAG Item | fix needed

**1.4.11**

- while a focus indicator is present, it is not highly visible and can be improve upon

**2.1.1**

- tab should not be used to cycle through list of suggestions (only the up and down arrow should be used t

[2020-08-13 14:35] shaneonabike opened #1861 "Facets cannot be added to pages containing custom post queries"
**Describe the bug**
I'm creating a custom page (like a search) which includes the Posts widget. I have successfully modified the WP_Query so that it requests the data from Elastic. Hooray!

The bigger issues is when I include the Facets they don't appear. I'm assuming there is some logic that is preventing Facets from appearing on certain pages. Maybe this is somewhat related to #1304

**Steps to

[2020-08-13 14:47] amesplant commented on #1854
### Additional A11y Issues to address with this ticket
**1.3.1**

- This form field should be labelled in some way. Use the label element (either with a "for" attribute or wrapped around the form field), or "title", "aria-label" or "aria-labelledby" attributes as appropriate.
facet checkbox:
`<input type=""checkbox"" checked="""">`

**1.4.3**

- when a facet term is 'inactive' the minimum color co

[2020-08-13 15:07] diazoxide commented on #1843
We just used input field class name that already used on EP autosuggest JS. After changing issue fixed.

[2020-08-13 15:48] brandwaffle commented on #1861
@shaneonabike my guess is you're running into the is_main_query() check here https://github.com/10up/ElasticPress/blob/84ba959f31944ece2fd507c4fff679daa71cd024/includes/classes/Feature/Facets/Facets.php#L195

The Facets are designed not to appear on single pages, since there's no way to facet in that context. I'm guessing since Elementor is adding this list of posts to a single page, the main quer

[2020-08-13 17:10] shaneonabike commented on #1861
Ok so from what I can see the first block is definitely the is_main_query();

The second block I found was here
`                if ( ! ( ( function_exists( 'is_product_category' ) && is_product_category() )
                        || $query->is_post_type_archive()
                        || $query->is_search()
                        || ( is_home() && empty( $query->get( 'page_id' ) ) ) )

[2020-08-13 17:10] #1861 closed

[2020-08-13 17:15] brandwaffle commented on #1861
@shaneonabike thanks for the update!

I do think if we apply some additional logic in the plugin we can get facets to apply to post archive lists that are nested inside single pages without the breakage you saw, but if the workaround is easy enough, I'd love to avoid that effort. Does the approach of using the archive page work well in your case, or are there tradeoffs vs the approach you wanted t

[2020-08-13 17:21] shaneonabike commented on #1861
It works great actually.!

I mean the only hangups that I am presently struggling with is how to get a search box that just searches the archive, and another strange issue where the results are appearing twice when filtered (this is true to the main search as well).

[2020-08-13 17:55] shaneonabike opened #1862 "Facet dropdowns"
First thanks for the awesome plugin it's really great!

**Is your enhancement related to a problem? Please describe.**
Basically, for Facets to be more mobile friendly checkboxes normally digress into dropdowns to take up less room. In my case, I probably need a dropdown all the time because we have a tonne of terms.

**Describe the solution you'd like**
Basically, in the widget it would be really

[2020-08-13 18:27] shaneonabike commented on #1862
Looks like we just need to add a small switch to the code here that checks the appropriate switch https://github.com/10up/ElasticPress/blob/d19fc41496b793a1224be73f26de9eeeb3823757/includes/classes/Feature/Facets/Widget.php#L173 (and beyond)

[2020-08-13 18:28] shaneonabike commented on #1862
Oh and probably we need to also modify the JS code to detect the selection although you can easily inline that like a jump menu.

[2020-08-13 19:11] steven-klein commented on #1712
@gregkellerman I think this is a dupe.  There's a solution posted here: https://github.com/10up/ElasticPress/issues/1020

[2020-08-13 19:40] #1712 closed

[2020-08-13 21:18] SWICDEV commented on #1850
Update: Still not getting the search to work through ElasticPress and still not getting queries in the ElasticSearch dashboard however I have a working version of WP_Query using the below settings.

$args = array(
   'ep_integrate'   => true,
    'posts_per_page' => 5,
    'post_type' => 'page',
    'orderby'   => 'title menu_order',
    'order'     => 'ASC',
	);

$the_query = new WP_Query( $args

[2020-08-14 14:03] shaneonabike opened #1863 "Searching by ACF fields"
**Describe your question**
Basically, I have read through a lot of the documentation, and the tickets here and I _think_ I have properly configured everything for my ACF fields to be indexed. They are coming back during a search so that's awesome.

What I think that I am missing is to properly understand how we can search by values in the ACF fields themselves. I'm happy to build my own facet but

[2020-08-14 14:07] shaneonabike opened #1864 "Facets disappear when adding additional attributes in url"
Thanks so much for this rad plugin. Please let me know how I can help debug and contribute.

**Describe the bug**
When I add a new order_by listing in the URL the facets suddenly disappear although they are still relevant.

**Steps to Reproduce**
`function my_search_filter($query) {
  if (!is_admin() && $query->is_main_query()) {
     // Grab the post_type && add specific fields if true
     $post

[2020-08-14 19:40] shaneonabike commented on #1863
I managed to get a little farther and setup the following bit of code in pre_get_posts

`       if (isset($_GET['artists'])) {
          $query->set('meta_query', [[
            'key' => 'artists',
            'value'=>$_GET['artists'],
            'compare'=>'=',
          ]]);
`
The problem is that the ACF field is a relationship so it returns not an integer but a bunch of other data. This is be

[2020-08-14 19:42] shaneonabike commented on #1864
Ok it appears as though the problem was that I placed another array around my $fields value. This was causing things to blow up and essentially throwing an error that I couldn't see (unless I used the Debug tool).

So this is my fault and therefore I'm closing this. Sorry!

[2020-08-14 19:42] #1864 closed

[2020-08-15 17:31] moejoee91 commented on #1042
any update on this ?

[2020-08-16 12:14] salvoaranzulla opened #1865 "Related posts show latest published posts"
**Describe the bug**

I have put the following code to show related posts in single.php:

function show_related_posts() {
    $posts = ep_find_related(get_the_ID(), 5);
    $output = [];
    foreach($posts as $post) {
        $output[] = '<a href="'.esc_url(get_permalink($post->ID)).
        '">'.esc_html(get_the_title($post->ID)).
        '</a>';
    }
    return implode('<br/>', $output);
}

ech

[2020-08-17 12:15] DenisFlorin commented on #1841
Hello @brandwaffle

Can you help me?

First of all, I would like to know if the query is fine.

Thank you,

[2020-08-18 10:18] scooterlord opened #1866 "Autosuggest - how does it work?"
**Describe your question**
I am trying to make autosuggest work, but have no idea where to start since it is not documented anywhere... I tried to unluckily connect bits and pieces I found on the web, with no luck.

I am using an elasticsearch server hosted by elastic.co.

My questions as follows:
- Do I need to create my own REST endpoint to connect to autosuggest?
- After this endpoint is create

[2020-08-18 18:58] shaneonabike commented on #1863
Ok I realiized that some of this has to do with the way that ACF fields are being dumped into the actual ElasticSearch data (perhaps a bug). I had setup the field to return the Post ID rather than an entire array / object, and instead it seems that the JSON is being placed into the actual data structure.

I modified that now to ensure that the actual ACF relationship is being setup properly where

[2020-08-18 20:09] SWICDEV commented on #1850
Still at it on my end I see X-ElasticPress-Query: true in chrome network tab however still not getting the correct search results and weight does not do anything as well as nothing showing up in ep-query-log or debugger

[2020-08-19 04:07] jeffpaul commented on #1692
Closing this issue for lack of response, happy to re-open if @peeyooshk confirms this is still an issue and can provide the additional details from Site Health Info.

[2020-08-19 04:07] #1692 closed

[2020-08-19 10:47] Melatti opened #1867 "Notice: REST API route definition for elasticpress/v1/pointer_search is missing a required permission_callback argument"
**Describe the bug**

Wordpress shows this warn when start to edit a post:

**Steps to Reproduce**

1. Edit a post
2. See error

**Environment information**
- Wordpress 5.5
- Elasticpress 3.4.3

[2020-08-19 19:57] shaneonabike opened #1868 "ElasticPress pings ElasticSearch regularly with updated mappings"
**Describe the bug**
In the process of debugging a few indexing issues I had outputted a custom filter I had created for `ep_indexable_post_types`. In my logs I can see that ElasticPress is pinging, and updating the server every 2 minutes.

I was wondering if this is by intention or a bug? I have a cron job setup to update the index every 15 minutes, but I don't believe the mapping needs to be upd

[2020-08-20 02:05] tlovett1 opened #1869 "Skip Install Button"
There should be away to "skip" in each screen of the install. This provides a much better experience than being forced to do things you might not want to do.

[2020-08-20 05:48] maartendekeizer commented on #1853
A few days ago Elasticsearch 7.9.0 is released.
Is there an list of issues that needs to be fixed to get ElasitcPress up and running for newer ES versions?

[2020-08-20 14:17] photocurio commented on #1798
OMG thank you @oscarssanchez for working on this.  I forgot all about it after I found a workaround.  But I'll test this fix.

[2020-08-20 21:10] SWICDEV commented on #1850
Hello,

I thought I was supposed to post replies to the site however looking at this email it says reply to this email directly. Just in case I should be doing that instead here is the posts I updated on the site. I am still having issues getting the search, ep-query-log, weight and everything to work. I do have the index working it looks like. I am using the Sage theme however have the same thing

[2020-08-21 15:46] kyleramirez opened #1870 "Private posts are hidden from admins in regular post index"
**Describe the bug**
As a logged in administrator on a default front page (regular loop of posts), you can normally see private posts in the same list that you can see other public posts. If you log out and become a regular visitor, only the public posts are shown on the page. This is default WordPress functionality. After turning on ElasticPress, those private posts are missing, showing only the

[2020-08-23 09:30] aaronjpitts opened #1871 "Cannot add new field types to mapping"
Hi guys,

I'm building a custom autosuggest and I need certain fields to have a `search_as_you_type` field, therefore to start, I'm trying to add this to the `post_title` field using the below:

[code]
I run `wp elasticpress index --setup` and the mapping runs fine. But I can see in kibana this field is not being added. Am I missing something?

Running ES 7.5 and latest version of the plugin.

Tha

[2020-08-24 05:58] oscarssanchez commented on #1850
Hi @ SWICDEV,

Can you confirm that the indexing is successful from WP-CLI and you get no errors? please run this command: wp elasticpress index --setup --show-bulk-errors

I have the feeling your indexing didn't complete.

[2020-08-24 05:58] #1849 closed

[2020-08-25 06:58] edwinsiebel commented on #1827
Any research of improvements on this issue?

[2020-08-25 15:57] brandwaffle commented on #1853
Assigning to @oscarssanchez to test against 7.9 and bump compat if successful.

[2020-08-25 18:02] SWICDEV commented on #1850
Hello,

I still cannot get the search to work right or query to show up in admin panel or in Debug Bar ElasticPress. ☹

It did have some errors however when we fixed the errors and ran it again we got
Warning: Function pcntl_signal not available. Make sure to run `wp elasticpress clear-index` in case the process is killed.

We ran `wp elasticpress clear-index`

Success: Mapping sent
Success: Mappi

[2020-08-26 03:16] n9yty commented on #1866
I haven't gotten it to work either, but I'm not sure if you need to create the REST endpoint so much as you need a redirect in your web server to forward that endpoint over to the elasticsearch endpoint. That is what the sample nginx config I found showed, but I will confess that I haven't managed to get that working.

It would be nice to have a working config documented.

[2020-08-26 04:41] n9yty commented on #1866
I also see ticket #1504 here which seems to suggest the same. I had tried, but the apache2 instance installed on the test site I was using did not have proxy installed. After installing proxy, one line was enough in my htaccess file:

RewriteRule ^your_endpoint$ http://127.0.0.1:9200/_search [P]

I also found [this page ](https://florianbrinkmann.com/en/autosuggest-elasticpress-apache-4714/) with

[2020-08-26 05:44] scooterlord commented on #1866
Thanks for your reply! But I have a problem with the breaking callback function. If you use the rewrite what’s the purpose of creating an endpoint anyway?

Your reply confused me more than actually helping me!

[2020-08-26 16:03] n9yty commented on #1866
My point was that you don’t need to create a WP REST endpoint. You are doing a lot of work for nothing. The ElasticSearch service already has a running endpoint, you just have to proxy the requests to it.

[2020-08-26 16:53] scooterlord commented on #1866
This makes more sense, but still, how do you retrieve results back to WP?

[2020-08-26 17:37] n9yty commented on #1866
It is all handled automatically. The ElasticPress plugin puts a listener on the search field (or however they are doing it) and as you type characters it is making a call to the endpoint specified in the settings, which is then proxied to the ElasticSearch _search endpoint, and it takes those results and updates the dropdown it creates with the results of the search results. Basically, once I put

[2020-08-26 19:12] scooterlord commented on #1866
This is very helpful! I will look into it and report back as soon as I have results!

So, no wp endpoint, I will just define it via htacces rewrite and see what happens

[2020-08-26 22:05] scooterlord commented on #1866
I've been trying with trial and error but still no luck... I asked for help from my hosting provider, they might be able to help..

[2020-08-26 22:07] n9yty commented on #1866
You might need to verify that your Apache has mod_proxy installed. Mine did not, but it did not complain about that configuration, it just silently did not work. If you have the JavaScript console open when trying the search field, you should see errors in there for every character you type. I was seeing 404 errors or others, depending on what I had tried. That would be my next thing to look at be

[2020-08-26 22:15] scooterlord commented on #1866
Thank you very much for your support so far! However, I don't see any errors either in the console or the network XHR.

However, hitting https://mydomain.com/es-search now gives a 500 error. That's a good thing, right?

[2020-08-26 22:27] n9yty commented on #1866
Just to be sure, in the configuration page for ElasticPress, you put in the FULL URL for the endpoint, right?

 So you would put in:

https://mydomain.com/es-search

Then the htaccess  rewrite would be:

RewriteRule ^es-search$ http://127.0.0.1:9200/_search [P]

Assuming your ElasticSearch is running on the localhost on port 9200.

Then, after you verify it is working, you might put this in above

[2020-08-26 22:33] scooterlord commented on #1866
I am using Elastic Cloud service, not a local environment... and for the endpoint I just added `/es-search`. I am going to test with the full endpoint, after I type this.

Since I am using the elastic cloud service, I followed the other link you posted and essentially here is what I put in my .htaccess. For some reason it was not working at all inside the `<ifModule mod_rewrite.c>` so I put the fo

[2020-08-26 22:37] brandwaffle commented on #1866
@n9yty @scooterlord running your own endpoint is certainly possible, and the approach you are taking will definitely enable autosuggest. The reason we don't provide a tutorial on this is that the resulting autosuggest endpoint becomes fully available to the world, and therefore your data can be easily modified/deleted by someone with knowledge of Elasticsearch and JavaScript. As you noted, you can

[2020-08-26 22:41] n9yty commented on #1866
@brandwaffle Curious, when I put the RewriteCond in there, I can not get redirected through the proxy to the local Elasticsearch instance, and the port to it is not available on the public interface, so what am I missing that is a larger security hole? I ask in honesty, I don't know. But as it is configured, it works for the autosuggest, but if I try to access that endpoint from another host I get

[2020-08-27 08:47] scooterlord commented on #1866
...looks like my server doesn't allow redirection through apache because it doesn't support mod_proxy... so I need to figure out another solution.

So, from what I realize from the conversations above I just to create the wordpress REST API and connect it through the admin. What about the callback action though?

@brandwaffle Will this be a more secure option compared to Apache redirects?

[2020-08-27 15:11] #1867 closed

[2020-08-27 15:39] #1826 closed

[2020-08-27 15:54] brandwaffle commented on #1866
@scooterlord it will definitely be more secure, as you can enforce more granular checks via the REST API. The tradeoff of course is that you go from a < 100ms direct call to ES to probably a few hundred ms to talk through WP to ES.

@n9yty not sure what exactly happened to the thread--I have an email reply I was trying to address for you about security implications, but it seems to be gone from he

[2020-08-27 17:53] n9yty commented on #1866
@brandwaffle  That is a wonderful summary. I wish you could put that in the "docs". :). Very helpful! Thank you for taking the time to spell this out, hopefully it will avoid someone from a data disaster if they see it spelled out this clearly.

I wonder if something like this would be helpful to protect the autosuggest... You could still have protected data available but for the autosuggest endpo

[2020-08-27 19:53] scooterlord commented on #1866
@brandwaffle thank you for the thorough explanations - obviously there is also a ton of new things to learn especially if it is out of your field.

Regarding the endpoint I still haven’t managed to make it work. I created the REST endpoint and I can hit it. I am having problems with creating the callback function. Is there any up to date snippet for the callback function? I tried every single snip

[2020-08-27 20:39] brandwaffle commented on #1866
@scooterlord Unfortunately I don't have any examples. There might be others going the self-hosted ES route who have tried this approach, but since ElasticPress.io was built to handle this specifically, I'm not personally aware of anyone using any REST API-based workarounds.

I appreciate both you and @n9yty engaging in this dialog with me so candidly and courteously. In that spirit, I'd like to ju

[2020-08-28 04:14] christianc1 commented on #1863
@shaneonabike ,

You can try the [`ep_post_formatted_args`](http://10up.github.io/ElasticPress/ep_post_formatted_args.html) filter.  That said, I haven't heard of using elasticsearch field mapping types to represent two totally different fields.  By that I mean, it would appear you're doing something like `post_id : meta.raw` and `post_content : meta.value`. Perhaps it is better (elasticsearch is

[2020-08-28 07:54] turtlepod opened #1875 "Search for Custom Post Type is not working for Multisite."
**Describe the bug**

In multisite, the option is in network admin.
If a post type only registered for a sub-site, WP will not aware of the post type.

**Steps to Reproduce**
1. Create a plugin with custom post type.
2. Only enable it in a sub-site.
3. Navigate to Search Weight option wp-admin/admin.php?page=elasticpress-weighting
4. we will not see the post type.

**Expected behavior**
This optio

[2020-08-28 14:00] jurnet opened #1876 "Is there any way to custom autosuggest list?"
Hi from france,
First I'm very happy because this plugin works very well for me.
Second , I need to custom the autosuggest list with at the bottom of the list something like a link ALL RESULT.
How Can I do that ?

Thank you

[2020-08-28 15:32] brandwaffle commented on #1876
@jurnet here's some code from another site that does just that. You may have to slightly edit it depending on the specifics of your site and EP hosting, but it should get you most of the way there:
`
            (function() {
                let filterElasticsearchResponse = false;
                let searchTerm;
                $.ajaxSetup({
                    beforeSend: function(xhr, settings)

[2020-08-28 15:34] brandwaffle commented on #1868
@shaneonabike the plugin does ping the server every few minutes to ensure it's operational, but it shouldn't be updating any mapping. Can you elaborate on the cron job and what it's doing? By default, ElasticPress uses the save_post hooks to ensure that any posts are synced in real-time when updated in WordPress, so a cron to update things shouldn't be necessary in most cases.

[2020-08-28 15:35] brandwaffle commented on #1862
@amesplant can you take a look at this and share the effort to add this feature in our next weekly EP meeting?

[2020-08-28 15:36] #1859 closed

[2020-08-28 15:38] brandwaffle commented on #1855
@iexpertini Correct, as long as you don't pass `--setup` then your command will reindex _only_ the jobs post type and will not delete or change other post type entries.

[2020-08-28 15:38] #1855 closed

[2020-08-28 15:43] brandwaffle commented on #1850
@SWICDEV I'm not sure if the command output there is from the clear-index flag or the subsequent re-running of the main indexing command, but it appears something is causing the mapping to re-run _after_ indexing, which is essentially erasing the data in the index. You may want to simply run `wp elasticpress index` after the clear-mapping command and see if it successfully indexes but does not inc

[2020-08-28 15:43] brandwaffle commented on #1832
Closing due to lack of response.

[2020-08-28 15:43] #1832 closed

[2020-08-28 15:46] brandwaffle commented on #1844
@oscarssanchez can we add the snippet above to the docs and close this ticket since there is no action item on it?

[2020-08-28 15:48] brandwaffle commented on #1825
@alifazeli yes, EP offers full access to the entire mapping data via filters, so you can customize as needed. This ticket has an example of adding a filter to customize a new analyzer.

Please note there is also a language selector in the ElasticPress Settings menu of the WP Dashboard, where you can simply select another language and use that analyzer without having to edit code. Hope this helps!

[2020-08-28 15:48] #1825 closed

[2020-08-28 19:37] altendorfme opened #1878 "ElasticPress only for result search"
Hello, is it possible to configure ElasticPress only for the search results on the front-end without affecting admin queries?

[2020-08-28 19:49] amesplant commented on #1807
@gustavo-roganti I have recently joined the team here at 10up and am here to try to solve this issue. So just as a recap to make sure that I understand your issue:

You have a Search Form, that is replaced via AJAX once the form is submitted, with a page refresh. When you say that it has a side effect of replacing the tag with a new one, do you mean that the **input** tag is getting rewritten with

[2020-08-31 05:35] jurnet commented on #1876
Thanks , but which file I have to modify ?

[2020-08-31 19:41] shaneonabike commented on #1868
I thought that I read somewhere that it was important to setup a cron to update the index frequently. Is that simply done through teh regular cron?

I was doing a cron every 30 minutes with the following `sudo -u www-data wp elasticpress index`

[2020-08-31 19:46] shaneonabike commented on #1863
It's totally possible that I am going about this wrong. What I noticed is that ElasticSearch (for ACF fields) simply dumps all the data (I think it's the JSON). So in my case, I have Films that have ACF reference fields (multiple Artists) which are returning the Post ID.

I noticed two issues in my case.
* It was outputting a lot of data that was filling up the index rather than just the IDs
* In

[2020-08-31 21:34] christianc1 commented on #1863
Sounds like artists should be taxonomy, but that's an opinion lacking any context.  If it is a taxonomy, you can just make the taxonomy searchable...
[code]

If you have architected things differently, and artists are not a taxonomy, I might recommend trying to add a meta field to the films in Elasticsearch.  Something like

[code]

Then tell ElasticPress to search this field.

[code]

This is all

[2020-08-31 21:45] scooterlord opened #1879 "Show results only if search terms exists in post_title AND meta_field"
Ok, hello everyone!

I am trying to get things sorted out, I have a million questions, but for now I am just missing a key feature I would like some help with.

First of all I have managed to add one of my ACF fields into the search fields and weighting tab using the following filter:

[code]

After that I managed using the `ep_formatted_args` filter to alter the `$formatted_args` to ensure that t

[2020-08-31 21:53] brandwaffle commented on #1868
@shaneonabike nope, any content updated by WordPress will be auto-synced to ElasticPress/Elasticsearch! The only exception is if you have an import script or something like that that does direct SQL queries rather than using WordPress functions, in which case you might run the indexing command at the end of that import script.

[2020-09-01 13:26] shaneonabike commented on #1868
Ok well it's commented out again. Can we leave this open for a week or two while I just test to make sure that the original problem I reported has been resolved? I noticed it being sent more than every 30 minutes so I just want to make sure it's not actually a bug. Sound good?

[2020-09-02 04:33] aaronjpitts commented on #1871
Hey guys, can this not be done?

[2020-09-03 05:52] jurnet commented on #1876
Please give us a solution @brandwaffle @jasondewitt @pdewouters @mphillips

[2020-09-04 09:57] scooterlord commented on #1879
I would expect this to be standard practice, despite the fact I can't do it that is :) Anyone??

[2020-09-07 05:31] ocountry commented on #1504
@fabianmarz I tried your snippet, but this one only returns 403 with body "User is not authorized to perform this action".

My ES is hosted on AWS with open security policies.

Any suggestion ?

[2020-09-07 08:59] salvoaranzulla commented on #1841
@brandwaffle  The problem is "sort": [ { "post_date": { "order": "desc" } } ] as I have written on https://github.com/10up/ElasticPress/issues/1865

[2020-09-07 09:22] fabianmarz commented on #1504
@ocountry, unfortunately I'm not familiar with AWS and thus cannot point out how to fix it. Is ES AWS running on nginx solely or is it used as proxy with apache? Are you sure the policies are configured correctly? Seems the error message is caused by this.

[2020-09-07 13:19] DenisFlorin commented on #1841
Thank you for your comment @salvoaranzulla.

@brandwaffle can you take a look, please?

Thank you,

[2020-09-08 12:17] shaneonabike commented on #1863
That's an interesting point. I think I am going to explore that option as I suspect it would have better integration. I just need to move the content from a CT to a taxonomy I guess (oh boy!). But I do see the advantage because I can restrain to just one artist, which was the reason I was trying to figure out how to use IDs and names. Fuzzy search was for names and IDs was for a drop-down of speci

[2020-09-08 15:12] tlovett1 commented on #1875
Weighting does not work when the plugin is network activated. We might need a PR to the docs better explaining this.

[2020-09-08 15:15] tlovett1 commented on #1870
This does seem like a bug. CC @oscarssanchez

[2020-09-08 15:51] #1853 closed

[2020-09-08 15:54] brandwaffle commented on #1878
@altendorfme ElasticPress will only handle front-end queries unless you activate Protected Content. You should be all set!

[2020-09-08 15:54] #1878 closed

[2020-09-08 15:55] #1866 closed

[2020-09-08 19:45] SWICDEV commented on #1850
Hello,

Here is the output

[11:10 AM] David Kronk
Warning: Function pcntl_signal not available. Make sure to run `wp elasticpress clear-index` in case the process is killed. Indexing posts... Processed 350/2916... Processed 700/2916... Processed 1050/2916... Processed 1400/2916... Processed 1750/2916... Processed 2100/2916... Processed 2450/2916... Processed 2800/2916... Processed 2916/2916... Nu

[2020-09-09 08:40] MildConcussion opened #1885 "ElasticPress Facet widget - no 'post__in' mapping"
As soon as I try to use the facet widget inside a product category it doesn't work and I get the error
"No mapping found for [post__in] in order to sort on"

Am I supposed to filter the query for it to work?

[2020-09-09 16:05] brandwaffle commented on #1885
@MildConcussion can you share the query body that's being sent that generates that error?

[2020-09-10 07:03] MildConcussion commented on #1885
Here is the query body:
[code]

[2020-09-10 11:39] roborourke commented on #1642
You also need to modify the mapping and add a `suggest` field that analyses the custom field using edge ngram analysis.

[2020-09-10 11:45] roborourke commented on #1604
I just ran into this - doesn't seem to be fixed in the latest version. The issue is that the plugin assumes if a string value is passed then it's a truncated / prefix mime type and if it's an array then they're fully qualified:

https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L907-L934

This isn't exactly reliable as the image block shows but WP will acce

[2020-09-11 09:30] MildConcussion commented on #1885
Would really love to use ElasticPress with as much of the features as possible. It really speeds things up!

@brandwaffle Any tips that I could implement and get it to work? Could I fix this by filtering "ep_formatted_args" and replacing "post__in" with something else? I shall try and report back.

Also there is a smaller issue when using the regular WooCommerce filter widget instead of ElasticPre

[2020-09-11 10:08] MildConcussion commented on #1885
Filtering "ep_formatted_args" and replacing the sort worked to fix the query not running, but the results are still weird.

On the main shop page the filtering by product attribute works, but as soon as you go into a product category and try it there, it doesn't - shows every product in the category.

The queries are as follows.

In subcategory without any filters selected:
[code]

With pa_brand f

[2020-09-11 10:35] MildConcussion commented on #1885
Guess the problem is the "should"? As it has both the "product_cat" and the "pa_brand" it shows the same results.

Any ideas how to fix this? Cheers!

[2020-09-11 20:11] SWICDEV commented on #1850
Hello,

Still not getting anything logged into the queries log or anything changing with the search. Is the plugin compatible with the SAGE theme<https://roots.io/sage/>? We also run a VM on a windows server I believe and the elastic search is hosted on a windows server as well.

Thanks,

Melissa

Melissa Ashforth
Web Site Manager
Southwestern Illinois College
618-235-2700 ext. 5162

[cid:image001

[2020-09-13 09:26] salvoaranzulla opened #1888 "Avoid fallback to Mysql on Related Posts"
**Describe the bug**

If we implement related posts on single.php, it seems that if ElasticSearch goes to timeout, ElasticPress does a fallback to Mysql. But Mysql cannot generate related posts and Mysql shows latest published posts.

Is there a way to disable this behaviour?

**Steps to Reproduce**

Related Posts in single.php

**Expected behavior**

No related posts shown.

[2020-09-13 18:09] kgrondell opened #1889 "Search seems to match characters not words"
Overall it is great. One thing I am sure is a config I am missing is that when I search say the word duck (which is not in my products) I get 7 results out of 48,000. If I look at the content of those products it does not include the word "duck" but is does include the letter "d" and the "23-uck-4" or the letters "d","u","c","k" scattered throughout.

What am I missing? My goal was searches for a

[2020-09-14 02:05] oscarssanchez commented on #1865
Hi @salvoaranzulla ,

I could not reproduce what has been reported. I also noticed some parameters from the request sent are missing from the ones on my testing, specifically these ones:

`            "min_term_freq": 1,
            "max_query_terms": 12,
            "min_doc_freq": 1`

I don't think the post_date by desc param is the root cause of the problem in this case, as elasticsearch only o

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 04:58] oscarssanchez commented on #1870
Hi @kyleramirez,

It looks like this is a duplicate from https://github.com/10up/ElasticPress/issues/1800 could you please confirm this? I also created a PR for this in case this is the same problem: https://github.com/10up/ElasticPress/pull/1813

It would be great if you can try that one out.

Thanks!

[2020-09-14 05:16] salvoaranzulla commented on #1865
Hi @oscarssanchez,

Sure. Here all information:

1) We are using ElasticSearch 7.4 on AWS Cloud with WordPress latest version.

2) If we see "post_date by desc param" in our query, ElasticSearch gives us latest published post, not related posts. If we remove it, we see related posts.

3) To fix the problem and to improve related posts, we are using 2 filter: "ep_related_posts_fields" and "ep_forma

[2020-09-14 15:45] brandwaffle commented on #1876
@jurnet you would add this wherever you add custom JS to your theme. This will enable you to keep your customizations through most plugin updates (although there is always a chance the plugin could alter the behavior of the built-in JS request, which would be noted in a changelog).

I'm not sure about the code example you shared, but you do not need to wrap my example code in any sort of function

[2020-09-14 22:04] jeremystory1 opened #1891 "Buddyboss and Buddypress integration status?"
What is the status of this plugin's integration with Buddypress/Buddyboss?
Will this enable Elastic Search to also search user profiles and extended profile fields?  groups?  buddypress/buddyboss activity posts?  Facet by user buddyboss profile type?

We are about to start development to integrate BB with Elastic Search.  Wondering what, if anything, has been done already.  Perhaps we could just a

[2020-09-15 15:57] #1466 closed

[2020-09-15 15:59] amesplant commented on #1860
This will be released in the next update.

[2020-09-15 16:01] amesplant commented on #1854
Merge Request pulled and ready for a Back End Engineer to add the form action to properly submit the form when JavaScript is disabled.

[2020-09-15 20:23] wiwimaster opened #1892 "Authentication Headers not properly sent"
Hi

SEE FOLLOW UP COMMENT FOR ADDITIONAL INFORMATION

I have successfully connected the ElasticPress Plugin (Version ) to an elastic.co ElasticSearch instance on AWS (tried multiple combinations of AWS, Google Cloud, or Azure, with versions 7.9 down to 6.8). I have various signals that the ElasticSearch Server is set up properly (see details below), but I keep getting a connection error, sometimes

[2020-09-17 21:41] amesplant commented on #1862
I have started working on this feature, and here is my plan. Instead of doing a 'dropdown', it may be more feasible to make it an 'accordion'

**Plugin Admin Panel**

- [ ] Add toggle to display / not display the facets as a dropdown in the Facets settings

**Page Display**

- [ ] Add test to see if the toggle has been checked
- [ ] Update the CSS/JS to display the list as a dropdown/accordion
  -

[2020-09-18 12:14] shaneonabike commented on #1862
At first I was thinking dropdowns were a good choice, but in further research I see that they aren't good with more than 5 items (which could be the case), and generally not a great idea (ref:https://www.smashingmagazine.com/2018/08/best-practices-for-mobile-form-design/)

I wonder in addition to creating an accordion we could change the theming to be like buttons as indicated above. I think that

[2020-09-18 13:22] johnbillion opened #1893 "Ability to remove the 'ElasticPress Indexing' option on Multisite"
**Is your enhancement related to a problem? Please describe.**

On a Multisite installation, super admin users can uncheck the `ElasticPress Indexing` checkboxes on the Network Admin -> Sites screen. This is undesirable when we want to control this option at the network or site level.

**Describe the solution you'd like**

It would be great if there was a filter to disable this checkbox (and its A

[2020-09-18 14:44] jeffpaul commented on #1893
@johnbillion are you expecting to then have the `ElasticPress Indexing` checkbox displayed somewhere in the individual network site settings or are you expecting to programmatically control which sites are indexed and which are not?

[2020-09-18 14:50] johnbillion commented on #1893
The latter. I'd like to say "switch this off, I got this".

[2020-09-18 16:29] aaronjpitts commented on #1871
@tlovett1 I'd appreciate it if you could let me know if this is possible? Many thanks!

[2020-09-21 12:04] wiwimaster commented on #1892
I dug a bit deeper and identified the root cause. Basically, the root cause can be traced down to the function get_elasticsearch_info() in Elasticsearch.php, which sends a request without authentication information, contrary to the other functions. See more details below:

The following code is leading to a false response.

[code]

In consequence, the following "else" statement requests the versio

[2020-09-21 14:13] dinhtungdu commented on #1718
Tested with the latest commit from `develop`, look like the issue has been fixed. both tag and cat are included in the formatted args.
[code]

[2020-09-21 19:14] tlovett1 opened #1895 "Terms feature terminology"
The terms feature only applies to `WP_Term_Query`. This isn't clear in the feature description.

[2020-09-21 22:45] rebeccahum opened #1896 "Duplicate Filters in category_name when tax_query is set using OR"
**Describe the bug**
Previously, `category_name` was ignored if `tax_query` was set in #501 due to this [core backwards compat feature](https://github.com/WordPress/WordPress/blob/5d99107bf3ab35aa3dda82c6b3903f5717771335/wp-includes/class-wp-query.php#L2163-L2164). However, I'm seeing that in #1617, this logic that account for that has been removed.

**Steps to Reproduce**
1) Offload a WP_Query to

[2020-09-22 10:47] simplenotezy opened #1897 "Filter search - show results under different attributes"
Is it possible with ElasticPress to generate a "search page" that shows available filterable product options as well as a count of how many products that exists under this specific filter?

Eg. if we have a search page where user has checked category "Rings", then we want to show all product attributes that are available for products under Rings as well as a count for how many products that reside

[2020-09-22 14:22] hellzapoppin opened #1898 "pre_get_posts to modify main_query"
I've installed ElasticPress on my Wordpress installation and I my posts have gone.

I am using pre_get_posts to remove one category from main query and I noticed it doesn't work proparly with

`$query->set('cat', '-1')`

Then I tried

`$query->set('post__not_in', array(1)) `

With this, at least I was able to see my posts but it is still including the category I've removed.

Then I tried set only

[2020-09-22 15:19] rebeccahum commented on #728
Echoing this issue, would love to see a filter for this.

[2020-09-23 18:03] #1718 closed

[2020-09-24 14:32] tlovett1 commented on #1827
Right, when PC is enabled, the post should remain in ES with a trash status. Otherwise it should be deleted.

[2020-09-24 14:42] #1827 closed

[2020-09-24 15:24] #1857 closed

[2020-09-26 20:12] kyleramirez commented on #1870
#1813 Seems to have fixed this issue.

[2020-09-26 22:39] padams opened #1900 "Caching Documentation"
**Describe your question**

Can someone provide a pointer documentation about how/if/where ElasticPress caches query results? I'm try to make sure that I don't double cache results pages in varnish if EP is also caching results somewhere.

[2020-09-27 07:09] dinhtungdu commented on #1879
Hi @scooterlord, I'm sorry for this late response. About your question, you can use `ep_search_fields` to include your custom fields: http://10up.github.io/ElasticPress/ep_search_fields.html.

[2020-09-27 10:09] dinhtungdu commented on #1888
Hi @salvoaranzulla, you can filter the `posts_pre_query` and return an empty array if ES fails.

[code]

[2020-09-28 04:05] dinhtungdu commented on #1889
Hi @kgrondell, can you turn off the Autosuggest feature and try searching again?

[2020-09-28 11:48] kgrondell commented on #1889
Hi @dinhtungdu not sure which Autosuggest feature you are talking about. I do not not see anything like that in the plugin and it is not a default function of woocommerce. I am using AWS elastic search.

[2020-09-28 13:53] scooterlord commented on #1879
@dinhtungdu thanks for your reply. Despite the fact that a whole month has passed I still haven't been able to find a resolution to my problem!

The problem is not elasticpress not searching within the fields, but can't combine these fields as I want. I have tried a million different ways, but still haven't come up with a solution.

Essentially I am looking for a way to search for all the **terms

[2020-09-28 13:57] dinhtungdu commented on #1898
Hi @hellzapoppin, can you post the full source code you use to modify the main query here, including the hook and the callback.

[2020-09-28 14:59] hellzapoppin commented on #1898
Sure

[code]
Basically I am trying to remove category 2631 from main query except when we are current on 2631 category page.

When I use "-" (minus) not is returned, I've tried "$query->set( 'post__not_in', '2631' );" and the results are back but it is not removing category 2631 from the main query.

[2020-09-28 20:42] #1811 closed

[2020-09-30 18:00] janw-me opened #1902 "meta_query not working when ElasticPress active"
**Describe the bug**
I've created a custom pre_get_posts / custom WP_Query that works without elasticpress and does not work with elasticpress.

**Steps to Reproduce**
1) Install a totally new/clean WordPress
2) install and activate Yoast SEO and Elasticpress
3) create and publish page "Do index" and page "Don't index"
4) on the page "Don't index" in the yoast settings set "Allow search engines to

[2020-10-03 03:51] dinhtungdu commented on #1889
@kgrondell You can find it under ElasticPress setting page.

[2020-10-03 04:03] dinhtungdu commented on #1879
@scooterlord I can't reproduce your issue. I tested with the `develop` branch of ElasticPress, WordPress 5.5.1, and without any filter hooked. I create a post (default post type) with these arguments:
- Title: Volkswagen
- Post content: custom description
- Custom field (text field) classified_color: white

These searches all give me the correct result:
- Volkswagen
- Volkswagen custom description

[2020-10-03 04:16] dinhtungdu commented on #1898
Because you're excluding category, you need to use `category__not_in`, not `post__not_int`.

However, using `$query->set( 'cat', '-2631' );` is a valid way, can you try:
- Remove the priority `1` of action call, use `10` or remove it entirely.
- use `categrory__not_in` instead of `post__not_in`.

[2020-10-03 07:37] scooterlord commented on #1879
@dinhtungdu thanks for trying to help me out!

The expected result would be just ‘Volkswagen white’. I only want results that include each term at least once in all fields.

[2020-10-03 10:30] dinhtungdu commented on #1879
@scooterlord I see. I misunderstood your problem. Your problem can be solved by modifying $formatted_query. I tested `cross_fields` and the results seems to match with your need. Note that for both action/filter here, you can exclude other queries based on query var.

[code]

[2020-10-03 11:38] kgrondell commented on #1889
@dinhtungdu I found it under the main ElasticPress tab and it is already turned off.

[2020-10-03 11:46] dinhtungdu commented on #1902
@janw-me Because `_yoast_wpseo_meta-robots-noindex` is a protected meta, ElasticPress won't include it in the document by default, you will need to do it by filtering [`ep_prepare_meta_allowed_protected_keys`](http://10up.github.io/ElasticPress/ep_prepare_meta_allowed_protected_keys.html):

[code]

[2020-10-03 11:52] dinhtungdu commented on #1889
@kgrondell Can you posted your Query Args and Query Body here. To get them:
- Install and activate [Debug Bar](https://wordpress.org/plugins/debug-bar/) and [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/).
- Use the frontend product search, search for "duck".
- Check out the Admin bar > Debug > ElasticPress, you'll find query args and query body.

[2020-10-05 12:44] scooterlord commented on #1879
@dinhtungdu

Awesome! This was _almost_ what I was looking for! However, it is only just now that I learned that cross_fields is not compatible with fuzzy search. So, I guess I will have to see how to adjust my search to work as I want it to.

Thanks a million!

[2020-10-05 12:44] #1879 closed

[2020-10-06 17:02] hellzapoppin commented on #1898
Sorry, I've made a typo, I said **post__not_in** but I meant **category__not_in** and it is not worked.

It is returning all the results and it is not removing category 2631.

Priority 1 I've set because I saw somewhere someone saying to use it, but I've tried 10 before and it not working as well.

[2020-10-07 01:51] dinhtungdu commented on #1898
Hi @hellzapoppin, can you share with us the ES query body of the main query when you apply the action above. You can get it by installing Debug Bar and Debug Bar ElasticPress, then Load the blog page, Check Admin bar > Debug > ElasticPress.

Besides, can you check to see if your site has any issue indexing posts?

[2020-10-07 14:59] jens-aggergren opened #1909 "Autosuggest highlight error"
https://github.com/10up/ElasticPress/blob/41022828f5965a7919dcb3d4f3620f4e9efff7ad/assets/js/autosuggest.js#L244

**Describe the bug**
Erroneous Autosuggest search term highlighting resulting in jarbled markup within the autosuggest result text.

The culprit is the code starting on line 244 of ```assets/js/autosuggest.js```:

[code]
Each _word_ is potentially replaced within in the span element in

[2020-10-07 23:27] #1810 closed

[2020-10-08 04:26] dinhtungdu commented on #1909
Hi @jens-aggergren, thanks for the report, I can confirm the issue as well as your suggestion. Do you mind crafting a PR for this issue?

[2020-10-08 17:56] ChrisWiegman opened #1911 "Track CLI index in a headless fashion"
**Is your enhancement related to a problem? Please describe.**

As we begin to automate the installation procedure our system will be triggering an index on client sites without human intervention. Given that there will be no one monitoring the process and reconnection to the session is difficult, we need a way to both track the status of a current index and get the results of an index in a manner

[2020-10-13 21:15] SWICDEV commented on #1850
Hello,

I still cannot get the plugin to work and have not received any feedback for a while so I thought I would check in and see if you have any other ideas. We did get the index to fully run.

Thanks,

Melissa

Melissa Ashforth
Web Site Manager
Southwestern Illinois College
618-235-2700 ext. 5162

[cid:image001.png@01D6A177.4A05C2C0]

Please remember to submit all SWIC.edu requests into the SWI

[2020-10-14 14:18] lucalbert commented on #1898
Hi,

Same probleme here.
With `$query->set( 'cat', '-767' )`, the ES query look like this:

[code]

with `$query->set( 'category__not_in', array(767) )` the ES query is not modified.

Note that with `post__not_in`, it works perfectly!

(I use Query Monitor and Debug Bar ElasticPress to debug query)

[2020-10-14 14:45] hellzapoppin commented on #1898
Sorry I didnt get an email notifing me about your reply, here is the content:

{
    "from": 5,
    "size": 5,
    "sort": [
        {
            "_score": {
                "order": "desc"
            }
        },
        {
            "post_date": {
                "order": "desc"
            }
        }
    ],
    "query": {
        "function_score": {
            "query": {
                "m

[2020-10-14 14:47] hellzapoppin commented on #1898
I've reindexed it again right now and it didn't freeze as I mentioned.

But I still can see posts from category 2631 on my main query

[2020-10-15 06:44] turtlepod opened #1914 "Still able to index via dashboard even if EP_DASHBOARD_SYNC set to false."
**Describe the bug**

Still able to index via dashboard even if EP_DASHBOARD_SYNC set to false.

**Steps to Reproduce**

1. Navigate to elasticpress index page wp-admin/admin.php?page=elasticpress
2. Set the constant in wp config `define( 'EP_DASHBOARD_SYNC', false );`
3. The buttons to sync is still available (as long as we did not refresh the settings page)
4. Click sync button.
5. it will reset

[2020-10-15 06:58] lucalbert commented on #1898
@hellzapoppin,

I'm talking about `category__not_in` which is not working.

But `category__not_in` does not modify anything in the query, while `$query->set ('cat', '-767')` modifies it, but not correctly :-/

In revance `post__not_in` works correctly

[2020-10-15 19:28] thomasdiesenreiter opened #1917 "PHP Warning due to missing quotes"
**Describe the bug**
PHP Warning:  Use of undefined constant EP_IS_NETWORK - assumed 'EP_IS_NETWORK' (this will throw an Error in a future version of PHP) in /var/www/cba/wp-content/plugins/elasticpress/includes/classes/SyncManager.php on line 155

**Steps to Reproduce**

Use current version, look into apache error log

**Expected behavior**
No error

**Screenshots**

**Environment information**
L

[2020-10-16 09:57] aaronjpitts commented on #1871
Is it too much to ask just for a simple indication of if this is possible? Many thanks in advance

[2020-10-20 04:32] dinhtungdu commented on #1898
@hellzapoppin @lucalbert I checked the source code of EP and find out the the `category__not_in` argument is not supported yet, excluding category using a negative value for `cat` is not working as well, the behavior of `cat` does not fully match what it does in `WP_Query`. Marking this one as a bug. For now, you can try using a tax query to exclude your category.

[code]

[2020-10-20 05:07] dinhtungdu commented on #1917
@thomasdiesenreiter Thanks for reporting this issue! 🎉

[2020-10-20 16:06] #1917 closed

[2020-10-21 08:05] scooterlord opened #1920 "Ep-highlight also highlights image alt-description"
As the description says, the function also wraps image `alt` tags, thus breaking the image markup.

Example image:
`<img src="https://domain.com/1598628342057-512x512.jpg" alt="test – Pirelli Cinturato P7 215/55/17 Blue">`

End result:
`<img src="https://domain.com/1598628342057-512x512.jpg" alt="test – Pirelli Cinturato P7 <mark class=" ep-highlight"="">215/55/17 Blue"&gt;`

edit: Added example

[2020-10-21 09:15] scooterlord opened #1921 "Fuzziness broken in v3.5"
Fuzziness has stopped working in latest version. From what I saw the main post query has changed, but can't seem to be able to add fuzziness back and get it to work.

Sample function:
[code]

The query then is printed as expected, but is not working.

[code]

[2020-10-21 13:43] #1914 closed

[2020-10-21 13:44] tlovett1 commented on #1921
Hey, check out the search algorithm upgrade notice in the readme. You can revert back to the old algorithm with the following code:

[code]

[2020-10-21 13:45] tlovett1 commented on #1920
Thanks for the report. We'll get this fixed.

[2020-10-21 14:22] rhedman commented on #1610
@brandwaffle

I'm also looking to solve the #2 issue. Couldn't the plugin offer either a "loading" event that can be used to do hook some JS magic to or simple just add a CSS-class to the search input e.g "is-loading" when a new result is being fetched (and then remove the class again). This way it would be easy in visually indicate the search is loading.

[2020-10-21 14:56] theodejager commented on #1921
Is there a way to still hook into the fuzziness args or something that would have a similar effect? Right now search queries with 1 spelling mistake return no results by default.

[2020-10-21 17:43] scooterlord commented on #1921
Also, how often will updates to the algorithm will happen? I just finished my app and the update broke the whole search mechanism.

[2020-10-21 18:04] brandwaffle commented on #1921
@scooterlord very, very rarely. In fact, this is the first time I can remember that we've updated the algorithm. The change came about because a lot of folks see very irrelevant results near the end of the search listings due to the previous fuzzy search algorithm. That said, we also knew folks might need things to continue working "as-is", hence the new filter to set the algorithm version.

If yo

[2020-10-21 20:43] tamara-m opened #1923 "Add Warning to version 3.5 that re-index is needed"
The new version of ElasticPress requires that you run a sync. is displaying after updating to 3.5.

I understand this needs to run the equivalent of wp elasticpress index --setup where indexes are dropped and recreated.

If this is so, a warning in the change log, before hitting that update button, would be appreciated, as this has some implications on busy production environments.

Would like to

[2020-10-21 22:59] scooterlord commented on #1921
@brandwaffle So, I just replicate the 'old' query through `ep_formatted_args` into the new one?

I wish there was some new documentation with pointers to elasticsearch where required; currently whenever I try to fix one thing, it breaks another, eg `fuzziness` not working with `phrase`, `fuzziness` not working with `cross_fields`, `wildcards` not working, `edgeNgram` breaks my synonyms. A simple g

[2020-10-22 07:59] scooterlord commented on #1921
@brandwaffle Hello again, I have a local version of my online website that uses the Elasticpress version 3.4.3 but links to the same EP Server. All the previous functions are broken, (inc fuzziness) which leads me to believe that the data is also sent differently on the EP Server? I am only looking for validation for this, so I know how I can handle it.

Query monitor gives the following error:
[c

[2020-10-22 08:48] lakrisgubben opened #1925 "Don't load the searchterm-highlighting css if that feature is disabled"
Hi,

i noticed that the call to `wp_enqueue_style` in https://github.com/10up/ElasticPress/blob/master/includes/classes/Feature/Search/Highlighting.php#L58 for enqueing the searchterm-highlighting css does not have a check for if that feature is activated so it's always enqueued. Happy to make a Pr that checks if `$settings['highlight_enabled']` is true before enqueing if y'all think it's worthwhi

[2020-10-22 13:03] felipeelia commented on #1925
Hi @lakrisgubben,

Yes, I'm able to reproduce that. It would be great if you could make that Pull Request!

And perhaps instead of checking just that enqueue call, we should not instantiate (and setup) the class at all if the feature is disabled. You can insert that if here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Search.php#L71

Thanks in advance!

[2020-10-22 14:03] #1909 closed

[2020-10-22 16:06] hellzapoppin commented on #1898
It is working now, thank you!

EP was working on admin page as well but now it is not.

I just tried

[code]

But it made my pending posts disappear... =/

[2020-10-23 08:20] lakrisgubben commented on #1925
Looks like this is already fixed by @tlovett1 in https://github.com/10up/ElasticPress/pull/1928 :) Thanks for that!

[2020-10-23 13:35] felipeelia opened #1930 "Features: default_settings and get_settings()"
**Is your enhancement related to a problem? Please describe.**

When we need to get the settings of a Feature we often have this code:

[code]

Although it makes sense inside of the class itself, it becomes weird when you need to get settings values from a code external to the class.

**Describe the solution you'd like**

We could change Feature::get_settings() to already apply the defaults.

[2020-10-23 23:52] columbian-chris opened #1931 "search highlighting feature causing PHP warning"
PHP is throwing an "Illegal offset type" error at me when I include custom meta fields in my search fields options.

To reproduce, notice that the following will work fine:

[code]

And then when I add the `meta` option to the `search_fields` array, it will produce this error:

[code]

Location:
- `wp-content/plugins/elasticpress/includes/classes/Feature/Search/Highlighting.php:136`
`ElasticPress\

[2020-10-24 00:12] columbian-chris opened #1932 "notify of required resync while editing feature settings"
This morning, I enabled the new "Protected Content" option, and then a complete resync began, which immediately killed my entire previous sync.  It then took over an hour to resync, as our site has hundreds of thousands of posts in it.  This is why we only perform a sync in the early morning during the lowest traffic hours.

So obviously, if I had known that my setting change required a complete r

[2020-10-24 17:23] MediaMaquina opened #1933 "Have 2 Facets "Match Type" options: 1) Terms within same Taxonomy 2) Between Taxonomies"
**Is your enhancement related to a problem? Please describe.**

This is really hard to explain for me. Bear with me please. I swear it makes sense and it's useful!
![Untitled](https://user-images.githubusercontent.com/8179611/97087607-9ee2ca80-162b-11eb-9fb3-78dd5ab493a3.png)

So if you have 2 facets, and you want an AND logic between facets but also an OR logic with the terms of each facet? It ca

[2020-10-24 20:43] MediaMaquina commented on #1931
I can confirm.

[2020-10-24 23:43] brandwaffle commented on #1921
@scooterlord if the query throws a 400 then ElasticPress falls back to WP search which is probably why you're seeing no fuzziness. My guess is something about the copied query is off and causing a faulty query. If you're running 3.4.3 there is nothing there that could be using the 3.5 algorithm and fuzziness is enabled if the query does not fail.

To get back to what you're trying to accomplish: i

[2020-10-25 14:49] halmos commented on #1931
I'm also having this issue. I believe it stems from

[code]
found at https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Search.php#L244-L250

When a search query contains `meta` or `taxonomies` fields with a nested array, the `foreach` `$field` in the code above  may be an array, not a string as expected. The array throws an array because it is not a valid key type.

[2020-10-25 17:45] oscarssanchez commented on #1898
Hey @hellzapoppin , is protected content enabled? There should be no need to set the ep_integrate param to true if it is.
Kind regards,

[2020-10-26 03:02] stefanstatescu1 opened #1934 "ElasticPress interferes with product visibility/ product query plugin, Any idea how to fix it?"
Hi,
I'm the developer of a WooCommerce product visibility plugin. My customer is facing an issue where ElasticPress overrides which products are visible.

My plugin uses "woocommerce_product_query" to control visibility. I tried increasing the priority of the function, that didn't help.

Any idea how we could make them work together?

Thank you,
Stefan

[2020-10-26 08:54] theodejager commented on #1921
@brandwaffle the new search algorithm is certainly better at reducing irrelevant results, but is there any way to configure it so that queries with minor spelling mistakes still return results?

[2020-10-26 13:25] marcelmastel commented on #1892
How did you solve?

[2020-10-26 13:51] wiwimaster commented on #1892
Hi Marcel

thanks for asking - I didn't. I was hoping to get some help here. As I didn't want to wait months for a reply and wanted to get going, I am now writing my own plugin to connect Wordpress to elasticsearch, which turns out is quite easy (and the official PHP client for Elasticsearch is waaaay better documented).

Good luck
Jan

[2020-10-26 13:53] #1892 closed

[2020-10-26 14:55] Christophvh commented on #1931
Having the same issue. Any quick workaround without needing to wait for an update?

[2020-10-26 15:38] brandwaffle commented on #1931
@Christophvh the code in #1935 should serve as an example until 3.5.1 is released, which will be later this week.

[2020-10-26 15:41] #1902 closed

[2020-10-26 15:47] brandwaffle commented on #1934
@stefanstatescu1 We'd love to work with you on this!

Can you share how your plugin stores the visibility to apply via the filter? ElasticPress should read any meta or tax query values and properly handle them, so it's likely a matter of making sure that gets into the actual query.

[2020-10-26 17:41] #1931 closed

[2020-10-27 01:05] stefanstatescu1 commented on #1934
Thank you for the help Vasken,

The plugin stores the post ids (visibility is controlled at the product level so it needs to know exactly which products) as a transient for each user. Then sets the post__in argument:

Looks like this:

[code]

[2020-10-27 02:00] gbvaz opened #1937 "Problem integrating ElasticPress and Dokan Multivendor"
Hey there!

I've been having trouble integrating ElasticPress and Dokan Multivendor plugins. This is not specific to the new v3.5, I've been having this problem since I first installed ElasticPress, which was the previous version, 3.4.3. I've opened a ticket to Dokan support as well, so they can help me out on their end, I'll keep you updated on their responses.

Dokan is a Marketplace plugin for

[2020-10-27 15:50] kevin25 commented on #744
How to make it work with product tags?

[2020-10-27 18:26] photocurio opened #1938 "date_query errors if no hits are returned"
**Describe the bug**

A date query that fetches posts after a set date will return PHP errors if no results are found.

**Steps to Reproduce**
this in WP Query:
[code]
The above produces sends this to ElasticSearch:
[code]
If any search results are found, everything is fine.
If no search results are found, we get an error from the ES debug tool:
[code]

**Expected behavior**
No PHP error messages

[2020-10-28 14:56] tlovett1 opened #1941 "There was an error updating the synonym list."
If no index has been created and I updated synonyms. I receive this error message:

[code]

[2020-10-28 15:08] tlovett1 opened #1942 "Weighting slider doesn't show change while sliding"
The weighting dashboard sliders don't show the number update while sliding. This makes it really hard to find the value you want. You have to guess the slider position and hope the number is correct.

[2020-10-28 17:44] hellzapoppin commented on #1898
No, it's not.

Not sure what happened now, it no longer working on admin page...

[2020-10-28 21:15] mfs-mindsize opened #1944 "The ep_formatted_args filter?"
I read about the ep_formatted_args filter here:

https://www.elasticpress.io/blog/2019/02/custom-search-with-elasticpress-how-to-limit-results-to-full-text-matches

But it's not in this list:

http://10up.github.io/ElasticPress/

I does exist. There are three args passed in. I'm sure you know this :)

However, none the args passed in appear to be JSON (as I think I expected). Maybe I'm missing som

[2020-10-29 11:16] fxfancher opened #1945 "How to Connect to Elastic Managed Cloud"
Hi,

im trying to replace algolia on my site [https://ohmymi.com.my](https://ohmymi.com.my) with elastic cloud.
i deployed elastic cloud on Azure. im able to login to the App search, have the endpoint url, search key and private key.

but when i activate the plugin its only asking for elasticsearch host url. i pasted my endpoint url, but unable to sync.

is there any proper guide to connect to ela

[2020-10-29 17:56] hellzapoppin commented on #1898
My website has a cron job which runs every day and delete posts older than 15 days using a SQL query.

Using SQL query to delete posts doesnt make ElesticPress reindex and these posts are being showed if you make a search...

[2020-11-02 07:19] oscarssanchez commented on #1898
Hi @hellzapoppin ,

This should be expected if the SQL query is done without using WordPress functions. My suggestion is to make a script using the wp_delete_post() function.

Kind regards,

[2020-11-02 07:21] oscarssanchez commented on #1945
Hi @fxfancher , you can define your authentication keys as described here: http://10up.github.io/ElasticPress/tutorial-security.html

[2020-11-02 07:29] oscarssanchez commented on #1944
Hi @mfs-mindsize , this is still a PHP array, the final JSON is later encoded here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L291

You would need to make your modifications on the array using PHP, hope this helps!

[2020-11-02 07:30] 5amclub commented on #1945
@oscarssanchez " Your Elasticsearch version is below the minimum required Elasticsearch version 5.0. ElasticPress may or may not work properly. "

my cloud provisioned is v7.9.3, anything wrong?

[2020-11-02 07:32] fxfancher commented on #1945
@oscarssanchez " Your Elasticsearch version is below the minimum required Elasticsearch version 5.0. ElasticPress may or may not work properly. "

my cloud provisioned is v7.9.3, anything wrong?

[2020-11-02 16:11] #1944 closed

[2020-11-02 16:11] brandwaffle commented on #1945
@fxfancher ElasticPress currently supports up to 7.9 so you're likely seeing this as your version is newer than that. Things may work or there might be compatibility issues.

[2020-11-02 16:11] #1945 closed

[2020-11-02 16:15] brandwaffle commented on #1937
@gbvaz by default EP does not index non-published content. You can activate Protected Content to index non-public content, or manually filter in the "Pending" status if you'd prefer. This is why EP isn't returning the pending post. To confirm, you can look at the outgoing request in the EP Debug Bar plugin (vs the returned results).

Be careful about indexing non-published content, as this could e

[2020-11-02 16:18] brandwaffle commented on #1921
@theodejager you can add the final of the 3 search queries back into the new algorithm: https://github.com/10up/ElasticPress/blob/0ef93c49043c35712b558e62fa82c8699467fea2/includes/classes/Indexable/Post/Post.php#L1148-L1162

Note that re-adding fuzzy matching will cause a lot of false matches with shorter search terms. For example, "dogs" can become "does" "logs" "bogs" "hogs" etc, etc. It can get

[2020-11-02 16:19] #1911 closed

[2020-11-02 16:24] brandwaffle commented on #1871
@aaronjpitts I can confirm there's nothing in ElasticPress that prevents adding any type of mapping or queries. I've never used the `search_as_you_type` search type so I can't be of much more help, but you might try naming the field something besides `search_as_you_type` just in case it's hitting a reserved word or something.

[2020-11-02 16:24] #1871 closed

[2020-11-02 16:27] #1920 closed

[2020-11-02 16:27] #1898 closed

[2020-11-02 16:29] brandwaffle opened #1947 "Support the full category__not_in parameter in WP_Query"
This is related to a bug reported in #1898. Currently we don't support `category__not_in` and there are issues with negative values passed for `cat`. These should be addressed to ensure closer WP_Query compatibility.

[2020-11-02 16:30] #1888 closed

[2020-11-02 16:30] #1868 closed

[2020-11-02 16:34] brandwaffle commented on #1896
@oscarssanchez can you try and reproduce this one? Thanks!

[2020-11-02 16:36] brandwaffle commented on #1938
@oscarssanchez @felipeelia looks like we need to check for values in the array before using it here: https://github.com/10up/ElasticPress/blob/c056515aaf4a81afba5138700e9d417871d020fc/includes/classes/Feature/Facets/Facets.php#L338

[2020-11-02 17:38] mfs-mindsize commented on #1944
@oscarssanchez - Great. Thanks.

Is there a reason ep_formatted_args isn't listed in the official docs?

[2020-11-02 22:53] gbvaz commented on #1937
@brandwaffle thanks for the info. I've enabled Protected Content and it worked, now I can see the "pending" products in Dokan dashboard, which is great. I have a secure endpoint for the default indexing, but I'm not sure how can I secure it for the Autosuggest feature, as it does ajax requests, is there anywhere I can look into what needs to be done in order to have this kind of requests secure as

[2020-11-03 02:43] kaitoxdd opened #1948 "Plugin conflicts with "WooCommerce Product Filter by WooBeWoo" causing the filtered shop page not found"
**Describe the bug**

Enabling ElasticPress is causing my product filter on shop page invalid when using pagination.
My filter is powered by plugin "WooCommerce Product Filter by WooBeWoo".
**Steps to Reproduce**

1. Go to https://woocommerce-497189-1572133.cloudwaysapps.com/shop/
2. Click on 'Filter by Collections' then choose 'Cats' category (or any category with large amount of products)
3. Wai

[2020-11-03 17:55] AlaplayaW opened #1950 "How to return only the parent of an attachment"
Hello,
I have a CPT (using ACF fields), that have a title, some other taxonomies and a pdf attached file (it's also an attachment file because i need that ElasticPress search in it). When I do a search, when a word is in the CPT title and in the PDF content, I have 2 results in my list. But it is the same CPT (the CPT and it's pdf). I only need to retrieve the CPT title (that contains the pdf file

[2020-11-03 18:01] AlaplayaW opened #1951 "How to display only the parent owner of an attachment pdf file?"
Hello,
I have a CPT (using ACF fields), that have a title, some other taxonomies and a pdf attached file (it's also an attachment file because i need that ElasticPress search in it). When I do a search, when a word is in the CPT title and in the PDF content, I have 2 results in my list. But it is the same CPT (the CPT and it's pdf). I only need to retrieve the CPT title (that contains the pdf file

[2020-11-04 06:55] dinhtungdu commented on #1950
Close this one as duplicate with #1951

[2020-11-04 06:55] #1950 closed

[2020-11-05 05:31] shmaltz opened #1952 "Sorting by date not working"
Hi, I successfully set up Elastic Search and installed the ElasticPress plugin, created the index, and set up the "Search Fields and Weighting" for my custom post type and taxonomy.

My problem is that when a search is made, the posts show up out of chronological order. I'm assuming they are showing up based on the "score" of the search? I tried adding `apply_filters( 'ep_set_default_sort', 'date'

[2020-11-05 14:38] DavidHickman opened #1953 "'ep_credentials' and 'ep_prefix' options are not removed when uninstalling plugin"
**Describe the bug**
`ep_credentials` and `ep_prefix` are not deleted in the `clean_options` method here:
https://github.com/10up/ElasticPress/blob/a2545cbb96740694ff9c5067a5f634fafef16932/uninstall.php#L58

As a result, those options are not removed when the plugin is uninstalled.

**Steps to Reproduce**

1. Install the plugin
2. Set `ep_credentials` and `ep_prefix` options
3. Remove the plugin

[2020-11-05 15:57] etbassler opened #1954 "Non-Wordpress indices"
**Describe your question**

Is it possible for ElasticPress to pull in indices from non-Wordpress sources? I'm looking to combine a Wordpress index and a Salesforce index into the search results on my Wordpress site.

[2020-11-08 23:49] shmaltz commented on #1440
+1

[2020-11-10 07:40] oscarssanchez commented on #1954
You may be able to achieve this @etbassler but you would need to query the index directly. You won't be able to use a WP_Query object in this case.

[2020-11-10 07:52] oscarssanchez commented on #1951
If i understood correctly @AlaplayaW , you have a custom post type where you can upload a PDF file right? If the file is being uploaded to your media library, that would be indexed as a post type attachment. In this case your CPT just has a relationship with the attachment, but the attachment itself is a separate post type.

[2020-11-10 08:01] AlaplayaW commented on #1951
Yeah that's it ! But I need that the search return the parent post, (that have taxonomies). So I could make an advanced search with taxonomies.

[2020-11-10 08:09] AlaplayaW commented on #1951
I need to index the attachment content for the parent post of the attachment, in which case the search results will include the post the file is attached to.

[2020-11-10 09:11] AlaplayaW commented on #1951
@oscarssanchez Is it possible to adapt this hack to ElasticPress ?
[https://searchwp.com/documentation/knowledge-base/append-document-content-to-parent-post-content/](url)

[2020-11-10 14:05] ChrisWiegman opened #1971 "Looking for more options to determine CLI indexing status"
**Is your enhancement related to a problem? Please describe.**

In a hosting environment it is easy to kick off an indexing operation in a "headless" fashion while not connected to the session. This is necessary for most users yet makes determining the status of the index difficult. While new commands introduced in 3.5.1 make this possible for support personnel and engineers, they don't, unfortuna

[2020-11-12 23:52] pjohanneson commented on #1838
I have found the source of the issue, and it is indeed to do with my config. However, the issue isn't resolvable (as far as I can tell) using a filter, because it's related to a `WP_Filesystem()` call with no arguments. I'd suggest adding a filterable `$fs_args` array in the `includes/classes/Features/Documents.php` file, which is what it took to make it work for me. Should I do this up as a pull

[2020-11-13 14:53] pjohanneson opened #1972 "WP_Filesystem() requires arguments in some environments"
**Describe the bug**

Our environment uses SSH2 to update WordPress files, plugins, etc. In the Documents feature (`includes/classes/Feature/Document.php`), `WP_Filesystem()` is called with no arguments, causing it to return false and shortcut the indexing of document contents.

Adding a `$args` array to the `WP_Filesystem()` call, to provide username, public & private keys, and hostname, fixes th

[2020-11-13 18:49] shaneonabike commented on #1868
Sorry the project got delayed. I can confirm that this stopped happening when I disabled the cron job so it was my misunderstanding.

[2020-11-16 13:21] con322 opened #1974 "Is it possible to filter by multiple authors?"
**Describe your question**
I see `author` and `author_name` `WP_Query` parameters are supported however i was wondering if any of the other author parameters are supported? Specifically I am wanting to filter results by multiple author ID's using the `author__in ` parameter.

Is this possible at the moment or a feature request?

If not currently supported how would you suggest I go about this? I t

[2020-11-17 18:40] altendorfme opened #1975 "Ignore posts in Related Posts feature"
Hi!

We want to use the infinite scroll with results from ElasticPress related posts, but to avoid conflicts it would be necessary to use a filter to ignore the previously loaded postIds.

Any idea?

`ElasticPress\Features::factory()->get_registered_feature( 'related_posts' )->find_related( $post_id, 1 )`

[2020-11-19 08:14] dinhtungdu commented on #1975
Hi @altendorfme, you can mimic what `find_related` does to solve your problem. Basically, `find_releate` is a custom query. And to get paged results, you need to inject `offset` to the query. For example, you can create a custom function and use it in your ajax callback like below. Note that we do have a filter to  change the query arguments in `find_relate` function, but fo your problem, I think

[2020-11-19 11:32] dinhtungdu commented on #1974
Hi @con322, currently, ElasticPress doesn't support `author__in` and `author__not_in` parameters. I created #1976 to address this issue. Thanks for the report!

[2020-11-19 11:35] dinhtungdu commented on #1974
@con322 It may take time for a new version to release, so in the meantime, you can use this snippet to support `author__in` parameter:
[code]

[2020-11-19 14:22] altendorfme commented on #1975
Hi @dinhtungdu very thanks!
This will solve what I need! ;)

[2020-11-19 14:22] #1975 closed

[2020-11-19 14:53] ChrisWiegman commented on #1971
Do we have an estimate on when this will be available?

[2020-11-19 14:58] ChrisWiegman opened #1977 "WordPress white screen when deactivating plugin during CLI indexing operation"
**Describe the bug**

If an indexing operation is underway via WP-CLI, disabling and removing the plugin can lead to a fatal error on the WordPress site.

**Steps to Reproduce**

(replicated on the WP Engine platform)
1. Initiate an idexing operation via WP-CLI
2. Deactivate and remove the ElasticPress plugin while the index is still running
3. Check site and view a white screen (usually only for

[2020-11-20 20:30] shaneonabike commented on #1863
Sorry for the radio silence I had to move onto other projects but we are back hooray!

I finally used your second suggestion and it works great for indexing. But I am curious how this can now be searched, because whatever I try it doesn't seem to be working.

Like if I go to http://mysite.org/?artists=shaneonabike but it displays everything and really isn't integrating with the other facets (appen

[2020-11-22 12:28] Slamik opened #1980 "PHP 8 support"
Hello,

While testing PHP 8 got this error related to ElasticPress

`PHP message: PHP Deprecated:  Required parameter $context follows optional parameter $language in /wp-content/plugins/elasticpress/includes/dashboard.php on line 967`

To conform PHP 8 optional parameter should be after required.

Thank you :)

[2020-11-22 15:44] seldimi opened #1981 "Exclude ElasticPress use from archive pages"
Is there any way to limit ElasticPress functionality so it will for search results page and not in product archives?

[2020-11-22 15:46] CyberCr33p commented on #1981
+1 for this.

[2020-11-23 14:46] scooterlord opened #1982 "Dequeue highlighting-style.css"
Hello,

I want to dequeue the script that adds the `highlighting-style` class - there's no point to have an additional server request, nor you can properly combine it with other css without the nagging about the map file.

I tried `wp_dequeue_style('searchterm-highlighting');` but for some reason it doesn't work. Any ideas?

[2020-11-24 01:18] oscarssanchez commented on #1981
Hi @seldimi ,

You could probably hook into `pre_get_posts` and check if it is an archive page, if it is, set the `ep_enabled` argument to `false`

Hope this helps

[2020-11-24 13:59] scooterlord commented on #1941
I am also getting the same error, however, I already have an index.

[2020-11-24 19:15] lepatachou commented on #1870
I think that the capabilities should be used instead of the role.

In my test website, editor can't see private **page** but can see private **post** (that setting has been made with “User role editor” plugin).

Thanks !

[2020-11-25 16:59] Rahmon opened #1983 "Ordering of features"
**Describe the solution you'd like**
On the Features page, the features are listed in the order as they are registered and there is no way to change this order. I would like that the plugin has a way to change the ordering of the features and to chose if a feature should be on the left or right side.

**Additional context**
I'm developing a feature that registers other features (subfeatures) and I

[2020-11-25 18:37] benleeth opened #1984 "Search Results Not Updating"
I have added ElasticPress to a site (production only) and I'm not returning any different results than without.

API with ElasticPress
[wp-json Production](https://indychamber.com/wp-json/wp/v2/member-listings?t=2020-11-25T18%3A04%3A02.963Z&search=design%20on%20tap&per_page=10)

API without ElasticPress
[wp-json Staging](https://indychambstage.wpengine.com/wp-json/wp/v2/member-listings?t=2020-11-2

[2020-11-25 21:46] tott commented on #1983
Hi Ramon, this definitely is something that could use some work. Do you think you could provide a MR for a potential implementation?

[2020-11-26 14:07] shaneonabike commented on #1863
Ok! I answered my own question. What I was missing is to actually modify the WP_Query using `pre_get_posts`. For anyone else looking at this essentially when you modify this ElasticPress uses the argument modifications in the search with ElasticSearch. This is really a different behaviour then ApacheSolr, which kind of tripped me up a bit.

Anyway, all you have to do is essentially check for your

[2020-11-26 14:19] shaneonabike opened #1985 "Querying ACF numeric fields for a range of values not returning values"
**Describe your question**
I have managed to be able to include  custom ACF fields and most of them I can query directly through a URL variable. What isn't working is when I modify the query to search _between_ two numeric values set in one ACF numeric field.

If I turn off ElasticPress then it seems to work, but enabling I get no results. Any help would be totally appreciated as I feel there must

[2020-11-26 14:21] shaneonabike opened #1986 "Add commenting or editing documentation"
Hey there,

I really love ElasticPress and I also really appreciate the support that has been given through Github. I was thinking that perhaps if we were able to add more comments into the API documentation and/or modify it you might have less tickets being opened in Github. I would love to drop a few examples into the actual sections of the API in order to make it clearer for folks, because pres

[2020-11-26 15:14] Rahmon commented on #1983
Yes. I'll do that.

[2020-11-26 15:25] shaneonabike commented on #1863
I made another request to see if we couldn't modify the documentation to allow comments and/or modifications. I would love to add more examples to reduce the Github noise of questions. I kept finding old ways of doing things only later to find out that there are new methods or better ways to do things.

[2020-11-26 15:25] #1863 closed

[2020-11-26 15:26] shaneonabike commented on #1863
BTW thanks for your help @christianc1

[2020-11-26 17:45] shaneonabike commented on #1862
I wanted to checkin to see how your progress is going. I would love to test this out for you?

[2020-11-27 15:53] shaneonabike commented on #1985
Ok it looks like this was on my end and it's working great!!

[2020-11-27 15:53] #1985 closed

[2020-11-27 16:37] isaquemelo commented on #1120
I'm having the same problem here. Did you manage to solve it @stirrell?

When the `get_object_taxonomies` is called during a WP-CLI command the custom taxonomies are not present. But, when I run the indexaxion from the plugin dashboard, they are all there. For example:

wp cli command (`wp elasticpress index --setup --show-bulk-errors --per-page=350`):
[code]
Now using the dashboard to index:

[co

[2020-11-27 18:06] shaneonabike commented on #1315
Just a followup on the paper trail for those looking for an answer you can find a full post here with WPML https://wpml.org/documentation/plugins-compatibility/using-elasticpress-on-your-multilingual-site/ and they posted a plugin in Github here https://github.com/OnTheGoSystems/wpml-elasticpress/releases

[2020-11-27 18:18] HansVanEijsden commented on #1315
@shaneonabike really appreciated. Big thanks!

[2020-11-27 18:54] shaneonabike opened #1988 "Facets are throwing errors when terms don't exist"
**Describe the bug**
I came across a small coding issue whereby ElasticPress was throwing an error when no terms are being returned. It is a really simple fix in the Facets/Widget.php file. Essentially, the code is only verifying if no terms are returned, but never whether an error is returned.

[code]
Should become:

[code]

[2020-11-27 18:55] shaneonabike commented on #1988
Adding that little extra check basically prevents an exception being thrown, and the search functionality to continue properly.

[2020-11-27 22:08] stirrell commented on #1120
I'm sorry, @isaquemelo. I honestly don't remember if I ever got this working. It was part of a project I was working on at a previous employer so I don't have access to the code anymore so I am not sure where it stands. Sorry I couldn't be any help!

[2020-11-30 14:04] isaquemelo commented on #1120
It's okay @stirrell, thank you so much for your time.
I managed to solve the problem passing the param `--user=ID` to the wp-cli command. Now all private post-types / taxonomies are indexed correctly.