[2017-04-03 12:01] chercka commented on #775
We are running ElasticPress 2.2.1. Is there a separate ElasticSearch version number you are looking for?

We will try the full re-index.

[2017-04-03 12:08] leeroyrose commented on #793
I managed to solve this by deleting and reinstalling the plugin. I have to upgrade a few production sites with the new setup, so i'll be sure to try the wp-cli approach on those.

[2017-04-03 12:48] sergionader commented on #791
Thanks for the reply.
I changed it to http://127.0.0.1:9200, but the error is still there.
Yes, the web server, WordPress and ES are in the same ec2 instance.
Thanks

[2017-04-03 13:23] chercka commented on #775
Here are the results of the full re-index. Something going on during index, but it returns that all 149 posts have been indexed? How else to troubleshoot this?

**wp elasticpress index --setup**
Adding mapping...
Deleting index...
Success: Index deleted
Success: Mapping sent
Indexing posts...

Oops! It looks like you&#8217;re not logged in to your account.

Processed 149/149 entries. . .
Number of

[2017-04-03 17:48] allan23 commented on #775
Hi @chercka,

What other plugins do you have installed?

[2017-04-05 11:37] glagonikas commented on #790
I'm hosting this outside of AWS and i can't limit to specific IP as we have horizontal scaling without fixed IP addresses. I therefore need to use ES_SHIELD.

Tried the following:

1. Created a new IAM user
2. Added the following policy
`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": [
          "arn:aws:iam::XXXXXXXXXXX:user/Elasti

[2017-04-05 12:27] glagonikas commented on #790
By the way, i'm using the PaaS service from AWS, not sure if that was obvious from my previous messages

[2017-04-05 14:01] glagonikas commented on #790
I think the issue is to do with the Shield plugin (X-Pack). According to https://forums.aws.amazon.com/thread.jspa?threadID=248200 it's not supported on the AWS PaaS which explains why the plugin works when the policy is allowed to all.

I will test by installing ES on a stand-alone instance.

I don't think that's a bug with your plugin, but it'd be good to update https://github.com/10up/ElasticPr

[2017-04-06 00:57] JukeBoxDeveloper opened #795 "Sorting not working also, searching for author is not working..."
Sorry to have to bother you guys, I have been trying for a long time to make this work, I need some direction please.

So I'm trying to add 2 things, one is sorting by date Desc, I read the other tickets and it seems to have been fixed, I'm trying to make it work but I'm not sure where is it that I have to change that, I have tried adding a filter to functions.php, also I tried adding it to elasti

[2017-04-06 03:42] tlovett1 commented on #795
@JukeBoxDeveloper can you post some code snippets?

[2017-04-06 03:44] tlovett1 commented on #793
Somehow the index failed. Not sure exactly what happens. EP asks ES for the version and sends the mapping accordingly. If it sent the 5.0+ mapping to a 2.x instance, the mapping would fail.

[2017-04-06 03:44] #785 closed

[2017-04-06 08:21] JukeBoxDeveloper commented on #795
Sure, I actually manage to make the sort by date to work by adding this line to my search.php file:

` <?php query_posts( $query_string . '&orderby=date&order=desc' ); ?>`

I think is kind of a hack but it works. Now the problem is with the author_name field, I know in my index it's a parameter called display_name I added that parameter here:

[code]

Thinking that this might consider this field n

[2017-04-06 08:34] JukeBoxDeveloper commented on #795
Never mind what I said about the order by date line, I checked and it turns out that the result are coming out only as order by date, meaning they somehow ignore my actual search and bring back just whatever is the latest, I'm stuck :(

[2017-04-06 15:32] stevensjn commented on #788
I'll provide a report on my indexing results using "wp elasticpress" from the command line and the sync process in ElasticPress separately. Perhaps this will help narrow the scope of my problem.

Of the post_types listed above are there some that ElasticPress will ignore by default, or does it index all public searchable post_types by default? The documentation on this is not clear (copied below).

[2017-04-06 19:03] chercka commented on #775
@allan23 it's a massive site with over 150.000 registered users, there are all manner of plugins running, a lot of them 100% custom.

More than a solution, I'm looking for strategies on how to troubleshoot this. For example, since the search is returning no results, does that mean indexing has failed? Or does the manual put-mapping confirm that indexing is succesful, and we are looking at an issue

[2017-04-06 19:38] allan23 commented on #775
@chercka, without knowing all the plugins, it may be difficult to troubleshoot. I would recommend deactivating plugins one by one and performing an index operation to determine if there is an issue with one of them.

You mentioned previously that only 149 posts were indexed. Of these 149 that were indexed, what post type were they? Are there missing post types that should have been indexed?

[2017-04-06 19:52] chercka commented on #775
@allan23
1. I can run through the plugins and test indexing - how do I know if the indexing is succesful? Is there a way to do this through the admin interface? I don't personally have WP-CLI access and have to go through someone else for this.

2. 149 posts were indexed on the staging server, correct. How can I see which posts they are?

[2017-04-07 15:45] crazyjaco opened #796 "Seeking advice on theme unit testing/mocking EP"
Hi!

I work on a very high traffic site with a great deal of content that requires ElasticPress to prevent the database from crashing.

In adding unit tests (default WordPress) we have discovered that we get several errors whenever we created a test post in a unit test for our theme. I believe this is from ElasticPress trying to index the new post, but we don't have an elasticsearch instance setup

[2017-04-07 17:18] tlovett1 commented on #796
I would just filter to prevent that post type from being indexed: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-config.php#L144

Out of curiosity, what website is this for?

[2017-04-07 17:39] crazyjaco commented on #796
Ah, thanks. I'll give that a shot.

[2017-04-07 18:11] #796 closed

[2017-04-10 01:25] adalidda opened #797 "npm package for reactjs in the future ?"
Hi,

We love ElasticPress plugin for Wordpress. It's fast and very efficient for the search on our wordpress website.

We would like to do the same search from our Reactjs website. Any development of elasticpress npm package in the future ?

Elasticpress is used on http://media.adalidda.net

We would like to use it on http://adalidda.net  too.

Thank You
Adalidda

[2017-04-10 03:07] ivankristianto commented on #797
Hey @adalidda thank you for your feedback.
ElasticPress has dependency to WordPress and won't be a npm package.

[2017-04-10 03:07] #797 closed

[2017-04-11 15:47] tlovett1 commented on #791
Hey @sergionader if there is an issue with ElasticPress, we are happy to provide support. However, we don't currently provide support for setting up Elasticsearch. We recommend looking at the [installation documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/_installation.html). We also provide [ElasticPress.io](https://elasticpress.io) as a managed Elasticsearch instance

[2017-04-11 15:47] #791 closed

[2017-04-11 18:47] chercka commented on #775
Any input on how to troubleshoot in response to my 2 questions above?

[2017-04-11 19:01] shpetimshala commented on #674
@tlovett1 any news regarding this feature ?

[2017-04-11 19:09] tlovett1 commented on #674
The Media feature is slated for 2.3.  However, I don't think that will touch media library search. Unfortunately the state of this particular feature is unknown. Happy to consider PRs.

[2017-04-12 16:56] allan23 commented on #775
Hi @chercka,
I have been thinking about ways to help you with your issue, so I have developed a plugin that will generate some debugging information that you can share with us. Can you please install the EP Troubleshooting plugin on your staging site and send us the JSON file?

https://github.com/allan23/ep-troubleshoot/archive/master.zip

Instructions for this plugin can be found here: https://gi

[2017-04-12 17:37] chercka commented on #775
That's a fantastic idea, thanks @allan23 . Attached is the json result.

[ep-troubleshoot.json.zip](https://github.com/10up/ElasticPress/files/917382/ep-troubleshoot.json.zip)

[2017-04-12 17:57] allan23 commented on #775
Thanks for the quick response @chercka. At a glance, it appears that the `shop_order` post type is not being indexed. This is likely due to the Protected Content feature not being enabled and the order search being conducted through WordPress and not ElasticPress.

On my local setup, I have a few test orders from a customer from Testerville. With Protected Content turned off and performing a searc

[2017-04-12 18:29] allan23 commented on #795
Hi @JukeBoxDeveloper,

To include the search for the author display name, you can add the following filter to your functions.php:

[code]

In regard to the ordering by date descending, you can hook into the pre_get_posts action instead of running a query_posts() function. You can add this to your functions.php as well:

[code]

We do not recommend that you modify the ElasticPress plugin codebase b

[2017-04-12 20:16] #793 closed

[2017-04-12 20:17] tlovett1 commented on #790
If there is an issue with ElasticPress, we are happy to provide support. However, we don't currently provide support for setting up Elasticsearch. We recommend looking at the installation documentation. We also provide ElasticPress.io as a managed Elasticsearch instance that "just works".

[2017-04-12 20:17] #790 closed

[2017-04-12 20:18] tlovett1 commented on #779
Let us know if this is still an issue.

[2017-04-12 20:18] #779 closed

[2017-04-12 20:18] #783 closed

[2017-04-12 20:21] tlovett1 commented on #781
This should work. Can someone debug?

[2017-04-12 20:28] tlovett1 commented on #775
Yep, that's definitely the problem.

[2017-04-12 20:32] chercka commented on #775
That's awesome guys, thanks. I'm currently unable to re-index via the WP interface so I'm getting our WP-CLI access guy to do it and will report back. Thanks!

[2017-04-12 22:04] lukecav commented on #522
@blindpet
Thanks for updating and forking Memcached Is Your Friend.

[2017-04-13 03:39] ivankristianto commented on #781
in product admin, it still cannot find the sku from product variation.
The query look into this `search_fields`:
[code]

and translate to only:
[code]

so it only look for ` "meta._sku.value"`

I'll debug deeper on this.

[2017-04-13 09:30] dogumobile opened #799 "sort the search results by date desc"
hello, I am trying out the plugin and it works wonderfully, however the results are not sorted according to date. I suppose I have to use some kind of a filter to sort the results by date. but I am not sure where and how to use a filter that would sort the search results.. any advices?

[2017-04-13 09:41] ivankristianto commented on #799
Hey @dogumobile can you give a little bit more details?
Where do you try to do the search? is it in front or admin area?
And can you tell us your WP Version and Elasticsearch version?

[2017-04-13 09:46] dogumobile commented on #799
hello ivan, thanks for fast reply!

the search is in the front, the search that a visitor does when he/she is trying to find the blog post needed. I have a huge database of posts. my wordpress version is the latest version. the elasticsearch version I dont know because my server master installed it for me but I think it is also the latest version. the plugin works, the search uses the elastic inde

[2017-04-13 11:47] ivankristianto commented on #799
By default the search results will be ordered by relevance (by keyword) and then sort by date.
can you give me the link to your search result?

[2017-04-13 14:53] allan23 commented on #799
@dogumobile, for orderby filters, please see my reply here: https://github.com/10up/ElasticPress/issues/795#issuecomment-293667229

[2017-04-13 15:21] keg opened #800 "VIP Go?"
Hi, this is a general question and not an issue, I'm curious if anyone is running this on VIP GO?

Thanks!

[2017-04-13 15:26] tlovett1 commented on #800
No one is yet. If you are going to attempt to get the plugin on VIP, 10up would be happy to provide any assistance we can.

[2017-04-13 15:34] keg commented on #800
Thanks, Taylor, [we've](https://github.com/dfmedia/) got plans to submit it for a formal review soon.

[2017-04-13 16:19] fraunholz commented on #775
I am having the same issue with the current version of Elasticpress. When going back to version 2.1.1 then also the orders are indexed. But one can not search for order number, customer number and from the email addresses we have to remove the dots (.) before searching, otherwise all orders are returned.

[2017-04-13 17:43] tlovett1 commented on #800
@keg mind shooting me an email? taylor.lovett [at] 10up.com

[2017-04-14 14:42] ivankristianto commented on #726
@Holyto You might have an issue in during the indexing.
Can you please install the EP Troubleshooting plugin on your staging site and send us the JSON file?

https://github.com/allan23/ep-troubleshoot/archive/master.zip

Instructions for this plugin can be found here: https://github.com/allan23/ep-troubleshoot/blob/master/README.md

Thanks.

[2017-04-14 15:10] ivankristianto commented on #781
After I take a deeper look.
EP doesn't index product variation value.
I think this could go for future release?
cc: @tlovett1

[2017-04-14 17:53] #799 closed

[2017-04-14 17:53] #795 closed

[2017-04-14 17:55] #744 closed

[2017-04-14 17:56] tlovett1 commented on #775
@fraunholz so you are saying this is working now? Search and Protected Content are required for searching WC orders.

[2017-04-14 17:56] tlovett1 commented on #775
@chercka we'll need to see the error message/stack tract in the logs.

[2017-04-14 18:24] mikekosulin commented on #788
Try to refresh page and unpause scanner.

[2017-04-14 18:32] chercka commented on #775
@tlovett1 since it's run through WP-CLI it is not getting logged in the server log. Is there an elasticpress log watching somewhere?

Segmentation Fault is what is output in WP-CLI.

[2017-04-14 18:32] tlovett1 commented on #775
Nope, there is not. You'll need to trace down where that error is coming from. Perhaps, you are running out of memory.

[2017-04-16 06:37] ivankristianto commented on #788
From what I see, there is an issue while doing an indexing that make it stop on 60 posts.
I like to troubleshoot this issue more deeper.
Can you please install the EP Troubleshooting plugin on your staging site and send us the JSON file?
https://github.com/allan23/ep-troubleshoot/archive/master.zip

Instructions for this plugin can be found here: https://github.com/allan23/ep-troubleshoot/blob/mas

[2017-04-18 03:08] #792 closed

[2017-04-18 03:28] ivankristianto opened #802 "Search by phone number in Woocommerce Order Admin"
the title says it all.
I open this issue for tracking purpose.

[2017-04-18 09:13] fraunholz commented on #775
adding post_id to $search_fields allows to search for the order number but breaks for some reasons the search for other name and email. So for searching the order number elasticsearch was skipped, the performance is acceptable since it's using an index for post_id.
Still there are issues when searching with special characters, e.g. '-' or '@' in emails:
max.mustermann@gmail.com returns all clients

[2017-04-18 09:21] ivankristianto commented on #775
@fraunholz I made a PR for this #803
can you please check?

[2017-04-18 10:02] fraunholz commented on #775
I integrated this commit.
Searching for order number works, but it is doing an elasticsearch AND a (slow) standard search.
The search by email finds wrong orders (see screenshot).
![bildschirmfoto 2017-04-18 um 12 00 23](https://cloud.githubusercontent.com/assets/19900773/25125309/af6f58ac-242e-11e7-9f03-c0aeabb32f36.png)

[2017-04-18 10:23] ivankristianto commented on #775
@fraunholz let's continue this in issue #802 to keep this thread relevant.

[2017-04-18 10:25] ivankristianto commented on #802
@fraunholz as discussed at: https://github.com/10up/ElasticPress/issues/775#issuecomment-294759087

I'll take a look at the orders search result sorting.

[2017-04-18 10:39] fraunholz commented on #802
when a client is calling it is important to be able to search quickly also for customer number and invoice number.
For this we are using  '_wcpdf_invoice_number' (26060), '_wcpdf_formatted_invoice_number' (e.g. IN-2017-26060), '_customer_number_raw' (16823), '_customer_number' (54316823)

Since these fields contain partially numeric values, a strategy can be to search for order numbers / post id (

[2017-04-18 10:51] ivankristianto commented on #802
This PR allow you to search by order id, email, customer name and phone number.
Since you are using custom fields (invoice number and customer number), you need to add those fields to the index using filters.

[2017-04-18 11:01] fraunholz commented on #802
yes, I had this already working once. So let's concentrate on the other fields:
Searching by customer name looks good, email is returning too many results (because of the @-sign?) and phone number is return no result. I will do a re-index and try again.
Btw. With which version of the plugin should I test? I am using 2.2.1 plus Fix/woocommerce search order #803

[2017-04-18 11:53] ivankristianto commented on #802
@fraunholz yeah that plugin version is fine.
searching by email has too many results because it search through ES with fuzzy logic, but it supposed to return the most relevant results first.

[2017-04-18 12:58] dogumobile commented on #799
thanks @allan23
thanks @ivankristianto

allan23's solution works

[2017-04-18 13:03] dogumobile opened #804 "starting the indexing process from crontab"
hello, is there a way so that we can start the indexing process from crontab?
so that the index will refresh itself in defined intervals without our manual intervention?

[2017-04-18 13:12] fraunholz commented on #802
name, phone number, order id and email search is working

[2017-04-18 13:19] ivankristianto commented on #804
What would you want to re-indexing it with cron?
EP designed to incrementally update as you create/update your posts.

[2017-04-18 13:22] dogumobile commented on #804
my posts enter into the database directly. not from within the admin area of wordpress. so it would be good to be able to run the indexing process to index the new posts from time to time automatically..

[2017-04-18 13:24] ivankristianto commented on #804
In that case you can setup cron and run it with wp-cli, here is the command: `wp elasticpress index`

[2017-04-18 13:29] dogumobile commented on #804
will this command delete the old index and build a new index or will it continue to add on the previous index?

[2017-04-18 13:30] ivankristianto commented on #804
No it doesn't delete the old index. But it does re-indexing whole content.

[2017-04-18 13:38] dogumobile commented on #804
is there separate commands to
1) delete the whole index and re-index everything
2) add only the non-indexed post on top of the index

[2017-04-18 14:00] ivankristianto commented on #804
To delete and reindexing you can run this command: `wp elasticpress index --setup`
But there us no command to add only the non-indexed post

[2017-04-18 14:01] dogumobile commented on #804
thanks for the fast assistance @ivankristianto

[2017-04-18 14:02] #804 closed

[2017-04-18 14:47] #800 closed

[2017-04-18 15:02] dogumobile commented on #460
did you find a solution on this?

[2017-04-18 15:14] dogumobile opened #805 "different weights for title and contents"
i did a search but couldnt find a solution. how can we set different weights for title and post contents?

[2017-04-18 15:53] chercka commented on #775
Server error log when attempting to index 984 items on staging, including protected content:
[code]
The Elasticsearch host is set to http://127.0.0.1:9200. Does this need to configured for https??

As a sidenote perhaps, Disabling protected content and hitting sync seems to run ok for 158 items on staging. Produces this error in the server log though. Maybe nothing.
`
[Tue Apr 18 11:43:21.048336 2

[2017-04-18 20:40] bliles opened #806 "post_content does not contain post HTML content"
Is it possible for $post->post_content to contain the HTML content of the post? I can understand why you might not want to return the HTML content since you want to index the visible text.

[2017-04-19 10:20] fraunholz commented on #802
it might happen that one clicks the wrong order because of the fuzzy logic - can this be turned off to have a search that returns only direct hits?

[2017-04-19 11:35] ivankristianto commented on #802
Yes, it can be turned off using filter.
We will make an enhancement on this in the future, but not in this PR.

[2017-04-19 11:41] ivankristianto commented on #805
Hey @dogumobile currently it's not possible to have different weight for specific fields. interest in PR?

[2017-04-19 11:43] myworkpool commented on #806
The workaround way for me is after you have searched you will get the Post ID.

Then, use that in normal WordPress loop   get_posts( $ID )

[2017-04-19 11:46] myworkpool opened #807 "Build the elasticsearch url in Rest from WP_Query"
Is there a way to build the url in REST API form that we can use it in other app Rest calling.

e.g.  sending a WP_Query   of something and it return as'

http:/localhost:9200/__indice__/post/34223?pretty

[2017-04-19 12:05] ivankristianto commented on #807
You could definitely create a plugin to extend the wp-api, then do the wp_query and return it in json format.
But this is not something EP would do.

[2017-04-19 12:09] ivankristianto commented on #806
@bliles i don't think that would be good to include the html in the index. it will confuse the index for your keyword with html class/tag.

[2017-04-19 12:47] fraunholz commented on #802
changing ep_fuzziness_arg filter to 0 is giving the same results

[2017-04-19 12:54] bliles commented on #806
I thought that might be the case, just wanted to confirm the best approach, get_post is what I used and that worked great. Thank you.

[2017-04-19 12:54] #806 closed

[2017-04-19 14:38] myworkpool commented on #807
May be we understand in a wrong small way.

Is there a way to catch the data post into the elasticsearch server?

[2017-04-19 17:00] myworkpool commented on #807
Answer to myself:

Use this snippet code in your <theme>/functions.php  or create a new plugin

http://www.hinnerk-altenburg.de/weblog/wordpress-filter-hook-logging-debugging-wp_http-requests/#.WPd6glOGPdQ

p.s. to create a new plugin,  go to wp-content/plugins   folder and create a new folder. Then create a new file with the code snippet from above.   Then tell WP this is my plugin by insert the

[2017-04-19 17:14] tlovett1 commented on #807
ElasticPress integrates with WP_Query. All you need to do is hook in to ensure ElasticPress integrates with REST queries (`ep_integrate => true`).

[2017-04-19 17:14] #807 closed

[2017-04-19 17:22] myworkpool opened #808 "Generate reports for WooCommerce (using Kibana + ES Stack)"
The problem is when you reach hundred thousand or above of WooCommerce Order, a normal MySql report will have a problem due to it slow and unreliable from taking too long time to finish creating report.

My idea is to generate report using Kibana stack. It would be great to create a dashboard for my boss to see which product is doing well from millions of records. If anyone create the template I t

[2017-04-20 15:13] ivankristianto commented on #808
@myworkpool ElasticPress it not built to that level yet. But it does store order data to elasticsearch for you to process and show it using kibana.

[2017-04-20 15:24] tlovett1 commented on #808
This would be a great addition!

[2017-04-20 15:28] myworkpool commented on #808
It seems that order total price and line item in the order doesn't indexed
into the elastric server.

I will check again.

On Thu, Apr 20, 2017 at 10:25 PM Taylor Lovett <notifications@github.com>
wrote:

[2017-04-20 20:11] stevensjn commented on #788
Here is the requested document:

[ep-troubleshoot.zip](https://github.com/10up/ElasticPress/files/945345/ep-troubleshoot.zip)

[2017-04-20 20:43] stevensjn commented on #788
By syncing via plugin I get 956 records.  We have a page titled "Huron County Cycling Strategy" which is not returned at all. I have double checked in Kibana and the page is not in the index. Kibana shows 50 records of post_type "page" after this sync.

Syncing via "wp elasticpress" at the command line (one post type at a time) I get the 837 records if I sync all the post_types listed in the EP-Tr

[2017-04-21 11:13] dogumobile commented on #805
what is PR?

[2017-04-21 16:56] brocheafoin opened #810 "[Network] Syncing from dashboard: 'the_content' filters may not be run appropriately for subsites"
Hi!

We have a multisite network. In such a case, ElasticPress's settings are added to the Network Settings area, which is fine. What is less fine is what happens when performing a batch sync from there, which looks like this:

1. Find the first unfinished subsite in the queue
2. switch_to_blog()
3. Get posts
4. For each post:
    1. ep_prepare_post()
    2. Add to EP index queue
5. ep_bulk_index_

[2017-04-21 17:13] tlovett1 opened #811 "WC Draft Product Previews Messed Up"
With WC active and Protected Content inactive, draft product previews are showing the incorrect product.

[2017-04-22 21:06] tlovett1 commented on #810
Yep, this is a problem. I'm fine with a filter in `prepare_text_content` that let's you disable applying the content filter. Want to submit a PR?

[2017-04-22 21:28] brocheafoin commented on #810
Thanks for the answer! Disabling `the_content` filter only solves half the problem, though. There's no way to add the hooks from a subsite's active plugin or theme if this plugin or theme is not active in the main site.

[2017-04-25 12:21] ivankristianto commented on #788
@stevensjn I saw your index log file.
You have an error in your shortcode: `subpages_unqprfx_shortcode`
can you fix the shortcode and try to reindex?

[2017-04-25 14:05] #726 closed

[2017-04-25 15:06] ivankristianto commented on #805
PR = Pull Request.
If you can work on a solution for this issue and submit it as Pull Request.

[2017-04-25 15:07] ivankristianto opened #813 "Create settings for Decay value for search feature"
The search feature come with the function_score query: https://www.elastic.co/guide/en/elasticsearch/guide/2.x/function-score-query.html

This is where the code is:
https://github.com/10up/ElasticPress/blob/develop/features/search/search.php#L168-L170

We need to have a settings to set this decay value.
cc: @tlovett1 and @tott

[2017-04-25 15:38] tlovett1 commented on #810
Unfortunately, the only way to accomplish this is using WP CLI to loop through sites and run a sync individually.

[2017-04-25 15:38] #810 closed

[2017-04-25 15:50] brocheafoin commented on #810
My situation is peculiar in that we're running a network, but the sysadmin won't give us shell access, so WP CLI is not an option. As I said, I'm not sure there's an easy way to fix this, but I had a few shower thoughts about it. Since the syncing process is controlled by polling admin-ajax.php, would it be possible, when a subsite is done indexing, to send the "start_batch" action to its subsite'

[2017-04-25 16:32] mingotaku opened #814 "Using this pluggins don't recocer any from the Database"
Hello.
Using this pluggin made me some missfortuned.
Firstly, this pluggin required Elastic Search 5.2.0, when the 5.3.1 version is already released.

Moreover, the pluggin doesn't work correctly. All the data from my WP are correctly indexed, but when I make some search, all the results crome from the MySQL DDBB from Wordpress, instead of the Elastic Search.

I am using elastic Search and WP on l

[2017-04-25 16:49] colis opened #815 "Multiple orderby not working"
I'm using this orderby clause

`'orderby'        => array(`
`'meta.accommodation_type.raw' => 'DESC',`
`'title' => 'ASC',`
`'relevance' => 'DESC'`
`)`

but basically only the first orderby property affects the results. Any thoughts?

[2017-04-25 20:17] zaphod-42 opened #816 "Woocommerce on Network Install"
I have a network install (3 sites) and only 1 uses woocommerce, when I go to the elasticsearch options I cannot enable woocommerce from the network admin panel since it is not network activated.

[2017-04-25 20:21] chercka commented on #775
We got admin search to return results once again by removing the filter 'op_wc_shop_order_search_fields' on init:

`add_action( 'init', 'remove_ep_wc_shop_order_search_fields_filter' );
function remove_ep_wc_shop_order_search_fields_filter() {
    remove_filter( 'woocommerce_shop_order_search_fields', 'ep_wc_shop_order_search_fields', 9999 );
}`

What is the reason for this being in EP? If it is o

[2017-04-25 22:47] catsr opened #817 "Wordpress MU Domain Mapping + Multisite + WP_Query with sites array fails to return all results when used on a network site"
I have a multisite set up with two network sites:

- ID 1 = the main site with which the multisite install was spun up
- ID 4 = a second network site in the network

Without the _MU Domain Mapping_ plug-in enabled, cross-site queries work as expected.

However, when enabling the MU Domain Mapping plug-in, and configuring a different TLD to point at network site with ID=4, the following query - run

[2017-04-27 00:27] tlovett1 commented on #816
You will need to activate EP on each site separately.

[2017-04-27 00:27] #816 closed

[2017-04-28 14:49] ivankristianto commented on #817
Can you send us the elasticsearch query post?
you can get using https://github.com/10up/debug-bar-elasticpress
it's in top right corner. See my screenshot.
And please paste here the query args, query bodu and query result.
![screen shot 2017-04-28 at 21 48 54](https://cloud.githubusercontent.com/assets/656006/25533960/8aeebda2-2c5c-11e7-944b-257495a923cf.png)

[2017-04-28 15:29] ivankristianto commented on #815
Hey @colis
i tried it with woocommerce, sort by multiple orderby and it's working.
here is my WP_Query:

[code]

Result:
Test A Product 10000
Loving By Henry Green 122.5
**Mushrooms 120
A Milk ‐ 1 Pint 120**

AND
[code]
Result:
Test A Product 10000
Loving By Henry Green 122.5
**A Milk ‐ 1 Pint 120
Mushrooms 120**

[2017-04-28 15:32] ivankristianto opened #820 "Custom WP_Query force ep_integrate to true for WooCommerce product query"
This is my WP_Query:
[code]

Event though I specifically put `'ep_integrate'   => false`, it will be forced to true.
Here is the code that cause it: https://github.com/10up/ElasticPress/blob/develop/features/woocommerce/woocommerce.php#L362

[2017-04-28 18:10] dogumobile commented on #805
ok. i will

[2017-04-28 19:42] dogumobile opened #821 "How use the related posts api in the theme?"
hello, i tried putting:

ep_find_related( $post_id, $return = 5 )

into my theme file (single.php) but it didnt show the related posts.

any advices?

[2017-04-28 20:24] dogumobile opened #822 "indexing only the posts (not indexing pages)"
what is the best way to exclude pages from seach results so that only posts are returned as search results?

[2017-04-28 21:12] dogumobile commented on #795
hello @allan23 i applied your fix to order the search results desc, it does order the search results by date desc BUT at the same time the revelancy became too bad. the results are displayed regarding to the date but the relevancy is so poor that if you searched for "apples" you end up with results about "crocodiles".. is there a fix that would sort the results WITHOUT compromising relevancy?

[2017-04-28 21:30] JukeBoxDeveloper commented on #795
I actually ended up building an external service for my search engine
rather than continue to struggle with wordpress, but I would be curious to
know if there is something to do just that. Sorry I don't have an answer to
it.

On Fri, Apr 28, 2017 at 2:12 PM, dogumobile <notifications@github.com>
wrote:

--
*We breathe. We pulse. We regenerate. Our hearts beat. Our minds create.
Our souls ingest.*

[2017-04-28 22:15] dogumobile commented on #795
hey @JukeBoxDeveloper how many records do you have in your seach base?

[2017-04-28 22:41] JukeBoxDeveloper commented on #795
Not that many, currently 100,068 records, but I needed to get the search
out of wordpress due to speed more than anything.

On Fri, Apr 28, 2017 at 3:15 PM, dogumobile <notifications@github.com>
wrote:

--
*We breathe. We pulse. We regenerate. Our hearts beat. Our minds create.
Our souls ingest.*

[2017-04-29 05:53] catsr commented on #817
Thanks for the quick response!

Checking the ElasticPress debug log, I was able to find what was going on. Posting the results (and a solution) here for posterity (or in case there is anything that the ElasticPress plug-in could do in the future to automate this).

It looks like this is caused specifically by the way **Site 4** (which has a re-mapped TLD) references its own index by name.

Domain

[2017-04-29 23:44] dogumobile commented on #795
i also need to get the search faster. what do you recommend?

[2017-04-30 03:36] JukeBoxDeveloper commented on #795
What i did personally is move my search to a little external service,
basically I forward the query from WordPress to my search.wordpress domain,
I have logstash updating my index on a qbox service. Search is 1000% faster
and I can sort by date without messing up relevance.

On Sat, Apr 29, 2017 at 4:44 PM, dogumobile <notifications@github.com>
wrote:

--
*We breathe. We pulse. We regenerate. Our

[2017-04-30 14:52] ivankristianto commented on #822
hey @dogumobile
you can filter it using `ep_searchable_post_types`

[2017-04-30 15:06] ivankristianto commented on #821
@dogumobile
I can use `ep_find_related` just fine.
Here is my sample shortcode:

[code]

[2017-04-30 15:19] #815 closed

[2017-04-30 16:37] ivankristianto commented on #814
You need to downgrade your Elasticsearch to version 5.2.x as we are not support version 5.3.x yet.

[2017-04-30 16:37] #814 closed

[2017-05-01 03:25] #822 closed

[2017-05-01 18:50] tlovett1 commented on #805
Something like this:

[code]

[2017-05-01 18:50] #805 closed

[2017-05-01 19:17] tlovett1 commented on #775
Hmmm, I'm testing EP with Protected Content and WooCommerce enabled. I am getting orders in search when I search by orderer name.

The reason for that being in EP is to prevent an unnecessary meta query from firing.

[2017-05-02 15:40] #701 closed

[2017-05-03 07:03] byrannewell opened #824 "I have a sort order issue. My sort plugin is not respected by ElasticPress"
I have a plugin called Advanced Post Types Order. It uses a table called "wp_apto_sort_list" that changes the sort order of my products. This is the order I need to have on my site, but ElasticPress is not taking this table into account.

How do I fix this?

[2017-05-03 12:33] lukaspawlik commented on #813
@allan23 @tlovett1 @ivankristianto

I've built something similar for our customer who needs to play with values to find "the best ones".

Here is the screenshot how configuration looks like. We don't show the offset value as customer is interested only in number of days and "decaying aggression". We also support disabling decaying feature at all.

<img width="1477" alt="screen shot 2017-05-03 at 1

[2017-05-03 12:39] lukaspawlik opened #825 "Incorrect posts_found variable when Elasticsearch query is not successful"
I've observed an issue that when Elasticsearch server is inaccessible (or just index) that when ElasticPress allows WP_Query to perform DB query then found_posts is not the number of total found posts. This value is set to first result ID.

[2017-05-03 12:59] lukaspawlik commented on #825
PR created: https://github.com/10up/ElasticPress/pull/826

[2017-05-04 20:41] djrmom opened #827 "Wrong result count with Woocommerce Hide out of stock items from the catalog option"
After updating to Woocommerce 3, the result count and pagination of products is incorrect with the "Hide out of stock items from the catalog" option selected ( in product inventory settings ).

I tested this on a clean install with wpdocker and the woocommerce test data.

23 total products, "Hide out of stock items from the catalog" option, set 1 to out of stock

Store page results have 23 product

[2017-05-04 21:43] tlovett1 commented on #827
@ivankristianto mind taking a look at this one?

[2017-05-05 06:29] pcfreak30 commented on #820
I had to add a pre post hook to override this and set ep_integrate to false after this code.

[2017-05-05 12:12] fraunholz commented on #775
how to disable the fuzziness? I tried several ways but it keeps showing zero or similar results.
That's ok for names but for customer numbers and order numbers we want only direct hits.

[2017-05-05 13:17] tlovett1 commented on #824
EP is going to have a hard time working with custom tables.

[2017-05-05 13:17] #824 closed

[2017-05-05 13:28] ivankristianto commented on #813
@lukaspawlik it's awesome. yes couple users has been asking about this decay function.
But I wonder why not put that setting into Search module instead? because it is more relevant there.

[2017-05-05 13:35] ivankristianto commented on #802
you can turn it off using filter:
`remove_filter( 'ep_formatted_args', 'ep_weight_recent' );`

[2017-05-05 13:41] ivankristianto commented on #810
@brocheafoin that would be a hardway to do it. I suggest you let the web admin run it for you.

[2017-05-05 13:45] #821 closed

[2017-05-05 14:49] lukaspawlik commented on #813
@ivankristianto An update: I've just added Offset configuration too as customer asked me to do this.  I decided to build a separate new ElasticPress feature for that instead of hooking into `ep_feature_box_settings` action for Search module as JavaScript responsible for sending configuration doesn't pick any non radio field into account when building settings object sent via AJAX (I ported some of

[2017-05-05 14:57] brocheafoin commented on #810
@ivankristianto yeah you're right. I'm probably alone in my situation. Let's not write too much single-use code. Thanks!

[2017-05-05 16:48] #825 closed

[2017-05-07 13:16] pySilver commented on #659
take a look at "alias" functionality of elasticsearch. basically you can have the same index name all the time that just points to different indices in fact. in short
1. setup alias "myalias"
2. point alias to index "myindex"

on update

1. setup index "myindex_yymmddhhii"
2. update alias once new index is "green"
3. keep "myindex", so you can easily revert it.

[2017-05-08 16:41] javierZippia opened #828 "Not getting thumbnail_image"
Since the last update seems its not adding post meta thumbnail_image to ES  with the CLI tool. Always seting post_meta empty

[2017-05-09 00:23] elvismdev commented on #660
@tlovett1 I see [here](https://github.com/10up/ElasticPress/commit/32bb16eb5502cfd47a92f94d73dc125ca2bfcbec#diff-04c6e90faac2675aa89e2176d2eec7d8R59) you guys added this feature recently.

Is there any extra work needed to be done on the Elasticsearch instance for this to function properly?

Or just by installing and configuring ElasticPress, users will be able to search for texts contents inside

[2017-05-09 03:15] tlovett1 commented on #802
This should be fixed in develop.

[2017-05-09 03:15] #802 closed

[2017-05-09 03:22] tlovett1 commented on #660
You will need the [ingest attachment](https://www.elastic.co/guide/en/elasticsearch/plugins/master/ingest-attachment.html) plugin for the feature to work.

[2017-05-09 06:35] vichang opened #831 "Hanging on indexing posts"
Wordpress 4.7.4
Elasticsearch 5.2

Running setup through wp-cli, it seems to hang on Indexing posts...

Enabled logging in elasticsearch but don't see any significant errors.

[2017-05-09 11:43] ivankristianto commented on #831
What is your ElasticPress version?

[2017-05-09 11:46] ivankristianto commented on #828
I don't experience your issue on my default local installation.
Can you post one of post index from elasticsearch?
You can do it by:
1. Install Sense for Chrome: https://chrome.google.com/webstore/detail/sense-beta/lhjgkmllcaadmopgmanpapmpjgmfcfig?hl=en
2. run this in body post:
[code]

[2017-05-09 13:21] javierZippia commented on #828
i debug and seems in:
prepare_meta never $allowed_protected_keys didnt work for '_thumbnail_id'.

Apart from that if i force to add '_thumbnail_id', its not adding to ES the link of the image, so i calculate it manually:

`class-ep-api.php	2017-05-09 12:22:21.626271566 +0200
@@ -792,6 +792,9 @@
 			if ( true === $allow_index || apply_filters( 'ep_prepare_meta_whitelist_key', false, $key, $post ) )

[2017-05-09 14:38] #820 closed

[2017-05-09 16:31] vichang commented on #831
Elasticpress 2.2.1

[2017-05-12 15:54] ivankristianto commented on #831
can you try with the version from this develop branch?

[2017-05-16 07:53] yshanthipriya opened #833 "Missing few posts while publishing in wordpress in elasticsearch indexing"
Hi missing few posts and wrong data is getting index in elastic search using elasticpress wordpress plugin

[2017-05-16 11:53] elvismdev opened #834 "400 Bad Request when using aggregations with use-filter = true"
I have this code to search only posts with a given category and also add an aggregation of category terms.

[code]

When I add/use the filter param `'use-filter' => true` in my aggregation arguments, I get a 400 Bad Request response from Elasticsearch failing exactly here at [this line on `ep_remote_request()`](https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L215)

[code

[2017-05-16 12:56] prasoon-sipl opened #835 "Not able to sync from GUI"
Hello while syncing through GUI it is giving a message - Error while syncing

What could be the issue, how can I debug it to find exact cause.

[2017-05-16 14:23] tlovett1 commented on #835
Can you try syncing via WP-CLI? That might give you a more detailed error message.

[2017-05-16 15:04] #828 closed

[2017-05-16 15:34] #811 closed

[2017-05-16 16:58] renanno opened #836 "Multiple modifiers in search term"
Hi

I don't know if this is an issue or a pull request, so correct  if I'm wrong posting this as an issue.

I have a subscription website. Users sign in and subscribe to get restrict content about law. So, my "product" is content. Some with more than 3k words.

We have some complex terms, with more than one word, and other terms with one word only.

So we need to find this kind of terms in the sam

[2017-05-16 17:09] prasoon-sipl commented on #835
It is working fine through wp-cli with two notices, but with GUI it is
giving error.

On Tue, May 16, 2017 at 7:53 PM, Taylor Lovett <notifications@github.com>
wrote:

--

Warm Regards,

*Prasoon Sharma*

Cloud Operations Head

*Systematix Infotech Pvt. Ltd.*

*India* | Australia | United Kingdom | United States

Plot No. 67, PU-4 Commercial, Behind C21 Mall | AB Road Indore

*Tel:* 0731-2570282|

[2017-05-16 20:28] djrmom commented on #827
I think I have gotten this working on the site where I needed this setting with this https://github.com/djrmom/ep-product-visibility/blob/master/ep-product-visibility.php

[2017-05-17 08:10] vichang commented on #831
This version managed to setup the index.

[2017-05-18 02:56] djrmom commented on #827
On further testing, the above wasn't indexing correctly, so I now have https://github.com/djrmom/ep-product-visibility/blob/684d1552a5d16e302509f6a691a5972479f889c9/ep-product-visibility.php

[2017-05-18 18:23] ivankristianto commented on #836
@renanno ElasticPress not support your requirement by default.
But I believe you can filter it to match your case.
Filter you need to use is `ep_formatted_args`,
where you can see in this line:
[code]

you need to remove the second and third array. and it should return the exact match.
this documentation would also help: https://www.elastic.co/guide/en/elasticsearch/guide/current/phrase-matching.h

[2017-05-19 07:55] ivankristianto commented on #835
@prasoon-sipl can you paste here the notices error?

[2017-05-19 08:19] ivankristianto commented on #834
I might put this into a bug.
This issue might related to #636 .

So @elvismdev if you're don't use `'use-filter' => true,` then your code should work:
[code]

but if you are using `'use-filter' => true,`, then it should change to:
[code]

the issue is when we are using `use-filter`, then it turns to multiple aggregation.

cc: @tlovett1 & @lukaspawlik need your feedback

[2017-05-19 10:30] fraunholz opened #837 "Sync Problems"
We are having problems with the Elasticsearch synchronization.
Sometimes when changing the order status from e.g. pending to processing the order still shows in the list for pending orders. After deactivating elasticsearch or reindexing the status is correct.
By debugging in class-ep-sync-manager.php function sync_post we saw the following behaviour:
during the post status change the new and corre

[2017-05-19 10:51] ivankristianto commented on #827
@djrmom I create a PR to fix this issue at #838, would you try that, and let me know if it is fix it.

[2017-05-19 11:04] ivankristianto commented on #837
@fraunholz I did try it and it working well.

![test-wc-order-update](https://cloud.githubusercontent.com/assets/656006/26245248/674dd16e-3cbd-11e7-9991-2fdbce5c6aab.gif)

Can you check if you have any hook to run update_post_meta while change status?

[2017-05-19 11:11] fraunholz commented on #837
first of all: which tool are you using to create the video? :-)
Yes, sometimes and especially when done manually there is no problem.
It is difficult to debug.
For the meta hook I added logging now also to action_sync_on_update and I will check as soon the problem occurs again.

[2017-05-19 11:30] ivankristianto commented on #833
@yshanthipriya can you elaborate about the "wrong data is getting index" ?
Can you check if all posts is indexed correctly?
you can run in wp-cli: `wp elasticpress stats`

[2017-05-19 12:57] misulicus opened #839 "Issues with FacetWP"
When FacetWP is activated im getting a fatal error on some pages.

`PHP Catchable fatal error: Object of class WP_Post could not be converted to string in /dom10096/wp-content/plugins/facetwp/includes/class-facet.php on line 207`

When i disabled ElasticPress is all back in action. Looks like FacetWP expects array of ids on that line and elasticpress somehow sends WP_POST

[2017-05-19 16:05] djrmom commented on #827
Hi @ivankristianto, this does not work on my existing site.  I think it is because the term_taxonomy_id is not  the same as term_id for these terms.

[2017-05-19 17:55] renanno commented on #836
I don't know if I didn't get it, but I don't think this would solve this question.

I mean, following my example above, the $query would need to be this way, right?

[code]

That way would return results with 'THIS IS A PHRASE' exact term and WordA and WordB, all in its content. Right?

So, possibly using regex I would have to look for terms inside quotes ("") to put in phrase type array and all t

[2017-05-19 18:13] djrmom commented on #827
I tried updating the code to change from term_taxonomy_id to term_id  to this and seems to work:
[code]

[2017-05-19 18:14] ivankristianto commented on #827
@djrmom i create another PR: #840 can you test again? please reindex first

[2017-05-19 18:27] djrmom commented on #827
@ivankristianto #840 gives me correct results

[2017-05-20 09:44] prasoon-sipl opened #841 "Search issue"
I had indexed the data in aws elastic search service, when I search through wp with keyword as york times it is working and searching through ES, but when I search using new york times it does not seem to fetch anything through ES and hits database. I have posts that have new york  times in title or content. What could be the issue?

[2017-05-21 05:16] ivankristianto commented on #841
@prasoon-sipl can you give me your WP, EP and ES version?
and can you install plugin debug bar and debug bar elasticpress (see more here https://www.elasticpress.io/blog/2017/05/debugging/)
and give me your ES query args?

[2017-05-21 05:22] ivankristianto commented on #839
@misulicus,
the way ElasticPress work is extending wp_query to use Elasticsearch to get the result, and won't change the output type. So basically it will work with other plugin.
And facetwp is a paid plugin and come with premium support, so I would suggest to open ticket to them and let them see why it cause the error.

[2017-05-21 11:30] prasoon-sipl commented on #841
To my surprise it hits ES and mysql both for every search, how can I make it not hit db if results get found in  ES.

Elasticpress version 2.1.2
WP version 4.7.4
Elastic search service AWS 5.1

[2017-05-22 07:43] fraunholz commented on #837
flushing the Wordpress cache for this post before sync seems to be the solution

[2017-05-22 07:46] fraunholz opened #842 "fullname"
Hi,

when searching by name for orders in woocommerce with elasticsearch the orders are not returned in the correct way, e.g. a search for "John Smith" is finding many "John"s and many "Smith"s, but should show the "John Smith"s first.
How can we set the search to take firstname and lastname as one?

Kind Regards
Christian Fraunholz

[2017-05-22 07:49] #837 closed

[2017-05-22 08:04] hrose1 opened #843 "sort orders by date"
we added sort=date to the url and it is used by elasticsearch, but the orders are not returned in the correct historical order.
Example: searching for "amazon" to retrieve all orders coming from Amazon.

[2017-05-22 08:52] ivankristianto commented on #841
That's surprising to me too. because the way ElasticPress works is bypassing MySQL query if tag `'ep_integrate' => true` is found.
so there is a possibility that it is crash with another plugin.

[2017-05-22 09:17] prasoon-sipl commented on #841
No I have got the thing, for pagination wordpress no sql found rows query
also runs, which takes up huge time.

On Mon, May 22, 2017 at 2:22 PM, Ivan Kristianto <notifications@github.com>
wrote:

--

Warm Regards,

*Prasoon Sharma*

Cloud Operations Head

*Systematix Infotech Pvt. Ltd.*

*India* | Australia | United Kingdom | United States

Plot No. 67, PU-4 Commercial, Behind C21 Mall | AB Road I

[2017-05-22 10:43] ivankristianto commented on #842
@fraunholz you can increase the score weight for some fields.
Here is the snippet code to do that:
[code]

[2017-05-22 11:42] ivankristianto commented on #843
@fraunholz I tried to search the wc order with name and sort by date. it's working well. can you elaborate?

[2017-05-22 12:04] ivankristianto commented on #841
So that means your keyword `new york times` is not return any result from ES.
can you try to reindex and try again?

[2017-05-22 13:02] prasoon-sipl commented on #841
It is returning result from ES as well, but as we are using pagination as
well, for pagination it uses wordpress querty.

On Mon, May 22, 2017 at 5:34 PM, Ivan Kristianto <notifications@github.com>
wrote:

--

Warm Regards,

*Prasoon Sharma*

Cloud Operations Head

*Systematix Infotech Pvt. Ltd.*

*India* | Australia | United Kingdom | United States

Plot No. 67, PU-4 Commercial, Behind C21 Mall |

[2017-05-22 16:17] ivankristianto commented on #841
I can't replicate your issue. do you mind paste the pagination query you are talking about?

[2017-05-23 15:38] #842 closed

[2017-05-23 15:39] #839 closed

[2017-05-23 15:39] #831 closed

[2017-05-23 15:55] misulicus commented on #839
@ivankristianto sorry for the delay.
I tested by doing a var_dump of the data on the line with the error and when elasticpress is not active the result is an array of post Ids (like facewp needs) but when elastic press is enabled the result is an array of post objects so its definetly altering the output

[2017-05-23 17:12] ekandreas opened #844 "Nag removal"
How to remove these annoying nags to check ES compability?
[code]

[2017-05-23 17:14] ivankristianto commented on #839
@misulicus looks like facetwp using return field parameter (https://codex.wordpress.org/Class_Reference/WP_Query#Return_Fields_Parameter) which is not currently supported by Elasticpress, but we are working on it.
You can try it in this PR #760

[2017-05-23 17:17] ivankristianto commented on #844
@ekandreas we haven't fully tested it on ES 5.3.0
so it will stay there for now. So you either downgrade your ES to 5.2.0 or disable it by css

[2017-05-23 17:17] #844 closed

[2017-05-23 17:19] ekandreas commented on #844
Ok, I see your point but we love to live in danger.
Why not add a filter to the nag functions?

[2017-05-23 17:44] ivankristianto commented on #844
That could be a good idea. Mind to create a PR and so the other team could consider it?

[2017-05-25 17:24] misulicus commented on #839
@ivankristianto so good news is with that PR my page works with FacetWP and ES but the hosting guys said this:
[code]

Is that something that is a change in ES cause of that PR ? cause i can't seem to find and reference to those files being removed. And with them removed any idea what "changes"

[2017-05-25 17:27] ivankristianto commented on #839
@misulicus Those 2 files are important files. I suggest to copy the files back.

[2017-05-25 19:35] misulicus commented on #839
All good now. And yep that PR fixes the issue with FacetWP

[2017-05-26 15:51] devenh opened #845 "General: ElasticSearch on AWS"
I currently have my wordpress site hosted on AWS, but I'm new to ElasticSearch. AWS has two options when using ES. I can either setup my own EC2 machine and install ES or use [Amazon's hosted ES service](https://aws.amazon.com/elasticsearch-service/faqs/).

If I'm planning on using ElasticPress, is there a particular ES option that you recommend over another?

I think using the AWS hosted ES servi

[2017-05-26 16:00] devenh opened #846 "General: Using ElasticSearch, ElasticCache (AWS) and W3TC on Wordpress"
Hello, I have another general question. My wordpress site is currently deployed on AWS EC2 servers and I'm using the W3 Total Cache plugin along with server side caching using Elasticache (Redis) on AWS.

I am now planning on adding ElasticSearch to my site, but I wanted to make sure there was no major conflict between all the different tools that I'm using. I'm assuming that just like normal SQL

[2017-05-26 17:02] jhabdas opened #847 "How to use GNU licenses for your own software"
https://www.gnu.org/licenses/gpl-howto.html

[2017-05-26 21:01] jhabdas commented on #847
https://github.com/xwp/wp-dev-lib/issues/240

[2017-05-26 21:02] sjferwerda commented on #708
We just launched a new site using ES 5.2.2 and EP plugin version 2.2.1. Unfortunately, many of the results are not relevant. We have ~101,000 docs spread over 5 shards.

Here's an example query:

http://www.steamboattoday.com/search-results/?q=lacrosse&searchType=news&sort=DESC&range=20170524%3A20170526

As you can see the first two results do not contain the string "lacrosse". The second two do,

[2017-05-26 21:13] sjferwerda commented on #708
Well, right after I wrote the previous comment, I upgraded to EP 2.3 and that appears to have mostly fixed, or entirely fixed the issue. I had waited to upgrade because I did not see any mention of a fix in the release notes, but perhaps I just missed it. Anyhow, there may not be an issue now. If you have any other insight as to why 2.3 would have fixed this issue, please let me know. :-)

[2017-05-26 22:11] sjferwerda opened #848 "2.3 Upgrade removes EP Dashboard/Settings page"
Just upgraded to EP 2.3 and now the ElasticPress menu link is gone and when I go to:

/wp-admin/admin.php?page=elasticpress

It's telling me: Sorry, you are not allowed to access this page.

I'm logged in as an Administrator.

Any ideas what's going on? Could it be related to the EP_DASHBOARD_SYNC enhancement.

[2017-05-27 07:40] ntwb commented on #847
The repo has a license, @jhabdas please cease harassing the WordPress community on GitHub with your licensing issues, the issues are yours, not the projects you are opening these issues on.

[2017-05-27 09:45] jhabdas commented on #847
Though not relevant unless switching to AGPLv3, a stronger copyleft license with the [same GNU license compatibility](https://www.gnu.org/licenses/gpl-faq.en.html#AllCompatibility) as the GPLv3, I've [opened a question](https://opensource.stackexchange.com/q/5524/8188) to help clarify the meaning of the second block quote in my post above as could potentially have some bearing on the outcomes of a

[2017-05-27 10:07] prasoon-sipl commented on #841
SELECT wp_posts.ID FROM wp_posts INNER JOIN wp_postmeta ON ( wp_posts.ID = wp_postmeta.post_id ) INNER JOIN wp_postmeta AS mt1 ON ( wp_posts.ID = mt1.post_id ) WHERE 1=1 AND ( wp_posts.post_title like '%travel%' OR ( wp_postmeta.meta_key = 'general_date' AND ( ( ( mt1.meta_key = 'raw_data' AND mt1.meta_value LIKE '%travel%' ) OR ( mt1.meta_key = 'see_more_raw_data' AND mt1.meta_value LIKE '%travel

[2017-05-27 15:36] prasoon-sipl opened #849 "How to ignore wordpress pagination and use our own pagination with elasticpress"
I have a problem, elasticpress returns the result in few microseconds but wordpress pagination query takes enough time. How can I resolve this?

[2017-05-27 16:49] jhabdas commented on #847
Closing this given it's not clear to me if this is an actual issue. It was opened because I saw MIT licensed projects coping individual files without Licensing headers from GPL projects built in GitHub and there seemed to be a lack of guidance on the WordPress Forums. Please feel free to reopen if it makes sense. Sorry if I caused any ill will with this issue. My only intention was to help this pr

[2017-05-27 16:49] #847 closed

[2017-05-27 20:06] tlovett1 commented on #847
No worries!

[2017-05-28 03:46] ivankristianto commented on #848
@sjferwerda no it doesn't related to `EP_DASHBOARD_SYNC`, I'm wondering if the plugin is activated?

[2017-05-28 04:47] ivankristianto commented on #708
@sjferwerda not sure what cause the fixed on your end. Did you do reindexing after the upgrade? If yes, that might have fixed it.

[2017-05-28 04:50] ivankristianto commented on #845
@devenh from what I experienced, AWS ES is good. You can use that one.
And for WP-CLI command it has nothing to do where you hosted it. So yes it will works well.

[2017-05-28 04:51] #845 closed

[2017-05-28 05:05] sjferwerda commented on #848
Well that's really odd. I swear that the plugin was activated when I looked before filing this issue request... but just went back and checked and it wasn't showing as activated now. Thanks! :-)

[2017-05-28 05:05] #848 closed

[2017-05-28 05:06] sjferwerda commented on #708
Nope, did not re-index on our end. I guess it's not an issue now. Thanks for your help!

[2017-05-28 05:08] ivankristianto commented on #846
@devenh I'm not sure how you configure your w3tc plugin. But I'll try to answer your question.
1. If you have w3tc database cache active, and the cache query hit ( from ElasticCache/Redis ), then WP_Query won't query to ElasticSearch.
2. If you have w3tc page cache active, then WP_Query won't query to ElasticSearch.

I don't use w3tc, so i cannot recommend what the best config for you. But since w

[2017-05-28 05:10] ivankristianto commented on #849
@prasoon-sipl did you use plugin for your pagination?

[2017-05-28 06:27] ivankristianto commented on #841
@prasoon-sipl looks like you are using return fields param ( https://codex.wordpress.org/Class_Reference/WP_Query#Return_Fields_Parameter ), which is not supported yet.
But you can try this PR: #760
And let us know if it is fixed your issue.

[2017-05-28 11:53] ivankristianto commented on #773
I try to solve this but ES doesn't allow to sort by field, it only allow sort by `asc` or `desc`
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_sort_order

@tlovett1 Do you have any pointers how to achieve this?

[2017-05-28 17:07] prasoon-sipl commented on #849
No default pagination that comes in theme.

On Sun, May 28, 2017 at 10:40 AM, Ivan Kristianto <notifications@github.com>
wrote:

--

Warm Regards,

*Prasoon Sharma*

Cloud Operations Head

*Systematix Infotech Pvt. Ltd.*

*India* | Australia | United Kingdom | United States

Plot No. 67, PU-4 Commercial, Behind C21 Mall | AB Road Indore

*Tel:* 0731-2570282| *Skype:* prasoon_sipl

----------------

[2017-05-29 04:15] ivankristianto commented on #849
@prasoon-sipl most likely it's related to this issue that I commented: https://github.com/10up/ElasticPress/issues/841#issuecomment-304495834

[2017-05-29 05:31] ivankristianto commented on #334
@allan23 / @tlovett1
I want to bump this thread, for our next release fix?

[2017-05-29 05:51] ivankristianto commented on #773
I did ask in stackoverflow, and ES doesn't have custom sort order.
But we can achieve that by weighting the data:
https://stackoverflow.com/questions/44226928/how-to-sort-by-field-in-elasticsearch/44227402#44227402

[2017-05-30 15:30] #841 closed

[2017-05-30 15:31] #846 closed

[2017-05-30 15:31] #843 closed

[2017-05-30 15:31] #849 closed

[2017-05-30 15:32] #833 closed

[2017-05-30 15:36] tlovett1 commented on #658
@ivankristianto working on this

[2017-05-31 18:41] sjferwerda opened #852 "Results don't appear to be relevant"
We've been using ElasticPress with AWS ES for a couple of weeks now and many of the returned results don't appear to be relevant. Here's an example:

http://www.steamboattoday.com/search-results/?q=lacrosse&range=2017-03-02&sort=DESC

Many of the results do not include the word "lacrosse" in the post or title. I'm assuming that the returned results are matching because of stemming, but even then,

[2017-06-01 03:49] nhulac opened #853 "filter result"
Results elasticpress returns a lot of things I do not need to.
I want to minimize the results returned.
For example I do not want it to return the  "post_tag: result
there a way just returned, POST_TITLE, POST_CONTENT.
I use WP_Query

[2017-06-01 08:18] nhulac commented on #853
I have found in the source code

[2017-06-01 16:33] dfroberg opened #854 "Unable to connect after upgrade"
Upgraded elasticpress from 2.2.1 to 2.3 with EP_HOST set in wp-config, after the update it refuses to connect. Never ending "Fix it".

Have the http_request_args to enable self-signed SSL certs, It doesn't seem to matter if this filter is active or not.

Ideas?

[2017-06-02 20:24] misulicus opened #855 "Disable on specific pages"
hey guys.
had some issues with FacetWP and Es but thanks to a PR mentioned here https://github.com/10up/ElasticPress/issues/839 it partially worked.
We did noticed now that the query results is not following the orderby menu_order title from the query.

I tested with ES disabled and then it works so my question is, is it possible to disable ES on a specific page ?
That page in question has its own

[2017-06-04 12:48] PrintableCuttableCreatables opened #856 "There is a problem with connecting to your Elasticsearch host. You will need to fix it for ElasticPress to work."
Hello
I have been using ElasticPress and Elastic Search for several months now without issue, however I logged into WPAdmin this morning and saw this message:

"There is a problem with connecting to your Elasticsearch host. You will need to fix it for ElasticPress to work."

My server (Clludways) shows that Elastic Search is running and I have not changed any settings with the Elastic Press connec

[2017-06-04 16:33] wenotice commented on #856
I'm having this same issue. I rolled the update back to the previous version, but still need a fix. Also, getting this kind of error in command line sync.

[2017-06-04 19:26] sourfe opened #857 "bbpress support"
How can I make bbpress work with ElasticPress?

[2017-06-05 14:31] #853 closed

[2017-06-05 15:34] dfroberg commented on #854
Oddly enough it seems to be syncing new articles to the ES server even though the message to fix it is still there.

[2017-06-05 20:26] tlovett1 commented on #854
@ivankristianto mind taking a look at this?

[2017-06-06 04:45] ivankristianto commented on #854
@tlovett1 yes talked about this yesterday with @allan23.
It might have permission/capability issue to check the plugin list for Ingest Attachment.
But I want to make sure, because I cannot reproduce this issue on local instance. Need to try with other ES provider.

[2017-06-06 04:46] ivankristianto commented on #854
@dfroberg what is your ES provider? or where you host your ES service?

[2017-06-06 04:46] ivankristianto commented on #856
@PrintableCuttableCreatables & @wenotice where you host your Elasticsearch server?

[2017-06-06 11:30] dfroberg commented on #854
AWS ES via NGINX Proxy

[2017-06-06 14:57] fabianmarz commented on #852
The problem seems to exist because of the sorting parameter. If you either drop this one (sorting default is `_score: 'desc'`) or set it explicitly to the default one the results should be correct again. When using `post_date` the `_score` field is not used for sorting and therefore many "fuzzy" matches are listed on top. You can also drop the the multiple query statements or set the `fuzziness` f

[2017-06-07 04:33] sjferwerda commented on #852
@fabianmarz thanks so much for pointing me in the right direction.

I went ahead and changed the ordeby parameter on my WP_Query args from:

'orderby' => 'date'

to::

'orderby' => 'relevance date' // orderby can include more than one order criterion

That causes the following to be passed to the elasticsearch query and appears to produce acceptable results:
<pre>
   "sort": [
        {

[2017-06-07 04:33] #852 closed

[2017-06-07 14:06] misulicus commented on #855
Bump on this if anyone has any ideas

[2017-06-07 14:41] tlovett1 commented on #854
@ivankristianto can you prioritize this one?

[2017-06-08 04:26] tlovett1 commented on #827
This works awesome. Thanks @ivankristianto !

[2017-06-08 04:26] #827 closed

[2017-06-08 05:01] tlovett1 commented on #855
Definitely possible. Hook here: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1912

If current page = ...., then return false.

[2017-06-08 05:01] #855 closed

[2017-06-08 18:56] kallehauge commented on #772
I'm still able to get this error:

[code]

It is, In the example above, a meta field produced by the SiteOrigin page builder but it could be any field. I'm currently running version `2.2.1` on the site so the code is implemented in the linked commit.
Do we do anything to update the mapping when updating the plugin? And should we add support for ES 2.x? [It is supported from version 2.x](https://ww

[2017-06-09 17:40] mpateldrivin commented on #210
@jamesmehorter Do you have any idea to set the bucket size to maximum for term aggregation in elastic search 5?

[2017-06-11 13:32] ivankristianto commented on #854
@dfroberg
I did try your settings but I cannot replicate your issue.
Can you install debug bar plugin + debug-bar-elasticpress plugin, and then send the result to my email: ivan.kristianto[at]10up.com?
I provide the screenshot of which data i would like to see.
![elasticpress 10up wordpress](https://user-images.githubusercontent.com/656006/27011395-02bea09a-4ee5-11e7-83f5-1c37b09a858f.jpg)

And re

[2017-06-11 13:33] ivankristianto commented on #856
@PrintableCuttableCreatables & @wenotice
I cannot replicate your issue.
Can you install debug bar plugin + debug-bar-elasticpress plugin, and then send the result to my email: ivan.kristianto[at]10up.com?
I provide the screenshot of which data i would like to see.
![elasticpress 10up wordpress](https://user-images.githubusercontent.com/656006/27011402-3c05f600-4ee5-11e7-9308-5fca2b3aad0c.jpg)

[2017-06-11 13:41] ivankristianto commented on #857
@sourfe
bbpress use post types which is by default supported by ElasticPress.
Can you elaborate which part you need that doesn't work?

[2017-06-11 16:13] #856 closed

[2017-06-12 07:47] sourfe commented on #857
The bbpress posts are indexed but no bbpress posts show up when I search.
Is there something else I need to do?

[2017-06-12 09:41] ivankristianto commented on #857
I looked into old issue here: https://github.com/10up/ElasticPress/issues/4
It's not available yet for bbpress search function.
But there is a way to integrate a search for that.
Interested in opening a PR?

[2017-06-12 10:50] sourfe commented on #857
What is a "PR" Personal Request, custom work?

bbPress would really benefit from ElasticSearch due to very slow queries on
larger databases.

/S

2017-06-12 11:41 GMT+02:00 Ivan Kristianto <notifications@github.com>:

[2017-06-12 10:58] ivankristianto commented on #857
Sorry I mean PR = Pull Request :)
here is all the PRs: https://github.com/10up/ElasticPress/pulls

[2017-06-13 07:59] hrose1 commented on #842
that does not have any effect

[2017-06-13 08:03] hrose1 commented on #842
One way of dealing with these types of queries is simply to index the first_name and last_name fields into a single full_name field. Of course, this can only be done at index time.

The cross_field type tries to solve these problems at query time by taking a term-centric approach. It first analyzes the query string into individual terms, then looks for each term in any of the fields, as though the

[2017-06-13 14:53] dfroberg commented on #854
Hmm I'm not getting anything in ES Debug bar output

[2017-06-15 17:46] allan23 commented on #643
@tlovett1 We've run into this issue with a client running ES 5.2.x. It may be worth revisiting as more and more users are upgrading from 2.4.

[2017-06-15 18:13] tlovett1 commented on #643
@allan23 can you do some research on a solution?

[2017-06-15 20:56] motionlab-stuc opened #861 "PUT fails silently when index.mapping.total_fields.limit is exceeded"
Trying to figure out why 230 posts of 130,000 failed proved difficult as I had to intercept the PUT command to run manually inside Kibana before finding index.mapping.total_fields.limit had been exceeded. We have a lot of advanced custom fields in postmeta.

I'm new To ElasticSearch & ElasticPress, so don't know if I've missed something, but a warning the index update had failed and a reason + pos

[2017-06-16 01:59] kevinlisota opened #862 "Excluding post_author from index on certain post types"
New to elasticpress and trying to tune what is and what is not indexed. Apologies that this is more of a question than an issue, but may be helpful to document something like this for others looking to achieve the same result.

We run a news site and have 10 post types in our WP install. On regular posts and a couple other post types, it is critical to be able to search and aggregate by the author

[2017-06-16 05:11] kevinlisota opened #863 "ElasticPress queries /_nodes/plugins on every pageload"
Using Query Monitor to watch HTTP requests made by ElasticPress.

I'm seeing an HTTP request to our ES instance on every pageload, regardless of whether that page is using ES functionality or not in both front-end and admin pages. The HTTP request goes to /_nodes/plugins on the ES remote instance.

Seems like a lot of unneeded HTTP requests. Shouldn't this fire only when ES capabilities are actual

[2017-06-18 17:49] ivankristianto commented on #863
Yeah I think you are right. Will put this on the list of enhancement.

[2017-06-18 17:55] ivankristianto commented on #862
@kevinlisota removing the post_author from index would cause an issue, and more often on admin post list. When protected content feature activated, wp will get post lists from elasticsearch, especially during the search. So if you output the post_author in list table, it will show empty post_author.
By default wordpress will store post_author for all the post types. So better to keep it same way.

[2017-06-18 17:56] ivankristianto commented on #861
@motionlab-stuc yeah, thank you for the feedback. I'll put this into our enhancement list.

[2017-06-18 17:57] ivankristianto commented on #854
@dfroberg are you still seeing an issue connecting to your ES?

[2017-06-18 18:07] kevinlisota commented on #862
OK. Then is there a way for to make a scenario like this work? Here is s simple example.

- Posts are news articles, published daily
- Calendar is a custom post type to host event listings for community events
- Pages are used for things like a Contact Us or About page

All three post types should be available in search results to end user.

Todd is a WordPress author. He writes daily news article

[2017-06-18 18:22] ivankristianto commented on #862
Yes of course you can limit the search only to certain post type.
So here is the example of the wp_query
[code]

Hope that helps.

[2017-06-18 18:30] kevinlisota commented on #862
But that isn't what we want in the end user search box. We want all 3 post types to appear in search results to end users.

By default, it looks like your search.php integration sets the search fields to the following:
[code]
The WordPress search box is only going to issue a single query to ES. If the author_name is indexed on all post types, it is going to return the results for other posts creat

[2017-06-18 18:41] ivankristianto commented on #862
Looking by your case. It need to have different search_fields for different
post types. Even WP_Query cannot do that in single query.
But if you do have lists of post ids you don't want to be exist in search
results, you could add arguments with post__not_in.

[2017-06-19 10:12] fabianmarz opened #864 "[ES 2.3.1] Stopwords are not changed when analyzer `language` key is set"
It seems like the `language` key from the analyzer does not set the correct stopwords for the specified language. If I create an index via `$ wp elasticpress put-mapping` with `"language": "german"`, the analysis returns the following:

[code]

While setting the index analyzer setting as follows:
[code]
will result in this:
[code]
The analysis seems to be correct:
[code]

Has any of you encountere

[2017-06-19 11:27] ivankristianto commented on #857
@sourfe I did try bbpress on my local and the search function just working fine.
I wonder you did full sync before try to search your forum?
Can you give me your test site where it gone wrong?

[2017-06-19 11:32] sourfe commented on #857
That is good news.
I did a full sync and I that was ok.

What version of bbpress did you try? I'am using 2.6RC3. I know it's not
official but 2.6 is so much better and and must for me to import from
Vbulletin.

Let me see if I can give you access.

/S

2017-06-19 13:27 GMT+02:00 Ivan Kristianto <notifications@github.com>:

[2017-06-19 11:43] ivankristianto commented on #857
I'm using version 2.5.12.
I take a quick look at the code of bbpress 2.5, and i found nothing out of ordinary for the search function. And feel like it should be work with EP out of the box.
Just make sure you do full sync

[2017-06-19 19:35] tlovett1 commented on #863
Here's why we do that:

On every page load, we auto-activate/deactivate features. Each feature has a list of criteria that needs to be met for it do be auto-activated. For WooCommerce, the plugin must be active. The theory is we need to check those conditions on every page load to handle that. The plugins endpoint provides info critical to certain features e.g. documents.

I'm open to hearing work

[2017-06-19 19:36] tlovett1 commented on #864
You might want to ask this on the Elasticsearch forums.

[2017-06-19 19:36] tlovett1 commented on #861
You will see an error message if you use WP-CLI.

[2017-06-19 19:40] #813 closed

[2017-06-19 19:41] tlovett1 commented on #813
Closing as we are just adding the on/off for date weighting.

[2017-06-19 20:23] kevinlisota commented on #863
Could the result be cached in a transient? I think the response rarely changes, and on our site, that request may be made a 100k times a day, and while not slow, there is some built-in latency having to traverse the net to an ES endpoint.

[2017-06-19 20:46] #835 closed

[2017-06-19 20:48] tlovett1 commented on #740
@ivankristianto should we close this?

[2017-06-19 20:58] tlovett1 commented on #683
`post_meta` is slated to be removed in 2.4. #865

[2017-06-19 21:07] #775 closed

[2017-06-20 07:37] fabianmarz commented on #864
Yes, you're right! Will post this in the Forums.

[2017-06-20 08:35] motionlab-stuc commented on #861
Thanks, I used WP-CLI, It just told me they failed, not why.

Had to investigate to find the reason.

On 19 June 2017 at 20:36, Taylor Lovett <notifications@github.com> wrote:

--
*Stuart Cross*
Technical Director

Citygate
Longridge Rd
Preston
Lancashire
PR2 5BQ
-------------------------------------
 01772 655540
 stuart@motionlab.co.uk
-------------------------------------
www.motionlab.co.uk
*R

[2017-06-20 10:07] dfroberg commented on #854
Yep, the Fix message persists

[2017-06-20 10:14] ivankristianto commented on #740
yes we can close this

[2017-06-20 10:14] #740 closed

[2017-06-20 10:25] ivankristianto commented on #854
@dfroberg i can't say for sure, probably you need to revisit your settings with your proxy. That might cause this issue. The issue from the WordPress is it cannot connect well to your ES server.

[2017-06-20 10:29] dfroberg commented on #854
It's odd, because it still indexes articles, and curl can reach it fine from the servers on the VPC;
`
root@amnfrontend-master:~# curl https://search.internal.almasdarnews.com --insecure
{
  "name" : "Ardina",
  "cluster_name" : "823627428757:amn",
  "version" : {
    "number" : "2.3.2",
    "build_hash" : "72aa8010df1a4fc849da359c9c58acba6c4d9518",
    "build_timestamp" : "2016-11-14T15:59:50Z",

[2017-06-20 10:37] dfroberg commented on #854
Switching to http rather than https in wp-config after enabling the port 80 on nginx proxy solves the issue, which leads me to believe that the functions.php addition of http_request_args to enable self-signed SSL certs is somehow not doing its job in the new version, perhaps a clue?

[2017-06-20 10:58] ivankristianto commented on #854
this plugin depends on wp_remote_request when talking to elasticsearch server. You can see it more in this code: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L2090

Can you try one thing for me?
If you don't use document feature, can you please disable this line: https://github.com/10up/ElasticPress/blob/develop/elasticpress.php#L61
And let me know if that notice gone

[2017-06-20 11:02] dfroberg commented on #854
Yup re-enabling https and removing the require_once did the trick

[2017-06-20 11:08] ivankristianto commented on #854
Great!
I know where it goes wrong, thank you so much for helping and report this issue.
The issue is document feature request elasticsearch version too early in this line: https://github.com/10up/ElasticPress/blob/develop/features/documents/documents.php#L199
so your `http_request_args` has no effect.

I'm closing this issue and open another ticket and will get this fix in next release.

[2017-06-20 11:49] ivankristianto opened #866 "Document feature check elasticsearch version too early"
As reported in this issue #854
document feature check the elasticsearch version in this line https://github.com/10up/ElasticPress/blob/develop/elasticpress.php#L61
earlier than other plugin or themes to filter the `http_request_args`.
the case is to add the self-signed certificate, which is caused the connection notice always show up.

[2017-06-20 13:25] ivankristianto commented on #857
@sourfe i'm closing this issue as I feel there is nothing to do. Feel free to reopen it in the future.

[2017-06-20 13:25] #857 closed

[2017-06-20 13:44] sourfe commented on #857
I will try on a clean bbpress 2.6 and see if it works.

Thanks!

/S

2017-06-19 13:43 GMT+02:00 Ivan Kristianto <notifications@github.com>:

[2017-06-20 20:31] jbejar commented on #643
I noticed that in the Elasticsearch Python DSL you can sort Text Fields, but just have to append ".raw" to the name of the field. https://www.elastic.co/guide/en/elasticsearch/guide/current/multi-fields.html was helpful

[2017-06-22 11:44] foadyousefi opened #867 "Indexing stops with admin button but works in command line"
Hi there!
We have a website running Wordpress + woocommerce + ElasticPress and about 5 thousands products + posts. When we re-index from admin setting page by clicking on index button, it stops  after 4,550 and after some minutes, we must refresh the page and click on resume indexing and after some attempts, it finishes the indexing.

If we run "wp elasticpress index --setup" from command line, it

[2017-06-22 18:34] neosin opened #868 "Wordpress: Shortcodes/scripts in Posts render output in search results"
Shortcodes/scripst in Posts render output in search results.

When searching posts and if the post contains a shortcode or script tag, the source of those are rendered in the search results.

is this a bug or a setting that needs to be set somewhere?

[2017-06-22 20:45] ahoerl opened #869 "German translation finished"
Hi, just finished the German Plugin translation over here:
https://translate.wordpress.org/projects/wp-plugins/elasticpress/dev/de/default

Cheers - tomorrow I will try the Plugin ;)

[2017-06-23 11:13] tott commented on #869
@ahoerl, this is great, thanks for working on this. I did a quick sweep and there are still a few alterations we will need to do on the translations before merging them in, but this is a great base to start from. @tlovett1 I will make sure to review these translations next week so we can get them added if you agree

[2017-06-23 11:15] ahoerl commented on #869
Of course you can use it, merge it, change it – whatever ☺

Mit freundlichen Grüßen / Best Regards
Andreas Hoerl
Rendering

[Prolicht GmbH]
T +43 5234 33499 95
andreas.hoerl@prolicht.at <mailto:andreas.hoerl@prolicht.at>

PROLICHT GmbH
Gewerbepark 9
A-6091 Götzens
F +43 5234 33499 22
www.prolicht.at<http://www.prolicht.at>

VISIT US AT:      [cid:image002.jpg@01D2EC22.BA303390] <https://vimeo.com/

[2017-06-23 14:20] isvaljek opened #870 "Wrong product on single product url when WooCommerce == enabled"
My single single product template displays only the latest product in the db when WooCommerce integration is enabled (even with Twenty Seventeen theme).
![image](https://user-images.githubusercontent.com/2500267/27486102-b4bc9a2e-582f-11e7-939d-75e19cd6060f.png)

[2017-06-23 17:09] tlovett1 commented on #870
@ivankristianto can you take a look at this one?

[2017-06-23 19:02] isvaljek commented on #870
I've created a pull request that fixes it for me, but fails in travis ci: https://github.com/10up/ElasticPress/pull/871#partial-pull-merging

[2017-06-23 19:12] ivankristianto commented on #870
Sure i'll take a look

[2017-06-24 16:41] ivankristianto commented on #870
@isvaljek i'm not sure how you get the issue.
my single product show just fine.
I cannot replicate your issue.
Can you tell me your environment settings? (WP, EP, ES version)?
And do you have any other plugin installed?

[2017-06-24 16:44] ivankristianto commented on #868
@neosin yes shortcodes will be rendered when doing the indexing. so the search results will output rendered content as a whole.

[2017-06-25 15:59] isvaljek commented on #870
![image](https://user-images.githubusercontent.com/2500267/27517580-406b7d60-59cf-11e7-9fc9-8208d310f1ee.png)
Have you tried toggling this one? When I enable wocommerce then it happens. Look at my pull request above, it's a single line change. And to me it seems a more of a wp way.
I'm using ES 5.4.1 and I do get the superversion notice, but this code happens before any call to my ES server is mad

[2017-06-25 18:31] kevinlisota opened #872 "Search should default to user display_name"
Looks like the default WordPress search functionality sends a query that includes an author login name and author nicename (which is the slug)

I realize there is a filter to alter the way this behaves, but this seems like the wrong choice of fields for out-of-the-box author searching.

Shouldn't it be the user display_name instead? That seems the most readable and user/search-friendly version of

[2017-06-26 00:56] kevinlisota opened #873 "author_name not an indexed field"
I'm using the debug bar to view queries sent and results received in the wordpress search page. It is requesting the following fields:
[code]
Looking at my index in Kibana, I show the following available fields

[code]
I know that author_name is a valid WP_Query parameter, corresponding to user_nicename. However, it appears that this is not an indexed field? Maybe some incorrect field mapping/inde

[2017-06-26 01:37] tlovett1 commented on #873
`author_name` should work. If it doesn't, that's a bug.

[2017-06-26 01:39] tlovett1 commented on #867
You will have to debug why the dashboard index is failing.

[2017-06-26 01:42] tlovett1 commented on #868
We apply the `the_content` filter and strip tags before storing the text in ES. Therefore script tags shouldn't be searchable but regular text inside a shortcode should.

[2017-06-26 01:43] tlovett1 commented on #872
Sorry, not understanding.

[2017-06-26 01:59] kevinlisota commented on #872
By default, the plugin doesn't use the user display_name in the search query, rather it is using login and author_name.

In the examples above, which are likely fairly common, you may be searching on truncated or concatenated strings that do not contain the full author name which you might see in a byline.

On a multi-author site, I think the most common search for author would be on their full na

[2017-06-26 02:00] tlovett1 commented on #866
@ivankristianto closing this one since this isn't just an issue with the document feature but how features are setup.

[2017-06-26 02:00] #866 closed

[2017-06-26 02:01] tlovett1 commented on #854
@dfroberg @ivankristianto features are setup on plugins loaded so this makes sense. I could be convinced that we should setup features on after_theme_setup. For now, it makes sense to add your code to an mu-plugin.

[2017-06-26 02:36] ivankristianto commented on #870
@isvaljek
Yes I do activate that.
ElasticPress doesn't do any query when in single product.
So most probably there is another plugin crash that cause query `product` is returning empty. Thus it will activate the elasitcpress and get only the latest product.

[2017-06-26 03:03] ivankristianto commented on #873
@kevinlisota
`author_name` is added in search feature as the `search_fields` and later will be translated to `post_author.login`.
But there is a bug that should unset `author_name` from the `search_fields`
I have opened a PR to fix this.

But if you are trying to add `author_name` in your wp_query then it will be translated to `post_filters`

[2017-06-26 13:58] neosin commented on #868
We use shortcodes to display video with jwplayer and add json schema data. The issue we are running into is that the schema data is being indexed and displayed. The video player is being removed as expected but the schema data is not. We are not sure how to remove it. The javascript json tags are being removed but the schema data between the tags is not.  Any suggestions of how to remove the data

[2017-06-26 15:51] kevinlisota opened #875 "Indexing is incomplete when protected content is enabled"
I am getting incomplete indexing results when I enable protected content.

Our site has 30k published posts of type 'post'. When I index the site with protected content feature turned off, the sync seems to capture all of the content and search results look correct. Running a query in Kibana of `post_type:post` gives 30,249 hits.

I then enable protected content feature, which causes a reindex of

[2017-06-26 16:29] kevinlisota opened #876 "How to disable an unwanted search field with ep_search_fields"
I am attempting to disable a search field via the `ep_search_fields` filter. My function unsets that search field like so:
[code]
This results in a 400 Bad Request error to the EP endpoint, and it looks like it is is somehow related to adding the array index numbers into the ES query. This is what the debug bar shows for search fields. Notice the array index numbers, which aren't there prior to ap

[2017-06-26 23:39] allan23 commented on #875
@kevinlisota This is interesting. Can you install the EP Troubleshooter plugin and send us the troubleshooting data?

(https://github.com/allan23/ep-troubleshoot)

[2017-06-26 23:46] allan23 commented on #876
Hi @kevinlisota,
This appears to be an issue with the array keys. If you return `array_values( $search_fields );` instead of just `$search_fields` in your filter it should resolve your issue.

[2017-06-26 23:52] allan23 commented on #334
I know I was thinking of the REST API as a possible solution.

Why not set a transient of custom post types / taxonomies?

[2017-06-27 06:14] kevinlisota commented on #876
That seems to work. Not sure why it choked on the array keys.

[2017-06-27 06:14] #876 closed

[2017-06-27 06:21] kevinlisota commented on #863
What data centers do you host your Elasticsearch clusters in on elasticpress.io?

Our site is in an Azure datacenter, and I've been testing with an Elasticsearch cluster hosted by Elastic.co cloud, which is on AWS in a nearby region.

The plugins query to ES adds 120-125ms to each and every pageload on our site. Given that our typical pageload time is 400-500ms, this is adding a blocking function

[2017-06-27 16:07] tlovett1 commented on #854
@ivankristianto to test moving feature setup to init

[2017-06-27 16:12] tlovett1 commented on #334
Too difficult to fix. Use bash script

[2017-06-28 04:28] kevinlisota commented on #875
@allan23 Is there an email alias that I can send that data to?

[2017-06-29 14:25] tlovett1 commented on #863
We will be releasing a bug fix for this soon.

[2017-06-29 18:56] neosin commented on #868
so this is a bug?

[2017-06-29 20:49] #863 closed

[2017-06-29 23:05] franharrington opened #879 "Updating Elastic Press Results in Search Returning No Results in Our Resource Directory"
**Have you searched for similar issues before submitting this one?** Yes

**Is this a bug, question or feature request?** Question

**Describe the issue you encountered:** Updating elastic press to current version breaks the search in our Resource Directory

**Current WordPress version:** 4.8

**Current Elasticsearch version:** 1.9

**Where do you host your Elasticsearch server:** innoscale

**Oth

[2017-06-30 18:56] tlovett1 commented on #879
@franharrington can you give 2.3.2 a try? Which version did you upgrade from?

[2017-06-30 19:21] franharrington commented on #879
We are on version 1.9 right now (I reverted back after it broke the search).

I can give 2.3.2 a shot and see if that works.

[2017-06-30 21:11] allan23 commented on #875
@kevinlisota allan.collins[at]10up.com

[2017-07-01 09:41] isvaljek commented on #870
You're right, it's something related to WPML plugin. But only when both EP and WPML are active. Not sure whose authority it is yet.

[2017-07-01 09:54] FlorianBrinkmann opened #880 "Unable to sync — »An error occured while syncing«."
Current WordPress version: 4.8

Current ElasticPress version: 2.3.2

Current Elasticsearch version: 2.3.3

Where do you host your Elasticsearch server: searchly.com

I don’t know since when this issue occurs exactly, but I cannot sync with the Elasticsearch host… It works on a local dev instance with the same Elasticsearch server URL, but not on the live site. The connection to the host seems to w

[2017-07-01 10:44] AntBentinck commented on #880
@FlorianBrinkmann Agreed I am also seeing this:

Current WordPress version: 4.8
Current ElasticPress version: 2.3.2
Current Elasticsearch version: Provider: 5.3.2

HTTPS / QBOX / AWS Environment:

What is also annoying is WooCommerce products do not show on our admin dashboard. Have burst all caches and disabled plugins. Sync gets to 5600 of 17000 then dies on website 1. sync fails completely on W

[2017-07-01 11:48] AntBentinck commented on #880
Not sure if this is any help but on a sync when it got to 5600 records out of 17000 we got a 524 error on the console dashboard.min.js:formatted:116 POST https://www.(REMOVED)/wp-admin/admin-ajax.php 524 ()

[2017-07-01 14:49] AntBentinck commented on #880
We have run a lot of new scenarios here now and the the only thing which seems to be causing this issue for us is the Protected Content setting. When this is turned off we get completed syncs without any issue.

[2017-07-01 15:11] FlorianBrinkmann commented on #880
I have the issue without having the Protected Content setting enabled…

[2017-07-01 15:35] tlovett1 commented on #880
@ivankristianto can you take a look?

[2017-07-01 15:43] ivankristianto commented on #880
@FlorianBrinkmann / @AntBentinck
Is the issue also occurred when doing sync via wp-cli?

[2017-07-01 16:18] FlorianBrinkmann commented on #880
I am currently running the `wp elasticpress index` since a few minutes, but it only shows _Indexing posts..._. How can I exit this indexing, without getting the message _WP CLI sync is occuring. Refresh the page to see if it's finished_ in the backend? :D

Something interesting: It is a multisite, and it works fine on a sub site `/en/` (the issue occurs on the main page of the multisite).

[2017-07-01 16:27] ivankristianto commented on #880
@FlorianBrinkmann to remove that message you can remove transient data `ep_wpcli_sync`
I wonder if you are using network flag when doing indexing:
`wp elasticpress index --network-wide`
and if you have any issue while indexing, can you let me know the error message?

[2017-07-01 16:35] FlorianBrinkmann commented on #880
No, I’m not using the network flag, because I have various sites in the network which I don’t want to be indexed. I tried it now, but get the message `Indexing posts network-wide...` since a few minutes, and nothing else.

The working sync on the `/en/` site was made via the dashboard.

[2017-07-01 18:51] ivankristianto commented on #880
Seems like a plugin crash to me.
Can you email me your error log to ivan.kristianto[at]10up.com?

[2017-07-02 08:49] FlorianBrinkmann commented on #880
Oh man, you are right, it was a plugin crash — I should have taken a look at the error log… 🙈 It was a conflict with the Gutenberg editor, here the relating line from the logs:

[code]

Deactivating the Gutenberg plugin resolves the issue.

[2017-07-02 11:17] halmos opened #881 "Trying to get property of non-object in /elasticpress/classes/class-ep-api.php on line 690"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
When there is an error with a taxonomy and WP returns taxonomy with value of`false`, a `Trying to get property of non-object` error is thrown. At https://github.com/librarystack/ElasticPress/blob/develop/classes/class-ep-api.php#L690, EP tries t

[2017-07-02 16:49] ivankristianto commented on #881
@halmos i'm wondering if you altered the `$selected_taxonomies` using filter `ep_sync_taxonomies` via plugin/themes? https://github.com/librarystack/ElasticPress/blob/develop/classes/class-ep-api.php#L679

[2017-07-02 16:49] ivankristianto commented on #880
@AntBentinck are you still having the sync issue?

[2017-07-03 06:28] kclarke10 opened #882 "Excerpt blank unless post is re-saved"
Unable to figure this out.  Posts are indexed, but the_excerpt is blank on my template for search results unless the post is re-saved or published prior to indexing.

[2017-07-03 14:16] halmos commented on #881
Hi @ivankristianto -
No - we're not making use of the `ep_sync_taxonomy` filter. However, initial testing suggest their may be a conflict with another plugin (https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront) - or at least deactivating this plugin prevents the error from occurring. Possibly it is doing something unexepected with the taxonomies, or one the filters we're using with tha

[2017-07-03 15:10] halmos commented on #881
On further investigation I can confirm that the source of the error is actually emanating from https://github.com/10up/ElasticPress/blob/develop/features/woocommerce/woocommerce.php#L137

I should i have noted that i have WC 2.6.8 installed. It seems that it cannot be assumed that `product_visibility` taxonomy is available.

`ep_wc_whitelist_taxonomies` hooks into `ep_sync_taxonomies`:

In my case

[2017-07-03 16:04] ivankristianto commented on #881
@halmos thanks you for digging this.
I think it is a good idea to add the validation on the taxonomy before proceed.

[2017-07-04 09:40] ivankristianto commented on #880
@FlorianBrinkmann after i investigate more on this issue.
with Gutenberg activated and doing sync via cli, the syncing actually running but very slow because of Gutenberg parser.
and when doing dashboard sync, it will cause max execution timeout, if your gutenberg content is quite long ( the gutenberg demo content is long enough to cause this ).
So yeah, deactivate gutenberg for now is the only wa

[2017-07-04 09:42] FlorianBrinkmann commented on #880
@ivankristianto good to know, thanks for taking a deeper look!

[2017-07-05 08:50] hrose1 commented on #843
![sort](https://user-images.githubusercontent.com/19900773/27856833-aa89a85a-616f-11e7-8cbd-07e1e6605f8b.png)
The screenshot shows a search by email, but as you can see the orders are not in the correct order (by date)

[2017-07-05 08:52] hrose1 opened #883 "sort orders by date"
![sort](https://user-images.githubusercontent.com/19900773/27856881-d16bef00-616f-11e7-99a6-f40b3d7b3a68.png)

We are using the current elastic search version and sorting orders by date - e.g. when searching for a clients orders by email - does not work correctly.

[2017-07-05 15:42] ivankristianto commented on #843
@hrose1 you need to click the date column head

[2017-07-05 15:43] ivankristianto commented on #883
@hrose1 you need to click the "date"/"Datum" column head

[2017-07-05 17:31] allan23 commented on #643
@tlovett1 after reviewing the issue that the client experienced, I found that it was due to custom user indexing and failure to update their mapping upon ES upgrade. Closing this out.

[2017-07-05 17:31] #643 closed

[2017-07-05 18:56] ivankristianto commented on #881
So after digging this I need to do 2 things:
1. Need to fix `product_visibility` tax in woocommerce feature. Check if it is available or not before push to array.
2. Need to add the sanity check to $taxonomy. If it is false, bail

[2017-07-06 04:37] hrose1 commented on #883
when clicking on the date column head it is ignoring the search input (email)
![bildschirmfoto 2017-07-06 um 06 35 49](https://user-images.githubusercontent.com/19900773/27895784-7e56cde8-6215-11e7-8c87-09136812afba.png)

[2017-07-06 09:11] ivankristianto commented on #880
I close this issue for now, and will open a ticket to gutenberg instead.
If you have any issue, feel free to open

[2017-07-06 09:11] #880 closed

[2017-07-06 17:48] tlovett1 opened #884 "Store aggs on WP_Query object"
It would be awesome to store aggregation results on the WP_Query object so you wouldn't have to hook into `ep_retrieve_aggregations`.

[2017-07-07 19:27] DavidWFresh opened #885 "Question on sorting on multiple fields"
I have a question regarding the functionality of this plugin.

Does it use the built in WP_Query functionality for searching, or are there other methods as well?

What I'm currently trying to do is to order the results based on 3 different meta keys, basically the reviews and ratings.  Is there any advanced sorting available from this plugin through to elastic press?

Below is an example of what I

[2017-07-09 10:43] ivankristianto opened #886 "Index single/some posts only in EP CLI"
Currently we can only re-indexing whole content or based on post type.
So i'm proposing to have indexing based on:
1. Post Id(s): `wp elasticpress index --post-ids=1,2,3,4,5`
2. Taxonomy: `wp elasticpress index --taxonomy=category --tax-slug=art,poetry`
3. URL: `wp elasticpress index --url=http://domain.dev/post-slug/`

@tlovett1 what do you think?

[2017-07-09 10:47] ivankristianto commented on #883
@hrose1 can you install debug-bar-elasticpress and paste me the Elasticsearch Query Body.
Please check here on how to install: https://www.elasticpress.io/blog/2017/05/debugging/

[2017-07-09 10:50] ivankristianto commented on #885
@DavidWFresh Yes you can sort it by multilple value.
This is from the doc:
[code]

so in your case you can do as:
[code]

[2017-07-10 08:54] kallehauge commented on #781
Is there a status on the thoughts of this? Ping @ivankristianto @tlovett1

[2017-07-10 09:12] kallehauge commented on #750
@tlovett1 have you given this any additional thought? We have some clients that are still not THAT happy with the workflow of having to re-index their entire site when they alter terms, so I might be willing to slowly start building this feature in the near future if we can agree on a model :relaxed:

[2017-07-10 09:56] hrose1 commented on #883
this is the Query Body:
{
    "from": 0,
    "size": 75,
    "sort": [
        {
            "post_date": {
                "order": "asc"
            }
        }
    ],
    "query": {
        "function_score": {
            "query": {
                "bool": {
                    "should": [
                        {
                            "multi_match": {
                                "qu

[2017-07-10 15:07] ivankristianto commented on #883
@hrose1
I did test it and it does need enhancement to the plugin.

There are 3 things need to do for this enhancement when search in admin area:
1. I think we need to remove weighting recent search results.
2. Always have sort by `_score` to keep track relevance scoring. https://www.elastic.co/guide/en/elasticsearch/guide/current/_sorting.html#_sorting_by_field_values
3. Add `min_score`, to elimin

[2017-07-10 15:53] ivankristianto commented on #750
@kallehauge
I think this issue might be related to this #658
We have a plan to support Terms and Taxonomies to the query. But as @tlovett1 mention, this would be a huge change. We need to do an abstraction to the data model as currently it only support Post data.

[2017-07-10 16:44] allan23 commented on #875
No response. Closing this unless additional details are provided.

[2017-07-10 16:44] #875 closed

[2017-07-10 16:51] ivankristianto commented on #862
I'm closing this issue. Feel free to re-open if you have any questions.

[2017-07-10 16:51] #862 closed

[2017-07-10 16:51] ivankristianto commented on #788
I'm closing this issue. Feel free to re-open if you have any questions.

[2017-07-10 16:51] #788 closed

[2017-07-10 16:57] ivankristianto commented on #836
I close this issue as we consider this as won't fix. But feel free to re-open if you have any question.

[2017-07-10 16:57] #836 closed

[2017-07-10 16:59] ivankristianto commented on #864
i'm closing this issue. But feel free to re-open if you have more question.

[2017-07-10 16:59] #864 closed

[2017-07-10 17:00] ivankristianto commented on #867
i'm closing this issue. But feel free to re-open if you have more question.

[2017-07-10 17:00] #867 closed

[2017-07-10 17:08] ivankristianto commented on #868
Yes it supposed to have script tags inside the content indexed.
We investigate more

[2017-07-10 23:03] DavidWFresh commented on #885
Ah, sorry I hadn't seen that one.  I was able to get it working, with the above with "post_type.raw" included.

Is there any included functionality for '_script' within the 'orderby' as well, or just the parameters listed?

For example.
	'orderby' => array(
		'post_type.raw' => 'ASC',
		'_script' => array(
			'script' => "if(doc['meta.image-medium.raw'].value != 0) 1",
			'type' => 'string',
			'o

[2017-07-11 11:32] ivankristianto commented on #885
@DavidWFresh you can filter it with `ep_formatted_args`, and change the arguments to anything you like.

[2017-07-11 13:51] tlovett1 commented on #781
This should definitely be added. @ivankristianto can you work on this?

[2017-07-11 13:52] tlovett1 commented on #886
3 already exists (core WP-CLI functionality). Do you have a use case for 1 and 2?

[2017-07-11 13:54] tlovett1 commented on #773
What is the LOE for this?

[2017-07-11 14:33] ivankristianto commented on #886
For #1 & #2
Sometimes I just want to re-index only for certain posts or from some categories only.
This is not a typical daily case, but it would be nice if we can have that options.

This is happen when I debug EP + Gutenberg, where save_post failed to sync post to ES due to timeout. And I want to just sync for that post only rather than reindex the whole posts.

[2017-07-12 01:58] kesed opened #890 "'publicly_queryable' Doesn't Make Taxonomies Queryable"
Have you searched for similar issues before submitting this one?
Yes. Only found one other issue mentioning 'publicly_queryable' and this case seems different.

Is this a bug, question or feature request?
It appears to be a bug.

Describe the issue you encountered:
`'publicly_queryable' => true` does not seem to have the intended affect on taxonomies – this alone does not make the taxonomies query

[2017-07-13 01:14] allan23 commented on #890
Hi @kesed, I have submitted PR #891 which should resolve this issue. Can you please test and verify?

[2017-07-13 11:24] Pezzab opened #892 "Setting ep_integrate to true means no results"
I have a custom post with additional custom fields and have created a custom WP_Query in my search.php.

If I set` ep_integrate` to `true` I get no results, if to` false` I get all the results I expect.

I'm aware I'm at the bottom of a steep learning curve re Elasticsearch and Elasticpress so excuse my ignorance but does setting` ep_integrate` to` false` mean I'm back to searching the MYSQL DB di

[2017-07-13 11:39] ivankristianto commented on #892
@Pezzab yes if you set `ep_integrate` to false, it will query to mysql.
have try to reindex your site?

[2017-07-13 12:42] Pezzab commented on #892
The site is indexed OK.

If I set it to `true` and run the search there are no results at the front end but looking in Debug I end up with 2 Elasticpress queries. One has all the expected results but isn't displayed whilst the second has none.

Setting it back to `false` again I only get 1 Elasticpress query in Debug (the one with the results) though I assume this is not where the data is being pu

[2017-07-13 17:17] ivankristianto opened #893 "tax_query with operator 'NOT EXIST' failed to translate"
Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
tax_query accept operator "NOT EXIST", but it failed to translate properly to ES query

WP_Query sample
[code]

Translated to:
[code]

[2017-07-14 08:46] Pezzab commented on #892
If I set `ep_integrate` to `true` why do I get 2 queries and why does it not display the successful query instead of the empty one?

That said even with it set to` false` it seems that Elasticpress is providing the results - I say this because I have a filter in `functions.php` to switch off fuzziness and if I turn it off or on this appears to affect the number of results returned. In fact they ma

[2017-07-14 09:34] Pezzab commented on #892
OK I've just realised something odd. While 'false' the search is definitely only returning results via MYSQL but even so the number of results pages is being governed by the Elasticsearch result.

My search form has an option to filter by a custom taxonomy. Regardless of how frequent the occurrence of a given search term under a given taxonomy the number of page results remains the same.

It's a m

[2017-07-16 08:42] ivankristianto commented on #892
@Pezzab
This is a strange issue indeed.
I was wondering why the ES query twice in your case.
Can you install debug bar elasticpress and send me both of the ES query body to my email ( ivan.kristianto[at]10up.com ) or attached here also fine.
To install the debug bar please follow this article: https://www.elasticpress.io/blog/2017/05/debugging/

[2017-07-17 09:30] Pezzab commented on #892
Thanks Ivan,

I've sent you the attachment.

[2017-07-17 14:28] ivankristianto commented on #892
@Pezzab I did take a look at your log.
You have wrong way to do the search.
1. When ElasticPress is active, when you have search params, it will automatically add `ep_integrate` by default.
2. Looks like you are in search page, then you do another WP_Query because you want to add `tax_query`, thus the search will be done twice. First is from WordPress search default, second is from you custom WP_Q

[2017-07-17 15:49] Pezzab commented on #892
Thank you Ivan,

That makes much more sense now

On Mon, 17 Jul 2017 at 15:58, Ivan Kristianto <notifications@github.com>
wrote:

[2017-07-17 16:11] #885 closed

[2017-07-18 06:39] dnaber-de commented on #691
Just for the record: solved by 1417fb14 but only for >=2.2 which introduce breaking changes in comparison to 2.1.

[2017-07-18 13:28] maggienj commented on #210
@mpateldrivin in the code, we can evaluate the value for the size.... instead of simply setting a "MAXIMUM_LIMIT" constant.
We used to use MAXIMUM_LIMIT constant earlier...
Recently, we have changed it to dynamically adjust the "size" value in "terms" aggregation .
Depending on whichever source language you use to manipulate these values, we can dynamically set the "size":value....

[2017-07-18 13:52] mpateldrivin commented on #210
@maggienj Thank you. Appreciate it

[2017-07-18 14:46] Pezzab commented on #892
I still can't seem to get any results even using `pre_get_posts`:
[code]
This is what comes up in ElasticPress Query Body - the taxonomy I want to filter by appears but the search yields no result (I know there should be at least one result):
[code]

[2017-07-19 07:37] Pezzab commented on #892
Just to be clear the above code works if I deactivate ElasticPress.

[2017-07-19 09:50] ivankristianto commented on #892
I see your tax_query looking for field `slug` but you give name instead.
So your tax_query should be:
[code]

[2017-07-19 10:03] Pezzab commented on #892
Sorry Ivan,
I managed to paste the wrong version of my code (while trying different alternatives), I was already using "name".

I still get the same issue.

[2017-07-19 15:01] ivankristianto commented on #892
hmm.. That's weird though.
when you search this "query": "onions", is the keyword in one of the search fields?
can you resync the es index and try again?

[2017-07-20 09:23] Pezzab commented on #892
Yes it's in the title field (It's a random example but I use it because I know there is only one occurrence in the data - it's a title for a painting).

I've already tried re-indexing.

If I reactivate ElasticPress but _disable_ `my pre_get_posts` function I get 78 results (but obviously can no longer filter by taxonomy), my most relevant, unique result comes top then the next one is a fuzzy match

[2017-07-20 13:32] Pezzab commented on #892
OK I think I've worked out what the problem is.

EP is working fine, the issue was my not correctly matching the case of the department name with the query slug: e.g. Fine Art != fine art or fine-art etc.

Changing the string case of the query slug in `pre_get_posts` to match the taxonomy name fixed the error.

ElasticSearch appears to be working fine.

[2017-07-20 13:33] #892 closed

[2017-07-20 13:56] ivankristianto commented on #892
Glad to hear it's working. There is an iaaue with case sensitive search in ES 5.1 and get fixed in 5.2.
The next release of EP will support that

[2017-07-20 14:05] Pezzab commented on #892
Thanks for your patience btw Ivan!

[2017-07-20 16:21] sc0ttkclark opened #898 "Add support for Sticky posts"
**Have you searched for similar issues before submitting this one?**
Yes

**Is this a bug, question or feature request?**
Feature request

**Describe the issue you encountered:**
When using WP_Query calls with ignore_sticky_posts as true/false, EP does nothing with Elasticsearch arguments sent in the request to float sticky posts up to the top when ignore_sticky_posts=false, so all ES queries are

[2017-07-24 11:05] Pezzab opened #900 "the_post_thumbnail doesn't load if ElasticPress is activated and sync hasn't been done"
This probably isn't any big deal but it caused me some consternation until I worked it out.

If ElasticPress is active but a sync hasn't been done search works in WordPress but post thumbnails aren't displayed.

I guess this isn't a big deal as you would want to sync the database any way but in my case it sent me on a bit of a wild goose chase thinking there was a bug in EP as thumbnails appeared

[2017-07-24 15:25] DavidWFresh opened #901 "wp_cli --show-bulk-errors timed out"
Hello,

When I try running: wp elasticpress index --setup --show-bulk-errors --url=site.com/subsite/

It is just showing an error that it timed out instead of showing what the error was.

![image](https://user-images.githubusercontent.com/29987149/28530601-40caf8ea-7049-11e7-8e0c-e122df7caf90.png)

Do you know what might be causing this issue to happen?

Thank you

[2017-07-24 16:03] tlovett1 commented on #901
Can you debug the request? The payload being sent to ES is 37.19 MB. That is massive. There must be a post that is absolutely huge.

[2017-07-24 16:20] DavidWFresh commented on #901
Hello, I am using WPEngine to run the commands, so I am not directly running them.  What would be the correct process to debug it?

Thank you.

[2017-07-24 16:27] tlovett1 commented on #901
In that case you'll have to debug it locally.

[2017-07-24 17:35] JustinSainton commented on #773
We're getting 100MB+ logs on a site we're running every day in ES logs due to lack of support here. Anything we can do to help? In the meantime, we may have to add an `unmapped_type` parameter to [suppress the issue](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/search-request-sort.html#_ignoring_unmapped_fields).

[2017-07-24 20:10] tlovett1 commented on #773
@JustinSainton would be happy to review a PR :) Wish I had a quick fix for this one.

[2017-07-25 16:07] tlovett1 commented on #898
Definitely not supporting this right now. We'll try to add to 2.4. Thanks!

[2017-07-27 14:28] dbourdin opened #902 "Trouble weighting search results and searching by custom fields"
Have you searched for similar issues before submitting this one?

Is this a bug, question or feature request?
Question
Describe the issue you encountered:
I'm having trouble while defining custom search fields and adding weight to the query search results.
I'm using Listify and facetwp to make faceted searchs among my listings. I want to use elasticsearch as searchengine for my keyword searchs in

[2017-07-27 21:57] sc0ttkclark commented on #330
New PR posted here: #903

[2017-07-28 02:35] sc0ttkclark opened #904 "Filter the posts using posts_pre_query"
I'm suggesting that in addition to `the_posts` filter, that you also add the filter to `posts_pre_query`:

[code]

Then in `EP_WP_Query_Integration::filter_the_posts()` it runs an additional conditional:

[code]

The work being done inside #760 enables this, so my suggestion is to take that and combine it with this tweak. This will allow all queries to bypass querying the DB in `WP_Query::get_post

[2017-07-29 13:34] ruscon opened #905 "No performance. What i'm doing wrong ?"
Elastic 5.5
ElasticPress 1.3.1
Without w3 total cache and other cache plugins
Wordpress + https://github.com/roots/bedrock + https://github.com/timber/timber
woocommerce
Query monitor plugin

Registered features: (+ = on; - = off)
+search
-related_posts
+protected_content
+woocommerce
-documents

**db:**
4k products with many tax (~30 meta fields for product in db)
only 2k products are published
2

[2017-07-30 01:24] pySilver commented on #567
well looks like nested meta/tax queries are not supported https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1079

I guess this is what @solepixel meant. I also face the same issue.

[2017-07-30 16:15] ivankristianto commented on #905
@ruscon By default ElasticPress only handle the main query.
But you have ~700 Queries made to the database. I recommend You to revisit your code why you have 700 queries when showing 12 products.

[2017-07-30 18:06] #905 closed

[2017-07-30 18:22] ivankristianto commented on #900
@Pezzab Thank you for reporting this issue.
I'll take a look on this.

[2017-07-30 18:57] pySilver opened #906 "Random ordering bug in Woocommerce feature"
We should remove this lines: https://github.com/10up/ElasticPress/blob/develop/features/woocommerce/woocommerce.php#L365

[code]

since *random* ordering is supported here:
https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L1403

[2017-07-31 04:33] ivankristianto commented on #906
Good catch @pySilver, mind to create a PR for this?

[2017-08-03 15:27] tlovett1 opened #907 "Improved WP-CLI Error Messaging"
Right now when mapping fails, you see a "Mapping Failed" message with no context. It would be nice to see the Elasticsearch reason for why it failed. Perhaps there is a `--debug` parameter that provides more information.

[2017-08-03 19:49] BurlesonBrad opened #908 "Trying to get property of non-object in /elasticpress/features/woocommerce/woocommerce.php on line 274"
_Have you searched for similar issues before submitting this one?_
**As best as possible**
_Is this a bug, question or feature request?_
**Bug**
_Describe the issue you encountered:_
[https://youtu.be/UGIF0T_uD70](https://youtu.be/UGIF0T_uD70) **In <---that video that the girls sent me, the girls in the corporate office are attempting to search for WooCommerce orders using a customer's email and t

[2017-08-04 02:20] BurlesonBrad opened #909 "Removes Ability to View Orders In WooCommerce Orders Page"
Have you searched for similar issues before submitting this one?
yep
Is this a bug, question or feature request?
bug
Describe the issue you encountered:
Activate the WC mod in ```/wp-admin/admin.php?page=elasticpress``` & the # of pages goes to *9*

*DE*activate the WC module in ```/wp-admin/admin.php?page=elasticpress``` & all *(167)* pages of orders comes back
![dn-with-es-order-page](https://us

[2017-08-04 16:54] ivankristianto commented on #567
@pySilver Yes, nested tax_query is not supported yet.

[2017-08-04 16:56] ivankristianto commented on #909
@BurlesonBrad did you make sure that You did fully indexing after activate elasticpress?

[2017-08-04 17:40] ivankristianto commented on #908
@BurlesonBrad can you get me the query body and query args when you try to search it with email address via the search text field?
TO get the query args and query body, please follow this post: https://www.elasticpress.io/blog/2017/05/debugging/

[2017-08-04 19:29] BurlesonBrad commented on #909
well.... therein lies another conundrum.
@Pagely swears on their life that nothing is of their control, yet at the same time, each time the attempt is made to index https://prnt.sc/g4d1vt I'm left with the message of https://prnt.sc/g4cbut

https://prntscr.com/g4dw1j <-- Debugbar + EP debug bar both on, in, and firing w/out showing errors.

@ivankristianto , I want 'ya to shoot straight with me he

[2017-08-04 21:46] brandwaffle commented on #909
Hi @BurlesonBrad,

Looking through the logs, it does seem that there's an issue related to indexing that's preventing you from getting a complete set of products into Elasticsearch. @ivankristianto will be taking a look at the logs you provided, but his timezone is way ahead of us, so he's likely offline right now.

I chatted a bit with Arman at Pagely and it doesn't seem to me that there's an iss

[2017-08-04 22:13] BurlesonBrad commented on #909
...plus: 'ya know, some folks actually use Friday nights to be a hubby and a dad ;-) so, no hurry from @ivankristianto .  There's an age where #AlwaysBeLearning actually makes `$what-you-knew-4-years-ago` actually fall out of the brain's memory ~ definitely a true fact.

So, **_if_** the children's taxonomies are things like variation attributes, their prices, and the inventory.... **_if_** the er

[2017-08-05 17:33] ivankristianto commented on #909
@BurlesonBrad
After carefully looking at your detailed logs ( which is very helpful, thank you ),
These what I got:
1. I saw that you have **18K** document indexed:
[code]
while your screenshot say there are **33K** document to index. Saw your index is not complete.

2. From Arman's reply, there is an error with sorting: `SearchParseException[No mapping found for [post__in] in order to sort on]`,

[2017-08-07 02:42] #901 closed

[2017-08-07 19:56] akashmpatel91 opened #910 "Null pointer exception while using outer document field in the script written in nested term aggregation"
We have a use case where we are doing term aggregation and returning first 10 results in descending order of sum and SKU (SKU is text). We have SKU present in the document as well as all all nested document of the outer document Please find sample document structure below.

We want to filter buckets with bucket_selector where we will have 2 conditions, totalUnitSold < X and sku > Y (X would be num

[2017-08-08 13:54] kallehauge opened #911 "WooCommerce feature and Yoast "is multiple terms query" logic conflict"
**Have you searched for similar issues before submitting this one?** Yes

**Is this a bug, question or feature request?** Feature request, I guess

**Describe the issue you encountered:**

There is a logic conflict when the WooCommerce feature is enabled with Yoast. The conflict will cause issues like "all product category archives will be converted to `robots  => noindex`" due to a conflict with

[2017-08-08 15:46] ivankristianto commented on #910
@akashmpatel91 I believe you should ask this issue in Elasticsearch forum. As it more related there.

[2017-08-08 15:56] kallehauge commented on #911
This [PR](https://github.com/kallehauge/ElasticPress/pull/3) could be a suggestion to how we could make support for Yoast on taxonomy archives.

This should also work with https://github.com/10up/ElasticPress/pull/801 out of the box.

[2017-08-09 06:37] armanly commented on #909
Hi all, checking in to say hello to the thread here as well as give some more info.

To confirm, the indexing is not completing and that is the likely cause for views in WP Admin not displaying things properly. The `SearchParseException[No mapping found for [post__in] in order to sort on]` doesn't seem to be the cause of this issue based on our latest findings. It might still be a valid problem, b

[2017-08-10 07:56] ivankristianto commented on #909
@BurlesonBrad, @armanly and @brandwaffle

I found the issue. This is because the inconsistent data in database.
Somehow the Woocommerce Product with ID 33829 is not exist anymore in database, but still leave the orphan product variation.
So when this orphaned product get indexed, it try to get for the permalink here: https://github.com/10up/ElasticPress/blob/develop/classes/class-ep-api.php#L594

[2017-08-11 03:16] #890 closed

[2017-08-11 04:30] sc0ttkclark commented on #904
Going to do a PR after testing the latest merge with my perf optimizations

[2017-08-11 05:54] sc0ttkclark commented on #728
I've accomplished what I needed to do without these filters. I am okay with closing this, but open to feedback on whether the hooks would still be handy. Up to you, I'll let your team make that decision.

[2017-08-11 05:54] sc0ttkclark commented on #330
PR updated, needs final review

[2017-08-11 09:59] kallehauge opened #914 "WooCommerce: update whitelisted data for 3.x"
I'm currently debugging a WooCommerce shop and realised that product variation prices are no longer saved on the parent (after WooCommerce 3.x) so we do not have to store this data anymore:

[code]

A simple test to prove this would be to create a variable product in a shop without pre Woo 3.x data and see that they are no longer set.

A more "in depth" way would be to look at the Variable Product

[2017-08-12 20:22] Mello21century opened #915 "Does this plugin support Arabic language?"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Question

Describe the issue you encountered:
I tried to install it and connected it with elastic.co and fully index the website but search result appear to be totally different than keyword

Current WordPress version:
4.8.1

Current ElasticPress version:
2.3.2

Current Elasticsearch v

[2017-08-15 06:02] ivankristianto commented on #909
I'm closing this issue. Feel free to reopen it if your issue still persist.

[2017-08-15 06:02] #909 closed

[2017-08-15 06:07] ivankristianto commented on #908
This issue related to incomplete indexed as reported in this issue #909.
I'm closing this issue. Feel free to reopen it if your issue still persist.

[2017-08-15 06:07] #908 closed

[2017-08-15 20:08] jasonbahl commented on #800
@tlovett1 hey, we submitted to VIP and got a list of "blockers" back. Emailing you to discuss.

Thanks!

[2017-08-17 11:41] ivankristianto commented on #915
Have you set the language analyzer to Arabic?
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-lang-analyzer.html

[2017-08-17 12:17] ChaitanyaSyne opened #919 "wpdb"
Have you searched for similar issues before submitting this one?

Is this a bug, question or feature request?

Describe the issue you encountered:

Current WordPress version:

Current ElasticPress version:

Current Elasticsearch version:

Where do you host your Elasticsearch server:

Other plugins installed (WooCommerce, Simple Redirect Manager, etc..):

Steps to reproduce:

1.
2.
3.

Screenshots,

[2017-08-17 12:39] #919 closed

[2017-08-17 13:24] ChaitanyaSyne opened #920 "Any issue if we add post using $wpdb->query("Insert into table....")"
Any issue if we add post using $wpdb->query("Insert into table....")

Have you searched for similar issues before submitting this one?
Didn't get any good result.

Is this a bug, question or feature request?
Question

Describe the issue you encountered:
I am using $wpdb->query("Insert into table....") to create a post directly into WordPress. Is there any problem in using it? I am also updating po

[2017-08-17 20:19] tlovett1 commented on #920
Unfortunately, this won't work as changes won't make it into Elasticsearch. Sorry!

[2017-08-17 20:19] #920 closed

[2017-08-21 10:31] ivankristianto opened #921 "Use Elasticsearch index in single post"
We have `ep_get_post` function to get the post from the ES index.
But we don't use it anywhere except in unit testing.
By using this we could improved page load in single post, especially if the post has a lot of meta.
What do you think @tlovett1 ?

[2017-08-21 11:43] c9dd commented on #781
I too would like to be able to search by SKU and variation SKU, currently, too many results are returned for something that should be unique.

[2017-08-22 16:07] #869 closed

[2017-08-23 09:56] ChaitanyaSyne commented on #920
@tlovett1
Thank you for your reply. We have changed our logic from insert into with WP_INSERT(). Will it work now?

[2017-08-24 10:14] yshanthipriya opened #924 "Unable to sync an error occured while syncing"
Hi

I can not sync the data with elasticsearch where as in dev environment it works, with production database we always gets an error occured while syncing message and we can also see admin-ajax.php 500 error when the sync fails in console.  I have tried increasing the timeout value in elasticpress plugin did not help.

[2017-08-24 16:53] sc0ttkclark opened #925 "Support for strict content type checking in ES version 5.x and 6.x"
You can enable strict content type checking in 5.x and it's always forced in ES 6.x. It's a fairly simple thing to support, it just requires `Content-Type` to be set on the requests.

In `EP_API::query()` calls, where `$request_args` is set a new line should be added:

[code]

Without that, I have to add the content type header via the `ep_search_request_args` filter to get requests to work. Every

[2017-08-24 19:08] joehoyle commented on #790
FYI I did get a fix for this, and though it's somewhat up to the ES service, I thought I'd share how to make ElasticPress work with the AWS Elasticsearch Service, as it's not uncommon.

I should also say that IP based access that AWS Elasticsearch _does_ support is really no good for decent infrastructure design, instead the IAM / role based approach is far superior.

To do authentication with Ela

[2017-08-25 15:22] andrewblossom commented on #924
Perhaps it's a php memory limit error? I've been battling the same issue when I try to sync Documents.

[2017-08-25 20:58] hjanuschka opened #927 "pipeline with id does not exist"
✅

question/bug

running bulk import results in:

[code]

`4.8.1`

`develop`

`5.3.0`

`inhouse`

run `wp elasticpress index --show-bulk-errors -posts-per-page=300`

[2017-08-28 09:50] kallehauge commented on #911
@tlovett1 @ivankristianto is it just me who feels like this is a bit critical, since Yosat is as popular as it is?

[2017-08-28 11:39] yshanthipriya commented on #924
thanks @andrewblossom this worked

[2017-08-29 13:29] ivankristianto commented on #911
Sorry for late response.
@kallehauge most of our team are on company summit currently.
We will discuss this matter when we are back.
Thanks for following up.

[2017-08-29 14:32] ivankristianto commented on #790
Thanks @joehoyle,
I create a wiki for this: https://github.com/10up/ElasticPress/wiki/Connect-from-Amazon-Web-Service

[2017-09-01 18:19] Wp1stop opened #928 "How do I enable Protected content ?"
Looking for the way to enable protected content. And when I run wp elasticpress index --setup nothing happens -   I need to allow order search on Woocommerce admin - I went over a post but I do not know how to enable Protected content

Current WordPress version:WordPress 4.8.1 r

Current ElasticPress version: . 2.3.2

Current Elasticsearch version: 2.4

Where do you host your Elasticsearch server:

[2017-09-05 01:20] javorszky opened #929 "Syncing a site with corrupted data will fail with infinite loop and out of memory errors"
yes

either a bug or a feature request

On a large site when I try to sync the data to the ES server, it just hangs. Never completes. PHP error log says memory exhausted (4G in this case). Occasionally nginx would give a bad gateway 502 error.

4.8.1

2.3.2

5.5

localhost via homebrew

Lots, but irrelevant right now

1. Have a variable product in WooCommerce, add some variations
2. Delete the var

[2017-09-05 13:36] ekandreas commented on #844
Can't just remove a nag via CSS. There's no specific class or id to your nag in wp-admin.
Your warning doesn't concern the general users of WordPress.

[2017-09-11 10:15] ivankristianto commented on #928
@Wp1stop
to enable it, you can go to ElasticPress dashboard.
![screen shot 2017-09-11 at 17 15 12](https://user-images.githubusercontent.com/656006/30269902-d72d1f06-9714-11e7-806c-debeaa41dcc4.png)

[2017-09-11 11:28] #924 closed

[2017-09-11 11:37] javorszky commented on #929
Oh, thank you! That makes sense. I'm going to test this soon. I'll close it, and if the issue persists, I'll reopen.

[2017-09-11 11:37] #929 closed

[2017-09-12 12:10] #915 closed

[2017-09-13 19:24] jasonbahl opened #931 "Late escaping, per WordPress.com VIP review"
We're planning on using the plugin on some WordPress.com VIP hosted sites, and there are some blockers from their code review that are preventing us from getting the plugin approved for usage with VIP.

The blockers are listed below:

[code]

I have a PR coming shortly to address these.

[2017-09-14 17:52] AustinTBiggs opened #933 "Fuzzy search not working on custom fields"
Have you searched for similar issues before submitting this one? Yes

---

When searching with the following arguments, I'm noticing the custom fields aren't fuzzy searching, am I doing something wrong here? For example, if I'm searching "Denv" I expect posts that have "Denver" in the "city" field to be returned, however, they're not being returned.

I've checked to see if my meta query args were

[2017-09-18 13:43] #925 closed

[2017-09-18 15:01] maartenbusstra opened #934 "post_type.raw reference in query to ES cluster causes no results"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
question/bug

Describe the issue you encountered:
Search yields no results

Current WordPress version:
4.8

Current ElasticPress version:
2.3.2

Current Elasticsearch version:
5.1

Where do you host your Elasticsearch server:
Amazon Elasticsearch Service

---

I'm getting no results be

[2017-09-19 21:11] #931 closed

[2017-09-19 21:12] tlovett1 commented on #927
This usually happens when you don't have permission to create pipelines on your ES cluster. You'll need to contact your ES provider.

[2017-09-19 21:12] #927 closed

[2017-09-21 21:34] kallehauge commented on #911
@ivankristianto What's up doc? :smile:

[2017-09-25 13:52] lukaspawlik commented on #934
Hi @maartenbusstra,

Could you please attach your full `ElasticSearch` query and `WP_Query` query arguments here? Using `post_type.raw` in ES query doesn't seem to be a problem (at least for regular use - I tested this on one of my sites). Maybe there is something wrong with your query?

[2017-09-25 13:54] lukaspawlik commented on #933
Hi @AustinTBiggs,

I am checking this. I'll get back to you later today.

[2017-09-25 14:44] lukaspawlik commented on #928
Hi @Wp1stop ,

Does @ivankristianto suggestion solve your issue?

[2017-09-25 15:03] AustinTBiggs commented on #933
Thank you for checking this out - greatly appreciated!

[2017-09-25 20:02] hotnuts21 opened #936 "Multiple WP sites on single Elastic install"
Just a quick question.

Is there any issue/problem with using a single Elastic install to manage the search for multiple sites (not multisite, but individual sites and their own domains).

thnks for an awesome plugin
Paul

[2017-09-25 20:33] lukaspawlik commented on #933
Hi @AustinTBiggs,

I did check and ElasticPress uses fuzzy search for meta fields. You could work around your issue with changing fuzziness value by adding below filter right before your WP_Query

[code]

however it won't work well for `Washington` and `Wash`.

Just a question: Does search term `Denv` return anything that has `Denver` in content or in title? My tests showed me that it shouldn't an

[2017-09-25 20:37] lukaspawlik commented on #936
Hi @hotnuts21,

No there is no problem at all. Each site uses its own index name (based on site domain) so all data will be logically separated.

Please let me know if you have any questions.

[2017-09-25 20:37] #936 closed

[2017-09-26 15:42] tlovett1 commented on #881
Hey @ivankristianto I had to remove the is_a WP_Taxonomy check is WP_Taxonomy does not exist prior to 4.7. Is there another solution here?

[2017-09-26 15:54] #330 closed

[2017-09-26 17:08] omar-otieku opened #937 "Bucket Aggregation by Post Type"
I am a bit new to Elasticsearch and Elasticpress. I am trying to do a custom query with an aggregation to bucket results by post_type but I am getting an invalid response from Ep and I may be way off.

My Query:

[code]

WP 4.8.2
Elasticpress 2.3.2
Elasticsearch 5.5.2

Any guidance would be appreciated.

[2017-09-27 10:09] RonalddeRooij opened #938 "Yoast SEO conflict when activated no WooCommerce order results shown."
Have you searched for similar issues before submitting this one?
Yes without finding a similar issue.

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
If plug-in Yoast SEO is active, WooCommerce Order search doesn't show any results. Turning the plug-in off, it works perfectly fine. Installed Debug with Debug ElasticPress:

If Yoast SEO is not active:
Total Ela

[2017-09-28 07:09] lukaspawlik commented on #938
Thanks @RonalddeRooij for reporting this. I'll check it and I'll get back to you as soon as possible.

[2017-09-28 07:11] lukaspawlik commented on #937
Hi @omar-otieku,

Can you try removing `use-filter` parameter from your query arguments? Does it help?

[2017-09-28 12:11] ivankristianto commented on #881
@tlovett1 I added another PR: https://github.com/10up/ElasticPress/pull/939
It checked the $taxonomy object property `name`

[2017-09-28 14:40] omar-otieku commented on #937
Yes, that did the trick. Thank you.

[2017-09-28 14:40] #937 closed

[2017-09-28 17:25] lukaspawlik commented on #883
Hi @hrose1,

I've tested this on my local environment and I believe that sorting and searching by email works correctly.

In your ES query I see that field `meta._billing_email.value` is used for searching clients emails so ES  should return correct results.

Can you please double check it? I'm using current develop branch of ElasticPress plugin, WooCommerce 3.1.2 and ES 5.6.1

[2017-09-29 16:32] paulgibbs opened #942 "Are facets supported?"
I've searched the issues and wiki, but I want to check if there's any special support for Elasticsearch facets in ElasticPress? I have had a quick search of the code but I am unfamiliar with what I should be looking for, so figured I'd ask. :)

[2017-09-30 08:24] ivankristianto commented on #942
@paulgibbs facetwp use return fields id, which is not supported in current version.
But there is a fixed and will release in next 2.4.
PR: https://github.com/10up/ElasticPress/pull/760

[2017-09-30 08:26] #928 closed

[2017-10-01 07:09] ivankristianto commented on #911
@kallehauge
I test this with latest EP ( branch develop ), Woocommerce v3.3, and WordPress SEO (Yoast) v5.5.1.
And cannot replicate the issue.
And I'm wondering, can you make sure the "Search Engine Visibility" setting is set to false?

[2017-10-01 07:37] #921 closed

[2017-10-02 06:51] RonalddeRooij commented on #938
Hi, thanks for picking this up. Do you have any update on this issue?

[2017-10-02 07:29] lukaspawlik commented on #938
Hello,

I don't have any update on this ticket yet. I should have something near the end of the week.

[2017-10-02 20:04] lukaspawlik commented on #942
@paulgibbs Maybe this [article](https://www.elasticpress.io/blog/2017/09/aggregations-api-for-grouping-data/) will be helpful in case you have an option to modify _WP_Query_ programmatically.

[2017-10-03 09:15] lukaspawlik commented on #900
Hi @Pezzab,

Could you share some more details about your issue? I tried to replicate this on my local test environment and I couldn't reproduce this issue.

I tried following scenario:

- create an article without thumbnail
- index articles in Elasticsearch
- turn off ElasticPress
- add thumbnail to created article
- enable ElasticPress
- visit search page and search for a created article; return

[2017-10-03 11:40] kallehauge commented on #911
Hey @ivankristianto !
I just tried again with the latest version on a Storefront install with dummy-data given from WooCommerce. It still occurs for me when I look at a parent term archive. Example:
_If we have a parent category called `Clothes` with a child category named `Hoodies`, then the parent (`Clothes`) will be shown as `noindex` but the child category (`Hoodies`) will not. This is due to

[2017-10-03 12:12] kallehauge commented on #658
Just out of curiosity. How far is this @ivankruchkoff ?

[2017-10-03 14:58] #881 closed

[2017-10-03 15:07] #873 closed

[2017-10-03 15:38] ivankristianto commented on #911
@kallehauge
Ah I see the issue now.
The issue only occur to the parent terms.
cc: @lukaspawlik

[2017-10-03 19:26] kallehauge commented on #911
Brilliant @ivankristianto. I've updated the main description of the issue with the provided example for future reference.

[2017-10-03 20:21] ahmed-sigmalux opened #943 "PHP Notice: Trying to get property of non-object in /var/www/mysite.com/wp-content/plugins/elasticpress/features/woocommerce/woocommerce.php on line 274"
Have you searched for similar issues before submitting this one?

Yes, but the issue was closed without resolution.

Is this a bug, question or feature request?

Bug.

Describe the issue you encountered:

Debug log shows the following errors pretty frequently:

`PHP Notice:  Trying to get property of non-object in /var/www/mysite.com/wp-content/plugins/elasticpress/features/woocommerce/woocommerce

[2017-10-05 06:13] JACK-ARRAY opened #944 "How to get post meta from id?"
I want to know how how i can get post meta value from id with Elasticpress. Here is wordpress solution

`$thumburl = get_post_meta($id, 'thumb', true);`

Getting post 'thumb' meta from 'id'.

Pulling post meta from wordpress is causing high mysql load. So please share a solution.
Thanks

[2017-10-05 07:59] kallehauge commented on #944
Just to provide a quick answer for you @JACK-ARRAY _(I'm not a maintainer)_: This is currently not possible.

But if you feel like there is a gain from this, then you could rephrase the issue as a feature-request/enhancement with arguments of why and how this can be a performance-enhancement.

[2017-10-05 11:34] JACK-ARRAY commented on #944
I got the solution thanks.

[2017-10-05 11:34] #944 closed

[2017-10-05 13:44] tlovett1 commented on #944
Sorry not possible. MySQL should be faster for this anyway.

[2017-10-06 17:37] lukaspawlik commented on #942
Closing due to no response.

[2017-10-06 17:37] #942 closed

[2017-10-06 17:38] lukaspawlik commented on #934
Closing due to lack of response.

[2017-10-06 17:38] #934 closed

[2017-10-06 17:38] lukaspawlik commented on #933
Closing due to lack of response.

[2017-10-06 17:38] #933 closed

[2017-10-06 17:39] lukaspawlik commented on #910
Closing.

[2017-10-06 17:39] #910 closed

[2017-10-06 17:39] lukaspawlik commented on #900
Closing due to lack of response.

[2017-10-06 17:39] #900 closed

[2017-10-06 17:59] lukaspawlik commented on #943
Hi @ahmed-sigmalux,

Thanks for reporting this. I'll check this and create PR if needed.

[2017-10-06 18:12] lukaspawlik commented on #943
@ahmed-sigmalux,

PR created and waiting for review.

[2017-10-06 19:14] AustinTBiggs commented on #933
Lukas,

I’ll check out wildcard searches then! Thanks so much!

Thanks,
Austin

[2017-10-06 21:58] lukaspawlik commented on #938
Hello @RonalddeRooij,

I was able to inspect this and identify issue. I've prepared fix for this in pull request https://github.com/10up/ElasticPress/pull/947.

Basically this issue occurs only on WooCommerce 2.x. Version 3.x is not affected. I suggest updating WooCommerce to version 3.x or waiting until #947 is merged and new ElasticPress version released.

[2017-10-07 07:30] JACK-ARRAY opened #948 "Use ElasticPress search function to Elasticsearch"
Hi, great plugin Thanks. I want to use elasticpress search function to elasticsearch. Here is elasticpress function
[code]
Similiarly i written search function for elasticsearch, but no result is showing. Can i know where i am wrong or any help?

[code]

[2017-10-07 09:40] #948 closed

[2017-10-07 20:14] ahmed-sigmalux commented on #943
Thanks for the prompt reply and fix!

[2017-10-09 06:43] RonalddeRooij commented on #938
@lukaspawlik Thank you very much for investigating the issue. I will update WooCommerce from 2.x to version 3.x to fix my issue.

[2017-10-09 06:43] #938 closed

[2017-10-10 13:08] lukaspawlik commented on #228
Closing.

[2017-10-10 13:08] #228 closed

[2017-10-10 13:09] lukaspawlik commented on #359
Hi @paulhuisman,

Have you found an answer for your question? If you still need our help then feel free to reopen this ticket. I am closing it for now.

[2017-10-10 13:09] #359 closed

[2017-10-10 13:09] lukaspawlik commented on #708
Closing.

[2017-10-10 13:09] #708 closed

[2017-10-10 13:10] #817 closed

[2017-10-10 13:19] lukaspawlik commented on #872
Hi @kevinlisota,

Can we start from scratch? Can you please mentioned WordPress query? I'd like to understand how to reproduce your issue. Where do you observe this behaviour?

[2017-10-10 13:21] lukaspawlik commented on #882
Hi @kclarke10,

I cannot reproduce this. Can you share more details about your ElasticPress version, WordPress version etc?

[2017-10-10 13:23] lukaspawlik commented on #870
@isvaljek ,

Did you try checking this on WooCommerce 3.x? I believe this may be happening on 2.x only.

[2017-10-10 13:27] lukaspawlik commented on #870
Extra note @isvaljek,

This issue should be fixed in https://github.com/10up/ElasticPress/pull/947 (if you have a chance to test it).

[2017-10-10 13:30] lukaspawlik commented on #698
@psorensen I am closing this due to the fact that corresponding #782 was also closed. I'd like to clean up issues list a bit.

[2017-10-10 13:30] #698 closed

[2017-10-10 17:37] lukaspawlik commented on #943
This has been merged to develop branch and will be released in 2.4

Closing.

[2017-10-10 17:37] #943 closed

[2017-10-11 18:09] dosmoc commented on #868
I've run into this issue myself. While the surrounding script tags are stripped by `prepare_text_content`, the code itself is still put into `post_content`. It'd be preferable to have the entire element removed. Would it be possible to get a hook inserted before the call to `strip_tags` in the `prepare_text_content` function?

[2017-10-12 19:30] JukeBoxDeveloper opened #950 "Error while indexing"
Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Bug
Describe the issue you encountered:
while indexing is running I get an error, the log show error 500 but there's no further description other than : {success: false} success:false, it usually get's through the first 5000 documents before this happens.

edit:

To add more information

[2017-10-14 14:50] JACK-ARRAY commented on #950
I think its your QBOX problem. Please contact them.

[2017-10-16 11:35] lukaspawlik commented on #950
Hi @JukeBoxDeveloper,

I am unable to inspect this as your report doesn't contain anything that could help us. Error 500 may be returned for many reasons and for example your object may have too many meta fields to index and Elasticsearch may be rejecting this request. If you could provide us any Elasticsearch error logs that would tell us if it's plugin bug or not.

I am going to close this issue

[2017-10-16 11:35] #950 closed

[2017-10-16 11:45] lukaspawlik commented on #872
Closing.

[2017-10-16 11:45] #872 closed

[2017-10-19 04:21] tlovett1 commented on #914
@kallehauge do you want to create a PR for updating that whitelist?

[2017-10-19 07:36] lukaspawlik commented on #883
Closing due to inactivity.

[2017-10-19 07:36] #883 closed

[2017-10-19 10:16] javorszky opened #953 "Indexing leaves out about 33% of the posts"
## Have you searched for similar issues before submitting this one?

yes

## Is this a bug, question or feature request?

not sure. I don't know where to start finding out why this had happened. I suspect it's a bug / misconfiguration issues

## Describe the issue you encountered:

* I have a local site.
* ElasticSearch installed (version 5.6).
* I filter the index name so I remember what it is. U

[2017-10-19 10:24] javorszky commented on #953
Looking at the logs, I have a feeling it's https://github.com/10up/ElasticPress/issues/861

[2017-10-19 10:32] javorszky commented on #953
According to the log, the limit is 1000. The mapping files do specify a value to be 5000 by default, so I guess that never gets pulled through due to a mismatch between elasticsearch versions?

Is there a mappings file for 5.6?

[2017-10-19 14:11] javorszky commented on #953
I've followed things:

* the mappings file isn't automatically sent down to the server when doing indexing
* I called `wp elasticpress put-mapping`, which did send the 5.2 mapping file to my 5.6.3 server, which seemed okay, and deleted the index as well
* importing everything again resulted in the index and the CLI being in agreement about how  many posts there are. The meta key that I was missing

[2017-10-19 14:15] lukaspawlik commented on #953
Hey @javorszky ,

Just a question: Current official ElasticPress release is 2.3.2 (https://wordpress.org/plugins/elasticpress/). Do you use our current develop branch instead of plugin from official WordPress repositiory?

[2017-10-19 14:17] javorszky commented on #953
I don't actually know. It's a client's site's archive. I can try with a release version, or with latest develop branch.

[2017-10-19 14:20] lukaspawlik commented on #953
@javorszky I don't suggest using develop branch as it doesn't have to be stable. Could you please use 2.3.2 from WordPress repository?

[2017-10-19 14:22] javorszky commented on #953
Sure, let me try that.

[2017-10-19 20:29] javorszky commented on #953
So not sure what would have changed when I downgraded from 2.4 to 2.3.2, but using the current release version:

* I still need to manually put the mapping onto the ES server with `wp elasticpress put-mapping`
* there is no 5-2.php mapping file
* indexing still errors out with the index.mappings.maxfield thing

[2017-10-19 20:59] lukaspawlik commented on #953
Hi,

Please let me clarify the issue with putting mapping. When you use `wp-cli` to index site mapping is being sent only when you add `--setup` switch to `index` command:

`wp elasticpress index --setup` will drop your index, recreate it, send mapping and index data. If you omit `--setup` in `wp-cli` then mapping is not sent. It's intentional behaviour.

As you mentioned on `2.3.2` there is no `5

[2017-10-19 21:11] javorszky commented on #953
The db dump is 2 Gb and it's client data, so I'll have to say no to that.

The info on setup is helpful.

The issue with the `index.mappings.maxfield` goes away as soon as I either push the mapping up manually, or use the `--setup` switch.

[2017-10-19 21:13] javorszky commented on #953
If you want to reproduce the issue, just have an example site, and set the maxfield low enough so that the log files will start generating errors about it. WPCLI just carries on

[2017-10-20 07:25] lukaspawlik commented on #953
Thank you. I am marking this as `enhancement` as it's mostly about better messaging in `wp-cli` when posts are not indexed correctly (for any reason).

Thank you for reporting this!

[2017-10-20 15:03] kallehauge commented on #914
@tlovett1 based on #946 then it looks like EP should still support Woo 2.x? If that is the case, then there is nothing to update and this issue can be closed :)

[2017-10-21 18:09] ahmed-sigmalux opened #954 "Output custom X- HTTP headers from ElasticSearch servers"
Have you searched for similar issues before submitting this one? Yes.

Is this a bug, question or feature request? Feature request.

Describe the issue you encountered:

Our ElasticSearch servers are configured to provide an "X-ElasticSearch-Server: $hostname" header with all HTTP responses. This helps us identify which server responded and debug when needed. It would be useful if we could define

[2017-10-23 13:19] lukaspawlik commented on #907
@tlovett1 If we could treat this issue as a hub issue for all wp-cli error messaging related issues then it would be great as in other ticket (https://github.com/10up/ElasticPress/issues/953) I saw that exposing any information that indexing of some documents failed would be very welcome.

[2017-10-23 13:19] lukaspawlik commented on #953
I've mentioned about need for more verbose messaging in https://github.com/10up/ElasticPress/issues/907 so I am closing this one to keep issue list quite clean. Thanks for reporting this @javorszky

[2017-10-23 13:25] javorszky commented on #953
That's a different issue.

More verbose messaging means that there IS a failure message, but it's not good enough.

The issue I'm talking about, and have provided steps on how to reproduce, is that syncing data fails, ElasticSearch returns an error, logs it in its error log, yet WP-CLI (and I suspect the GUI version too) carries on like nothing had happened instead of telling me that *something's*

[2017-10-23 13:26] javorszky commented on #953
Please reopen the issue.

[2017-10-23 13:35] lukaspawlik commented on #953
I'll also add your note about throwing an error instead of verbose messaging in wp-cli.

Re-opening this.

[2017-10-23 13:36] lukaspawlik commented on #907
@tlovett1 Additional info about #953 - https://github.com/10up/ElasticPress/issues/953#issuecomment-338657803

[2017-10-23 13:40] javorszky commented on #953
#907 is a different issue from what I can tell. They might be connected, but at least 907 GETS some error message. This one doesn't.

[2017-10-23 15:02] lukaspawlik commented on #953
@javorszky purpose of #907 is to improve `wp-cli` messaging and hopefully also throwing errors/warnings depending on indexing problems. I am trying to solve general issue with lack of `wp-cli` verbosity (even if it means throwing errors) when something doesn't go smooth and your issue is a part of this problem (lack of any information about unsuccessful plugin operations when using `wp-cli`).

@tl

[2017-10-23 15:03] lukaspawlik commented on #954
@tlovett1 I'm assigning this one to you to decide what to do with this.

[2017-10-23 17:04] terrence-gonsalves opened #955 "Autosuggest not authorized"
Have you searched for similar issues before submitting this one?
Yes.

Is this a bug, question or feature request?
Question.

Describe the issue you encountered:
When activating the Autosuggest feature and trying to test if the feature is working but I receive a 401 (not authorized) error when typing into the search field. Our EP configuration utilizes ES security and implements the ES_SHIELD cons

[2017-10-24 00:13] lukaspawlik commented on #955
@eugene-manuilov Could you please take a look at this?

[2017-10-24 10:29] tott commented on #955
Hi Terrence,
in order for Autosuggest to work you need to setup a publicly accessible search endpoint, otherwise, the feature will fail at the authentication request. Given that the query is sent through [javascript](https://github.com/10up/ElasticPress/blob/develop/features/autosuggest/assets/js/src/autosuggest.js#L133) directly to the ElasticSearch endpoint we have no safe way of injecting the c

[2017-10-24 17:53] renanno opened #956 "Securing ElasticSearch running on dedicated server"
Hi

This is more like a question than an issue. I hope there is no problem posting it here.

I can see ElasticPress recommend it's own service to index protected content.

I have a dedicated server running ElasticSearch exclusively. And I have another dedicated server running my Wordpress website. The second server connects to the first using port 9200, which returns elasticsearch's results.

I co

[2017-10-25 09:37] lukaspawlik commented on #956
Hi @renanno,

You're correct. As long as there is no way to connect directly/indirectly to your Elasticsearch server outside your infrastructure then you're good to enable _Protected Content_ feature.

Thanks

[2017-10-25 09:37] #956 closed

[2017-10-26 02:06] kevin25 opened #958 "Got 500 error"
I got warning on backend:

`Your Elasticsearch version 5.6.3 is above the maximum required Elasticsearch version 5.3. ElasticPress may or may not work properly.`

When navigate to:
 /shop/something-here/?attribute_style=Sweatshirt&attribute_color=Navy&attribute_size=M

I got 500 error and saw this on error log:

`2017/10/26 02:02:50 [error] 7242#0: *610529 FastCGI sent in stderr: "PHP message: PHP

[2017-10-26 08:02] lukaspawlik commented on #958
Hi,

Is there any chance you can increase memory limit for PHP script?

Adding following to `wp-config.php` (or replacing if similar declaration already exists):

[code]

Can you also check that your installation has disabled `WP_DEBUG` mode? It can also be increasing overall memory usage.

will double maximum memory usage for PHP script.

Above error occurs when ElasticPress plugin decodes respon

[2017-10-26 12:19] kevin25 commented on #958
@lukaspawlik  It's not memory. I set memory up to 2G. It's elasticsearch version. I set up Elasticsearch 5.6 while the max version is 5.5. I cloned the dev repo and it works.

[2017-10-26 12:40] lukaspawlik commented on #958
Hi @kevin25 ,

Thank you for getting back to me. Can you let me know what exactly you did?

Did you bump your memory limit to `2G` and you were still getting error `500` on that page with Fatal Error in logs? Did you do both - bumping memory to limit `2G` and updating plugin to current develop version? In your initial report there are two issues: first one is a warning that `ES 5.6` is not support

[2017-10-26 13:01] kevin25 commented on #958
The memory has been already set before. I didn't touch it. I just removed the current stable version and cloned the dev repo. And it worked for me. There is no 500 error either.

[2017-10-26 13:15] lukaspawlik commented on #958
Thanks. I saw message `Allowed memory size of 536870912 bytes exhausted` (~520M for PHP script) that's why I mentioned about setting it higher.

I am happy that it works for you with current develop branch.

I am closing it however, feel free to re-open it if needed.

[2017-10-26 13:15] #958 closed

[2017-10-27 01:06] kallehauge commented on #955
Is it due to the delay introduced by using WP REST API that the search is called directly with JavaScript?
If yes: would be an option to create a file with the good ol' `SHORTINIT` hack that would reduce the extra delay to ~30ms (depending on the hardware) instead of 200ms+ that scales horribly with plugins?

Source for numbers: https://deliciousbrains.com/wordpress-rest-api-vs-custom-request-hand

[2017-10-27 06:35] RonalddeRooij opened #959 "Searching for order title will result in post id results instead of order number."
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Bug/Question

Describe the issue you encountered:
I'm searching for the order number, however the search result is based on the post id.
Extra info: turning Elasticpress off, the correct result is shown.

Current WordPress version:
4.8.2

Current ElasticPress version:
2.3.2

Current El

[2017-10-27 13:08] eugene-manuilov commented on #959
Hi @RonalddeRooij! Thanks for posting this. I'm looking into it.

[2017-10-27 14:17] eugene-manuilov commented on #959
@RonalddeRooij, could you please give me an exact list of plugins you use on your end? Also, did you enable WooCommerce support in the ElasticPress settings? And finally, did you index your site with ElasticPress?

Something weird happens on your end because WooCommerce always uses Order ID (what is actually post id in the db) in the order title (that **#xxxx by xxxx** field) and there is no way t

[2017-10-30 06:45] RonalddeRooij commented on #959
Hi thank you for the reply, after enabling the WooCommerce support + reindex it worked.

[2017-10-30 06:45] #959 closed

[2017-10-31 11:39] eugene-manuilov commented on #954
Hi @ahmed-sigmalux!

what you need is an ad-hoc solution and we are likely not going to implement it as of now because the majority of users won't need it. I would like to suggest you add a hook for `ep_remote_request` action and send that header manually. It can be something like this:

[code]

I am going to close this ticket for now, but if you still have questions, feel free to re-open it.

[2017-10-31 11:40] #954 closed

[2017-10-31 12:00] #854 closed

[2017-10-31 15:24] rlaan opened #961 "cannot use ep_es_info_cache_expiration filter from app/theme"
Dear ElasticPress developers, thanks for this great plugin to interact with ElasticSearch!

I'm glad that caching the ES information is now available in the plugin.
I tried to leverage the build in filter to change the expiration time from 5 minutes to 1 day, however my filter code wasn't activated. I tracked it down to being a timing issue: the apply_filter call had already taken place before my

[2017-10-31 16:10] tlovett1 commented on #955
@kallehauge correct.

Your solution is certainly viable. Let us know how that works!

[2017-11-01 12:52] eugene-manuilov commented on #961
Hi @rlaan,

This happens because it is triggered in a function which is bounded to the `plugins_loaded` action. That's why your code in a theme doesn't work. I'll update it to be triggered in the `init` action to allow theme authors to override too.

[2017-11-01 13:08] rlaan commented on #961
Hi Eugene,

That would be great!

Thanks so much.
Ruud

[2017-11-01 20:41] terrence-gonsalves commented on #955
Hi @tott

Thanks for the response. I figured this out after reading all the information that was supplied in the plugin but I wanted to leave the question up for the yellow indicators in EP for documents, should this be green if everything is working correctly? We do have the Ingest Attachments plugin setup and when activated I get no search results.

I am just going to test on with a default them

[2017-11-02 06:27] JACK-ARRAY opened #963 "Enable post meta in version 2.4"
Can i know how to enable post meta in version 2.4. Our post contains lots of meta value. After updating to 2.4 lots of content is missing.

[2017-11-02 11:58] tlovett1 commented on #963
Previously meta was duplicated on `meta` and `post_meta`. Now it's just on `meta`.

[2017-11-03 12:16] eugene-manuilov commented on #961
Hi @rlaan,

the Pull Request has been approved and merged into develop branch. Could you please grab develop version and test it on your end to make sure it works as intended now on your end?

[2017-11-04 09:12] JACK-ARRAY commented on #963
Thanks Solved.

[2017-11-04 09:12] #963 closed

[2017-11-05 09:13] edwardr opened #964 "Why does Elasticsearch slow down this basic query?"
I'm working with Elasticsearch (EP plugin) for the first time to see if it can help us with some of our larger queries. I set up a test environment and ran tests using WP_Query with the ep_integrate parameter as true and false, and have the following results (avg. of three tests each):

With ep_integrate = true:
5.50 second average

With ep_integrate = false:
2.85 second average.

The sample query

[2017-11-05 11:51] tott commented on #964
Hi Edward,

with this amount of results returned the networking overhead might play in here. How quick is the connection between your web server and your ElasticSearch instance? How are the results when setting posts per page to 100, 500, 1000?

Looking forward to hearing from you

Thorsten

[2017-11-05 19:26] JACK-ARRAY commented on #964
Elasticpress returned only ID of posts and rest of post contents returned by MYSQL server. So it may a bit slower while loading content from MYSQL server.

[2017-11-06 10:10] eugene-manuilov opened #965 "Faceted search"
Hi @tlovett1,

I have decided to open this ticket to start a discussion about an implementation of faceted search support in this plugin. I have seen a few tickets (#282, #942) where people ask about it, so it may be a good candidate to include into the next version.

For the beginning, we can "override" **Filter Products by Attribute** widget by WooCommerce and implement facets there. By doing it

[2017-11-06 11:46] eugene-manuilov commented on #1
Hey @tlovett1,

can we get back to this discussion and implement it in the next 2.5 release?

[2017-11-06 12:33] rlaan commented on #961
Hi Eugene,

I cloned the develop version and the filter is now calling my theme function.
Works perfectly.
Thanks!

[2017-11-06 21:28] edwardr commented on #964
I'm getting similar results with smaller fetches -- 500, 1000 items, etc.

I'll try some more complex queries with inner joins and see if there's any performance difference.

[2017-11-06 21:47] edwardr commented on #964
I ran these same tests on a different build and found dramatic performance improvements using ep_integrate, so I suspect this may be related to my testing ES instance. I'll update when I get to the bottom of it.

[2017-11-07 03:50] ahmed-sigmalux opened #966 "Notice: Array to string conversion in elasticpress-stream/includes/functions/core.php on line 165"
Have you searched for similar issues before submitting this one?

Yes.

Is this a bug, question or feature request?

Bug.

Describe the issue you encountered:

`Notice: Array to string conversion in /var/www/wordpress/wp-content/plugins/elasticpress-stream/includes/functions/core.php on line 165`

Current WordPress version:

4.8.3

Current ElasticPress version:

2.4

Current Elasticsearch version:

[2017-11-07 03:55] ahmed-sigmalux opened #967 "Warning: First parameter must either be an object or the name of an existing class in elasticpress/classes/class-ep-api.php on line 696"
Have you searched for similar issues before submitting this one?

Yes.

Is this a bug, question or feature request?

Bug.

Describe the issue you encountered:

`Warning: First parameter must either be an object or the name of an existing class in /var/www/wordpress/wp-content/plugins/elasticpress/classes/class-ep-api.php on line 696`

Current WordPress version:

4.8.3

Current ElasticPress version

[2017-11-07 04:13] ahmed-sigmalux opened #968 "ElasticPress breaks Printful and Shipwire plugins (REST API / webhook related)"
Have you searched for similar issues before submitting this one?

Yes.

Is this a bug, question or feature request?

Bug.

Describe the issue you encountered:

ElasticPress is breaking two other WooCommerce plugins:

* Printful - https://www.printful.com/landing/woocommerce-print-products-fulfillment
* Shipwire - https://woocommerce.com/products/shipwire/

These plugins stop working whenever Elast

[2017-11-07 08:01] yshanthipriya opened #969 "Elasticpress fails indexing posts to elasticsearch server"
Hi,

we are currently running following configuration in our site.
Current WordPress version:4.8.1
Current ElasticPress version:2.4
Current Elasticsearch version:v2.0.1

We recently switched our windows server to linux after the change elasticpress(v2.0.1) stopped indexing the posts to elasticsearch server if we see the connections in backend throughing the error set proper host where as the confi

[2017-11-07 09:40] eugene-manuilov commented on #966
Hi @ahmed-sigmalux,

this bug is relevant to **elasticpress-stream** plugin, which is stored in another repository. I have created a pull request to fix this issue. Once it gets approved, you will be able to grab it.

https://github.com/10up/elasticpress-stream/pull/2

[2017-11-07 10:04] eugene-manuilov commented on #967
Thanks @ahmed-sigmalux!

I have submitted a pull request to fix this issue.

[2017-11-07 10:16] eugene-manuilov commented on #968
Hi @ahmed-sigmalux!

how many products do you have in your Printful account? I think it happens because ElasticPress tries to index products on the fly what reduces response time and lead to a situation when Printful considers sync request timed out.

Also could you please let me know how often you need to sync your products from Printful into WooCommerce? And can you sync by smaller chunks?

[2017-11-07 10:20] eugene-manuilov commented on #969
Hi @yshanthipriya!

Is your elasticsearch server reachable? Looks like ElasticPress can't connect to it.

[2017-11-07 10:37] yshanthipriya commented on #969
we are able to connect to elasticsearch server with curl in our site. Is there any other way to check the connection?

[2017-11-07 14:27] lkraav commented on #747
Hey all. Am I still supposed to run into this error on ES 5.6.3 + EP 2.4?

[2017-11-07 16:03] ahmed-sigmalux commented on #966
Thank you for the prompt fix. Also, my apologies for posting in the wrong repository.

[2017-11-07 16:23] ahmed-sigmalux commented on #968
The first time I saw that error, I thought the problem was trying to sync too many products at once. But I get the exact same error even when trying to sync a single product without any variations. The same goes for Shipwire - the plugin fails with just one product bring synced.

I spoke to Printful support and they said their server logs show that WooCommerce is accepting the REST POST but then n

[2017-11-07 16:41] fidjius commented on #747
Hello,

Sorry, I don't use ElasticPress anymore.

Bien cordialement / Best regards / freundliche Grüße / Mat frëndlechen
Gréiss

Hervé Lancelin
7 rue Michel Rodange
L-2430 Luxembourg
T (+352) 28 777 771

2017-11-07 15:27 GMT+01:00 Leho Kraav <notifications@github.com>:

[2017-11-07 17:11] tlovett1 commented on #964
Definitely sounds like Elasticsearch latency issues.

[2017-11-08 09:57] eugene-manuilov commented on #969
@yshanthipriya, it's hard to say why without seeing what you are doing. The fact that it stopped working after you switched server, makes me think that it is something related to your server configuration. Unfortunately, your situation is out-of-scope for this plugin and we can't help with that.

Am going to close this thread for now. But if you find an issue relevant to the plugin, feel free to r

[2017-11-08 09:57] #969 closed

[2017-11-08 10:00] eugene-manuilov commented on #968
I need to take a deeper look at it. I'll get back to you when i have something.

[2017-11-08 18:30] tirriainen opened #971 "Support for 'relation' in tax_query inner arrays"
Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Feature request

Is there a way to use 'relation' in tax_query (and meta_query) inner arrays? What I'm trying to achieve is something like this:

[code]

[2017-11-13 10:20] eugene-manuilov commented on #971
Hi @tirriainen! Thanks for submitting this. We will work on it.

[2017-11-13 10:26] eugene-manuilov commented on #968
Hi @ahmed-sigmalux!

have you checked logs on your site? If not, could you please try to replicate your issue and check logs? Perhaps there might be some answers to this issue...

[2017-11-13 18:57] ChangbaeSong opened #972 "a way to exclude posts from indexing to ES."
Have you searched for similar issues before submitting this one?
yes
Is this a bug, question or feature request?
question
Describe the issue you encountered:
what is the best way to exclude posts by a custom field, boolean when indexing(initial, created, updated) to ES?
Current WordPress version:
Version 4.8.3
Current ElasticPress version:
Version 2.1.1

[2017-11-14 10:27] eugene-manuilov commented on #972
Hi @ChangbaeSong,

please, see #253 thread for more insights.

[2017-11-14 10:27] #972 closed

[2017-11-14 15:35] maelsaiedy commented on #955
@terrence-gonsalves is it possible to share your configuration, I'm getting an error when using the service as well:
error
:
{,…}
col
:
9
line
:
1
reason
:
"unexpected token [START_ARRAY] after [sort]"
root_cause
:
[{type: "parsing_exception", reason: "unexpected token [START_ARRAY] after [sort]", line: 1, col: 9}]

[2017-11-16 10:18] kallehauge commented on #911
Hello @ivankristianto / @lukaspawlik ! What is the status of this?

[2017-11-16 11:52] andrewbanchich opened #973 "Can Elasticpress be used for $wpdb queries?"
Have you searched for similar issues before submitting this one?

Yes.

Is this a bug, question or feature request?

Question

Describe the issue you encountered:

I would like to be able to use Elasticpress with $wpdb SQL queries instead of just WP_Query, but I'm not sure if there is a way to do that already. I can't find much in depth documentation.

Current WordPress version:

4.8

Current Elas

[2017-11-16 12:05] eugene-manuilov commented on #973
Hi @andrewbanchich,

there is no way to use it with $wpdb. Why do you need it?

[2017-11-16 12:23] andrewbanchich commented on #973
@eugene-manuilov There are some core WordPress functions which take a very long time to load from MySQL which I would like to reroute to Elasticsearch. Looking at their code, I see they use a normal SQL query using $wpdb.

[2017-11-16 12:25] eugene-manuilov commented on #973
Can you cache results for those functions?

[2017-11-16 12:29] andrewbanchich commented on #973
@eugene-manuilov I'm not sure, but even if we can, I would ideally like to use Elasticsearch instead of querying MySQL so that the data is always up to date and to make use of other Elasticsearch stuff.

[2017-11-16 12:31] andrewbanchich commented on #973
I'm thinking if there is no way to hook into and override core WordPress functions that it might be useful to have an ElasticPress library of functions we can use that duplicate the core WordPress functions but use Elasticsearch instead. For example, instead of get_posts() we could call ep_get_posts().

@tlovett1 Any thoughts on this?

[2017-11-16 12:35] eugene-manuilov commented on #973
get_posts() function uses WP_Query internally, so it can integrate with ES, just add `"ep_integrate" => 1` to the arguments list and EP will redirect a request to the ES.

[2017-11-16 12:36] andrewbanchich commented on #973
Yep, I just reference that as an example. I mean for other functions which use $wpdb.

[2017-11-16 12:38] eugene-manuilov commented on #973
I don't believe we will have time for it. If you want, submit a pull request and we can check that. For now, I am going to close this ticket because there is nothing else what we can do here.

[2017-11-16 12:38] #973 closed

[2017-11-16 21:46] andrewbanchich opened #974 "Upgrading Elasticsearch to 6.0 causes "Not acceptable" error in WP-CLI"
Have you searched for similar issues before submitting this one?

Yes.

Is this a bug, question or feature request?

Bug

Describe the issue you encountered:

I upgraded Elastisearch from 5.6 to 6.0 and ElasticPress via WP-CLI throws a "Not acceptable" error when I try to index.

Current WordPress version:

4.9

Current ElasticPress version:

2.4

Current Elasticsearch version:

6.0

[2017-11-16 21:50] AustinTBiggs commented on #964
Is this correct? If so wonderful news!

[2017-11-16 23:07] edwardr commented on #964
`Is this correct? If so wonderful news!`

Absolutely. The performance difference was pretty remarkable -- roughly an 80% reduction in my particular test case.

[2017-11-16 23:07] #964 closed

[2017-11-17 07:02] mustafauysal commented on #974
Hi @andrewbanchich,

Because ElasticPress supports max 5.6 right now. See: https://github.com/10up/ElasticPress/blob/2.4/elasticpress.php#L36

[2017-11-17 12:16] andrewbanchich commented on #974
Do you know how long it usually takes to support an upgrade like this?

[2017-11-18 16:23] #974 closed

[2017-11-20 01:39] andrewbanchich opened #975 "broken connections during indexing"
Have you searched for similar issues before submitting this one?

Yes

Is this a bug, question or feature request?

Feature request / question / bug

Describe the issue you encountered:

I'm not sure if there is some config issue causing this, but I've found using ElasticPress via WP-CLI that when indexing a relatively large database it will often randomly stop, and I'll have to restart using the

[2017-11-20 07:51] mustafauysal opened #976 "post type check for ep_sync_post"
Have you searched for similar issues before submitting this one?
Yes.
Is this a bug, question or feature request?
Question.
Describe the issue you encountered:

Currently, ElasticPress allows to index non-indexable post_types through `ep_sync_post`. Internally, It respects the post types but, it might be safer to check inside `ep_sync_post`. What do you think about this?

[code]

[2017-11-20 10:05] eugene-manuilov commented on #976
Hi @mustafauysal,

yes, it sounds useful, but by not having it, we have an ability to index "edge case" posts. Plus, if we add it there we might get compatibility issues if somebody already uses it. So, we can't simply add it there...

[2017-11-20 10:12] eugene-manuilov commented on #975
Hi @andrewbanchich,

seems like your Elasticsearch server works too slowly... Also, as of now Elasticsearch 6.0 is not supported officially. Can you downgrade it to 5.6 and check it?

[2017-11-20 12:14] andrewbanchich commented on #975
@eugene-manuilov Yep, I did that and it had the same issue. I did finally realize, though, that if I lower the number of posts per page while indexing that it works fine. By default it loses the connection very often, but if I set it to 75 posts per page it will have no problem.

[2017-11-20 12:40] andrewbanchich commented on #975
@eugene-manuilov I actually just checked it again after letting it run for a while at 75 posts per page, and tried removing the `posts-per-page` option altogether and it is working just fine now at 350 per page. I assume that the issue was some kind of very large sized posts near the beginning of indexing or something?

[2017-11-20 13:40] mustafauysal commented on #976
Hi @eugene-manuilov,

Thanks for the explanation, you might be right for the "edge case" situations. It seems changing EP core for this purpose can cause more problem than it solves.

I think we can handle this case with using `ep_post_sync_kill` without changing current behaviour. Something like;

[code]

[2017-11-20 13:54] tirriainen opened #977 "Ordering by title when titles have special characters"
Have you searched for similar issues before submitting this one?
Yes
Is this a bug, question or feature request?
Question

Is there a way to make post titles with scandinavian characters to be sorted correctly in the queries? At the moment Ä is mixed with A in post archive when orderby is set to 'title'.

The problem is mentioned here, but at the moment there isn't a filter to affect the mappings

[2017-11-20 14:12] mustafauysal commented on #977
Hi @tirriainen,

You can use `ep_config_mapping` for the custom mapping. Also `ep_analyzer_language` available for the changing analyzer language.

[2017-11-20 15:27] eugene-manuilov commented on #975
It is hard to say why it happens on your end... I tend to consider it as your Elasticsearch latency issue and close this issue for now. If you find something else, feel free to reopen it.

[2017-11-20 15:27] #975 closed

[2017-11-20 15:55] eugene-manuilov commented on #976
I would escape overcomplicating that logic. It is just a matter of synchronization configuration setup, there is no need to go deeply into checking everything. I am going to close this issue for now, but if you have more to say, feel free to reopen it.

[2017-11-20 15:55] #976 closed

[2017-11-22 00:26] andrewbanchich opened #978 "enabling autosuggest via wp-cli"
Have you searched for similar issues before submitting this one?

yes

Is this a bug, question or feature request?

question/bug

Describe the issue you encountered:

ElasticPress finished indexing, but I saw autosuggest was not activated, so I ran `wp elasticpress activate-feature autosuggest` and it said it activated the feature. I then ran `wp elasticpress list-features` and it simply shows `Ac

[2017-11-27 15:01] breadadams commented on #394
As a bit of a workaround on _your_ end @paulhuisman you could do something like the following:

[code]

You could also modify it into a simple reusable function if you've got multiple field names to add to the array

[2017-11-27 15:07] paulhuisman commented on #394
Thanks for the tip, this is how i fixed it back in the day as well ;)

[2017-11-27 16:21] eugene-manuilov commented on #978
Hi @andrewbanchich,

unfortunately, i can't replicate this issue on my end... Do you see anything suspicious in your `debug.log` file?

It has to re-index all posts which previously have been already indexed. What usually not the entire database.

Autosuggest requires additional changes in mapping configuration to work properly. That leads to the need to re-index posts. So, unfortunately, reindexi

[2017-11-27 17:51] shadyvb commented on #238
Hey folks! I stumbled upon this issue while searching for the same feature, got an extension started at https://github.com/humanmade/elasticpress-comments .

[2017-11-29 20:20] andrewbanchich commented on #978
@eugene-manuilov where do I find the `debug.log` file?

[2017-11-29 20:31] andrewbanchich commented on #978
here is what i get with the `--debug` flag for wp-cli
[code]

[2017-11-30 01:50] omar-otieku opened #979 "Bulk Index Issue with Nginx Proxy to AWS ElasiticSearch: Request Entity Too Large"
I am using plugin Version 2.3.2, with ElasticSearch version 5.2.2

I am working on a Wordpress website hosted on Pantheon. I am using and AWS ElasticSearch instance behind a VPC to host our search index and accessing it through an Nginx proxy on an ec2 instance with basic authentication.

I am able to authenticate and connect to the proxy just fine, however I can not index the site through WP-CLI

[2017-11-30 10:59] eugene-manuilov commented on #978
@andrewbanchich, you need to enable debugging in your WordPress. See [this article](https://codex.wordpress.org/Debugging_in_WordPress) for more information. You need to make sure you have following in your `wp-config.php`:

[code]

After enabling debugging, WordPress will log all errors in `wp-content/debug.log` file. So you will need to run that cli commands and see what errors you have in the d

[2017-11-30 16:56] omar-otieku commented on #979
Update!!
I was able to resolve this issue on the proxy end by tweaking the Nginx config. I'm still curios to know why the request upload_content_length is so large. We are not indexing the standard fields on pages, some custom post_types, and some custom taxonomies. No additional meta_fields.

[2017-11-30 16:56] #979 closed

[2017-11-30 20:08] andrewbanchich commented on #978
Okay, I enabled debugging and tailed the logs as I tried running wp-cli commands to enable autosuggest. there was one error that showed up, so I fixed that and tried again and it still doesn't work even though I am not seeing any new errors in the `debug.log` file. Out of curiosity, I tried using wp-cli to activate and deactivate the search feature and I'm getting the same results. I also tried en

[2017-12-01 13:33] eugene-manuilov commented on #978
What plugins do you use? I can't replicate it on my setup... Can you try to do the same on a new setup without other plugins?

[2017-12-01 15:35] andrewbanchich commented on #978
Looks like I'm getting the same issue after disabling all other plugins, except it is outputting a lot of errors now due to theme integrations we had with some of the plugins. I don't see any errors related to ElasticPress though, other than the usual `Error: Feature is not active` and `Error: This feature is already active`.

Is there an ETA on when you'll support Elastisearch 6.0 so I can confir

[2017-12-01 18:50] andrewbanchich commented on #978
Interesting note: I updated our database which caused ElasticPress to be deactivated, so I activated it and tried `wp elasticpress activate-feature autosuggest` and it output:

[code]

But then if I run the following immediately after it I get:

[code]

and it goes back to the previous issue. Does it maybe have this issue until I run `wp elasticpress index`, and then it will say it is activated?

[2017-12-04 15:43] eugene-manuilov commented on #955
I assume everything goes well now, so closing this thread. If something is still not resolved, feel free to reopen this issue.

[2017-12-04 15:43] #955 closed

[2017-12-04 15:47] eugene-manuilov commented on #978
Hi @andrewbanchich,

hm... something weird happens on your end. It's hard to say what exactly... Can you try to create a new site in your environment and activate only ElasticPress to check if it works properly?

[2017-12-04 17:01] andrewbanchich commented on #978
Okay, I'll try that out and reopen this if it still doesn't work. Thanks

[2017-12-04 17:01] #978 closed

[2017-12-05 12:43] kallehauge commented on #911
Ping @ivankristianto @lukaspawlik :)

[2017-12-05 12:43] #914 closed

[2017-12-05 13:03] lukaspawlik commented on #911
@eugene-manuilov Could you please take over this one?

Thanks

[2017-12-05 15:28] dustinrue opened #980 "System requirements should include php-curl"
Recently I determined that php-curl should be installed on any system running ElasticPress to avoid an issue with the Requests library that wp-cli uses. You can read the details here - https://github.com/rmccue/Requests/issues/301.

In summary, Ubuntu 16.04 doesn't include php-curl unless you explicitly install it. Without the curl library installed the Requests library used by wp-cli falls back t

[2017-12-06 20:32] scs-ben opened #981 "SQL_CALC_FOUND_ROWS in query returns 0 results"
I did some indepth looking at a filter plugin and found that the issue is that this query is returning 0 results:

[code]

If I turned off Elasticsearch, the filter worked great. I went in to the `class-ep-wp-query-integration.php` file and modified the `filter_posts_requests` to send the request through MySQL and the plugin also works.

[code]

Is there a better way than manually modifying this f

[2017-12-08 11:33] eugene-manuilov commented on #911
Hi @kallehauge,

I tend to consider it as a Yoast SEO issue because `is_multiple_terms_query` function checks arguments which may not represent original intent. If you look at that function description, you will see that it says `Check if term archive query is for multiple terms (/term-1,term2/ or /term-1+term-2/)`. That means that it wants to exclude custom archive pages "crafted" by visitors. On

[2017-12-08 11:50] eugene-manuilov commented on #981
Hey @scs-ben,

where did you get that query? ElasticPress uses results returned from Elasticsearch to override WP_Query params related to found posts and total pages.

[2017-12-10 18:20] andrewbanchich commented on #974
@mustafauysal Just letting anyone else experiencing this know: Elasticsearch 6.0 works fine for me with ElasticPress except for this issue, which was caused by Elasticsearch 6.0 doing strict type checking using the headers of the http requests. You have to explicitly set the Content-Type as JSON or else Elasticsearch will throw this error.

I confirmed this by installing Nginx as configuring it to

[2017-12-14 22:56] penguinpower80 opened #983 "Limited Host Memory"
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Question, but also maybe a feature request?

Describe the issue you encountered:
We have about 13,000 posts to sync, of which most (~10,000) are PDF files.  I can get the sync to work fine if I limit the mime types, but once I try a full, the host keeps running out of memory.   I also

[2017-12-15 14:21] eugene-manuilov commented on #983
Hi @penguinpower80,

You can make it on your own by using something like this:

[code]

Let me know if it helps.

[2017-12-15 14:28] penguinpower80 commented on #983
Thanks!  That's the path I started down through digging into the elasticpress code, but was wondering if it would work since ep_after_index__post doesn't (??) appear to be triggered during a bulk sync?

[2017-12-15 15:54] penguinpower80 commented on #983
So this is what I'm using for now - a bit of a mix, and a total hack I'm sure (be kind with your comments) but this is one of those "I need to get this done NOW" things, and bear in mind this is in a class :

    add_action('ep_add_query_log', array($this, 'track_ep_good_sync'));
    add_filter('ep_post_sync_kill', array($this,'check_ep_need_sync'), 10, 3);

    public function track_ep_good_sync(

[2017-12-19 15:48] eugene-manuilov commented on #911
HI @kallehauge! I am going to close this issue for now. Feel free to re-open it, if you have anything else.

[2017-12-19 15:48] #911 closed

[2017-12-19 20:04] penguinpower80 commented on #983
I'm still trying to work something out to get this to work.  The strategy above started to work until I needed to filter out ~5,000 post id's and then I started running out of memory.  I started to create a manual sync process that loads only a few posts at a time per page load - I don't care if it takes a long time, but just need it to work.

I've got it adding posts to elasticsearch by this doe

[2017-12-19 22:07] pierrebuet opened #985 "Related widget doesn't show"
After different commits on the setup function of the class EP_Features, the setup is now on the init hook (instead of plugins_loaded before). Since widgets_init is triggered on the init hook with a priority of 1, the widget doesn't show.

[2017-12-20 14:34] penguinpower80 commented on #983
Ok - chalk one thing up to me being an idiot and trying to shortcut the system - I was running things outside of the normal WP structure - I realized it meant that it was running before the filters were registered which changed the index name.

[2017-12-21 15:37] penguinpower80 opened #986 "Possible bug with post type and "any""
In the documentation on the front page for this project, it states:

**post_type (string/array)**
Filter posts by post type. any will search all public post types. WP_Query defaults to either post or any if no post_type is provided depending on the context of the query. This is confusing. **ElasticPress will ALWAYS default to any if no post_type is provided.** If you want to search for post posts,

[2017-12-21 21:52] rickertl commented on #902
@dbourdin Did you ever find a solution for weighting these custom fields AND/OR did you find a way to include custom fields without the Valu FacetWP plugin? Thanks.

[2017-12-22 17:25] Antoinebr opened #987 "FIXED : Sync unindex medias"
### Have you searched for similar issues before submitting this one?

Yes

### Is this a bug, question or feature request?

bug / question

### Describe the issue you encountered:

When I upload an image this image is indexed but if I launch a sync the image is no indexed anymore.

### Current WordPress version:

4.9.1

### Current ElasticPress version:

2.4

### Current Elasticsearch version:
5.6

[2017-12-22 21:13] myselfhimself opened #989 "Clicking autosuggest list items does not redirect to the matching page on Firefox 57"
Have you searched for similar issues before submitting this one?
: )

Is this a bug, question or feature request?
Bug

Describe the issue you encountered:
On Firefox 57, after enabling and plugging the

Current WordPress version:
4.9

Current ElasticPress version:
2.3.2

Current Elasticsearch version:
5.2

Where do you host your Elasticsearch server:
Docker image

Other plugins installed (WooComme

[2017-12-22 21:14] myselfhimself commented on #989
Here is a matching build pull request fixing this: https://github.com/10up/ElasticPress/pull/988

[2017-12-23 10:16] Antoinebr commented on #987
Fixed !

This happened because the plugin is looking for ```publish``` as post status and medias are always ```inherit```

So I fixed the issue with

[code]

[2018-01-03 19:40] joecue opened #990 "Items are indexed, but widget only searches on current site not across the multisite network."
Have you searched for similar issues before submitting this one? **Yes**

Is this a bug, question or feature request? **bug**

Describe the issue you encountered:  **I have a 68 site multisite network and I was able to get all of the sites indexed in our AWS Elasticsearch Service.  When I try to search I'm getting no results.  Even though I should be finding something.  The Elasticpress debug bar

[2018-01-03 20:01] #966 closed

[2018-01-04 10:25] sumudumathew commented on #749
[ep-troubleshoot (2).zip](https://github.com/10up/ElasticPress/files/1603021/ep-troubleshoot.2.zip)

Hello, I have a similar problem.

I have a WP multisite environment with Woocommerce and has 3 sites. The dev environment (URL 1) had been running fine for months. Yesterday however I deactivated and archived a site and the ElasticPress plugin started returning, "An error occured while syncing". Ma

[2018-01-04 13:06] eugene-manuilov commented on #983
Hey @penguinpower80,

do you still need a help or you have managed it on your end?

[2018-01-04 13:49] penguinpower80 commented on #983
Thanks for checking up - no - I don't think the problem is *really* solved, but I was able to work around it by the solution above and also an array of excluded posts that (I think) were just too large to  be indexed (~300-400mb PDF, all text based).  Once it was synced, then things worked ok.

[2018-01-04 13:49] #983 closed

[2018-01-04 14:15] eugene-manuilov commented on #985
Hey @pierrebuet!

Thanks for submitting it! We have created a pull request for it and will deploy it in the next release.

[2018-01-04 14:54] eugene-manuilov commented on #986
Thanks, @penguinpower80! I have created a pull request which adds all indexable post types if `any` is used.

[2018-01-04 15:27] eugene-manuilov commented on #987
Thanks, @Antoinebr! I have created a pull request for it.

[2018-01-04 15:49] eugene-manuilov commented on #989
Thanks, @myselfhimself! I have created another pull request for it that contains the fix in the minified file as well. Going to cancel your Pull Request, but thanks anyway!

[2018-01-05 04:01] #968 closed

[2018-01-05 04:02] #977 closed

[2018-01-05 04:03] tlovett1 commented on #980
Aren't these the system requirements for WP CLI? If so, I think it would make more sense for WP CLI be the one to dictate that requirement. Thoughts?

[2018-01-05 04:04] tlovett1 commented on #981
Any issue with a MySQL query shouldn't be related to ElasticPress. If I'm mistaken, please reopen.

[2018-01-05 05:06] tlovett1 commented on #986
ElasticPress should mimic WP_Query functionality here. Currently, WP_Query works like so:
* If no post type
    * If search or tax query, default to `any`
    * Else default to `post`

`any` should result in all post types being searched EXCEPT revisions and types where `exclude_from_search` is set to true.

From what I remember we are doing this except the tax query part. If functionality isn't b

[2018-01-05 05:18] tlovett1 commented on #987
Shouldn't this be handled here @eugene-manuilov ? https://github.com/10up/ElasticPress/blob/develop/features/documents/documents.php#L170

[2018-01-05 05:25] #882 closed

[2018-01-05 05:25] #902 closed

[2018-01-05 05:36] tlovett1 commented on #990
Can you post your WP_Query arguments?

[2018-01-05 12:41] eugene-manuilov commented on #987
@tlovett1, the **Documents** feature is intended to search things in textual documents, isn't it? Unfortunately, it means that it skips regular attachments which may contain useful and searchable information.

My fix makes sure that we include **inherit** post status if we have **attachment** post type in the indexable types list. It allows to properly index attachments even if **Documents** featu

[2018-01-05 13:56] joecue commented on #990
Taylor-

Here is the WP Query arguments from the elasticpress debug bar extension.  Please let me know if you need something else.

array(68) {
  ["s"]=>
  string(4) "test"
  ["error"]=>
  string(0) ""
  ["m"]=>
  string(0) ""
  ["p"]=>
  int(0)
  ["post_parent"]=>
  string(0) ""
  ["subpost"]=>
  string(0) ""
  ["subpost_id"]=>
  string(0) ""
  ["attachment"]=>
  string(0) ""
  ["attachment_id"]=

[2018-01-05 14:10] scs-ben commented on #981
The issue is that when it goes into ElasticPress, it returns 0 results but when I override ElasticPress and have it go through MySQL, it returns the correct # of results.
Also, I don't know how to re-open issues

[2018-01-05 22:32] tlovett1 commented on #879
Hey @franharrington, I'm closing this thread since you are working directly with us to solve these issues.

Hope all is well!

[2018-01-05 22:32] #879 closed

[2018-01-05 22:37] franharrington commented on #879
Perfect. Thanks!

On Fri, Jan 5, 2018 at 5:32 PM, Taylor Lovett <notifications@github.com>
wrote:

--
- Fran Harrington
@franharrington <http://www.twitter.com/franharrington>

[2018-01-09 06:12] azcoppen opened #995 "Elasticsearch 6.1 - "Content-Type header [application/x-www-form-urlencoded] is not supported""
Have you searched for similar issues before submitting this one?
Yes

Is this a bug, question or feature request?
Feature request

Describe the issue you encountered:
Elasticsearch 6.1 requires application/json as the content type in requests: https://www.elastic.co/blog/strict-content-type-checking-for-elasticsearch-rest-requests

Type: put_mapping
Host: http://elastic.domain.com
Time Taken: 15 m

[2018-01-10 03:25] diwakhat1603 opened #996 "I'm trying to build auto-suggestive search results which make use of wildcard in the search term within the post_title and post_content; however it seems my code only when I either do for post_title or post_content"
I'm trying to build auto-suggestive search results which make use of wildcard in the search term within the post_title and post_content; however it seems my code only works when I either do it for a post_title or post_content, but not for both together

[code]

[2018-01-10 13:20] eugene-manuilov commented on #990
Looks like it happens because post_type is "any". We discuss it in the #986 ticket.

[2018-01-10 13:34] joecue commented on #990
So do I need to modify plugin code or do I need to add a query to my search.php page in my theme?  I guess I'm confused as to how to resolve this so I can use this with Elastic Search for my WordPress site.

Do I need to be using the Open Source version running on a server vs the AWS Search Service?

[2018-01-10 14:16] eugene-manuilov commented on #995
Hey @azcoppen,

thanks for posting it! I have created a pull request to update content type.

[2018-01-10 14:20] eugene-manuilov commented on #990
@joecue, can you try to pass all available post types instead of `any`? Try something like this:

[code]

Please, let me know if it helps to resolve your issue.

[2018-01-10 14:31] eugene-manuilov commented on #996
Hey @diwakhat1603,

I am not sure 100% that it will work, but can you try to use `query_string` with multiple `fields` instead? Something like this:

[code]

Please, let me know if it helps.

[2018-01-10 15:47] joecue commented on #990
That would go in the search.php page?

[2018-01-10 15:52] eugene-manuilov commented on #990
Actually, can you download [this version](https://github.com/10up/ElasticPress/archive/fix/any-post-type.zip) of the plugin and try it on your end? That version includes that fix and probably should help you. Let me know.

[2018-01-11 11:36] RahulShaw221994 commented on #996
Thanks, @eugene-manuilov for the help!
Now we're trying to do the same for taxonomies  e.g. post_tag, category etc.  as well

This is our code:
$ep_formatted_args['query'] = array(
"query_string" => array(
"query" => $args['s'],
"fields" => array("post_title", "post_content"),
'taxonomies' => array( 'post_tag' ),
),
);

The taxonomy is present in the indexes but it's not fetching the results, we'l

[2018-01-11 12:15] diwakhat1603 commented on #996
Thanks, @eugene-manuilov  for the help!
Now I'm trying to pull results for custom post_types, but isn't working out right (though we successfully tweaked the plugin's code to index custom post types and they are getting index now)

This is our code:
$es_query = new WP_Query( array(
            'posts_per_page' => -1,
	    'ep_integrate' => true,
            'autocomplete' => true,
            'sit

[2018-01-11 14:16] joecue commented on #990
I tried the version you linked to above and it did not change.  It still seems like it's searching only the index of the site the search is started on.

I deleted the index and ran the WP CLI call to rebuild the index network-wide.  Should I try adding the post type parameter to the call?

Here are the query arguments from this latest test.

array(68) {
  ["s"]=>
  string(7) "classes"
  ["error"]=

[2018-01-11 14:24] joecue commented on #990
I just attempted a reindex using the WP CLI command adding two post types to the post-type parameter and I'm still not seeing results.  When I run WP CLI with the stats parameter I'm seeing individual indexes for each subsite from the multisite.

[2018-01-11 16:14] eugene-manuilov commented on #986
@tlovett1, ok I think I have found where the issue comes from. EP_WP_Query_Integration class unsets `post_type` variable if it equals to `any` before passing query arguments to `ep_format_args` function. That function sees that `post_type` argument is empty and there is no `s` argument, and sets `post_type` to the default value which is just `post`. That's why it doesn't work.

So, I think that we

[2018-01-11 16:17] eugene-manuilov commented on #990
@joecue, there was another bug in that branch related to `any` post type. I have updated my pull request. Could you please re-download plugin from my branch (link is posted above) and try again on your end?