[2019-08-26 10:39] ijakparov opened #1461 "wp_update_post old data after run"
Version 3.x
**Describe the bug**

after usage wp_update_post post data update throught that func is not 'fresh'
**Steps to Reproduce**
[code]

[2019-08-27 13:46] koizuminana opened #1464 "Extra params & new filter ep_<action>_<type>_request_path"
**Is your enhancement related to a problem? Please describe.**
1. Index API for ES > 7.0 is wrong.
2. Delete API for ES > 7.0 is wrong.

Both solutionable using filters but not always out of the box.

**Describe the solution you'd like**
1. Add `index` param to `ep_index_<type>_request_path` filter;
2. Add missing filter `ep_delete_<type>_request_path` in `Elasticsearch::delete_document()`;
3. Add

[2019-08-27 15:51] #1356 closed, assigned to nobody

[2019-08-27 23:12] tott opened #1466 "Under some conditions wrong mapping is applied and causing errors"
**Describe the bug**
On a fresh installation or some edge cases the usage of get_elasticsearch_info() likely prior to saving the proper credentials causes invalid data to be cached resulting in ElasticPress to fall back to an old default mapping.

**Steps to Reproduce**
1) Install ElasticPress > 3.0
2) Activate the plugin on a fresh index
3) Navigate to the settings screen and safe the credentials

[2019-08-27 23:35] tott commented on #1466
Under further investigation there are already measures in place to clear the settings but the necessary function determine_screen() does not have proper logic to return the correct value for the method to trigger.

[2019-08-28 05:55] ijakparov opened #1468 "aggrigation error"
**Describe the bug**
Aggregations not work

[code]

**Environment information**
 - Plugins and version: 3.1.3

**Additional context**

[2019-08-28 11:50] mustafauysal commented on #1460
hi @ijakparov,

something like:
[code]
should work through WP-CLI.

[code]
if you are writing something that interacts with EP.

[2019-08-28 12:47] #1460 closed

[2019-08-28 12:59] ijakparov opened #1470 "Blocking condition not works"
[code]

**Environment information**
 - Plugins and version: 3.1.3

[2019-08-28 14:03] tott opened #1471 "Validate mapping currently in index against expected version"
Sometimes the mapping fails or gets outdated. It would be good to detect outdated mappings and provide feedback in the admin interface.

[2019-08-28 14:13] tott commented on #1466
Addressed through #1467

[2019-08-28 15:58] dustinrue opened #1473 "Unable to (re)create network alias via cli"
**Describe the bug**
Unable to recreate network alias. May also fail to create the alias at all, unable to test.

**Steps to Reproduce**
[code]

**Expected behavior**
No error

**Environment information**
 - Plugins and version: 3.1.3

**Additional context**

[2019-08-28 16:15] shadyvb commented on #1356
@tlovett1 FYI the readme still references 6.3 as the maximum supported version.

[2019-08-28 21:31] oscarssanchez commented on #1426
Hi @altendorfme ,

Can you please test this PR https://github.com/10up/ElasticPress/pull/1474 and see if this solves your issue?

Thanks!

[2019-08-29 02:33] #1457 closed

[2019-08-29 02:38] tlovett1 commented on #1471
@tott can you explain to me what this is intended to solve? If someone upgrades Elasticsearch, show them a warning they need to reindex? Seems pretty edge case. It would be nice to have a unit test and include as part of a major release.

[2019-08-29 04:27] #158 closed

[2019-08-29 04:28] #201 closed

[2019-08-29 04:28] #226 closed

[2019-08-29 04:28] tlovett1 commented on #238
@rmccue yes, should be around in the next 6 months.

[2019-08-29 04:29] tlovett1 commented on #257
Closed as this is a duplicate.

[2019-08-29 04:29] #257 closed

[2019-08-29 04:29] #289 closed

[2019-08-29 04:30] #329 closed

[2019-08-29 04:30] #358 closed

[2019-08-29 04:31] #369 closed

[2019-08-29 04:32] tlovett1 commented on #658
See https://github.com/10up/ElasticPress/pull/1443

[2019-08-29 04:33] #713 closed

[2019-08-29 04:34] #728 closed

[2019-08-29 04:35] tlovett1 commented on #750
See https://github.com/10up/ElasticPress/pull/1443

[2019-08-29 04:36] #1246 closed

[2019-08-29 04:37] #754 closed

[2019-08-29 04:39] tlovett1 commented on #861
Debug bar has query log functionality for this.

[2019-08-29 04:39] #861 closed

[2019-08-29 04:40] #904 closed

[2019-08-29 04:41] #965 closed

[2019-08-29 04:41] #971 closed

[2019-08-29 04:41] #996 closed

[2019-08-29 04:42] #1002 closed

[2019-08-29 04:43] #1105 closed

[2019-08-29 04:43] #1112 closed

[2019-08-29 04:44] #1129 closed

[2019-08-29 04:44] #1143 closed

[2019-08-29 04:45] #1132 closed

[2019-08-29 04:45] #1165 closed

[2019-08-29 04:45] #1212 closed

[2019-08-29 04:46] #1236 closed

[2019-08-29 04:46] #1229 closed

[2019-08-29 04:46] #1251 closed

[2019-08-29 04:47] #1260 closed

[2019-08-29 08:21] fabianmarz commented on #1251
@tlovett1, why did your close this without any reaction on it? 🤷‍♂

[2019-08-29 12:17] tott commented on #1471
This is in relation to #1466.We have had a good amount of cases where things are failing due to invalid mapping, not only from this issue but also prior to this. This will help identify when the mapping is outdated and a reindex should occur

[2019-08-29 14:51] tlovett1 opened #1475 "Can't type & in autosuggest input"
Title says it all.

[2019-08-29 19:00] altendorfme commented on #1426
Hi @oscarssanchez ,

Worked!

[2019-08-29 20:28] jordan26 commented on #1076
I would also like to know if there is a tutorial for nginx.

[2019-08-30 08:12] jordan26 commented on #1184
Did you fix this @zhex900? Same issues here.

[2019-09-01 11:26] zhex900 commented on #1184
Sorry, I didn't find a solution. I gave up.

[2019-09-01 15:59] jgmediadesign opened #1478 "Wordpress multisite - EP doesn't reindex after post publish / edit"
In a wordpress multisite environment, when a post is published or edited elasticpress doesn't seem to trigger a reindex.

Additionally - only the edited post appears in subsequent searches.

**Steps to Reproduce**

- Setup wordpress multisite
- Publish or edit post
- Perform a query which should return multiple posts
- Only the edited post will be returned

**Expected behavior**

- All posts shoul

[2019-09-02 04:32] oscarssanchez commented on #1419
Hi @barryceelen,

If the `s` parameter is not removed, then the query would look like this: `https://example.com/?sfilter_category=my-cool-category` or `https://example.com/?s=filter_category=my-cool-category`

In the first case, the query would make no sense. On the second one, it will look for `filter_category=my-cool-category` literal string. I think the problem was that faceting was not workin

[2019-09-02 05:20] oscarssanchez commented on #1468
Hi @ijakparov ,

Can you confirm https://github.com/10up/ElasticPress/pull/1430 solves your issue?

[2019-09-02 07:44] jgmediadesign commented on #1478
I think this might actually be a caching issue, closing for now

[2019-09-02 07:44] #1478 closed

[2019-09-02 09:00] jgmedialtd opened #1479 "PHP method to reindex a site / all sites"
A way of invoking a complete site index via php. At the moment I'm aware of an ajax and an WP CLI mechanic to achieve this but would be great to be able to use PHP also.

[2019-09-02 09:37] barryceelen commented on #1419
Hi @oscarssanchez , thanks for your reply.

With an empty search query, the URL would not look like either one of your examples (you missed the `&`), but like this:

`https://example.com/?s&filter_category=my-cool-category`

WordPress uses the `s` query parameter to determine whether `is_search()` returns true, and also whether to load the `search.php` template.

This for example is a valid URL (k

[2019-09-03 12:19] traed opened #1481 "Custom Indexable documentation"
I would love some documentation and/or examples of how to create custom Indexables, specifically for WP terms. Using ES to query stuff like categories would be great.

[2019-09-03 14:03] oscarssanchez commented on #1470
Thanks @ijakparov we will take a look into this.

[2019-09-03 14:55] oscarssanchez commented on #1461
Hi @ijakparov ,

This will depend where you are using wp_update_post(). So for example if you are placing it before the `init` hook runs, then WordPress will not know which user is logged in. If you check this conditional:

https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/SyncManager.php#L137

There we see if a user can't edit the current post, elasticpress will re

[2019-09-03 19:03] #1256 closed

[2019-09-03 19:04] tlovett1 commented on #1030
I'm also wondering if this was fixed. @oscarssanchez ?

[2019-09-03 19:05] #1262 closed

[2019-09-03 19:05] #1268 closed

[2019-09-03 19:05] #1272 closed

[2019-09-03 19:07] #1297 closed

[2019-09-03 19:07] tlovett1 commented on #1299
@pemz is this still a problem?

[2019-09-03 19:09] tlovett1 commented on #1300
@joehoyle we actually did this in the past but switched to all ES for performance. We could support the `get_post` method via a filter if you want to open a PR.

[2019-09-03 19:09] #1304 closed

[2019-09-03 19:10] #1312 closed

[2019-09-03 19:11] #1323 closed

[2019-09-03 19:11] #1331 closed

[2019-09-03 19:11] #1340 closed

[2019-09-03 19:12] #1288 closed

[2019-09-03 19:47] #1405 closed

[2019-09-04 04:36] #1364 closed

[2019-09-04 04:36] #1350 closed

[2019-09-04 04:37] #1375 closed

[2019-09-04 04:40] #1423 closed

[2019-09-04 04:40] #1426 closed

[2019-09-04 04:40] #1424 closed

[2019-09-04 06:53] bensch777 opened #1482 "How to search after acf object relations ?"
Hey all,

i am struggling a bit with my search query and maybe someone of you can help me.

**Field-Setup**
I've two custom post types. One is called events and the other one cities. If i create a new event i can select one of my cities, because i used entry object configuration of the acf fields.

**Challenge**
If the user searches after a city e.g. Berlin i want also search for events, which hav

[2019-09-06 12:16] dominikkuen opened #1483 "Custom analyzer not working with post meta"
ElasticPress version: 3.1.4
ElasticSearch version: 5.4.3
Meta fields plugin: ACF - Advanced custom fields

I want to add synonyms only to a specific meta field via a custom filter.
The filter and analyzer are working (tested via SSH curl against ES)

If I use the "post_title" as mapping parameter it also works fine, but I cant add meta value to the mapping.

Anynody can help?

[code]

[2019-09-06 12:52] danielslyman opened #1484 "Is it running?"
Hey guys,

stupid question:

self-hosted Elasticsearch instance, connection successful.

However, the search results are identical to the regular WP search results. How do I know if this is working?

Greetings,
Daniel

[2019-09-07 09:59] dominikkuen commented on #1484
Install the debug bar plugin mentioned:
https://github.com/10up/ElasticPress#debugging

[2019-09-08 14:32] danielslyman commented on #1484
I did it's empty?

[2019-09-08 15:08] danielslyman commented on #1484
I reinstalled elasticsearch on my server. Connection successful, also tested with " curl -X GET "localhost:9200/"
The query log however remains empty

[2019-09-08 15:35] danielslyman commented on #1484
Got it sorted! Thanks

[2019-09-09 03:38] tlovett1 commented on #1470
Certainly seems like it does: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L94

[2019-09-09 06:48] artmediastudio opened #1485 "Compatibility with Elasticsearch 6.8"
In my server I have already Elasticseach 6.8 for Magento and I' d like to know if you are going to develop wordpress plugin compatible to further version of Elastichsearch 6.3.
Thanks and good job.

[2019-09-09 15:32] #1484 closed

[2019-09-10 15:35] tlovett1 commented on #1485
Likely 3.2 although ES 7.0 should already work.

[2019-09-10 15:35] #1485 closed

[2019-09-10 15:37] #1263 closed

[2019-09-11 11:02] tott opened #1486 "Autosuggest breaks when all search fields are disabled in Manage Search Fields & Weighting"
**Describe the bug**
When disabling all search fields for a post type in Manage Search Fields & Weighting an empty array as shown below gets injected into the autosuggest request causing the request to fail.

**Steps to Reproduce**
1. Install EP 3.1.4 / Core WP stock 2019 theme / default content
2. Activate / configure plugin and ensure autosuggest is enabled
3. navigate to Manage Search Fields &

[2019-09-12 06:09] tkorsback commented on #1482
I'm trying to do the same thing. A city post type have many of the company post type via ACF relationship. I'm thinking "aggs" but I need to read/try some more.

[2019-09-13 09:02] msh134 commented on #218
@GhostToast I have used the Synonym Analyzer code but unfortunately not getting the expected results. For an example, if people searches with "WHO" or "World Health Organization", the result should show posts about "WHO" and "World Health Organization".   Here is my code used in the filter you have shown.

`$mapping['settings']['analysis']['filter']['secret_client_synonym_filter'] = array(

[2019-09-13 10:24] tott commented on #218
@msh134 did you make sure that you also did a full reindex of the site either through the admin interface or in wp-cli with the --setup flag. If you did, can you share the code you used to alter the search behavior

[2019-09-13 18:06] oscarssanchez commented on #1483
Hi @dominikkuen ,

Can you drop the query body that is being sent to ES for both post_title and meta ? You can check that by installing the elasticpress debug bar in the wordpress.org plugin repository.

[2019-09-13 18:10] oscarssanchez commented on #1482
I don't understand fully the User experience for both scenarios, but wouldn't faceting work here ? You would need to create a taxonomy for that though.

Kind regards,

[2019-09-13 19:53] tkorsback commented on #1482
@oscarssanchez In my case I would like to include the content from a related post and not just the ID in order to prevent another query for each post in the search result. Like eager loading in Laravel.

[2019-09-16 03:04] msh134 commented on #218
@tott sorry for the delayed response. Yes, I have run the full reindex from the admin interface. Here is the code I used. It is similar to the provided solution just changed the synonym list.
[code]

[2019-09-16 10:30] Christophvh commented on #1315
Sadly the above fix is broken since  elasticpress 3.1

[2019-09-16 12:02] Christophvh commented on #1481
Same, since the introduction of indexable, search on custom post types is broken. So i need to create my own, but can't find any documentation

[2019-09-17 08:05] jgmediadesign opened #1490 "Ordering by random with seed triggers error"
Currently, when attempting to order randomly, but retain pagination using a random seed as shown in the example below, an error is returned. It is possible to support this sorting mechanic?

'orderby' => string 'RAND(8)'

ElasticPress returns the following error:

{
    "error": {
        "root_cause": [
            {
                "type": "query_shard_exception",
                "reason": "No m

[2019-09-18 20:26] fhfournier opened #1492 "[terms] query does not support [1] within lookup element"
Hi,

There is a big problem with the latest version of your plugin. Before that update eveything works fine!

![image](https://user-images.githubusercontent.com/3278753/65183171-e5312780-da30-11e9-9563-93219a043130.png)

[code]

[2019-09-18 20:31] tlovett1 commented on #1492
Which version were you on and which did you update to?

[2019-09-19 14:05] fhfournier commented on #1492
2.8.2 => 3.1.4

I have 3 website in elasticsearch server (3 index and with version 3.1.4, i have now 6 index)

I had to switch back to 2.8.2 because my result page is broke. All link inside search result display no exerpt and no link. The global $post variable doesnt include permalink or meta data.

Even if i disable "post search" i still have 2 index / site with data and i have resync multiple ti

[2019-09-19 15:28] novazembla commented on #1492
Hello,

not on upgrading but on a new site I'm also experiencing similar strangeness. I've configured a `EP_INDEX_NAME` in `wp-config.php` but on indexing the site (either via the admin tool and/or via WP CLI) the site creates domainname-post-1 as the index. It seems to be ignoring the configured index name constant.

Did something change on the 3.1 branch?

Thanks!

[2019-09-19 18:31] fhfournier commented on #1492
exactly and also with WP CLI
[code]

i got sitename-post-1

[2019-09-24 03:15] msh134 commented on #218
Could you please help me get out of this issue?

[2019-09-24 12:31] coenve opened #1493 "ep_retrieve_aggregations not working"
I'm using ElasticPress for more than a year with a version prior to 3.0. I now tried installing ElasticPress on a new website with the newest version of the plugin but I ran into the problem that the actoin ep_retrieve_aggregations is dead.

I tried different ElasticSearch installations, tried debugging. In the end I installed ElasticPress 2.82 and it worked like a charm. I have build my own Facet

[2019-09-24 12:56] mikelking commented on #1493
Out of curiosity what version of ElasticSearch are your servers running?

[2019-09-24 13:23] GhostToast commented on #218
@msh134 you also have to add the filter itself. to a list of filters to include. so for example in my code I have:
[code]

and then also:
[code]

it is not enough to add the filter if it isn't added to a list of filters to be used. this adds it to the default list, but you may want to add it to a different list (but then you'd need to, elsewhere, tell EP which filterset you want to use).

[2019-09-24 22:39] eflorea opened #1496 "Indexing with wp cli doesn't pause requests to EP."
**Describe the bug**
On a multi-site install running elasticpress index for a specific site does not pause requests to EP.

**Steps to Reproduce**

1. Network activate EP plugin
2. Run wp cli: elasticpress index --url=subsite
3. Requests are still being made to EP while the indexing is running.

CC: @christianc1

[2019-09-24 22:51] eflorea opened #1497 "Taxonomies not indexed on a subsite"
**Describe the bug**
On a multi-site install a sub-site that has custom taxonomies are not being indexed. The only way to index them is to run the wp cli command to index only that site.

**Steps to Reproduce**

1. Network activate EP plugin
2. Register a public taxonomy on a sub-site (with a plugin enabled only on that subsite or child theme etc)
3. Run an elasticpress index network wide (with th

[2019-09-24 23:00] eflorea opened #1498 "UI to run index only on a sub-site"
**Is your enhancement related to a problem? Please describe.**

If ElasticPress is network activated there is no way to run an index on a specific site without having access to wp cli.

**Describe the solution you'd like**

I think a dropdown on the sync button with options: All sites, Specific site... would be sufficient
![Screen Shot 2019-09-24 at 3 57 55 PM](https://user-images.githubuserconten

[2019-09-25 09:19] msh134 commented on #218
@GhostToast I had added the filter to the default list and ran full reindex from admin interface but did not get the expected results. Please see my code above and let me know if I need to look into anything.

[2019-09-25 12:56] GhostToast commented on #218
@msh134 I'm not sure - I'm still using an older version of ElasticPress and Elasticsearch, so it's possible the pathways have changed. You may need to read up on how synonym filters work for your version of Elasticsearch, and do some debugging later in EP to see what the mappings look like on their way out from within EP. I also wonder if your synonyms are too short to unfold. Can you try somethin

[2019-09-25 13:08] GhostToast commented on #218
Possibly helpful: https://www.elastic.co/guide/en/elasticsearch/reference/6.3/analysis-synonym-tokenfilter.html

[2019-09-25 21:13] oscarssanchez commented on #1498
Coming on for next releases: https://github.com/10up/ElasticPress/pull/1362 @eflorea  :)

[2019-09-25 21:57] psorensen commented on #1419
For anyone needing facet support with empty searches, you can utilize the existing `ep_facet_query_string` filter to replace the 's' query var after it's removed by the 'build_query_string' method mentioned earlier:
[code]

[2019-09-26 11:14] danielslyman opened #1500 "Partial / Fuzzy Search Results"
Hello all,

so relatively new to ES and EP. I installed it on a WooCommerce site and all is working really well so thanks a lot! However, I wish I could somehow make sure queries with spelling errors and partial terms could work. For example:

One page is called "Fachkataster" but searching "Kataster" does not result in any matches.

I looked around but wasn't able to find out how to achieve this.

[2019-09-26 12:23] tott opened #1501 "Fix breakpoint on index health point in 3.2"
**Is your enhancement related to a problem? Please describe.**
The Index Health dashboard should get better breakpoint treatment at around 1115 px width.
Currently when it switches to a two column to a one column layout there is a breakpoint in which the widgets do not scale to full width for one column as seen in the screenshot at https://i.imgur.com/qdZTtwF.png

**Describe the solution you'd lik

[2019-09-26 12:28] tott opened #1502 "Index health dashboard shows all indexes"
**Describe the bug**
When running a multisite or multiple indexes within the same ElasticSearch instance the new index health point will show all indexes and not just the relevant indexes.

**Steps to Reproduce**
- Install in a multisite from develop branch.
- Activate plugin with same credentials/endpoint on at least two sites
- Go to index-health on either site and you will see both indexes list

[2019-09-26 12:45] tott opened #1503 "Search Fields & weighting not enabling all relevant taxonomies"
When installing the plugin not all public taxonomies are considered for Search Fields & weighting by default.
This can be seen for example when installing Woocommerce and activating ElasticPress. In this case the Products post type and attributes are properly enabled but product categories, tags and shipping classes are not included although these are public taxonomies. Currently only post_tag and

[2019-09-26 12:55] tott opened #1504 "Add instructions for autosuggest"
When enabling autosuggest an endpoint url needs to be configured but there are no instructions given on how to determine these settings.

**Describe the solution you'd like**
It would be good to try to determine and suggest a reasonable default or provide documentation on how to determine this url.

**Designs**
https://i.imgur.com/06t6UlY.png

[2019-09-26 13:34] lucymtc opened #1505 "PHP Fatal Error ElasticPress 3.2 with WordPress version lower than 5"
**Describe the bug**

While testing new EP version 3.2 a PHP Fatal Error is thrown with WordPress 4.9.11

`Fatal error: Uncaught Error: Call to undefined function ElasticPress\Feature\RelatedPosts\register_block_type() in /var/www/html/wp-content/plugins/ElasticPress/includes/classes/Feature/RelatedPosts/RelatedPosts.php on line 216`

`register_block_type` is called but does not exist.

**Steps to

[2019-09-26 13:40] adamsilverstein commented on #1505
@lucymtc Thanks for the bug report! Hooking the callback on `enqueue_block_editor_assets` instead of `init` should fix this. I'll prepare a PR.

[2019-09-26 13:46] adamsilverstein commented on #1505
@lucymtc Can you please check if this PR resolves the issue you were seeing: https://github.com/10up/ElasticPress/pull/1506

[2019-09-26 15:08] #1505 closed

[2019-09-27 14:18] lucymtc opened #1507 "PHP Fatal Error ElasticPress 3.2 with WooCommerce feature"
**Describe the bug**

When enabling WooCommerce feature, shop page throws Fatal Error
`Fatal error: Uncaught Error: Call to a member function is_main_query() on null in /var/www/html/wp-content/plugins/ElasticPress/includes/classes/Feature/WooCommerce/WooCommerce.php on line 846`

**Steps to Reproduce**

1. Activate WooCommerce plugin
2. Enable ElasticPress WooCommerce feature
3. Go to the site's

[2019-09-28 19:51] oscarssanchez commented on #1482
Sorry @tkorsback  but i'm still lost. Another query to ES won't matter too much. As long as you are not doing way too many this should be totally ok. Maybe if you can clarify what do you mean you want to include the content from a related post would be great, as I'm thinking that can be done with a More like this query but i might be deviating from the original question ...

[2019-10-01 02:02] #1507 closed

[2019-10-01 03:01] tlovett1 opened #1508 "Incorrect WP-CLI processed post message"
Processed posts message incorrect during WP-CLI sync, shows:
[code]

[2019-10-01 19:56] entttom commented on #1440
Thats an awesome idea!

[2019-10-02 11:25] mmcachran opened #1510 "Add support for Elasticsearch SQL"
**Is your enhancement related to a problem? Please describe.**
Running complex SQL queries can be expensive in MySQL, but much faster in Elasticsearch.

**Describe the solution you'd like**
Add a helper function for running SQL through Elasticsearch.

**Additional context**
https://www.elastic.co/what-is/elasticsearch-sql

[2019-10-02 22:24] triskator opened #1511 "Error reporting, add nobulk index, fill in documentation for transition from v2 to v3"
Hi,
I accidentally found out that our site wasn't indexing because it was searching some unrelated posts. Seems that since v2 and something we had this issue, client didn't report it, so I hadn't reason to look until I've worked on new feature including search mechanism. Thing is that it tried to index but failed somewhere at 17000 of 37000 on something. So there was something indexed but not enou

[2019-10-03 20:35] kmcaloon opened #1513 "Control which "_source" fields from index to return"
So I'm assuming this might already exist but I did not find it in the docs. Is there a way to control which fields are returned from the index?  For instance, I'm looking to replicate Elasticsearch's REST API source filtering feature here: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-multi-get.html#mget-source-filtering

The goal is to bypass the typical fields returned by

[2019-10-05 02:31] kwatson opened #1514 "Pre-PR: Passing index name in autosuggest endpoint"
Hi,

I'm currently trying to automate the provisioning of wordpress + elasticsearch and i've hit a roadblock with the autosuggest endpoint setting.

In looking at the `Autosuggest.php` file, i see that you're [passing the index name](https://github.com/10up/ElasticPress/blob/237f4cbd5caa8f2f8fee2e3efde70fda3d10411e/includes/classes/Feature/Autosuggest/Autosuggest.php#L218) to your commercial offer

[2019-10-07 06:40] michaelpark716 commented on #1492
I'm experiencing the same issue.  I've tried both on Elasticpress version 3.1.3 and 3.1.4,
I get the error below in the debug bar. All my posts are indexed.

Query Response Code: HTTP 400
{
    "error": {
        "root_cause": [
            {
                "type": "parsing_exception",
                "reason": "[terms] query does not support [post] within lookup element",
                "line":

[2019-10-07 08:03] nirgal commented on #1493
I add a similar issue, due to the fact I was running a WP_Search from within search.php that is supposed to only present an existing search, not to run - kind of recursively - a new search.

Fixed by tuning the existing query before it runs, from an ``add_action( 'pre_get_posts', ``...

Also the results are only available in ``$GLOBALS['ep_facet_aggs']``, which was hard to find.

[2019-10-09 14:53] khelil opened #1515 "Weighting: Illegal offset type in isset or empty"
**Describe the bug**
After updating to version 3.1.4 (same with 3.2) i'm getting Warning messages on Search page :

Warning: Illegal offset type in isset or empty in ../elasticpress/includes/classes/Feature/Search/Weighting.php on line 370

Warning: Illegal offset type in .../elasticpress/includes/classes/Feature/Search/Weighting.php on line 389

And i'm not getting search results from Elastic, bu

[2019-10-10 10:49] lapak10 opened #1516 "Posts from trash are showing in search results page"
When doing any search, posts from trash are getting displayed on the search results page.
The expected behaviour is posts from trash must be **excluded** from search. Please help

[2019-10-10 10:53] lapak10 opened #1517 "Search results only displaying posts with exact title."
Let suppose there is a post whose title is *ElasticPress is awesome*

When a user make search with exact search string as ElasticPress is awesome only then the above pots is given in search results page.

But searching for *ElasticPress is a awesome* gives no result (which is should display similar posts with similar title)

How can achieve the expected behaviour ?

[2019-10-10 15:44] digiswede opened #1518 "Version 3.2 breaks post edit screen in WP"
**Describe the bug**
Updated to Elasticpress version 3.2.
Now, the post edit screen in admin shows an error message stating that something went wrong with the post.

**Steps to Reproduce**
1. Update from Elasticpress 3.1.4 to 3.2
2. Go to WP Admin > Posts > Any post
3. WP styled error message shows

**Expected behavior**
Edit post screen should load just fine.

**Environment information**
 - WP ve

[2019-10-10 23:20] jayhill90 opened #1519 "Filtering REST API queries while requesting with a slug parameter"
**Describe the bug**
When filtering REST API post type queries with `$args['ep_integrate'] = true;` for a post type, you can no longer make a request with `slug=post-name` as a query parameter. You get back the 10 most recent posts of that post type.

Unfortunately, since this is only observed while querying the REST API, I haven't found a way to be able to inspect the queries being generated in E

[2019-10-11 06:21] Slamik opened #1520 "Return instance of WP_Query instead of post array in find_related()"
I propose to return WP_Query instance in find_related function instead of post array.

It's more native to Wordpress code style and developer can use standart loop in template or pass WP_Query instance to custom templater class.

[2019-10-11 07:13] co3n opened #1521 "Facet search breaks after update to version 3.2"
Uncaught Error: Too few arguments to function ElasticPress\Feature\Facets\Facets::set_agg_filters(), 2 passed in /wp-includes/class-wp-hook.php on line 288 and exactly 3 expected in /wp-content/plugins/elasticpress/includes/classes/Feature/Facets/Facets.php on line 92
set_agg_filters()
wp-includes/class-wp-hook.php:288
apply_filters()
wp-includes/plugin.php:208
apply_filters()
wp-content/plugins/e

[2019-10-11 13:31] JJPragmatic commented on #790
I dont think this authrisation works with version 3.6 of the plugin, would it be possible to get the wiki updated with a current solution?

[2019-10-13 21:21] vekikive opened #1522 "Version 3.1.4 has left in the code that overwrites search_fields for meta and taxonomies-> lines 461 to 465. Those should be removed:"
Version 3.1.4 has left in the code that overwrites search_fields for meta and taxonomies-> lines 461 to 465. Those should be removed:

[code]

_Originally posted by @vekikive in https://github.com/10up/ElasticPress/pull/1215#issuecomment-528060851_

[2019-10-13 21:22] vekikive commented on #1522
This is still active in the latest 3.2 version. Should be taken out.

[2019-10-14 02:47] tlovett1 commented on #1518
I'm not able to reproduce. Which EP features do you have active?

[2019-10-14 02:52] tlovett1 commented on #1515
@khelil does the error happen with WPML deactivated?

[2019-10-14 02:57] tlovett1 commented on #1519
Currently EP doesn't support `post_name__in` which is used when passing `slug`. We can probably add this to the next version.

[2019-10-14 02:58] tlovett1 commented on #1519
For the time being just don't ep_integrate if post_name__in is used.

[2019-10-14 03:01] tlovett1 commented on #1516
I'm not seeing this. Is it happening on the front end? What plugins are you using? What features are you using?

[2019-10-14 03:09] tlovett1 commented on #1492
@fhfournier what features do you have active?

[2019-10-14 03:13] tlovett1 commented on #1492
Maybe I'm forgetting something but I don't see anything about an `EP_INDEX_NAME` constant. Is everyone just using the filter?

[2019-10-14 03:18] tlovett1 commented on #1520
Seems like an interesting idea but this would break backwards compat.

[2019-10-14 06:17] khelil commented on #1515
Yep @tlovett1 no more errors when WPML deactivated and search works fine !
Perhaps an issue with untranslated weight fields ?

[2019-10-14 08:29] JJPragmatic opened #1523 "Connect from Amazon web service not working with 3.1.4"
It appears like the process outlined at https://github.com/10up/ElasticPress/issues/790#issuecomment-324728774 for connecting and authorizing via IAM roles and AWS no longer works with the latest versions of this plugin, is there a workaround or different approach?

[2019-10-14 08:33] tott commented on #1486
This is only partially completed at this point I think. When not selecting any field we should still disable the search altogether. Do you want to capture this separately @tlovett1 ?

[2019-10-14 09:11] comzeradd commented on #1518
Same here. It seems to hit [this bug](https://wpdevelopment.courses/how-to-fix-activatemode-is-not-a-function-error-in-gutenberg/), but it doesn't happen consistently on all blocks.

[2019-10-14 09:12] novazembla commented on #1492
Oh! I've been using a constant called `EP_INDEX_NAME` in many of my projects for many years. Not sure where this one came from? Could well be that I came up with it myself (as it is an easy helper building custom queries to ElasticSearch).

Anyhow, this still does unfortunately not explain why the index name has changed after the version upgrade. For years, an update of ElasticPress did not change

[2019-10-14 09:52] martian77 commented on #1493
I've had the same issue having hooked into ep_retrieve_aggregations. In version 2.8.2 it was found in EP_API, which has obviously been removed in version 3.

You can achieve almost the same thing by hooking into 'ep_valid_response' in post 3.0 version of ElasticPress - almost the same because it returns the full response rather than just the aggregations. They are on $response['aggregations'] thou

[2019-10-14 10:36] Slamik commented on #1520
To no to brake backward compatibility you can add an optional parameter.
For example:
`	public function find_related( $post_id, $return = 5, $instance = false  ) {
		$args = array(
			'more_like'           => $post_id,
			'posts_per_page'      => $return,
			'ep_integrate'        => true,
			'ignore_sticky_posts' => true,
		);

		$query = new WP_Query( apply_filters( 'ep_find_related_args', $args

[2019-10-14 11:03] joetsuihk commented on #1037
I have the same issue
woocommerce-brands    | 1.6.9
elasticpress  | 3.2

[2019-10-14 12:29] Doorgeest91 commented on #1518
Same problem. The issue seems to be connected to the featured image block in Gutenburg. When this block is collapsed the post can be edited like normal.

[2019-10-14 17:17] helen commented on #1518
I believe this is because of the Related Posts block introduced in 3.2. A temporary fix is to deactivate the Related Posts feature, which AFAIK does not impact indexing, but it will impact blocks and I believe widgets as inserted so please proceed with caution. If any of y'all could add screenshots or specific errors messages that would be helpful for me to see if this is indeed all the same issue

[2019-10-14 17:29] jordan26 commented on #1521
Exactly the same issue here when upgrading to 3.2 too.

[2019-10-14 18:54] johnReeve commented on #1518
@helen, thanks!

I am having the same problem on several sites.  Turning off the "Related Posts" feature has resolved that for me.

[2019-10-14 20:13] #1518 closed

[2019-10-15 03:31] tlovett1 commented on #1522
@vekikive that code has been there for over a year. We did change how we handle search fields a bit in 3.2 I believe. What is the problem here?

[2019-10-15 03:41] #1521 closed

[2019-10-15 03:44] tlovett1 commented on #1521
3.2.1 should fix this. Please let me know if the problem persists.

[2019-10-15 03:46] #1483 closed

[2019-10-15 08:56] vekikive commented on #1522
This 2 lines of code overwrite custom meta and taxonomy search fields:

[code]
So with them active, if we use filters to add custom meta fields and taxonomies, they get overwritten by those 2 lines.
Also with those 2 lines, following code would not be needed and we need this code in order to include custom meta fields and taxonomies into search:
[code]

[2019-10-15 17:13] photocurio opened #1525 "Support for Elastic Search 7.x?"
I'm wondering if you guys have a timetable for support for Elastic Search 7.x?

[2019-10-17 11:30] tott opened #1526 "Wrong site health notice in dashboard"
**Describe the bug**
When you activate the plugin it shows a notice stating

This notice also appears if there are multiple nodes available.

**Steps to Reproduce**
This happens with 3.2.1 and any hosting setup as long as ep_hide_yellow_health_notice option is not present.

**Expected behavior**
Show the error message only when the index runs on only one node.

**Additional context**
The issue is

[2019-10-17 12:04] pratham2003 opened #1528 "How to make the search / indexer ignore certain common stop words?"
This is  the prevent the search from returning irrelevant results for a search query like "How to make an apple pie" which results almost all articles in the search results.

If I exclude "How" "to" "an"  from the search I guess I would be able to get close to what I want to achieve.

Is there a way to limit results by a certain relevance threshold? i.e. I only want highly relevant results.

[2019-10-17 12:05] jayhill90 commented on #1519
Thanks Taylor.

[2019-10-17 12:09] tott opened #1529 "Plugin settings management (import/export/wipe)"
**Is your enhancement related to a problem? Please describe.**
When deactivating the plugin a lot of settings are left behind. ie. status of dismissed notices.
There is also no way to port settings from one installation to the other which would help for development to production migrations as well as bug reporting and troubleshooting.

I think we need a clear way of identifying the settings that s

[2019-10-17 13:23] tott commented on #1515
I added an initial changeset to address the symptoms. I'm still evaluating if I can identify the cause.

[2019-10-17 15:24] oscarssanchez commented on #1523
Hi @JJPragmatic , Thanks for submitting, will take a look at this this week.

 Kind regards,

[2019-10-17 16:18] brandwaffle commented on #1523
Hi @JJPragmatic reading through the previous ticket it seems the code that was tried by one of the commenters never actually worked. We'd certainly welcome any PRs related to enabling this functionality (although it might be better served in a child plugin), but as of now ElasticPress is really only designed to work with Elasticsearch and Shield-style authentication.

[2019-10-17 16:18] #1523 closed, assigned to oscarssanchez

[2019-10-18 01:59] #1526 closed

[2019-10-18 19:10] adamsilverstein commented on #1518
Note: this was fixed in https://github.com/10up/ElasticPress/pull/1524 and included in the latest release of the plugin.

[2019-10-21 08:00] lapak10 commented on #1516
Yes it is happening on front-end. Trashed posts are listed in the search results (may be the hook to resync are not getting fired when post is trashed? ), but once they are permanently deleted, only then they are getting removed from the search results page.

I am not certain if this is applicable to every EP user or not, but I fixed it by creating a custom plugin, which is responsible for collect

[2019-10-21 08:00] #1516 closed

[2019-10-22 15:38] brandwaffle commented on #1515
@khelil We'd like to include this in our next release (targeted for today) but we'd need to understand if there are any other factors that are causing this issue before we push the code that works around the symptoms. Can you let us know if you've got any custom code per @tott 's question about? Thanks in advance and thanks for submitting this bug report!

[2019-10-23 08:31] emmerich opened #1533 "Stuck in an infinite sync state after an error during indexing"
**Describe the bug**

After running the index command and receiving a PHP error (such as bad syntax etc.), ElasticPress is stuck in a syncing state.

**Steps to Reproduce**

1. Create a function somewhere in PHP that causes an error. This was my example:
[code]
2. Run `wp elasticpress index --setup`
3. You'll receive an error for the function you've created (which is normal, it's incorrect)
4. Cor

[2019-10-23 08:36] emmerich commented on #1533
After a quick check of the database, it seems that the transient value `ep_wpcli_sync` is set to 1 and not set back to 0. Thus it's line 1177 in `Command.php` which throws the error.

[2019-10-23 09:38] khelil commented on #1515
@brandwaffle @tott sorry guy'z, just saw your message. We have custom code for theme and plugin, we developed both from scratch, but no code is changing the search feature or results.
In doubt, if you want, send me you emails i can give you access to our repo on github, for you to check.

[2019-10-25 08:12] danielslyman commented on #1315
Any news on this?

[2019-10-25 08:34] danielslyman commented on #1315
For some reason, this makes it work for me. I am new to Elasticsearch and Elasticsearch. Could someone explain why this works afterwards?

`function ep_fine_tuning_ep_formatted_args( $formatted_args, $args ) {

	$search_fields = array(
		'post_title^40',
		'post_excerpt^2',
		'post_content',
	);

	$query = array(
		'bool' => array(
			'should' => array(
				array(
					'multi_match' => array(

[2019-10-25 12:35] khelil commented on #1515
@brandwaffle @tott no more bug here. After updating WPML to Version 4.3.1, no more notices and search results are as expected ! Closing the issue, Thank you 🙏

[2019-10-25 12:35] #1515 closed

[2019-10-27 16:21] Leceaga opened #1534 "Order Descrending and Modified Edit Result Search Wordpress"
My wordpress search should be answered with the Title and in descending order of modified edit date, but it doesn't work.
The "Search fields & Weighting" tab is set to title 50 and still does not work, the result is shown in the order of oldest and most relevant.

What do I do?

[2019-10-30 03:43] joetsuihk commented on #1037
I had a (temp?) solution to fix the issue, on `woocommerce-brands/includes/class-wc-brands.php`

[code]

It works on my setup.

[2019-10-30 04:26] tlovett1 commented on #1533
@emmerich you are 100% correct. As far as I know, there isn't a consistent way to detect fatal error/forced script termination without custom PHP packages. Open to ideas if you have any.

[2019-10-30 04:26] tlovett1 commented on #1525
Hopefully in 2019.

[2019-10-30 04:39] tlovett1 commented on #1522
@vekikive can you let me know if the PR above fixes the problem?

[2019-10-30 08:34] emmerich commented on #1533
I'll admit PHP isn't my strongpoint, so I'm not sure either.  It's quite a rare case and usually only happens during development, maybe having a WP CLI command to reset the `ep_wpcli_sync` state would be good enough?

[2019-10-30 09:30] vekikive commented on #1522
@tlovett1 Yes, seems correct. Thanks!

[2019-10-30 14:20] Stretch96 commented on #1502
We are experiencing this issue in v3.2.1

@tott Could we get this added to a future milestone (3.2.0 appears to have been closed)?

[2019-10-30 19:09] photocurio commented on #1087
@mattimpact can you link to the Ingest Attachment issue?

[2019-10-30 19:15] photocurio opened #1536 "Multisite--sync just one site"
I use the CLI to sync the content indices.
I know that this will index the root site:
`wp elasticpress index`
This will index the entire network:
`wp elasticpress index --network-wide`

How do I index just one subsite?

[2019-10-31 16:48] milnerm opened #1537 "Elasticpress Hooks and Filters Documentation or List"
Is there a succinct list or documentation for EP hooks and filters? I'm seeing them noted throughout issues, but can't find the actual documentation, nor a list, nor any kind of resource indicating what in fact they are, when they fire, what variables they take, etc. You know, the regular kind of stuff associated with WP hooks and filters.

[2019-10-31 23:01] MediaMaquina opened #1538 "How to treat lower and uppercase the same?"
If i search for "Pa**R**appa" it will not find "Parappa" only "Pa**R**appa"
if i search for "Pa**r**appa" it will find both "Parappa" and "PaRappa".

I need to find all instances regardeless of the case even when searching in uppercase.
How can i do this?

[2019-11-01 17:08] photocurio commented on #1536
I hope this is possible..

[2019-11-02 16:01] photocurio commented on #1536
Maybe this issue should be a Feature Request?

[2019-11-02 16:10] alexholsgrove opened #1541 "ElasticPress Feature Settings - Incorrect JavaScript"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
A bug

__Describe the issue you encountered:__
Tying to save feature settings. AJAX call is made to ep_save_feature but the values passed are the existing settings, not the new values entered. The dashboard.js (which is compiled to the /dist/dashboard-script.min.js uses: `const

[2019-11-03 01:41] barryceelen commented on #1533
Just a note for anyone running into this issue (like me): `wp transient delete ep_wpcli_sync` will enable you to run a sync again.

@tlovett1 do we need an elasticpress-specific cli command to do this? Alternatively we could add a suggestion to the error message, as it is not immediately apparent that you'd need to clear a transient to get back up and running again if the indexing process terminat

[2019-11-03 02:00] dciphered opened #1542 "Elasticsearch 7.4.x support (6.4 prone to 3 known vulnerabilities)"
__Have you searched for similar issues before submitting this one?__
Yes
__Is this a bug, question or feature request?__
Question
__Describe the issue you encountered:__
Hi guys,

I would like to know if (and when) ElasticPress supports Elasticsearch 7.4.x (7.4.2)? Your GitHub documentation specifies that 6.4 is the max version supported however there are 3 known security issues with this version,

[2019-11-03 17:49] photocurio opened #1543 "Documents fail to index"
**Describe the bug**
Documents fail to index on multisite network.
**Steps to Reproduce**

1. Install _Ingest Attachments_ plugin on Elasticsearch.
2. Activate _Documents_ feature on Elasticpress (indexing does work if I have the Documents feature off).
3. Reset mappings with `wp elasticpress put-mapping --network-wide`
4. Index content with `wp elasticpress index --per-page=200 --network-wide`
5.

[2019-11-04 03:22] dciphered commented on #1542
Hi guys, can I please get some feedback here. In short, are there any other Elasticsearch versions beyond 6.4 that are supported by the plugin?

I've had to pause on deployment until I can get some validation.

Many thanks.

[2019-11-04 04:03] tlovett1 commented on #1543
Tested this with ElasticPress.io and was unable to reproduce. Maybe you have the wrong version of ingest attachment installed?

[2019-11-04 04:05] tlovett1 commented on #1533
@barryceelen seems like a sync reset command would be good. Want to create a PR?

[2019-11-04 09:15] thomasdiesenreiter opened #1544 "Index not updating when publishing new posts"
__Have you searched for similar issues before submitting this one?__
Yes, wasn't able to find anything.
__Is this a bug, question or feature request?__
Bug
__Describe the issue you encountered:__
When a user publishes a post, the new post is not added to the index and thereby is not showing up in search. To fix it I have to reindex the whole site manually.
__Current WordPress version?__
5.2.4
__Cu

[2019-11-04 13:02] dustinrue commented on #1543
Hi there. You want to reduce your posts per page setting a lot. Indexing documents is expensive and what you’re seeing is the plugin getting tired of waiting around for Elasticsearch to complete the operation. I recommend trying batches of about 5 and seeing if it helps.

[2019-11-04 14:09] jordan26 commented on #1537
Agreed. Could have things added to the Wiki tab or use: https://docs.gitbook.com/

[2019-11-04 14:55] derunterstrich opened #1545 "Nonstop Syncing posts"
**Describe the bug**
Die Syncronisierung der Beiträge ist in einer Dauerschleife gefangen. Nach dem Sync posts, 4840/4840 posts geht es gleich wieder bei Syncing posts 0/4840 weiter.

**Steps to Reproduce**
1. Go to 'Elasticpress Dashboard'
2. Click on 'Update' top right
3. Stile wait
4. It start again

**Expected behavior**
When everything has been synchronized: stop ;)

**Environment information

[2019-11-04 15:13] khelil commented on #1315
Hi Guy'z,

If you still wondering how to make ElasticPress works fine with WPML, here what i've learned :

Currently there's two bugs that make it impossible to use WPML v4.3.1  with ElasticPress v3.2.1.

**Indexing :** after indexing you get only custom post type in current language. To get all language indexed, you have to add this code :

[code]

**Search Results :** WPML is using the wrong fil

[2019-11-04 15:21] tott commented on #1545
Quick translation:

The synchronization of posts is caught in a loop. Once the posts are synced 4840/4840 posts the sync starts again with message "Syncing posts 0/4840"

@derunterstrich Wie werden die posts gesynct? In wp-admin oder via wp-cli? Wie es scheint via wp-admin ; Gibt es die Moeglichkeit den Sync via wp-cli anzustossen? Gibt es wp-cron oder andere Zeit-gesteuerte Prozesse die die posts

[2019-11-04 15:33] derunterstrich commented on #1545
Die Daten können nur über das Admin-Interface aktualisiert werden.
--
The data can only be updated via the admin interface.

[2019-11-04 18:05] photocurio commented on #1536
To give some context, I have a network of 200 sites, and several hundred thousand documents, spread around my network.  I need to index the network.  If indexing fails at site 80, I can have to:

1. disable elasticsearch on site 80, unless I can isolate and fix the problem.
2. restart indexing, at site 0.  Note that testing a fix for site 80 is harder since testing involves re-indexing the whole n

[2019-11-04 19:33] photocurio commented on #1543
@tlovett1 I have Elasticsearch 6.4.0 and Ingest Attachment 6.4.0 (do these always match?).

@dustinrue yeah good idea.  I change to per-page=5, and I get a lot fewer errors. I still get some errors however.

I sure wish I knew which attachments fail to index.  The 570 is not the document ID.

It would be helpful to be able to sync specific sites (separate thread [here](https://github.com/10up/Elas

[2019-11-05 02:19] dciphered opened #1546 "Not working with admin-ajax.php driven Search"
__Have you searched for similar issues before submitting this one?__
Yes

__Describe the issue you encountered:__
We're experiencing an issue where Elasticpress does not recognise our search queries. We are using a search field that's driven by admin-ajax.php and after enabling debug, I can validate that there are no queries being generated by Elasticpress.

Researching the issue, I stumbled acros

[2019-11-05 16:40] photocurio commented on #1546
Is admin-ajax.php timing out?

[2019-11-05 23:35] dciphered commented on #1546
It doesn't appear to be, the request gets fulfilled as per normal however it's not being parsed by EP/ES

[2019-11-06 01:31] tlovett1 commented on #1546
Use the filter here or enable Protected Content: https://github.com/10up/ElasticPress/blob/7786a708d3c266588a933abdd45ac91762575b30/includes/classes/Feature/Search/Search.php#L72

[2019-11-06 01:31] #1546 closed

[2019-11-06 21:37] theritesite opened #1548 "WooCommerce Product Table Plugin Incompatible?"
I assume it is not a bug, submitting as question because couldn't find another good category. The commercial plugin "WooCommerce Product Table" in its current state is incompatible with ElasticPress but had not quite made it to the Wiki page for incompatible plugins.

I will be reaching out to their support team to see if there is a workable solution and will be linking them the github repository

[2019-11-07 02:05] photocurio commented on #1543
Setting the per-page value to 5 did help.  I also doubled the memory allocation on the elasticsearch servers, which also seems to help. I'm guessing this is a processing power issue.

[2019-11-07 15:17] vitoralmeidabr opened #1549 "[Request] Most popular search terms and related searchs"
__Have you searched for similar issues before submitting this one?__
Yes

__Is this a bug, question or feature request?__
Feature Request

__Describe the issue you encountered:__

__Current WordPress version?__
5.2

__Current ElasticPress version?__
Most recent

__Current Elasticsearch version?__
Most recent

__Where do you host your Elasticsearch server?__
AWS

-1 It's possible to generate a list

[2019-11-08 23:52] nickdaugherty commented on #1542
I believe this is a duplicate of https://github.com/10up/ElasticPress/issues/1525

[2019-11-09 12:08] photocurio commented on #1536
Ok I found the solution.  Elasticpress responds to the URL flag like other CLI commands.
`wp elasticpress index --url=thesubsite.network.com`

[2019-11-09 12:08] #1536 closed

[2019-11-11 14:41] goaround opened #1550 "Related Post Block loads editor/theme.css in the frontend"
**Describe the bug**
The Related Post Block Style has wp-edit-blocks as a dependency which causes the editor.css and theme.css from Gutenberg to be loaded in the frontend.

**Steps to Reproduce**
1. Go to a page where the Related Post Block is embeded
2. Search inside source code for related-posts-block-styles
3. See the dependencies editor.min.css/theme.min.css in front of the related block style

[2019-11-11 17:14] photocurio commented on #1543
I see that all the attachment pipeline sets `indexed_chars` to -1 (all characters).  If there is a large file, that could be a problem.

How can I set the `indexed_chars` value for the attachment pipeline?

[2019-11-12 11:57] danielslyman commented on #1315
Thanks for the input, I am getting PHP errors when trying to add this to the functions.php, any idea where I should put this?

[2019-11-12 12:07] khelil commented on #1315
@danielslyman you can put the first function (indexing) on your theme or plugin...for search results you have to modify the functions directly on WPML plugin files. This is not a stable solution, that's sure. I noticed the WPML team about that, so i suppose it will be soon patched...

[2019-11-12 12:11] danielslyman commented on #1315
Thanks for your reply!

1. When adding the indexing function I receive this error:

[code]

2. Could you tell me which files you added this to?

Thanks so much,
Daniel

[2019-11-12 12:58] khelil commented on #1315
That's because in my example, `ep_index_wpml` is declared in a class.

In your case, you should try this :

[code]

[2019-11-12 16:35] tlovett1 commented on #1544
Turn on query debugging in the debug bar and see if any errors show up please.

[2019-11-12 17:29] mlaroy commented on #1550
thanks @goaround - we'll take a look at this issue

[2019-11-13 00:16] mlaroy opened #1551 "Searchterm highlighting"
**Is your enhancement related to a problem? Please describe.**

Currently, search terms aren't made visible in the search results, as it common in search engines to visually demonstrate search result relevance.

**Describe the solution you'd like**

Inject some markup (e.g. span tag) to surround the search term within the content/excerpt provided in the search results for easy styling. Also, the a

[2019-11-13 04:06] jt-alex opened #1553 "missing token ‘ep-search-term’ in CORS header"
Hi, Sorry a bit of a newbie here. I'm getting this CORS error when trying to use the autosuggest feature of elasticpress

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at <EP> (Reason: missing token ‘ep-search-term’ in CORS header ‘Access-Control-Allow-Headers’ from CORS preflight channel).

Is this something I need to configure on my site or in the AWS

[2019-11-13 11:13] danielslyman commented on #1315
Thanks! That worked, could you now tell me where I would put this?

public function set_up() {
  add_filter( 'ep_post_sync_args', array( $this->lang_integration, 'add_lang_info' ), 10, 2 );
  add_filter( 'ep_formatted_args', array( $this->lang_integration, 'filter_by_lang' ), 10, 2 );
}

thank you for your help!

[2019-11-13 19:47] khelil commented on #1315
@danielslyman you have to search in WPML folder : `plugins/sitepress-cms/sitepress-multilingual-cms` for both functions : `set_up()` and `filter_by_lang()` and do the changes...

[2019-11-14 10:06] tott opened #1554 "Ensure update query is not sent to MySQL"
**Describe the bug**

New Autosuggest query generation in PHP fires off a query which might hit MySQL in case there is an issue with ElasticPress or indexing did not occur yet. This can cause a race condition and overload the database.

**Expected behavior**
Do not sent the specific query to MySQL if ElasticSearch endpoint returns failure.

PR coming shortly

[2019-11-14 19:49] jschultze opened #1556 "prepare_meta_value_types() is returning invalid date resulting in DateTimeParseException and MapperParsingException while indexing."
`prepare_meta_value_types()` (/includes/classes/Indexable.php, line 322, version 3.2.2) is trying to calculate a date from any given `$meta_value` that is a string, starting in line 354:

  $timestamp = strtotime( $meta_value );
  $date     = '1971-01-01';
  $datetime = '1971-01-01 00:00:01';
  $time     = '00:00:01';
  if ( false !== $timestamp ) {
    $date     = date_i18n( 'Y-m-d', $timestamp )

[2019-11-14 19:58] jschultze commented on #1556
This is a very specific work around for my current project, but it is possible to reset the wrong values with this hook:

    if (isset($post_args['meta']['_stock'][0])) {
        $post_args['meta']['_stock'][0]['date'] = '1971-01-01';
        $post_args['meta']['_stock'][0]['datetime'] = '1971-01-01 00:00:01';
        $post_args['meta']['_stock'][0]['time'] = '00:00:01';
    }
    return $post_ar

[2019-11-15 03:58] kevinstaldersmg opened #1557 "Possible bug? ElasticPress making frontend run really slow."
We are running ElasticPress on a WooCommerce store as we are developing a site. Currently the store has 30 products, ~1000 product attributes and ~3000 categories. This will soon enough have about 12000 products, couple thousand product categories and about over 1000 product attributes.

When we have ElasticPress installed and activated, this is causing major slowdowns on the frontend and backend.

[2019-11-15 09:25] tott commented on #1557
Hi Kevin,

the slowdown in shown in NewRelic makes me think that the indexing is still ongoing and while this might contribute to the issue you might have encountered an edge case bug we fixed with a release this night. Can you try upgrading to 3.2.3 and report back if the issue persists?

Thanks

[2019-11-15 13:28] casinojeffrey opened #1558 "ElasticPress not for Widget but main site search bar?"
**Describe your question**

Hi there! I just installed and indexed everything via your great elasticpress plugin but now i am struggling. I don't want to add a sidebar-widget for search and faceting but rather use the elasticsearch function via my main search-bar which is built in my theme. How and where do I do that? Faceting can then be done inside the search results in my opinion.

Thank you fo

[2019-11-15 14:45] photocurio commented on #1551
I got highlighting working with these two comments:
https://github.com/10up/ElasticPress/issues/684#issuecomment-275834011
https://github.com/10up/ElasticPress/issues/1250

[2019-11-15 15:16] twhid commented on #1523
For anyone looking for ways to hook elasticpress up to AWS elasticsearch service, you can do it. It's relatively simple. In this example, you need to create an IAM user with full rights to the service (using the access policy in Amazon ES), then define that user's key and secret. In this example the key and secret are defined as globals in wp_config.php (`ES_AWS_KEY`, `ES_AWS_SECRET` respectively)

[2019-11-15 18:33] brandwaffle commented on #1558
Hi @casinojeffrey as long as your site's theme uses the standard WordPress approach to searching (i.e. it passes in a 's' search parameter), this will be automatically handled by ElasticPress. In other words, search is likely already using ElasticPress! You can always confirm by installing the Debug Bar ElasticPress plugin, which will report all the queries routed to Elasticsearch.

[2019-11-16 09:40] ognjanovic opened #1559 "Normalization Token Filter"
Hi,

Is there an easy way to define some normalization token filter (serbian_normalization to be precise) described here https://www.elastic.co/guide/en/elasticsearch/reference/6.8/analysis-normalization-tokenfilter.html

I'm not sure is the ep_formatted_args the right filter to use?

Thanks.

[2019-11-16 14:52] Maxdw opened #1560 "ElasticPress autosuggest causes all WP_Query usage to fail"
ElasticPress 3.2.3 in combination with WordPress 5.0.7 causes all WP_Query usage after the get_search_form() call to fail due to a bug in the autosuggest functionality.

[This line in Autosuggest.php](https://github.com/10up/ElasticPress/blob/3.2.3/includes/classes/Feature/Autosuggest/Autosuggest.php#L428) adds a filter that is returning [an empty array](https://github.com/10up/ElasticPress/blob/3

[2019-11-16 16:18] tott commented on #1560
Hi @Maxdw this is concerning but I was not yet able to reproduce this issue. Can you let me know a bit more about the steps you use to trigger this behavior. Are you using a certain theme, which plugins are activated, are there any customizations? How does the issue manifest?

[2019-11-16 16:29] ognjanovic commented on #1545
Similar issue with ElasticPress 3.2.3 (I just updated from latest EP 2.x).

If I use web interface I'm stuck in a loop, reindexing over and over again.

If I use wp-cli everyting works fine, no errors.

[2019-11-16 16:32] tott commented on #1545
Can you validate if the javascript console in your browser shows any errors in wp-admin where the indexing is shown?

[2019-11-16 16:38] ognjanovic commented on #1545
No errors.

[2019-11-16 20:30] Maxdw commented on #1560
Hi Tott,

It seems to be very easy to reproduce using the following steps:

- Grab a clean WordPress 5.0.7
- Install ElasticPress 3.2.3 and configure it using a self-hosted ElasticSearch URL
- Make sure the ep_feature_settings option has the autosuggest feature enabled, mine looks like:

[code]

- Modify the default theme twentynineteen index.php file and run a simple query

[code]

It will dump f

[2019-11-16 20:48] tott commented on #1560
Thanks for the quick feedback. Could you try if https://github.com/10up/ElasticPress/archive/fix/1560.zip fixes the issue?

[2019-11-16 21:04] Maxdw commented on #1560
Yep that totally fixed it. I dropped it in, refreshed the homepage and the var_dump now returned true.

[2019-11-16 21:11] tott commented on #1560
Thanks for the help! We'll get a hotfix release out asap

[2019-11-17 15:28] florianbrinkmann opened #1562 "One of the latest updates prevent menus from showing up in the frontend"
**Describe the bug**
After updating EP (I do not know the number I updated from) to the latest version, my main menu showed all pages instead of only a few, and another menu and a menu widget did not show anything. After deactivating ElasticPress, everything worked again.

I used it with a custom Elasticsearch host (hosted on Heroku) and the Related Posts and Autosuggest feature.

**Steps to Repro

[2019-11-18 14:59] cmcgee93 commented on #1562
Give [this](https://github.com/10up/ElasticPress/issues/1560#issuecomment-554672976) a try, seemed to work for me. 🙂

[2019-11-18 16:42] #1558 closed

[2019-11-18 17:31] florianbrinkmann commented on #1562
Thanks @cmcgee93! I saw the issue yesterday, but did not thought it would be related. But it was, it works with the fix :) So, thanks again for the hint! :)

[2019-11-19 01:02] ethanclevenger91 commented on #527
@tlovett1 I see that this is closed, but I assume the problem is pretty much what was described by @buley, a request goes out that is larger than what AWS ElasticSearch (in my case) is willing to accept.

It'd be great to see the documentation include this case and what to do to get around it. I had to dig into source to find the default per-page value for the CLI (350) so I knew what to shoot for

[2019-11-19 09:08] cmcgee93 commented on #1562
@florianbrinkmann No problem, glad I could help!

[2019-11-19 13:17] simplenotezy opened #1564 "Compatibility with SearchWP Live Ajax Search?"
Hi,

I would like to know if ElasticPress is compatible with this plugin, which we currently use to show search suggestions to our users: https://wordpress.org/plugins/searchwp-live-ajax-search/

[2019-11-20 12:42] mvdhoek1 opened #1567 "How to use Wordpress search with external data in my elasticsearch document/index?"
Hello 10up,

I've installed elasticsearch 7.2.4 locally together with Kibana (And watched the tutorial). After this I've installed the elasticpress plugin on my Wordpress website (also locally) and configured the settings to the settings of the elasticsearch server. The Wordpress search of my website now uses elastic. I want to create a situation where my Wordpress search includes data from 2 exte

[2019-11-20 15:43] alecgeatches opened #1568 "Orderby "user_login" on WP_User_Query causes ElasticSearch error"
**Describe the bug**

Using the `'orderby' => 'user_login'` in a `WP_User_Query` results in a failed query:

[code]

Result:

[code]

**Steps to Reproduce**

1. Run a `WP_User_Query` with `'orderby' => 'login'` or `'orderby' => 'user_login'` on a page.
1. Using [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/), view the ES error on the query.

**Expected behavior**

N

[2019-11-20 16:07] alecgeatches commented on #1568
After some trial and error, it appears this is related to a custom mapping and not ElasticPress. My bad! I'll close this issue.

[2019-11-20 16:07] #1568 closed

[2019-11-20 17:30] alecgeatches opened #1569 "WP_User_Query with ep_integrate defaults to 10 results, instead of the full set"
**Describe the bug**

Running a `WP_User_Query` with `'ep_integrate' => true` returns 10 results, but without it returns the full set of users:

[code]

[code]

This can be fixed by explicitly passing `'number' => -1` to the EP query. The default EP behavior changes the results of `get_users`/`WP_User_Query`.

The problem seems to be from this line of code:

https://github.com/10up/ElasticPress/bl

[2019-11-20 19:40] kylef000 commented on #1537
@milnerm
http://10up.github.io/ElasticPress/

[2019-11-21 12:29] simplenotezy commented on #1170
Curious whether 6.5 is supported now? @oscarssanchez

[2019-11-21 16:20] jayhill90 commented on #1525
@tlovett1 2019 is almost ending did you mean 2020 or will it be ready be EoY?

[2019-11-21 18:44] jayhill90 opened #1570 "Determine why/how an index was started"
**Describe your question**
The other day a reindex was started mysteriously and subsequently locked up, not completing leaving integrated queries broken. Is there any way to determine why or how an index was triggered? It wasn't done via CLI and no one triggered it via the admin interface.

[2019-11-22 01:52] ethanclevenger91 commented on #1020
@technosailor any chance you ever got an update on that bug? Seems to be an outstanding issue...

[2019-11-22 01:53] ethanclevenger91 commented on #1087
@photocurio I believe he's referring to [this](https://github.com/10up/ElasticPress/issues/1020#issuecomment-364968081)

[2019-11-22 02:12] ethanclevenger91 commented on #1020
Anyone who finds this and doesn't want to edit the ElasticPress source, they've included a filter that thus far seems to be sufficient. I'll update if I have any issues. Keep in mind this is only helpful if you do, in fact, have the ingest attachment plugin setup on your ES instance and it isn't being reported properly, as is the case with AWS right now.

[code]

[2019-11-22 21:03] mhair commented on #1243
The documentation states that "Documents: Indexes text inside of popular file types, and adds those files types to search results.". Is this not the case? Why has this been labeled as an enhancement (low priority)?

My use case is to index pdf contents, but attribute search results to the parent page that the PDF is attached to.

[2019-11-27 11:37] tott commented on #1550
This issue should be resolved with the recent ElasticPress version. If you should run into any further issues please feel free to reopen this ticket.

[2019-11-27 11:37] #1550 closed

[2019-11-27 11:38] tott commented on #1562
This issue should be resolved with the recent ElasticPress version. If you should run into any further issues please feel free to reopen this ticket.

[2019-11-27 11:38] #1562 closed

[2019-11-27 11:38] tott commented on #1560
This issue should be resolved with the recent ElasticPress version. If you should run into any further issues please feel free to reopen this ticket.

[2019-11-27 11:38] #1560 closed

[2019-11-27 11:38] tott commented on #1557
This issue should be resolved with the recent ElasticPress version. If you should run into any further issues please feel free to reopen this ticket.

[2019-11-27 11:38] #1557 closed

[2019-11-27 11:39] tott commented on #1554
This issue should be resolved with the recent ElasticPress version. If you should run into any further issues please feel free to reopen this ticket.

[2019-11-27 11:39] #1554 closed

[2019-11-27 11:41] tott commented on #1545
Can you please test if the issue still persists with the most recent ElasticPress version 3.2.6 and if it does let us know the theme and plugins used on your site. Thanks

[2019-11-27 11:44] tott commented on #1570
@jayhill90 it could be related to a plugin upgrade, feature activation or faulty mapping. Do you have automated updates enabled? Which ElasticSearch version / hosting provider are you using? Did you maybe enable a feature that requires a re-index such as protected content or documents search?

[2019-11-27 11:58] tott commented on #1567
Hi @mvdhoek1,
This depends a bit on how you would like to build your app. If you would render everything through a WordPress theme it's likely best to import the external sources into WordPress and have ElasticPress take care of indexing and querying these sources. In this scenario I would likely setup a WordPress multisite and use separate sites for each of the external sources (depending on thei

[2019-11-27 12:02] tott commented on #1564
I think this plugin is likely not compatible with ElasticPress, however ElasticPress comes with its own autosuggest feature so you would not need this plugin anymore.

[2019-11-27 12:02] #1564 closed

[2019-11-27 12:24] tott commented on #1559
We're using the Snowball analyzer by default https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-snowball-tokenfilter.html/
and while it support a multitude of languages it seems that Serbian is not one of them so you would need to change this out for something else, otherwise you could use the filters ep_analyzer_language for setting the language in the mappings directly ie h

[2019-11-27 12:24] #1559 closed

[2019-11-27 12:28] tott commented on #1553
This is usually caused by an underlying issue with the request itself. Can you look in the web inspector for the request/response that is sent to the ElasticSearch endpoint when you use autosuggest. If you look at the response you get from the server you might be able to see a more detailed message. You can also install the debug-bar-elasticpress plugin to get some more insights into the queries/r

[2019-11-27 12:30] tott commented on #1548
Thanks for letting us know. It would be great if you could provide us any findings you might have. If there is anything we can do to make this compatible we're happy to assist.

[2019-11-27 12:30] #1548 closed

[2019-11-27 12:35] tott commented on #1544
@thomasdiesenreiter we did not hear back from you in a while and I'm closing this ticket for now. Feel free to reopen this or create a new one once you have the requested infromation

[2019-11-27 12:35] #1544 closed

[2019-11-27 12:40] tott commented on #1543
@photocurio you can use the ep_create_pipeline_args filter here https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L1217 to adjust the arguments of the pipeline during creation. In particular you will need to adjust this value https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Documents/Documents.php#L369

[2019-11-27 12:40] #1543 closed

[2019-11-27 13:18] tott commented on #1541
Can you test this with the most recent version of ElasticPress and report back if you still have any issues.

[2019-11-27 13:27] tott commented on #1538
I think this is the default behavior of the word_delimiter. To achieve what you want you would need to set the split_on_case_change parameter to false as outlined in https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-word-delimiter-tokenfilter.html

You would need to inject this into the mapping here https://github.com/10up/ElasticPress/blob/develop/includes/mappings/post/5-2

[2019-11-27 13:27] #1538 closed

[2019-11-27 13:27] #1537 closed

[2019-11-27 13:34] tott commented on #1534
Hi @Leceaga , have you already tried enabling the "Weight results by date" setting in the Search feature at /wp-admin/admin.php?page=elasticpress ?
Do you run any custom queries or plugins which may alter the search behavior? Can you disable those and retry?
If you already tried this can you install the debug bar elasticpress plugin and take a look at the search request/response that is sent do th

[2019-11-27 14:42] alexholsgrove commented on #1541
It still looks broken and I can't see the JavaScript lines have changed at all. The problem is the jQuery is looking for the attribute "value" rather than getting the actual field value using .val()

For example, I have enabled the "autosuggest" and changed the default class name. When I hit save, it submits the default field values rather than the value I have entered:

<img width="480" alt="Scre

[2019-11-27 14:56] tott commented on #1541
Thanks for the follow-up Alex, I'm not able to reproduce the behavior. Could you provide some details about the browser / OS used when you run into the issue?

[2019-11-27 16:02] alexholsgrove commented on #1541
I'm on MacOS 10.14.6 Mojave and have tested on Chrome 78.0.3904.108 and Safari 13.0.3
jQuery version (jQuery.fn.jQuery) returns 1.12.4 in the console.

I've just taken another screenshot of my console with the jQuery commands attr('value') and .val() to show the difference. if I refresh the settings page, the "autosuggest" returns to disabled and the selector reverts to the default "ep-autosuggest

[2019-11-27 17:25] alexholsgrove commented on #1541
I've changed themes to twentynineteen and the settings now work correctly. The issue was my theme removed the jQuery migrate library which is required for these settings to work.

Still, it would be worth just changing the JavaScript as per my original comment to just use .val() then it should work with or without jQuery migrate.

[2019-11-27 20:55] wss-chadical commented on #1525
The broader question I have is: What does adding support for newer releases look like?
Is it a major undertaking?
Do the maintainers need feedback from users?

The 6.4 limitation is making it difficult to deploy elasticpress in the cloud. Most of the out of the box Bitnami images, google cloud images, etc... are all 6.8 and 7.4 at a minimum.

We would consider using ElasticPress hosting, but the p

[2019-11-28 06:16] mvdhoek1 commented on #1567
Hi Tott,

Thank you for replying, we have find a solution with logstash and http polling.

You can read more about this on their website: https://www.elastic.co/guide/en/logstash/current/plugins-inputs-http_poller.html

Example:
`input {
  http_poller {
    urls => {
      test1 => "http://localhost:9200"
      test2 => {
        # Supports all options supported by ruby's Manticore HTTP client

[2019-11-28 06:16] #1567 closed

[2019-11-28 09:51] ognjanovic opened #1576 "Custom Taxonomies not included in ElasticPress query"
Hi,

Custom Taxonomies are included in index (if that is what you set in Settings), but are not included in queries.

The problem is that you use $query_vars variable (stripped version of full WPQuery object, which is just fine) to build EP query, but in case of custom taxonomies, $query_vars does not include tax_query array, but instead you have "tax_slug" array in $query_vars and WPQuery->tax_qu

[2019-11-28 10:51] simplenotezy commented on #1576
I have the same issue:

I just tried installing ElasticPress on our WordPress WooCommerce site. It seems to be much faster! Thanks! However, I noticed I cannot search for Custom Product Attributes anymore. I can search for a category, and similar products will appear, but if I search for a Product Attribute value, it doesn't show any results. I have verified that the value is "Searchable" under Se

[2019-11-28 10:51] simplenotezy commented on #1576
@ognjanovic feel free to include your workaround to get custom taxonomies in the query

[2019-11-28 11:49] ognjanovic commented on #1576
You can use this hook to get prepared $formatted_args that is used for elastic queries

`add_filter( 'ep_formatted_args', [ $this, 'my_ep_formatted_args' ], 1, 2 );`

function my_ep_formatted_args( $formatted_args, $args ) {
    global $wp_query, $wp_taxonomies;

    // Just to avoid additional queries and parsers if they're not needed, but if this is search you should remove this from the list of

[2019-11-28 15:54] ognjanovic commented on #1545
Still the same issue, reindexing as soon as hits the end.
I have more than 500k public posts so it's not something I can just play and runaway :D

**I tried it on another project, much smaller and it works without hastle. You can close the isuue.**

I will try to debug the plugins, but as I said, it works just fine from wp-cli, good enough for me :)

Theme is custom, quite complex, as well as the

[2019-11-30 14:39] vnmedeiros commented on #1324
https://github.com/10up/ElasticPress/pull/1420

[2019-12-01 14:36] alecgeatches opened #1577 "LIKE meta_query for users with ElasticPress does not match substrings"
**Describe the bug**

ElasticPress uses `match_phrase` when converting a `meta_query` with a `LIKE` comparison. However, this does not match partial strings, which changes the behavior from standard WordPress queries.

Example:

[code]

The WordPress query does a `LIKE "%555%"`-type query that can match substrings in the phone number. The ElasticSearch query (below) uses `match_phrase`, which does

[2019-12-02 02:17] photocurio commented on #1543
I can't get this working.
I've tried this:
`add_filter( 'ep_create_pipeline_args', 'set_index_chars', 10, 2 );
function set_index_chars( $args ) {
	$args = array(
		'processors'  => array(
			array(
				'foreach' => array(
					'processor' => array(
						'attachment' => array(
							'indexed_chars'  => 1000,
						),
					),
				),
			),
		),
	);
	return $args;
}`

[2019-12-02 16:20] jayhill90 commented on #1570
No automatic updates. we're using 7.4 and Elastic.co. Nothing was touched EP settings side either. Thanks for the suggestions though.

[2019-12-03 03:19] wss-chadical commented on #1260
fyi - I got media searching working on a elasticsearch 5.6, with an ingest node, plus the ingest attachment plugin.

[2019-12-03 10:36] simplenotezy commented on #1576
Thanks @ognjanovic ! Would this workaround work out of the box with WooCommerce products/variable products?

Also, any updates from plugin authors related to this? @elasticpress-jenkins

[2019-12-03 10:51] ognjanovic commented on #1576
As far as I know, WooCommerce uses taxonomies for attributies wich are again used to generate variable products (usually), so this should work more or less out fo the box :D

You can setup a staging woocommerce instance on the same server and connect it to the same elasticsearch instance and use this code since this doesn't affect elasticsearch index, it just parses query sent to elastic so we cou

[2019-12-03 10:57] simplenotezy commented on #1576
Cool thanks.

Just for reference, this is the code I end up using. I'll be testing on production, and if you don't hear back from me, it's because it's working ;)

	add_filter( 'ep_formatted_args', 'my_ep_formatted_args', 1, 2 );

	function my_ep_formatted_args( $formatted_args, $args ) {
		global $wp_query, $wp_taxonomies;

		// Just to avoid additional queries and parsers if they're not needed,

[2019-12-03 11:04] simplenotezy commented on #1576
Unfortunately this fix didn't solve the issue. On my shop, when filtering products for say "Diamonds" it says "No results found".

[2019-12-03 12:35] ognjanovic commented on #1576
I mean, you'll have to debug the query and check it vs this code, especially vs this conditions

`if ( !$wp_query->is_tag() && !$wp_query->is_category() && $wp_query->is_main_query() && $wp_query->is_archive() && !$wp_query->is_search() && !$wp_query->is_admin() )`

At least you should remove these two
`$wp_query->is_archive() && !$wp_query->is_search()`

Maybe even this one `$wp_query->is_main_qu

[2019-12-03 13:02] samikeijonen opened #1579 "Autosuggest triggering in all input[type="search"]"
**Is your enhancement related to a problem? Please describe.**
I think autosuggest triggering in all `input[type="search"]`. In site there can be other search fields which are not related to ElasticSearch.

**Describe the solution you'd like**
Being able to define which search fields will have autosuggest. This can be class value.

Or set a class which disable autosuggest.

[2019-12-05 12:42] MediaMaquina commented on #1579
Hi, this option already exist on dashboard -> Elasticpress (unless i didn't understand you?)
![settings](https://user-images.githubusercontent.com/8179611/70236319-01f21700-1765-11ea-9daa-55592d50dddb.png)

[2019-12-05 13:11] MediaMaquina opened #1584 "Help getting https to work?"
So far i got this working via `http://ip:9200` which is OK. But for auto-suggest i need https since the main page is already https and the browser will block http requests on front end.

So i created a sub-domain (i'm using cloudflare, [flexible encryption](https://support.cloudflare.com/hc/en-us/articles/200170416-End-to-end-HTTPS-with-Cloudflare-Part-3-SSL-options) -the one that works without a

[2019-12-05 16:08] samikeijonen commented on #1579
@MediaMaquina Is this for **additional** fields, not actually replacing the default fields? My hunch is yes but I don't have access to that page in my use case (client site).

[2019-12-05 16:27] brandwaffle commented on #1584
Hi @MediaMaquina,

Unfortunately this support list is only for the ElasticPress plugin itself. It sounds like you're dealing with an issue between CloudFlare and the Elasticsearch server you've set up. I'd recommend asking in the Elastic forums or perhaps reaching out to CloudFlare support.

Once HTTPS is up and running for your Elasticsearch instance, ElasticPress will be fully compatible--in fac

[2019-12-05 16:27] #1584 closed

[2019-12-05 18:25] MediaMaquina opened #1586 ""Custom Search" and "Manage Search Fields & Weighting" don't work for me"
Hello, this 2 features do not work for me.

1. I created a custom search and the page that is supposed to come up first does not come up at all (type is "page").
2. I set the weight of titles at 100 and content at 1 but still posts with query present in content comes up first and exact match titles come up after on results.

I have this on my functions so maybe it's breaking it? Should i change it

[2019-12-05 18:28] tott commented on #1586
Can you try changing the filter to a different priority.
`add_filter( 'ep_formatted_args', 'set_to_exact', 10, 2 );` to `add_filter( 'ep_formatted_args', 'set_to_exact', 30, 2 );`
The search weighting is applied with priority 20 so it might interfere with your filter when it runs before this.

[2019-12-05 18:50] MediaMaquina commented on #1586
Thanks it's alright now.

[2019-12-05 18:50] #1586 closed

[2019-12-05 20:17] commercial-hippie opened #1587 "ep_delete_post function"
I see a lot of the issues that have been closed mention a `ep_delete_post` function but I can't find it in the codebase.  Is it something that was removed?  What would be the alternative to use to remove a single post from a index?

Thanks!

[2019-12-06 15:43] razorfrog commented on #1440
+1

[2019-12-08 16:14] peeyooshk opened #1588 "Plugin compatibility issue with Perfect Woocommerce brands plugin"
**Describe the bug**

When using with Perfect Woocommerce brands plugins, the brand pages show products from all brands instead of showing from the selected bran alone.
**Steps to Reproduce**

1. Go to '...' Brand page
2. Click on '....' Any brand
3. Scroll down to '....'
4. See error You would see products from all brands instead of the selected brand.

**Expected behavior**

**Screenshots**

**E

[2019-12-09 09:25] jonathan-dejong commented on #1525
I'd also like some info on this :)
I totally get that this is an open source solution and I deeply respect the time and effort being but into it!

It looks like 6.4 has already reached a sort of EOL from Elasticsearch tho and EP is not keeping up. Do you need more maintainers? Is this project becoming less of an interest to you guys?
I understand the fickle nature of OS sometimes but there's also

[2019-12-09 14:45] jonathan-dejong opened #1589 "Turning on Facets ignores ep_integrate false."
**Describe the bug**
Turning on Facets ignores setting `$query->set( 'ep_integrate', false );` using pre_get_posts.

**Steps to Reproduce**
1. Activate facets.
2. Disable EP for a supported public custom post types archive by using the `pre_get_posts` action hook and setting `$query->set( 'ep_integrate', false );`.
3. Visit the archive with the Debug bar extension and see that it ignores the chang

[2019-12-09 16:16] wss-chadical commented on #1525
I heard Q2 of 2020

[2019-12-09 16:58] brandwaffle commented on #1542
Hi @dciphered we're in the active testing phase for 7.5 compatibility! Please try out the develop branch on your staging/dev sites and let us know how things are working!

[2019-12-09 17:02] brandwaffle commented on #1525
We just merged Elasticsearch 7.5 compatibility into the develop branch and are actively seeking testing on non-production sites. Our goal is to merge this into the production plugin by EOY 2019 to ensure we're within the EOL support for 6.4 (which ends Feb 23, 2020 https://www.elastic.co/support/eol).

[2019-12-09 17:20] wss-chadical commented on #1525
Noice.
@brandwaffle Does that include 7.4?

[2019-12-09 18:08] tlovett1 commented on #1525
Yes, it does.

[2019-12-09 18:21] wss-chadical commented on #1525
Awesome - I'll give it a go in dev.

[2019-12-09 18:52] mjgrasso opened #1590 "v3.2.6, Stuck syncing"
**Describe the bug**

Started indexing via command line and am getting this error with your elasticpress plugin:

Adding post mapping...
Success: Mapping sent
Indexing posts...
Processed 185/185...
PHP Notice:  Indirect modification of overloaded element of WP_Hook has no effect in /var/www/public/wp-content/plugins/elasticpress/includes/classes/Command.php on line 1192
Notice: Indirect modificati

[2019-12-09 19:16] mjgrasso commented on #1590
Also, what's the command to kill indexing via CLI?  This is not clear in the documentation.

Thanks!

[2019-12-09 20:33] brandwaffle commented on #1590
@mjgrasso can you please provide the current WP version, theme name (or indicate a custom theme if applicable) and list of plugins currently running on your site?

Also, are you running WP in single site or network mode? Thanks!

[2019-12-09 20:51] mjgrasso commented on #1590
WP Version: 5.2.4
Theme: Custom
WP Single Site:  Yes
Plugins:

- ACF: Better Search
- Admin Menu Editor
- Advanced Access Manager
- Advanced Custom Fields PRO
- All In One WP Security
- Breadcrumb Trail
- Broken Link Checker
- Debug Bar
- Debug Bar ElasticPress
- ElasticPress
- Google Analytics Dashboard for WP (GADWP)
- iframe
- Simple 301 Redirects
- Simple Wp Sitemap
- User Role Editor
- WooCom

[2019-12-10 01:37] guy-bouchard commented on #1542
Hi,
I've just tested the last 7.5 compatible version of Elasticpres. The month, days and time are correct but years is always 1970.

I tried all the possible options for date and time in WP

Fresh WP 5.3
Fresh elastic 7.5
and new dev branch of elasticpress

[2019-12-10 14:43] jonathan-dejong opened #1591 "Secure ES after 6.2?"
**Describe your question**
Hi!
I'm just wondering how one should go about securing the ES installation on a server now with ES 6.4 (and later 7.n)?
From what I can tell ES shield is no longer supported by ES (after 5.n).
I'm guessing one should use X-pack with later versions and that basic security does not require a paid service from ES.. But how will that work with EP?

[2019-12-10 16:40] #1522 closed

[2019-12-10 16:54] brandwaffle commented on #1570
@jayhill90 the Stream plugin might help with this by showing you a trace of who (if anyone) kicked off a re-index in the dashboard or changed ElasticPress settings which would cause a reindex.

[2019-12-10 17:02] brandwaffle commented on #1553
@jt-alex we have identified some JavaScript in the plugin that is causing this header to be emitted incorrectly. We're working on a fix.

[2019-12-10 23:43] mlaroy commented on #1579
@samikeijonen that's right, this field doesn't replace default fields, but only adds to them. Default fields currently include `.ep-autosuggest`, `input[type="search"]`,  and `.search-field`,

[2019-12-11 20:02] tlovett1 commented on #1587
[code]

[2019-12-11 20:02] #1587 closed

[2019-12-12 12:03] tott opened #1595 "Single node warning displayed for all new setups"
**Describe the bug**
The site health method which appears when a site is using only one node does not account for new setups where no initial sync has occured. This commit ensure a proper host is set and that at least one sync has happened before displaying the notice.

**Steps to Reproduce**
Install ElasticPress on a new site which did not yet get indexed. The warning message will be displayed re

[2019-12-12 22:21] #1589 closed

[2019-12-12 22:34] #1570 closed

[2019-12-12 22:35] tlovett1 commented on #1577
@alecgeatches I appreciate the thorough report, and you are definitely correct.

Elasticsearch is not good a substring matches similar to SQL like. In order to accomplish that, we'd likely use ngrams. However, those slow things down and take up space so we wouldn't want to add them to every meta value.

I'd suggest creating a special mapping field for whatever you are trying to do. I'm not sure we

[2019-12-12 23:17] tlovett1 commented on #1576
@ognjanovic can you post some steps to reproduce the issues? Are you saying the following isn't supported:
[code]

[2019-12-12 23:33] ognjanovic commented on #1576
Try to use it on any custom tax archive page for example, you’ll get all posts, not just the ones with that custom tax.

I didn’t try using it on custom queries, just reproduced the issue on builtin wp queries.

[2019-12-13 02:51] #1569 closed

[2019-12-13 06:40] alecgeatches commented on #1569
@tlovett1 Thanks for the fix!

[2019-12-13 15:48] wss-chadical commented on #1588
@peeyooshk Fyi - this same behavior is happening for us using the [Woocommerce Brands](https://docs.woocommerce.com/document/wc-brands/) plugins as well. Of course - only happens when EP indexing for Protected Content is enabled.

This happens using ES 5.4 (EP master) and ES 7.4 (EP develop)

The question here is:
How do I configure ES to search on Woocommerce Brands?

All brands in the WC plugin

[2019-12-13 15:58] wss-chadical opened #1601 "EP 7.4 (develop) Reindex via browse admin works, but not via wp elasticpress command line"
**Describe the bug**
Using develop branch, ES 7.4 with ingest, Only index settings not turned on are Auto Suggest and User Content.

Running index from wp command line results in "Request Entity Too Large" error.

!! Reindexing works fine via wp browser admin.

**Steps to Reproduce**
wp elasticpress index --setup --show-bulk-errors

**Expected behavior**

**Screenshots**
Console:
[code]
Logs:
[cod

[2019-12-14 21:17] MediaMaquina opened #1603 "Make Facets 404 if term doesn't exist?"
Hello, in the past i used another plugin called "[Beautiful Taxonomy Filters](https://wordpress.org/plugins/beautiful-taxonomy-filters/)" it created urls like so:
`https://example.com/language/english/page/2/` (where language is the custom taxonomy and english is a term)
I now use facets, problem is. That these urls were linked on the internet so now that url redirects to:
`https://example.com/?fi

[2019-12-16 08:04] jonathan-dejong commented on #1525
Really nice @tlovett1 !
How will these updates tie in with ES shield no longer usable in favor of Xpack?
https://github.com/10up/ElasticPress/issues/1591

[2019-12-17 16:49] jeffpaul commented on #429
@tlovett1 does https://10up.github.io/ElasticPress/ suffice for this?

[2019-12-17 17:59] brandwaffle commented on #429
@jeffpaul @tlovett1 I do believe it does!

[2019-12-17 17:59] #429 closed

[2019-12-17 21:16] ethanclevenger91 commented on #225
I'd actually like to see this re-opened with admin interfaces to go with it. It would open the door to running an index of only un-indexed content as well.

For instance, I'm indexing content on a site w/ 290K documents. It's running in an auto-scaling environment, so occasionally a box is killed while the CLI process is running. My only mechanism for picking up where it left off is to use `--offs

[2019-12-17 22:51] ethanclevenger91 opened #1604 "Image block and post_mime_type"
**Describe the bug**
The Gutenberg image block adds `'post_mime_type' => 'image'` to the media modal's search queries (the `query-attachments` AJAX action). The classic editor didn't add this parameter.

ElasticPress translates post_mime_type to an exact match, but in `wp_post_mime_type_where()`, which WP_Query uses to parse that argument, if there's no `/` in the post_mime_type, the resulting SQL

[2019-12-18 14:51] tott commented on #1590
@mjgrasso we're currently still trying to reproduce this issue. Meanwhile, to answer your question - you can cancel the wp-cli indexing by hitting CTRL-C and then deleting the transient that locks the indexing through `wp transient delete ep_wpcli_sync`

[2019-12-18 23:08] tott commented on #1590
@mjgrasso while this is not yet a solution to the root cause of your issue it would be great if you could give this version with a workaround for this issue a try https://github.com/10up/ElasticPress/archive/fix/1590-workaround.zip

[2019-12-19 16:27] rferguson10 opened #1605 "Missing terms for non-english posts in index"
I've noticed no issues with english posts terms being included in the index, but sparingly I find a lot of french posts either not having terms included or missing some.

An interesting point to mention is that when I save a post in question individually (versus bulk index), then the data reaches the index correctly.

The other weird artifact about this situation I've noticed is that while during

[2019-12-19 17:30] tott commented on #1605
@rferguson10 can you advise what type of plugins / methods you are using to achieve the multiple languages. Is it a site per language, are you having multiple languages in one site? Are you using a multi-language plugin?

[2019-12-19 18:07] rferguson10 commented on #1605
This is just a single site with 2 languages via WPML

Both languages are indexed via this hook:

/**
 * Make sure all languages are indexed
 * https://github.com/10up/ElasticPress/issues/477
 */
add_filter('ep_index_posts_args', function($args) {
    return array_merge($args, [
        'suppress_filters' => true
    ]);
});

[2019-12-19 23:04] ethanclevenger91 commented on #1601
I believe the bulk size is managed independently between the browser index functionality and the CLI version. I imagine they are currently set differently and one is larger than the other. Check your setting in the admin, and use that value for the following:

`wp elasticpress index --setup --show-bulk-errors --per-page=##`

[2019-12-20 07:54] ognjanovic commented on #1576
Hi @tlovett1 ,

As far as I can see you didn't fix custom taxonomy query bug in the latest release?

[2019-12-20 17:05] brandwaffle commented on #1576
@simplenotezy do you have the WooCommerce Feature for ElasticPress active? It handles all the common WooCommerce attributes and enables support for Custom Product Attributes. If you've got this active and it's still not working, could you please install the Debug Bar and Debug Bar ElasticPress plugins and share the results of the JSON queries that are being sent to your Elasticsearch server?

@ogn

[2019-12-20 17:07] brandwaffle commented on #1576
@ognjanovic can you also post a screenshot of the Weighting Engine settings for the custom post type that you're looking at the tax archive for?

[2019-12-20 17:55] wss-chadical commented on #1601
Cool, yes I've noticed that the command line is using a different bulk size. I will give that a try.

[2019-12-20 19:05] columbian-chris opened #1608 "able to get site_url?"
Is there was a way I can cURL Elasticsearch indexed via ElasticPress to get wordpress options such as the site URL?

[2019-12-20 19:08] brandwaffle commented on #1608
@columbian-chris we don't currently index options (the plugin only indexes posts and CPTs, plus optionally users). You could create an options Indexable, however, if you want to store this info in the Elasticsearch index. I would caution though that the latency of connecting to Elasticsearch (even locally) usually makes this less efficient than just querying MySQL (even more so if you have a cachi

[2019-12-20 19:08] #1608 closed

[2019-12-20 19:15] brandwaffle commented on #1604
@ethanclevenger91 agreed this would be a good thing to get working. Currently, the only way I'm aware of to create a partial match in Elasticsearch is to map this particular field with the ngram analyzer, which enables partial string matches. That could create some indexing overhead, so I'm also wondering if perhaps we could shortcut this by splitting the 'image/<format>' string into an array of e

[2019-12-20 19:17] columbian-chris commented on #1608
Appreciate the answer, @brandwaffle. I'm assuming CPT stands for "custom post type"?

[2019-12-20 19:52] brandwaffle commented on #1608
@columbian-chris Yup!

[2019-12-20 20:24] mjgrasso commented on #1590
Thanks for your help.  Unfortunately, the client has too short of a timeline for vetting this solution.  We chose to implement Algolia search instead.

I've used ElasticSearch on other projects, I know that it could be the right solution for robust Wordpress search requirements... Ideally, it would be great if ElasticPress was a bit more "devloper friendly".

I was able to get Algolia up and runni

[2019-12-20 20:46] brandwaffle commented on #1590
@mjgrasso I'm sorry we ran into this bug during the indexing process, and I suspect that caused a cascade of issues which caused you to have to do way more debugging than we'd ever want a client to have to experience.

I would say that a week's worth of setup time is far more than most ElasticPress installs require, and our goal is to provide a tool that works "out of the box" rather than requirin

[2019-12-20 22:16] #1601 closed

[2019-12-20 22:17] wss-chadical commented on #1601
wp elasticpress index --setup --show-bulk-errors --per-page=50
That worked....

[2019-12-23 16:03] alecgeatches opened #1609 "WP_User_Query returns objects when 'fields' => 'ID' is queried"
**Describe the bug**

Adding `ep_integrate` to a user query with `'fields' => 'ID'` returns an array of objects, which is different from the default behavior for returning just the user IDs.

Default behavior:

[code]

EP behavior:

[code]

**Steps to Reproduce**
1. Create a `WP_User_Query` with the `'fields' => 'ID'` and `'ep_integrate' => true` parameters.
2. Observe that the results of the quer

[2019-12-26 13:30] alecgeatches commented on #1609
It's also worth noting that [`WP_User_Query` defaults to `ID`](https://core.trac.wordpress.org/browser/tags/5.3/src/wp-includes/class-wp-user-query.php#L248) if any non-array value is passed into the query. I've noticed that some legacy code incorrectly uses:

[code]

and WordPress will return an array of IDs as the result. I'll fix them for my particular case, but it would be great if ElasticPres

[2019-12-27 12:16] ognjanovic commented on #1576
Hi @brandwaffle ,

Here is the screenshot

[2020-01-02 18:48] jonathan-dejong commented on #1591
No one sitting with an answer? Did I stumble upon something forgotten or …?

[2020-01-02 19:01] brandwaffle commented on #1591
Hi @jonathan-dejong from a quick look at the ES documentation, they still support username/password basic auth. In other words, this should still work the same as it did pre-6.2 (though obviously the process to set up ES with this method of authentication may have changed). Are you seeing something different?

[2020-01-03 08:27] jonathan-dejong commented on #1591
Hi @brandwaffle
Thank you for the answer :)
Hmm well I don't see *how* to set it up at all tbh.

[2020-01-03 11:58] MichaelSchober opened #1610 "Autosuggest - no results, loading indicator"
**Describe your question**
I couldn't find anything in the docs or in the issues, so I am asking here. I hope thats alright.

1. Is there a way to add a Custom text which will be displayed in the results if autosuggest requests returns 0 results being found?
2. Is there a way for Autosuggest to show that currently new results are being loaded?

If the answer in both cases is no, can I add enhancem

[2020-01-03 16:02] brandwaffle commented on #1591
Hi @jonathan-dejong I think this section of the ES documentation covers authentication: https://www.elastic.co/guide/en/elasticsearch/reference/current/secure-cluster.html

It seems perhaps the simplest way to get up and running would be to follow this approach: https://www.elastic.co/guide/en/elasticsearch/reference/current/file-realm.html

That said, ElasticPress.io employs a separate, custom au

[2020-01-03 16:07] brandwaffle commented on #1610
Hi @MichaelSchober thanks for submitting this ticket!

For #1, I think that's a great idea. You could likely pull this off with some filters and a bit of clever JS at this point, but I certainly feel it's a worthy feature and we should add it to the plugin. Can you create a new ticket for the enhancement and please drop in any mockups or even just sketched out layouts for how you would see the UX

[2020-01-03 16:17] brandwaffle commented on #1605
@rferguson10 have you tried a bulk index via WP-CLI with the --show-bulk-errors flag added? We do sometimes see an issue where the total number of distinct meta fields grows too large for Elasticsearch to handle (this often happens with Advanced Custom Fields which builds repeaters as separate fields). It could be that the second language is adding some similar meta and eventually just hitting the

[2020-01-03 16:27] rferguson10 commented on #1605
I am using ES directly to query for my search. I've also always run show bulk errors each time I run an index and nothing comes up. I've even set the index index.mapping.total_fields.limit to 9000 to make sure no limits are causing this issue.

[2020-01-03 17:01] brandwaffle commented on #1605
@rferguson10 ok, we've covered the obvious stuff. Now on to the esoteric 😃

Are you getting any non-200 results on any of the ES queries when you view the server logs? Do you have logs that show the query body that you could reference by any chance?

If you turn off English and test with just French, are the results the same or different? Have you tried with a small set of test posts to see if a p

[2020-01-07 15:10] websuperhero opened #1611 "Compatibility issue with plugin Woocommerce Brands."
Hello,

I found that Woocommerce Brands plugin (Official WooCommerce plugin, https://docs.woocommerce.com/document/wc-brands/?_ga=2.150949310.920091466.1578403700-2130342966.1566608674 ) conflicts with the ElasticPress.
The Woocomerce Brands plugin doesn't show results of any brands filters when the ElasticPress is active.

Wordpress version: 5.3.2
ElasticPress version: 3.3
WP Theme: Flatsome vers

[2020-01-07 15:55] brandwaffle commented on #1611
@websuperhero thanks for the report, we will take a look shortly! Can you confirm that you ran a full reindex of ElasticPress after activating the Brands plugin? If not, can you try that as well?

[2020-01-07 16:00] websuperhero commented on #1611
@brandwaffle I have reindex the ElasticPress many many times because I tried many times to find a solution and for troubleshooting purposes.

[2020-01-07 16:09] brandwaffle commented on #1611
@websuperhero That's what I suspected 😄

We'll dig in and update this ticket as soon as we learn more!

[2020-01-07 16:32] #1525 closed

[2020-01-07 16:32] #1591 closed

[2020-01-07 16:33] #1595 closed

[2020-01-07 16:36] tlovett1 opened #1612 "Notice during CLI indexing"
There is an overload notice during syncing.

[2020-01-07 16:38] #1553 closed

[2020-01-07 16:43] #1542 closed

[2020-01-07 16:44] tlovett1 commented on #1609
@petenelson

[2020-01-07 16:44] #1541 closed

[2020-01-07 16:58] #1346 closed

[2020-01-07 18:27] twhid opened #1613 "http_request_args filter is not run in settings screen"
**Describe the bug**
The `http_request_args` filter is not run when EP makes a request to elasticsearch in the WP admin, specifically on the settings page of the plugin.

My scenario is that I'm adding headers to requests to my elasticsearch server running in AWS to authorize the requests.

If I index via the cli, everything works properly and the settings screen works as expected for a time. Howe

[2020-01-08 05:08] tlovett1 commented on #1590
@mjgrasso mind if we email you a few more questions? We really want to solve this one. taylor.lovett@10up.com

[2020-01-08 05:11] tlovett1 commented on #1556
@jschultze mind emailing me at taylor.lovett@10up.com? I'd love to ask you a few questions about the issue so we could get this solved for others.

[2020-01-08 14:48] zandergrin opened #1615 "change default search from OR to AND"
**__Have you searched for similar issues before submitting this one?__**
I have found this post  -  https://github.com/10up/ElasticPress/issues/1154 - but this is a bit broader than what I am looking for, which is a basic toggle of functionality

**__Is this a bug, question or feature request?__**
Question

**__Describe the issue you encountered:__**

By default, with elasticpress enabled, search

[2020-01-08 15:42] tlovett1 commented on #1493
Hey all, we will readd the hook in 3.4. Use the develop branch if you want the fix now.

[2020-01-08 15:44] #1493 closed

[2020-01-08 17:00] brandwaffle commented on #1615
Hi @zandergrin you can currently change this using some code--instructions are here https://www.elasticpress.io/blog/2019/02/custom-search-with-elasticpress-how-to-limit-results-to-full-text-matches/

We are also considering adding a toggle feature for this in the ElasticPress dashboard.

[2020-01-08 17:02] fabianmarz commented on #1504
Just some short notes on how I managed to set up autosuggest on EP 3.3:

**Endpoint URL**: `/ep-autosuggest`

**Nginx Config:**
[code]

The Nginx config is a slightly modified version of the one from: https://github.com/10up/elasticpress-autosuggest

[2020-01-08 17:39] zandergrin commented on #1615
Thanks @brandwaffle, I did see and it's not quite what I'm after - that's a full text match, or exact match... we're after and AND, so they can be in separate places.

So those instructions seem to be to only show exact matches for **"London Cinema"**
We want posts which contain the words **London** AND **Cinema**, but no necessarily together... unless I'm misreading the instructions.

A toggle wo

[2020-01-08 17:52] brandwaffle commented on #1615
@zandergrin that change will match on any posts with **London** and **Cinema** anywhere in a single field, and will prioritize results based on how close the results are. So "London Cinema" will appear above "London has a variety of Cinema locations" but both will appear in results.

[2020-01-09 09:42] zandergrin commented on #1615
Thanks @brandwaffle - ah I misread that content then... actually that works brilliantly, but with one issue. It stops the correction for misspelling working...

So before this change you could misspell **London** as **Londn** and it would find results
after this change it no longer recognises the misspelling

[2020-01-09 13:06] fabianmarz commented on #1251
@tlovett1, as there is still no way to modify the search results in the most recent version could you please give a short statement about my suggestion as you closed this issue without commenting it. In order to be able to replace SearchWP properly, we need to rely on adjusting the search results template.

Here's the code I prepared for the most recent EP version to add new data to the search ite

[2020-01-09 21:44] nickohrn commented on #1556
I have also encountered this issue in our integration and am now using a similar workaround to the one that @jschultze proposed above. Here is a, somewhat ineloquent, test case that you can run from the command line using `wp eval` that will output a representation that shows the problem:

[code]

The prepared meta values array looks like this:

[code]

ElasticSearch rejects the `date` and `dateti

[2020-01-09 23:59] morganestes commented on #1502
After enabling X-Pack Security on an Elasticsearch 6.8 cluster, the `.security-6` index appears in the list, also. Not sure if it's because I'm using a custom role with excessive privileges, or if it's part of the same multi-index issue (previously I saw indexes for development and production sites that are connected to the same instance).

[2020-01-10 00:40] ethanclevenger91 opened #1618 "Facets disrupting home page query results"
**Describe the bug**
When I enable Facets, I no longer see all my posts in reverse chronological order on the out-of-the-box homepage.

**Steps to Reproduce**
Ehh, not 100% sure. Facets enabled.

Query Args:

[code]

Query Body:

[code]

Not sure if anything there sticks out. As you can see I am including a custom post type in the main query. That may be related? Here's the code that registers tha

[2020-01-10 00:41] ethanclevenger91 commented on #1618
Reminds me a lot of [this issue](https://github.com/10up/ElasticPress/issues/1193).

[2020-01-10 02:28] tlovett1 commented on #1588
Should be fixed in #1617

[2020-01-10 02:33] tlovett1 commented on #1618
Can you reproduce with no other plugins activated and a default theme? Have you tried reindexing?

[2020-01-10 02:36] tlovett1 commented on #1604
This is admin search correct @ethanclevenger91? I assume you have the Protected Content feature enabled?

[2020-01-10 02:37] tlovett1 commented on #1611
#1617 should fix this.

[2020-01-10 14:49] fabianmarz opened #1620 "Migrate autosuggest from JS to PHP?"
**Is your enhancement related to a problem? Please describe.**
- It's currently not possible to adjust autosuggest search results

**Describe the solution you'd like**
- I requested comments on a suggested JS change which introduces hookability via JS using jQuery `triggerHandler` in https://github.com/10up/ElasticPress/issues/1251#issuecomment-572552684
- While this might not be the best solution

[2020-01-10 17:59] ethanclevenger91 commented on #1618
It's occurred to me that content is indexed by ID descending, which means that newer content is at the front of the indexing process.

We have a lot of content and hadn't been able to index in one go (and were debugging some other stuff) so I had been picking up indexing "where I left off" by using the `--offset` option.

Of course, that means any content that had been created between indexing eff

[2020-01-10 17:59] #1618 closed

[2020-01-10 18:00] ethanclevenger91 commented on #1604
Admin - correct. I didn't have the Protected Content feature enabled, though I'm enabling it now after better understanding what it does.

[2020-01-12 16:54] peeyooshk commented on #1588
I tested with the plugin version 3.3 and the issue persists.

[2020-01-12 16:55] peeyooshk commented on #1588
Just to mention i used Amazon elastic search 7.1.

[2020-01-12 18:13] brandwaffle commented on #1588
@peeyooshk can you test with the develop branch? This fix is not present in 3.3. Thanks!

[2020-01-13 05:09] tlovett1 commented on #1609
Fixed in #1621

[2020-01-13 05:10] #1609 closed

[2020-01-13 05:23] tlovett1 commented on #1557
@kevinstaldersmg is this fixed?

[2020-01-13 10:32] alecgeatches commented on #1609
@petenelson @tlovett1 Much appreciated. Thank you!

[2020-01-13 13:04] kevinstaldersmg commented on #1557
Yes. Sorry. I think it wasn't anything related to a ElasticPress plugin
bug. It looks like I may had a debug plugin which turned on debug logs for
elasticpress which slowed everything down. Thanks!

Best,
*Kevin Stalder*
*Development Manager*

Sanctuary - A Digital Marketing Group

Partners In Marketing, Leaders In Growth.

www.sanctuarymg.com

*Connect with me:*

Address:

219 E. Maple St., Ste 1

[2020-01-13 16:46] brandwaffle commented on #1517
@lapak10 by default, ElasticPress should return the results for "ElasticPress is a awesome" based on fuzzy matching. Can you install the Debug Bar and Debug Bar ElasticPress plugins and share the results of your WP and EP query bodies? Thanks!

[2020-01-13 16:52] brandwaffle commented on #1620
@fabianmarz have you looked at Autosuggest.php in the last couple weeks? We have made a bunch of changes to move a lot of the logic into PHP (to maintain parity between results from autosuggest and standard searches when people customize the Weighting Engine).

As to why we don't run through WP, that is certainly possible (you can create a simple PHP file now and specify its URL as your Autosugges

[2020-01-13 17:18] JoshuaCrewe commented on #1615
I would like to chip in here too. I have been having a play around with this scenario. I have caught on to one thing @brandwaffle mentioned a short while ago :

Is it a viable situation to have it match across fields? So if **London** was in the title but **Cimema** was a category term it would still return the post. Or is that going against the basic premise?

[2020-01-13 17:27] fabianmarz commented on #1620
@brandwaffle, thanks for the clarification. Not in detail just had a look if it's possible to customize the search results in the meanwhile.

I totally get the point of querying the endpoint directly as the mentioned performance WP bottleneck. That's also why I suggested some JS logic in #1251. Maybe there's a PHP solution using a custom controller and making use of the `WP_USE_THEMES` constant to

[2020-01-13 17:35] fabianmarz commented on #1251
@brandwaffle, as mentioned in #1620 here is the desired look of the search results which we currently achieve by using SearchWP.

We have a (scrollable) container containing the following information:
- Product title
- Product image
- Meta key/value pairs (delivery time, price, sale price)

![image](https://user-images.githubusercontent.com/863823/72277635-8a03f000-3632-11ea-9465-898a469ad091.png)

[2020-01-13 17:44] brandwaffle commented on #1615
@JoshuaCrewe it's definitely possible, but it does take a bit of code to filter the typical query. For what you're describing you want to use the `cross_fields` (instead of `phrase`) multi_match query `type`. You can read more about how that works here https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-match-query.html#type-cross-fields

We haven't built this into the

[2020-01-13 18:51] brandwaffle commented on #1251
@fabianmarz thanks for the example! What I'm looking at looks more like dynamic search results refreshed via AJAX and appearing in the same place normal results would. If this is the case, we are working on an AJAX results feature and would likely be able to accomplish what you're doing here quite easily, as this new feature would simply use a template partial for your theme to generate each AJAX

[2020-01-13 19:48] brandwaffle opened #1622 "Weighting Engine uses wrong name for author field"
**Describe the bug**

The weighting engine uses the field `author_name` to map to the weighting of the Author. Unfortunately it's not being translated into an ES field. For example, in the Posts indexable we map the author_name to the `post_author.login.raw` field https://github.com/10up/ElasticPress/blob/941b5c69e1b0622babe3c54852e03a1a91b70d33/includes/classes/Indexable/Post/Post.php#L831-L835

[2020-01-13 20:04] brandwaffle commented on #1622
I did a bit of basic testing and it seems updating the key value for the field in the Weighting.php file solves this https://github.com/10up/ElasticPress/blob/8b3378838478688a94450ee8668353ec517009f9/includes/classes/Feature/Search/Weighting.php#L54

We'll want to make sure that's the case and also consider that previous versions of the plugin use author_name and therefore if we have a stored valu

[2020-01-13 22:01] fabianmarz commented on #1251
Wow sorry. I think I got it now 🙈 Those are two different kind of concepts which I misused and misunderstood as I just saw the AJAX live results and thought it would do the job. On our current implementation typing "tisch" in the search bar shows the same results as calling the WP search results page `?s=tisch&post_type=product` which will be redirect to, when clicking "alle Ergebnisse". This is w

[2020-01-14 09:39] JoshuaCrewe commented on #1615
@brandwaffle thanks for the response! I think I am following your logic. I am going to dig through the documentation you linked to and see if I can effect a change in results. Win or lose I will report back here for completeness.

[2020-01-14 16:47] brandwaffle commented on #1612
See #1590 for notice details.

[2020-01-15 19:21] tamara-m opened #1625 "Autosuggest endpoint with ElasticPress 3.3 & ElasticSearch 7.5 stopped working"
We have a working autosuggest endpoint using ElasticPress 3.3 and ElasticSearch 5.6, it works perfectly and returns [results correctly as in this example response here](https://gist.github.com/tamara-m/e4903308081a6eae8994d3d5a591ab86)

We are attempting to upgrade to ElasticSearch 7 so created a new deployment with version 7.5.1, and re index the site.

Regular queries work correctly after the up

[2020-01-15 19:36] brandwaffle commented on #1625
Hi @tamara-m I'm not sure how much help it will be, but the only thing I can think of (besides a reindex, which is required after activating the Autosuggest feature) is that the mapping has changed with ES 7.x and perhaps you have some code running between the site and the autosuggest endpoint that requires the previous request format? If you can share any details about your autosuggest setup, tha

[2020-01-15 19:44] brandwaffle commented on #1026
Appears resolved based on a review of WooCommerce Subscriptions Github issue #2529. Closing this.

[2020-01-15 19:44] #1026 closed

[2020-01-15 19:51] brandwaffle commented on #1380
@krunalpuri in order to boost a single field in the search, you can simply append the integer to the entry inside each multi_match array, like this `"terms.category.name^5"`. That said, I would highly recommended not using Post View Counter or any plugin that writes post view counts to the database, as these could easily bring down your site if it encounters any significant traffic (certainly on a

[2020-01-15 19:51] #1380 closed

[2020-01-15 20:04] nickdaugherty opened #1626 "Don't index revisions when protected content indexing is enabled"
**Is your enhancement related to a problem? Please describe.**

When enabling the "index protected content" feature, revisions are included in the indexed post types, which can drastically inflate the index size (and time to reindex) without providing much value.

**Describe the solution you'd like**

Revision indexing is disabled by default when protected content is indexed, as having them indexe

[2020-01-15 22:09] tamara-m commented on #1625
Hey @brandwaffle thanks so much for the reply.

First thing I did was indexing, so that should not be it. Also, as mentioned regular searches that are not autosuggest, do return results and with `elasticshearch_success => true`

I dont *think* it's server config related either, as I do get a successful response from ES, just with no hits, but will do the local testing anyway first to rule it out a

[2020-01-15 22:16] brandwaffle commented on #1626
@nickdaugherty seems legit. Give me a day or two to think of any exceptions, otherwise this feels like a solid change to add.

[2020-01-16 03:16] tlovett1 commented on #1626
Makes sense to me.

[2020-01-16 05:16] brandwaffle commented on #1625
Hi @tamara-m, yes, I just tested with EP 3.3 and ES 7.5 using WP Local Docker and I'm seeing autosuggest results. Of course, this is connecting directly from the browser to the Elasticsearch endpoint.

Your endpoint PHP code does seem pretty straightforward and the $params query seems fine at first glance, but in terms of testing, I would ensure that you still don't get results if you plug in your

[2020-01-16 05:36] brandwaffle commented on #1545
I was able to sync a site through the dashboard with 423,000 test posts in it. I'm closing this for now. Please feel free to open a new ticket if you encounter this issue with ElasticPress 3.3.

[2020-01-16 05:36] #1545 closed

[2020-01-16 05:38] brandwaffle commented on #1528
@pratham2003 by default ElasticPress does include the typical English stop words as part of its analyzer. You can also customize this or the underlying analyzer by filtering the mapping.

You might be running into an issue because by default the search finds results that match some of the words in the search once it exhausts all matches that match all words in the search. You can customize this be

[2020-01-16 05:38] #1528 closed

[2020-01-16 05:47] brandwaffle commented on #1513
@kmcaloon you can change the `_source` value to whatever you'd like using the `ep_formatted_args` filter https://github.com/10up/ElasticPress/blob/941b5c69e1b0622babe3c54852e03a1a91b70d33/includes/classes/Indexable/Post/Post.php#L1298

I'm not sure exactly what you're referring to about bypassing WP_Query fields, as by default ElasticPress is essentially skipping the MySQL query and returning resu

[2020-01-16 05:47] #1513 closed

[2020-01-16 10:14] asharirfan commented on #1497
@brandwaffle I have found the following ticket that discusses the impact of using `switch_to_blog` with other functions that depend on the global arrays like `get_object_taxonomies`.

https://core.trac.wordpress.org/ticket/20541

[2020-01-16 15:28] JoshuaCrewe commented on #1615
So in the end I was able to use `ep_formatted_args_query` filter to replace the query that was being run. Using the debug bar was really helpful to see what what happening under the hood. I was able to set the type to `cross fields`, include the fields I wanted to use in the search and define the operator as `and`.

I get the results that I wanted to get but I feel a bit uneasy overwriting the que

[2020-01-16 15:46] petenelson commented on #1626
FYI, there is one other open PR #1494 that also deals with indexing revisions.

[2020-01-16 16:25] twhid commented on #1192
For folks wondering how to use `ep_prepare_meta_excluded_public_keys` here's an example solution. In `functions.php` of your theme (or wherever you put code specific to particular plugins):
[code]

This goes through each meta key and excludes it if it matches a regex pattern defined in `$excludedKeyPatterns`.

[2020-01-16 16:35] brandwaffle commented on #1615
@JoshuaCrewe don't feel uneasy, feel proud! 😄

Awesome to hear this worked, and you should be totally fine with a custom query--we do it all the time for specific use-cases just like you're doing in this case. If you do find it doing weird things, I'd recommend starting with some additional tests in your code to check for the specific query you want to override and otherwise not applying any custo

[2020-01-16 16:35] #1615 closed

[2020-01-16 16:39] brandwaffle commented on #1626
@petenelson that code looks good to me. Can you review, add tests, and merge? If you run out of time, feel free to reassign back to me.

[2020-01-16 16:41] brandwaffle commented on #1192
@twhid thanks for sharing this! Would you mind if we added this example to our docs?

[2020-01-16 16:44] twhid commented on #1192
I don't mind.

I was just thinking that `$arr` and `$excluded` should perhaps be merged before returning, but it appears in your source code that an empty array is always passed to it (unless you apply that filter in places other than `ElasticPress\Indexable\Post\Post`).

[2020-01-16 16:51] zandergrin commented on #1615
Thanks for your help @brandwaffle - and just to add, I think adding as a toggle feature in the backend would be really useful.

[2020-01-17 09:07] Tii opened #1630 "Problems using EP with woocommerce"
I was trying out elasticpress and I found 3 bugs that keeps me from using it in production.
I am using Woocommerce with Wordpress and all plugins to the latest version.
My Website has more than 200000 orders in the database.

When elasticpress is activate and index is created:

1. In the user's account "my orders" shows orders from .everyone (does not filter on the current user)
2. The Order list

[2020-01-17 09:17] dominikkuen opened #1631 "ngram filter breaks mapping | edge_ngram working"
**Describe the bug**
Can't add filter of type "ngram" to mapping.
Same settings for type "edge_ngram" work.

[code]
**message:**
Adding post mapping...
Error: Mapping failed

**Steps to Reproduce**
1. Add filter of type "ngram" to custom analyzer
2. run wp elasticpress index --setup
3. See error

**Environment information**
EP 3.3
ES 7.5.1

[2020-01-17 11:10] alecoccco93 opened #1632 "Version not recognized"
**Describe the bug**
Hi, i've just installed last version of elasticsearch on my server, but elasticpress give me back this error " Your Elasticsearch version is below the minimum required Elasticsearch version 5.0. ElasticPress may or may not work properly.".

grep
[root@galagant ~]# yum list | grep elasticsearch
elasticsearch.noarch                      6.8.6-1                        @elasticsea

[2020-01-17 14:47] clemorphy opened #1633 "Autosuggest endpoint with self hosted ES : documentation"
I have a self hosted ES server, and I'm trying to use the autosuggest feature of ElasticPress.
I can't find any documentation about how to do this.

I found this plugin : https://github.com/grossherr/elasticpress-autosuggest-endpoint
But it doesn't work with the last versions of ES and EP.

Where can I start ?

[2020-01-17 15:26] clemorphy commented on #1633
I tried with ES 6.0.1 and it works. I think it's the same problem as #1625

[2020-01-17 16:28] brandwaffle commented on #1633
@clemorphy we have tested with ES 7.5 and EP 3.3 on Docker-based Elasticsearch, including Autosuggest, and it works as of the current plugin release. To use autosuggest, you simply need to put in your _search endpoint in the appropriate WP Dashboard field.

If it's not working, and you have username/password auth set up (recommended if you are exposing your ES server directly), you'll need to come

[2020-01-17 16:28] #1633 closed

[2020-01-17 16:31] #1625 closed

[2020-01-17 16:38] brandwaffle commented on #1632
@alecoccco93 can you share a screenshot of the version number of Elasticsearch as it's displayed in the ElasticPress -> Settings menu of the WordPress dashboard? Thanks!

[2020-01-17 16:41] brandwaffle commented on #1631
@dominikkuen I'm not 100% sure, but at first glance I'm wondering if this is because we don't define the ngram analyzer (but do define an edge_ngram analyzer https://github.com/10up/ElasticPress/blob/941b5c69e1b0622babe3c54852e03a1a91b70d33/includes/classes/Feature/Autosuggest/Autosuggest.php#L161 ). Might be worth adding the appropriate analyzer as well and see if that fixes the issue?

[2020-01-17 16:45] brandwaffle commented on #1630
@Tii can you do the following to help troubleshoot each issue:
1. Please show output from Debug Bar ElasticPress plugin that shows the query running on the orders page. Please share both the WP_Query array and the JSON Elasticsearch query.
2. Are you referring to the per-page limit or the total number of results it shows? Can you share some screenshots? This issue seems like it might be a bug we c

[2020-01-17 16:57] alecoccco93 commented on #1632
Hi,

there's no version writed.
I've attached the screenshot as you requested here https://prnt.sc/qp5px1 or attached

![elasticpress](https://user-images.githubusercontent.com/60000133/72630540-d876fe80-3952-11ea-9225-ff89aa38c0a8.png)

[2020-01-17 18:32] brandwaffle commented on #1632
@alecoccco93 it may be an issue with the connection to Elasticsearch then. That error will appear if ElasticPress is unable to determine the version at all, which seems like the case here. I noticed the URL you've used doesn't have a port set. Normally, Elasticsearch runs on port 9200, meaning you should add `:9200` to the end of that URL. Of course, if you're running Elasticsearch on port 80 (or

[2020-01-18 18:44] jeffceriello commented on #1263
Hi Oscar,

I just managed to come back on this issue. I am still trying to exclude meta data but after I do that and resync I still get the same errors
[code]
The meta structure looks like this
`"meta" : {
          "properties" : {
            "_backorders" : {
              "properties" : {
                "boolean" : {
                  "type" : "boolean"
                },
                "dat

[2020-01-19 03:00] maartenhunink commented on #1315
@khelil seems to work beautifully, thanks a lot!

Did you notify the WPML team, so they can fix this in a future release?

[2020-01-19 10:10] jeffceriello commented on #1192
Hi @twhid, thanks so much for your example - it helps a lot. I have tried adding it to my website, like this

[code]

I have removed the regex part because I don't think it applies to my meta keys.

I am not sure I have typed that correctly since it doesn't seem to work. Could you please point me in the right direction?

Many thanks

[2020-01-19 16:33] twhid commented on #1192
@jeffceriello if you have a hard-coded list of keys you can just return that array from the function (there's no reason to filter the meta keys from the post). In my case there were many very similar keys being created by some plugins that I didn't need indexed (and more could be added in the future) so I filtered all they keys on every post by those regexes to generate the exclude list.

Hope thi

[2020-01-19 18:08] jeffceriello commented on #1263
Hi Oscar,

I think I've managed to sort the filter out with the below

[code]

After the resync I now get the below for 14 elements

[code]

What could that be and how could I fix that?
Thanks!

[2020-01-19 21:16] aaronjpitts commented on #1490
Any update on this?

[2020-01-20 08:33] dominikkuen commented on #1631
@brandwaffle I am not using the autosuggest feature.
The ngram filter was working with EP 3.2.1 and ES 5.6

[2020-01-20 09:55] clemorphy opened #1636 "Does fuzziness affect autosuggest ?"
I am modifying the fuzziness through the `ep_fuzziness_arg `filter, and it seems to apply correctly as long as I don't enable autosuggest.

[code]

But when I enable autosuggest, it seems that fuzziness is on again. Is it the expected behaviour ?

[2020-01-20 16:19] brandwaffle commented on #1636
@clemorphy Autosuggest does set the fuzziness to 'auto' with a filter running at the same priority level as yours https://github.com/10up/ElasticPress/blob/941b5c69e1b0622babe3c54852e03a1a91b70d33/includes/classes/Feature/Autosuggest/Autosuggest.php#L86

If you set your filter to run later (aka 11 or higer priority) you should get the desired result.

[2020-01-20 16:25] brandwaffle commented on #1490
@jgmediadesign @aaronjpitts I'm not sure exactly what the use-case is here. Are you attempting to passing a parameter of 8 into a RAND function and apply that to the Elasticsearch query?

Currently, my understanding is that WP_Query only supports a "rand" value for random order, which ElasticPress does support. We don't have any support for any other formats of RAND, but if you can share where thi

[2020-01-20 16:38] jgmediadesign commented on #1490
Probably a bit niche - but if you want to randomly order posts, but also use pagination you need to use a random seed - this may explain things a bit better...

https://core.trac.wordpress.org/ticket/35692

[2020-01-20 16:39] aaronjpitts commented on #1490
Hi @brandwaffle, yes @jgmediadesign is correct.

The number is the seed which provides the random order, but by providing the seed it will ensure the same randomised order will always be shown given that seed. This is critical for pagination etc. and if you want to allow users to share search results by saving the seed.

[2020-01-20 17:03] brandwaffle commented on #1490
@jgmediadesign @aaronjpitts got it, thanks!

Looks like we can do this by adding a `"seed: <integer>"` parameter to our `random_score` function here https://github.com/10up/ElasticPress/blob/5eb81bb04982f09523845fe659d6b9f91180000c/includes/classes/Indexable/Post/Post.php#L1120 if we parse similarly to how WP handles it here https://core.trac.wordpress.org/changeset/36632.

I'll add an enhancement

[2020-01-20 17:13] #1576 closed

[2020-01-20 17:42] khelil commented on #1315
You're welcome @maartenhunink happy to help !

I did notify the WPML Team, but still waiting for the fix. Looks like they have plenty to fix ;)

[2020-01-20 18:21] brandwaffle commented on #1631
@dominikkuen ok, this definitely seems related to newer versions of ES. I found this by debugging the mapping call:
```"{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"The difference between max_gram and min_gram in NGram Tokenizer must be less than or equal to: [1] but was [2]. This limit can be set by changing the [index.max_ngram_diff] index level setting."}],"type":"ille

[2020-01-20 18:32] brandwaffle commented on #1631
@dominikkuen I just realized the error I was seeing was from the `user` mapping. When I changed that index setting as well, I was able to index fine. Looks like the solution would be a conditional filter to the `index.max_ngram_diff` to `2` on post mapping (but not user mapping). If you have the Users feature turned off, of course, you can just add the field to the mapping with a filter.

[2020-01-21 07:11] jeffceriello opened #1638 "mapper_parsing_exception failed to parse - field name cannot be an empty string"
I am trying to implement ElasticSearch with ElasticPress on my WooCommerce website. The website has +16k products. I managed to exclude some meta data by using the filter `ep_prepare_meta_excluded_public_keys` to prevent the many occurred errors like

[code]

The exceeding of the limit caused many products on my website to disappear.

I have used the filter in my functions.php like this

[code]

W

[2020-01-21 09:59] aaronjpitts commented on #1490
Thank you for the update @brandwaffle. Could you please give me an idea on how I could do this in the meantime with `ep_formatted_args` I can't seem to figure out how that filter works.

Many thanks

[2020-01-21 16:27] brandwaffle commented on #1631
@dominikkuen any reason why you're not just filtering the mapping to set that `.index.max_ngram_diff` as I suggested? It's available in `$mapping['settings']` -- you would simply add that declaration as a keyed array element `'index.max_ngram_diff' => 2`

[2020-01-21 16:52] aaronjpitts commented on #1490
I figured it out. For anyone else that may be needed this you can use the below, remember to add a 'seed' property to your WP_Query $args.

[add_filter('ep_formatted_args', function ($ep_formatted_args, $args) {
    if ($args['orderby'] == 'rand') {
        $ep_formatted_args['query']['function_score']['random_score'] = (object) ['seed' => $args['seed']];
    }

    return $ep_formatted_args;
}, 1

[2020-01-21 18:09] brandwaffle commented on #1490
@aaronjpitts @jgmediadesign would you mind testing out the PR submitted above to see if it properly creates seeded random sort queries? Thanks again for submitting this ticket and for the active participation!!!

[2020-01-22 05:53] aaronjpitts commented on #1490
@brandwaffle I just tried the PR and I can confirm it works :)

[2020-01-22 16:43] alecoccco93 commented on #1632
Hi,

we've done this but the problem is still there. How i can do for set elasticsearch + elasticpress without buy external service?

[2020-01-22 17:40] brandwaffle commented on #1632
Hi @alecoccco93, the plugin does work with any Elasticsearch instance which can be accessed via HTTP. That said, Elasticsearch is a complicated piece of technology which can be difficult to set up and configure, ElasticPress.io service.

If you're looking to do some local testing for a proof of concept, WP Local Docker (https://github.com/10up/wp-local-docker-v2) provides a dockerized Elasticsearc

[2020-01-22 17:40] #1632 closed

[2020-01-22 17:55] brandwaffle commented on #1605
@rferguson10 I'm going to close this ticket. If you're still experiencing the issue, feel free to reopen. Thanks!

[2020-01-22 17:55] #1605 closed

[2020-01-22 21:57] aaronjpitts opened #1642 "How can I get autosuggest to use custom fields?"
Hi guys,

Is it possible to make autosuggest include custom fields in its weighting? I have a product post type (not using woocommerce) and it has a 'reference_number' custom field. Ideally, if someone enters that exact reference number it would only show that exact result. Possible in autosuggest?

Cheers,
Aaron

[2020-01-23 04:48] #1613 closed

[2020-01-23 05:15] tlovett1 commented on #1496
Are you saying requests are being made on parts of the site besides `subsite`? That's intended behavior.

[2020-01-23 05:18] tlovett1 commented on #1496
Thinking about this a bit more, here are the scenarios:
1. Active on individual site in network. Indexing without `--network-wide`
2. Network active. Indexing without `--network-wide
3. Network active. Indexing with `--network-wide

For 1, we obviously don't want to pause requests across the network.

For 2, I think we should pause requests across the network. We are currently *not* doing that.

F

[2020-01-23 05:28] eflorea commented on #1496
Yes, the scenario I'm talking about is 2.

[2020-01-23 05:31] brandwaffle commented on #1622
@tlovett1 this is the bug that #1627 theoretically addresses. Definitely happening in production.

[2020-01-23 15:26] #1631 closed

[2020-01-23 15:32] brandwaffle commented on #1638
@jeffceriello I would debug your meta key array right before exiting your filter. Based on the error it sounds like there might be an empty field name getting saved in the array.

Worth noting: if you just want to search a few fields, it might be worth removing all meta by just unsetting the initial array and adding an array of the fields you do want.

[2020-01-23 15:50] jeffceriello commented on #1638
Hi @brandwaffle, thank you so much for your reply. I am sorry but I am not really good with php. Would you be able to show me some code examples of what you mean for both cases? How would I debug the meta key array and what filter should I use to include instead of exclude fields?

[code]

Thanks a lot.

[2020-01-23 16:46] tlovett1 commented on #1630
@Tii anyway we could get a DB dump to test/fix? I'm not able to reproduce 1 or 2.

[2020-01-24 11:16] clemorphy commented on #1636
That was it.
Thank you!

[2020-01-24 11:16] #1636 closed

[2020-01-24 14:14] ayebare commented on #1520
Looking into this.

[2020-01-27 16:08] #1630 closed

[2020-01-28 16:27] jeffpaul opened #1644 "CLI does not clear "must reindex" warning"
**Describe the bug**
The CLI with `--setup` should clear the “must reindex” warning if run after plugin upgrade, but does not.

**Steps to Reproduce**

Feedback from @surrealwebs:

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - Plugins and version:  ElasticPress 3.3
 - Theme and version:
 - Other installed plugin(s) and version(s):

[2020-01-28 16:30] jeffpaul opened #1645 "AutoSuggest should warn about full index before activation"
**Is your enhancement related to a problem? Please describe.**
The autosuggest feature should definitely warn before activation that it will trigger a full reindex which will render EP essentially “offline” while it runs. That likely needs at least a basic JS prompt, but if we can get some UX input on this that would be great.

**Describe the solution you'd like**

Feedback from @surrealwebs:

**D

[2020-01-28 16:33] jeffpaul opened #1646 "Label or interrupt prompt for reindex button"
**Is your enhancement related to a problem? Please describe.**
There’s the issue of whether the reindex button needs some clearer labeling and/or an interrupt prompt when clicked. @brandwaffle would much prefer labeling to an interrupt prompt, because plugin users are likely to hit that button several times while configuring the plugin and he would hate to interrupt them every time, but either way

[2020-01-29 03:27] tlovett1 commented on #1626
Resolved in #1640

[2020-01-29 03:27] #1626 closed

[2020-01-29 03:57] tlovett1 commented on #1645
@surrealwebs can you post the exact dashboard notice you saw after indexing via CLI?

[2020-01-29 15:15] brandwaffle commented on #1642
@aaronjpitts by default Autosuggest uses the same query as the regular search, as determined by your settings in the Weighting menu. For fields not in the Weighting dashboard, you can add them via filter and apply weighting like this `custom_field^10`

[2020-01-30 01:27] tamara-m commented on #1633
@brandwaffle

I can't find how to relate this to the connection, as I do receive a successful, authenticated response from ElasticSearch. It just has "0" hits.

To recap for context:

With ElasticPress 3.3 and **ElasticSearch 5.6** + custom Autosuggest endpoint: Works correctly, hits are returned

 With ElasticPress 3.3 and **ElasticSearch 6.8** + custom Autosuggest endpoint: Works correctly, hits

[2020-01-30 03:14] brandwaffle commented on #1633
@tamara-m What I mean is that the query generated for Autosuggest search is the same JSON query generated for regular search, so if you are using Autosuggest directly connected to your Elasticsearch instance, you would simply use the same URL for Autosuggest that you use to connect ElasticPress for normal searches. To get that path, simply look at an EP query that's run in the Debug Bar ElasticPre

[2020-01-30 03:33] brandwaffle commented on #1633
Adding some screenshots here for a future potential explainer post about how Autosuggest functions. This example uses WP Local Docker, which creates an ES container named `elasticsearch` and makes it available via the following URL pattern for HTTP requests: `http://<site.domain>/__elasticsearch/<indexname>-post-1/_search` . Because of this approach, we need to manually set the Autosuggest endpoin

[2020-01-30 03:35] brandwaffle commented on #1625
Added an explanation of how this functions in #1633 and our testing process with WP Local Docker for ensuring it works.

[2020-01-30 03:49] brandwaffle commented on #1633
@clemorphy @tamara-m I've also updated the bug report on that Autosuggest plugin https://github.com/grossherr/elasticpress-autosuggest-endpoint/issues/12. From what I can tell, since the plugin uses a method that no longer exists to set the index name, it will always fail. Again, this is just based on a quick review, since we don't officiallly support any third-party integrations.

[2020-01-30 03:53] brandwaffle commented on #1549
@vitoralmeidabr You can view a list of most popular search terms if you connect ElasticPress to Google Analytics or a similar analytics provider that features this info. We have a video tutorial here: https://www.elasticpress.io/blog/2020/01/video-intro-to-elasticpress-search-analytics/

Can you give a bit more detail on the "related searches" feature? Would these be previously-performed searches

[2020-01-30 03:53] brandwaffle commented on #1534
Closing due to lack of response.

[2020-01-30 03:53] #1534 closed

[2020-01-30 04:05] brandwaffle commented on #1514
@kwatson I'd love to take a look at the nginx configs you have to see how that's approached.

I'm not opposed to taking a "guess" approach to the autosuggest endpoint URLs, but we do have a significant group of folks who self-host and elect to pass their results through a PHP endpoint for security since they're not familiar with nginx configuration, so I'd want to make sure we address them both fu

[2020-01-30 13:07] tamara-m commented on #1633
@brandwaffle

Thank you for your time on this, and the explanations.

I will try playing with the URL. So far I had been using the URL of the endpoint as indicated in that Autosuggest plugin (`* This is the endpoint you have to specify in the admin like this: http(s)://domain.com/wp-json/elasticpress/autosuggest/`) works correctly when using ES 5.6 through 6.8. From your past messages I had alread

[2020-01-30 14:25] vitoralmeidabr commented on #1549
Thanks for that tutorial, i will follow this steps, but my real intent is to show to user, bellow search box and aside results, a list with most searched terms. Using GA i will need to do a trick.

Exactly, others searched terms with similar results or used words similiar to current terms.

[2020-01-30 14:32] tamara-m commented on #1633
Setting aside security and the exposure of the endpoint for the sake of troubleshooting, setting the endpoint URL with the index name and _search suffix into the appropriate field in the Autosuggest Feature as indicated gives this error:

![chrome_2020-01-30_11-24-42](https://user-images.githubusercontent.com/9288041/73458410-fe899f00-4353-11ea-97b7-5d10382a1d18.jpg)

Setting instead https://domai

[2020-01-30 17:26] jeffceriello commented on #1638
Hi, is anyone able to help with this please? I'm stuck but I think this is the last obstacle..! Any help is hugely appreciated. Thanks

[2020-01-30 20:49] brandwaffle commented on #1633
@tamara-m yes, CORS is a consideration that needs to be addressed when implementing a cross-resource web request from the browser. As I've said multiple times, this is not a simple process, but the plugin does 100% support Autosuggest for a properly-configured Elasticsearch instance, if you follow these steps:
1) install the plugin
2) activate Autosuggest
3) connect to a properly-configured ES ser

[2020-01-30 22:28] nickdaugherty commented on #750
Now that #1443 is merged, are there any plans to revisit this? Term deletions are also affected because posts remain indexed with now-deleted term and continue to match queries for it.

The scaling concerns raised in this thread are valid when many thousands of posts are attached to a single term - what if EP found all posts using the affected term, and if the count was over a threshold, it schedu

[2020-01-31 01:51] tamara-m commented on #1633
@brandwaffle You got it. Removing `'type' => 'post'` from the query makes it work in ES 7.5 and you debugged code you shouldn't have had to fix. I didn't think the issue would be on my code, I am sorry.

If it was for me, I would be more than willing to use your service, you know how these decisions many times don't fall into one's hands.

To double check, I understand your are referring to these

[2020-02-03 13:15] puntope opened #1650 "cURL error 28: Operation timed out after 30001 milliseconds with 0 bytes received"
**Describe your question**

Hello, I'm trying to index my index but I receive this errors.

wp elasticpress index --setup

Indexing posts...
Error: cURL error 28: Operation timed out after 30001 milliseconds with 0 bytes received

OR

wp elasticpress index --offset=50
Indexing posts...
Error: cURL error 52: Empty reply from server

[2020-02-04 13:55] clemorphy opened #1651 "Identify in which field(s) keywords were found"
Hi

Is there a way to know in which field(s) the searched keywords were found ?
I can't find this information in the EP Query Result displayed in the debug bar, but maybe this can be done with a filter ?

[2020-02-04 16:36] brandwaffle commented on #1650
@puntope You can try lowering the number of posts synced per HTTP request by specifying `--per-page=1` (or another low number) and increasing from there if you're successful in an initial sync.

[2020-02-04 16:54] clemorphy commented on #1642
@brandwaffle What would be that filter? Do you have a short example?

[2020-02-04 17:58] brandwaffle commented on #1642
@clemorphy http://10up.github.io/ElasticPress/ep_search_fields.html

[code]

[2020-02-05 02:00] #1622 closed

[2020-02-05 08:51] clemorphy commented on #1642
@brandwaffle I already tried this, with no success. Maybe because my custom field is only used by a CPT?

[2020-02-05 15:40] brandwaffle commented on #1642
@clemorphy what part isn't working? Does the attribute get added to the query and not return correct results, or is it failing to add to the query?

Code examples are always helpful!

[2020-02-05 15:59] clemorphy commented on #1642
I have a `guide` post type, with a `animal` custom field.
Let's say I want to be able to search in the content of the `animal` custom field, and in the `post_title`

My `ep_search_fields` filter:
[code]

Weighting config (Nothing else is checked, even for other post types):
![screenshot-localhost-2020 02 05-16_50_53](https://user-images.githubusercontent.com/1913472/73857840-c7295f80-4837-11ea-8b8

[2020-02-05 17:49] #1588 closed

[2020-02-05 17:49] #1611 closed

[2020-02-05 20:50] roditi3811 opened #1654 "503 Service Unavailable"
**Describe the bug**
I am getting this error when searching for products in my Woocommerce store

**Steps to Reproduce**

1. Go to 'the search bar on the website and search for a product'
2. Click on 'search'
3. When inspecting with the WP plugin "Query monitor" i get this error
4. See error in tab HTTP API errors

**Expected behavior**
I expect to get the search results using elasticsearch, but g

[2020-02-05 21:09] brandwaffle commented on #1654
@roditi3811 Hi! While we don't provide support for Elasticsearch, I can take a look at the request you're sending through ElasticPress to see if it's correctly formatted. Can you paste the results of the query from the Debug Bar ElasticPress plugin?

[2020-02-06 09:51] roditi3811 commented on #1654
Thanks for the help and the fast response, here is the query result:
`{
    "error": {
        "root_cause": [],
        "type": "search_phase_execution_exception",
        "reason": "",
        "phase": "fetch",
        "grouped": true,
        "failed_shards": [],
        "caused_by": {
            "type": "too_many_buckets_exception",
            "reason": "Trying to create too many buckets. Mu

[2020-02-06 13:09] puntope commented on #1650
It works!

[2020-02-06 13:10] #1650 closed

[2020-02-06 16:43] brandwaffle commented on #1654
@roditi3811 interesting, this indicates the plugin is trying to aggregate across more than 10000 fields, which is quite a lot. Can you share the Query Body (feel free to xxxx out any site-specific information, or if you'd like to send it directly to me please let me know and I'll share contact info)?

[2020-02-06 16:58] technosailor commented on #1020
I'm no longer at Modern Tribe, @tlovett1, so I don't know if AWS ever closed the loop. I suspect they haven't though.

[2020-02-06 17:16] roditi3811 commented on #1654
Sure, no worries, here is the query body. The website is quite large, it has over 300K products listed, maybe this can be a problem?

[query_body.txt](https://github.com/10up/ElasticPress/files/4166652/query_body.txt)

[2020-02-06 18:20] brandwaffle commented on #1654
@roditi3811 The number of products itself shouldn't be an issue, but depending on the way the products are classified it might be. Here's the part of the query I'm focusing on:
[code]

The error you're getting is because ElasticPress creates aggregations for each of these WooCommerce attributes so that visitors can filter with them to find products. So, if you have more than 10000 unique brands in

[2020-02-06 18:45] roditi3811 commented on #1654
Yes, it's true, the website currently has over 20K brands, I think this is the only one causing these problems (there are only 1K product categories and only 6 product tags). I've increased `search.max_buckets` to over 10K and seems to be working now, I just have to be careful about those performance issues in this case.
Is there any way to introduce some limits to taxonomies, categories, etc.? Ev

[2020-02-06 19:02] brandwaffle commented on #1654
@roditi3811 you might want to look at this article https://www.elasticpress.io/blog/2019/02/custom-search-with-elasticpress-how-to-limit-results-to-full-text-matches/

Beyond that, you can reduce the `size` parameter for that aggregation to something like 100 and that would show the "top brands" returned as buckets by Elasticsearch.

[2020-02-06 19:43] roditi3811 commented on #1654
Thanks, I will give it a try and see how it works.

[2020-02-07 11:03] roditi3811 opened #1656 "ElasticPress limits the number of WooCommerce products in category"
**Describe the bug**
When I enable ElasticPress in my WooCommerce store, the number of products listed are limited to 10000.
With the ElasticPress plugin disabled, I get the correct number of products from the category (313851).
I'm not sure if it's a problem from ElasticPress or maybe ElasticSearch?

**Steps to Reproduce**

1. Click on any category with more than 10000 products.
2. See error

**S

[2020-02-07 19:27] colegeissinger opened #1657 "filter eq_formatted_args missing from hook documentation"
**Is your enhancement related to a problem? Please describe.**
No

**Describe the solution you'd like**
I was in need of adding a highlight to a query EP is running and found best way to modify the ES query via another GitHub issue in the repo. I realized that the `ep_formatted_args` was missing in the generated [hooks documentation sidebar](http://10up.github.io/ElasticPress/). Thought I'd docume

[2020-02-07 23:04] aaronjpitts commented on #1625
I'm having the same issue, you can see my staging environment here: I've deactivated all plugins and put it on the twenty twenty theme: https://staging.thewatchpages.com/ The endpoint is set up correctly in nginx, you can see in the network tab it's hitting elastic search but it's returning zero results

`
{"took":1816,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"

[2020-02-08 12:11] tamara-m commented on #1625
Did you find the solution on that other thread?

On Fri, Feb 7, 2020 at 8:04 PM Aaron Pitts <notifications@github.com> wrote:

[2020-02-11 13:11] mustafauysal commented on #1638
hey @jeffceriello

For the first approach, I'd continue with example post and expand your excluded list with related meta key(s)

You can try something like

[code]

Also, you can use `ep_prepared_post_meta` filter to prevent empty meta keys being indexed
e.g:
[code]

[2020-02-11 15:50] lolafrerot opened #1658 "Add meta data (ACF) to index"
Hello !

I recently installed a self-hosted ElasticPress on my website. I have a lot of meta data associated to my posts, created with the ACF Pro plug-in. I tried to use your documentation to add this metadata to the search, but i'm not familiar with the "apply_filter" function.

Do you have an example of how to add metadata to ElasticSearch?

Thanks a lot,

Lola

[2020-02-11 15:57] lolafrerot commented on #394
Hello, i'm using ACF too but I miss the step of the filter or the function to use.. Where do you put this code ?

Thanks a lot,

Lola

[2020-02-11 16:15] lolafrerot commented on #1220
Hello,

@MediaMaquina i tried your solution but it dosen't seems to work.. I tried to use some functions of the documentation : https://10up.github.io/ElasticPress/ but there is no example, and i am not familiar with "apply_filter" function. Any suggestion or mistakes i might have made ?

an example of my code i put in functions.php :

`
add_action( 'pre_get_posts', 'my_search_filter' );
function

[2020-02-11 16:23] mustafauysal commented on #1658
Hi @lolafrerot,

The metadata send to index automatically as long as they are registered as post meta. Did you check the actual data on Elasticsearch index?

[2020-02-11 16:38] lolafrerot commented on #1658
Hi !

My metadata are in the wp_postmeta table, and are stored like this :
<pre>
meta_id | post_id | meta_key | meta_value
5634    | 405     | adresse  | 6 rue du mage
</pre>

I don't have a user interface to my index (it's a very long json), but when I search my value in it, i can't find it.
I added this code to my function.php file :
<pre>
add_action( 'pre_get_posts', 'my_search_filter' );
funct

[2020-02-11 17:12] MediaMaquina commented on #1220
Hey did you rebuilt the index after adding that?

[2020-02-11 17:18] brandwaffle commented on #1658
@lolafrerot unfortunately, we would need you to be able to provide debugging information to have a chance to help. Even then, our ability to support self-hosted instances is relatively limited.

I recommend looking through previous Github issues (including closed ones) which will show you how to add private meta to the index and the correct filters to use for this purpose (take a look at ep_format

[2020-02-11 17:19] #1658 closed

[2020-02-11 17:23] brandwaffle commented on #1656
@roditi3811 you can increase the value of https://github.com/10up/ElasticPress/blob/7f5debeff99ea61c104d443f16b1ac61d0104bce/includes/classes/Indexable/Post/Post.php#L635 up to 1,000,000 (that's the `index.max_result_window` set by the plugin) and you'll get the updated total of results. It's just another default setting we build in to handle performance. You might check out the scroll API referen

[2020-02-11 17:24] #1654 closed

[2020-02-11 21:22] roditi3811 commented on #1656
Thank for the reply, but it doesn't seem to change anything, I'm still getting 10000 results :(
![image](https://user-images.githubusercontent.com/60715009/74279868-62cd3b00-4d24-11ea-9b09-6bb45362d10e.png)

Also I've tried
` curl -XPUT "http://XXX:9200/XXX-post-1/_settings" -H 'Content-Type: application/json' -d '{ "index" : { "max_result_window" : 10000000 } }'
`
And the results of http://XXX:92

[2020-02-11 21:52] jakubkol commented on #1656
What is your ElasticSearch version? From version 7.0 is `track_total_hits` set to 10000 by default: https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#track-total-hits-10000-default

You can force it like this:
[code]

[2020-02-11 21:56] roditi3811 commented on #1656
PERFECT! That did the job indeed, thanks very much, works like a charm now.
Elasticsearch version is 7.5.2

[2020-02-12 03:00] tlovett1 commented on #1657
Good catch. You're welcome to create a PR.

[2020-02-12 10:47] #1656 closed

[2020-02-12 11:04] roditi3811 commented on #1588
I have this error also with EP v3.3, ES 7.5.2 and YITH WooCommerce Brands Add-on Premium
Any updates on the fix?
Thanks!

[2020-02-12 13:22] jeffceriello commented on #1638
Hi @mustafauysal, thank you so much for your reply.

I have added the `ep_prepared_post_meta` filter right after the `ep_prepare_meta_excluded_public_keys` filter but I don't think it gets executed. Nothing happens and the `field name cannot be an empty string` issue doesn't seem to be fixed. I have a var dump in the filter but it doesn't show up. Should I add the filter in a specific place?

[2020-02-12 16:40] peeyooshk commented on #1588
It works fine with the develop branch. By when is the implementation in main plugin happening so could update the same at that time to ensure to be on same patch level.

[2020-02-12 21:26] websuperhero commented on #1611
@tlovett1 Hello again. Today I installed the developer version of EP from your repo. The issue with Woocommerce Brands plugin still persists. Any fix please?

[2020-02-13 21:25] simplenotezy opened #1660 "WP_Query integration?"
Does it integrate with the native WP_Query or do I have to implement some custom code?

I am building custom REST endpoints for a WooCommerce shop to filter products based on filters such as categories And attributes.

I'm wondering if Elastic press could help speed up the response times - which is currently around 1 second.

[2020-02-13 21:34] brandwaffle commented on #1660
@simplenotezy yup, you just pass in `'ep_integrate' => true` as a WP_Query parameter and ElasticPress will route that query through Elasticsearch instead of WordPress. That said, it may or may not help your REST endpoint response times, as that could also be a result of other WordPress code running during the REST response.

[2020-02-13 21:36] brandwaffle commented on #1660
@simplenotezy I'd also recommend installing the Debug Bar ElasticPress plugin while doing your testing, as this will enable you to see if the queries might already be running through ElasticPress. Since the plugin integrates directly with WooCommerce, depending on how you build your endpoints, the queries might already be automatically integrated with ElasticPress.

[2020-02-14 08:58] mustafauysal commented on #1638
hi @jeffceriello

Where did you add those hooks? functions.php of the template?

[2020-02-14 08:59] jeffceriello commented on #1638
Hi @mustafauysal

Yes, functions.php

[2020-02-14 09:06] jeffceriello commented on #1638
This is what I have in functions.php

[code]

Thanks

[2020-02-14 11:40] roditi3811 commented on #1588
Yup, I can confirm that the brands are working correct now.
Initially I was using the version from Wordpress plugins, but now I installed the developer version from github, and works perfect.
Thanks!

[2020-02-14 14:43] mustafauysal commented on #1644
The only case that I can reproduce the problem is; when the plugin is activated on multisite and network-wide but sites are indexed without `--network-wide` parameter.

It seemed re-sync notification is already cleared inside the `index` command
https://github.com/10up/ElasticPress/blob/ed49184e69e53337bb60d44b6ce131870100c8e0/includes/classes/Command.php#L590-L599

We are going to check `if ( def

[2020-02-14 17:40] mustafauysal opened #1662 "Facets break the category pages of Woo"
**Describe the bug**

When the facet feature is enabled and WooCommerce feature is disabled, product category pages can’t show any results.

**Steps to Reproduce**

1. Enable WooCommerce
2. Enable facets feature
3. Disable WooCommerce feature of EP
4. Visit a product category page

**Expected behavior**

Expected to see products there.

**Screenshots**
https://cloudup.com/cgUFNjWZEpk

**Environmen

[2020-02-15 10:29] simplenotezy commented on #1660
hey @brandwaffle. Thanks a lot for your time. I will check this out.

[2020-02-15 10:29] #1660 closed

[2020-02-15 22:13] roditi3811 opened #1664 "Limit facets widget to categories with content"
Is there a possibility to limit the results shown in facets widget?
Currently the widget shows all the categories/taxonomies, etc. from the website, when I browse through the websites categories, even if some of them have 0 results.
How can I eliminate them? This is not very useful for a site with a lot of categories / taxonomies.
Thanks!

![cat](https://user-images.githubusercontent.com/60715009/

[2020-02-18 06:25] oscarssanchez commented on #1651
Perhaps something like https://github.com/10up/ElasticPress/pull/1552 could help you in future releases @clemorphy !

[2020-02-18 13:12] mustafauysal commented on #1638
@jeffceriello if they are placed in the same place, it should work. However, the example snippet that I have shared before was checking the `$meta_val` instead `$key`, sorry about that.

Something like:
[code]

might work.

I don't recommend to use `var_dump` in production btw. Perhaps, you can to use `wp shell` (It opens an interactive PHP console) and see the actual metadata by calling `get_post

[2020-02-18 15:27] clemorphy commented on #1651
Thanx @oscarssanchez but my need is not to highlight keywords. I would like to know, for each hit, which Wordpress fields contain the searched keywords.

[2020-02-18 20:28] brandwaffle opened #1668 "Allow EP search queries during non-destructive reindex"
**Is your enhancement related to a problem? Please describe.**

Right now, when performing a non-destructive reindex via CLI, the plugin stops using EP for searches. While this makes sense if you've wiped the index, there's no reason in most cases not to keep using EP for searches while reindexing data.
**Describe the solution you'd like**

When performing a non-destructive reindex (aka CLI index

[2020-02-19 09:35] jeffceriello commented on #1638
Hi @mustafauysal, thank you so so much for your help with this. And thank you for opening up a new world for me with `wp shell`!

I went through the `get_post_meta( 2177 );` via wp shell and I think I have found the empty field, it looks like this

[code]

I have replaced the `$meta_val` check with `$key` but that still has no effect. Do you have an idea as to how to remove or skip that empty fiel

[2020-02-19 16:25] mustafauysal commented on #1638
@jeffceriello

Can you try to replace `ep_prepared_post_meta` with `ep_prepare_meta_data`?

(`ep_prepared_post_meta` is a new hook which will be available with version 3.4, since I'm using the development version, I haven't realized the wrong hook name before 🤦‍♂ )

You may consider deleting that faulty metadata from postmeta table.

[2020-02-20 09:10] jeffceriello commented on #1638
@mustafauysal

That was it, it worked! I had to replace the filter with `ep_prepare_meta_data`.

Thank you so much for all your help and patience with this.

[2020-02-20 11:04] jeffceriello commented on #1042
Hi there, I'm having the same issue unfortunately. I have successfully installed ES and EP.

The WooCommerce website I'm working on has ~17.000 products, all categorised and attributed properly. If I search for "red shoes" I would expect to see a list with shoes (product category) at the top, possibly red (product attribute) and no other product.

At the moment when I perform that search I see all

[2020-02-20 11:46] mustafauysal commented on #1638
Great! I'm closing the issue then.

[2020-02-20 11:46] #1638 closed

[2020-02-20 13:26] agriboed commented on #640
Hey there!

@wordpresser12345 @fidjius
Are you using "Wordpress 2-Step Verification" plugin?

[2020-02-20 14:27] ovaislak opened #1669 "Custom taxonomy returns all products instead of products in specific taxonomy."
I am facing a strange problem, I have few custom taxonomy pages but none of them seems to be working after using this plugin.

https://medicalstore.com.pk/manufacturer/novartis/  this link returns all the products that are not tagged to (custom taxonomy ) manufacturer :  novartis

can you please suggest what's wrong here ?

[2020-02-21 14:01] photocurio opened #1670 "Can't set fuzziness in Simple Query String"
I need to use the old fashioned query string for searches, so I changed the query to a Simple Query String using the ep_formatted_args filter.  A var dump of the $formatted_args is below.
[code]
My issue is I can't modify the default fuzziness value.  Searches for _medication_ return results for medical.

I tried the ep_fuzziness_arg filter, but it didn't have any effect.

When I check the query b

[2020-02-21 15:22] photocurio commented on #1670
p.s. edited for clarity.

[2020-02-21 17:39] tlovett1 commented on #1662
Is this related to the child category bug in #1661? In theory we won't need this if we fix that.

[2020-02-21 18:18] brandwaffle commented on #1662
@tlovett1 I'm thinking if someone doesn't have the WC feature active, we shouldn't take over their queries on WC archive pages. I think that's the approach @mustafauysal is taking here. I might not be thinking through all the potential use-cases though--happy to discuss.

[2020-02-21 21:02] mustafauysal commented on #1662
@tlovett1 nope, it's not related to that one.

It seems the root cause is that the facet queries are integrating `WP_Query` when it shouldn't.
For this particular Woo problem; the ES query doesn't include `product` post_type and that breaks the main query.

Maybe, we shouldn't integrate facet queries to the main query. In that case, maintaining a new query would be challenging for keeping aggregat

[2020-02-22 12:38] jeffceriello opened #1671 "Too many not relevant results"
Hi there, I have successfully installed ES and EP.

The WooCommerce website I'm working on has ~17.000 products, all categorised and attributed properly. If I search for "red shoes" I would expect to see a list with shoes (product category) at the top, possibly red (product attribute) and no other product.

At the moment when I perform that search I see all sorts of products in the list (creams, m

[2020-02-23 01:57] MediaMaquina opened #1672 "How to disable case sensitivity?"
**Describe your question**
Hello, if i search for "SaGa" it doesn't find "Saga".  (beacause the G was typed in uppercase).

**How can i make it search for the words and ignore the case?**

[2020-02-23 06:16] tlovett1 commented on #1662
Totally makes sense. Good call.

[2020-02-23 06:18] tlovett1 commented on #1662
On second thought, what do you think about checking the indexable post types and comparing those to what is set for the query? If the query is grabbing a post type that is not indexable, bail faceting.

[2020-02-23 13:53] mustafauysal commented on #1662
@tlovett1 We don't know the `post_type` at the archive pages, maybe we should make query integration with `ep_post_formatted_args` instead `pre_get_posts`.

Another problem with that approach is that, `Indexables::factory()->get( 'post' )->get_indexable_post_types()` returns `products` even Woo feature is not active.

But that thought gave me an idea about handling taxonomies. E.g
[code]
What do y

[2020-02-23 14:18] mustafauysal commented on #1672
Hi @MediaMaquina,

I'm unable to reproduce this. Can you provide more information about your environment?

The search keywords should be case-insensitive unless you change the default mappings. Because ElasticPress supports `lowercase` filter by default https://www.elastic.co/guide/en/elasticsearch/reference/6.8/analysis-lowercase-tokenfilter.html

[2020-02-23 18:59] MediaMaquina commented on #1672
Hi thanks for looking into it. What can i do to find the cause? i'm kinda noobie.

[2020-02-24 05:52] liammaurer opened #1673 "All Options are grayed out"
Hi, I recently just installed the plugin and all options for me are grayed out and unclickable. It seemed to accept the host I entered and it said Elasticsearch version is below the minimum required Elasticsearch version 5.0. But now there is no message and just grayed out.

Elasticsearch version: 7.5 (as per documentation)

Elasticpress Version: 3.4

![image](https://user-images.githubusercontent

[2020-02-24 22:19] ovaislak commented on #1669
Please suggest any fix.

[2020-02-25 14:36] felipeelia opened #1675 "Plugin Internationalization"
**Describe the bug**

Our `/lang/elasticpress.pot` is a bit outdated (the current version seems to be generated for EP 2.6). It is not a problem for those who use the plugin from the WP Official Directory (as translate.wordpress.org parses everything) but will be an issue for those willing to translate the plugin from the .pot.
Related to that, we should improve our calls to i18n functions, adding

[2020-02-25 16:20] jeffpaul commented on #1675
I'd similarly recommend documenting release instructions like https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions or https://github.com/10up/wp-newrelic/blob/develop/CONTRIBUTING.md#release-instructions and ensuring it includes the `npm run makepot` command as part of the release process.  Then that process can be used by whoever is shipping EP releases in the fut

[2020-02-25 18:10] felipeelia commented on #1675
@jeffpaul do you think it's worth creating a new issue to set a CONTRIBUTING.md file? It seems we don't have one in place here yet.

[2020-02-26 19:52] olexandrrevizor opened #1677 "Low indexing speed"
Hi. I have a blog that contains 14k posts and tried to add these posts to the elastic search index.
I indexed some of the posts, but it's extremely slow, and it will take about 6 hours to estimate. All the performance optimization tips from the official site I made. In my opinion, I removed the redundant data such as post meta. Can I increase indexing speed? Add the index configuration below:
[cod

[2020-02-26 19:58] olexandrrevizor commented on #1677
Wordpress version: 5.3.2
Elasticsearch version: 7.5.2
Enabled plugins: ElasticPress

[2020-02-26 20:08] felipeelia opened #1678 "Lint Problems and PHP 7.4 incompatibilities"
**Describe the bug**

Right now we have a couple of PHP linting problems on `develop` and when running `composer run lint` on PHP 7.4 we can see a couple of additional errors

**Steps to Reproduce**
1. Clone the repo
2. Run `composer run lint`

**Expected behavior**

We should see no errors.

**Screenshots**

![image](https://user-images.githubusercontent.com/184628/75383128-8c589b80-58ba-11ea-8a3

[2020-02-26 22:20] tlovett1 commented on #1662
@mustafauysal I think I'm just going to merge your original PR for now. We can revisit the taxonomies approach later. Nice work!

[2020-02-26 22:20] #1662 closed

[2020-02-28 12:22] kemal-endouble opened #1680 "unset( $filter_callbacks[10][ $hook ] ) in line 1213 of Command.com has no effect"
**Bug Description**
Private method stop_the_insanity() in class _Command_ at line 1213 (v3.3) try to unset a property of WP_Hook with the statement: **unset( $filter_callbacks[10][ $hook ] );**.

In certain situation, this will cause PHP (tested with v7.1.33 & v7.3.6) to emit a notice:
`PHP Notice:  Indirect modification of overloaded element of WP_Hook has no effect in ...
 elasticpress/includes/

[2020-02-28 20:14] photocurio commented on #1483
@dominikkuen what was the resolution for this?

[2020-02-29 09:39] dominikkuen commented on #1483
@photocurio if I remember correctly I had to specify all possible fields (although just using the text one)

[code]
If you find a better solution let me know ;)
This issue was driving me crazy, hope it helps.

[2020-02-29 15:30] jeffceriello opened #1681 "Conflict with Advanced Post Types Order plugin"
On our WordPress/WooCommerce site we are using the plugin Advanced Post Types Order to re-arrange the post types items. I have noticed that with ElasticPress activated the orders on the front end don't reflect the order in the back end anymore. For instance on the products category page the order don't reflect the back end.

Could you please let me know how to resolve or debug this issue? Thanks

[2020-03-01 17:05] oscarssanchez commented on #1670
Hi @photocurio ,

This comes from the weighting engine. As far as I know, `^1` you are seeing doesn't mean fuzziness is being applied to these fields, but rather that weight on these fields is boosted by 1 (so it is actually remaining the same).

[code]

Also, as far as I remember, these are not the elasticpress defaults to use to set fuzziness. I think for that the default is just `fuzziness` and

[2020-03-01 19:51] photocurio commented on #1483
@dominikkuen thanks for the tip.  You are correct, all those properties need to be set or it breaks.  I did consolidate the code a bit:
[code]

[2020-03-01 20:36] photocurio commented on #1670
I eliminated what I thought was fuzziness by unsetting the ewp_snowball filter:
`unset( $mapping['settings']['analysis']['analyzer']['default']['filter']['ewp_snowball']);`
I'm actually not sure what the snowball is supposed to do. But I get better results without it.

[2020-03-02 20:11] simplisticsca opened #1682 "Filters on EP remote requests not used on initial setup request"
**Describe the bug**
I've traced it back to elasticpress/elasticpress.php:90 (v3.3) calling Indexables::factory()->register( new Indexable\Post\Post() ) outside of an action callback. This line is executed prior to other plugins and the theme being loaded, meaning that filters are not used on this initial request. Among other things, this prevents Authorization header from being added via the 'ep_

[2020-03-03 12:30] mustafauysal commented on #1672
Hi @MediaMaquina,

Yes, I think that snippet is the reason. Because it changes the EP query for finding the "exact" phrase.

You may consider to remove that filter or convert search term to lowercase while formatting the args.

[2020-03-03 12:55] mustafauysal commented on #1673
Hi @liammaurer,

That overlay should appear only when the indexing is running. Do you see any errors on the console of the browser?

It this error persist when you downgrade to 3.3? Version 3.4 has not been released yet. So, I'd recommend using the latest stable version which is 3.3.

[2020-03-03 13:30] MediaMaquina commented on #1672
Hello, that code was suggested to me on here to change logic from OR to AND. I did not know it would affect case sensitivity. Is it possible to modify it to retain AND logic and not affect the case?

In the meantime i am using your second suggestion:

With a code i borrowed:

[code]
Source: https://wordpress.stackexchange.com/questions/319649/hook-to-get-and-change-the-search-string-before-process

[2020-03-03 13:37] mustafauysal commented on #1677
Hi @olexandrrevizor,

Do you sync using CLI or dashboard?

If you use the dashboard, can you reduce "Content Items per Index Cycle" options under `ElasticPress > Settings`? (You can use `--per-page` parameter to set that value in case you use CLI.)

[2020-03-03 16:52] tlovett1 commented on #1680
This is fixed in 3.3. Thanks!

[2020-03-03 16:52] #1680 closed

[2020-03-03 16:57] #1678 closed

[2020-03-04 00:35] luciocm opened #1684 "post_type=product is no passing on the url when using facet to filter searched results"
**Describe your question**

Hello, I don't know how can i fix it or if it's a bug because I'm a noob user.
Well, I have an ecommerce and when I make a product search using elastic search and I try to filter the results with the facet widget the post_type=product is not passed in the url. So, instead the search result show my product search results layout it shows the general wordpress blog results

[2020-03-04 09:06] wespiremedia commented on #1315
@khelil Thank you for your solution!

We have multiple language variants, for example `en` and `en_UK`. With this solution the search results of these two languages are combined (so you'll see duplicates).

To fix this I've added `.keyword` to the post_lang term:

[code]

[2020-03-04 13:02] mustafauysal commented on #1684
Hi @luciocm,

You can use `ep_facet_query_string` filter to modify query_string.

Something like:
[code]
should work.

[2020-03-04 14:13] mustafauysal commented on #1682
Hi @simplisticsca,

Can you upgrade to version 3.4 and let us know the results? I thought this issue has been addressed since we have started to register indexables with `plugins_loaded` hook.

[2020-03-04 14:19] mustafauysal commented on #1612
This is fixed in 3.4!

[2020-03-04 14:19] #1612 closed

[2020-03-04 16:38] luciocm commented on #1684
That worked, you are awesome.
Thank you!

[2020-03-04 16:38] #1684 closed

[2020-03-04 17:07] luciocm opened #1685 "How to hide the ep-facet-widget with 0 term level?"
**Describe your question**

Hey guys, I would like to know if there is a way to hide the "ep-facet-widget" if there is no term level.

[2020-03-04 19:33] brandwaffle opened #1686 "Weighting Engine changes sometimes fail to save when multiple boxes are checked or unchecked"
**Describe the bug**

The Weighting Engine sometimes fails to update checkbox configs when many checkboxes are unchecked or checked and then the page is saved.
**Steps to Reproduce**

1. Go to Weighting Engine.
2. Check a bunch of boxes (at least 7-8)
3. Uncheck all boxes for a post type
4. Repeat until you see the data fail to change on save

**Expected behavior**

Updated checkboxes (either unch

[2020-03-04 20:16] brandwaffle commented on #1685
Hi @luciocm ,

Can you share a bit more detail on this one? Are you looking to hide the widget conditionally on certain pages, or to hide the whole widget if there are no posts tagged with that entire custom taxonomy, or something else?

Thanks for using ElasticPress!

[2020-03-04 20:31] luciocm commented on #1685
I would like to hide the whole widget if there are no post tagged with the entire custom taxonomy. Example: on my store I've got keyboards and cpu. If i search for computer and filter the category "keyboards" i would like to hide the default facet filter for cpu, like ram and core, because the facet for cpu attributes (ram and core), is empty when I'm searching for keyboards, and it's strange to s

[2020-03-04 21:54] brandwaffle opened #1687 "Intelligently detect product search fields and restrict results in Autosuggest"
**Is your enhancement related to a problem? Please describe.**

Currently, WooCommerce product searches show results from the default Autosuggest query, but then a full search (hitting enter to reload the search page) does limit the results as `?post_type=product` is passed into the URL and therefore handled by EP properly.
**Describe the solution you'd like**

Determine when we're on a product se

[2020-03-05 14:37] #1577 closed

[2020-03-05 19:37] jeffpaul commented on #1644
@mustafauysal with #1659 merged, is this issue no longer valid then?

[2020-03-06 06:27] mustafauysal commented on #1644
@jeffpaul yes, I think so!

[2020-03-06 11:56] mustafauysal opened #1690 "Weighting Engine: Post meta support"
**Is your enhancement related to a problem? Please describe.**
Registering meta keys requires additional effort. We can manage searchable meta fields if we provide a UI on the weighting engine.

**Describe the solution you'd like**
Adding post meta capabilities to the weighting engine would be a good solution.

**Designs**
<img width="916" alt="Screen Shot 2020-03-06 at 14 47 06" src="https://user

[2020-03-07 01:10] luciocm commented on #1685
any solution?

[2020-03-09 13:19] ayebare commented on #1502
Looking into this issue.

[2020-03-09 16:45] #1675 closed

[2020-03-10 12:11] peeyooshk opened #1692 "Plugin compatibility issue with Perfect Woocommerce brands plugin"
**Describe the bug**
post upgrade to version 3.4 the plugin compatibility issue which was fixed earlier(issue 1588) has re-surfaced. The brands are missing from products post updation to 3.4.

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:

[2020-03-10 13:55] tlovett1 commented on #1692
Can you explain steps to reproduce? Right now with Perfect Brands activated locally, I'm able to see the correct products on the brands archive page. Thanks!

[2020-03-10 14:10] tlovett1 commented on #1644
@jeffpaul can you test and confirm this is fixed?

[2020-03-10 14:17] tlovett1 commented on #1590
Should be fixed in 3.4

[2020-03-10 14:17] #1590 closed

[2020-03-10 14:18] peeyooshk commented on #1692
We noticed today only that when the plugin was activated our "brands" page on website shows the count for all brand products as "0". Also the display on frontend of single product pages does not show brand images. Post this we tested with search using a brand name and products were not shown for the related brand in search results. As a result to keep the site functioning we had to disable it.

[2020-03-10 14:19] mustafauysal commented on #1692
Hi @peeyooshk,

Can you reindex the content? We made some changes after closing #1588 and it requires reindexing.

(If you updated from the develop branch earlier, you might skip that notice. )

[2020-03-10 14:23] tlovett1 opened #1693 "Acceptance Test Coverage"
We need acceptance test coverage via WP Acceptance for most of the functionality in the plugin. To start it would be great to add tests for the following:

- Protected Content feature
- Documents feature
- WooCommerce feature
- Related Content feature
- Users feature
- Facets feature

To learn how WP Acceptance work, start by [reading the docs](https://wpacceptance.readthedocs.io/en/latest/) and l

[2020-03-10 14:29] tlovett1 commented on #1502
@tott was this fixed already?

[2020-03-10 14:46] peeyooshk commented on #1692
Hello: We just un-installed the plugin, cleared cache. Re-installed from wordpress.org. We are using Amazon Elastic search. Did re-indexing and the issue exists. You can have a quick look at it here

https://www.indiefur.com/brands/

[2020-03-10 14:49] peeyooshk commented on #1692
By the way after re-installation i did get the notice to re-index and it did re-index.

[2020-03-10 15:32] tott commented on #1502
I don't think so

[2020-03-10 15:42] tlovett1 opened #1694 "Weighting slider expands in width"
The weighting slider expands in width when adjusted.

[2020-03-10 15:45] moraleida commented on #1502
Looking into this.

[2020-03-10 16:42] photocurio commented on #1308
I'm working on this same issue.  I am able to get the word suggestions easily by adding a suggest block to the formatted args like this:
[code]

Now if I type a misspell a search term and check the query result in the elasticpress debugger, I see the suggest block, and it has some helpful suggestions.  Nice!!

**The problem:** I can't figure out how to get the suggest block into the wp_query respo

[2020-03-10 23:08] photocurio opened #1696 "How to use ep_retrieve_raw_response"
**Describe your question**
I need to get the raw elasticsearch response.  The action ep_retrieve_raw_response sounds like what I need.  I am calling this action from my search.php, in cases where the search returns no results.  My question is: **_how do I get a return value from this action?_**

[2020-03-11 09:44] mustafauysal commented on #1696
Hi @photocurio,

You can use
[code]

and here are the details: http://10up.github.io/ElasticPress/ep_retrieve_raw_response.html

I don't think search.php is the correct place for adding an action. The hook is executed before than utilizing search.php. So, the functions.php would be more appropriate.

[2020-03-11 12:58] khelil commented on #1315
You're welcome @wespiremedia and thanks for sharing this subtle tips ;)

[2020-03-11 15:41] ayebare commented on #1502
looks like we both worked this https://github.com/10up/ElasticPress/pull/1698/files

[2020-03-11 15:49] ayebare commented on #1693
Jumping onto this.

[2020-03-11 17:15] moraleida commented on #1556
I'll take this one @tlovett1

[2020-03-13 11:18] ayebare commented on #1693
Acceptance tests aren't working for me locally on a windows environment. Setting up in docker instead. Collaborating with Ashar to make sure I don't repeat any of the tests he's done already.

[2020-03-13 11:42] volmerf commented on #1396
Hi @brandwaffle I added your snippet to my functions.php and now I see the _order_number in the ES result query. But when I search in the woocommerce admin for a sequential order number instead of order id I don't get the right result. Any idea how to fix this?

It looks like ES is not searching on this meta data.

ES result:
` "meta": {
                        "_order_number": [

[2020-03-13 11:44] volmerf commented on #1396
Also it's good to know for people who land on this solution to know thatafter adding the snippet to their functions.php they need to rebuild their index(es).

[2020-03-13 20:09] photocurio commented on #527
I index documents at a per-page setting of 5.  Occasionally I will get "request entity too large".  Then I use `--per-page=1` and it works.

[2020-03-13 20:23] jmreicha opened #1700 "There is a problem with connecting to your Elasticsearch host"
__Have you searched for similar issues before submitting this one?__ `Yes`

__Is this a bug, question or feature request?__ `Question`

__Describe the issue you encountered:__

Attempting to connect ElasticPress to a self hosted ElasticSearch server via AWS Api-Gateway using an API key for authentication.  Using some custom code to add the `x-api-key` header to the request.

Some requests seem to

[2020-03-14 21:05] roditi3811 commented on #594
Hello, I am using EP with a self signed certificate, but when adding this code, I get an error:
`Uncaught Error: Call to undefined function ep_get_host()`
I see this answer is quite old, has something changed with the function's name?
Thanks!

[2020-03-17 16:35] jayhill90 opened #1704 "Method Not Allowed when indexing posts via wp-cli"
We recently upgraded to ElasticPress 3.4. Since then whenever I try to index my posts I'm receiving a Method Not Allowed error. Running ElasticSearch 7.4 and EP 3.4.  Unfortunately debug-bar and the EP add-on won't return any information around what might be happening. When I index in wp-adamin I just get a success: false message back from admin-ajax.php and a "Method Not Allowed" message when usi

[2020-03-17 22:42] brandwaffle commented on #1704
@jayhill90 are you getting any info if you pass in the `--show-bulk-errors` flag?

[2020-03-17 22:44] brandwaffle commented on #1700
@jmreicha if you haven't already, can you install the Debug Bar and Debug Bar ElasticPress plugins and see what sort of results you're getting from searches?

My suspicion is perhaps the header is getting filtered into some, but not all, requests. For example, if the filter is only running on indexing time, your searches would fail. The Debug Bar ElasticPress plugin's output includes the Headers t

[2020-03-17 22:45] #1696 closed

[2020-03-17 23:41] jayhill90 commented on #1704
No additional output is provided.

[code]

[2020-03-18 16:18] jmreicha commented on #1700
@brandwaffle I might not be looking in the right place but the headers all appear to be the same, including successful requests.

[code]

[2020-03-19 19:27] felipeelia commented on #1604
I'm working on it.

[2020-03-20 01:50] jeffpaul opened #1708 "Test against WP 5.4"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.4 is released, we'll want to test ElasticPress to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test ElasticPress on WP 5.4
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [ ] if code chang

[2020-03-20 13:10] imokweb opened #1710 "Categorized content on the Autosuggestion results"
Hello there!

I have a successful WordPress + EP and ES integration with a 3rd party ES hosting and an activated Autosuggest option on the EP plugin, this is working fine! http://prntscr.com/rjmote

I want to customize the Autosuggest results like showing Featured Images, and categorized the Custom Post Types on the search results like on this site: http://prntscr.com/rjmqak
- like: Pages, Events,

[2020-03-20 15:38] arhimed-me-account opened #1711 "Custom post's and REST API"
Hello there,
I have two questions:

1) I indexed all post's in WP, I have post and custom_post indexed but using debug bar as suggested i see on admin page that elasticpress repalces query's just on admin post page (where all post are listed) http://prntscr.com/rjpwj5
but on admin page where are all custom_post listed i see that there is no no query replaced
http://prntscr.com/rjpx3x

On what this

[2020-03-20 19:20] gregkellerman opened #1712 "Ingest Attachment Installed, but not registering in WP admin"
We have a self-hosted version on AWS using the AWS Elastic Search service. It says ingest attachment is installed, but its saying it is not in the plugin.

ingest-attachment           7.4.2

Also, the link that it is suggesting to install the plugin is going to an unreleased (v8.0) version of the plugin, so its not install-able.

https://www.elastic.co/guide/en/elasticsearch/plugins/master/ingest-

[2020-03-21 21:25] peeyooshk commented on #1692
Any update on this?

[2020-03-24 13:26] jayhill90 commented on #1704
I was able to get things working again by downgrading to ElasticPress 3.3. EP 3.4 returns Method Not Allowed messages when trying to index posts.

[2020-03-24 15:40] tlovett1 commented on #1704
Can you try 3.4 with the terms feature disabled?

[2020-03-24 16:50] nickdaugherty opened #1713 "Add warning + confirmation for destructive WP-CLI commands"
**Is your enhancement related to a problem? Please describe.**

When performing destructive CLI commands, such as `wp elasticpress delete-index` or `wp elasticpress index --setup`, there is no warning + confirmation step, so dropping indexes is very easy to do. On large indexes that takes a long time to re-index, this can be a huge problem.

**Describe the solution you'd like**

Any destructive WP

[2020-03-25 09:51] goaround opened #1715 "Show Manage Search Fields & Weighting on Multisites"
**Is your enhancement related to a problem? Please describe.**

On WordPress Multisite the Settings for Manage Search Fields & Weighting are only accessible for each site if you now the URL: `/wp-admin/admin.php?page=elasticpress-weighting`

There is no menu entry on each site.

**Describe the solution you'd like**

There is a Menu _Custom Search Results_ I would suggest renaming it to ElasticPres

[2020-03-25 11:32] goaround opened #1716 "Load scripts & styles only when they are really necessary"
**Is your enhancement related to a problem? Please describe.**

For Facets, you load scripts & styles with the `wp_enqueue_script` and `wp_enqueue_style` functions. If Facets are activated they will load on every single pageload. Even when there is now active Facet Widget: https://github.com/10up/ElasticPress/blob/master/includes/classes/Feature/Facets/Facets.php#L162

**Describe the solution you'

[2020-03-25 11:50] goaround commented on #1716
I created a pull request for the necessary changes: https://github.com/10up/ElasticPress/pull/1717

[2020-03-25 15:38] petenelson opened #1718 "Querying with both "cat" and "tag" parameters is only passing the "cat" parameter."
**Describe the bug**
When running the following query
[code]
the formatted args for Elasticsearch do not include the `post-tag` tag.

**Steps to Reproduce**
Discovered this will working on unit tests for the indexable post class.

**Expected behavior**
Formatted ES args should contain the post_tag taxonomy.

**Additional context**
This appears to be a bug in the switch statement here https://githu

[2020-03-25 15:43] #1502 closed

[2020-03-25 16:42] petenelson commented on #1718
I believe this should also be updated to `term_id` https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L731

[2020-03-25 18:08] moraleida commented on #1692
@tlovett1 can you assign this to me, please?

[2020-03-26 13:00] jayhill90 commented on #1704
Thanks @tlovett1 . Terms was already disabled. The only features I have enabled are related posts, post search, and custom results. I still get back that the method isn't allowed.

[2020-03-27 06:59] mabezdek opened #1719 "Set timeout & disable fallback"
Hi there,
I have two questions.

1) Is possible to limit the connection timeout? We have currently problems when the app communicates with ElasticSearch and we need to limit the time waiting for response. We are getting the error message like this: Failed to connect to xxxx port 443: Connection timed out, but the request blocks the app maybe for 3-4s and we want to limit the wait time to max 1s. I

[2020-03-27 18:38] thachphamw2 opened #1720 "Private Products - Order Search - Caching"
Hello,

Thank you for creating the awesome plugin to connect with Elasticsearch. Currently, I have 2 problems, can you guys please take a look at it?

1/ Exclude private posts on the search results.

I have the private posts/products and it keeps showing up on the search result page, which shouldn't be.

How can I exclude them from the search result?

2/ After activate the plugin, the search behav

[2020-03-28 09:11] alifazeli opened #1721 "[illegal_argument_exception] Invalid stemmer class specified: Arabic"
**Describe your question**

Hi
When i index my posts through wp cli, i get this error

[code]

My wordpress language is arabic.

[2020-03-28 21:53] oscarssanchez opened #1722 "Weighting engine not working with Woocommerce search"
**Describe the bug**

It looks like the Weighting feature doesn't work properly when doing a product search. As a result, the weighting configuration gets ignored. The reason for this seems to be that when doing a Woocommerce search, `search_fields` get set:
https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/WooCommerce/WooCommerce.php#L351

Which is why later, this logic w

[2020-03-31 13:07] peeyooshk commented on #1692
Any update on this?

[2020-04-02 08:25] appasahebs opened #1723 "Search by post id and other filters in Wordpress admin list page are not working."
Hello,

I have enabled elasticpress in my wordpress website. I am facing problem with Wordpress admin while filter by categories and other filters in post listing page. Also search by post id is not working. Its not matching exact post id.

Am I missing something here?

Thanks

[2020-04-03 05:11] oscarssanchez commented on #1723
Hi @appasahebs ,

Can you confirm protected content is activated?

Without it, admin search will not work.

Kind regards,

[2020-04-05 05:07] oscarssanchez commented on #1710
Hi @imokweb ,

This would require you to custom code your own version of autosuggest, you could take the current autosuggest code:  https://github.com/10up/ElasticPress/blob/develop/assets/js/autosuggest.js as a base and change it to include the thumbnail, as well as add the categories in the response.

Hope this gives you some direction.

[2020-04-05 08:32] thachphamw2 opened #1724 "WooCommerce Product Category Case Sensitive"
Currently we're running ElasticPress on our website, everything is fine, but for the query on Product Category page.

With ElasticPress enabled, the query on Product Category will return 0 products, while deactivated, it will show the product as usual!

**Screenshots**

Here's my Sync settings and weight settings.

![screenshot-zoovibe com-2020 04 05-15_30_00](https://user-images.githubusercontent

[2020-04-06 14:14] gregkellerman commented on #1712
Just checking up on this as there has not been a response for 17 days. Can we get some feedback? Any solutions?

Thanks!

[2020-04-07 15:33] #1694 closed

[2020-04-07 15:33] #1682 closed

[2020-04-07 15:37] tlovett1 commented on #1724
@moraleida can you look?

[2020-04-07 15:37] tlovett1 commented on #1722
@moraleida can you take a look?

[2020-04-07 15:38] tlovett1 commented on #1721
@moraleida can you take a look?

[2020-04-07 16:44] felipeelia commented on #1722
As I have a recent background with this, I can work on it.

[2020-04-07 17:17] moraleida commented on #1721
@tlovett1 can you assign this to me, please?

[2020-04-07 17:17] moraleida commented on #1724
@tlovett1 can you assign this to me, please?

[2020-04-07 19:08] felipeelia opened #1727 "Taxonomies with the same slug as default args are wrongly added to the query"
**Describe the bug**

When the user has a taxonomy with a slug that is the same as a default query arg (`post_status`, for example), the argument value wrongly becomes a tax query term.

Oasis Workflow plugin is an example of a plugin that does that, as can be seen [here](https://plugins.trac.wordpress.org/browser/oasis-workflow/tags/4.7/includes/class-ow-custom-statuses.php#L58).

**Steps to Repr