[2020-12-01 17:30] cbratschi opened #1991 "Search Rewrite Rule Slow"
**Describe the bug**

We discovered some external requests to our page which are extremely slow:

https://xyz.com/search/mysearchtext/

This uses a WordPress rewrite rule to search instead of using the ?s=mysearchtext URL query. ElasticSearch is invoked twice using the same query but there is also an SQL query still there:

SELECT SQL_CALC_FOUND_ROWS wp_posts.ID
FROM wp_posts
...
ORDER BY wp_posts

[2020-12-01 17:43] cbratschi commented on #1991
Workaround: Run on init:

[code]

This disables the rewrite rules.

[2020-12-04 16:14] jeffpaul commented on #1501
Closed via 1733

[2020-12-04 16:14] #1501 closed

[2020-12-04 18:57] sandrodz commented on #1772
I experience the same issue with missing products from categories. Sometimes resyncing with elasticpress helps, sometimes not.

[2020-12-05 14:12] freshlinx opened #1993 "Elasticpress not connecting to remote Elasticsearch instance"
I have installed Elasticpress v7.10 on a clean VPS running Ubuntu 18.04.

When I curl localhost:9200 from the machine I get a valid response showing that Elasticsearch is running. I have opened port 9200 using `ufw allow 9200` and the status confirms that port 9200 is open. Elasticsearch is configured by default to work on port 9200 and this has been confirmed by my internal curl request.

The pro

[2020-12-07 13:31] aaronjpitts opened #1994 "What to do when you have too many posts and the indexing fails"
I have 13,762 posts now to index in ES. I am already using `ep_prepare_meta_data` to limit the meta data stored for each record. Now when I index, it is always failing to index and will only index between 300-2000 posts. I believe this is because the data store is too big now. I am running ES on a single node. Could you guys please suggest how to resolve this? Would creating more nodes help resolv

[2020-12-07 16:02] brandwaffle commented on #1994
@aaronjpitts are you getting any error messages from your ES server? One node is not ideal from a reliability standpoint but there's no reason it should fail with that few posts.

[2020-12-07 16:04] brandwaffle commented on #1993
@freshlinx unfortunately we're unable to provide support for Elasticsearch or your server's networking config here. I can confirm that a properly configured Elasticsearch cluster will work with ElasticPress. You might want to try your question on the Elasticsearch forums, or you could also use WP Local Docker or another setup that includes a working Elasticsearch endpoint.

[2020-12-07 16:04] #1993 closed

[2020-12-07 16:05] #1991 closed

[2020-12-07 16:06] #1981 closed

[2020-12-07 16:14] brandwaffle commented on #1952
@shmaltz to use filters you'll want to call `add_filter` with the appropriate arguments and then write a function to return the word "date." Something like
`add_filter( 'ep_set_default_sort', 'ep_sort_by_date', 10, 2 );
function ep_sort_by_date( $sort, $order ) {
                                 array(
					'date' => array(
						'order' => 'DESC',
					),
				),
}`

Please note this code is not t

[2020-12-09 11:09] dominikkuen opened #1995 "Does EP support wildcard queries? For example: *apple*"
**Does ElasticPress support wildcard queries?**

I am not able to find anything related to that question in the documentation or source code of the plugin.
The only thing I was able to find is related to wilcard query removal for user searches via filter (ep_user_search_remove_wildcards)
[code]
Any suggestion is highly appreciated as I don't want to implement the "same" functionality via synonym e

[2020-12-09 16:25] sovabarmak opened #1996 "Can i use your plugin with amazon elasticsearch?"
Can i use your plugin with amazon elasticsearch?
i tried as here https://github.com/10up/ElasticPress/issues/1523#issuecomment-554398396
but not working for me

[2020-12-09 17:53] KalmanG commented on #790
@ivankristianto The wiki link is broken. We are working on connecting to AWS. Is there a replacement or any other docs?

[2020-12-09 17:55] joehoyle commented on #790
@roborourke I think you recently discovered there might be an EP header getting in the way of Authorization/AWS signed params?

[2020-12-09 21:45] roborourke commented on #790
Correct, EP adds an “EP-Search-Term” header containing the raw search term value for search queries. The value isn’t escaped though - headers have to be ASCII so must be mime encoded. This is why request signing fails at any rate.

In Altis we just removed the header for now as I think it’s specific to elasticpress.io

[2020-12-09 21:50] KalmanG commented on #1996
Perhaps an answer to your question.

https://github.com/10up/ElasticPress/issues/790#issuecomment-742082342

[2020-12-10 08:05] sovabarmak commented on #790
@roborourke  can you tell what need to do, to allow plugin to work with amazon aws?

[2020-12-10 09:13] dimaggioalessandro opened #1998 "Strange fields indexing"
Hi,
my installation has lots of meta.

For each meta, on Elasticsearch DB, are created multiple versions for each data type:
- meta.abstract.boolean
- meta.abstract.date
- meta.abstract.datetime
- meta.abstract.double
- meta.abstract.long
- meta.abstract.raw
- meta.abstract.time
- meta.abstract.value

This is causing _index.mapping.total_fields.limit_ to exceed the default limit of 5000.

Is it no

[2020-12-10 10:19] Rahmon commented on #1998
Hi @dimaggioalessandro.

By default, the ElasticPress will index all public post meta (keys that don't start with an "_" ). You can exclude public meta data using the filter [ep_prepare_meta_data](http://10up.github.io/ElasticPress/ep_prepare_meta_data.html).

[2020-12-10 12:20] dimaggioalessandro commented on #1998
Ok thank you, I will try. But is it normal that the same meta data is indexed in 8 different forms?

[2020-12-10 13:11] Rahmon commented on #1998
Yes. The ElasticPress can index public post meta in a variety of formats.

[2020-12-10 17:52] cbratschi commented on #1991
@brandwaffle will there be a fix for this? I just provided a workaround but the root cause is still there.

[2020-12-11 17:14] brandwaffle commented on #1995
@dominikkuen yes, you can issue a Wildcard query https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-wildcard-query.html. The reason we avoid this in the plugin is because it can be relatively slow, but there's no reason it shouldn't work.

[2020-12-14 19:34] felipeelia opened #2000 "Create a new --stop-on-errors parameter for the WP-CLI index command"
**Is your enhancement related to a problem? Please describe.**

Currently, WP-CLI index command will only stop if the response to the request is an error. Otherwise, it will record all errors (like "too many fields" errors) and present them at the end of the whole process.

**Describe the solution you'd like**

It would be nice to have a way to stop everything on the first sign of a problem.

**Ad

[2020-12-14 19:40] mfs-mindsize opened #2001 "Weighting and WooCommerce"
The EP weight settings for WC products do not getting applied to searches does vie the WC Search widget, that is post_type=product.

**Steps to Reproduce**

1. Install and activate Debug Bar, as well as the EP Debug Bar add-on.
2. Add the (Site) Search widget, as well as a Product Search widget somewhere (e.g., sidebar).
3. Use the Site search and review the Query Body. You'll see weighting applie

[2020-12-15 10:27] goaround opened #2003 "Facet Term Search only works for the first not multiple Widgets"
**Describe the bug**

If you use multiple Facet Widget on one site, the Term Search on input only works for the first Widget because `document.querySelector('.widget_ep-facet .facet-search')` only get the first and not all Widgets.

See: https://github.com/10up/ElasticPress/blob/84ba959f31944ece2fd507c4fff679daa71cd024/assets/js/facets.js#L32

**Steps to Reproduce**

1. Place at least two Facet Wi

[2020-12-15 10:45] goaround commented on #2003
Fixed with this PR https://github.com/10up/ElasticPress/pull/2004

[2020-12-17 10:32] cbratschi opened #2005 "No mapping found for [term_id.long] in order to sort on"
**Describe the bug**

The following error is reported by ElasticSearch:

No mapping found for [term_id.long] in order to sort on

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress version:

 - Plugins and version:
 - Theme and ver

[2020-12-17 10:33] cbratschi commented on #2005
I could not find term_id.long fieldsin Kibana.

[2020-12-22 17:25] mgratch commented on #2001
@tlovett1 @moraleida I thought it was worth pointing out that #1801 #1722 are only loosely related to this ticket. Where those tickets are related to weighting WC attributes via the dashboard. This ticket is related to making use of weighting when using any search directly associated with WC. i.e. If you use the WooCommerce included search widget or the default search included with the storefront

[2020-12-22 17:31] #1942 closed

[2020-12-22 22:45] amanank opened #2008 "click on autosuggest highlighted word doesn't work"
**Describe the bug**

In the autosuggest dropdwon clicking on the <mark> text doesn't do anything

**Steps to Reproduce**

1. Enable autosuggest with `$options['action'] = 'select';` i.e. populate search box
2. Type search
3. Click on the marked part of options
4. The autosuggest is closed without updating search box

**Expected behavior**

The selected option text should be populated in search bo

[2020-12-23 15:34] tlovett1 opened #2009 "Incorrect HTML <title> on weighting page"
I am seeing "ElasticPress Setup" as the title on the weighting page. This is a bug.

[2020-12-23 17:59] j040n3t0 opened #2010 "Show all query results"
The current version of ElasticPress Plugin is limited only 10000 results, because this is a elasticsearch pattern, but is possible to change the search pattern to show all results.

**File:** Elasticsearch.php
**Line:** 258

Old version:
`$path = $index . '/_search';`
New version:
`$path = $index . '/_search?track_total_hits=true';`

[2020-12-25 08:44] sandrodz commented on #1772
@flaversaver21 have you resolved your issue with missing products?

[2020-12-29 05:16] vedagames opened #2012 "There is a problem with connecting to your Elasticsearch host. ElasticPress can try your host again, or you may need to change your settings. Response error: cURL error 7: Failed to connect to X.X.X.X port 9200: Connection refused"
**Describe the bug**
Hi!
Its giving me error called
There is a problem with connecting to your Elasticsearch host. ElasticPress can try your host again, or you may need to change your settings. Response error: cURL error 7: Failed to connect to X.X.X.X port 9200: Connection refused.

I have checked that elasticsearch working fine when I try to check via browser or via curl in cmd. Its available pu

[2020-12-29 17:13] hedqvist commented on #1251
@brandwaffle Any update regarding

Would be great if we could implement lets say "Product Image" here in the autosuggest results.

[2020-12-30 04:34] vedagames opened #2013 "Slow Query using ElasticPress"
Hi!
I have installed ElasticPress on My Dedicated Server.
I have installed Plugin Called ElasticPress. Connected to my server
indexing got completed. I have enabled ElasticPress For my woocommerce From Dashboard Settings. Now I need any additional step like modify any search related files etc? I have added debug bar suggested by ElasticPress and Seen that its connecting my ElasticSearch server and

[2021-01-02 23:24] iticrush opened #2014 "How to set it to work with custom order id"
Hi there,
we found that, after enabling the protected contents, we are not able to search orders by their order id (always return empty list), and I suspect that is because we are using a plugin to generate custom order id.

https://de.wordpress.org/plugins/custom-order-numbers-for-woocommerce/

Is there a way to configure Elasticsearch to include the custom id in the indexed properties?

Regards,

[2021-01-02 23:35] iticrush commented on #2014
tried the following code, but not working

add_filter( 'ep_search_fields' , 'add_reference_num', 10, 2 );
function add_reference_num( $search_fields ) {
  $search_fields[] = '_alg_wc_custom_order_number';
  return $search_fields;
}

[2021-01-02 23:51] iticrush commented on #2014
without the elasticpress plugin a query like the following is fired, however, after enabling the elaticpress, I did not see this or a similar query

SELECT SQL_CALC_FOUND_ROWS wp_posts.ID
FROM wp_posts
INNER JOIN wp_postmeta
ON ( wp_posts.ID = wp_postmeta.post_id )
WHERE 1=1
AND ( ( wp_postmeta.meta_key = '_alg_wc_custom_order_number'
AND wp_postmeta.meta_value = '248363' ) )
AND wp_posts.post_typ

[2021-01-03 00:39] #2014 closed

[2021-01-03 00:39] iticrush commented on #2014
/* add custom order id in Elastic search index list */
add_filter( 'ep_prepare_meta_whitelist_key', function( $allow, $meta_key ){
    $meta_keys = ['_alg_wc_custom_order_number']; // meta keys you want to allow
    return in_array( $meta_key, $meta_keys );
}, 10, 2 );
add_filter( 'ep_search_fields', 'update_search_fields', 11, 2 );

function update_search_fields( array $fields, array $args ): arr

[2021-01-03 11:13] Thalvik opened #2015 "Enhancement: implement 'NOT LIKE' operator for meta_query"
Hello,

In postmeta table, I have an ACF field for type check boxes. These check boxes allow more that one value to be selected. Then the field is saved in postmeta table as serialized data, like so:

`a:2:{i:0;s:7:"value_1";i:1;s:7:"value_2";}`

When I want to query a post with specific value, I would just put a meta query with 'LIKE' operator:

[code]

However, if I want to use a 'NOT LIKE' oper

[2021-01-03 11:53] Warns opened #2016 "Autosuggest not working Chrome Console keeps showing Mixed Content Error."
**Describe your question**

I have ES running on an Ubuntu server hosted on Digitalocean. The indexing and search working properly but autosuggest keeps giving the following error.

[code]

My configs:
elasticsearch.yml
![image](https://user-images.githubusercontent.com/4021052/103477836-846b6100-4dd3-11eb-8bdc-50d6cd625de6.png)

I can curl from outside of the server using http://public-ip:9200/

[2021-01-04 20:33] brandwaffle commented on #2016
@Warns since you're running your site via HTTPS you will need to also make your Elasticsearch endpoint connect via HTTPS. This will eliminate the mixed content warning. You are correct that directly exposing your endpoint has significant risks, which is why we offer our ElasticPress.io service that includes a secure autosuggest endpoint. If you are unable to sign up for our service, you can create

[2021-01-04 20:33] #2016 closed

[2021-01-05 17:47] rickwschneider7 opened #2017 "Exclude content from index"
Hello,

Is there a way to exclude certain posts from the index based on custom fields or other criteria? This seems like it should be basic functionality, but I don’t see this feature anywhere in the plugin interface.  Strangely, I can't find anything on the forum here, or on the greater www about it, either.

Thanks in advance,
Rick

[2021-01-06 09:14] infospherebv opened #2018 "Add custom meta"
We are checking out the Elasticpress plugin to add fast filters to a customer's webshop. The filters are stored in custom tables as the use of the standard taxonomies in a large amount has a high impact on the performance of a Woo webshop.

The customer has around 900 different custom meta item. Mainly becouse this contains a huge amount of different product types which all have their own meta. We

[2021-01-06 12:09] photocurio opened #2019 "Can't ingest documents when nobulk is set"
When indexing with the CLI, if the nobulk option is set, Documents are not ingested by ElasticSearch.

**Steps to Reproduce**

1. Setup Elasticsearch instance, with ingest-attachment plugin on every node
2. Enable Document searches in Elasticpress
2. Run `wp elasticpress index --nobulk --url=site.com/subsite`
2. Make sure ES finishes indexing
3. Check a document in Kibana
4. See error: the documen

[2021-01-07 16:53] #1974 closed

[2021-01-07 16:59] #1988 closed

[2021-01-07 22:22] tamara-m commented on #1590
Found this thread looking for the same solution.

Was stuck at "ERROR: An index is already occurring. Try again later. even after Ctrl + C.
Clearing the transient did the trick.

[2021-01-08 14:31] neilb400 opened #2021 "PHP - checking tags and deleting from index upon post create or update"
Hi there,

I'm trying to adapt the code in [this comment in post 253](https://github.com/10up/ElasticPress/issues/253#issuecomment-98881570) to delete a post from the index on our site upon creation or update and it contains either or both of two specific tags.

The adapted code so far is:

[code]

The code in the (admittedly a bit dated) issue refers to calling a function ep_delete_post() but tha

[2021-01-08 18:41] danielecelsa opened #2023 "Ajax Load More functionality integration issue"
Hello,

if in the Search Results page, instead of using default Pagination, I use the Ajax Load More functionality that lots of plugins come with, the results in the first page are correctly handled by ElasticPress, BUT the additional results (after Load More call) are handled by default WP search engine.

It seem that default WP query is used instead of ES query when Ajax is called.
This does not

[2021-01-11 12:05] Louiseh86 opened #2025 "Elasticsearch version 7.10.1 not supported"
Hi, we have installed version 3.5.1 from the WordPress plugins repository but I get the error below when activated:

" Your Elasticsearch version 7.10.1 is above the maximum required Elasticsearch version 7.9. ElasticPress may or may not work properly. "

I am unable to sync and there is no noticeable improvement in search speed, so I guess its not working.

Are you still providing support for thi

[2021-01-12 10:40] Ignasrimkunas opened #2026 "Enabling x-pack with external elasticsearch server"
Hello! I've got an external Elasticsearch server running on a VPS, the question is, how to do I go about implementing x-pack with my WordPress running on shared hosting? I know how to enable x-pack and got the passwords generated although when this feature is enabled ElasticPress comes with "There is a problem with connecting to your Elasticsearch host". Do you know how to pass the credentials gen

[2021-01-12 11:55] KalmanG commented on #1892
@wiwimaster Is your solution working well? Any chance you would share your code? Having troubling connecting.

[2021-01-12 12:09] wiwimaster commented on #1892
@KalmanG, yes the solution works very well. You can find the API at https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/index.html with all necessary descriptions to query, transform, update etc elasticsearch.

A simple query would look like this (more or less copy&paste from the "quick start" example in the mentioned doc above):

[code]

In terms of effort, it totally depends on

[2021-01-12 17:02] brandwaffle commented on #1892
@KalmanG @wiwimaster not sure if perhaps you have custom filters applied or another plugin is somehow conflicting, but with a base install this is the query that is issued for /nodes/plugins (note the authorization string is passed).

![image](https://user-images.githubusercontent.com/663228/104344671-4ac0e700-54b2-11eb-9cc4-05ade530a1d8.png)

http://10up.github.io/ElasticPress/includes_classes_El

[2021-01-12 17:18] brandwaffle commented on #2025
Hi @Louiseh86,

Unlike WordPress, Elasticsearch often introduces breaking changes, so we have to test extensively before bumping the maximum supported version. Please note 7.9 is fully supported and approximately 4 months old--it's the version we recommend you use right now.

You can also use 7.10.1, but note you may see occasionally unexpected behavior. If you would like to contribute back to thi

[2021-01-12 17:18] #2025 closed

[2021-01-12 17:20] brandwaffle commented on #2026
@Ignasrimkunas you can use the ES_SHIELD parameter in wp-config.php:

`define( 'ES_SHIELD', 'username:password' );`

If you are planning to self-host Elasticsearch and activate Autosuggest, please be conscious of security implications.

[2021-01-12 17:24] brandwaffle commented on #2023
@danielecelsa at a high level, ElasticPress works by "taking over" certain queries. This includes the "s" parameter in a query, which indicates a search. Depending on how the Ajax plugin you're using works (they're all different), the author might be creating a special non-search query, or they could be even issuing a direct SQL query, which means ElasticPress can't "see" the query to take it over

[2021-01-12 17:31] brandwaffle commented on #2021
@neilb400 at first glance it looks like this code should cause EP to skip indexing this post. The only reason you'd need to delete anything in this case is if you have already indexed, then add this code. In that case a full reindex should clear the posts and they should not be reindexed. Have you debugged to ensure your function is returning true?

Also, I'd avoid directly referencing the tag IDs

[2021-01-12 17:52] brandwaffle commented on #2023
@danielecelsa I hear you're working on this with our support team as well, in which case I'll go ahead and close the ticket in 3 days unless you want me to keep this open. Thanks!

[2021-01-12 18:00] neilb400 commented on #2021
Thanks for the reply.  Yes, there is separate filtering code in place, which works well on a full re-index.  What I am trying to achieve is immediately deleting a single post from the index without a full re-index if one or both of those tags are added to an existing post.  It looked possible based on the post I referenced, but maybe it isn't possible or necessary.

Fair point!

[2021-01-12 18:11] brandwaffle commented on #2012
Hi @vedagames,

Thanks for submitting this issue. Since this support forum is focused on the ElasticPress plugin, we're unable to provide additional support for self-hosted Elasticsearch instances beyond confirming that all plugin functionality works properly with a standard Elasticsearch cluster running the latest supported version of Elasticsearch that ElasticPress supports.

If you would like t

[2021-01-12 20:07] Ignasrimkunas commented on #2026
Thank you! Works like a charm, will be sure to test this out with HTTPS as well. I'm not planning on using autosuggest.

[2021-01-12 21:49] #1971 closed

[2021-01-12 22:35] brandwaffle commented on #2021
@neilb400 gotcha, that makes sense! To delete the post based on the conditional during (re)sync, you'll want to call this function:
`\ElasticPress\Indexables::factory()->get( 'post' )->delete( POST_ID );`

Let me know if your function works with that change!

[2021-01-13 13:12] hedqvist commented on #1251
@fabianmarz Was there a solution where you managed to use autosuggest and change the looks of results? I'm mainly after a solutin where I can add Product Image and price to the results...

[2021-01-13 16:11] fabianmarz commented on #1251
@hedqvist, I hacked the plugin code myself. I basically added the changes I commented in this issue but switched over to an AJAX search (instead of the autosuggest feature) and thus dropped it in the end. I'm not sure if any adjustments to the autosuggest template are possible by now.

[2021-01-13 20:46] pjohanneson opened #2029 "Diacritical-insensitive search"
**Describe the bug**
I would like to be able to search for text in post & page content in an ASCII-folded manner. e.g., if I have a post containing the word `piñata`, I would like searches for both `pinata` and `piñata` to find the post.

**Steps to Reproduce**

1. Create a post with the word `piñata` in it.
2. Search the site for `pinata` (eg example.com/?s=pinata
3. The post is not found.

If I'

[2021-01-13 22:14] brandwaffle commented on #2029
@pjohanneson it does look like you can apply the **asciifolding** analyzer to ignore accent marks, but that appears like it could cause confusion in certain circumstances. For example, **el** and ** él** mean two different things. If you're looking to ignore the diacritical marks, I would recommend adding the analyzer via a filter. If you just want to make sure certain words (especially ones in a

[2021-01-14 09:53] neilb400 commented on #2021
Yes, perfectly.  Thank you so much for the answer.

[2021-01-14 10:06] wiwimaster commented on #1892
Hi @brandwaffle great to get some feedback at last after 4 months.

If you would have read my text above thoroughly, you'll see that at the time of opening this issue, there was no auth sent, so if you send it now, it is great but too late in my case. Also, I don't know many people who intend to use a plugin on a "clean" install only, so I expect plugins to also work with other plugins. Of course,

[2021-01-14 14:35] pjohanneson commented on #2029
I've been trying to do that, but I haven't managed to find the right filter. Is there a tutorial somewhere?

I'd like this to be as automated as possible, as we have a lot of different editors of varying technical ability. The vast majority of our site is in English, so other languages shouldn't pose a problem.

[2021-01-14 16:41] brandwaffle commented on #2021
Nice! I'm closing out this ticket. If you have any other questions, feel free to open a new one. Thanks for using ElasticPress!

[2021-01-14 16:41] #2021 closed

[2021-01-14 16:46] brandwaffle commented on #2013
@vedagames unfortunately, other plugins, themes, and even layout builders can add significant overhead on WordPress sites, and it seems you're seeing this on your search. For example, some plugins re-query each post to render meta on the page, or other non-performant actions.

If you see other queries that are complex and running slowly in MySQL (over 500ms is a good benchmark), you can run these

[2021-01-14 16:46] #2013 closed

[2021-01-14 16:57] brandwaffle commented on #1996
In order to avoid the header issue, we are going to remove the EP-Search-Term header for non ElasticPress.io requests. Also, for EP.io compatibility we need to mime encode the header see #790

[2021-01-14 17:47] felipeelia commented on #2001
Hi @mgratch , now that #1801 is merged, can you please try the code in the develop branch?

With the change made [here](https://github.com/felipeelia/ElasticPress/blob/b632170a9d8bd4a3c4a3a703dd61a263c4d004d1/includes/classes/Feature/WooCommerce/WooCommerce.php#L436), the WooCommerce feature is not setting `search_field` anymore, then that `if` you pointed out won't be true.

Thanks!

[2021-01-15 13:11] danielecelsa commented on #2023
Hello @brandwaffle , please do not close this ticket yet.
I think it is better to talk about this here in public, maybe someone could find it helpful. Also I will not go on with the conversation with support team, so let's continue here if it is possible :)

About the issue, I did what you suggested and I got some results, I guess the issue now is about 'pagination'.

I tried this code as per your

[2021-01-15 16:15] #2026 closed

[2021-01-16 01:19] oscarssanchez commented on #2009
Closing per #2011

[2021-01-16 01:19] #2009 closed

[2021-01-16 01:22] oscarssanchez commented on #1551
Closing as feature has been implemented.

[2021-01-16 01:22] #1551 closed

[2021-01-16 01:28] oscarssanchez commented on #1549
Hi @vitoralmeidabr ,

It looks like this was closed and later reopened, if by any chance there's still questions please feel free to open a new issue.
Kind regards,

[2021-01-16 01:28] #1549 closed

[2021-01-16 01:32] oscarssanchez commented on #1533
Closing as it seems this got resolved

@Trisky please feel free to submit a PR, thanks!

[2021-01-16 01:32] #1533 closed

[2021-01-18 10:40] hedqvist commented on #1251
I see, thanks for a quick reply @fabianmarz, but you are still using it as of today? I looked into your site and it seems to display suggestion/results in a nice way. Both with price and product image.

[2021-01-18 18:35] brandwaffle commented on #1996
@KalmanG the EP-Search-Term header will no longer be sent as of version 3.5.2. Can you test and see if this resolves your issue?

[2021-01-18 18:58] Rahmon opened #2032 "Icons alignment and focus style"
**Describe the bug**
In the dashboard header, some icons are not correctly align with others and the focus style doesn't fit correctly in all icons.

**Expected behavior**
Consistent icons style.

**Screenshots**
![image](https://user-images.githubusercontent.com/6010232/104953329-f7183700-59a4-11eb-9d7b-2d612062064c.png)

**Environment information**

**Additional context**

[2021-01-18 20:25] Rahmon opened #2035 "Input with different style"
**Describe the bug**
On the Settings page, the Subscription Username's field has a different style.

**Expected behavior**
Field with the same style as others.

**Screenshots**
![image](https://user-images.githubusercontent.com/6010232/104959954-11a4dd00-59b2-11eb-9e19-8ecdcdfbcffd.png)

**Environment information**

**Additional context**

[2021-01-19 12:18] APLJ1976 opened #2038 "Related posts in template with filter."
With some help i have Elasticpress / Elastic search up and running at my server.

I am not a programmer, so please bear with me. I have a lot of posts and YARRP (related posts plugin) seems to slow down the website a lot, so i want to use the Elasticpress related posts feature. but i don't know how to actually implement it in the template.
I read i have to use below

`ElasticPress\Features::factor

[2021-01-19 18:04] brandwaffle commented on #2038
Hi @APLJ1976,

Related Posts is available as a Widget as well as a Block Editor Block to make it easy to add to your site with no code whatsoever!

To filter the query by a post type, you would want code something like this (please note this code has not been tested and should not be added to a production site without testing on staging first):
[code]
You'll likely need some additional logic to de

[2021-01-19 18:04] #2038 closed

[2021-01-19 20:45] felipeelia opened #2039 "Search exact phrase when using quotes"
**Is your enhancement related to a problem? Please describe.**

Some more advanced users try to search using quotes to match an exact phrase. So, searching for `foo "bar lorem" ipsum` would match `foo` and `ipsum` in any place but would match `bar lorem` just if they appear together.

We could also aim for more complex operators like AND, OR -, *. and ().

**Describe the solution you'd like**

We

[2021-01-19 20:47] pjohanneson commented on #2029
I've found a solution:

    add_filter( 'ep_config_mapping', function( $mapping ) {
        $mappings['settings']['analysis']['analyzer']['default']['filter'][] = 'asciifolding';
        return $mappings;
    } );

This works, but please let me know if you think it's overly broad.

[2021-01-20 19:29] embold-given commented on #1941
I feel like this was merged and closed without being addressed. The task it was merged with only dealt with the notification message. It doesn't do anything about not being able to add synonyms.

I'm in the same boat as scooterlord. We had a list of synonyms, now it's gone, when we try to save any new ones, we get the message:
`There was an error storing you synoyms.`

We're on 3.5.2, we have an i

[2021-01-20 19:46] tamara-m opened #2040 "Attachments not indexed when imported via WP All Import"
**Describe the bug**
When importing a set of ~2,000 attachment images through a WP All Import import job, attachments don't get indexed.
The images files are uploaded to the server, and all the data and metadata get saved to the posts and postmeta tables correctly and completely.

But, the media library displays empty, as ElasticPress finds 0 hits for attachments.
Manually running `wp elasticpress

[2021-01-20 21:41] brandwaffle opened #2041 "Facet typeahead selects first Facet in sidebar not current Facet"
**Describe the bug**

Adding more than one Facet causes the typeahead JS for a later Facet to select the first Facet's data slugs.

**Steps to Reproduce**

1. Create a Facet.
2. Create a second Facet that has multiple options, such as tags, in order to spawn the typeahead field.
3. Type into the typeahead field, and it won't properly limit results to matches. Looking at the function itself reveals

[2021-01-21 01:28] bjorn2404 opened #2042 "Decay provides unexpected results in sum mode"
**Describe the bug**

In testing with the "Weight results by date" setting enabled, old content can still surface to the top of the search results in the default `sum` boost_mode.

**Steps to Reproduce**

Need to test with a site that has old content.

- In our test case a query was bringing up a result in position 2 with a post date from 2009, which was not wanted. The client wanted to deprioriti

[2021-01-21 11:53] danielecelsa commented on #2023
Hello @brandwaffle,

did you by chance have the opportunity to deepen my request?

Thanks a lot,
Daniele

[2021-01-21 18:09] danielecelsa commented on #2023
@brandwaffle I have an **update**

Actually pagination works, and I got which is the real issue:
The problem is ONLY in the **LAST page**.

The Ajax Load More plugin handle well the query through ElasticPress and also pagination, it only fails in the last page because it shows the last results of ElasticPress query **PLUS** some results of WP query, if the number of post per page is more than the

[2021-01-21 21:58] tamara-m commented on #2040
This is not a bug, ElasticPress turns off indexing while importing by design, which I can understand.

We have a daily import job though and still needed an automation, so for everyone needing to index posts programmatically, the answer was using

`\ElasticPress\Indexables::factory()->get( 'post' )->index( $post_id, true );`

[2021-01-21 21:58] #2040 closed

[2021-01-22 13:02] felipeelia commented on #2029
Hi @pjohanneson ,

Actually, that is a very good solution. Thanks for sharing!

[2021-01-22 13:02] #2029 closed

[2021-01-22 13:10] felipeelia commented on #2012
As we didn't have any movement in the ticket for the last week, I'm going ahead and closing the ticket. Feel free to open a new one if needed :)

[2021-01-22 13:10] #2012 closed

[2021-01-22 13:17] felipeelia commented on #2010
Hi @j040n3t0 ,

Thank you for opening this issue! Although it is an interesting point, I don't think it'll be something meaningful for all users at this point. For those willing to achieve that, the following snippet can help:

[code]

I'm closing the issue now but if you have any other ideas, feel free to create new ones. They are always welcome!

[2021-01-22 13:17] #2010 closed

[2021-01-22 13:56] felipeelia commented on #2008
Thanks @amanank ! I've created a Pull Request with that code (and a small adjustment).

[2021-01-22 14:09] felipeelia commented on #1998
Hi there! As the question has been answered, I'm closing the issue now.

Further info can be found in the following links:
- [I get the error "Limit of total fields [???] in index [???] has been exceeded"](https://elasticpress.zendesk.com/hc/en-us/articles/360051401212-I-get-the-error-Limit-of-total-fields-in-index-has-been-exceeded-)
- [How to exclude metadata from indexing](https://elasticpress.

[2021-01-22 14:09] #1998 closed

[2021-01-22 14:13] felipeelia commented on #1995
As the answer has been answered, and we didn't have any movement in the issue for a while now, I'm closing the ticket. If you have any further questions feel free to leave a comment here or open a new issue. Thanks!

[2021-01-22 14:13] #1995 closed

[2021-01-22 14:20] felipeelia commented on #1984
Hey @benleeth !

As we had the chance to fix your problem through our [consulting services](https://www.elasticpress.io/elasticpress-consulting/), I'm now closing this issue. If you'd like to share the snippet we've come up with, feel free to do it in a comment here :)

Thanks!

[2021-01-22 14:20] #1984 closed

[2021-01-22 14:27] felipeelia commented on #1972
This was fixed by #1973 . Thanks @pjohanneson !

[2021-01-22 14:27] #1972 closed

[2021-01-22 14:28] felipeelia commented on #1954
As the answer has been answered, we are now closing the ticket. If you have any further questions feel free to leave a comment here or open a new issue. Thanks!

[2021-01-22 14:28] #1954 closed

[2021-01-22 14:32] felipeelia commented on #1952
As the answer has been answered, and the issue didn't receive any replies for the last month, we are now closing the ticket. If you have any further questions feel free to leave a comment here or open a new issue. Thanks!

[2021-01-22 14:32] #1952 closed

[2021-01-22 14:37] felipeelia commented on #1921
At this point, it seems we've answered all the questions about the new search algorithm. That said, I'm closing the issue. Thank you all for contributing!

[2021-01-22 14:37] #1921 closed

[2021-01-22 14:39] #1925 closed

[2021-01-22 14:42] felipeelia commented on #1722
As we've merged #1801 to fix this one, I'm closing it now.

[2021-01-22 14:42] #1722 closed

[2021-01-22 15:34] felipeelia opened #2044 "No mapping found for [name.sortable] in order to sort on"
**Describe the bug**

While using Elasticsearch 5.x, searching in the terms index using _name_ as the _orderby_ clause, will cause the following error:

[code]

The easiest way to fix the problem seems to be adding an if here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Term/Term.php#L952

[code]

**Steps to Reproduce**

1. Install _Debug Bar_ and _Debug Bar Elasti

[2021-01-22 15:46] #2001 closed

[2021-01-22 15:52] felipeelia commented on #1994
As we didn’t have any movement in this issue for a while now, we are now closing it.

For cases like these, it can be useful to run the following WP-CLI command and check the output:

wp elasticpress index --setup --show-errors

If after a while you get a timeout error, [this article](https://elasticpress.zendesk.com/hc/en-us/articles/360051876131-ElasticPress-hangs-on-indexing-and-or-fails-with-e

[2021-01-22 15:52] #1994 closed

[2021-01-22 15:58] felipeelia commented on #1889
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-01-22 15:58] #1889 closed

[2021-01-22 16:12] felipeelia commented on #1982
Hi @scooterlord ,

Sorry for the late response here but I was able to dequeue the script using the following snippet:

[code]

Can you please give it a try? Also, for future visitors of this GitHub issue, worth mentioning that the CSS file will be included only if the highlight functionality is enabled.

Thanks!

[2021-01-22 17:08] cbratschi commented on #2005
Yes, reindexing was done using the CLI command.

Elasticsearch is version: 7.9.3

[2021-01-22 18:07] brandwaffle commented on #293
Closing this as Events Calendar has an EP module now and this ticket is quite stale. Other issues raised can be addressed in other tickets.

[2021-01-22 18:07] #293 closed

[2021-01-22 18:17] sc0ttkclark commented on #293
@brandwaffle Which EP module are you referring to here?

[2021-01-22 18:24] brandwaffle commented on #2015
@Rahmon to estimate effort and feasibility.

[2021-01-22 19:23] felipeelia commented on #293
I guess it is this one @sc0ttkclark : https://theeventscalendar.com/product/elastic-events/

[2021-01-22 19:25] felipeelia commented on #2005
Did you use the --setup flag, @cbratschi ? That is needed to send the mapping.

[2021-01-22 20:17] sc0ttkclark commented on #293
Gotcha, yeah I'm the one that built that one :)

Just was confirming there

[2021-01-22 21:33] shadyvb commented on #363
For future reference, this plugin would let developers manage stopwords via the native WordPress filter `wp_search_stopwords`, and integrates with said filters above to update ElasticPress mapping accordingly: https://github.com/humanmade/elasticpress-stopwords

[2021-01-23 20:39] cbratschi commented on #2005
Yes, setup was used:

[code]

[2021-01-23 20:47] cbratschi commented on #2005
The error happens with this query for instance:

[code]

The only thing special is that there is also a search term and an excluded taxonomy term. We log all errors and only see errors where a search text is being used in combination with our custom "region" taxonomy.

[2021-01-25 16:01] APLJ1976 opened #2046 "Related posts showing nothing or last posts."
I have related posts active in my template, but i have two issues.

1) When it works last posts are shown and not related posts.
2) Sometimes nothing is displayed at all and debugging shows this message "Invalid argument supplied for foreach()"

I copied the curl request:
`curl -XPOST -H 'Content-Type: application/json' -d '{"from":0,"size":5,"sort":[{"post_date":{"order":"desc"}}],"query":{"more_

[2021-01-25 20:44] brandwaffle opened #2048 "Allow custom headers with the Autosuggest JS request via PHP filters to epasOptions"
**Is your enhancement related to a problem? Please describe.**

As raised in #1990 there is occasionally the need to add headers to the JS request sent by Autosuggest.

**Describe the solution you'd like**

We should support adding custom headers to the epasOptions localized var when it's sent to the DOM. This can be accomplished by adding a headers array to the list of options localized, which we

[2021-01-27 03:10] oscarssanchez commented on #1620
Seems conversation went on #1251. I'll be closing this one.

[2021-01-27 03:10] #1620 closed

[2021-01-27 04:47] #1651 closed

[2021-01-27 04:49] #1671 closed

[2021-01-27 11:58] abdullah1908 commented on #2015
@Thalvik thanks for this suggestion. We will definitely take this under consideration and could see this being part of a future release as a part of an additional feature module similar to the WooCommerce one. We will update the ticket as we decide on a path forward.

[2021-01-27 16:08] #1941 closed

[2021-01-27 16:08] #2032 closed

[2021-01-27 16:08] #2035 closed

[2021-01-27 18:08] mrbirne opened #2051 "Ajax search load-more doesn't highlight search word"
**Describe the bug**
I'm building a custom search site with a load more button, where the user can add more search results over ajax. The inital result is build over the basic WordPress search.php template with the global loop result. Where everything works fine and the searched word is highlighted. If I click on the load-more, the posts load as expected, but the highlighting is missing.

**Expect

[2021-01-27 18:12] scooterlord commented on #1982
Hello, yes, this works! Thank you very much! Looks like it needed the correct priority to work!

[2021-01-27 18:12] #1982 closed

[2021-01-27 22:43] corentin-branquet opened #2054 "How to make ElasticPress work with Ajax requests"
Hi  !

I'm using ElasticPress on one of my project.

I want to speed up my Ajax Requests (I use wp_query)  , but I don't know how to do that even though I read your doc.
I installed the plugin, put my local host and sync my index. Do I missing any steps ?

I also installed debug bar for ElasticPress and when I trigger that WP Query, No query has been fouund in the logs

Thanks for your help !

[2021-01-27 22:52] brandwaffle commented on #2054
Hi @corentin-branquet you just need to pass an additional WP_Query parameter of **ep_integrate => true** and that will route the query through ElasticPress. Keep in mind Ajax queries won't necessarily show up in the Debug Bar, so you may want to manually debug to ensure the results are hitting Elasticsearch.

[2021-01-28 08:02] corentin-branquet commented on #2054
Thanks for your reply !

Is it working with this kind of query : `get_terms(...);` instead of `WP_query` ?

[2021-01-28 12:01] neilb400 opened #2055 "How can we cap the number of results?"
Is it possible to alter the query from EP so that the Elastic appliance is asked to cap the number of results if there is more than a particular number found (500 in our intended use case)?

In other words, if there is going to be more than 500 results returned by the appliance, we only want the 500 most relevant / oldest / newest (depending on what the end user has chosen) to be returned.

We wou

[2021-01-28 14:33] cbratschi commented on #2005
I am also seeing this sync error:

[28-Jan-2021 14:29:32 UTC] PHP Notice:  Trying to get property 'term_id' of non-object in /home/xyz/public_html/cms/wp-content/plugins/elasticpress/includes/classes/Indexable/Term/SyncManager.php on line 110

[2021-01-28 17:30] brandwaffle commented on #2055
Hi @neilb400,

ElasticPress will respect the value set by the WP_Query, which usually comes from the posts per page setting in your WordPress Dashboard, but could be overridden by another plugin for any particular query. That said, ElasticPress tries to do exactly what you're describing--inherit the per_page parameter of a query in order to ensure that the number of results returned by Elasticsear

[2021-01-28 19:01] felipeelia commented on #2046
Hi @APLJ1976 ,

Looking at the query being sent, I can see:
1. It is searching just for products
2. It is using the post/product with ID 438977 to compare
3. It is searching just for titles, contents, and post tags.

Is that what you really want to get done? If so, do you have those three fields properly set for your products? A few other things that may help us to understand better your problem:

[2021-01-28 19:24] felipeelia commented on #2023
Hi @danielecelsa ,

ElasticPress should not be changing anything on the last page. I have a suggestion to help you to debug what is going on.

1. Enable WP_DEBUG and WP_DEBUG_LOG constants in your wp-config.php file. Set WP_DEBUG_DISPLAY as false as well.
2. Inside your `get_document_data()` function, right before you call `$wp_query = new \WP_Query($this->query);`, insert `error_log( var_export(

[2021-01-28 19:31] felipeelia commented on #2017
Hey @rickwschneider7 ,

Sorry for the late response here. There is not an easy way to do that because we'll have to take into account the different ways a post can be indexed (on creation, save, or bulk index, for example). I'll try to put a snippet together in the next few days and share it with you here, okay? If you had the chance to achieve that already, please let us know and, if possible, sh

[2021-01-28 19:33] felipeelia commented on #2005
Thanks for the info @cbratschi . I'll try to replicate the issue locally and I'll be back to you here in the next few days.

[2021-01-29 08:27] neilb400 commented on #2055
Thank you for the response.

How about capping the total number of results across all pages, when pagination is in use?

The setting in WP is 14 results per page, so we want WP to see that only 500 results have been returned from the query and:

- this number to be reflected in the "X search results found for:" line shown to the user
- there is nothing beyond page 36 of the results

Essentially we

[2021-01-29 10:34] Rahmon commented on #2018
Hi @infospherebv .

Sorry for the late response here. I'm investigating what's a good approach in this case. I'll try to put a snippet together in the next few days and share it with you here, okay?

If you had the chance to achieve that already, please let us know and, if possible, share it here :)

Thanks!

[2021-01-29 10:39] Rahmon commented on #1977
Hi @ChrisWiegman .

Sorry for the late response here. I'll investigate this bug in the next few days and how we can achieve the expected behavior.

[2021-01-29 11:04] maverick-gdf opened #2058 "My custom query in elasticpress"
I would like to index custom mysql tables in elasticpress. It's possible to do it?

[2021-01-29 11:30] abdullah1908 commented on #2058
@maverick-gdf

ElasticPress uses an Indexable class which can be extended to connect any custom table in WordPress to use Elasticsearch. You can take a look at the Post, Term, or User Indexables (which are built into the plugin) for examples. It’s not a small undertaking, however, so keep that in mind. However EP [dev documentation](http://10up.github.io/ElasticPress/tutorial-indexables.html) can

[2021-01-29 11:37] felipeelia commented on #2058
HI @maverick-gdf,

Just to expand @abdullah1908 's reply here a bit:

To index the data, you can use an existent Indexable, create a new one, or directly index on ES. Ultimately, you will need to properly format your data and then call the `\ElasticPress\Elasticsearch::factory()->index_document()` function passing the index, the type, and the document/data you want to index. That will store your d

[2021-01-29 11:37] #2058 closed

[2021-01-29 11:49] felipeelia commented on #1876
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-01-29 11:49] #1876 closed

[2021-01-29 11:58] felipeelia commented on #1986
Hi @shaneonabike!

First of all, sorry for the late response here.

That would be awesome! Probably you already know but I'll share it here for future reference anyway:

Currently, we keep the plugin docs via GitHub Pages: http://10up.github.io/ElasticPress/. That documentation is maintained in the [docs](https://github.com/10up/ElasticPress/tree/develop/docs) folder of this same repo. Feel free t

[2021-01-29 11:58] #1986 closed

[2021-01-29 12:10] felipeelia commented on #1923
Hi @tamara-m,

First of all, sorry for the late response here. Answering your question, in fact, 3.5 didn't need it and we've removed the version number from the list: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Upgrades.php#L156

Regarding having that info in the Changelog, that is an excellent idea. I'm adding that to our release steps (see #2059).

Thanks!

[2021-01-29 12:10] #1923 closed

[2021-01-29 17:36] Rayuaz opened #2060 "ElasticPress is (apparently) messing with my product filters"
I recently installed ElasticPress on my woocommerce store, and it's working fine -- the product page is showing normally, and the search bar is working fine with the new elastic capabilities. However, when I try to use the product filters, nothing shows up, the query simply doesn't work. If I deactivate Elasticpress, however, the filters work normally. [This is the query](https://codeshare.io/GAwO

[2021-01-29 18:08] brandwaffle commented on #1556
@Rahmon when reviewing this, please update all default dates that set 1971 and change to 1970 (actual start of the Unix epoch).

[2021-01-29 20:45] tamara-m commented on #1923
Thanks @felipeelia
Is there any link or info about contributing to ElasticPress?

[2021-01-29 20:55] felipeelia commented on #1923
Hey @tamara-m! In fact, since January 19th we have a [contributing](https://github.com/10up/ElasticPress/blob/develop/CONTRIBUTING.md) file. Would be that what you were looking for?

[2021-01-29 22:11] danielecelsa commented on #2023
Hello @felipeelia,

first, really thank you very much for you kind help!

Then, I tried your suggestion and here my results:
- I attach _debug_log_github.txt_ that is an extract of the debug.log file, related to the test I just tried.
-  I attach also what I have in my wp-config.php file. I realized that I already had some of your suggestion in that file, so I just added `define( 'WP_DEBUG_DISPLAY

[2021-02-01 18:27] Rahmon commented on #2041
I'll close this issue as a duplicate of #2003.

[2021-02-01 18:27] #2041 closed

[2021-02-01 18:58] abdullah1908 commented on #2060
Hey @Rayuaz ,

First of all thank you so much for taking out time to create a ticket. We'll surely try the same stuff at our end & then get back to you.

Happy Monday!

[2021-02-02 16:39] bogdanarizancu commented on #2005
I am also getting the same notice when using Advanced Bulk Editor plugin to bulk save variation attributes:
`Notice: Trying to get property 'term_id' of non-object in ...plugins/elasticpress/includes/classes/Indexable/Term/SyncManager.php on line 114`

I am currently using my own patch for this:

[code]

[2021-02-02 17:28] moraleida opened #2062 "Allow for faceting via REST API"
**Is your enhancement related to a problem? Please describe.**

Currently ElasticPress does not allow custom queries to use the Aggregations feature, instead relying only on main queries. This excludes all REST API queries, native or custom.

**Describe the solution you'd like**

Allow for Aggregations to be manually permitted in custom queries so they can be returned in REST API requests and othe

[2021-02-02 18:04] felipeelia commented on #2017
Hi @rickwschneider7,

Here is a snippet that will prevent a post with a metafield called `should_skip_index` set to `1` from being indexed:

[code]

Thanks!

[2021-02-02 18:04] #2017 closed

[2021-02-02 18:34] felipeelia commented on #2044
As seen in #2005, this is also visible in other fields.

[2021-02-02 18:36] felipeelia commented on #2005
Thanks, @cbratschi, and @bogdanarizancu. I was able to replicate the issue. In fact, we'll have to work on some of these fields, and we'll concentrate that effort in #2044, so I'll close this one. (Please follow that issue to receive any updates about it)

While it is not properly fixed and shipped into a new ElasticPress release, this snippet will help you to have things working again:

[code]

T

[2021-02-02 18:36] #2005 closed

[2021-02-02 18:44] felipeelia commented on #2023
Hi @danielecelsa ,

The `error_log( var_export( $wp_query->posts, true ) );` should be placed _after_ the `$wp_query = new \WP_Query...` line. Can you please make that change, try again and share the results? Thanks

[2021-02-02 18:53] felipeelia commented on #1736
Hi @renakdup ,

As stated in #1737, per WP Docs, fields should never be `id` but rather `term_id`, `name`, `slug` or `term_taxonomy_id`. See more in https://developer.wordpress.org/reference/classes/wp_query/#taxonomy-parameters

I'm closing this one now but feel free to open a new issue if you find any other possible enhancement. Thanks!

[2021-02-02 18:53] #1736 closed

[2021-02-02 20:14] danielecelsa commented on #2023
Hi @felipeelia,

ok sorry, it was a misunderstanding.

Here new debug.log file, hope this could help:
[debug_log_github_2.txt](https://github.com/10up/ElasticPress/files/5914205/debug_log_github_2.txt)

Thank you in advance for your kind help!
Regards,
Daniele

[2021-02-02 20:17] abdullah1908 commented on #1419
Thanks everyone for your contribution & suggestions to this ticket. We are going to document this under [Develop Support](https://elasticpress.zendesk.com/hc/en-us/sections/360011096991-Developer-Support). You'll see that live soon.

[2021-02-02 20:17] #1419 closed

[2021-02-02 21:21] abdullah1908 commented on #1948
Hi @kaitoxdd ,

Thanks for reporting the issue. Unfortunately the [site demo](https://woocommerce-497189-1572133.cloudwaysapps.com/shop/) you shared with us is not working at our end. Can you please make it active again so we can have a closer look.

We are also trying to replicate this issue at our end & will get back to you once its done.

Best Regards,

[2021-02-03 01:41] oscarssanchez commented on #1482
Hi @gregoriopellegrino ,

If only one query is needed, you could achieve this by pasting the post content into the ACF field, and later on adding these fields to be searchable fields via `pre_get_posts` filter. This however does not look scalable for me. Another alternative to look at might be the more like this query https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-qu

[2021-02-03 01:41] #1482 closed

[2021-02-03 01:42] oscarssanchez commented on #1486
Fixed with #1532

[2021-02-03 01:42] #1486 closed

[2021-02-03 01:43] #1490 closed

[2021-02-03 01:56] oscarssanchez commented on #1475
This looks resolved to me @Rahmon in my testing. Can you please confirm ?

[2021-02-03 01:59] oscarssanchez commented on #1492
This should be because of our introduction of indexables. We have introduced the `terms`, `post` and `user` indexables

[2021-02-03 01:59] #1492 closed

[2021-02-03 02:01] oscarssanchez commented on #1496
Looks like #1647 resolved this. Closing.

[2021-02-03 02:01] #1496 closed

[2021-02-03 02:04] oscarssanchez commented on #1500
Hi @danielslyman ,

A bit late here but you may want to play with the fuzzy argument in the query sent to elasticsearch via the `ep_formatted_args` filter

[2021-02-03 02:04] #1500 closed

[2021-02-03 02:19] kaitoxdd commented on #1948
Hello @abdullah1908 ,

I deleted the site demo because I think this support thread is inactive. Also, your latest version of ElasticPress doesn't work with Cloudways elasticsearch so I uninstalled your plugin already.

[2021-02-03 02:20] oscarssanchez commented on #1642
I have detected `search_fields` make it to post_formatted_args but later on are wiped by the weighting engine @brandwaffle

[2021-02-03 02:24] oscarssanchez opened #2064 "search_fields filter does not work later on due to Weighting"
**Describe the bug**

It seems like search_fields does its job but later on when we are formatting the args with weighting:  https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Weighting.php#L26 they are ignored and deleted.

**Steps to Reproduce**

1. Use filter:
[code]
2.- Do a search
3.- Check es query and see the field is not working
4.- Remove https://github.com/

[2021-02-03 06:01] CyberCyclone opened #2065 "number_format_exception - 'from' should be an int, not a string"
**Describe the bug**
[code]

**Steps to Reproduce**

1. Added 'ep_prepare_meta_data' function found here: https://elasticpress.zendesk.com/hc/en-us/articles/360052019111
2. Set the settings found here:
![image](https://user-images.githubusercontent.com/4373888/106704383-c3d9d700-6637-11eb-86ae-2eb4efc034f1.png)

3. Do a search with Wordpress
4. Generated query:
[code]

**Expected behavior**
The "f

[2021-02-03 06:12] CyberCyclone opened #2066 "[terms] query does not support [publish] within lookup element"
This is an extension to this bug after changing 'from' to equal 0: https://github.com/10up/ElasticPress/issues/2065

**Describe the bug**
[code]

**Steps to Reproduce**

1. Added 'ep_prepare_meta_data' function found here: https://elasticpress.zendesk.com/hc/en-us/articles/360052019111
2. Set the settings found here:
![image](https://user-images.githubusercontent.com/4373888/106704383-c3d9d700-663

[2021-02-03 11:52] abdullah1908 commented on #1948
@kaitoxdd ,

We are really sorry for the delayed response as we have a lot tickets in queue. Would you mind to create a new ticket where you can explain what exactly the issue you are facing with Cloudways Elasticsearch? In case if you couldn't configure properly. Cloudways team explained very well about [ElasticPress configuration](https://www.cloudways.com/blog/elasticsearch-on-wordpress/) at th

[2021-02-03 13:19] aaronjpitts commented on #1994
Sorry for not getting back. It appears the issue came from lack of disk space on the VM.

[2021-02-03 22:18] oscarssanchez commented on #1817
Hi @dmhendricks ,

Have you tried with the latest version of Elasticpress? We have been merging a lot of code and might be solving the issue. Please feel free to open a new issue if this is not resolved!

[2021-02-03 22:18] #1817 closed

[2021-02-03 22:21] oscarssanchez commented on #1807
Hi @gustavo-roganti ,

Have you tried with the most recent version of ElasticPress? please feel free to open a new issue if it is not resolved.

[2021-02-03 22:21] #1807 closed

[2021-02-03 22:28] oscarssanchez commented on #1795
Closing as 7.9 is latest supported.

[2021-02-03 22:28] #1795 closed

[2021-02-03 22:33] oscarssanchez commented on #1776
Hi @torava ,
This seems to work from my testing with the latest version of Elasticpress. If you still have problems feel free to open a new issue.

[2021-02-03 22:33] #1776 closed

[2021-02-03 22:38] oscarssanchez commented on #1772
Hi @sandrodz ,

Any chance you can share a db dump of it so we can further investigate?

[2021-02-03 22:42] oscarssanchez commented on #1716
Closing as #1717 is merged

[2021-02-03 22:42] #1716 closed

[2021-02-03 22:44] oscarssanchez commented on #1704
Hi @jayhill90 ,

Is this solved in the most recent version? If not please feel free to open a new ticket!

[2021-02-03 22:44] #1704 closed

[2021-02-03 22:45] #1517 closed

[2021-02-04 00:07] CyberCyclone commented on #2065
**Further investigation:**

On this page (https://github.com/10up/ElasticPress/blob/737c50fdb69dcaa7b9acd8852d06e03c41a34724/includes/classes/Indexable/User/User.php) at line 319:

[code]

while on this page for posts (https://github.com/10up/ElasticPress/blob/e836c884ec42f3101e5fbd4bbbc8b914cee87f06/includes/classes/Indexable/Post/Post.php) it has at line 1360:

[code]

I.e, it's not casting the

[2021-02-05 10:32] peeyooshk commented on #1692
The issue persists. Let me know if you want me to have this done a staging site,

[2021-02-05 16:00] neilb400 opened #2073 "Age related decaying and not including older posts in results"
Hi, could someone please let me know whether the following two post age-related scenarios are possible?

1. Being able to adjust the amount that newer articles score towards a relevance search, so that the chances of newer articles appearing near the top of such a search is increased (not just an on/off weighting toggle)
2. Being able to adjust the maximum age of returned posts on a relevance sear

[2021-02-05 16:04] felipeelia commented on #1996
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Thanks!

[2021-02-05 16:04] #1996 closed

[2021-02-05 16:08] felipeelia commented on #2065
Hi @CyberCyclone! Thanks for opening the issue and sending the Pull Request. We'll discuss it internally and, hopefully, ship it into our next release.

[2021-02-05 16:18] felipeelia commented on #2066
Hi @CyberCyclone ,

I can't reproduce it locally. Are you by any chance hooking some custom code to a filter like `ep_formatted_args` or `ep_post_formatted_args`? Theoretically, [this line here](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L1347) would prevent "post_status" from being an indexed array. Thanks!

[2021-02-05 16:23] felipeelia commented on #2064
I guess we had a similar conversation in the past and IIRC we got to the conclusion that if the developer is working with `search_fields`, then probably the weighting engine should really be ignored.

[2021-02-05 16:37] felipeelia commented on #1850
Hi @SWICDEV ,

I'm sorry for the late response. Since it's been months since our last interaction here I doubt you're still waiting for some response here but anyway, here are a few things I'd like to suggest to you (and whoever gets to this issue in the future):

- Check if the `WP_HOME` and `WP_SITEURL` constants are relying on something like a `$_SERVER` variable. That would cause problems with

[2021-02-05 16:40] felipeelia commented on #1897
Hi @simplenotezy ,

Sorry for the super late response here. If you are still searching for a solution, it seems you could use the Facets feature. It would be just a matter of going to the ElasticPress Features page, enabling Facets, and instantiating the Facets widget on your theme.

Thanks!

[2021-02-05 16:40] #1897 closed

[2021-02-05 16:42] SWICDEV commented on #1850
Hello,

That is a correct assumption. We did move on to something else. However that does not mean I might not get back to trying again. Thanks for the information if we try to work with the plugin again I will for sure try these things.

I appreciate the follow up!

Thank you,

Melissa

Melissa Ashforth
Web Site Manager
Southwestern Illinois College
618-235-2700 ext. 5162

[cid:image001.png@01D6F

[2021-02-05 16:48] felipeelia commented on #1900
Hi @padams ,

First of all, sorry for the late response here. In short, ElasticPress does not cache query results but it gives the developer the opportunity to do that though, through filters like [ep_wp_query_cached_posts](http://10up.github.io/ElasticPress/ep_wp_query_cached_posts.html), for example.

Thanks!

[2021-02-05 16:48] #1900 closed

[2021-02-05 17:04] felipeelia commented on #2055
Hi @neilb400 ,

It seems it could be achieved through the `ep_es_query_results` filter, changing the `found_documents` value.

https://github.com/10up/ElasticPress/blob/develop/includes/classes/Elasticsearch.php#L407
http://10up.github.io/ElasticPress/ep_es_query_results.html

The code would be something similar to this:

[code]

Can you please give it a try and let us know if that works for you?

[2021-02-05 17:16] felipeelia commented on #1850
Thanks, @SWICDEV! I'll go ahead and close the ticket for now. If you decide to get back to it and face any issues, please let us know.

[2021-02-05 17:16] #1850 closed

[2021-02-05 17:54] felipeelia commented on #2060
Hey @Rayuaz ,

Are you also using the [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/) plugin? It is a Debug Bar add-on that shows some information about ElasticPress and Elasticsearch.

When you have that enabled, can you please send us the Elasticsearch query (it is under `Query Body` on Debug Bar ElasticPress)?

We are aware of a problem with ordering and terms, a

[2021-02-05 18:14] felipeelia commented on #1610
Hey @MichaelSchober and @rhedman ,

Can you both please check if #2070 works as you'd expect? Thanks!

[2021-02-05 18:17] #2065 closed

[2021-02-05 18:34] brandwaffle opened #2074 "Refactor backend JS to remove jQuery dependency"
**Is your enhancement related to a problem? Please describe.**

Currently the front end has been detached from a jQuery dependency, but not the backend. We made an attempt at this in #1663 but ended up pulling in the code from there only for the front-end parts of the plugin (mainly Autosuggest.

**Describe the solution you'd like**

Pull changes as needed from #1663 to refactor the admin dashboar

[2021-02-07 23:43] Rayuaz commented on #2060
Thanks for the response, guys.

The first thing I noticed when I got the ES debugger, is that when it works, it generates two queries, and when it doesn't, it generates only one. I have no idea if that's a relevant information, though.

[This](https://codeshare.io/5Pyo6M) [1] is the first generated query without any filters.
[This](https://codeshare.io/5RNk94) [2] is the second generated query wit

[2021-02-08 11:03] #2008 closed

[2021-02-08 11:07] neilb400 commented on #2055
Yes - perfect.  Thank you; that's very much appreciated.

[2021-02-08 11:07] #2055 closed

[2021-02-08 12:28] Rahmon commented on #1475
It's resolved. Thanks, @oscarssanchez.

[2021-02-08 12:28] #1475 closed

[2021-02-09 01:02] CyberCyclone commented on #2066
Hi @felipeelia,

It's probably going to take a while to debug as the website I'm working on has over 500,000 posts, so any re-index will take time.

The only one I'm tapping into is this code exactly:

[code]
The website I'm working on has over 500,000 posts so I was hitting the ES 5000 field limit. After filtering with 'ep_prepare_meta_data' the '5000 field limit' error went away.

**The original

[2021-02-09 18:43] felipeelia commented on #2073
Hi @neilb400 ,

Those two things can be achieved by changing the decay function ElasticPress creates in its queries. When we search for something using Elasticsearch, it'll apply a score to each result. The decay function applied to the post date will help to manipulate that score.

Here is a snippet that you can adapt to your needs:

[code]

Basically, per line, what the snippet is doing is:
1. C

[2021-02-09 18:43] #2073 closed

[2021-02-09 18:46] felipeelia commented on #2073
One important thing I forgot to mention:

In order to have all of these working, you need to be sure `Weight results by date` is `Enabled` in the `Post Search` box in the ElasticPress Features screen.

[2021-02-09 18:54] felipeelia commented on #2066
Hi @CyberCyclone ,

Thanks for the info. Yes, what makes the query fails is this:

[code]

Elasticsearch is not expecting an object there but an array. So, that should be

[code]

What is causing that is not clear though. In cases like these, the best way to debug is disabling all plugins, changing to a WordPress default theme, and test it again. Then you'll have to reenable everything one by one.

[2021-02-09 19:16] felipeelia commented on #2064
Line being used by `wp-content/plugins/elasticpress/includes/classes/Indexable/Post/Post.php`:

`$search_fields = apply_filters( 'ep_search_fields', $search_fields, $args );`

And on `wp-content/plugins/elasticpress/includes/classes/Feature/Search/Weighting.php`:

[code]

The problem seems to be we are checking `$args` but that was not changed by the `ep_search_fields` filter.

[2021-02-10 09:47] danielecelsa commented on #2023
Hello @felipeelia

did you maybe have the chance to have a look to my last message/log file?
Or maybe it was incomplete and you could not make any investigation?

Kindly let me know if you need further info to help me :)

Thank you in advance,
Daniele

[2021-02-10 15:44] mathiasoem opened #2076 "Partial search for WooCommerce SKU with numbers in it"
I have a WooCommerce store where i would like to be able to search for partial hits on product SKU's.
This works fine when the search query does not contain a number.

Searching for "FI-PH" returns all products with sku's starting with "FI-PH", e.g. FI-PH034, FI-PH023 and so on.

But when adding numbers to the search query, e.g. "FI-PH0" no results are returned.

When hitting the full SKU results

[2021-02-11 10:50] bogdanarizancu commented on #2040
@tamara-m I am also facing the issue of imported products using `WP All Import` not being indexed, what I found was that setting the `EP_SYNC_CHUNK_LIMIT` will trigger the sync. I have it set to zero, since we may have only one or two products on an import, so this way it will always trigger. The code related to this is documented [here](https://github.com/10up/ElasticPress/blob/906137030cfb9a7dfd

[2021-02-11 22:00] moraleida opened #2078 "Retrieve complete term information when using aggregations"
**Is your enhancement related to a problem? Please describe.**

Bucket aggregations in Elasticsearch cannot retrieve more than one field at a time, this is a known limitation. Because of this, when dealing with custom facet selections, usually a developer needs to query the database for extra information about each facet to be able to reconstruct the UI filters. Usually this means either querying

[2021-02-11 22:23] #2062 closed

[2021-02-12 12:57] scooterlord commented on #924
Hello, this is an old topic but I am having problems with server 500 errors. I have increased memory size to 1gb and reduced to 100 item per cycle, but I am still getting errors. Is there any way to investigate further?

[2021-02-12 13:15] felipeelia commented on #924
@scooterlord , the best way to debug this type of error is running an index via WP-CLI with the --show-errors flag. Did you already try that? If you did and it didn't give you any hint about what is going on, I'd recommend opening a new issue :) Thanks!

[2021-02-12 13:15] scooterlord commented on #924
@felipeelia Thanks for the swift reply! Have no idea how to do this! Any pointers?

[2021-02-12 13:17] felipeelia commented on #924
@scooterlord sure! :) this would be the command you'd have to run in the terminal

wp elasticpress index --setup --show-errors

[2021-02-12 13:20] scooterlord commented on #924
Felipeelia, actually it was easier than I thought to install wp-cli. Run the command, currently syncing.. will respond when it's done (shortly). Thank you so far!

[2021-02-12 13:23] scooterlord commented on #924
I got a `Warning: Too many requests` several times, but the process continues... is this normal? Could this be the reason that the front-end hangs? The process finished successfully after all though. I don't mind doing this through CLI if it fixes my problem.

Also, I wonder why the same behaviour doesn't occur on the frontend as well?

Can I somehow increase this limit, or is it a host thing?

[2021-02-12 13:46] scooterlord commented on #924
@felipeelia Host confirmed that there is no limit on incoming requests. What else could it be? From what I am seeing, I am well above the limits people in this thread are talking about. What other limit can I increase?

[2021-02-12 14:10] felipeelia commented on #924
Hi @scooterlord ,

Yeah, that would require some further investigation. Do you mind opening a new issue here at GitHub? Thanks!

[2021-02-12 16:33] oscarssanchez commented on #1797
Hi @pulkit8 ,

Could you provide some sample data we can try this on?

[2021-02-12 16:37] oscarssanchez commented on #1422
I believe @dinhtungdu took care of this, could you confirm Tung?

[2021-02-12 16:39] oscarssanchez commented on #1394
It feels like this is still a problem per https://github.com/10up/ElasticPress/blob/develop/assets/js/autosuggest.js#L359

[2021-02-12 16:42] oscarssanchez commented on #1456
Closing as frontend seems to be Vanilla JS per https://github.com/10up/ElasticPress/issues/2074

[2021-02-12 16:42] #1456 closed

[2021-02-12 16:59] oscarssanchez commented on #1324
Closing as t looks like 1420 solved this.

[2021-02-12 16:59] #1324 closed

[2021-02-12 17:51] felipeelia commented on #2060
Hi @Rayuaz , sorry but is not clear to me which of those 5 queries fail. The 5th one? Thanks!

[2021-02-12 18:33] mckdemps commented on #2064
@tott Based on your research yesterday, can you recommend changes to filters here?

[2021-02-12 19:04] scooterlord opened #2083 "Unable to sync - an error occurred"
Hello,
I am getting this in the latest Elasticpress - 3.5.4 and php 7.414.

As has been suggested in a closed thread in this forum (https://github.com/10up/ElasticPress/issues/924#issuecomment-778218299) I have done the following:

- Increased memory limit to 1gb
- Increased PHP timeout to 60s

During syncing, I get 'Unable to syn an error occurred' at random times - console indicates `500 error`

[2021-02-12 19:05] felipeelia commented on #2076
Hi @mathiasoem ,

As you probably have already figured out, to achieve that you will need to:

1. Add the ngram field to the mapping somehow
2. Reindex everything
3. Change the query sent to Elasticsearch in a way to include the new ngram field.

Can you please share the code you've used for #1 and #3 and also confirm you did #2? Thanks!

[2021-02-12 19:14] Rayuaz commented on #2060
Yes, the 5th is the problematic query. Queries 1 and 2 are generated when I browse the products page without any active filters. Queries 3 and 4 are generated when I activate filters based on default woocommerce taxonomies, such as `product_cat`. The 5th query is generated when I active filters based on my custom taxonomies, such as `autor`.

[2021-02-12 19:52] tott commented on #2064
I definitely ran into the same thing and we're currently considering a couple of filters to better help customization and ensuring a clearer workflow.

[2021-02-15 18:03] joliverwestbrook commented on #2083
I've also been seeing this exact problem. In our case I bypassed the generic 500 error that spits out from `includes/dashboard.php` around line 628, and instead I drop the return into a log file. This works in logging the errors (and successes) so far, until I put my chunks limit at 100 (I started with 1), and then got a "legit" 500 error.  I also saw a lot of times, when navigating to the Elastic

[2021-02-15 18:08] joliverwestbrook commented on #2083
One more note on my findings:

It does seem to have errors and fail only with posts from a single CPT. If I trash the posts it runs fine. What this has lead me to believe is some of the ~800 posts in that CPT may be effectively "corrupted" in terms of how this data is handled during a sync. Is this a known possibility? Or is it more likely these posts have more data in general and are causing the

[2021-02-15 18:23] joliverwestbrook commented on #2083
I found and changed the 1000 limit, to be 5000 per shard by setting it to 25000 on line 38 of `/includes/mappings/post/7-0.php` - test is still running, will report the results.  This includes the curl change to 500 timeout and running a sync with a cycle setting of 1

[2021-02-15 19:33] zack-carlson commented on #1442
@cmmarslender What was the resolution to this?  This seems to happen when a node drops on ElasticSearch..

[2021-02-15 21:29] Rahmon commented on #1713
Hi @nickdaugherty .

This is a good feature. I'll add it to a future release.

[2021-02-15 21:37] Rahmon commented on #1299
Hi @pemz.

I'll close this issue due it has not had recent activity. Please feel free to reopen this issue or create a new one if you need anything else.

Thanks!

[2021-02-15 21:37] #1299 closed

[2021-02-16 11:48] scooterlord commented on #2083
FYI, I am syncing default articles - not CPTs.

[2021-02-16 12:34] #2076 closed

[2021-02-16 13:09] tott opened #2085 "Feature: Decay adjustments"
In various use cases the age of a post can be a relevant factor for its importance. Ie. for a news site more recent content is more relevant while for a shop the age of a product might not be relevant. For a site dealing with scientific data more recent might still be relevant but the metrics to consider still differ a lot from a news site.

Luckily Elasticsearch offer a decay function that can be

[2021-02-16 13:17] tott opened #2086 "Feature: Adjustable search algorithm"
The default search algorithm used in ElasticPress makes assumptions on how to deliver relevant results to the users audience. The feedback we received from switching the search algorithm in ElasticPress 3.5 revealed quickly that there is no one search algorithm to rule them all.

While we implemented a filter in [the code](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexabl

[2021-02-16 13:44] tott opened #2087 "Feature: location based search / decay"
Elasticsearch provides all the tools needed for a well performing proximity search, which can be very powerful for sites with location based content such as travel blogs, real estate sites or similar.

It would be great to implement location based search and indexing functionality into ElasticPress by first selecting a field or a set of fields that contain the address data or (maybe as first versi

[2021-02-16 13:58] tott opened #2088 "Feature: Autosuggest styles"
With the ElasticPress autosuggest feature turned on, ElasticPress allows for search suggestion on most of the default WordPress search fields out of the box, however the look and feel of these results is only adjustable through filters and code alterations and cannot be easily altered through the interface.

Ideally we should be providing a UI that would allow for:
- selection of displayed fields

[2021-02-16 14:18] tott opened #2089 "Feature: Did you mean....?"
Everyone knows the "did you mean ...?" functionality big search engines offer.

Adding such a feature into ElasticPress that would index successful search queries and the amount of results they return (in a safe and performant way) and compare current search queries against this list of known successful queries and suggest alternative searches would be a great feature that can help visitors find r

[2021-02-16 16:03] joliverwestbrook commented on #2083
Okay, so I was able to fix this issue by performing the following steps:

1. Increase PHP Mem and Post limits to 1024M
2. Add faster nameservers (google and cloudflare) to the server resolv file
2. Increase WP cURL timeout to 300 (5 min)
2. Increase WP mem limit to 1024M in wp-config
3. Limit my cycle setting to 50 in EP settings
4. Update to latest EP (3.5.4)
5. Edited EP file `/includes/mappings

[2021-02-16 16:22] scooterlord commented on #2083
@joliverwestbrook Hello again and thanks for your support.

Your posts also validate the inconsistency I saw also, I have a few questions regarding your last comment:

- Is the PHP limit different than the WP memory limit? I thought it was either this or that...?
- Where did you change the WP cURL timeout?
- More or less I know what shards do, but what is the connection to specific wordpress entit

[2021-02-19 07:44] lebz commented on #1715
The current network search settings aren't applied to the sites settings. is there a way to make sure network search settings are applied on all sites?

[2021-02-19 13:40] felipeelia opened #2093 "Click on autosuggest item fails when highlighting is not active"
**Describe the bug**

When the highlighting feature is not active, clicking on an autosuggest entry will fail.

**Steps to Reproduce**

1. Disable `Highlighting status` under `Post Search`
2. Enable the autosuggest
3. Search for something
4. Click on an entry
5. The page doesn't change

**Expected behavior**

For #5, the user should be redirected to the other page.

[2021-02-19 13:49] felipeelia commented on #2093
Users facing this problem can use the following snippet in their theme's functions.php file until a new version is released:

[code]

[2021-02-19 13:51] scooterlord commented on #2083
Today, I switched to a Digital Ocean server and encountering the same problem. Unfortunately, I was not able to successfully install/run wp-cli, so I am stuck with errors. I changed wordpress memory limit and php memory limit to 2048mb. still I am getting errors.

I would expect the procedure to proceed as in the cli version, aka, resume if for any reason it fails temporarily.

@joliverwestbrook A

[2021-02-19 14:41] felipeelia commented on #2083
Hi @scooterlord,

Those three suggestions you made in the first message would be excellent additions to the plugin, Do you mind opening three new issues with the "enhancement" type?

Regarding the `Limit of total fields [1000] in index [xxxxxxxxxxxxxxxxxxxx-post-1] has been exceeded` error mentioned by @joliverwestbrook, we have this covered in this article: https://elasticpress.zendesk.com/hc/en-

[2021-02-19 14:50] scooterlord opened #2095 "Enhance error handling when syncing errors occur."
Based on the recent issues I had (https://github.com/10up/ElasticPress/issues/2083), it was suggested by @felipeelia to open a new enhancement ticket, so here goes:

- When anything happens while syncing - either good or bad - the message disappears after a few seconds, which essentially means that you have to sit on your screen while doing the sync - I am certain there are other ways to review it

[2021-02-19 15:03] scooterlord commented on #2083
@felipeelia I have created a new ticket with my suggestions.

Going back to the initial issue I am facing, in my current (new) installation, for some reason, although I managed to install wp-cli, when running 'wp elasticpress' commands I get an 'Error: could not connect to Elasticsearch.' which I have no idea how to search for - wp-cli seems to be working since I have access to other wordpress com

[2021-02-19 15:21] felipeelia commented on #1948
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-02-19 15:21] #1948 closed

[2021-02-19 15:30] felipeelia commented on #2023
Hi @danielecelsa ,

Looking at the logs, it looks like ElasticPress may be looking for "sushi" in other fields or taxonomies. Did you already try to disable everything in the Weighting Dashboard and leaving only "Title" enabled?

[2021-02-19 15:31] felipeelia commented on #2046
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-02-19 15:31] #2046 closed

[2021-02-19 15:31] felipeelia commented on #2054
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-02-19 15:31] #2054 closed

[2021-02-19 15:36] felipeelia commented on #2060
Hi @Rayuaz ,

Can you please share with us the code you are using to create that custom taxonomy? Also, in Debug Bar what is the content of the Query Results section for that query?

Thanks

[2021-02-19 15:43] Rayuaz commented on #2060
I'm just going to paste the snippet of code for the "autor" taxonomy, since the others follow this same template:

    function tpk_taxonomies_autores() {

        register_taxonomy('autor', ['product'], [
            'hierarchical' => false,
            'labels' => [
                'name' => 'Autor',
                'singular_name' => 'Autor',
                'search_items' => 'Search Autor',

[2021-02-19 15:50] oscarssanchez commented on #1797
Hi @pulkit8 , I'm closing this one out but if you still need help please feel free to open a new ticket.

[2021-02-19 15:50] #1797 closed

[2021-02-19 15:55] felipeelia commented on #2064
Looking deeper into the problem, the solution is not as simple as adding `$args['search_fields'] = $search_fields` because we set a default value to the `$search_fields` variable a couple of lines before.
Probably, we should document that the `ep_search_fields` should be used only when the weighting engine is not used. For people using the weighting engine, the `ep_weighting_configuration_for_sear

[2021-02-19 16:11] oscarssanchez commented on #1937
Hi @gbvaz ,

Just to be sure we are on the same page, this problem happens with this plugin https://wordpress.org/plugins/dokan-lite/ and when you try to add a new product using a vendor account, correct?

[2021-02-19 16:13] felipeelia commented on #2060
Hi @Rayuaz ,

Thanks for the reply. I've tried to replicate the problem here but I could not. Can you please try to index your products again? There is a chance something is going wrong with the indexing process and products with that taxonomy assigned are not being indexed.

If you have access to WP-CLI, this would be the command:
`wp elasticpress index --show-errors`

Please let us know the retu

[2021-02-19 16:20] oscarssanchez commented on #1891
Hi @jeremystory1 ,

Currently we do not have any deliberate integration with Buddypress/Buddyboss. I believe we have helped people in the past with it, so I am sure there's some people using at least some features, but am not so sure if it is 100% compatible with ElasticPress.

It would be great if you can test that and we can add to our documentation your findings. PRs are always welcomed as well

[2021-02-19 16:20] #1891 closed

[2021-02-19 16:22] oscarssanchez commented on #1869
Closing as this was implemented here: https://github.com/10up/ElasticPress/commit/78a1977443ad90157cbeddc757e913dbb4944fe4

[2021-02-19 16:22] #1869 closed

[2021-02-19 16:28] gbvaz commented on #1937
Hi @oscarssanchez,

Yes, that's one. I've managed to go around the problem by editing Elasticpress in order to prevent it from querying elastic search in /dashboard pages in this file:

`elasticpress/includes/classes/Feature/WooCommerce/WooCommerce.php`

I've added this condition to the 'should_integrate_with_query' function:

[code]
That's the page created by Dokan where we can add new products i

[2021-02-19 17:50] Rayuaz commented on #2060
Well, I guess this is kind of embarrassing, but yeah, re-indexing everything worked. Thank you so much for your help, and sorry for wasting your time!

[2021-02-19 17:57] felipeelia commented on #2060
Not a problem at all @Rayuaz! I'm happy to know it worked for you.

I'm now closing the issue but feel free to open another one if you have any other problem with the plugin. Thanks!

[2021-02-19 17:57] #2060 closed

[2021-02-19 20:02] scooterlord commented on #2083
Hello @felipeelia and thanks for your interest in my problem. My site is a direct replication of the same app on a different server, settings are exactly the same. Wordpress itself can access my EP server, just not when accessing via ssh through wp-cli!

[2021-02-20 18:45] joliverwestbrook commented on #2083
I can verify this. After further work we discovered our server had an enormous amount of duplicate postmeta. I have a very rough function I wrote to find dupe-meta and remove it across posttypes you choose: https://github.com/joliverwestbrook/WP-CleanDupeMeta/blob/dev/simple-postmeta-dedupe.php

After running this, I was able to remove the custom code changes made to the mappings settings in the 7

[2021-02-20 18:55] joliverwestbrook commented on #2083
Sorry for the late reply. So the can't connect issue is one I was seeing also, when the size of the data was just too big (due to the dupe postmeta issue we found). This could cause a timeout of sorts that could generate a connection error, even though it's only a connection error due to the other issues at hand.

To answer your Q's from earlier:
- PHP and WP mem settings are the same, WP settings

[2021-02-20 22:46] joliverwestbrook opened #2097 "Schedule a full sync using custom function and wp-cron?"
I'm working on an implementation of EP with a database where posts are not always updated or modified the regular way, as referenced [here](https://github.com/10up/ElasticPress/issues/1259#issuecomment-465514833).

So what I'm aiming to do is kick off a full sync, from the site's functions file according to a schedule and a few other status functions I have ready.

What would be the way to do this

[2021-02-21 03:55] smidgedy commented on #2097
this is perhaps old, but another user had a [similar looking issue](https://github.com/10up/ElasticPress/issues/1148 ) and the solution was to call `ep_sync_post()` on each post as they're getting added (wherever that may be from).

[2021-02-21 07:19] scooterlord commented on #2083
Hello again and thanks for you replies. My problem in the new server is that although everything is setup like the previous server the sync halts near the beginning. I have a lot of meta but not THAT many like maybe 20-30 per post. I set memory to 2gb, increased curl time (found the filters online), but still the problems remain.

On top of that in the new server (digital ocean) I encountered lots

[2021-02-21 14:58] joliverwestbrook commented on #2097
Thanks @smidgedy! It appears, in looking at the source code, the proper (current) function name is `action_sync_on_update`? I did not find a function named `ep_sync_post` or any reference to that string in the entire plugin.

[2021-02-21 18:36] joliverwestbrook commented on #2097
UPDATE: I'm opting to simply iterate through relevant posts/post-types and update a new meta called something like meta_update_last with a timestamp which reflects the relevant posts meta was updated, which then triggers the built-in EP sync function for meta, however, I noticed it filters to only post and page types, mine are cpts, so it's necessary in the new function to hook into the post type

[2021-02-21 18:36] #2097 closed

[2021-02-21 19:07] joliverwestbrook opened #2099 "CPTs are filtered during action_queue_meta_sync"
**Describe the bug**
When postmeta is updated for a CPT, the `action_queue_meta_sync` does not sync the post, rather filters it based on posttype not being post or page.

**Steps to Reproduce**
Created a function to update_meta for a CPT and added debug info to the syncmaster file for posts.
Indexable post types returned were only post and page, therefore the update was skipped.

**Expected behavi

[2021-02-22 08:09] scooterlord commented on #2083
Today that I tried the same function on my digital ocean it just worked! I am pasting a screenshot that shows the number of errors that occur, however, the syncing appears to be completed normally despite the errors - the thing is that even if an error occurs the process still proceeds, which is what I would expect from the front-end to to as well.

![image](https://user-images.githubusercontent.c

[2021-02-22 08:47] scooterlord commented on #2083
..Also reporting that the `--no-bulk` option worked as expected without errors, but really for 22000 items being synced it was a pain to watch. During this sync, my ES node instance showed RAM utilization 80-93% (1GB Ram). Next time I will try with 50 items per cycle and increase, but still, makes me wonder how come the same data from a different server sync properly with 350 items per cycle on th

[2021-02-22 11:42] danielecelsa commented on #2023
Hi @felipeelia ,

EP looking for 'sushi' in other fields or taxonomy is exactly what I implemented and what I'd like to have.
And it is working fine in all the pages, except the last one.

The problem is that, in the last page, the results are coming like they are searched with the default 'WP search', so maybe only in the 'Title' or however it works.

Hope to have been clear, kindly let me know i

[2021-02-22 11:46] felipeelia commented on #2099
Hi @joliverwestbrook,

By design, ElasticPress will index only CPTs marked as public, as can be seen [here](https://github.com/10up/ElasticPress/blob/737c50fdb69dcaa7b9acd8852d06e03c41a34724/includes/classes/Indexable/Post/Post.php#L112). Is your CPT public? Can you share here how you are creating it?

Thanks

[2021-02-22 16:42] #2003 closed

[2021-02-22 17:05] brandwaffle opened #2100 "Create documentation for #2070"
@JakePT can you add a new documentation section in the Github docs for "Theme Integration" and in there put a section for "Autosuggest" where you list how someone would add a basic loader when `.is-loading` is set? We should also put a section for "Connecting Autosuggest to your Theme's Search Bar" that explains which classes we look for when attaching the autosuggest behavior to a search bar and

[2021-02-22 17:45] joliverwestbrook commented on #2099
Hmm, I'll have to take a closer look to verify the settings are correct for EP to pick them up, but yes they are public cpts afaik. I'll find out and get back to you.

[2021-02-22 17:50] joliverwestbrook commented on #2083
@scooterlord have you tried configuring a new droplet NOT like the other server? What I mean is, try a different config altogether to rule out your config or some part of it being at the root of the issue.

Another thing, from what region are you connecting to EP's servers and is it close in proximity? This shouldn't matter really, but to trace the issue down you'll need a very disciplined debuggi

[2021-02-22 19:04] tott opened #2101 "Add filters for easier search algorithm manipulation"
In its current form alteration of the search algorithm and search query generated is fairly troublesome and adding filters in the indexable where appropriate ie https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L1108 would allow alteration of the query without iteration over the generated ElasticSearch query.

[2021-02-22 20:07] scooterlord commented on #2083
@joliverwestbrook I wasn't replicating an existing droplet. I created a new plesk droplet and replicated files/db from a completely different environment. Everything else seems to be working as expected.

As I said in my previous reply, I only synced posts  - this would be a great suggestion to the devs btw, select what kinds of post types to sync. Trying in bulks of 50s still gave errors. :/

The

[2021-02-22 20:14] Rahmon commented on #2018
Hi @infospherebv .

I think that to add an extra tree of meta you can add a new field to the document and let Elasticsearch determine the datatype and automatically adds the new field to the type mapping.

For example, to add the field `custom_filters` you can use the filter `ep_post_sync_args`:

[code]
When you run the indexing, all posts will have this new field `custom_filters.filter1` with the

[2021-02-22 20:56] Rahmon commented on #1977
Hi @ChrisWiegman .

I followed the steps you wrote but I was not able to reproduce this bug. Can you please test if this error happens in version 3.5.4?

[2021-02-23 02:52] joliverwestbrook commented on #2083
That is really odd. I wish I had more to offer but best of luck in debugging.

[2021-02-23 12:20] felipeelia commented on #2101
@tott a couple of questions that may arise:

1. Isn't ep_formatted_args_query good enough? I know you ran into some problems while using only that.
2. Given the fact that the weighting is added later, here is another point I'd like to suggest a new filter:
https://github.com/10up/ElasticPress/blob/0e04363ca3288be08ba4563bc692aa8854ec939d/includes/classes/Feature/Search/Weighting.php#L436 What do y

[2021-02-23 13:11] tott commented on #2101
The issue I have with ep_formatted_args is that you need to iterate over the whole array in order to catch all the different post types and such. That's why i'd like to have one in there to basically alter the template used for this.

As for the second one - yes, this definitely makes sense.

[2021-02-23 13:53] ChrisWiegman commented on #1977
I've gone back and have been unable to reproduce again. Feel free to close this. If I see it again I can re-open.

[2021-02-23 15:03] #1980 closed

[2021-02-23 15:03] #2093 closed

[2021-02-23 21:56] #2101 closed

[2021-02-24 15:02] #2100 closed

[2021-02-25 13:55] felipeelia opened #2104 "Provide an easy way to clear the query cached for Autosuggest"
**Is your enhancement related to a problem? Please describe.**

Currently, we cache the query generated for Autosuggest for 5 minutes in [`\ElasticPress\Feature\Autosuggest::intercept_search_request()`
](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Autosuggest/Autosuggest.php#L541). If we change the algorithm with the new `wp elasticpress set-algorithm-version` comman

[2021-02-25 15:26] scooterlord commented on #2083
Continuing, today I contacted the support of my elasticsearch service. I am using the smallest package in elastic.co which I think that it's struggling - only when indexing but this is still a problem. Does anyone have any good alternatives to suggest?

[2021-02-25 16:08] brandwaffle commented on #2083
@scooterlord I'm pretty sure I've mentioned ElasticPress.io to you before :)

In all seriousness, you're running into the exact problems we had when we tried to run Elasticsearch on services like Elastic.co but for WordPress search (a pretty unique use-case that differs from a lot of the largest Elasticsearch installs out there), which is why we built our custom service that includes all the featu

[2021-02-25 16:50] switchbl4de opened #2106 "Index Failing"
We are reaching a "Maximum execution time" when running and index. Is there a way to bulk index in groups (it can get to like 14k and then it has issues)?

[2021-02-25 18:23] #2104 closed

[2021-02-25 22:18] scooterlord commented on #2083
@brandwaffle thank you for your reply. I had evaluated your service in the past and what was very appealing was that - if I remember correctly - you provided autosuggest functionality out of the box.

In all honesty though your service is too expensive and too limited - especially when defining number of records etc. so in our case, now that we just started we have 4500 posts, this time next year

[2021-02-26 01:54] johnstonphilip commented on #1870
Is there any reason ElasticPress needs to modify the query when a search hasn't taken place?

[2021-02-26 12:45] ejdevspot opened #2109 "Wordpress Custom Database Table with Elasticpress"
Hi Everyone!

I have some problem on the development side, can we index custom database table in wordpress? I need to know how can I implement that because I have a custom table that connects to post, is it possible to do a join query both posts table and custom table using Elasticpress?

Thank you!

[2021-02-26 14:13] felipeelia commented on #2109
Hi @ejdevspot ,

Normally, when people need to index some custom database table we suggest them to create a new Indexable: http://10up.github.io/ElasticPress/tutorial-indexables.html.

In your case, you can use the `[ep_post_sync_args_post_prepare_meta](http://10up.github.io/ElasticPress/ep_post_sync_args_post_prepare_meta.html)` filter  to add the content of your custom table to the post while in

[2021-02-26 14:13] #2109 closed

[2021-02-26 14:18] felipeelia commented on #2106
Hi @switchbl4de ,

You can change the number of items sent per request in two ways:

1. Via Dashboard:
If you go to the Dashboard -> ElasticPress -> Settings, you'll see the `Content Items per Index Cycle` field. Make that number smaller, you'll have faster requests.

2. Via WP-CLI:
If you are indexing via WP-CLI, you can use the `--per-page` parameter. For example: `wp elasticpress index --setup

[2021-02-26 14:18] #2106 closed

[2021-02-26 14:20] felipeelia commented on #1977
Closing this one out. Thanks @ChrisWiegman!

[2021-02-26 14:20] #1977 closed

[2021-02-26 14:28] felipeelia commented on #1610
Closing this one. For future reference, this is the page in the docs explaining the new feature: http://10up.github.io/ElasticPress/tutorial-theme-integration.html

[2021-02-26 14:28] #1610 closed

[2021-02-26 14:45] felipeelia commented on #1473
We've made a few changes in that part of the code in the last few months and it is fixed. Thanks, @dustinrue!

ps.: Probably it was already working some time ago but I've tested it with 3.5.5 and I can't reproduce it anymore.

[2021-02-26 14:45] #1473 closed

[2021-02-26 15:09] switchbl4de commented on #2106
Hi @felipeelia

I still get error using those suggestions. I have tried those as well from the WP CLI docs. Any more commands you got that I can try? Maybe just a certain number of groups at once?

[2021-02-26 15:39] felipeelia commented on #2106
Hi @switchbl4de ,

If you use `wp elasticpress index --setup --nobulk --show-errors` or `wp elasticpress index --setup --per-page=1 --show-errors`, it will send just one item per request, which would make them as fast as possible. If they are still timing out, it'd be needed to debug what is the post/user/term that is causing it to fail or if it is possible to increase the timeout limit on both en

[2021-02-26 15:45] switchbl4de commented on #2106
Yes. I can index on my local but on Pantheon I get the Maximum execution time errors. They cannot raise it and the wp-config override doesn't seem to work. Checking into PHP errors to see if that is why it cannot continue. But on my local it runs just fine.

I tried the nobulk and still times out

[2021-02-26 16:10] felipeelia commented on #2106
Yeah, @switchbl4de , I'm sorry to read that but it seems you'll need help from the Pantheon's folks. Is it possible to increase memory instead? That can help to make things faster. Let me know what you find in those PHP logs, it may give us an idea of what can be consuming too much time.

[2021-02-26 20:07] Rahmon commented on #1746
Hi @sebumd

Looks like you're trying to filter posts by post meta conditions, right? If so, I think you need to use the `meta_query` parameter:

[code]

Can you please test that and let us know your findings? If you found another approach, share it with us as well. Thanks.

[2021-03-01 10:18] dinhtungdu commented on #1422
@oscarssanchez Sorry for the late reply, yes, I addressed thí issue in the above PRs.

[2021-03-02 22:32] jeffpaul opened #2111 "Resolve warnings from linting"
**Is your enhancement related to a problem? Please describe.**
Building off of #2110, we should look to resolve the 11 warnings noted in the linting action annotations: https://github.com/10up/ElasticPress/actions/runs/615536372.

**Describe the solution you'd like**
Separate PR to resolve those warnings.

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2021-03-03 07:17] dappi opened #2113 "Search keywords order"
So I have Woocommerce and elasticpress on my site. My product name is for example: Miyaki Adidas Runner Men White

Now when I search "adidas runner" one of the results will be the product Miyaki Adidas Runner Men White. But then if I do a search "adidas runner miyaki", the search gives 0 results. Any idea why is that? I though elasticsearch should understand this is same search as "adidas runner m

[2021-03-03 10:22] moritzlang opened #2114 "Ajax requests do not use meta fields"
Hello,

I am not able to get correct results through ajax requests. Everything works fine when settings `"ep_integrate" => false`, so the problem has to be related to elasticpress.

I realized that the requests through ajax do not use the meta fields + weights e.g. `meta.headlines.value`. See this logs:

Elasticsearch log of a query (no ajax):
[code]

Elasticsearch log of a query (through ajax):
[

[2021-03-03 12:21] felipeelia commented on #2114
Hi @moritzlang ,

It seems you have some other custom code affecting the query sent to Elasticsearch, is that right? I can see terms like `prefix_length`, `max_expansions`, and `zero_terms_query` in the query but none of them are part of the plugin. Can you please share that here too? If you didn't write that code, it can be part of another plugin you are using.

The problem you're facing now seem

[2021-03-03 12:27] felipeelia commented on #2113
Hi @dappi ,

It may be related to the more strict search algorithm we put in place in version 3.5. Can you please try switching it to the previous algorithm?

You can do that through some different ways:
1. Add `add_filter( 'ep_search_algorithm_version', function() { return '3.4'; } );` to your theme's functions.php file OR
2. Run this WP-CLI command `wp elasticpress set-algorithm-version --versio

[2021-03-03 13:27] dappi commented on #2113
@felipeelia Thanks, that fixed it!

[2021-03-03 13:27] #2113 closed

[2021-03-03 16:18] #2111 closed

[2021-03-03 22:27] felipeelia opened #2115 "Update *-feature WP-CLI commands documentation"
Any of the `*-feature` commands listed [here](https://10up.github.io/ElasticPress/tutorial-wp-cli.html) accept the `--network-wide` flag. We should update the [wp-cli.md](https://github.com/10up/ElasticPress/blob/develop/docs/wp-cli.md) file to reflect that.

For quick access, the related code is in https://github.com/10up/ElasticPress/blob/develop/includes/classes/Command.php, see `list_features`

[2021-03-04 12:14] danielecelsa commented on #2023
Hi @felipeelia ,

did you maybe had the chance to have a look at my last comment?

Feel free to let me know if I have not been clear, so I will try to explain better.

Thanks!
Daniele

[2021-03-05 03:59] kyleruscigno commented on #2088
Would you be able to point me in the direction of what filters I'll need to hook into to modify the look of the autosuggest results. I'm looking to do something similar and having trouble identifying what I need to do.

[2021-03-05 04:41] oscarssanchez commented on #1711
Hi @dnikola,

Sorry it has been a while, do you still have this problem with the latest version?

[2021-03-05 04:47] oscarssanchez commented on #1870
Hi @johnstonphilip could you please elaborate ?

[2021-03-05 04:50] oscarssanchez commented on #1870
Hi @lepatachou ,

This is more intended to mimic the default behavior of WordPress. As an alternative for now I think you could do this by hooking into pre_get_posts and tweaking the post status argument.

[2021-03-05 04:56] oscarssanchez commented on #1951
@AlaplayaW  I guess you could add the content of the PDF as post meta, like how we do in the documents feature: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Documents/Documents.php

However, I don't think that would be a good thing to do, especially if you have big PDF's and they are attached to multiple posts.

[2021-03-05 07:43] dnikola commented on #1711
Hi @oscarssanchez ,

yes while, almost year :)

I'll need to check, just tell me what should i need to test question 1 or question 2 from my initial question

[2021-03-05 14:09] felipeelia commented on #2023
Hi @danielecelsa ,

We'll need to give a look at the queries sent to the Elasticsearch server to figure out why it is returning those results. Do you have any kind of log that contains it? Could you please share it with us?

The regular WP search will use just the product title and content. ElasticPress, on the other hand, will use those fields and some taxonomies too. Did you try disabling everyt

[2021-03-05 14:12] Jamiewarb commented on #2089
This sounds great

[2021-03-05 19:39] johnstonphilip commented on #1870
@oscarssanchez After doing some more digging, it seems that "Protected Content" indexing was turned on, when we didn't want that. By turning it off, all is working as expected. Thanks!

[2021-03-05 21:33] AlexInconver opened #2118 "Not all posts are indexed"
I sync and see the number of posts to sync - 4737
https://monosnap.com/file/iUVxfoeQAFBoFBHoMjL9DX9LjF10oA
I go to look at the index and see this number of posts - 2548
https://monosnap.com/file/036m90bBSbUf38e7SzeYicEZynWER8

f.e. I check the search on the site and see that only one TV is displayed instead of 87

How to fix it? thanks!

[2021-03-07 19:12] binu-mobiux commented on #1952
Thank you @brandwaffle for the snippet. Got it working in our setup with a minor tweak (post_date_gmt instead of date):
[code]

[2021-03-07 20:43] sinhrodev opened #2119 "Elasticpress not used for search"
Our elasticpress setup looks fine, index health is fine, everything is indexed.... But when users make a search (e.g. domain.com/?s=keyword), our mysql still has heavy load. When inspecting (show full processlist) we see a lot of long-running queries such as:

Creating sort index                  | SELECT SQL_CALC_FOUND_ROWS  wp_posts.ID FROM wp_posts  WHERE 1=1  AND (((wp_posts.post_title LIKE '%

[2021-03-08 14:40] gonzomir opened #2121 "Network wide search may switch away from the site the search is performed on"
**Describe the bug**
When retrieving the posts in a network-wide search, a `switch_to_blog()` is called as part of `the_post` hook, but `restore_current_blog()` is not called immediately after that, it's called in the next `the_post` hook if the next post is from a different site. This works OK in the loop, but some plugins (Yoast for example) may trigger the hook outside the loop. In that case Wo

[2021-03-08 23:19] sirmbhe opened #2122 "Sort Search Result From Latest/Newest"
I just using Elasticsearch + ElasticPress on my wordpress site. But I notice that the search result isn't being sorted by the latest/newest result. Is there any way / setting adjustment that I should make to do it that way? I've been trying to find it but unable to find any working solution.

Many thanks for the help.

[2021-03-09 17:38] moritzlang commented on #2114
Hi @felipeelia,

thank you for your help. Unfortunately I could not find any plugin nor code from the project which is manipulating the search_fields. To run the project only the following plugins are used:
* Advanced Custom Fields PRO
* Advanced Custom Fields: Extended

This is the whole elasticpress related code of the project, does this look fine to you?

[code]

Otherwise the problem is most l

[2021-03-10 15:51] johnbillion commented on #2119
https://github.com/10up/debug-bar-elasticpress might be able to help

[2021-03-10 16:49] brandwaffle opened #2123 "Don't activate Protected Content by default when using EP.io"
Currently EP activates the Protected Content feature if you're using EP.io. This feature should never be auto-activated.

[2021-03-10 20:38] fagiani commented on #1797
@oscarssanchez sorry to post on a closed issue. I am also experiencing slow indexing but I understand that is a relative perception depending on the singular data structure one is handling.

I'd like to understand if there is any place where we can find some guidance about an optimal spec to the initial setup index with a large dataset in order to expedite it given after this moment you could pote

[2021-03-10 23:57] victorpintot8 commented on #1817
Same error here, I'm using version 3.5.5. The mapping is always created using the test field type, instead of date. I debbuged the code, and althought is clearly defined in "7.-0.php" file line 293, for some reason ES ignore that mapping and sets text. Is very annoying, i can't use the autosuggest feature, it throws error 400 bad request "field [post_date_gmt] is of type [indexed,tokenized], but o

[2021-03-11 03:19] jeffpaul opened #2124 "Test against WP 5.7"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.7 is released, we'll want to test ElasticPress to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test ElasticPress on WP 5.7
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [ ] if code chang

[2021-03-11 13:58] felipeelia commented on #2122
Hi @sirmbhe,

Just to add some context to future readers, by default ElasticPress won't order posts by date but by "score", i.e., how relevant a post is to the searched term. Post dates affect that score if you have `Weight results by date` enabled under the `Post Search` feature. That change can be too subtle though, but you can adjust that changing the values applied to the decay function. Somet

[2021-03-11 13:58] #2122 closed

[2021-03-11 14:04] felipeelia commented on #2119
Hi @sinhrodev,

As @johnbillion said, [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/) can help you debugging that. Just to expand the answer a bit, this plugin is an add-on for [Debug Bar](https://wordpress.org/plugins/debug-bar/), so you'll want to install that one too if you don't have it yet.

At last, you can try disabling all plugins, switching back to a defaul

[2021-03-11 14:08] felipeelia commented on #2118
Hi @AlexInconver,

First of all, you'll need to debug why those posts are not being indexed. To help you with that, you can index your content via WP-CLI with the command:

`wp elasticpress index --setup --show-errors`

That can give you a hint about what is going on. Quite often, the error is related to the number of meta fields present on some posts. To know more about that, you can read our [tr

[2021-03-11 14:15] fagiani opened #2126 "Autosuggest: Uncaught (in promise) TypeError: t.replace is not a function"
**Describe the bug**

After the installation of the plugin and a WP-CLI setup index, enabling the autosuggest feature, when typing any text on the
search field, the error below will show on the browser's console:
[code]

**Steps to Reproduce**

1. Install ElasticPress plugin
2. Index via WP-CLI command
3. Enable autosuggest feature
4. Go to the WP page where you have a search field
5. Type anythin

[2021-03-11 14:16] felipeelia commented on #2066
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-11 14:16] #2066 closed

[2021-03-11 14:37] felipeelia commented on #2126
Hi @fagiani,

ElasticPress always enqueue the minified version of the JavaScript file, so I'm imagining those screenshots are the result of some debugging you were trying to do, right? Or are you trying to enqueue the file in a different way, perhaps adding it to a custom deployment setup?

The string it is trying to use is the Elasticsearch query, exposed by the `wp_localize_script()` call [here]

[2021-03-11 15:23] felipeelia commented on #2083
That is excellent news @scooterlord . Thank you *very much* for coming back here and sharing your findings. I'm sure it'll help any future readers of this issue!

I'm closing it right now, but feel free to open a new one if you face any other different problem, okay? Thanks!

[2021-03-11 15:23] #2083 closed

[2021-03-11 15:56] felipeelia commented on #2121
Hi @gonzomir,

By default, ElasticPress won't search on other sites unless the `sites` parameter is added to the WP_Query arguments. Do you mind sharing how you are doing that?

FWIW, I've tried adding it with the following snippet and things seem to work as expected:

[code]

[2021-03-11 16:04] #2123 closed

[2021-03-11 16:15] brandwaffle commented on #2083
@scooterlord I just wanted to chime in and thank you for your feedback! We're actively working on plans that don't include our ticketed free support (similar to a typical cloud offering but optimized for WordPress/ElasticPress and including our custom ElasticPress.io feature set), at price points within (or below) the 40euro/month range.

[2021-03-11 17:07] fagiani commented on #2126
Hey @felipeelia,

I am not doing any custom includes. I've pretty much installed the plugin and it will add the CSS and the JS along with the others within the HTML... I am not sure how or why the code I've got is not minified... when I hover over the stack trace it will show something like `webpack:///.assets/js/utils/helpers.js:40` and `webpack:///.assets/js/autosuggest.js:154`.

In the `<head>`

[2021-03-11 17:34] AlexInconver commented on #2118
Thank you! You were right, but I could not solve the problem. I added the following code to functions.php of my theme but I still get the error that there are too many meta fields.

https://monosnap.com/file/hOFPELvtBXasn0GcsyGgGpe69Ain37

[2021-03-11 17:35] fagiani commented on #1645
@tlovett1

This has happened to me too. It was unfortunate as I had just spent hours indexing thousands of posts and had to do it all over again without any warning as the sync just started from nothing within the `wp-admin` interface.

I would be willing to contribute to document or a way to warn users or otherwise instruct users on the initial steps wizard to enable the features prior to the set

[2021-03-11 18:13] felipeelia commented on #2126
Hello again @fagiani! If the site is publicly available, then you can leave the link here, no problem. And thanks for willing to help, that really helps us to improve the plugin. Thanks again!

[2021-03-11 20:46] johnbillion opened #2127 "Content in reusable blocks is not searched"
Steps to reproduce:

1. Insert a paragraph into a post containing some unique text
2. Save the paragraph as a reusable block
3. Publish the post
4. On the front end, search the site for the text
5. Observe there are no results

Reusable blocks can contain content that should be discoverable via search.

This is probably a wider problem that affects shortcodes and server-side rendered blocks too, b

[2021-03-11 21:34] fagiani commented on #2122
@felipeelia I can confirm that changing `epwr_boost_mode` to `multiply` and `epwr_decay` to `.5` significantly improved the relevance of the date weight on the results!

Thanks a lot for sharing that!

[2021-03-11 21:48] fagiani commented on #2126
@felipeelia it is [this site](https://www.blogdobg.com.br) but I'd have to coordinate with you enabling the Facets feature in order to you to be able to reproduce the issue. Feel free to send me an email so I can enable it for a while.

Thanks a bunch!

[2021-03-11 22:44] scooterlord commented on #2083
@felipeelia @brandwaffle thank you guys!

@brandwaffle, this is great news! I would gladly give it a spin - the autocomplete feature alone makes it worth it for me - currently we are managing without it. And please, be _elastic_ with those limits/restrictions! I can only assume that there's a lot of room for profit, so...

Looking forward to what you guess come up with!

[2021-03-12 08:35] gonzomir commented on #2121
Hi, @felipeelia,

In my case the `sites` param is an array of exact blog IDs because there is a case where a site is indexed but not searched from the global search. But that's not really important, your code should render the same results. I'll try to set up a minimal example to confirm my findings and give you precise recipe to debug on your side.

[2021-03-12 13:32] fagiani opened #2128 "Adding more fields to the autosuggest results"
I was looking at the JS code that builds the autosuggest list and found that only the `post_title` is set to `text` field of the formatted hits as seen below:

https://github.com/10up/ElasticPress/blob/1c325e8959da4034d40e2fd6947eccfdac106ec4/assets/js/autosuggest.js#L427-L443

Is there any way to override this method somehow to add other fields like the post date?

Also, is it something that you'

[2021-03-12 18:27] mckdemps commented on #2042
@Rahmon https://discuss.elastic.co/t/function-score-gaussian-decay-handling-multiple-by-zero/117086/2

[2021-03-12 18:27] brandwaffle commented on #2042
@Rahmon https://discuss.elastic.co/t/function-score-gaussian-decay-handling-multiple-by-zero/117086/2

[2021-03-12 18:38] brandwaffle opened #2129 "Only use ElasticPress on archive pages when a Facet widget is present"

[2021-03-12 18:40] #1865 closed

[2021-03-12 18:49] brandwaffle opened #2130 "Don't use ElasticPress on archive pages unless a Facet widget is present"

[2021-03-12 18:50] mckdemps commented on #1792
Per feedback in #1851 this fix seems to work and we are adding it to Elasticpress Labs.

[2021-03-12 18:55] #1772 closed

[2021-03-12 18:58] mckdemps commented on #1738
@renakdup Is this error still occurring for you in 3.5.5?

[2021-03-13 10:38] gonzomir commented on #2121
I prepared a minimal install that confirms the issue. WordPress multisite with just ElasticPress and Yoast, and Twenty Twenty-One theme and one subsite added. There are two essential additions:

- Adding `define( 'EP_IS_NETWORK', true );` in `wp-config.php`
- Adding the above `pre_get_posts` action to a mu-plugin.

To get a search result from the subsite appear on top of the results I just added a

[2021-03-13 17:44] scooterlord commented on #1132
Hello again and sorry for reopening this as well :)

When you use a different language analyzer what happens with the ‘default’ English language?

[2021-03-13 19:09] fagiani opened #2131 "Overriding autosuggest query size"
While the `WP_Query()` results size is desired to stay as is, I'd like to be able to set a smaller number to the autosuggest results.

Inspecting the code, I was able to find the `filter` below (although in the [docs](https://10up.github.io/ElasticPress/ep_epio_autosuggest_es_query.html) it is listed as an `action`)

https://github.com/10up/ElasticPress/blob/a38768e6828e991e46454be34466449252f8f55

[2021-03-15 11:25] Rahmon opened #2132 "Elasticsearch errors in indexing"
**Describe the bug**

I was trying to index documents that have a geo_location field type and when I tried sync from Dashboard, the indexing finish without any error but no documents were indexed.

Looking at the code, dashboard.php calls the method bulk_index (ElasticPress\Indexable::bulk_index) that can return a WP_Error or an array. The return of this call is checked to verify if is a WP_Error

[2021-03-15 13:32] felipeelia commented on #2131
Hi @fagiani ,

That filter won't help you. As its name suggests, it is related to the ElasticPress.io service only, not with the overall functionality of the plugin.

To achieve what you want, you can use the following snippet:

[code]

The autosuggest query is cached, so if you don't see the change immediately, you can wait five minutes, or go to the weighting engine dashboard and click on Save.

[2021-03-15 13:32] #2131 closed

[2021-03-15 13:41] felipeelia commented on #2128
Hi @fagiani ,

Thanks for bringing that up! We'll discuss it internally and reply back to you here in a few days.

FWIW, in addition to that method, we also have to keep in mind the `updateAutosuggestBox` function (the one which actually builds the autosuggest HTML code). We already filter the data received from the Elasticsearch server using:

[code]

So probably we could use a similar approach h

[2021-03-15 13:43] felipeelia commented on #2126
Hi @fagiani ,

Would it be possible to have it not working for an entire day or, even better, create a staging environment from it?

[2021-03-15 13:48] felipeelia commented on #1746
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-15 13:48] #1746 closed

[2021-03-15 13:50] felipeelia commented on #1951
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-15 13:50] #1951 closed

[2021-03-15 13:50] felipeelia commented on #2018
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-15 13:50] #2018 closed

[2021-03-15 13:50] felipeelia commented on #2099
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-15 13:50] #2099 closed

[2021-03-15 14:31] Rahmon commented on #2095
Related with #2132

[2021-03-15 15:15] #2051 closed

[2021-03-15 15:45] #1953 closed

[2021-03-15 15:45] #2064 closed

[2021-03-15 15:46] #2048 closed

[2021-03-15 15:46] #1938 closed

[2021-03-15 15:52] #2019 closed

[2021-03-15 16:07] #2042 closed

[2021-03-15 18:37] #2044 closed

[2021-03-15 18:39] fagiani commented on #1876
@brandwaffle thanks for sharing this code snippet.

I believe that due to the issue #1839, jQuery support was removed and the `whatwg-fetch` npm library is being used instead.

Inspecting the source code, although not yet documented, I've been able to find a hook here on line 191:
https://github.com/10up/ElasticPress/blob/1c325e8959da4034d40e2fd6947eccfdac106ec4/assets/js/autosuggest.js#L182-L195

[2021-03-15 19:44] fagiani commented on #2131
@felipeelia That worked great! Thanks.

[2021-03-15 21:12] fagiani commented on #2128
Interestingly I've found that exactly piece of code earlier and actually worked to add the date to the results! :)

Thanks a lot!

[2021-03-15 22:41] fagiani opened #2135 "Autosuggest: Allow multiple input search fields with different queries for post types"
**Is your enhancement related to a problem? Please describe.**

The problem I'm currently facing is that I was unable to find a way to have multiple search fields that are capable of querying specific/different post types in the search.

**Describe the solution you'd like**

A way to be able to adjust the query before autosuggest fetch based on the input field information (like id, class, etc).

*

[2021-03-16 07:59] renakdup commented on #1738
this is no longer relevant

[2021-03-16 17:13] #2130 closed

[2021-03-17 20:15] fagiani commented on #2135
While the #2136 PR is being evaluated. It is possible to use the following workaround:

Given you have those two input fields within your page:
[code]
you could use the following JS to enable custom query:
[code]
Hopefully that can become useful to others in the future!

[2021-03-18 16:38] #2124 closed

[2021-03-19 06:46] oscarssanchez commented on #1870
Closing in favor of #2129

[2021-03-19 06:46] #1870 closed

[2021-03-19 06:57] oscarssanchez commented on #1394
Weirdly I could not reproduce this, although it would seem as if the problem is still valid.

Tested with twentynineteen and twentytwentyone. @felipeelia or @Rahmon can you confirm or deny you can reproduce the bug?

[2021-03-19 07:00] oscarssanchez commented on #1711
Hi @dnikola ,

Actually if both are still happening it would be great to know!
Thanks!

[2021-03-19 07:01] oscarssanchez commented on #1642
Closing as it has been discussed to document the `search_fields` filter

[2021-03-19 07:01] #1642 closed

[2021-03-19 13:36] felipeelia commented on #2119
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-19 13:36] #2119 closed

[2021-03-19 13:38] felipeelia commented on #2023
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-19 13:38] #2023 closed

[2021-03-19 13:52] felipeelia commented on #2127
Thanks, @johnbillion , I can confirm that bug.

We already index a "translated" version of the post content in the `post_content_filtered` field. While we don't have a proper fix applied in the plugin, here is a workaround for those with this problem:

[code]

[2021-03-19 14:24] johnbillion commented on #2127
Thanks, that's what the Altis team have decided to do too: https://github.com/humanmade/altis-enhanced-search/pull/160

[2021-03-19 14:31] felipeelia commented on #2121
Thanks @gonzomir, I can reproduce it now.

It seems the root cause of it is a call to `wp_reset_query();`, by the way. The solution you mentioned works, I just wonder if it would have a side effect on people relying on Post\QueryIntegration::get_switched() method or something like that.

Do you want to craft a Pull Request with that and we can run some tests with it? Thanks in advance!

[2021-03-19 15:03] gonzomir commented on #2121
Yes, I will, no problem.

[2021-03-19 15:10] felipeelia commented on #2114
Hi @moritzlang ,

The code looks good. Investigating things a bit deeper, there is a code that is probably preventing the Weighting feature to change the query.

If you look here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Weighting.php#L567 the `is_admin()` will be true in AJAX requests and then the query won't be changed. Do you mind removing that part of t

[2021-03-19 15:27] #1738 closed

[2021-03-19 17:42] mckdemps opened #2143 "HTML for autosuggest items should be filterable"
**Is your enhancement related to a problem? Please describe.**

Right now it's impossible to change the autosuggest HTML (for example, to add a thumbnail image).

**Describe the solution you'd like**

Make the HTML filterable on these lines: https://github.com/10up/ElasticPress/blob/1c325e8959da4034d40e2fd6947eccfdac106ec4/assets/js/autosuggest.js#L255-L259

**Designs**

**Describe alternatives yo

[2021-03-19 17:43] mckdemps commented on #2143
Related to #2128

[2021-03-19 17:44] #2128 closed

[2021-03-19 18:21] felipeelia commented on #2118
Hi @AlexInconver ,

So, basically, we would need to:
1. Make sure your PHP code is being executed. Can you please do that if you didn't before? An error_log() call with WP_DEBUG and WP_DEBUG_LOG enabled, for example.
2. Give a look at your mapping. Are you by any chance using ElasticPress.io? If that is the case, let us know and we can help through our support. Otherwise, you can get it by making

[2021-03-21 11:42] dnikola commented on #1711
I am afraid that situation is same :/
do you need any aditional info?

[2021-03-24 10:20] moritzlang commented on #2114
Hi @felipeelia,

this partly fixed it for me! I get results, but the queries still differ when using the search algorithm version 3.4. I recognized that in the AJAX request the `fuzziness` value inside the `multi_match` object is set to `1` instead of `AUTO`.

I guess the search algorithm version 3.4 is somehow not applied in the AJAX request? Thanks for your help!

[2021-03-24 10:58] sorrow-poetry commented on #1219
hello, sorry for opening this issue again. but i wanna know if there is a way to customize the indexes name for each WP site
to recognize each website.

[2021-03-24 11:31] moritzlang commented on #2114
Removing the `is_admin()` check [here](https://github.com/10up/ElasticPress/blob/8347c66528635abf879ed226b623f55c63ca9c0c/includes/classes/Feature/Autosuggest/Autosuggest.php#L225) fixed this issue.

Further improvement would be to use the 'ep_ajax_wp_query_integration' for this:
[code]

@felipeelia is this a viable solution?

[2021-03-25 09:06] goaround opened #2147 "maybe_switch_to_blog is called to early"
**Describe the bug**

I really like the feature of ElasticPress that its possible to display post from other websites in a multisite installation.

But there is a problem with the call to `maybe_switch_to_blog` on the `the_post` here https://github.com/10up/ElasticPress/blob/c58e7f4a5a68efec71bf54f797fff54d3aa2f5f5/includes/classes/Indexable/Post/QueryIntegration.php#L54

`the_post` action runs be

[2021-03-25 09:41] hedqvist commented on #2126
Also Experiencing this issue:
[code]

[2021-03-25 15:25] fagiani commented on #2126
@hedqvist a couple of things that I'd check which I've noticed could be potentially related with this specific behavior:

- Are you currently reindexing your data via WP-CLI or the WP Admin's Sync top bar?
- Is "Facets" feature currently enabled?

Hope it helps!

[2021-03-25 15:30] hedqvist commented on #2126
Facets is currently disabled and re-indexing is Done via admin panel 😅

[2021-03-26 14:22] felipeelia commented on #2147
Hi @goaround ,

Thanks for opening the issue! We're already addressing it in #2121, so I'll close this one and ask you to share any new information you may have there.

[2021-03-26 14:22] #2147 closed

[2021-03-26 14:25] felipeelia commented on #2126
@hedqvist , is that site public? If so, do you mind sharing its URL here so we can give a look?

[2021-03-26 14:25] felipeelia commented on #2118
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-03-26 14:25] #2118 closed

[2021-03-26 14:39] felipeelia opened #2148 "is_admin() checks and AJAX context"
**Describe the bug**

As shared in #2114 by @moritzlang, several of our conditionals for `is_admin()` should take into account AJAX requests, where `is_admin()` is `true`.

We already have the `ep_ajax_wp_query_integration` filter that could (and should) be used in those tests. To keep things clean, we can create a new utils function called `is_admin_or_ajax()` that would contain both conditionals

[2021-03-26 14:41] felipeelia commented on #2114
It is @moritzlang, but unfortunately, as you already know, that will be overwritten when you upgrade the plugin.

I've created #2148 summarizing our findings here, so I'll close this one and we can track it there. It would be great if you could give a look at the new issue and create a PR to address it. What do you think? Thanks!!

[2021-03-26 14:41] #2114 closed

[2021-03-26 15:55] felipeelia commented on #1341
I know this has been waiting here for a while (sorry, @binaryfire!), so I'll leave a reply and close it.

No performance penalty is expected. Here are some pros and cons of the multisite activation:

Pros:
- Manage settings in just one place
- Cross-network queries

Cons:
- Synonyms and Weighting Dashboards are not supported

[2021-03-26 15:55] #1341 closed

[2021-03-26 16:23] felipeelia commented on #2126
It would be great if we could reproduce it in a local environment or look at it happening on a public site. Would it be possible for you (and/or @fagiani ) to disable all other plugins, use a default WP theme and try to pinpoint what plugin or theme causes the problem? Troubleshooting mode of the [Health Check plugin](https://wordpress.org/plugins/health-check/) can help a lot with that (it'll dis

[2021-03-26 16:37] felipeelia commented on #1394
I can't reproduce it. Actually, although we really get all `input[type="search"]` for autosuggest, we do remove the facet ones later since [EP 3.4.3](https://github.com/10up/ElasticPress/releases/tag/3.4.3) with:

[code]

[2021-03-26 16:38] #1394 closed

[2021-03-26 17:05] jeffpaul opened #2149 "BUG: test bug issue"
**Describe the bug**
Will the `bug` correct label be selected?

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress version:

 - ElasticPress version:
 - Elasticsearch version:
 - Where do you host your Elasticsearch server?
 - What

[2021-03-26 17:05] jeffpaul commented on #2149
Sweet, it worked!

[2021-03-26 17:05] #2149 closed

[2021-03-26 17:11] #658 closed

[2021-03-26 17:12] #674 closed

[2021-03-27 01:43] fagianijunior opened #2150 "Add weight to post types, or remove a specific post type from date weight order."
hello,
thanks for this plugin and for your efforts to do it better.

**Is your enhancement related to a problem? Please describe.**

I has some post types, like: cat, dog, breed ... I am using "Weight results by date", and the post types cat and dog is updated constantly, but breed has very old dates, then I need to show breeds in the firsts results, if the query match with it, and the anothers po

[2021-03-29 10:24] sinhrodev commented on #2119
Sorry for a late reply, I didn't receive any notifications from this issue on my email and missed it.

I installed Debug bar as well as Elasticpress debug bar plugin and now I see that Elasticsearch is returning HTTP 400 errors with explanation: "failed to create query: failed to parse setting [DecayFunctionParser.scale] with value [1y] as a time value: unit is missing or unrecognized".

If I disa

[2021-03-29 19:17] oscarssanchez commented on #1947
Just updating status of this ticket: Implementation is done but still need to add unit tests.

[2021-03-29 22:09] tictok opened #2151 "QUESTION: how to search order (in Woo admin) by custom order number or customer name?"
**Describe your question**
How can I get Elasticpress to search orders (in WooCommerce admin) by order meta?

I'm trying to use Elasticpress to speed up woocommerce admin, particularly searching and sorting orders (approx 60k orders).

- Searching by order ID works great (quickly).

- Searching for an order by Sequential order number (Woocommerce Sequential Order Numbers Pro) returns zero result.

[2021-03-30 13:17] sinhrodev opened #2152 "BUG: failed to parse setting [DecayFunctionParser.scale] with value [1y] as a time value"
**Describe the bug**
I installed Debug bar as well as Elasticpress debug bar plugin because search queries were making huge load on a database (instead of searching in Elasticsearch). After that I see that Elasticsearch is returning HTTP 400 errors with explanation: "failed to create query: failed to parse setting [DecayFunctionParser.scale] with value [1y] as a time value: unit is missing or unre

[2021-03-30 13:26] felipeelia commented on #2152
Hi @sinhrodev ,

It seems you are changing the `scale` value through the `epwr_scale` filter, is that right? If so, can you try to change that `1y` you have to `365d`? _Year_ doesn't seem to be a valid unit as per Elasticsearch docs: https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#time-units

[2021-03-30 13:40] sinhrodev commented on #2152
thanks, this was it - it was some custom plugin that we didn't even know we had that changed this setting..
I am marking this as closed

[2021-03-30 13:40] #2152 closed

[2021-03-30 13:43] felipeelia commented on #2151
Hi @tictok ,

Can you please try the following code:

[code]

It will enable the new field in the Weighting Dashboard. So, you'll have to put this code in your theme's functions.php (or in a separate plugin), go to the Weighting Dashboard (inside the WP Dashboard -> ElasticPress -> Weighting), and enable the new field in the "Products" box. Don't forget to click on Save changes. After that, you'll

[2021-03-30 18:41] tictok commented on #2151
brilliant - thank you. I'll try it a little later this evening when our store is quiet and report back.

[2021-03-31 12:54] moritzlang commented on #2148
Hi @felipeelia,

#### Regarding the issue description:

Just to keep this correct: **no** weighting fields are included in this case. Also fuzziness is not changed!

#### I found another issue occurring regarding the `is_admin()` checks when `ep_ajax_wp_query_integration` is set to true (I need your help on this one):

Steps to Reproduce:
* `ep_ajax_wp_query_integration` is enabled
* Protected Con

[2021-03-31 13:36] fagiani commented on #2126
@felipeelia sorry for taking so long. I've just set the staging to reflect the error within the browser's console.

![Screen Shot 2021-03-31 at 10 34 00 AM](https://user-images.githubusercontent.com/2450/113152562-a0cd3d00-920c-11eb-9ac3-2e4a86014fe0.png)

You can check it out [here](https://staging.blogdobg.com.br/) throughout the day.

I can follow up with your last comment's suggestions later t

[2021-03-31 15:47] fagiani commented on #2126
@felipeelia sorry about that. For clarity, one of the ways I am able to reproduce that behavior is when reindexing and therefore I’ve started that. Somehow it has paused and I’ve just restarted it. Hopefully you will be able to catch it now.

[2021-03-31 17:06] felipeelia commented on #2126
Hi @fagiani, thanks for that! Yes, I'm able to reproduce it locally when I visit the site during an index. In fact, as we have the code developed now, autosuggest (and any other EP search functionality) should not be triggered while indexing, so we should have a check for that before enqueuing the JS file.

It should be a matter of adding a test like [this](https://github.com/10up/ElasticPress/blo

[2021-03-31 17:43] felipeelia commented on #1657
Closing this one as it was fixed in 3.5.5. Thanks!

[2021-03-31 17:43] #1657 closed

[2021-03-31 17:43] fagianijunior opened #2154 "BUG: Double quote inside a html tag atribute break the tag."
**Describe the bug**
On doing a search with the highlight enabled, it add some quotation marks  (") inside a attribute of a html tag "data-share-title" and it break the HTML.

EX.:
<div class="inline-share" data-share-link="https://mysite.com.br/my-awesome-post/" data-share-title="My <strong class="ep-highlight">awesome</strong> post">
With the extra double quote mark, it expose the end of value i

[2021-03-31 17:53] felipeelia commented on #1427
Closing this one as #1428 was merged and [`ep_prepare_meta_data`](http://10up.github.io/ElasticPress/ep_prepare_meta_data.html) was made available.

[2021-03-31 17:53] #1427 closed

[2021-03-31 18:27] nickdaugherty opened #2155 "BUG: Undefined variable: $closed in includes/classes/Elasticsearch.php"
**Describe the bug**

The new `\ElasticPress\Elasticsearch::update_index_settings()` method can throw an undefined variable notice for `$closed` as it is may not be initialized before being referenced in these lines: https://github.com/10up/ElasticPress/blob/aa1d42fa202f804b74bec710dab46eceb8309353/includes/classes/Elasticsearch.php#L838-L847

**Steps to Reproduce**

```\ElasticPress\Elasticsearch

[2021-03-31 19:17] felipeelia commented on #2154
Hi @fagianijunior, do you mind explaining how you are adding that `data-share-title` attribute there? Thanks

[2021-03-31 19:36] fagianijunior commented on #2154
@felipeelia
Sorry man,
It is a fault from my theme, I add <?php echo strip_tags(get_the_title()); ?> to fix it.

thank you,

[2021-03-31 19:36] #2154 closed

[2021-04-06 07:17] pschoffer commented on #2155
@felipeelia  I upstreamed the fix we have done on our fork in #2159

[2021-04-06 09:36] hedqvist commented on #2126
So this only seems to happen when Indexing is running or did I misunderstand something?

Because we have did re-run the indexing until complete and autosuggest still does not seem to work properly for us at https://rorfokus.se/

[2021-04-06 10:25] hedqvist commented on #2126
After further deepdiving this seems to be related to a custom function.
[code]

We want to only use EP for autosuggest hence we disable the integration on all other requests, but this causes "elasticpress-autosuggest-js-extra" to have the query as empty array instead of the actual query.

@felipeelia Any other idea on how to only use EP for autosuggest?

[2021-04-06 11:18] hedqvist commented on #2126
It seems to work if we use the following:
[code]

This allows us to turn of ES for anything else than autosuggest.

[2021-04-07 16:23] cbratschi opened #2160 "Disable MySQL fallback for search"
**Is your enhancement related to a problem? Please describe.**

I am handing this in as a feature request but in my opinion this is more likely a bug because websites using ElasticPress are larger ones where SQL search queries are slow.

Currently if a timeout occurs on the ElasticSearch instance, ElasticPress will automatically fall back to a MySQL search query. On our site for instance such a My

[2021-04-07 16:26] cbratschi commented on #2160
The same features were requested here:

https://github.com/10up/ElasticPress/issues/1719

[2021-04-08 17:53] danielecelsa commented on #2023
Hello again @felipeelia and all,

sorry I have been very busy and could not answer, so you correctly closed the case.
Wonder if you can open it again and help me out.

Besides the test you asked to make, I would like to ask you a basic thing that maybe is what I am missing:
How/where exactly should I set **ep_integrate = true** ?

I did it on the plugin itself (the one of Load More), but maybe it

[2021-04-08 19:26] halmos opened #2161 "BUG: remote_request is used before theme hooks are initialized by wp"
**Describe the bug**

The `\ElasticPress\Elasticsearch` method `remote_request` is invoked by the Elasticpress plugin before the theme is loaded and has a chance to add filters for `ep_do_intercept_request` and `ep_intercept_remote_request`.

As a result it is not possible to add authentication headers to the request before the request is made.
The `remote_request` appears to be called by `get_ela

[2021-04-09 13:06] felipeelia commented on #2161
Thanks for bringing it up, @halmos!

The problem is related to [this line](https://github.com/10up/ElasticPress/blob/3.5.6/elasticpress.php#L146):

[code]

Changing that `plugins_loaded` to `after_setup_theme` makes it work without any apparent side-effect (`init` seems to be too late). Obviously, it would require some thorough testing as it is a central point of the plugin. I wonder if we'd like

[2021-04-09 13:24] felipeelia commented on #2160
Hi @cbratschi,

Thanks for creating the issue! Although your use case is common, falling back to MySQL is what is expected for a good portion of the plugin users. So, the best way to have that would be wrapping the code inside a filter, something like:

[code]

Would you like to craft a PR with that?

[2021-04-09 13:26] cbratschi commented on #2160
Hi @felipeelia,

Yes, this should be backwards compatible. I will create a PR.

[2021-04-09 13:26] felipeelia commented on #2151
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-04-09 13:26] #2151 closed

[2021-04-09 13:40] felipeelia commented on #2126
Hi @hedqvist,

Yes, that would happen only during a re-index (when autosuggest shouldn't be used anyway, as the results would probably be emptier than expected, as the content is wiped out and indexed again).

Although your code will work, hardcoding the query that way you may lose any future change we can make to that query. The following code will conditionally skip the EP integration and is an

[2021-04-09 16:25] tictok commented on #2151
Hi - apologies for not getting back to you Felipeelia. I started testing the snippet you provided, the option in the weighting dashboard was available but then ran into an unrelated memory issue with ElasticSearch when indexing that my host should be sorting out soon.   Thanks.

[2021-04-09 17:38] brandwaffle commented on #238
Comments Indexable is scheduled for 3.6 release. PR/further info in #1531. Closing this ticket as a duplicate of that one.

[2021-04-09 17:38] #238 closed

[2021-04-09 17:45] #1805 closed

[2021-04-09 17:47] #1844 closed

[2021-04-09 17:54] mckdemps commented on #2150
@fagianijunior We're not aware of a way to apply different weights in a single query when it comes to post date. Would it be possible to split this into two separate queries or are you aware of any elasticsearch query parameters that can accomplish this?

[2021-04-09 19:16] felipeelia commented on #2161
Hi @halmos,

We've talked about it internally and it seems -at least in general- to be something that should be handled in a plugin rather than into the theme. But just to be sure we are not missing anything, do you mind sharing your use case and if for whatever reason it wouldn't be possible for you?

Thanks in advance!

[2021-04-10 13:08] Rahmon commented on #1687
A possible workaround here could be to restrict the post type to product when accessing a WooCommerce page:

[code]

[2021-04-10 14:11] Rahmon opened #2165 "Indexing WooCommerce reviews"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**
The PR #1531 adds a Comments Indexable that allows comments to be indexed by Elasticsearch. That way, WooCommerce reviews are indexed too since they are comments too. That would be great if we could choose what post type should have the comments indexed. Other than that, to provide a widget to sear

[2021-04-12 09:25] teoteo opened #2166 "BUG: Index creation failure if the siteurl contains uppercase characters"
During the first sync, the index creation on elasticsearch fails if the siteurl contains an uppercase character without feedback errors.

**Steps to Reproduce**
1. Create a WordPress site in a subfolder with uppercase name like https://mysite.ext/MYFOLDER
2. Install ElasticPress plugin, then sync
3. A PUT like http://myelasticserver.ext:9200/mysiteextMYFOLDER-post-1 is sent
3. The index is not cre

[2021-04-12 11:11] teoteo opened #2167 "QUESTION: Custom fields with Advanced Custom Fields plugin. How to manage it?"
Reading this article [Custom Fields and Weighted Search with ElasticPress — Part 2](https://www.elasticpress.io/blog/2020/06/custom-fields-and-weighted-search-with-elasticpress-part-2/) I can add some of the required field added using [Advanced Custom Fields](https://www.advancedcustomfields.com) plugin.
I’ve added some of those
[code]
in **epio_blog_add_custom_field_ep_weighting** function.

When

[2021-04-12 17:20] halmos commented on #2161
Hi @felipeelia,

Thanks for taking some time to consider this. I can see your point that this might be considered a plug-in concern. However, in our particular case, the authentication credentials provider is a core feature of the theme itself and so it would not be possible to have those available in a plugin before the theme loads.

[2021-04-13 09:42] teoteo commented on #2167
Also considering all custom fields as a single search and weighting field is a welcome solution.

[2021-04-14 15:45] johnbillion opened #2168 "Ability to override the autosuggest selector, not just append to it"
**Is your enhancement related to a problem? Please describe.**

We're using the autosuggest feature on a site. The `autosuggest.js` file that handles this [contains a hardcoded list of selectors to target](https://github.com/10up/ElasticPress/blob/9dfe8331d8a69bee0d964fc6815aecdee4c3b38d/assets/js/autosuggest.js#L388-L390), with the `epas.selector` option appended to the end. We'd like to override

[2021-04-14 15:55] fagianijunior commented on #2150
We are done this hack on the javascript:

This code has some hack, the page has two input type="search" the first search on all post types with quotation first, the another only on quotation.
Depending on the ID of the input search, this do the specific search. const cepas force it.
[code]

Talking about "weight to post types":
Here will change the filter to search first on post_type 'quotation' i

[2021-04-14 16:02] fagianijunior commented on #2168
You read this issue? It will help you.
https://github.com/10up/ElasticPress/issues/2135

[2021-04-14 17:33] BWBama85 opened #2169 "QUESTION: Only index certain pages"
Hi,

I am looking for a way to only index certain pages and all normal posts (post type = post)

For example:

I want to only include the pages that are children of the following ids:

71217,71218,71219,71220,71221

Those are just a few, I have a few more, but you get the idea.

How would I:

1) Only index these when I run the sync command
2) Index these when a new page is created under the parent

[2021-04-14 18:49] danielecelsa commented on #2023
Hello,

did you have the chance to have a look to my comment?

I am writing you also to ask if you need debug.log file, which configuration you would need me to set?
- with _ep_integrate=true_ in the plugin
- with _pre_get_post_ set in _function.php_ (if yes, could you tell me if how I wrote it is correct?)
- both

Consider that, with or without '_ep_integrate =true_' in the plugin, I see this in

[2021-04-14 20:24] fagiani commented on #2150
@mckdemps I am not sure if there is a better way to achieve that, but based on this code:

https://github.com/10up/ElasticPress/blob/9dfe8331d8a69bee0d964fc6815aecdee4c3b38d/includes/classes/Feature/Search/Search.php#L126

We were able to call the same `ep_formatted_args` filter via the theme's `functions.php` using a higher weight and achieve it like this for the search results:

[code]

Hopefull

[2021-04-15 10:39] JakePT commented on #2135
The specific use case of limiting autosuggest results to a particular post type is addressed by #1689

[2021-04-15 10:43] JakePT commented on #1687
@brandwaffle I've updated the PR #1689 to bring it up to date with develop, and improved the handling of post type inputs in the search form.

@Rahmon I think the issue with that approach is that searches for products aren't necessarily coming only from WooCommerce pages. For example, it's common for shops to have a product search form in the header that only searches the shop, and there's no guar

[2021-04-15 13:22] BWBama85 opened #2170 "QUESTION: 400 error [{"type":"x_content_parse_exception","reason":"[1:1110] [terms_lookup] unknown field [account]"}]"
Search results are not going through Elasticpress

Error:

[code]

[2021-04-15 16:02] #2143 closed

[2021-04-15 18:39] pinguluk commented on #2023
Hey @danielecelsa, are you using [Elementor Custom Skin](https://wordpress.org/plugins/ele-custom-skin/) for the load more?
I ran into the same or similar issue as well these days.

I use [JetSmartFilters](https://crocoblock.com/plugins/jetsmartfilters/) to filter some posts (Elementor Posts Widget) on a page and it seems that after I filter the posts, it renders the posts, but just based on its q

[2021-04-15 19:02] felipeelia commented on #2161
Got it, @halmos .

In that case, you could achieve that by writing a small plugin (or even a mu-plugin) changing the action used:

[code]

I've tested it here and it worked as expected. Can you please give it a try too? Thanks.

[2021-04-15 19:03] danielecelsa commented on #2023
Hello @pinguluk

WOW thank you for sharing!

I am in hurry too, so I will check better later all your really interesting material :)

Anyway Yes, I am using Ele Custom Skin and there is for sure a bug to fix, but unfortunately the creator of this plugin is always busy..

For now, I just want to add that I was wondering if the issue was about these lines in ajax-pagination.php:
` $old_query = $wp_q

[2021-04-15 19:09] felipeelia commented on #2170
Hi @BWBama85 ,

It seems the query is not properly formed. This part here is what seems to be wrong:

[code]

Do you mind sharing the PHP code responsible for building that?

[2021-04-15 19:14] felipeelia commented on #2169
Hi @BWBama85 ,

That is an interesting use case. You'd need something similar to what we've put together for [this other issue](https://github.com/10up/ElasticPress/issues/2017#issuecomment-771849953) but instead of excluding IDs, you'd be using only those few you have. Does that already point you in a good direction or would you need a full snippet?

Thanks

[2021-04-15 19:21] pinguluk commented on #2023
I will look again into that thing with `$wp_query->query_vars` later, maybe I will find something interesting. Also, I think you'll need to adapt the hotfix, because I was querying by terms (tag taxonomy) and you are querying by search (which is querying the posts if they include the searched string) and I don't know if you can set somewhere in the post widget settings to filter by that (try to va

[2021-04-15 19:21] felipeelia commented on #2166
Good catch @teoteo , thanks. Do you mind crafting a PR adding something like `$index_name = strtolower( $index_name );` in https://github.com/10up/ElasticPress/blob/3.5.6/includes/classes/Indexable.php#L114?

In the meantime, it seems you could get it working with the following code. Can you please test it?
[code]

[2021-04-15 19:48] BWBama85 commented on #2170
Hi, the addon is https://wordpress.org/plugins/paid-memberships-pro/

[2021-04-15 20:03] BWBama85 commented on #2170
I have no need to have that kind of information included in the index. How would I exclude that?

[2021-04-16 17:11] #2126 closed

[2021-04-16 17:11] #2155 closed

[2021-04-16 17:12] #1762 closed

[2021-04-16 17:12] #2015 closed

[2021-04-16 17:13] #1893 closed

[2021-04-18 16:47] Sinns opened #2175 "QUESTION: Page loading slow when there are a lot of results"
**Describe your question**

Hello everyone
I have a webshop with over 100'000 products and I use ElasticPress to speed up my search queries. This works great when the query results in less than 500 products. But when I search for a term where there are a lot of products, ElasticPress will find at most 10000 products and needs ca. 1.3 seconds to do so. What me bothers is, that the website itself ne

[2021-04-19 10:59] simplenotezy opened #2176 "BUG: Does not respect a specific meta_query field"
**Describe the bug**
In my normal WP_Query requests, I have a query that looks like this:

[code]

And that usually works just fine. However, we noticed that after activating ElasticPress, ALL products would show up, even the ones that had `_discontinued=0`

Not sure what is wrong with this, however, it keeps us from switching to Elasticpress.io.

**Environment information**
 - WordPress version:

[2021-04-19 13:55] Rahmon opened #2177 "Widget to search only on comments"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**
Since PR #1531 adds a Comments Indexable, it would be great if ElasticPress provides a widget to search only on comments.

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2021-04-19 17:42] Rahmon commented on #1934
Hi @stefanstatescu1

Your code is not working because the action `woocommerce_product_query` is not called when ElasticPress is enabled. Instead, ElasticPress uses the filter [posts_pre_query](https://developer.wordpress.org/reference/hooks/posts_pre_query/) to [build the query](https://github.com/10up/ElasticPress/blob/4719c8c0847619f0ac4143ddde1e66325c7215a2/includes/classes/Indexable/Post/Query

[2021-04-19 20:26] felipeelia opened #2178 "Fix Acceptance Tests"
The title says it all :)

[2021-04-20 15:25] #1854 closed

[2021-04-20 16:13] oscarssanchez commented on #2176
Hi @simplenotezy , our GitHub support is focused on plugin bugs and doesn’t extend to query-specific errors like the one you’re seeing here. since you’re an ElasticPress.io subscriber we can help you with this problem through our ticketed support. would you mind opening this as a ticket here https://www.elasticpress.io/ and we’ll get back to you there with some things to try?

[2021-04-20 16:20] oscarssanchez commented on #2175
Hi @Sinns , this could probably be because of a limit Elasticsearch has of 10,000 results per page: https://www.elastic.co/guide/en/elasticsearch/reference/current/paginate-search-results.html#:~:text=By%20default%2C%20you%20cannot%20use,use%20the%20search_after%20parameter%20instead.

Regarding the slowness you are experiencing, we believe this could not necessarily be the Elastic query and can d

[2021-04-20 20:09] felipeelia opened #2180 "BUG? Different Custom Search Results should not interfere with each other."
**Describe the bug**

If a user has two different Custom Search Results and one is a substring of the other, results in the smaller one will appear in the longest one.

Example: "Dental Real Estate Purchases" and "Real Estate". While searching for "Real Estate", the results added to "Dental Real Estate Purchases" will show up as "Real Estate" matches the search term.

**Steps to Reproduce**

1. Cr

[2021-04-20 23:05] airportjule commented on #2180
Thanks Felipe.

For added clarification, in the given example the results for "Dental Real Estate Purchases" are "people" Posts and are mainly associated with dentistry; not Real Estate. So when they appear at the top of a search for "Real Estate" the results are inaccurately ranking higher than other posts more relevant to the Real Estate concept itself.

[2021-04-21 02:50] PointPubMedia commented on #2026
@Ignasrimkunas

We are having the same setup as you but we are unable to connect EP to ES, we are having 401 error, about missing authentication credentials for REST request...

[2021-04-21 12:28] felipeelia opened #2182 "Versioning built assets"
Right now, every time a PR touches a JavaScript file, the assets built (transpiled and minified) are being sent with it. That causes a problem if we have 2 different PRs changing JS files: at the moment we merge the first one, the other one will have a conflict and won't be mergeable anymore.

Other big plugins don't version their minified files. Example:
- WooCommerce: [Repo](https://github.com/w

[2021-04-21 17:36] PointPubMedia opened #2183 "QUESTION: Elasticsearch 7.12 + xpack security"
Hi,

First, is it true that elasticpress doesn't support ES 7.12 and that would explain why we can't connect to it ?

We are having an ES cluster, other software are working fine (ex. Kibana and rsyslog) and can connect and send data but with elasticpress we are having a 401 error!

[2021-04-21 21:28] oscarssanchez commented on #2183
Hi @PointPubMedia as per documentation the max supported version is 7.9 https://github.com/10up/ElasticPress#requirements

You can define credentials like this: `define( 'ES_SHIELD', 'username:password' ); ` If you are planning to self-host Elasticsearch and activate Autosuggest, please be conscious of security implications

[2021-04-21 21:28] #2183 closed

[2021-04-21 21:30] PointPubMedia commented on #2183
@oscarssanchez Already put the ES_SHIELD variable in place but with ES 7.12, we are having a 401 error!

So the problem is coming from the fact that we are using 7.12 ?

[2021-04-21 21:58] PointPubMedia commented on #2183
@oscarssanchez Found something maybe useful for you guys!

Just try elasticpress on another WP we are having, and the plugin works a little bit better.

We are still having the issue with the initial connection (I think it's the check the feature) BUT we are able to push an index in ES!

[2021-04-22 02:02] oscarssanchez commented on #1800
@brandwaffle even with protected content enabled the query that's being run with ElasticPress does not return results. As we are returning them in the admin, I think we should include them if protected content is enabled and you are logged in as an admin or you have the correct capability

[2021-04-22 02:24] oscarssanchez commented on #1711
Hi @dnikola ,
Thanks, I was able to reproduce both things :)

@brandwaffle this seems correct, if you register a new post type and you check the custom post list page, the query is not run through ElasticPress. The REST API also does not integrate even if `s` is set like wp-json/wp/v2/posts?s=test&per_page=10

You would need to set the `ep_integrate` param to both scenarios to make them run with E

[2021-04-22 05:42] dnikola commented on #1711
@oscarssanchez

could you please be more clear about this

you mean using add_ action  ‘pre_get_posts’ i should use 'ep_integrate'   => true, so this will work?

Thanks!

[2021-04-22 08:25] svandragt opened #2185 "Support for m1 compatible Elastic Search 7.10.2"
There's a [docker image now](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-dev-mode) for Elasticsearch 7.10.2 which [alledgedly starts supporting the Apple m1 arm architecture](https://stackoverflow.com/a/65994297/997). [ElasticPress officially supports up to 7.9](https://github.com/10up/ElasticPress/blame/develop/README.md#L23).  (I don't have access t

[2021-04-22 21:20] BWBama85 commented on #2170
Any ideas here? Can not use this plugin at all.

[2021-04-22 21:40] felipeelia commented on #2170
Hi @BWBama85 ,

You'll have to look into that plugin code and find out why it is setting an associative array for `post__not_in` instead of a simple array with numbers.

As stated in [WP's Docs](https://developer.wordpress.org/reference/classes/wp_query/#post-page-parameters):

[2021-04-22 21:40] #2170 closed

[2021-04-23 01:42] oscarssanchez commented on #1711
Hi @dnikola ,

That's correct!

[2021-04-23 01:43] oscarssanchez commented on #1947
Unit tests added and in for code review.

[2021-04-23 02:26] dnikola commented on #1711
ok,

i will check.

[2021-04-23 02:36] oscarssanchez commented on #1519
Estimating 2 hours for this.

[2021-04-23 17:08] halmos commented on #2161
ok thanks - However, I wonder if the issue is less to do with the particular load sequence and more todo with the fact that the dashboard relies on stale data. It might make sense for the plugin to call `get_elasticsearch_info` once the theme has loaded to give opportunity for theme hooks to be invoked before displaying an error.

[2021-04-23 17:28] felipeelia commented on #1711
@oscarssanchez @dnikola just as a reminder, for REST API, it should be `wp-json/wp/v2/posts?search=test&per_page=10`, as [in the docs](https://developer.wordpress.org/rest-api/reference/posts/#arguments).

[2021-04-23 17:29] #1556 closed

[2021-04-23 18:24] jeffpaul commented on #2182
FYI we handle this by building to `stable` and then releasing targeting that branch for [Distributor](https://github.com/10up/distributor/blob/develop/.github/workflows/build-stable.yml), [ClassifAI](https://github.com/10up/classifai/blob/develop/.github/workflows/release.yml), and [Sophi](https://github.com/globeandmail/sophi-for-wordpress/blob/develop/.github/workflows/release.yml).

[2021-04-26 13:28] simplenotezy commented on #2176
@oscarssanchez Alright, I'll do that. Thanks for reply.

[2021-04-26 13:28] #2176 closed

[2021-04-27 14:12] Rahmon commented on #1934
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks.

[2021-04-27 14:12] #1934 closed

[2021-04-27 14:55] Rahmon commented on #2150
@fagianijunior Did you try the solution described above?

[2021-04-27 17:45] fagianijunior commented on #2150
Yes, and it is in production now. Works fine.

[2021-04-27 17:45] #2150 closed

[2021-04-27 18:50] amitghy opened #2186 "QUESTION: Wordpress's theme requires custom PHP code (elasticsearch shortcode) to theme's functions.php file to load elasticpress search form."
**Kindly help me by providing elasticsearch shortcode for the below custome PHP [code](https://gist.github.com/jmabbas/8289878312d9e740e081ccf6a24555ff) of wordpress theme's function.php file so that I can use elasticsearch with my theme**

`function electro_navbar_search() {
	echo do_shortcode( 'Your seach shortcode' );
}

function electro_product_search() {
	if ( is_woocommerce_activated() ) { ?

[2021-04-28 13:46] tomisko6677 commented on #2029
Hi @pjohanneson. I would like to ask you,where excactly shoud i add this filter definition. i have same issue with accent insensitive search and i cannot find way how to solve it. Thank you

[2021-04-28 21:58] pjohanneson commented on #2029
Hi @tomisko6677,

I added the filter in a plugin I was developing, which is activated on the WordPress site. You can also put the code snippet into your active theme's `functions.php` file, but remember, if you ever switch themes, you'll need to copy that code snippet to the new theme's `functions.php`.

[2021-04-29 03:37] millionleaves commented on #2151
I can confirm that this snippet worked on a couple of sites I manage, but only if I also included the snippet from https://github.com/10up/ElasticPress/issues/2014#issuecomment-753549461. I use the WooCommerce Sequential Order Numbers plugin from SkyVerge, so my code looks like this:

`/* add custom order id in Elastic search index list */
add_filter( 'ep_prepare_meta_whitelist_key', function( $al

[2021-04-29 12:50] scooterlord opened #2187 "BUG: Synonyms + additional terms return resuls like OR instead of AND"
Hello everyone!

So, I've been struggling the whole day with this and the only conclusion I reached is that this must be a bug.

I have created a list of synonyms like the following - I will use actual keywords for convenience:
synonyms: `gearbox, shifter`

When I search for the following:
'Toyota engine'

I get expected results like:
Toyota AND engine

However, when I search for something inside

[2021-04-29 14:42] tomisko6677 commented on #2029
Thank you so much @pjohanneson , i will try it.

[2021-04-29 23:07] jdeserableexelcia opened #2189 "nativ geospatial search support"
Hi,
Great plugin!
Do you plan to support geospatial search natively?
Thank you
Regards,
Julien

[2021-04-30 12:34] felipeelia commented on #2189
Hi @jdeserableexelcia! Yes, we have plans for it but it won't happen in the near future. In the meantime, we are working on it in the ElasticPressLabs plugin: https://github.com/10up/ElasticPressLabs/pull/3 You can follow that plugin (and specifically that PR) to check our progress on that. Thanks!

[2021-04-30 12:34] #2189 closed

[2021-04-30 12:44] felipeelia commented on #2187
Hi @scooterlord, thanks for opening the issue. Which search algorithm are you using? Also, can you confirm that posts with `('gearbox' OR 'shifter') AND 'Toyota'` receives a better score than posts with `'gearbox' OR 'shifter' OR 'Toyota'`? Thanks.

[2021-04-30 12:46] felipeelia commented on #2186
Hi @amitghy ,

Can you please explain what exactly you are trying to achieve? ElasticPress should automatically integrate with your WordPress search after being properly configured, and generally, no changes in your theme would be required.

[2021-04-30 12:47] felipeelia commented on #2169
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-04-30 12:47] #2169 closed

[2021-04-30 12:53] felipeelia commented on #2185
Hi, @svandragt. If you have the chance to test it before we do, please let us know the results of your tests, okay? Thanks!

[2021-04-30 12:56] felipeelia commented on #2175
As we didn’t have any movement in this issue for a while now, we are now closing it. If you’re still facing the issue, please let us know. Otherwise, if you’ve managed to get an answer to your problem, we’d highly appreciate it if you could get back to us here and leave the solution in a comment. Thanks!

[2021-04-30 12:56] #2175 closed

[2021-04-30 13:02] felipeelia commented on #2167
Hi @teoteo,
Dealing with repeatable fields is part of our plans but it won't happen in the near future. In the meantime, you can solve your problem by excluding all your `content_N_columns_content` and then creating a new metadata field with all values separated by a comma just in the Elasticseach index, using the `ep_prepare_meta_data` filter. Here are some links that can help you:

https://elast

[2021-04-30 13:06] leroile22 opened #2190 "How to integrate ElasticPress with custom taxonomy"
I have built a website with WP Job Manager and ElasticPress.
The post type of jobs is job_listing and the taxonomy I want to use is job_listing_type.
My problem is that I cannot make the taxonomy job_listing_type searchable on the configuration screen:
![Captureeed](https://user-images.githubusercontent.com/83457611/116698911-3d7a2a80-a9c5-11eb-98f0-5af484b03512.PNG)
Should I use the following fil

[2021-04-30 13:20] felipeelia commented on #1668
Related to https://github.com/10up/ElasticPress/pull/1835

[2021-04-30 13:31] felipeelia commented on #1481
Since the creation of this issue we've already created a new Indexable for terms and CPT indexing is also working as expected. As for documentation, we have this page here that may help future readers of the issue: https://10up.github.io/ElasticPress/tutorial-indexables.html
With that said, I'm now closing it. Thanks!

[2021-04-30 13:31] #1481 closed

[2021-04-30 13:41] felipeelia commented on #2190
Hi @leroile22,

Probably that is not a public taxonomy. You can either
1. Create some code to change WP Job Manager to make it public OR
2. Use the `ep_weighting_fields_for_post_type` filter to add it to the Weighting Dashboard and then `ep_sync_taxonomies` to have its terms indexed in that post type.

If you’re interested in further assistance, we would be happy to help you. You can visit https:/

[2021-04-30 13:41] #2190 closed

[2021-04-30 14:21] jdeserableexelcia commented on #2189
Thank you for your reply and this interesting PR

[2021-04-30 17:19] #1713 closed

[2021-04-30 17:20] #2166 closed

[2021-04-30 19:55] felipeelia opened #2191 "BUG: Lack of text domain in esc_html__() calls"
**Describe the bug**

After merging https://github.com/10up/ElasticPress/pull/2120 we've introduced some esc_html__() calls in the includes/classes/Command.php file without the text-domain.

The `Function pcntl_signal not available....` confirmation also doesn't have it but it should.

[2021-05-01 11:58] scooterlord commented on #2187
Hello @felipeelia and thanks for your response! In fact, no, they don’t get better scoring.

I seem to have found what is wrong though. Everything seems to be broken when synonyms are multi-words... in the example above I was kind of translating from my own language where a synonym for gearbox is two words.

So what break things is when a synonym consists of two word alternatives, like:
‘Gearbox,

[2021-05-02 16:22] amitghy commented on #2186
I am using Electro Wordpress theme and by default it doesn't support elasticpress in its home page navigation search bar. We need to replace elasticsearch from the custom search bar available in Electro theme through its child theme's functions.php file. For that we need to add shortcode of elasticsearch in its functions.php file of child theme. So kindly provide me with the shortcode.

[2021-05-04 02:15] shmaltz opened #2193 "QUESTION: Facet Filters Question"
I have a few questions regarding the facet filtering:

1. Is there a function I can use to reset all filters? For example, if the user selects 3 filters and wants to reset them by pressing a button.
2. Is it possible to display a list of all the currently selected filters?
3. If we have 30 facet filters on a product archive page, but some of them don't apply to the currently viewed category, is it

[2021-05-04 02:44] shmaltz commented on #1751
@azzyadrac  Would you be willing to share the modified woo filters?

[2021-05-05 13:01] DenisFlorin opened #2195 "QUESTION: Stop indexing post metadata"
Hello, everyone!

How can I stop indexing post metadata?

Thank you!

[2021-05-05 16:48] cbratschi commented on #2160
See https://github.com/10up/ElasticPress/pull/2197.

[2021-05-05 17:11] DenisFlorin opened #2198 "503 Service Unavailable on homepage"
**Describe the bug**
I am getting this error when visiting the homepage of my website, while I'm logged in and visit the query monitor tab.

**Steps to Reproduce**

1. Visit homepage'
2. Click on query monitor tab
3. When inspecting with the WP plugin "Query monitor" i get this error
4. See error in tab HTTP API errors

Expected behavior
I expect to see no errors.

Screenshots
![image](https://use

[2021-05-05 17:35] Rahmon commented on #2195
Hi @DenisFlorin

You can use the [ep_prepare_meta_excluded_public_keys](https://10up.github.io/ElasticPress/ep_prepare_meta_excluded_public_keys.html) filter. Take a look at [this answer](https://github.com/10up/ElasticPress/issues/1759#issuecomment-625838333) in another issue to see an example.

[2021-05-06 13:53] felipeelia commented on #2187
Hi @scooterlord ,

So, I've set my synonyms like this:
![image](https://user-images.githubusercontent.com/184628/117309584-ef4ba800-ae58-11eb-9496-d478f53a6778.png)

Then I've created two posts:
- Toyota Engine and
- Honda Gearbox

When I search for "gear shifter" I receive them both. If I search for "toyota gear shifter" I receive only the "Toyota Engine" one.

Can you explain how are your tests

[2021-05-06 13:59] felipeelia commented on #2186
Hi @amitghy,

As that is a paid theme and we don't have access to its code, the help you need is outside of the scope of the support we provide here. If you’re interested in further assistance, we would be happy to help you. You can visit https://www.elasticpress.io/elasticpress-consulting/ to schedule an appointment for a consultation. Thanks!

[2021-05-06 13:59] #2186 closed

[2021-05-06 14:07] felipeelia commented on #2198
Hi @DenisFlorin,

That is related to the size of the aggregation buckets. Can you try to add the following code to a custom plugin or to your theme's functions.php and reload the page?

add_filter(   'ep_facet_taxonomies_size', function() { return 1000; } );

You can also try to increase that limit as explained [here](https://github.com/grafana/grafana/issues/17327).

[2021-05-06 14:11] felipeelia commented on #2193
Hi @shmaltz,

1. Facets add some parameters to your query string, like `filter_category`. So, you can create a link for the same page without those parameters set.
2. You can iterate over those parameters to build that list
3. In theory, if there are no terms to display, the widget would be hidden: https://github.com/10up/ElasticPress/blob/3.5.6/includes/classes/Feature/Facets/Widget.php#L104 Can

[2021-05-06 14:22] DenisFlorin commented on #2198
Hi @felipeelia,

I added that filter, and the error is not present anymore. If I keep it like that, will it impact the search or the website?

Also, if I increase the limit,  will it affect the performance of the website?

Thank you,

[2021-05-06 14:26] #2115 closed

[2021-05-06 15:41] scooterlord commented on #2187
Hello @felipeelia and once more thanks for being so thorough with this and looking into this.

I am using a function to import the synonyms list because it is huge but it’s more or less what you dictate. Do you get the expected results also when you search for  ‘Toyota gearbox’?

[2021-05-06 16:06] felipeelia commented on #2187
"Toyota gearbox" is a problem for me here indeed, @scooterlord. I've managed to get some results coming after I changed the search algorithm version to 3.4 but it seems that the more restricted version we have now by default doesn't work well with synonyms that contain more than one word.

We'll discuss it internally and I'll update you here with our findings. Thanks!

[2021-05-06 16:12] #2191 closed

[2021-05-06 16:12] #2168 closed

[2021-05-06 17:05] mckdemps commented on #1841
The issue is that the posts are being sorted prior to returning the top five results. We need to apply date decay using the same algorithm as for the main search query (aka use the search features setting for whether to weight by date to determine whether to add this to the query).

[2021-05-06 17:18] mckdemps commented on #2185
Feel free to reopen this if you get a chance to test out 7.10.2. Otherwise, we will bump compatibility when possible.

[2021-05-06 17:18] #2185 closed

[2021-05-06 17:31] mckdemps commented on #2161
Can you give an example of where you would need to invoke theme-specific hooks? Typically, features like authentication should be added via a plugin as opposed to in a theme, so we're wondering if there's an additional use case we're not considering.

[2021-05-06 17:38] Rahmon commented on #1841
@oscarssanchez Maybe #2042 (and the PR associated) can help you giving some direction.

[2021-05-06 20:24] jeffpaul opened #2200 "BUG: test issue"
Test issue for the `no-response.yml` action.

[2021-05-06 20:24] jeffpaul commented on #2200
Will the action remove the label?

[2021-05-06 20:24] jeffpaul commented on #2200
(gotta wait for 5 minutes after the hour)

[2021-05-06 20:24] jeffpaul commented on #2200
(or not, that was fast)

[2021-05-06 20:25] jeffpaul commented on #2200
Ok, will now apply the label and not respond for 3 days and see if the issue is auto-closed with the custom message.  Will then respond to see if its re-opened.

[2021-05-06 20:26] jeffpaul commented on #2200
Hey now, what gives?  Why'd it remove the label... hmmm, will need to investigate that.

[2021-05-06 20:26] jeffpaul commented on #2200
BTW this relates to testing https://github.com/10up/ElasticPress/pull/2199

[2021-05-07 01:57] shmaltz commented on #2193
Thanks for your reply @felipeelia

In regards to 3, I have one sidebar area with attribute filters for products in all categories. If I go to a category page and none of the products in that category have a particular attribute, I don't want that attribute facet to load on that category page. This is a pretty standard feature in most filter plugins, and I am just curious if I can get it to work th

[2021-05-07 05:00] shmaltz opened #2201 "BUG: Facet Filter"
I set up a few facet filters to filter product attributes, however they seem to be returning the wrong results. I filter for a certain manufacturer, and it displays many different manufacturers, including that filter. This happens when I'm on a Product Category page, and I select one attribute filter.

I have the facets set to "Show all content tagged to **any** selected terms".

If I were to set

[2021-05-07 11:10] Jamiewarb commented on #1812
Thank you @christianc1 this comment has saved me from more days of pulling my hair out

[2021-05-07 12:46] felipeelia commented on #2180
To avoid this issue we'll have to make some changes to the plugin:
1. Add an option in the Custom Search Results (CSR) feature to enable/disable this different behavior
2. If the user decides to enable it, the `terms.ep_custom_result.name` should be treated differently, just accepting exact matches.

In the meantime, this is a way to work around it:

CSRs rely on a taxonomy called `ep_custom_resul

[2021-05-07 19:04] shmaltz opened #2202 "BUG: Facet Filter Checkbox"
When using the Facet Filter to filter product attributes, clicking in the actual checkbox next to a term does nothing. Only if you click the actual term text will the filter filter/unfilter.

The checkbox should actually trigger/untrigger the filter, as this is what the user expects.

[2021-05-08 13:02] Rahmon commented on #2089
For future reference:
- https://www.elastic.co/guide/en/elasticsearch/guide/current/fuzzy-matching.html
- https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-suggesters.html

[2021-05-08 17:44] #2195 closed

[2021-05-09 17:44] #2161 closed

[2021-05-10 13:45] jeffpaul commented on #2198
@DenisFlorin we recently added a GitHub Action to help us maintain issues in this repo wherein it will auto-close issues that aren't responded to within a certain period of time once a `reporter feedback` label is applied.  It appears to have mistakenly closed your issue, but don't worry we're keeping an eye on your issue and will reopen it once we've been able to triage why the GitHub action mist

[2021-05-10 15:52] DenisFlorin commented on #2198
Hi @jeffpaul,

Thank you for the info.

Best regards,

[2021-05-10 18:33] phntxx opened #2205 "QUESTION: How to implement access restrictions?"
Hi,
I've recently stumbled across this plugin and instantly fell in love with it.
There is, however, one big problem that I can't find a solution to: I can't get ElasticPress to hide content from unauthorized users.

My question thus is: Is there any way to restrict search results depending on the role of the user (or any metric along these lines)?

I did see the feature "Protected content" in the

[2021-05-13 14:31] jeffpaul commented on #2200
Sample response via email to see if the action reopens this issue.

On Thu, May 13, 2021 at 9:27 AM github-actions[bot] <
***@***.***> wrote:

--

*Jeffrey Paul*
Associate Director of Open Source Initiatives · 10up, Inc.
<https://10up.com> · @10up <https://twitter.com/10up>

*email address: ***@***.*** ***@***.***> time zone: Central
Standard Time (UTC -6) preferred pronouns: he, him*

[2021-05-13 14:34] jeffpaul commented on #2200
I'm annoyingly unable to replicate why #2198 was auto-closed by the GitHub Action, so will chalk it up to GREMLINS for now and keep an eye on auto-closures for a bit to ensure they're doing so accurately.  Closing out this issue as I think the auto-closure action seems ok for now otherwise.

[2021-05-13 14:34] #2200 closed

[2021-05-14 14:29] #2198 closed

[2021-05-14 15:59] felipeelia commented on #2205
Hi @phntxx ,

So, "Protected Content" should be used for people that want to index non-published posts or WooCommerce orders, for example.

That said, and answering your question, ElasticPress takes WP_Queries and transforms them into Elasticsearch queries. So, if you build your WP_Query taking the current user roles into account, that would be reflected in the ES query built by EP.

If you have a

[2021-05-14 15:59] #2205 closed

[2021-05-14 16:18] felipeelia commented on #2202
Hi @shmaltz,

Do you have a live URL where we could see it happening? Also, in our next release, we're going to remove those checkboxes and changing them to a div with a certain style. Would it be possible for you to give a try of the code in the develop branch? Thanks!

[2021-05-14 16:27] felipeelia commented on #2201
Hi @shmaltz ,

Can you please give us some real examples so we can replicate the issue you are having with the any/all option?

I can replicate the pagination problem, though. It was partially fixed on #1347, but instead of applying it only for `is_post_type_archive()`, we probably should remove [this if](https://github.com/10up/ElasticPress/blob/3.5.6/includes/classes/Feature/Facets/Facets.php#L4

[2021-05-14 16:30] felipeelia commented on #2193
Hey @shmaltz ,

For your first paragraph, I'd like to understand more (with real examples if possible) how you have things set up. For the second one, what exactly are you trying to achieve?

Thanks

[2021-05-15 21:06] airportjule commented on #2180
Does this workaround limit only CSR terms from affecting search results, or disable _all_ weighting configuration?

[2021-05-16 05:51] olegcarguy opened #2206 "BUG: When Plugin enabled, search in Google Web Stories plugin is broken"
**Describe the bug**
When creating a new web story using the Google Web Stories plugin, the plugin has a search field where the admin can search the media library for photos.  The search breaks and returns zero results from the media library.

**Steps to Reproduce**

1. Enable ElasticSearch plugin
2. Create a new web story via this plugin: https://wordpress.org/plugins/web-stories/
3. Search for a

[2021-05-17 16:53] #2193 closed

[2021-05-18 15:45] felipeelia opened #2207 "BUG? Facets order after selection"
**Describe the bug**

A facet widget will always alphabetically order children terms of a selected term, even if order by count was selected.

**Steps to Reproduce**

1. Create a facet widget and configure it to order by Count / Descending
2. Visit the search page
3. See the children terms ordered by count
2. Select the parent term
3. See the children terms now ordered by term name

**Expected beh

[2021-05-19 08:28] dappi opened #2208 "QUESTION: Any way to change rel="nofollows" to follow"
Is there any way to change the link's rel nofollows to follow? I was looking code and searching some filters that I could modify the links but seem everything is "hard" coded and no filters used at all? :o Did I miss something? I would expect 10plus plugin would follow more Wordpress way of doing things.

[2021-05-19 16:22] brandwaffle commented on #2208
@dappi are you talking about the links in the Facets Widget? If so, there are significant performance reasons not to make those followable links, as Google and other search engines will crawl those URLs resulting in your site having to serve every filter possibility (usually uncached). These links are also not something that should be followed for SEO purposes.

If I'm missing a use case, please f

[2021-05-19 16:24] brandwaffle commented on #2207
@felipeelia I can't imagine this is intended. Let's treat as a bug and resolve.

[2021-05-20 12:56] felipeelia commented on #1798
Closing this one as https://github.com/10up/ElasticPress/pull/1968 was merged.

[2021-05-20 12:56] #1798 closed

[2021-05-20 13:06] felipeelia commented on #2206
There is a chance it is related to https://github.com/10up/ElasticPress/issues/1604

[2021-05-20 17:30] Rahmon commented on #2167
Another approach here could be something similar to what is made in [ElasticPressLabs](https://github.com/10up/ElasticPressLabs) adding a RegEx to allow patterns to be included in the search. The problem with this approach is that Elasticsearch could reach out to the field limit (5000 - `total_fields.limit`).

The approach pointed by Felipe seems appropriate in this case especially to prevent the

[2021-05-20 22:24] oscarssanchez commented on #1841
@DenisFlorin @salvoaranzulla can you please test with this branch ? https://github.com/10up/ElasticPress/tree/fix/related-posts-order

Thanks!

[2021-05-20 22:30] oscarssanchez commented on #1711
Can confirm the correct way is ?search for the REST API

[2021-05-20 22:30] #1711 closed

[2021-05-21 05:57] shmaltz opened #2209 "Archive Sort order issue"
I added the following snippet to my plugin in order to change the default sort order of the WooCommerce product archives to `menu_order` like it is at default (because with EP enabled, the sorting is not `menu_order`), however this is not working.

[code]
I added the function to a custom plugin (I am using Oxygen Builder which doesn't use functions.php)
I have other functions (unrelated to Elastic

[2021-05-21 11:11] shmaltz commented on #2209
Update: I managed to get everything to index properly, and I think it worked because I added the **--setup** flag to the wp-cli command.

I still need help with ordering, as everything is out of order.

[2021-05-21 11:22] shmaltz commented on #2202
Interestingly enough, the checkboxes are now working properly. Possibly because I re-indexed everything.

[2021-05-21 12:51] felipeelia commented on #2202
Nice to know, @shmaltz . Thanks!

[2021-05-21 12:51] #2202 closed

[2021-05-21 17:08] #2167 closed

[2021-05-21 17:36] #1519 closed

[2021-05-21 17:40] #1514 closed

[2021-05-21 17:40] jeffpaul commented on #2182
@tlovett1 are you wildly opinionated on how this could/should be handled?  Perhaps a quick chat in EP meeting next week to get to an optimal approach for the team to take action on?

[2021-05-21 17:53] mckdemps opened #2211 "Test against Gutenberg 10.7/WordPress 5.8"
**Is your enhancement related to a problem? Please describe.**

- [ ] Test search block
- [ ] Test query block
- [ ] Test autocomplete

search block: https://github.com/WordPress/gutenberg/labels/%5BBlock%5D%20Search
query block: https://github.com/WordPress/gutenberg/labels/%5BBlock%5D%20Query
autocomplete: https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/filters/autocomple

[2021-05-22 16:51] #2208 closed

[2021-05-23 22:28] #1841 closed

[2021-05-24 14:03] leduy2701 opened #2212 "Plugin conflicts with "Related Products for WooCommerce" (By Vagelis P.) causing the related products disappear !"
**Describe the bug**
Enabling ElasticPress is causing all related products disappear.
The Related Products powered by plugin "Related Products for WooCommerce".

**Steps to Reproduce**

1. Go to https://gta5modaz.com
2. Click random on a product
3. Scroll down to the end
4. You can see the related products (these related products appear because I've turned off the Elasticpress plugin)

**Expected

[2021-05-24 15:07] buzzbold-jeremy opened #2213 "QUESTION:"
Hi,

The `ep_post_sync_kill` filter is not working for me in version 3.0 or newer. I'm using the latest version 3.5.6. If I downgrade to version 2.8.2 or earlier it works fine. I'm trying to skip indexes of posts that have the metadata value "do_not_index". Instead, it is ignoring my filter and indexing all posts. Here is my filter:

[code]

The `error_log` line sends my message to logs in version

[2021-05-25 11:39] scooterlord opened #2216 "QUESTION: Some posts are not indexed"
Hello,

I haven't been able to pinpoint yet why this happens, but some posts are not indexed properly - there are multiple authors posting content, so I can't really say what's wrong or reproduce. However, the post's content and meta look ok and aligned with the rest of the content

Has anyone encountered any similar issue and has any idea what could be wrong? Could any kind of load or background

[2021-05-25 16:19] Rahmon commented on #2216
Hi @scooterlord

Try to run the command below to get the error message (replace ID for the ID post):

[code]

[2021-05-25 17:50] Rahmon commented on #2213
Hi @buzzbold-jeremy

You need to use the filter `ep_post_query_db_args in addition to `ep_post_sync_kill`. In [this comment](https://github.com/10up/ElasticPress/issues/2017#issuecomment-771849953) in another issue, there is a code snippet that can help you with that.

[2021-05-25 22:26] scooterlord commented on #2216
Thanks! I have already re-indexed, so can't reproduce at the time, but saving this for future reference. Please leave the topic open so I can report back with the output.

Also, if anyone has encountered the same thing, please share.

[2021-05-26 04:37] heresdaniel commented on #2088
Same here, looking to add thumbnails in autosuggest.

[2021-05-26 15:38] #2178 closed

[2021-05-26 17:36] felipeelia opened #2217 "BUG: Facet filters don't work with term names containing spaces"
**Describe the bug**

As we are [removing white spaces from the value typed by the user](https://github.com/10up/ElasticPress/blob/develop/assets/js/facets.js#L13) in Facets filters, it won't match term names that contain spaces.

**Steps to Reproduce**
1. Create a category called "New York" and assign a post to it
2. Create a facets widget with more than 15 terms, so filtering is enabled
3. Type

[2021-05-27 00:07] #2217 closed

[2021-05-27 10:52] dinhtungdu commented on #2211
Hi @mckdemps,

I tested EP against WP 5.8-alpha-51034 and Gutenberg 10.7.1, here is the results:

**Search block:**
- Generally, EP works seamlessly with the search block, the result is pulled from the ES server. This is expected because the search block is a search form that sends the search query to the search page.
- I found a bug related to the Autosuggest feature. The feature functionalities

[2021-05-27 13:41] felipeelia commented on #2212
Hi @leduy2701, can you please install [Debug Bar](https://wordpress.org/plugins/debug-bar/) and [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/), visit that page, open the Debug Bar, and let us know how the query and its result look like?

Also, did you already try ElasticPress's native "Related Posts" feature? Does it work for your case?

[2021-05-27 13:45] felipeelia commented on #2209
Hi @shmaltz, can you please install [Debug Bar](https://wordpress.org/plugins/debug-bar/) and [Debug Bar ElasticPress](https://wordpress.org/plugins/debug-bar-elasticpress/), visit that page, open the Debug Bar, and let us know how the query and its result look like?

Also worth pointing out that that filter will be used only if `orderby` is empty and if it is not a search ([here](https://github.c

[2021-05-27 17:29] #1947 closed

[2021-05-28 02:49] shmaltz commented on #2209
Hi @felipeelia, I used the following `pre_get_posts`, and it seems to be working so far (THANKS!), however I do get a PHP notice: `Undefined offset: 0`. Any idea how I can fix that?

[code]

Also, in general, would there be any benefit (performance or otherwise) in using `ep_set_default_sort` over `pre_get_posts`, or do they accomplish the same thing?

[2021-05-28 13:40] felipeelia commented on #2209
Hi @shmaltz, I'm happy to know it is working!

Do you have any additional details of that error? The line where it is happening, etc? It doesn't seem to be coming from that snippet.

And it should not affect performance at all. They just happen to work in different scenarios.

[2021-05-28 13:42] #1983 closed

[2021-05-28 14:30] shmaltz commented on #2209
Hi @felipeelia,
This is what I get from Query Monitor:

[code]

When I disable the snippet, the error goes away.

[2021-05-28 15:20] #1800 closed

[2021-05-28 16:19] buzzbold-jeremy commented on #2213
Thank you @Rahmon This is working for me. Is the `ep_post_sync_kill` filter even necessary anymore? The other filter along seems to do the trick

[2021-05-28 16:53] oscarssanchez commented on #2201
I have tested removing the if clause, however it messed the original fix, while fixing the current issue. Definitely a bug but might need a more in depth look

[2021-05-28 16:55] felipeelia commented on #2201
@oscarssanchez , for a client using custom facets I'm using:

[code]

Did you already try something like that?

[2021-05-28 17:29] mckdemps commented on #2187
We will be opening a new issue with the solution.

[2021-05-28 17:46] mckdemps commented on #2216
You can always reply to a closed issue and we can respond then.

[2021-05-28 17:58] felipeelia commented on #1604
We can use [wp_get_mime_types](https://developer.wordpress.org/reference/functions/wp_get_mime_types/) to check which mime types exist and search for all of them. So, for `image/%` it would mean `[ 'image/jpeg', 'image/gif', 'image/png', 'image/bmp', 'image/tiff', 'image/x-icon', 'image/heic' ]`

[2021-05-28 21:05] felipeelia commented on #2209
Hey @shmaltz ,

It comes from WooCommerce. You can try to change your snippet to this:
[code]

If that doesn't help, then you'd need to investigate WooCommerce code a bit more. This is the line where it fails, by the way: https://github.com/woocommerce/woocommerce/blob/5.3.0/includes/class-wc-query.php#L536

As it is something that falls outside ElasticPress code, I'm going ahead and closing the i

[2021-05-28 21:05] #2209 closed

[2021-05-28 22:00] shmaltz commented on #2209
Hey @felipeelia,

I still get the same error with that snippet.

I really appreciate you trying though!