[2022-02-17 13:38] #2593 closed

[2022-02-17 14:47] przestrzal opened #2594 "Meta returned by WP_Query"
Hi everyone,

i'm wondering if is there any possibility to define via WP_Query args which meta fields should by returned by query like it's possible doing raw query to Elasticsearch?

I have a lot of registered meta for many custom post types and every query is consuming a lot of RAM, so i'm looking for any solution using EP to make a queries which will return less unnecessary meta (used in other

[2022-02-17 15:35] felipeelia opened #2595 "Custom Search Result, Date decay, and result sets larger than the posts per page number"
**Is your enhancement related to a problem? Please describe.**

Currently, if the administrator sets a custom search result and has date decay enabled, the results can be wrongly ordered if the number of posts returned is larger than the number of posts displayed per page.

Although we add `terms.ep_custom_result.name^9999` to the query, to boost custom search results, for older documents the scor

[2022-02-18 07:18] JakePT opened #2596 "Improve accessibility of Facet widgets"
**Is your enhancement related to a problem? Please describe.**
When discussing the accessibility of the Facet widget with the team a few issues were identified:

1. Filter links lack an accessible label the describes what will happen when the link is followed. For example, to assistive technologies the link will just say "Red", instead of "Apply filter: Red", or "Remove filter: Red". This also mea

[2022-02-18 12:15] moritzlang commented on #2482
Hey @felipeelia, thanks for the help!

I had time to get back to this problem, so here is my update:

1. There is no custom code for handling weighting in my codebase. But your suggested approach using `ep_weighting_configuration_for_search` did work! It took me some time to find out that `"enabled" => 1` does not work, the value has to be set to `true` in order to update the `$weight_config` with

[2022-02-18 13:19] felipeelia commented on #2482
Good catch on the 1 vs true, @moritzlang. It seems to come from this line: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Weighting.php#L538 It would be great if you could send us a PR making that code to accept both values or point us to the docs containing the wrong code (I've updated my comment now.)

For issue #2, Debug Bar and Debug Bar ElasticPress would be

[2022-02-18 14:20] moritzlang commented on #2482
@felipeelia Added PR #2597

[2022-02-18 14:50] moritzlang opened #2598 "QUESTION: Cannot search through all sites of multisite setup"
Hi,

I am trying to search through all sites of my multisite setup, but as soon as I turn on `"sites" => "all"` no results are returned.

The query:
[code]

Response from the debug bar:
[code]

I already tried to run `wp elasticpress recreate-network-alias`, but this did not help.

[2022-02-18 16:45] tfrommen opened #2599 "BUG: User search request yields users who do not exist in the current site"
**Describe the bug**
When searching for users, the ElasticPress query may yield users who do not exist in the current site.

This is not obvious by default, but when using some more involved configuration, for example, using autosuggest/ngram.

**Steps to Reproduce**

1. Have a multisite installation.
1. Create a user with login `test`.
1. Do not add that user to any site.
1. On some site, navigat

[2022-02-18 16:53] mvelev8 opened #2600 "BUG: Autosuggest not returning metadata results"
**Describe the bug**
When we run a query using the backend search, it returns the results we expect.  When we run the same query using autosuggest on the front end, the results that come from metadata matches in the backend are missing.  Results from autosuggest match the results if we bypass EP and do a regular WP_Query.

**Steps to Reproduce**
Execute a search with predefined parameters (in our

[2022-02-18 20:33] cmoa-webmaster opened #2602 "QUESTION: Unable to modify search results with ElasticPress Custom Results"
**Unable to modify existing ElasticPress Custom Results**

Hello,

I was attempting to reorder search results for our ElasticSearch, but I am unable to do so?
I made sure to enable "Custom Search Results" and add and apply custom search results.
I attached images to help further explain the issue. I am using it with Wordpress, specifically Elasticpress Version 3.6.6.

Any information would be appr

[2022-02-21 14:21] cmoa-webmaster commented on #2602
Hello @brandwaffle I misread that originally, but still no success https://cmoa.org/?s=58th+carnegie+international
<img width="1238" alt="Screen Shot 2022-02-21 at 9 21 30 AM" src="https://user-images.githubusercontent.com/9203439/154973119-a1209b7a-099d-4513-a9c6-13b1c755fc2c.png">
<img width="1391" alt="Screen Shot 2022-02-21 at 9 21 38 AM" src="https://user-images.githubusercontent.com/9203439/

[2022-02-22 14:49] #2502 closed

[2022-02-22 15:45] pranavmtn opened #2605 "QUESTION: Elastic searching is not working on front-end"
**Describe your question**
Hi,

I have configured elastic press with our own hosting(in cloudways).But it is not working in the front end.
Done indexing,and changed settings also tested for plugin/theme conflict ,nothing found.

Tested with Debug bar for Elastic Press plugin ,Result:https://prnt.sc/xGF_Fap1E-Q0

Do you have any idea,what i might be missing

Thanks

[2022-02-22 16:14] brandwaffle commented on #2605
Hi @pranavmtn, ElasticPress works by looking for the `s` parameter in a WP_Query, so if that's missing because of a theme or plugin, ElasticPress won't "see" the search and won't intercept it.

You may want to try using the Debug Bar to see what WP_Query is loaded on the page where you're not seeing any ElasticPress queries, and ensure it has the proper `s` parameter.

When you say you tested for

[2022-02-22 21:26] gillespieza commented on #2193
Sorry to reopen this, but I don't understand the answer to #1, @[felipeelia](https://github.com/felipeelia). I have the facets widget in my sidebar, so it appears on all my archive-type pages. Did you mean crate a hard-coded link to the same page without the parameters? Because that won't work in a dynamic sidebar?

[2022-02-22 21:50] oscarssanchez commented on #2193
Hi @gillespieza ,

You should be able to create a dynamic link to the same page, respecting other parameters by removing the $_GET `filter_like` parameters and recreating the link with one of WordPress functions. That's just a quick thought but there's probably more ways to go about it.

You can use the `ep_facet_search_widget` to inject that custom link.

[2022-02-22 21:54] oscarssanchez commented on #2594
Hi @przestrzal do you mean something like:

https://developer.wordpress.org/reference/classes/wp_query/#return-fields-parameter

If this is correct, as this is not a standard `WP_Query` I doubt it can be done as of now.

[2022-02-22 22:04] oscarssanchez commented on #2598
Hi @moritzlang

What's the output from `wp elasticpress recreate-network-alias` ?

Based on what you shared, it seems the global alias was not created. If it says `Done.` after the recreate command, can you check all of the indices with `get-indexes` and see if you have that  `index-post-global` index ?

[2022-02-22 23:00] felipeelia opened #2606 "Reorder Features"
**Is your enhancement related to a problem? Please describe.**

Reorder the features:

- Posts / Pages / Products
	- Search
		- Options
	- Instant Results
		- Options
	- Autosuggest
		- Options
	- WooCommerce
	- Facets
		- Options
	- Related Content (ALWAYS ON)
	- Custom Results (ALWAYS ON)
	- Protected Content
	- Documents (Media)
- Comments
- Users
- Terms

[2022-02-22 23:12] oscarssanchez commented on #2600
Hi @mvelev8 .

When you say `metadata matches in the backend are missing`

Can you clarify what do you mean?

I did a quick test and both frontend search page and autosuggest show the same results.

It is expected in the backend to have different results depending on the context, for example, if you have post type `products`, you would expect the frontend search to return `posts` and `products`, w

[2022-02-23 09:45] przestrzal commented on #2594
@oscarssanchez unfortunetelly it's not im looking for. This param switch result from object/ids/parent=>id pair

WP_Query with `ep_integrate` set to `true` returns all meta. I want to skip those which are corresponding to other post types.

[2022-02-23 13:13] mvelev8 commented on #2600
Hi Oscar,

Thanks for looking at this.

Here is the summary from my developer:

The Query I'm talking about is basically searching using a search term to return posts from a specific post type.

When I run an ep_integrate WP Query as the page is loading, the query was returning 120 results in my case. After the page loads, when I trigger an Ajax request that runs the exact same query, it returns t

[2022-02-23 15:35] gillespieza opened #2608 "QUESTION: How do I restrict search results to a product category or term if the search is initiated from that term's archive template?"
**Describe your question**
I have 2 categories in my shop - parts, and whole goods. There are thousands and thousands of part numbers (and only a handful of whole goods), and I don't want them "contaminating" my whole good results, or vice versa.

If I create a custom product search form in, for example, taxonomy-product_cat-{term}.php, can I restrict the search results to that category?

I have a

[2022-02-23 16:27] brandwaffle commented on #2605
Hi @pranavmtn unfortunately, connecting to specific sites to provide troubleshooting is beyond the scope of the support we can provide here. There are several reasons this could be happening, including an incomplete index, caching holding onto a transient that makes WP think ElasticPress is still indexing, query issues on the page, etc.

If you add the `ep_integrate => true` parameter to a query,

[2022-02-23 16:36] brandwaffle commented on #2600
Hi @mvelev8 ,

ElasticPress basically takes WP_Query objects and translates them into Elasticsearch queries. This means if the results are really coming from Elasticsearch and are different, the query being generated must also be different. The Debug Bar and Debug Bar ElasticPress plugins will help your developer see the exact queries being generated in WP_Query, as well as the JSON Elasticsearch

[2022-02-23 16:54] mvelev8 commented on #2600
Thanks, Vasken.

This information is very helpful.

I’ll let you know how we make out.

Matt

Matt Vermette
IT Manager

ELEV8 WEB STUDIO

Email: ***@***.******@***.***>
Office: 519-997-2431, x705
Web: elev8webstudio.com<http://elev8webstudio.com>

……………………………………...
Check out the NEW Elev8 Blog<https://www.elev8webstudio.com/blog>!

From: Vasken Hauri ***@***.***>
Date: Wednesday, February 23, 2022

[2022-02-23 18:58] cmoa-webmaster commented on #2602
If you need anymore information, please ask. Would it be better for me to create a test page that you would recommend to test the search results?

[2022-02-23 19:10] mvelev8 commented on #2600
We got it working.  Because of the info you sent, he was able to determine where the query was different.

Thanks so much.  This is a great plugin, game changer for sites that need real search.

Matt Vermette
IT Manager

ELEV8 WEB STUDIO

Email: ***@***.******@***.***>
Office: 519-997-2431, x705
Web: elev8webstudio.com<http://elev8webstudio.com>

……………………………………...
Check out the NEW Elev8 Blog<http

[2022-02-23 19:50] brandwaffle commented on #2600
@mvelev8 that is awesome! Props to him for a really quick fix 😄

Thank you so much for your kind words!

I'll go ahead and close this ticket out now, but feel free to open a new one if you run into anything else.

[2022-02-23 19:50] #2600 closed

[2022-02-23 21:57] #2375 closed

[2022-02-24 12:21] pranavmtn commented on #2605
Hi, @brandwaffle ,

It seems totally unfair to me.

You have a free plugin which is hosted in the WordPress repository.And you actually not giving support there.

In github, however, we have to pay.

In case the plugin has a bug or something in it, how will you know about it? Do we have to opt for your paid consultation to fix your bugs?

Let me know,if I am wrong
Thanks

[2022-02-24 12:30] felipeelia opened #2610 "Instant Results: Add option to toggle term count"
**Is your enhancement related to a problem? Please describe.**

#2563 introduced the term count in Instant Results widgets, always displayed by default. Although it can be hidden with one CSS line, we should add an option to show/hide that.

In case it is needed, this is the CSS line to be added (to the theme or WordPress's Customizer Additional CSS):
[code]

[2022-02-24 18:18] moritzlang commented on #2598
@oscarssanchez

`wp elasticpress recreate-network-alias` returns "Success: Done", but when I check with `get-indexes` no global index was created.

**Environment information**
 - Device: MacBook
 - OS: MacOS 11.3
 - Browser and version: Chrome 96.0.4664.55
 - WordPress version: 5.8.1

 - ElasticPress version: 3.6.6
 - Elasticsearch version: 7.9
 - Where do you host your Elasticsearch server? Docke

[2022-02-24 23:21] walterzelhofer opened #2612 "New Search Resets Facets"
Hello 10up team,

When a user presses search, the facets get reset, and everything gets unchecked. This is not the behavior that we wish to have. Is there a way to keep existing clicked facets enabled when the user does a new search? So that the search is filtered?

We created a reset button, that's not a problem.

Thank you so much for your time,

-Walter

[2022-02-25 07:16] JakePT opened #2613 "Migrate all React functionality to use @wordpress/element with dependency extraction"
**Is your enhancement related to a problem? Please describe.**
Instant Results, introduced in 4.x, is powered by the version of React included in WordPress by importing `@wordpress/element` with the WordPress dependency extraction plugin enabled. However the Synonyms editor uses a (now) older version of React that is included as an NPM dependency of the plugin.

During the development of Instant R

[2022-02-25 14:12] felipeelia commented on #2596
Closed by #2607

[2022-02-25 14:12] #2596 closed

[2022-02-25 14:14] felipeelia opened #2614 "Cypress tests"
**Is your enhancement related to a problem? Please describe.**

The following tests need to be written in Cypress:

### General
- [ ] Installation process: check new step 3 and changes introduced in #2734
- [ ] Check Health tools test
- [ ] Update (if the version doesn’t require a reindex)

### New Sync
- [ ] Check if post search works with EP during regular sync
- [ ] Check if post search does no

[2022-02-25 19:46] felipeelia commented on #2598
Hi @moritzlang,

`get-indexes` won't return aliases, even if they were correctly created. To get a list of aliases you can use `wp elasticpress request _cat/aliases`. Also, can you also run `wp elasticpress get-indexes ` and then `wp elasticpress index --setup --yes --network-wide --show-errors` and send us the output? In addition to all that, it would be great if you could install Debug Bar and D

[2022-02-25 19:52] felipeelia commented on #2602
Hey @cmoa-webmaster,

Can you please install Debug Bar and Debug Bar ElasticPress plugins, refresh that screen and share with us both the Query Body and the Query Results that will be available in the Debug -> ElasticPress item in the admin bar? Thanks!

[2022-02-25 20:08] felipeelia commented on #2608
Hi @gillespieza,

That will require some custom code. Basically, you'd have to:
1. Add a hidden input to that custom form, so the target URL becomes `?s=term&post_type=product&product_cat=<product_cat>`
2. Capture the WP_Query being executed in the search term using pre_get_posts
3. Adapt the query adding the tax_query you need.

Once you have done that, ElasticPress will automatically detect the

[2022-02-25 20:08] #2608 closed

[2022-02-25 20:17] felipeelia commented on #2612
Hi @walterzelhofer, I'm not quite sure I understand your issue 100%, so it would be nice if you could share a URL.

If I'm getting this correctly, it would be possible if you re-add the selected facets in the search form. Something like:
[code]

Please let us know your URL and if I got this right or not, okay? Thanks!

[2022-02-25 20:21] brandwaffle commented on #2605
Hi @pranavmtn I'm sorry you feel this way, but we provide the plugin, as you said, completely for free, so I'm not exactly why you feel we are also required to provide you with free, hands-on support. I also provided you with a path forward to help you debug your configuration, which will enable you to find the issue with your site to get ElasticPress working for you.

To be clear, are not reporti

[2022-02-26 05:11] walterzelhofer commented on #2612
Hey @felipeelia ,

Basically, if you fill out the search form and press search, all prior facet selections get reset as a new search is being done. But what if the user wants to search "within" the selected facets? That is what I was trying to achieve. I came up with the following code which can be added to functions.php or as a snippet and doesn't require adjusting the WordPress search form.

My

[2022-02-26 07:58] kozora opened #2616 "QUESTION: It seems weight setting is not work"
when I set <title> more weight, and content less weight
the search result is still not correct, I want the title keyword result is leaner forward, not mixed with content contained

[2022-02-27 18:42] felipeelia commented on #2496
Closed by #2503

[2022-02-27 18:42] #2496 closed

[2022-02-27 18:43] felipeelia commented on #2506
Closed by #2604

[2022-02-27 18:43] #2506 closed

[2022-02-27 18:44] felipeelia commented on #2557
Now that #2591 was merged into `4.x.x` this can be closed. The fix will be released in 4.0.0.

[2022-02-27 18:44] #2557 closed

[2022-02-27 18:45] felipeelia commented on #2489
Now that all items were addressed, this can be closed.

[2022-02-27 18:45] #2489 closed

[2022-02-27 18:59] felipeelia opened #2617 "ElasticPress 4.0: Adjust resync message to warn about Instant Results"
**Is your enhancement related to a problem? Please describe.**

As ElasticPress 4.0.0 is a version marked as resync-required, users will see this message:

As the new Instant Results feature also requires a reindex, it'd be ideal that people wanting to use that could enable it first and run the resync only once.

**Describe the solution you'd like**

Ideally, we would cover 3 scenarios:
1. Not EP.

[2022-02-27 20:47] felipeelia commented on #2614
Although #2615 was already merged, we still need to, at least, adapt tests to better reflect the changes we made in the dashboard screen and roughly test Instant Results.

[2022-02-28 10:34] cbratschi opened #2619 "WP_User_Query capability support (WordPress 5.9)"
**Is your enhancement related to a problem? Please describe.**

The following query introduced in WordPress 5.9 runs extremely slow on our system (4-8 seconds):

[code]

This is executed by the quick edit code and runs while dispalys the posts or pages admin screens. Responsible is wp_dropdown_users().

Therefore we tried to use ElasticPress to speed up this call:

[code]

However, this is not yet

[2022-02-28 11:45] felipeelia commented on #2619
Thanks @cbratschi, this would be a good addition to the plugin. For reference, we would need another block similar to what we have [here](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/User/User.php#L225). Would you be interested in crafting a PR with that?

[2022-02-28 12:38] dianfishekqi commented on #2371
Hello @felipeelia ,@mckdemps,
I would be happy to submit a PR for this bug!
Possible solutions I can think of are:
1. Support the `search` param if in WooCommerce queries by aliasing it to `s`
2. Disable `ep_integration` on WP_ADMIN queries for `products`

Thanks,

[2022-02-28 12:48] felipeelia commented on #2371
Hey @dianfishekqi, that is actually excellent timing as I am giving a look into this problem *at this exact moment* haha. I'll get back to you with my findings and our preferred solution. Thanks!

[2022-02-28 14:23] felipeelia commented on #2371
Hi @dianfishekqi, I've just created #2620 fixing the issue. Would you have an environment where you could test that? As it is now using EP 4.0 code, you'll need to `npm install && npm run build` to have CSS and JS properly working. Thanks

[2022-02-28 15:27] cmoa-webmaster commented on #2602
Hello @felipeelia  I have the results below. If you need anything else, please let me know.

<img width="936" alt="Screen Shot 2022-02-28 at 10 23 58 AM" src="https://user-images.githubusercontent.com/9203439/156009517-9f78aa20-398e-40c7-b027-8191bd3fc37e.png">

<img width="1133" alt="Screen Shot 2022-02-28 at 10 25 16 AM" src="https://user-images.githubusercontent.com/9203439/156009595-57e12f04-2

[2022-02-28 16:09] cbratschi commented on #2619
Hi @felipeelia, I will have a look how to integrate this. A problem could be that the WordPress 5.9 implementation scans through serialized meta_value values. There is probably a better way for an ElasticSearch query.

[2022-03-01 10:50] pranavmtn commented on #2605
Hi, @brandwaffle ,

Appreciate the explanation.

I have tried the above method as well.Rexindexed many times,with WP-CLI as well.

Tried to configure for a simple wordpress application(which includes only ElasticPress plugin).

Let me know,how i can share the index logs ,i will share then
Contacted with cloudways team,and confirmed Elastic search is working in server fine.

A week on this implemen

[2022-03-01 14:03] felipeelia commented on #2406
Closed by https://github.com/10up/ElasticPress/pull/2419

[2022-03-01 14:03] #2406 closed

[2022-03-01 18:48] felipeelia commented on #2606
Closed by #2618

[2022-03-01 18:48] #2606 closed

[2022-03-01 18:51] felipeelia commented on #2371
Closed by #2620

[2022-03-01 18:51] #2371 closed

[2022-03-02 12:06] #1668 closed

[2022-03-02 12:06] #2526 closed

[2022-03-02 14:09] felipeelia opened #2623 "[Release] 4.0.0"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method.  If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.0.0` for your changes.
- [x] 3. Version bump:

[2022-03-02 19:26] #2318 closed

[2022-03-03 07:34] Dekadinious opened #2627 "QUESTION: Enable ElasticPress only for admin queries + object cache compatibility?"
Is it possible to enable ElasticPress only for searches in the admin, including WooCommerce searches for products, orders, etc.? Without touching any queries for listing products on the front end? I have seen people having trouble with sorting out of stock products last and things like that. I would rather not touch any queries for the front end, but I want to have fast and reliable searching in t

[2022-03-03 14:18] felipeelia opened #2629 "Add Instant Results to WordPress.org Repository readme"
In https://wordpress.org/plugins/elasticpress/ we display a list of features available in the plugin. We will need to add Instant Results and its description when we release 4.0.

[2022-03-03 15:39] felipeelia opened #2630 "Update 10up-toolkit"
Update 10up toolkit to the most recent version

[2022-03-04 04:05] JakePT commented on #2613
As noticed on #2631, custom search results will need to replace `react-beautiful-dnd` before it can be updated to use the version of React in WordPress, which is no longer compatible as of 5.9.

[2022-03-04 09:48] FunnyRyan opened #2632 "QUESTION: How to implement search results to exclude specified categories?"
**Describe your question**

Using wordpress search query exclusion method not working

E.g  https://www.mydomain.com/?s=keyword&cat=-20

it does't work~~~~~~~

[2022-03-04 15:51] felipeelia opened #2633 "BUG: New Sync and ID Range"
**Describe the bug**

It seems the new sync code is not respecting upper-limit-object-id and lower-limit-object-id values.

[2022-03-04 17:31] #2519 closed

[2022-03-04 17:48] brandwaffle commented on #2617
EP.io: Instant Results is now available in ElasticPress, but requires a re-sync before activation. Click here to activate the Instant Results Feature and start your sync.

Non EP.io/no proxy: Instant Results is now available in ElasticPress, but requires a re-sync before activation. Since you are not using ElasticPress.io, you'll also need to install the PHP proxy plugin before activating Instant

[2022-03-05 02:09] arnowelzel opened #2635 "QUESTION: How to search for parts of terms"
**Describe your question**

When searching for a term, there are only hits if the term is entered completely.

Examples:

"next" will not find "nextcloud"
"port" will not find "portexpander"

And so on.

However the normal WordPress search has no problem finding text if you just enter part of a word.

Is there any way to change this behaviour? I did not find any setting for this.

[2022-03-05 12:50] pedlima commented on #2581
It did not worked and I've tried with multiple other options and never worked. :(

Also, search is very slow but for that I will open a new issue.

[2022-03-07 12:22] felipeelia commented on #2630
Closed by #2631

[2022-03-07 12:22] #2630 closed

[2022-03-07 13:00] #2570 closed

[2022-03-07 13:02] #2633 closed

[2022-03-07 13:05] felipeelia commented on #2492
I've added a last step to #2623, so we can close this one out.

[2022-03-07 13:05] #2492 closed

[2022-03-07 13:41] felipeelia opened #2636 "Message about resync needed"
**Is your enhancement related to a problem? Please describe.**

Now that we have two different sync processes, we might need to clarify the _resync needed_ message a bit, to explain which sync is required.

The current message says:

Clicking on the link points the user to the new sync page where the full reindex starts immediately. If the user decides to click on the "Sync" submenu item under Ela

[2022-03-07 16:25] felipeelia commented on #2636
The new version of ElasticPress requires that you [delete all data and start a fresh sync](https://domain.example/wp-admin/admin.php?page=elasticpress-sync&do_sync). Please note that some ElasticPress functionality may be impaired and/or content may not be searchable until the full sync has been performed.

[2022-03-07 16:36] felipeelia commented on #2617
*EP.io* and *Non EP.io w/proxy*: Instant Results is now available in ElasticPress, but requires a re-sync before activation. If you'd like to use [Instant Results](zendesk-article), click here to activate the feature and start your sync.

*Non EP.io/no proxy*: Instant Results is now available in ElasticPress, but requires a re-sync before activation. If you'd like to use [Instant Results](zendesk-

[2022-03-07 17:08] brandwaffle commented on #2629
**Instant Results**: A built for WordPress search experience that bypasses WordPress for optimal performance. Instant Results routes search queries through a dedicated API, separate from WordPress, returning results up to 10x faster than previous versions of ElasticPress.

[2022-03-07 17:11] brandwaffle commented on #2629
<img width="1294" alt="Screen Shot 2022-03-07 at 9 10 28 AM" src="https://user-images.githubusercontent.com/663228/157083443-331a3f5c-baad-4183-8cff-1d10f4864a08.png">

[2022-03-07 19:36] #2617 closed

[2022-03-07 19:37] felipeelia commented on #2629
Closed by #2638

[2022-03-07 19:37] #2629 closed

[2022-03-07 19:38] felipeelia commented on #2636
Closed by #2638

[2022-03-07 19:38] #2636 closed

[2022-03-08 13:05] JakePT opened #2640 "Pressing sync while a WP-CLI sync is in progress shows ambiguous message"
**Is your enhancement related to a problem? Please describe.**
If a sync started by WP CLI is still in progress when a user visits the Sync page they will see a "WP-CLI sync in progress" message. However, if the sync page is already open when the WP CLI sync is started then the sync progress is not shown until the user presses _Sync_, and when it is pressed it shows the progress of the WP CLI sync

[2022-03-08 13:29] JakePT opened #2641 "Index your content link goes to wrong admin page"
**Describe the bug**
When viewing the Index Health page when there are no indexes, such as before performing any index, or after deleting an index, then there is a prompt to sync content, but the link points to the Features page, instead of the Sync page.

**Steps to Reproduce**
1. Delete any indexes via WP CLI, `wp elasticpress delete-index`.
2. Visit _ElasticPress > Index Health_.
3. You'll see

[2022-03-08 13:54] #2641 closed

[2022-03-08 15:24] felipeelia commented on #2602
hi @cmoa-webmaster , you sent us the results but not sent the query body. Do you mind sending that too? In cases where a huge amount of code needs to be shared, we recommend you to create a pastebin in pastebin.com, so it'll be easier to read. Thanks

[2022-03-08 19:46] #2555 closed

[2022-03-09 20:31] cmoa-webmaster commented on #2602
@felipeelia Sorry for the delay. I have the pastebin here: https://pastebin.com/YdwbJcRh
For the various sections like Header, I labeled the sections like "START OF QUERY ARGS" and "END OF QUERY ARGS" Etc.

Let me know if you need anymore data or if there is anything more that I can do to help debug this.

[2022-03-09 23:25] oscarssanchez commented on #2635
Hi @arnowelzel ,

I just tested this with the latest release 4.0 and had no issues creating a post with title "nextcloud" and searching for "next".

As a first step, can you confirm you are on the latest release and you have performed reindexing and it was successful (meaning no errors in the logs)?

If this is correct, can you confirm there's no additional code that might be hooking into ElasticP

[2022-03-09 23:30] oscarssanchez commented on #2632
Hi @FunnyRyan ,

This works for me. Can you make sure you are using the latest 4.0 release and can you confirm no code could be altering the request via pre_get_posts or perhaps some elasticpress customization ? You might want to confirm with a fresh WP installation.

[2022-03-09 23:38] oscarssanchez commented on #2627
Hi @Dekadinious ,

Yes you should be able to only activate it in the admin by setting `ep_integrate` to false, so something like

[code]

If I looked correctly, the article you are referring to is this one from 2016 https://guides.wp-bullet.com/install-configure-elasticsearch-to-speed-up-wordpress-search/

The plugin has come a long way since, so best chance is give it a try and you can always ope

[2022-03-09 23:38] #2627 closed

[2022-03-09 23:46] oscarssanchez commented on #2616
@kozora  If I understood correctly, you want to only look at the title then? you might want to just toggle the content so that it is not searched at all. If you leave the checkbox, it will always calculate the score of the doc given a search term based on all the fields that are set to be searchable, and then those depend on the weight and the number of times a keyword is found. You can also try s

[2022-03-10 11:31] felipeelia opened #2648 "Use ElasticPress on WP's core sitemap creation"
**Is your enhancement related to a problem? Please describe.**

For big sites, sitemap creation could be resource-intensive. Leveraging ElasticPress in that process could speed things up.

**Describe the solution you'd like**

The initial discovery shows that code for posts could be as simple as something like:

[code]

Similar solutions could be achieved for users and terms if those features are

[2022-03-11 14:24] felipeelia commented on #2598
Good to see things worked @moritzlang! As far as why it happened, probably you had a problem sending the mapping before but I can't be 100% sure on that. If you ever see this problem happening again, let us know. Thanks!

[2022-03-11 14:24] #2598 closed

[2022-03-11 14:30] felipeelia commented on #1646
Now that ElasticPress has a new screen specifically for sync and features have a warning related to a required resync, I'm going ahead and closing the ticket. Thank you all!

[2022-03-11 14:30] #1646 closed

[2022-03-11 14:38] felipeelia commented on #1511
First of all, @triskator, I'm very sorry for the time your issue took to be replied to here. More recent issues have been replied to much faster but, unfortunately, we are taking more time to get to these older ones.

As it's been some years now and we've just released EP 4.0.0, instructions on how to transition from v2 to v3 or v4 don't make much sense anymore. I'm glad to see we've addressed som

[2022-03-11 14:38] #1511 closed

[2022-03-11 14:41] felipeelia commented on #750
Now that #2603 is merged we can go ahead and close this one. Thank you all!

[2022-03-11 14:41] #750 closed

[2022-03-11 15:47] felipeelia commented on #2602
Hi @cmoa-webmaster,
The Custom Results functionality is based on a taxonomy named `ep_custom_result`. Terms of that taxonomy are applied to the chosen posts in custom results, so they appear in the search results set. That doesn't seem to be happening with your content.

That said it is likely you have an underlying problem indexing your content. Would it be possible to you to run a full resync an

[2022-03-11 16:15] felipeelia commented on #1404
It seems it is not a problem anymore, as the whole info about the ongoing sync is added only after the ES connectivity check. Also, the way all calls made to `Command::connect_check()` are done right now, would avoid any wrong message being displayed before the actual `Could not connect to Elasticsearch.` error.

[2022-03-11 16:15] #1404 closed

[2022-03-11 16:24] felipeelia commented on #1415
Just tested this and `$path = apply_filters( 'ep_bulk_index_request_path', $index . '/_bulk?refresh=wait_for', $body, $type );` really fixes the problem.

[2022-03-11 16:31] felipeelia commented on #2074
As of ElasticPress 4.0.0, jQuery is a dependency only for:

- [ ] https://github.com/10up/ElasticPress/blob/develop/assets/js/notice.js (21 lines)
- [ ] https://github.com/10up/ElasticPress/blob/develop/assets/js/settings.js (46 lines)
- [ ] https://github.com/10up/ElasticPress/blob/develop/assets/js/sites-admin.js (28 lines)
- [ ] https://github.com/10up/ElasticPress/blob/develop/assets/js/weight

[2022-03-11 16:42] felipeelia commented on #2594
Hi @przestrzal,

You can achieve that by changing the ES query directly. Something like the following code:

[code]

If you are looking for something else, let us know okay? Thanks.

[2022-03-11 16:43] felipeelia commented on #2612
Okay, thanks for sharing the snippet @walterzelhofer. I'm closing this one out now.

[2022-03-11 17:38] przestrzal commented on #2594
@felipeelia thank you very much! It is exactly what i was looking for!

[2022-03-11 18:15] #2594 closed

[2022-03-13 00:19] #2632 closed

[2022-03-13 10:19] arnowelzel commented on #2635
Yes, I am using the latest version - I never haved used ElasticPress before, so I did a fresh install anyway.

Just to be sure I deleted the plugin, deleted the indexes in ElastiSearch and reinstalled everything. Now it seems to work. However, I did not change any setting at all this time in ElasticPress.

About Debug Bar - this plugin seems to be dead: https://wordpress.org/plugins/debug-bar/

La

[2022-03-13 10:29] arnowelzel commented on #2635
Ok, now another problem shows up:

When using "next" it will find all kinds of posts - even ones which don't have "next" anywhere like this one:

https://arnowelzel.de/projekte/elektronik/hdsp-211x

But not if using "nextc". In this case only one post will be found:

https://arnowelzel.de/onlyoffice-mit-nextcloud

But others not, even tey also contain the word "Nextcloud":

https://arnowelzel.de/n

[2022-03-13 12:32] derringer opened #2649 "Problem with syncing data"
When pressing sync, or delete data it seems to get stuck in a loop

1. Go to Elasticpress -> Sync
2. Click on 'Delete all data and start a fresh sync'
3. The sync will get stuck in a loop on one post

<details>
<summary>Log</summary>

#### Log on the sync page shows:
[code]
</details>

**Environment information**
 - WordPress version: 5.9.2
 - ElasticPress version: 4.0.0
 - Elasticsearch version:

[2022-03-14 04:03] JakePT opened #2650 "Instant Results search template is generated as the current user"
**Describe the bug**
When the Elasticsearch query template is created by Instant Results to be used by EP.io for API search results a `WP_Query` is performed with a placeholder search term, and the Elasticsearch version of that query is sent to EP.io or a proxy as the template for API search requests. This query is generated while the admin user is logged in.

This means that when the query is gen

[2022-03-14 04:05] JakePT commented on #2650
A fix for this could be adding a filter to `determine_current_user` alongside the other filters here: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/InstantResults/InstantResults.php#L381

[2022-03-14 05:14] blenkhn opened #2651 "BUG: Not indexing everything"
**Describe the bug**
The search in the backend whether it is orders, products, or users seems to index some of the information yet leaves holes.  Sometimes the SKU is returned and sometimes it is not, yet the product is found by name.  sometimes the user's email address is returned and sometimes it is not yet found by name.  Same thing occurs with orders.

The site is quite large and the number of

[2022-03-14 07:19] tfrommen commented on #2599
👋 Hey, hello,

it's been a while, and I don't see anything happening here or on the PR.
Is there anything wrong with the reported issue and/or proposed fix?

Thanks! 😀

[2022-03-14 11:16] novazembla opened #2652 "BUG:"
**Describe the bug**
Hello, I'm running ElasticPress 4.0.0 on two different boxes (one is running Elasticsearch 7.9/PHP 8.0 the other 7.10/PHP 8.1) and experience that after index creation `post_date` and `post_date_gmt` are mapped as text fields and not date fields in the index.

As I know they are set to be dates in `../mappings/7-0.php` I believe that this might be a bug. I cleared the index se

[2022-03-14 11:37] felipeelia commented on #2652
Hi @novazembla,

I tried to reproduce the problem and I could not. Do you happen to have any custom code related to ElasticPress?

One thing you could do to determine how/if the mapping is changing before being sent to Elasticsearch is to use the [ep_post_mapping](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/Post/Post.php#L385) filter with a code like:
[code]

[2022-03-14 12:08] felipeelia commented on #2649
Hi @derringer,

Thanks for opening the issue. One of the changes we made in version 4.0.0 was to introduce a dynamic index process, so, let's say, you use 1,000 posts per page, ElasticPress will get 1,000 from the database but won't send them all in one request but send them in small bulks until all of them are processed. The main goal of this feature is to avoid having several failures due to "Re

[2022-03-14 12:18] felipeelia commented on #2651
Hi @blenkhn,

First, you'll need to determine if those fields are indexed or not for those specific documents. The easier way to discover that is using the [debugging plugins](http://10up.github.io/ElasticPress/tutorial-debugging.html). Make a search where those posts/users/orders are returned and check the "Query Results" tab -- it will contain the document as indexed by Elasticsearch. If you wan

[2022-03-14 12:22] felipeelia commented on #2599
Hi @tfrommen,

Absolutely nothing wrong. We have solely focused our attention on the 4.0.0 release in the last month but now that that is already made available we will get back to the Pull Requests list and merge them accordingly. Thanks for your patience.

[2022-03-14 12:27] novazembla commented on #2652
Thanks for the quick reply. Adding this filter shows, that as expected these mappings are sent in.

[code]
But I think I found the culprit. It's the Terms feature (I only use Post Search and Terms). If I disable it the mapping is correct. It sends a second mapping that seems to wipe all the previously indexed posts.

Here is the log of the "Deleta All data an fresh sync"
[code]
But if I go and che

[2022-03-14 12:50] novazembla commented on #2652
@felipeelia that makes sense. As yes I do hard code the index name making use of the `ep_index_name` filter as I'm also using external scripts to query elasticsearch directly and it's more convenient to rely on shared index names.

I've changed that filter callback to allow for multiple indexes. Now all works as it should.

Thanks for your help!

[2022-03-14 12:50] #2652 closed

[2022-03-14 15:11] #2616 closed

[2022-03-14 18:44] swiftcommike opened #2654 "QUESTION: EP 3.5.6 on WP Multisite, concurrent syncs?"
**Describe your question**
Environment
ElasticPress 3.5.6 on WordPress 5.6.2
13 subsites (newspapers)
News organization importing content with WP All Import and indexing with Elastic.

Question
Can we run more than one index sync at a time? If so, how? If not, why not?

Why do I ask?
We can't index posts with EP during import because the import process handles multiple posts at a time, which means

[2022-03-14 19:18] felipeelia commented on #2654
Hi @swiftcommike,

Posts should've been indexed to Elasticsearch while WP All Import is creating them and you should not need to call anything for that. As far as I can see in their code, it could be prevented if:

1. You have Fast Mode enabled (the `Increase speed by disabling do_action calls in wp_insert_post during import.` option) and/or
2. You have turned on the `Enable WP_IMPORTING` option.

[2022-03-14 19:53] swiftcommike commented on #2654
Hey @felipeelia,
Thank you for your reply and for looking into this with me.
I'm not experienced with Elastic yet, so I've approached our problem with an inexperienced solution. We plan to update to the latest, but we will need to rebuild indexes afterward. Since my experience is limited, and we're limited in staff, I'm hesitant to upgrade until I can upgrade in a dev environment first.

1 and 2 Y

[2022-03-15 11:13] felipeelia commented on #2654
No problem @swiftcommike, I'm happy to help. I'm going ahead and closing out this issue now but feel free to reopen/open a new one if you disable both options and still face any problems. Thanks

[2022-03-15 11:13] #2654 closed

[2022-03-15 17:41] felipeelia commented on #1794
This will probably be easier to develop with Full Site Editing. We are planning to revisit this issue in a future release.

[2022-03-15 17:45] felipeelia commented on #1415
Let's test with more posts at once.

[2022-03-15 23:40] scooterlord opened #2656 "Indexing commenced via command-line - processed 0/0 can't stop indexing"
Hello everyone! I was afraid of this release, and it happened.

So I manually triggered a reindex through wp-cli, it's not working properly, I can't stop it and on the wp-admin I see processed 0/0: last object id: 0.

Any help as fast as possible would be greatly appreciated!

Edit: So I found out how to kill the process via ssh, but still the dashboard is still _running_.. :/

[2022-03-16 01:32] brandwaffle commented on #2656
@scooterlord can you please share a more detailed report, including the exact cli command run, as well as the output. Thanks!

[2022-03-16 10:37] felipeelia commented on #2656
@scooterlord, in addition to what @brandwaffle already said, just worth mentioning that you can run `wp elasticpress clear-index` to clear the sync status.

[2022-03-16 15:12] scooterlord commented on #2656
Hello and thanks for your quick support - I ended up, shutting down the function running using kill, reverted to the old plugin and restarted the EP instance - spent a good 2 hours doing so. I think I managed to stop the sync by using the following command:
`wp eval 'delete_transient( "ep_wpcli_sync" ); delete_option( "ep_index_meta" ); delete_site_transient( "ep_wpcli_sync" ); delete_site_option(

[2022-03-16 18:48] tomburtless opened #2657 "BUG: All WooCommerce Orders showing up under individual accounts after sync/update"
**Describe the bug**
Recently updated our ElasticPress to 4.0.0 and re-synced our data to find that when clicking on the Orders tab within the My Account section of WooCommerce all of the orders in the system (regardless of user) were showing up.  If I attempted to view any account's order that was not owned by me I would get invalidated but the listing of data was obviously inaccurate and very wo

[2022-03-16 19:01] brandwaffle commented on #2657
@tomburtless thanks for submitting this report--we're taking a look right away.

[2022-03-16 22:06] #2657 closed

[2022-03-16 22:43] felipeelia opened #2660 "[Release] 4.0.1"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method.  If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.0.1` for your changes.
- [x] 3. Version bump:

[2022-03-16 23:00] #2660 closed

[2022-03-16 23:01] brandwaffle commented on #2657
@tomburtless thanks again for submitting this issue. We've released EP 4.0.1 to address this bug and also are adding this scenario to our testing matrix.

[2022-03-17 04:49] aamir2007 opened #2661 "QUESTION: Multiselect dropdown using ElasticPress Autosuggest feature."
I want to implement multiselect dropdown using ElasticPress Autosuggest feature in Wordpress. I am building a custom form for front end ad posting. Please advice How can I use speed of ElasticPress autosuggest to populate dropdown of my Multiselect field with custom taxonomies like categories and tags. Is there any option, hook or filter for this purpose or will I have to do it all custom.
Note: I

[2022-03-17 14:21] derringer commented on #2649
Hi @felipeelia ,

Sorry for the delay. Now we are running 4.0.1 on the development server to test this now.

I have enabled all those things and the log in the webpage gets stuck on many repeated lines of:
Processed posts 6304 - 6304 of 14154. Last Object ID: 2

And `wp elasticpress index --setup --yes --show-errors --static-bulk` gives no extra information.

Here is the wp-debug.log (https://past

[2022-03-17 14:24] derringer opened #2662 "QUESTION: Reopen issue"
Hi,

Can you reopen issue #2649? I have added the additional information.

Thanks

[2022-03-17 15:01] #2662 closed

[2022-03-17 15:06] tomburtless opened #2663 "BUG: WooCommerce - No Orders show up in My Account > Orders section"
**Describe the bug**
Hi - I put in the bug report yesterday that all WooCommerce orders were showing up in any individuals My Account > Orders section.  I updated to the newest version and ran a re-sync of the data on our staging environment and saw no orders in that section.

I tried it out on various account types and with various other plugins disabled and the root of the cause seems to be Elas

[2022-03-17 16:03] felipeelia commented on #2656
Hi @scooterlord,

Some questions that may help us to identify the cause of the problem:
1. When you triggered it from WP-CLI, what was the output you had there?
2. Although it is not possible to set what should be indexed in the dashboard sync, you can work with the [ep_index_posts_args](https://github.com/10up/ElasticPress/blob/4.0.1/includes/classes/Indexable/Post/Post.php#L90) filter to select

[2022-03-17 16:19] felipeelia commented on #2663
Thanks for the quick reply @tomburtless. Looking at the query, it should bring all orders that match:

- meta._customer_user is 10733 or 1;
- post IDs are not 119698, 119699, or 3225464
- post type is either shop_order or shop_order_refund
- post status is any of wc-pending, wc-processing, wc-on-hold, wc-completed, wc-cancelled, wc-refunded, wc-failed

The strangest thing for me there is the list

[2022-03-17 17:25] derringer commented on #2649
1. wp elasticpress get-indexing-status
`{"method":"cli","put_mapping":true,"offset":6575,"pagination_method":"id_range","start":true,"sync_stack":[{"url":"https:\/\/redacted.com","blog_id":1,"indexable":"term","put_mapping":true,"found_items":9656}],"network_alias":[],"start_time":1647536515.707427,"start_date_time":"2022-03-17T17:01:55+00:00","totals":{"total":0,"synced":0,"skipped":0,"failed":0,

[2022-03-17 19:30] derringer commented on #2649
So disabling this plugin or actually, working around it with this filter (the ignore_custom_sort attribute turns off the AutoSort behaviour in the plugin):
[code]
fixed the posts. But there is still a problem now with the terms indexing. It only seems to index the number in "Content Items per Index Cycle".
Log of terms index: https://pastebin.com/thPcHvm4

[2022-03-17 20:15] felipeelia commented on #2649
That is an excellent discovery, @derringer. Thank you very much!

For the problems with terms, does it work if you run: `wp elasticpress index --indexables=term --show-errors --static-bulk`? (this command will only index terms, without touching any posts.)

[2022-03-17 20:38] derringer commented on #2649
No, so that is what I ran (without the `--static-bulk`) in the paste above, but with that I just get the same and there are only 350 items in ES - on the live with with the old plugin there are 1400 terms indexed:
[code]

[2022-03-18 00:03] blenkhn commented on #2651
So I have installed the plugins you have specified. and have seen some results.  What exactly do you need from me?

[2022-03-18 00:04] blenkhn commented on #2651
curl -XPOST -H 'Content-Type: application/json' -d '{"from":0,"size":40,"sort":[{"_score":{"order":"desc"}}],"query":{"function_score":{"query":{"bool":{"should":[{"multi_match":{"query":"549105","type":"phrase","fields":["post_title","post_content","post_excerpt","meta._order_key.value","meta._billing_company.value","meta._billing_address_1.value","meta._billing_address_2.value","meta._billing_ci

[2022-03-18 00:11] blenkhn commented on #2651
It's very interesting, the debug is only showing the one and I have now done several searches to see the results and there are none

[2022-03-18 00:20] blenkhn commented on #2651
is the search supposed to index woocommerce orders?  I have several hundred "users" errors in the logs when I delete and reindex.

[2022-03-18 00:53] blenkhn commented on #2651
this is one of the 442 errors that I got.  882 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '882'

[2022-03-18 08:30] scooterlord commented on #2656
Hello @felipeelia once again!

Thank you for being around to provide help.

1. I cannot recall the exact output, but once it started to index, it immediately stopped, I think without giving an error. Immediately afterwards I could not initiate a new index, and from the admin I could see that a wp-cli function is running _empty_ without a way to stop it. I guess it would be a good idea since it is

[2022-03-18 11:16] felipeelia commented on #2651
Hi @blenkhn,

If you have WooCommerce AND Protected Content enabled, yes, your orders should be indexed (and you also should upgrade to ElasticPress 4.0.1 if you didn't do it yet.) The error you are seeing there is unrelated though, that is for Users, a different feature.

You sent the cURL request and although that is useful, what I meant is the content of this section:
![image](https://user-imag

[2022-03-18 12:14] felipeelia commented on #2649
Hi @derringer, that looks like a bug in the plugin. While running the current codebase, can you please run `wp elasticpress index --indexables=term --show-errors --offset=1` and let me know the output and how many terms you have indexed in Elasticsearch?

I've opened #2665 to fix the problem, would it be possible for you to test it? If you can't let me know and I can create a zip file for you. Tha

[2022-03-18 12:51] felipeelia commented on #2656
Hi @scooterlord. Some answers:

1. In regular cases it is possible to stop the wp-cli sync through the dashboard. Unfortunately, it seems in your case it got stuck in a place where it was not checking the transient responsible for that.
2. Thanks for the feedback about code snippets in the docs! The filter in question will change the WP_Query fired to get everything that should be indexed. In your

[2022-03-18 14:01] derringer commented on #2649
I have patched my version with https://github.com/10up/ElasticPress/pull/2665 and can confirm that it works as expected indexing 9656 terms.

Thanks @felipeelia

[2022-03-18 14:11] tomburtless commented on #2663
So I ran the index wp cli on an order that should show up in the My Account > Orders list:

Success: Indexing posts...
Skipping 0 posts...
Processed posts 0 - 1 of 1. Last Object ID: 119950
Success: Number of posts indexed: 1
Success: Sync complete
Total time elapsed: 0.090
Success: Done!

I refreshed My Account > Orders and I'm still not seeing any orders listed.  I listed out features:

Active f

[2022-03-18 17:19] felipeelia commented on #2663
Thanks for getting back to us again @tomburtless. So, can you now please run `wp elasticpress request '<posts_index_name>/_doc/119950'` and share the results with us? That will tell us what Elasticsearch has indexed for that order. You can find the real `<posts_index_name>` visiting the Health screen.

[2022-03-19 02:45] blenkhn commented on #2651
I have upgraded to 4.0.1 already.  For the woocommerce functionality I do have Active Custom Fields working and the indexing seems to work just fine.  I recall modifying the User fields So I will work at removing the custom fields from that which may remove the errors.

[2022-03-19 02:47] blenkhn commented on #2651
{
    "from": 0,
    "size": 40,
    "sort": [
        {
            "_score": {
                "order": "desc"
            }
        }
    ],
    "query": {
        "function_score": {
            "query": {
                "bool": {
                    "should": [
                        {
                            "multi_match": {
                                "query": "548991",

[2022-03-19 10:19] scooterlord commented on #2656
@felipeelia Thanks for the replies I will investigate further later on today and try to send the file to you.

Regarding the buffer how is this different to reducing the bulk number of posts?

[2022-03-21 00:29] leomp3 opened #2668 "QUESTION: ElasticPress works on ajax search but does not work on normal search"
Hi,

I installed your excellent plugin on a self-hosted VPS.
The issue is the following: I could make it work on the ajax search, but it doesn’t work on the normal search, during 2 days I tried every fix that I found but unfortunately no solution worked in my case.

This creates a problem because, when the user on the ajax search, click on view all products or click the enter key, site shows a mes

[2022-03-21 12:17] felipeelia commented on #2661
Hi @aamir2007,
Unfortunately, most of it will need to be based on custom code. In general terms, you would need to enable the Terms feature, and do to a WP_Term_Query what autosuggest does with WP_Query.

If you’re interested in further assistance, we would be happy to help you. You can visit https://www.elasticpress.io/elasticpress-consulting/ to schedule an appointment for a consultation.

[2022-03-21 12:17] #2661 closed

[2022-03-21 12:25] felipeelia commented on #2668
Hi @leomp3,

The first query is trying to order by post_type, which is not supported. (Note that the first query has
`"sort":[{"post_type":{"order":"desc"}}]` there and the working one has
`"sort":[{"_score":{"order":"desc"}}]`.)

You have two options: order by `_score` (which would order results based on Elasticsearch applied score) or order by `post_type.raw`, which is mapped as a keyword field

[2022-03-21 12:25] #2668 closed

[2022-03-21 13:07] Ahammed-Navas commented on #2473
Hi @brandwaffle ,
Okay, But When ElasticPress plugin is not active on the site, the following filter works correctly:

`function order_by_stock_status($posts_clauses) {
    global $wpdb;
    // only change query on WooCommerce loops
    if (is_woocommerce() && (is_shop() || is_product_category() || is_product_tag() || is_product_taxonomy())) {
        $posts_clauses['join'] .= " INNER JOIN $wpdb->

[2022-03-21 15:26] leomp3 commented on #2668
Hi felipeelia,

I am trying to change the sort order to _score trough these ElasticPress hooks, but none is working. The sort order doesn't change from post_type and I really can't find in the theme where this setting "sort by post_type" comes from. It's not explicit.

`add_filter( 'ep_set_sort', 'ep_sort_by_score', 10, 2 );

function ep_sort_by_score( $sort, $order ) {
  $sort = array(
    array(

[2022-03-21 15:48] leomp3 commented on #2668
I also tried this hook but with no avail.

`add_action( 'pre_get_posts', 'score_default_sort' );

function score_default_sort( $query ) {
global $pagenow;
  if ( is_search() || ( $pagenow == 'edit.php' ) ) {
    $query->set( 'orderby', '_score' );
    $query->set( 'order', 'DESC' );
  }
}`

[2022-03-21 16:40] BernardZijlstra opened #2671 "Elasticsearch version limited to version 7.9 or 7.10"
Hi,

I have a question about the upper supported Elasticsearch versions for Elasticpress as stated by the supported versions table inside the changelog. Are there technical reasons for a current version 7.17.x of Elasticsearch to break code within ElasticPress?

ElasticPress 4.0.X has 7.10 as upper version of Elasticsearch
ElasticPress 3.6.6 has 7.9 as upper version of Elasticsearch
Current Elasti

[2022-03-21 16:50] brandwaffle commented on #2473
@Ahammed-Navas it works without ElasticPress because you have written a direct SQL query and as we've explained to you before, ElasticPress integrates with WP_Query. ElasticPress doesn't support 100% of all themes and plugins in the WordPress ecosystem, and it certainly can't support custom code that circumvents the WP Query API, because that's impossible. I'm sorry you're not able to make it work

[2022-03-21 20:15] leomp3 commented on #2668
Hi @felipeelia,

Many thanks for your help. It worked very well for some time, the ajax and the normal search together, but then for no reason nothing works anymore, not even the ajax search. I reindexed everything, restarted elasticsearch. I'm going nuts!

My ElasticPress hooks in my functions file:

[code]

And this is the error 400 that I'm getting

[code]

cURL request

`curl -XPOST -H 'Conten

[2022-03-21 20:49] felipeelia commented on #2668
Hi @leomp3,

If you check the error, you'll see the reason is `"[multi_match] query does not support [fields]"`. Although not obvious, Elasticsearch expects `fields` to be an array, but the code you have in your `update_search_fields` function will make it become an object. Try this instead:
[code]

Although we do our best to help as much as possible, debugging custom code is outside of the scope

[2022-03-21 21:26] leomp3 commented on #2668
Hi @felipeelia,

Wow! it worked immediately! :) I cannot thank you enough!

I completely understand and I would like to subscribe to a elasticpress.io package, and the consulting can be very helpful too, although we are starting our business right now, but as soon our business start growing it will make sense to subscribe. I can't imagine a serious ecommerce business without a proper search, other

[2022-03-22 18:20] laurelstreng opened #2674 "BUG: ElasticPress Facets Widgets not appearing/functioning"
**Describe the bug**

- Using the latest version of ElasticPress with the latest version of WordPress core (or any version of core v5.8 and up that includes the new Widgets block editor), the ElasticPress Facet Widgets are not appearing or functioning as expected on the front-end of the site.
- There is a PHP Notice on the WordPress Appearance > Widgets page: ``Notice: wp_enqueue_script() was call

[2022-03-22 19:45] felipeelia commented on #2651
@blenkhn bringing the communication back to your issue, here are the answers:
1. We can not determine why that order is matching for "krista" without looking at the "Query Results"  tab content. Please share that via pastebin.com, making sure you remove any PII.
2. I'm not aware of a plugin called Active Custom Fields but if you meant Advanced Custom Fields, then yes, it should be fully compatible

[2022-03-22 20:43] nickchomey opened #2675 "Does OpenSearch work with ElasticPress?"
I see that ElasticPress supports up to version 7.10.2. Does this mean that it allows for us to connect to an OpenSearch server, which was forked from ElasticPress 7.10.2?

[2022-03-22 21:09] nickchomey commented on #2671
There's also version 8 (8.1.1 currently), which would be quite understandable to be incompatible, but I'm still curious about the differences anyway

[2022-03-22 21:15] brandwaffle opened #2676 "Add support for "non-objects" like taxonomy archives"
**Is your enhancement related to a problem? Please describe.**

There are a variety of situations where having taxonomy/archive page results would be useful. This includes things like product attributes, brands, news category pages, etc. that are all commonly searched for. The issue is that these pages aren't actually WP objects.
**Describe the solution you'd like**

Archive results (aka Tag/archi

[2022-03-22 22:37] blenkhn commented on #2651
You are correct, advanced custom fields it is.  Sorry about that.

[2022-03-22 22:41] blenkhn commented on #2651
How can I send you the log file.  This time the log file seemed to get stuck in a loop.  Line 700 - 34081 was all the same.  with this message: 34081
Processed posts 488157 - 488157 of 488162. Last Object ID: 2
34082
Sync stopped
34083
Processed posts 488157 - 488157 of 488162. Last Object ID: 2

Users did not get synced. and no errors were generated.

[2022-03-23 14:12] moritzlang commented on #2598
Hi @felipeelia,

I noticed that after clicking the sync button in the Wordpress Admin the aliases are gone again.
When executing `wp elasticpress index --setup --yes --network-wide --show-errors` the aliases are there again.
I didn't dig deeper into the issue, just wanted to let you know this.

Is there any issue on the performance/quality of the results when setting the IDs of all indexable sites

[2022-03-23 19:38] blenkhn commented on #2651
The order numbers now work wonderfully thanks very much for this.

There are 412 errors of this nature.  1093 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '1093'

Also when searching for a customer via their email address, it seems to take apart the email address and search for all the pieces of the email address.  for example search

[2022-03-24 19:46] cmoa-webmaster commented on #2602
Hello,

So I upgraded to Elasticpress 4 specifically 4.0.1 and noticed a permission error Found out I don't have permission to run sync against our third party self hosted elasticsearch instance. Still trying to fix it.

[2022-03-25 12:15] felipeelia commented on #2671
Hi there! The main reason why it is currently set as 7.10 is that we focused on the release of ElasticPress 4.0 in the last months and that prevented us from putting in the necessary effort to properly test it with more recent versions.

That said, we do expect the plugin works with both Elasticsearch 7.17 and OpenSearch (I'd also expect it works with ES 8.x but a deprecated functionality could br

[2022-03-25 12:15] felipeelia commented on #2675
Hey @nickchomey! Just to keep the information in one place, I've answered your question [here](https://github.com/10up/ElasticPress/issues/2671#issuecomment-1078972274). Thanks!

[2022-03-25 12:15] #2675 closed

[2022-03-25 12:24] felipeelia commented on #2674
Hi @laurelstreng, thanks for opening the issue. When you say "they do not load or function as expected on the front end", do they display any error (either in Developer Tools' Console or in the server error logs)?

[2022-03-25 12:27] felipeelia commented on #2663
Hi @tomburtless, did you have the chance to run the command I suggested? Thanks!

[2022-03-25 12:52] felipeelia commented on #2656
Hi @scooterlord,

I got a fatal error with the code you sent but couldn't reproduce the problem. FWIW, the usage of the `ep_default_index_number_of_shards` filter should be:

`add_filter( 'ep_default_index_number_of_shards', function() { return 1; } );`

To gather more info about the problem you are having, you could add to your codebase:
- This gist, so all the requests during the dynamic indexin

[2022-03-25 13:04] felipeelia commented on #2651
Hi @blenkhn,

It seems we have 3 different topics going on here, is that right?

1. The order numbers -- this seems to be okay (I'm glad to know it is working!)
2. The errors related to the user mapping. Did you remove the changes you had for it? Also, you may want to run `wp elasticpress index --setup --yes --indexables=user` if you want to resend the mapping only for users.
3. Customer searches.

[2022-03-25 13:27] felipeelia commented on #2635
Hi @arnowelzel,

Search algorithms applied to Elasticsearch can have some nuances that probably should be adapted to your use case.

For example: although not perfectly, Elasticsearch will try to match misspelled words. So, using the examples you shared, searching for "next" would potentially match "text", a word that I can see several times in that post and that only contains one letter of differ

[2022-03-25 13:27] #2635 closed

[2022-03-25 13:44] #2074 closed

[2022-03-25 13:46] #2301 closed

[2022-03-25 14:00] #1520 closed

[2022-03-25 14:16] #2650 closed

[2022-03-25 15:14] laurelstreng commented on #2674
Hey @felipeelia 👋🏻  When I am using the ElasticPress Facet Widget(s) I'm running into the following:
- No errors in Dev Tools Console
- Not seeing any errors in the logs (it is hosted with Pantheon)
- The only errors/notices I found was the one: `Notice: wp_enqueue_script() was called incorrectly. "wp-editor" script should not be enqueued together with the new widgets editor (wp-edit-widgets or wp

[2022-03-25 16:49] cbratschi opened #2681 "BUG: Synchronization Issues"
**Describe the bug**

Synchronization using the new sync UI did not progress after a while without showing any errors. Using WP-CLI ended in out of memory conditions while indexing posts and failed afterwards in users too. So we split the command to use separate cycles for each indexable. However, this ended in users and terms to contain only 1000 documents.

I saw similar open issues but our issu

[2022-03-25 16:56] cbratschi commented on #2681
More details about the WP-CLI issue.

Full index runs into out of memory conditions after using more than 1.6 GB of memory.

[code]

We switched to separate calls. Where posts are resumed:

[code]

Now we see all posts in the index.

Then we continue with the others:

[code]

However, this index only has 1000 users instead of the added 278000 users.

This is our staging environment. Once this issu

[2022-03-25 18:04] laurelstreng commented on #2674
@felipeelia I found the 10up debug bar plugin and will try installing that to see if I can find any additional information 👍🏻

https://github.com/10up/debug-bar-elasticpress

[2022-03-25 18:28] felipeelia commented on #2674
Hey @laurelstreng, thanks for getting back to us. The only reference we have to `wp-editor` is actually made by the Related Posts widget, not by the Facets one, so I'd doubt that is the main cause of the problem.

The Debug Bar ElasticPress problem will tell you if you have any problems in an Elasticsearch query, so let me know if that is the case or if you don't see any query being fired at all.

[2022-03-28 07:51] webstrategie opened #2684 "Strict search"
One of my clients wants a strict search. Would you have any examples?
WordPress environment with ElasticPress ep_formatted_args...

Thanks a lot

[2022-03-28 09:15] scooterlord commented on #2656
Hello @felipeelia thank you for your feedback and sorry it took me so long to respond.

Thanks for the shards code - I think it was accidentally working since it just broke the set default :D

Regarding the logging, are these logs saved on file or exposed on screen? Do I need to use these when I try to resync and also will the provide any strain to the production environment? And also I can only a

[2022-03-28 12:31] astanabe opened #2685 "Sync and Fresh Sync can be executed successfully, but ElasticPress still says "There is a problem with connecting to your Elasticsearch host.""
I'm now trying to construct WordPress site with Elasticseach in a single machine.
I have installed WordPress 5.9.2, Elasticsearch 7.10.2 and ElasticPress 4.0.1.
The settings of "elasticsearch.yml" is the following.

The output of `curl http://localhost:9200/` is the following.

After, I started Elasticsearch service and set `http://localhost:9200/` as "Elasticsearch Host URL" in Settings page of E

[2022-03-28 13:18] #2663 closed

[2022-03-28 14:17] astanabe commented on #2685
Here is a Query Log.

[2022-03-28 17:53] #2449 closed

[2022-03-28 18:14] #2599 closed

[2022-03-28 18:16] #2649 closed

[2022-03-28 22:27] blenkhn commented on #2651
Hi the user email does not seem to match the email precisely.  Is there a way to do this?  where do I run that other command you mentioned?

[2022-03-28 22:28] blenkhn commented on #2651
Yes I removed the changes and I still get the errors.

[2022-03-29 01:41] leomp3 commented on #2668
Hi @felipeelia,

Unfortunately I had to disable ElasticPress on my site because for some very obscure reason when I have ElasticPress enabled my Italian language categories does not have any products, showing the message "Non è stato trovato nessun prodotto che corrisponde alla tua selezione." The ElasticPress debug bar doesn't show any errors either.

This happens without even running any Elastic

[2022-03-29 02:11] leomp3 commented on #2668
The issue happens even changing to other theme.

[2022-03-29 16:06] #2685 closed

[2022-03-29 16:37] webstrategie commented on #2684
Great thanks for you answer!

Le mar. 29 mars 2022 à 18:21, Felipe Elia ***@***.***> a
écrit :

[2022-03-29 16:39] felipeelia commented on #2602
No problem @cmoa-webmaster. Did the permission error come from a change we made in the plugin or something that changed in your setup? Thanks!

[2022-03-29 17:04] #636 closed

[2022-03-29 17:13] #2605 closed

[2022-03-29 17:16] cmoa-webmaster commented on #2602
So we were using self hosted for our elasticsearch instance. The permissions were readonly via kibana. To further complicate our issue, our site search data was mixed with our records database. We also don't have the login for kibana. So it would likely break the current process. This doesn't help that our records database went widely undocumented and the git log is unreadable.

TLDR; The issue wa

[2022-03-29 17:40] felipeelia opened #2689 "Facets need to become a WP Block"
Having in mind that we also plan to expand Facets to handle meta fields and have a range type of widget (see #1440), we can take this opportunity to better structure the code of this feature. Here are (some of) the steps:

- [x] Create a common code to handle both renderings: blocks and widgets. That way, if we want to make a change in the outputted HTML, we'd have to change it in only one place.

[2022-03-30 09:31] pedlima opened #2690 "My draft WooCommerce products appears online"
WordPress: 5.9.2
WooCommerce: 6.3.1
ElasticPress: 4.0.1
ElasticSearch: 7.10.0

In category or store pages, we see drafts there. Even after syncing again, they keep showing. If we click on a draft product, we obviously get 404 error message because it is not accessible.

Strangely, I've searched online for this problem and found nobody complaining about this.

What can be causing this?

[2022-03-30 13:14] felipeelia opened #2691 "[Release] 4.1.0"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method.  If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.1.0` for your changes.
- [x] 3. Version bump:

[2022-03-30 14:20] pedlima commented on #2690
I'm so sorry, on my... so many hours we lost with this and it is just ridiculous how we never tested this simple thing.

This only happens with a "Administrator" user, not with other users nor with non-logged users.

So all is good. :)

[2022-03-30 14:20] #2690 closed

[2022-03-31 08:18] scooterlord commented on #2656
@felipeelia Thank you once again for your reply. Creating a staging environment is out of the question for now - I know the best practice is not used in this case, but there's just not enough capacity to do so at the moment.

I might risk it at some point later during the night so I can revert back if something goes wrong and revert back to you.

[2022-03-31 11:55] JakePT opened #2693 "BUG: Learn More link on the Sync page doesn't go anywhere"
**Describe the bug**
The "Learn More" link on the Sync page, beneath the button, is missing a URL and doesn't go anywhere.

**Steps to Reproduce**

1. Visit the Sync page.
2. Click on 'Learn More'.

**Expected behavior**
It should open a link of some kind, or open a panel with more information.

[2022-03-31 12:26] felipeelia opened #2694 "BUG: Query Loop Block does not order by score in FSE"
**Describe the bug**

While using the new Twenty Twenty-Two theme, search results will always be ordered by date, instead of by Elasticsearch score.

[2022-03-31 12:40] felipeelia commented on #2602
Got it @cmoa-webmaster. Well, looking to the half-full glass, at least you were able to identify those issues! :) I'm going ahead and closing the issue out now, feel free to leave a comment if you have any additional follow up and we can reopen it if needed.

[2022-03-31 12:40] #2602 closed

[2022-03-31 12:51] felipeelia commented on #2160
I'm closing this one out as it can be achieved using the `posts_pre_query` filter and a check for `$query->elasticsearch_success`. If `elasticsearch_success` is not set or is false (meaning that ElasticPress didn't work for some reason), returning an empty array would make WordPress short-circuit the DB call.
An alternative version of the snippet shared [here](https://github.com/10up/ElasticPress/

[2022-03-31 12:51] #2160 closed

[2022-03-31 13:02] felipeelia commented on #2039
For those searching for these features, Boolean Search Operators are already available in [ElasticPressLabs](https://github.com/10up/ElasticPressLabs/).

[2022-03-31 13:07] cmoa-webmaster commented on #2602
True @felipeelia Thanks for your debugging help with these issues.

[2022-03-31 14:11] #2623 closed

[2022-03-31 18:00] felipeelia commented on #2693
A draft for that new page is being created [here](https://elasticpress.zendesk.com/knowledge/articles/5205632443533/en-us?brand_id=360004525512).

[2022-03-31 20:31] oscarssanchez opened #2695 "BUG: Hide last sync element info box if there's no info to display"
**Describe the bug**

When you don't have info to display, the box is still shown:

<img width="2391" alt="Screen Shot 2022-03-31 at 12 17 53" src="https://user-images.githubusercontent.com/31049169/161144064-b5cc0218-365f-4d2c-8da7-29fec333ac16.png">

**Steps to Reproduce**

1. Fresh install of EP
2. Go to sync page
3. See box empty

**Expected behavior**

The box should not be shown.

[2022-03-31 20:42] felipeelia commented on #2695
We could go a bit further here and check if the needed indices already exist. If they don't, the "Full Sync" would need to be the only option available.

[2022-04-01 17:12] #2674 closed

[2022-04-01 20:44] blenkhn commented on #2651
I will be looking at this this afternoon / evening.  Please be patient

[2022-04-02 07:56] blenkhn commented on #2651
I have found that I get something very similar to the challenge with users as products now.  the Fuzziness has expanded and I now get a ton of results when I do a search for the SKU.

[2022-04-02 07:58] blenkhn commented on #2651
I have installed the wp-cli for the terminal and I get the following errors:
Warning: No WordPress installation found. If the command 'elasticpress index' is in a plugin or theme, pass --path=`path/to/wordpress`.
Error: 'elasticpress' is not a registered wp command. See 'wp help' for available commands.

I can figure out the previous one, but a little guidance would be nice.  I am not comfortable

[2022-04-02 08:00] blenkhn commented on #2651
I added this command "add_filter( 'ep_user_fuzziness_arg', '__return_zero' );" to the functions of the child theme and it didn't seem to do anything at all.

[2022-04-02 08:12] blenkhn commented on #2651
In the plugin there is a section called facets.  is this the one that pulls the search term apart?

[2022-04-02 08:31] blenkhn commented on #2651
I still get these errors.

1105
894 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '894'
1106
893 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '893'
1107
Number of users index errors: 400
1108
Number of users indexed: 1000
1109
Sync complete

[2022-04-02 18:10] pedlima opened #2696 "[SOLVED] How to set "split_on_numerics" to false? (for proper SKU search in WooCommerce)"
I searched everywhere and couldn't find it.

Where can this be changed?

My SKUs have numbers and letters (not all, though) and it's not delivering the expected results because sometimes the searched SKU doesn't even appear in first - actually what I would want would be for the search to get me directly to that product page, but unfortunately I've already tried a lot of things and it only works if

[2022-04-04 06:32] JakePT opened #2697 "BUG: Custom Results are not ordered correctly in Instant Results"
**Describe the bug**
After creating a set of custom results for a search term in _ElasticPress > Custom Results_, searching for that term in Instant Results will return the correct results, but they are out of order.

The issue seems to be that Instant Results can find the correct results, because it uses the `terms.ep_custom_result.name` field, but the order is not respected because the PHP versi

[2022-04-04 11:47] pedlima opened #2698 "[SOLVED] 3 equal sites, 2 different search results (attributes not filtering) - how can I debug this?"
Guys, we are getting crazy over here.

We lost already so many hours and days looking into this and couldn't find a reason for this so far.

So all these websites have the same basis code:
https://americana.pt/loja/?filter_marca=agatha-ruiz-la-prada
https://revenda.americana.pt/loja/?filter_marca=agatha-ruiz-la-prada
https://pro.americana.pt/loja/?filter_marca=agatha-ruiz-la-prada

But when we do

[2022-04-04 16:53] brandwaffle commented on #2693
https://elasticpress.zendesk.com/hc/en-us/articles/5205632443533 published

[2022-04-04 17:31] #2693 closed

[2022-04-05 16:23] oscarssanchez commented on #1030
For me it doesn't log the error message  more than once, but I get this weird output:

<img width="1320" alt="Screen Shot 2022-04-05 at 11 21 37" src="https://user-images.githubusercontent.com/31049169/161800532-3ba2935e-10fd-42d7-b6f7-9662cd22c97f.png">

[2022-04-05 17:55] #2691 closed

[2022-04-05 17:58] felipeelia opened #2702 "BUG: [--pretty] flags in WP-CLI Docs"
**Describe the bug**

After the latest release, the WP-CLI docs page got some wrong formatting for the [--pretty] flags.

[2022-04-05 21:28] oscarssanchez commented on #2696
Hi @pedlima ,

You can use the `ep_formatted_args` filter to modify the formatted array before it gets converted to JSON, you might also want to try to look for exact matches if you detect a special pattern/is shop page, or give SKU's more weight. The functionality you describe that takes you to the product page feels more like something you'll need to custom code.

[2022-04-05 21:28] #2696 closed, assigned to nobody

[2022-04-05 21:39] pedlima commented on #2696
Thank you for your answer but how can I use that filter to apply "split_on_numerics"? I can't find any examples and documentation is not that good.

[2022-04-05 21:47] oscarssanchez commented on #2696
Apologies @pedlima , It seems `split_on_numerics` is actually a parameter to set in the mapping, for this you might want to try `ep_config_mapping`. Examples can be found in the synonyms feature: https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Synonyms.php#L355

Best,

[2022-04-05 21:50] pedlima commented on #2696
Thank you for your quick answer, but I still have no idea how to use this to implement what I want! :(

I only see examples for synonyms and that's nothing what I am looking for...

[2022-04-05 22:18] pedlima commented on #2696
[oscarssanchez](https://github.com/oscarssanchez) Ok, so I tried this and it doesn't seem to be working, can you please help me out?

[code]

[2022-04-06 11:34] pedlima commented on #2698
Ok, just found out a difference between those two websites with attribute filters not working and the one site working properly.

In the two that are wrong, in my Query Args, the post__not_in have information whether in the one website working correctly, that one is empty.

What can be causing that? Is that the problem for all this?

[2022-04-06 13:25] pedlima commented on #2698
Ok, yet another weird discovery!

Here is part of the "Query Args" from the first website (the one that works):

[code]

And here's that same part on both the other websites that are NOT filtering the attributes:

[code]

So here is surely the problem. Now, how can this be happening if code is the SAME on the three websites? This is mindblowing!

[2022-04-06 13:55] pedlima commented on #2698
...

Whoever reads this, won't believe it but this had something to do with our database!

I mean, it was not possible to be any other thing rather than that because everyhing was the same, regarding code.

So conclusion:

In WP Admin, we went to WooCommerce > Status > Tools and then we cleaned some things and regenerated other things.

In the end, that's what made it work again...

The weirdest t

[2022-04-06 13:55] #2698 closed, assigned to nobody

[2022-04-06 14:01] cbratschi commented on #2681
We are using these plugins:

- ACF Pro
- EWWW Image Optimizer
- GAinWP
- LiteSpeed Cache
- Yoast SEO Premium

LiteSpeed Cache uses an Object Cache.

I will share the debug logs later.

Please reopen. I will wait for the next release to try WP-CLI again.

[2022-04-06 14:17] cbratschi commented on #2681
This is the log of this endless sync cycle:

[code]

[code]

[2022-04-06 15:11] pedlima opened #2703 "[SOLVED] Custom "orderby" by price in WooCommerce not working as expected"
We are trying to create a custom order in shop page, which is perfectly working when we turn off EP, but not working at all with EP activated.

In Debug we cannot see the orderby changed like we see in other default WC orderby (such as price or alphabetic).

This is our basic function:

[code]

And this is what we have already tried, so far with no changes when we check Debug:

1. Changed "meta_va

[2022-04-07 16:51] felipeelia commented on #2651
Hi @blenkhn,

Here are some answers and clarifications.
1. About the issue being automatically closed: To prevent having stale issues in the repository, the ones marked with "reporter feedback" are automatically closed after 3 days if no answer is provided. It is not impatience, just a housekeeping mechanism :)
2. Regarding having WP-CLI working on your installation, I recommend you to contact you

[2022-04-07 16:51] #2651 closed

[2022-04-07 16:53] felipeelia commented on #2656
Okay, @scooterlord. I'm closing this issue now, if you ever get the chance to set up a staging and/or test on production overnight and can share results/discoveries here, we can reopen it. Thanks

[2022-04-07 16:53] #2656 closed

[2022-04-07 16:58] felipeelia commented on #2681
Yeah, @cbratschi, that log indicates it is sending the same things over and over again. Did you already try to sync while having LiteSpeed Cache disabled?

ps.: Issues marked as "reporter feedback" here in our repository are automatically closed after 3 days without a response from the creator but it'll automatically reopen if you come back after that time.

[2022-04-07 17:24] felipeelia commented on #2703
Hi @pedlima,

You'll need `pre_get_posts` for that but with a priority higher than 11, as the EP function will set that order in the query [here](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/WooCommerce/WooCommerce.php#L797) using 11. I've tested this code and it seems to have the effect you want:
[code]

An important note: As `_unit_price` starts with `_` it won't be

[2022-04-07 17:24] #2703 closed, assigned to nobody

[2022-04-07 17:54] pedlima commented on #2703
Thank you so much for your help but unfortunately, it doesn't seem to be working. :(

The results are exactly the same. In Debug args I see this:
["orderby"]=> string(21) "menu_order title date"

And also this:
["meta_key"]=> string(11) "_unit_price"

And this:
["order"]=> string(3) "ASC"

So in one hand it does seem to assume the meta_key and order (which is what happened in the past already) but

[2022-04-08 12:20] felipeelia opened #2704 "Sync Page JS"
**Is your enhancement related to a problem? Please describe.**

Although a big improvement was done in the JS part of the sync process while creating the new Sync Page for EP 4.0, that code still has room to be improved. Having functions to deal with components' behavior, improve readability, etc. will help us to maintain that code and improve the developer experience in general.

There are also s

[2022-04-08 13:43] cbratschi commented on #2681
@felipeelia did not yet try without LiteSpeed Cache but will run a sync soon again.

[2022-04-08 14:01] felipeelia opened #2706 "BUG: Installation Workflow and initial sync"
**Describe the bug**

There are actually two:

- [x] During the installation process, if the user does not select any feature during step 3, the "Save Feature" button only reloads the page.
- [x] During the initial sync (the one automatically made after clicking on the step 4 button), the screen won't be properly set as done, i.e., make the progress bar green and hide the pause/stop buttons. (Ther

[2022-04-08 15:33] buzzbold-jeremy opened #2707 "QUESTION: Help troubleshooting ElasticPress errors"
Hi,

Our ElasticPress and/or ElasticSearch is not working. I'm using ElasticPress 3.6.6 and Debug Bar for ElasticPress. We are using filters in ElasticSearch to skip indexing certain posts with the "ep_post_sync_kill" filter and it used to work, but those indexes are no longer being skipped. We also use the "ep_post_query_db_args" filter to not return certain posts in query results and that is no

[2022-04-08 17:19] brandwaffle commented on #2706
@tlovett1 are you thinking if someone checks none of the boxes we should warn them that nothing will be active and then move past install, or should we be indicating we're requiring they check at least one box?

[2022-04-08 17:25] felipeelia opened #2708 "GH Actions: Clean Up"
Currently, after we run e2e tests using ElasticPress.io, we delete all the indices created.

[That code](https://github.com/10up/ElasticPress/blob/develop/.github/workflows/cypress-tests.yml#L118) is relying on the `delete-index` WP-CLI command that just returns indices of active features, so it is not removing indices related to users, and that needs to be fixed.

[2022-04-10 02:16] pedlima commented on #2696
@oscarssanchez Could you please give me a hand here? It will be much appreciated. :)

[2022-04-10 02:17] pedlima commented on #2703
@felipeelia Can you please give me a hand in here? Thank you very much in advance!

[2022-04-11 14:08] cbratschi commented on #2681
@felipeelia I disabled LiteSpeed Cache and tried to sync it again. Several attempts failed without any output in the debug log. After reloading the sync page I got a full sync done.

So it seems to be related to LiteSpeed Cache. What do you suggest? We could patch the LiteSpeed Cache plugin code to temporarily be disabled if a REST API call is ongoing. However, LiteSpeed Cache is very critical to

[2022-04-11 18:34] felipeelia commented on #868
ElasticPress 3.0 changed this a bit and then ElasticPress 4.0 added yet another change related to this. Currently, on a website with Instant Results enabled, these three fields are indexed for a specific post:

|Name|Description|Indexed as|Example of usage|
|---|---|---|---|
|post_content|The raw content of the post, as in the database.|`n<p>Post content  </p>n`|Currently, it is the field used in

[2022-04-11 19:50] StianHNilsen opened #2713 "QUESTION: When will the maximum required Elasticsearch version be bumped up?"
**Describe your question**
Hi there! When will the maximum required Elasticsearch version be bumped up?

I'm getting the following message in the with ElasticPress (4.1.0) in the wp-admin panel: `Your Elasticsearch version 7.17.1 is above the maximum required Elasticsearch version 7.10. ElasticPress may or may not work properly.`

ElasticPress won’t map and index properly with the ElasticSearch ri

[2022-04-11 19:59] felipeelia commented on #2681
@cbratschi, I tried to reproduce the problem in a local installation but I couldn't. Would it be possible for you to send us an export of your LiteSpeed settings? In the WP Dashboard that is available under LiteSpeed Cache -> Toolbox -> Export Settings. You can send it to us via the form at https://www.elasticpress.io/request-a-demo/.

Here are some of the suggestions you may already try:
- Under

[2022-04-11 20:50] bitobeats opened #2714 "QUESTION: Can't search posts by author"
I have elasticpress installed and working on a client's website for months now. Thanks for the awesome plugin!

Today I needed to include authors as a field to be searched when a user uses the search form.
I tried activating it in "Manage Search Fields & Weighting" panel and then resynced the plugin by clicking the "two arrows in a circle" icon.

Still, it doesn't work. Can someone help, please?

[2022-04-12 09:11] cbratschi commented on #2681
I just sent you the settings. Will try excluding AJAX now. Admins are already in the do not cache settings.

[2022-04-12 10:08] cbratschi commented on #2681
Disable AJAX caching did not improve anything.

[2022-04-12 17:00] #2702 closed, assigned to felipeelia

[2022-04-12 17:01] #2708 closed, assigned to felipeelia

[2022-04-12 17:22] felipeelia commented on #1030
We discussed it and as it is not possible to reproduce the problem with the current codebase -- the logic around that filter changed quite a bit in the 3.0 rewrite --, we are closing it out.

[2022-04-12 17:22] #1030 closed

[2022-04-12 18:57] altendorfme opened #2715 "BUG: find_related() not limiting"
In version 4.1.0 when using: `ElasticPress\Features::factory()->get_registered_feature( 'related_posts' )->find_related( $postID, 4 );`, the defined limit is not being respected, it is always showing the default of 5 posts.

**Environment information**
 - WordPress version: 5.9.3
 - ElasticPress version: 4.1.0
 - Elasticsearch version: 7.2.0
 - Where do you host your Elasticsearch server? Bonsai.i

[2022-04-12 20:09] felipeelia commented on #2715
Thanks for opening the issue, @altendorfme!

So, it seems [this line](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/RelatedPosts/RelatedPosts.php#L151) should be
[code]

While we don't release a version fixing that, the [ep_find_related_args](https://github.com/10up/ElasticPress/blob/f801fe2f4bba2f4f9252755f9def4a54a2e8aa27/includes/classes/Feature/RelatedPosts/Related

[2022-04-12 20:39] altendorfme commented on #2715
Hi @[felipeelia](https://github.com/felipeelia), fix worked perfectly ;)

[2022-04-13 20:27] landbryo commented on #2206
This issue still exists. In the case that users don't want to enable Protected Content as a workaround, this seems to do the trick:
[code]
The Web Stories media search request looks like:
`http://localhost/wp-json/web-stories/v1/media/?per_page=50&page=1&_web_stories_envelope=true&search=feature&_locale=user`

[2022-04-14 04:47] HypeAU opened #2716 "QUESTION:"
hi

How would I only retrieve last 6 months of related posts using this method?

	$related_posts=	ElasticPress\Features::factory()->get_registered_feature( 'related_posts' )->find_related(get_the_ID(), $return = 5 );

thnx
Bill

[2022-04-14 05:13] oscarssanchez commented on #2716
Hi @HypeAU  You could probably use the `ep_find_related_args` filter

and add a date query similar to this to the args:

[code]

[2022-04-14 05:18] oscarssanchez commented on #2714
Hi @vitorrloureiro ,

Can you please

1.- Try without any custom code you could be injecting? (third party plugins, custom theme etc preferably with a theme like twentytwenty) and if the issue persists
2.- Install debug bar and debug bar elasticpress plugins, then provide the query body relevant to the query you have problems with?

This should shed some light how the query is being formatted. For

[2022-04-14 05:32] oscarssanchez commented on #2707
Hi @buzzbold-jeremy ,

It seems you have quite some problems. I'll try my best to isolate them.

Questions for you:

* Can you provide code examples of how are you doing it?
* When you say "those indexes are no longer being skipped", do you mean posts, not actual indexes?

Questions for you:

* Can you provide code examples?
* Is there a reason not to exclude them via WP_Query param `post__not_in`

[2022-04-14 14:04] HypeAU commented on #2716
Hi Oscar, thanks for your assistance.
I'm new to Elasticpress and find it a little confusing at times, so thanks again for your patience.
I get a critical error when I run the below code
[https://findcheap.com.au/coloured-jumbo-braiding-hair-extensions-braids-twist-hight-temperature-kanekalon/](https://findcheap.com.au/coloured-jumbo-braiding-hair-extensions-braids-twist-hight-temperature-kanekalo

[2022-04-14 14:52] pedlima commented on #2703
@felipeelia I'm sorry to insist, but I would really appreciate some help with this. If you want, I can open a new issue, but I think it makes no sense. Thank you very much in advance!

[2022-04-14 14:53] pedlima commented on #2696
@oscarssanchez I'm sorry to insist, but I would really appreciate some help with this. If you want, I can open a new issue, but I think it makes no sense. Thank you very much in advance!

[2022-04-14 16:23] felipeelia commented on #2696
Hi @pedlima! Although we strive to help ElasticPress users in our GitHub issues, our main purpose here is to identify potential enhancements or bugs in the plugin and plan their development accordingly.
That said, looking at the code you wrote that should've worked but a more detailed scope and investigation of your codebase would be needed to go further. That would be something outside of our sco

[2022-04-14 16:35] felipeelia commented on #2703
Hi @pedlima. I've checked locally again and I can definitely see ` 'orderby' => string 'meta._unit_price.value' (length=22)` here when accessing https://elasticpress.test/shop/?orderby=unitpriceasc.

The fact that it is not working for you might indicate something related specifically to your codebase, which would require some additional investigation. As I said in #2696, that would fall outside o

[2022-04-14 16:49] felipeelia commented on #2716
Hi @HypeAU,

If you look at [ep_find_related_args](http://10up.github.io/ElasticPress/ep_find_related_args.html) documentation, you'll see that it actually filters the WP_Query args, not the Elasticsearch query. So your code should probably look like this:
[code]

I'm going ahead and closing the ticket now but if you try that and it doesn't work, feel free to come back here with any error code you

[2022-04-14 16:49] #2716 closed, assigned to nobody

[2022-04-14 16:54] felipeelia commented on #2707
For those coming to this issue with similar problems, expanding @oscarssanchez's answer a bit, if you need to send the mapping again, you actually need to run `wp elasticpress index --setup`, so the Elasticsearch index will be deleted and recreated with the correct mapping.

[2022-04-14 19:44] felipeelia commented on #868
The explanation and the table were added to https://elasticpress.zendesk.com/hc/en-us/articles/4402857301389.

[2022-04-14 19:44] #868 closed

[2022-04-14 21:04] blenkhn opened #2717 "Indexing new items"
**Is your enhancement related to a problem? Please describe.**
The problem is that when I add anything new.  Whether it be a product, order, user etc. it is not findable right away.

**Describe the solution you'd like**
I would like to be able to find the new items right away products especially.  Having them searchable on the front and back end is important.

**Designs**
Not required, it is all t

[2022-04-14 21:12] blenkhn opened #2718 "BUG: User indexing"
**Describe the bug**
Constant errors indexing users.  You have told me that my code regarding the users is flawed.  I have only added ACF fields for the users and you have told em that ACF fields are indexed.  So I do not know why I am getting the errors.

searching for an email address returns way too much.  why can't it just search for that email address as a whole.  WP-CLI has now been installe

[2022-04-14 21:47] blenkhn commented on #2718
This is a sammple of the users errors that I get

878 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '878'
877 (User): [mapper_parsing_exception] failed to parse field [user_registered] of type [date] in document with id '877'
705
Processed users 700 - 875 of 875. Last Object ID: 1
706
Number of users index errors: 216
707
Number of us

[2022-04-15 00:50] HypeAU commented on #2716
That worked. Thank you so much.

woow,  I didn't realise this

To make an even better product, if you include examples just like the one you provided above on eg these pages
http://10up.github.io/ElasticPress/ep_find_related_args.html
just like WP does with their documentation that would be amazing

[2022-04-17 17:09] #2707 closed, assigned to nobody

[2022-04-17 17:09] #2714 closed, assigned to nobody

[2022-04-19 13:14] felipeelia commented on #2717
Hi @blenkhn,

Out of the box, ElasticPress already indexes all the new content, i.e., all products, orders, etc. created using WordPress core functionality will be indexed by default.

Are you seeing specific errors or isn't this functionality working in general? If so, did you already try to [set WordPress to log errors](https://wordpress.org/support/article/debugging-in-wordpress/) and then give

[2022-04-19 13:17] felipeelia commented on #2718
This issue is a follow-up of #2651.

@blenkhn, as I said in that other issue:

Did you already try the second part of my recommendation? What do you have in that `user_registered` field for those specific users?

[2022-04-19 17:13] oscarssanchez commented on #2713
Need to go through full QA with 7.17.1

[2022-04-19 21:03] blenkhn commented on #2717
The new products are not showing up right away in the searches.  Do you think that mysql might be caching the results and not updating right away?

[2022-04-19 21:09] blenkhn commented on #2718
well isn't that interesting......  Seems that somewhere along the lines there is no date in that field 0000-00-00 00:00:00 is what is there.  thanks for clarifying.  I was looking in the wrong areas

[2022-04-20 23:52] HypeAU opened #2723 "After Upgrading to version 4 search function completely times and no longer functions"
Hi
I upgraded my live site from version 3 to 4, reindexed all data and search failed to function at all.
I'll need to work on my staging area.

just wondering if theres any changes we need to make, when upgrading from version 3 to 4.

thanks

[2022-04-21 12:06] felipeelia commented on #2723
Hi @HypeAU,

Do you get any errors in your logs? When you install the [debug plugins](http://10up.github.io/ElasticPress/tutorial-debugging.html), do you see any queries being sent? How is your sync screen looking right now?

[2022-04-21 12:07] felipeelia commented on #2718
No problem, @blenkhn. Do you mind sharing how those users are created?

[2022-04-21 12:13] felipeelia commented on #2717
Hi @blenkhn,

I don't think MySQL would be caching it (and ElasticPress wouldn't use that cache anyway) but you could be accidentally caching it with a plugin or your CDN (like Cloudflare) depending on how you have it set up.

Do you have any examples (with URLs) of the problem you are seeing?

[2022-04-21 12:39] burhandodhy opened #2724 "BUG: Incorrect URL for Related Posts"
**Describe the bug**

The link for related posts https://github.com/10up/ElasticPress/#related-posts is not headed in the right direction.

![image](https://user-images.githubusercontent.com/7139602/164459002-a76e66e0-d11e-4431-a0fe-75a13e13af76.png)

**Steps to Reproduce**

1. Go to EleasticPress -> Features page
2. Click on Learn More for Related Posts section.
3. The URL on `API functions` is n

[2022-04-21 12:53] JakePT commented on #2706
@felipeelia As discussed with @brandwaffle we will address the first point by displaying a standard browser alert that reads:

And continuing will proceed to the Features page without starting a sync.

[2022-04-21 13:59] MarijnvSprundel opened #2725 "BUG: Type error in console when searching"
**Describe the bug**
When you have autosuggest enabled and press enter to search for something, a type error briefly appears before being redirected to the results page.

**Steps to Reproduce**

1. Go to a site with an elastic press search engine with autosuggest working.
2. Put something random in the search bar.
3. Without using your arrow keys, press enter.
4. See error

**Expected behavior**
A

[2022-04-21 14:18] felipeelia commented on #2681
Hey @cbratschi,

I've tried locally with those settings and I'm still unable to reproduce the problem. While we keep investigating it, can you let me know if you have any other cache layer like Cloudflare or Varnish, for example?

[2022-04-21 14:24] felipeelia commented on #2725
Thanks, @MarijnvSprundel, I'm able to reproduce the problem here as well. Do you want to craft a PR with the suggested solution?

[2022-04-21 14:36] cbratschi commented on #2681
Hi @felipeelia,

No, this is the only cache plugin running.

[2022-04-21 15:42] pedlima commented on #2703
For future reference to other visitors, what ended up being the only problem here was that instead of "meta._unit_price.value" I should use "meta._unit_price.value.sortable" and with this, all worked flawlessly!

Now, this is once again very frustrating because your documentation is very incomplete. Maybe you just do it on purpose so that people can't have access to much information and have to hi

[2022-04-21 15:52] brandwaffle commented on #2703
@pedlima Our team has provided you with quite a bit of free help in this forum, including for the custom work you were looking to do on your site. Your response here is quite unwarranted and really seems to miss the point of how open source software works. I hope you're able to better understand this in the future and approach future support interactions with open source maintainers with some prof

[2022-04-21 15:57] pedlima commented on #2703
@brandwaffle I may have looked a bit "aggressive" in my comments, but still you do have a paid service for the plugin. It's not that you don't have that, so in this case, whoever is using your paid hosting and your plugin but still wants to check documentation on how to properly use it, I just shared my personal opinion regarding the lack of information on how your plugin works and how information

[2022-04-21 21:33] blenkhn commented on #2718
Those users were imported via coffee import tool and the date was not set on import

[2022-04-21 21:36] blenkhn commented on #2717
I will look and see if there is a caching system like nginx working in the system.  I think I turned it off though.  After reindexing elasticpress it still happens right away and doesn't seem to take effect till the next day which now suggests a server cache to make it faster to deliver pages

[2022-04-22 02:29] pedlima commented on #2696
This one was tough, but here is the solution for this!

First, you will need to use SSH to access the server where you have ElasticSearch installed.

After that, you will want to perform these commands:

- This one will first close your index, only then you can perform changes:
`curl -X POST http://localhost:9200/YOUR-INDEX/_close?pretty`

- This one will put the filter for "word_delimiter":
[code

[2022-04-22 11:50] felipeelia commented on #2696
Thanks @pedlima. For future reference, the close/update/open mechanism is available in the plugin via the [`Elasticseach\update_index_settings()`](https://github.com/10up/ElasticPress/blob/4.1.0/includes/classes/Elasticsearch.php#L904) method. An example of usage is available in [`Synonyms\update_synonyms()`](https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/Search/Synonym

[2022-04-22 11:54] pedlima commented on #2696
@felipeelia awesome, didn't knew about it. Thanks! :)

[2022-04-23 05:59] blenkhn commented on #2718
I have fixed the date in the users table and now the indexing stops at 99%.  Been sitting there all day.  Is there something that I need to fix?

[2022-04-24 12:10] #2723 closed, assigned to nobody

[2022-04-25 15:59] ecaron opened #2726 "QUESTION: Since _order_key populates post_password, is excluding order contents intentional?"
In WooCommerce, the `wc_generate_order_key` value gets stored in the `post_password` field ([reference code is here](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php#L76)).

This causes, when indexing orders, the `ep_post_sync_args` filter to call `remove_fields_from_password_prote

[2022-04-25 18:33] #2715 closed, assigned to felipeelia

[2022-04-26 01:36] oscarssanchez commented on #2713
Hi @StianHNilsen ,

I couldn't reproduce with the details you have provided

<img width="2026" alt="Screen Shot 2022-04-25 at 20 33 58" src="https://user-images.githubusercontent.com/31049169/165201383-fc991a20-af85-43a8-ae01-87917f0211a9.png">

Could you confirm your problem is because of `7.17.1` ?  You might want to downgrade to a lower version that's supported by ElasticPress to validate this.

[2022-04-26 04:18] oscarssanchez commented on #2619
Right now the major issue that I find is https://github.com/10up/ElasticPress/blob/develop/includes/classes/Indexable/User/User.php#L834

We are defining capabilities as a field in the user mapping, but we are actually storing user roles. We might need to rewrite the role__in support as well if we want to have two separate fields, one for capabilities and another one for roles. We should also have

[2022-04-27 10:11] johnbillion opened #2727 "BUG: Composer package is no longer functional"
**Describe the bug**

ElasticPress is distributed via Packagist at https://packagist.org/packages/10up/elasticpress. Since 4.0, this package is no longer installable via Composer without also installing its developer dependencies and performing a build step for the same reasons outlined in the 4.0 release notes -- the built assets are no longer present in the source repo.

The Packagist integratio

[2022-04-27 12:10] felipeelia commented on #2727
Hi @johnbillion, always good to see you here!

I hope this change didn't get you off guard, as it has been advertised in our readme and changelogs for a while. Is there any reason why you couldn't pull the built version from wpackagist.org?

[2022-04-27 12:38] johnbillion commented on #2727
While I was working on this problem for Query Monitor I originally intended to recommend using the WPackagist repo instead, and I abandoned the package on Packagist in favour of that, but it was pointed out that this is a third party repo that isn't vetted. It's fine for individuals to make the decision to use WPackagist but not ideal for a package provider to recommend it as its preferred repo.

[2022-04-27 13:38] felipeelia commented on #2726
Hi @ecaron, thank you very much for the heads up! I've created #2728 to address this problem. Do you think you'd have a chance to give it a try and let us know if that fixes the problem for you as well? Thanks!

[2022-04-27 14:08] felipeelia commented on #2718
Hi @blenkhn. What is the last message you see there? Did you try doing the sync via WP-CLI with the `--show-errors` flag already?

[2022-04-27 14:09] felipeelia commented on #2717
Got it, @blenkhn. I'll close the issue for now but if you find something different please let us know and we can reopen it if needed.

[2022-04-27 14:09] #2717 closed, assigned to nobody

[2022-04-27 14:38] #2724 closed, assigned to felipeelia

[2022-04-27 14:38] #2726 closed, assigned to felipeelia

[2022-04-27 15:24] ecaron commented on #2726
@felipeelia I was able to download the modified files, remove my add_filter, and re-index the database. I can confirm that this fixes the problem. Great work!

[2022-04-27 17:35] balajidamodare opened #2730 "Synced content via CLI but when we publish new contents those are not crawling on multisite setup"
**Describe your question**

I have synced the required contents on the ES instance through a plugin on a multisite setup. is there I need to take care of when the plugin using on a multisite setup?
It was working perfectly fine on a single-site setup

bellow are the details

ES self-hosted version: 7.10.2
ElasticPress version: 4.1.0
PHP Version: 7.4.28
Worpress Version: 5.9.2

[2022-04-27 20:35] oscarssanchez commented on #2730
Hi @balajidamodare ,

When you say you have  _synced the required contents on the ES instance through a plugin_ do you refer with the help of another plugin that is not ElasticPress?

In this multisite setup, have you made sure the index site toggle is checked for the sites you want to index?

[2022-04-28 05:27] blenkhn commented on #2718
Can you repost the complete comand for the wp-cli?

I did find these errors which I find interesting.  472 (User): [illegal_argument_exception] Limit of total fields [5000] in index [###-user] has been exceeded
393 (User): [illegal_argument_exception] Limit of total fields [5000] in index [###-user] has been exceeded
1 (User): [illegal_argument_exception] Limit of total fields [5000] in index [###

[2022-04-28 18:50] oscarssanchez opened #2731 "BUG: input[type="text] selector not working with autosuggest"
**Describe the bug**

When we save input input[type="text"] as a selector to be used with autosuggest, it gets saved as input[type=\\"text\\"], therefore autosuggest can’t find the correct element.

**Steps to Reproduce**

1. Go to autosuggest settings
2. Set selector  input[type=\\"text\\"]
3. Try to search in autosuggest

**Expected behavior**

It should work with this selector.

**Screenshots**

[2022-04-28 18:53] oscarssanchez opened #2732 "BUG: When there's a hidden input autosuggest won't switch result visibility"
**Describe the bug**

For some reason, if you have a hidden input (probably any input) like the following:

<div class="searchform-fields">
    <span class="text"><input class="test" name="s" type="text" value="" placeholder="search…" autocomplete="off"></span>
    <input type="hidden" name="post_type" value="product">
</div>

Autosuggest won’t be able to switch the list from display: none to disp

[2022-04-28 22:30] thomasdiesenreiter commented on #2685
Hi @felipeelia, we have the same weird problem with the latest elasticpress version, altthough with wp 5.9.3 (which shouldn't make much of a difference).
indexing works, but I get "Error: Could not connect to Elasticsearch." errors in wordpress and in the cli.
I tried different versions of elasticsearch as well, still not working.
We upgraded from php8.0 to php8.1, maybe this could be part of the

[2022-04-29 01:39] #2713 closed, assigned to oscarssanchez

[2022-04-29 05:53] balajidamodare commented on #2730
Hi, Oscar Sanchez S.
I am using the ElasticPress plugin only.
synced the required contents means the half of the content I have synced using wp CLI commands
for eg : wp elasticpress index --network-wide --show-bulk-errors --post-type="videos, news, articles"

the post type I have specified here and synced those ones
so any specific settings to sync newly created posts automatically for multisite?

[2022-04-29 17:29] thomasdiesenreiter commented on #2685
Update @felipeelia: The problem was the missing php8.1-curl extension. installed it, restartet nginx and its runing fine now. could have better error handling to be honest. @astanabe maybe you have the same problem?

[2022-05-02 03:27] balajidamodare commented on #2730
Hi, Oscar Sanchez S.
I have another question.
does ElasticPress supports the AWS [OpenSearch](https://opensearch.org/) ?

[2022-05-03 12:53] felipeelia commented on #2718
`wp elasticpress index --setup --show-errors`

For that specific error we have two articles:
https://elasticpress.zendesk.com/hc/en-us/articles/360051401212-I-get-the-error-Limit-of-total-fields-in-index-has-been-exceeded- and
https://elasticpress.zendesk.com/hc/en-us/articles/360052019111

Basically, you are trying to index too many user meta fields, so you'll have to write some code to allow onl

[2022-05-03 13:30] felipeelia opened #2737 "BUG: Stuck WP-CLI sync generates a repeated output in the Sync Page"
**Describe the bug**

Currently, if a WP-CLI sync process gets killed without clearing the index meta option, any visit to the Sync Page will output the same message over and over again, wrongly suggesting that the index is still running. That happens because the Sync page does not communicate directly to the WP-CLI PHP process but rather reads from an option stored in the database.

**Steps to Re

[2022-05-03 14:12] felipeelia commented on #2694
Issue opened in Gutenberg: https://github.com/WordPress/gutenberg/issues/39285

[2022-05-03 17:22] felipeelia opened #2739 "Refine the Settings Config Screen"
**Is your enhancement related to a problem? Please describe.**

There is some room for improvement on the Settings screen:
- For EP.io clients, `Subscription ID` and `Subscription Username` will always be the same
- Alignments, in general, seem a little off

**Describe the solution you'd like**
In addition to the points above, the screen should probably receive a holistic review from a UX engineer

[2022-05-03 17:51] felipeelia commented on #2619
As that would mean a change in the mapping, it will probably be something for a 5.0 version (as changes in the mapping are breaking changes.)
As WordPress 6.0 will also introduce a change in the fields parameter (see [here](https://make.wordpress.org/core/2022/04/29/wp_user_query-now-accepts-fields-options-in-wordpress-6-0/)) we could make a release focused on this feature.

ps.: We also need to c

[2022-05-03 20:06] blenkhn commented on #2718
This feels like a newbie question, when I run the command you specified `wp elasticpress index --setup --show-errors` I get this response
`Warning: No WordPress installation found. If the command 'elasticpress index' is in a plugin or theme, pass --path=`path/to/wordpress`.
Error: 'elasticpress' is not a registered wp command. See 'wp help' for available commands.`

I am obviously missing somethin

[2022-05-04 01:19] blenkhn commented on #2718
I have a new error as per the command line.  I hope this helps.  Do you need any log files from me?

Fatal error: Maximum execution time of 300 seconds exceeded in /home/keyinnov/public_html/wp-content/plugins/elasticpress/includes/classes/Indexable.php on line 497
Error: There has been a critical error on this website.Learn more about troubleshooting WordPress. There has been a critical error on

[2022-05-04 01:21] blenkhn commented on #2718
Seems I am unable to restart the sync.  is there a way to stop the sync after such an error?

[2022-05-04 08:31] cbratschi commented on #2619
@felipeelia my patch above is a workaround for those performance problems listed in the article. We didn't see any other affected admin screens and therefore recommend anyone affected to use this code. Good to see they add some workarounds to WordPress core too.

[2022-05-04 22:31] blenkhn commented on #2718
I found the command to clear the index.  `wp elasticpress clear-index`  I was able to restart the index

[2022-05-05 01:12] blenkhn commented on #2718
There seems to  be a time limit on the scripts, where might I find the location to change teh time limit?  php.ini for the server?
 I have changed the timeout in the php.ini file to 6000 and it doesn't matter.  Interesting that I added this `set_time_limit(6000);` to the wp-config.php file and the script finished.

I still get the errors above.  how many meta fields should be there?  There have no

[2022-05-05 05:43] blenkhn commented on #2718
Is there a way to list the fields being indexed for the users and other post types?  So that I can pick and choose which ones to be indexed?   Have you considered adding a page to allow people to choose?

[2022-05-05 08:42] thomasdiesenreiter commented on #2681
We have the same issue. Endless the same message:
Processed posts 126199 - 126199 of 126200. Last Object ID: 1
Processed posts 126199 - 126199 of 126200. Last Object ID: 1
Processed posts 126199 - 126199 of 126200. Last Object ID: 1

We have no cache plugins available (we did use redis object cache before, but already deactivated it, because it would prevent elasticpress from working).
It would be

[2022-05-05 14:01] felipeelia commented on #2730
Hi @balajidamodare,

Any new posts should be automatically created for either single-site or multisite. Do you have a concrete example you could share?

Regarding Opensearch, the short answer is yes. More info can be seen here: https://github.com/10up/ElasticPress/issues/2671#issuecomment-1078972274

[2022-05-05 14:05] felipeelia commented on #2681
Hi @thomasdiesenreiter,

The repeated message is something we are handling in #2737. Did you try via WP-CLI with the `--show-errors` flag? Any additional details help us to reproduce and fix the problem. Thanks.

[2022-05-05 14:22] felipeelia commented on #2718
Hi @blenkhn,

You can change the max execution time also in the script call, using something like
[code]

Regarding the meta fields number, as stated in the first link I sent:

To list all fields, the easiest way is to list them with a SQL query like:
[code]
If you have any repeatable field in ACF, for example `address`, every repeated field will mean a new field (with a different key, like `addre

[2022-05-05 14:22] #2718 closed, assigned to nobody

[2022-05-06 08:49] thomasdiesenreiter commented on #2681
I got the same behaviour as well with the gui and the wp-cli tools. Sorry, didn't try it with the --show-errors flag. After multiple attempts (with deleting settings and the index in between, partly manually in the filesystem and phpmyadmin, because it sometimes wouldn't properly reset the index) it finally ran through without errors.

We have a rather large website with 130.000 posts in productio

[2022-05-06 09:39] gillespieza opened #2741 "QUESTION: How do I tweak the way the results are displayed when using the facet widget?"
I have a custom template to display my products in their categories (it pulls in a little more info than just the featured post and title). But when I use the facet widget to filter by a facet, the resulting page does not have my customisations. What hooks or filters do I need to look at using?

[2022-05-06 18:03] glamble007 opened #2742 "BUG: Unable to search Attachments with Rest Api"
**Describe the bug**

We are using REST API to search and fetch attachments from our Wordpress media library. When Elasticpress is disabled, the function works fine. As soon as we turn Elasticpress on, the same function returns blank results.

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Try to use wp-json REST API query to search post_type = att

[2022-05-06 18:06] glamble007 opened #2743 "QUESTION: Zero Results for queries without spaces."
We have users searching on our woocommerce store phrases like:
Almondmilk
Oatmilk
sugarfree
glutenfree

We do sell these products, however the words appear separated in the product titles as follows:
Almond Milk
Oat Milk
Gluten-Free
Sugar Free

We are trying to solve this using synonyms, however it does not seem to be a long term solution. Do you have any suggestions?

**Describe your question**

[2022-05-07 10:03] madaolex opened #2744 "BUG: The "output" method expects string, gets an array"
Hello!

**Describe the bug**
The "output" method in the /includes/classes/IndexHelper.php file on the 698 line expects a string, but the "$errors_output" variable's value is an array, because earlier the "output_index_errors" method returned an array.
This causes indexing to crash.

https://github.com/10up/ElasticPress/blob/develop/includes/classes/IndexHelper.php#L698

**Expected behavior**
Make

[2022-05-08 14:09] #2730 closed, assigned to nobody

[2022-05-08 18:06] nickchomey opened #2745 "BUG: ElasticPress running two queries when using Twenty Twenty-Two theme"
I just switched from my theme to Twenty Twenty Two to debug something and I noticed that the search results really didn't seem to be in the correct order, so I used the Debug Bar ElasticPress to inspect the query and results.

It turns out that it is running two queries, and the only difference between the two is that the first shows:

[code]

and the second shows

[code]

Inspecting the results,

[2022-05-08 18:33] nickchomey opened #2746 "BUG: compare_mappings() never gets called"
This issue has been edited from the original. I discovered that I was mostly wrong, but there still remains an issue.

It appears that compare_mappings() in wp-content/plugins/elasticpress/includes/classes/Indexable.php doesn't ever seem to be called/referred-to in the plugin. I don't know what it is really supposed to do, but I don't think it is able to do anything as-is.

I hope this helps.

[2022-05-08 18:52] nickchomey opened #2747 "ElasticPress is returning entire document content in the search results"
I have uploaded about 10 large pdf documents (books) to my otherwise empty site and they have been successfully indexed by ElasticPress.

However, the search results seemed a bit slow to me (given what I've heard about ElasticSearch!). When I inspect the Query Result with the Debug Bar tool, I can see that the _entire_ contents of the documents - some of which are over 500,000 words - are returned

[2022-05-08 19:14] nickchomey commented on #2513
@Matteoa99 Did you ever figure out what to use in _Endpoint URL_?

[2022-05-08 21:42] nickchomey commented on #2747
I now see that I can use a variety of filters to grab and use the document content:
* ep_get_hits_from_query
* ep_valid_response
* ep_retrieve_raw_response
* ep_retrieve_the_{type}
* ep_es_query_results

The final one or two are probably the best to use as the $documents array contains each document returned (likely just 1 in my case). the content, specifically, being here `$documents[0]["attachme

[2022-05-08 22:08] nickchomey commented on #2747
I'll close this for now as I've just discovered these issues and links that will probably solve this for me:
https://github.com/10up/ElasticPress/issues/2635
https://github.com/10up/ElasticPress/issues/1250
https://github.com/10up/ElasticPress/issues/684
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-highlighting

I post an update if I

[2022-05-08 22:08] #2747 closed, assigned to nobody

[2022-05-09 02:17] nickchomey commented on #2675
For anyone else who stumbles here, I just watched this video that did an excellent job of putting things into perspective about ElasticSearch vs Amazon OpenSearch. https://www.youtube.com/watch?v=F1oKcMefb0A

My concerns about elastic seem to have been unfounded and I'm happy to use it going forward. Moreover, they have a massive focus on actual community (conferences, youtube channel, meetups, et

[2022-05-09 12:18] felipeelia commented on #2746
Thanks, @nickchomey. During the 3.6.x releases, we put together some mechanisms to check mapping versions and compare them with what is present in the Elasticsearch server. FWIW, that check is currently executed in [this line](https://github.com/10up/ElasticPress/blob/4.1.0/includes/classes/AdminNotices.php#L653). The current code only checks for ES versions though, not changes made in the mapping

[2022-05-09 12:18] #2746 closed, assigned to nobody

[2022-05-09 12:21] felipeelia commented on #2745
Thanks, @nickchomey. We are keeping track of this problem in #2694 already.

[2022-05-09 12:21] #2745 closed, assigned to nobody

[2022-05-09 12:27] felipeelia commented on #2744
Hi @madaolex,

The "output" method actually expects either a string or an array. We did have a problem with that but that was supposedly fixed in 4.1.0 via #2688. Is there a reproducible step-by-step scenario you could share with us?

Also, would it be possible for you to share the changes you've made to make things work with Advanced Post Types Order? Thanks!

[2022-05-09 15:29] #2737 closed, assigned to felipeelia

[2022-05-09 19:46] oscarssanchez opened #2749 "Investigate GA4 compatibility with Autosuggest"
**Describe the bug**

As of now, Autosuggest fires a tracking event to GA. With the replacement of universal analytics in favor of GA4 we should check if the feature is still compatible

**Expected behavior**

**Screenshots**

**Additional context**

https://support.google.com/analytics/answer/11583528?hl=en

[2022-05-09 19:58] oscarssanchez commented on #2732
As a note, it seems autosuggest works, but in the case of Woocommerce themes implementing a hidden input in the search bar, it will only work with post type products, which make sense.

[2022-05-09 19:58] #2732 closed, assigned to oscarssanchez

[2022-05-09 23:03] blenkhn commented on #2718
I now have an out of memory issue.

mmap() failed: [12] Cannot allocate memory
Fatal error: Out of memory (allocated 3750981632) (tried to allocate 272445440 bytes) in /home/keyinnov/public_html/wp-includes/wp-db.php on line 1582
Error: There has been a critical error on this website.Learn more about troubleshooting WordPress. There has been a critical error on this website.

[2022-05-10 04:12] blenkhn opened #2750 "QUESTION: Multisite?"
I am interested to know how well elasticpress works in a multisite environment.

**Describe your question**
Initially I was having user indexing issues now it fails with an out of memory error and all I did was add another site to the network.  IS this a possibility?  I now have an out of memory issue.  I have 36gb of memory.....

mmap() failed: [12] Cannot allocate memory
Fatal error: Out of memo

[2022-05-10 13:28] felipeelia commented on #781
Some links to the current WooCommerce codebase that may help to understand the problem:

- Request parse:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-products.php#L453

- Code where the IDs are fetch:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/data-stores/class-wc-product-data

[2022-05-10 21:06] rafaucau opened #2752 "QUESTION: Pagination limit?"
I have 40k posts on the website. I use pagination on the home page (displays 60 posts per page) and I noticed that the page count is much lower when I enable Elasticpress. The page count is 167 but it should be 769.

I have re-indexed several times but it has not helped.
The oldest posts are definitely indexed as I am able to search for them and they show up in categories and tags.
It looks like E

[2022-05-10 22:24] felipeelia commented on #2752
Hi @rafaucau! That is an Elasticsearch configuration indeed: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/search-your-data.html#track-total-hits

You can have the actual total number being returned using the following snippet:
[code]
Keep in mind that that comes with a (probably small) performance penalty, okay? Thanks!

[2022-05-10 22:24] #2752 closed, assigned to nobody

[2022-05-11 09:26] madaolex commented on #2744
Hi @felipeelia!

Indeed, it was fixed. Sorry, didn't see that. I didn't check the method itself, so I thought it wasn't fixed. Thank you for the update!

About the Advanced Post Types Order: The plugin has settings for each post type. We use that plugin for the "Products" post type. I just added several conditions in the plugin's settings for "products" to have it working only if the page has "res

[2022-05-11 14:58] burhandodhy commented on #2742
Hi @glamble007,

I'm unable to reproduce the issue on my end. Would you mind sharing the complete endpoint?

[2022-05-11 16:02] glamble007 commented on #2742
If I do that, it will expose the secret token and key.

On Wed, May 11, 2022 at 8:28 PM Burhan Nasir ***@***.***>
wrote:

--
[image: avatar image]

www.urbanplatter.in <https://urbanplatter.in/>
Dhaval Kenia

Founder & CTO
------------------------------

*Email:* ***@***.***

*Phone:* +91 7208083639

*Landline:* 022 24463639
ISTORE DIRECT TRADING PRIVATE LIMITEDC7, Kamanwala Chambers, New Udyog
Ma

[2022-05-11 16:11] burhandodhy commented on #2742
@glamble007 You shouldn't have to. Just share the API endpoint along with all the query parameters, excluding your secret token and key.

[2022-05-11 16:49] brandwaffle commented on #2742
@glamble007 to clarify a bit, we're talking about the WP API endpoint you're trying to hit (so, just a relative path to wp-json/...) as well as any query params you're passing to that REST API endpoint. We're _not_ talking about your Elasticsearch endpoint.

[2022-05-11 17:47] glamble007 commented on #2742
Ok, thanks for the clarification.
Here:
https://urbanplatter.in//wp-json/appmaker-wc/v1/backend-media?&search=PB-offer
<https://mailtrack.io/trace/link/fa2d499a919ae42ebab2dcf4411204e4bd7c6e52?url=https%3A%2F%2Furbanplatter.in%2F%2Fwp-json%2Fappmaker-wc%2Fv1%2Fbackend-media%3Fapi_secret%3DJYb5amEfwi5rcSbIRgb1mpNbTvjavYWW%26search%3DPB-offer&userId=5007311&signature=74c0e541b612a5c6>

On Wed, May 1

[2022-05-11 18:06] brandwaffle commented on #2742
@glamble007 that URL looks like it might be an Appmaker API endpoint. To troubleshoot further, you'll want to review the Elasticsearch request that's being generated to see if it perhaps contains some data that's not being indexed or is creating a malformed query that results in nothing coming back. If you're an ElasticPress.io customer, please submit a ticket requesting  support for the issue and

[2022-05-11 18:11] felipeelia commented on #2742
Just to add another idea here, if the post type being used is different from core's and is set as `public => false` it may be needed to turn the "Protected Content" feature on or add some code to have the CPT properly indexed.

[2022-05-11 18:11] glamble007 commented on #2742
Ok, I will check.

On Wed, May 11, 2022 at 11:36 PM Vasken Hauri ***@***.***>
wrote:

--
[image: avatar image]

www.urbanplatter.in <https://urbanplatter.in/>
Dhaval Kenia

Founder & CTO
------------------------------

*Email:* ***@***.***

*Phone:* +91 7208083639

*Landline:* 022 24463639
ISTORE DIRECT TRADING PRIVATE LIMITEDC7, Kamanwala Chambers, New Udyog
Mandir 2, Moghul Lane, Mahim (West), M

[2022-05-11 18:14] glamble007 commented on #2742
We do not wish to show CPT in search results. Do we still need to index it?
Here the CPT = attachments

On Wed, May 11, 2022 at 11:43 PM Dhaval Kenia ***@***.***> wrote:

--
[image: avatar image]

www.urbanplatter.in <https://urbanplatter.in/>
Dhaval Kenia

Founder & CTO
------------------------------

*Email:* ***@***.***

*Phone:* +91 7208083639

*Landline:* 022 24463639
ISTORE DIRECT TRADING PR

[2022-05-11 19:06] juliecampbell opened #2755 "Using ep_item_sync_kill filter breaks indexing"
We are working on upgrading a site from using Elasticpress 3.6.5 to 4.1.0. Before the upgrade, Elasticpress/Elasticsearch worked 100%. After the upgrade, the indexer is only indexing a small subset of the posts that we would expect to be indexed.

Command used for indexing:
wp elasticpress index --setup --nobulk --show-bulk-errors

Beginning subset of the indexing output:

Success: Indexing posts.

[2022-05-11 20:58] brandwaffle commented on #2742
@glamble007 if you _want_ to use ElasticPress/Elasticsearch to perform these searches via the REST API, then you would need to index those posts to perform the search. If the problem is that you _don't_ want the search to go through ElasticPress, but it's happening anyway, you'll want to look into passing the `ep_integrate => false` parameter into the WP_Query that Appmaker is using for the search

[2022-05-12 13:49] Zyles opened #2758 "BUG: Unable to change settings on connection failure"
**Describe the bug**

Unable to change the settings. Everything is greyed out.

![image](https://user-images.githubusercontent.com/1741593/168089729-a1a42d1b-4dd9-4f6a-99d9-212d4273d8a9.png)

**Steps to Reproduce**

1. Insert elasticsearch URL for third party
2. Authentication failed
3. Everything is greyed out unable to change settings

**Expected behavior**

Able to change settings.

**Screensho

[2022-05-12 13:59] #2704 closed, assigned to JakePT

[2022-05-12 13:59] #2706 closed, assigned to JakePT

[2022-05-12 14:04] #2725 closed, assigned to felipeelia

[2022-05-12 14:12] #2731 closed, assigned to JakePT

[2022-05-12 14:51] Zyles opened #2759 "BUG: No mapping found for [post_title.sortable] in order to sort on"
**Describe the bug**

Trying to get this plugin to work on a Woocommerce install unsuccessfully.

Navigating to a category the debug bar gives me a 400 error with:

[code]

[code]

Also the ElasticPress widget does not output anything:
![image](https://user-images.githubusercontent.com/1741593/168103182-2241f779-1b14-4f48-b374-1f2f445de3ad.png)

**Steps to Reproduce**

1. Install elasticpress and

[2022-05-12 16:38] #2689 closed

[2022-05-12 17:12] brandwaffle commented on #2759
@Zyles this error is usually the result of the mapping not being properly sent during initial indexing. Can you try a "Delete all data and sync" and paste the results of any logs or errors (assuming the problem persists)? Thanks!

[2022-05-12 18:40] Zyles commented on #2759
Okay thanks, now it works after resyncing.

The facet widget for categories shows up now. However I find no widget product filter that supports advanced custom fields.

Is there no built in feature for this?

[2022-05-12 21:29] Zyles commented on #2759
Now when I ran the delete and sync again I get:

[code]

And sometimes `Too many requests` (default install).

[2022-05-12 22:23] brandwaffle commented on #2759
@Zyles the Facets are designed to work with WordPress taxonomies and WooCommerce product attributes. In general, since meta fields (including Advanced Custom Fields) aren't normalized data, we don't recommend using them for Facets. It is possible with custom code, however, if you have a set of data that's reasonably limited.

If you have access to WP-CLI on your WordPress install, you can try runn

[2022-05-12 22:57] Zyles opened #2760 "Exclude facet options if there they are unavailable"
**Is your enhancement related to a problem? Please describe.**

When you enter a Woocommerce category or use the search and the taxonomy is not available to facet on all the options are greyed out.

I would like the option to hide them completely.

This becomes a problem when you have a "brand" attribute with 100+ brands. I rather only show the relevant brands instead of all brands in the store.

[2022-05-13 00:16] felipeelia commented on #2755
Hi @juliecampbell,

Thanks for opening the issue. I am partially able to reproduce the problem, but as far as I could test, it seems to be much more related to the `--no-bulk` flag rather than the usage of the `ep_item_sync_kill` filter. Do you mind trying to run `wp elasticpress index --setup --show-errors` instead and letting us know the results? Also, would it be possible for you to share the c

[2022-05-13 00:16] archon810 commented on #2681
Same issue here on version 4.1.0 of the plugin and no caching plugins used.
![image](https://user-images.githubusercontent.com/469543/168187325-83504f7a-dbdf-4a6c-9145-920e168ba58d.png)

The indexing ran to 99% and got stuck somewhere toward the very end... doh, so close.

What's weird is the indexing worked without issues before, but we've been making some changes and reindexed several times, unt

[2022-05-13 00:19] felipeelia commented on #2755
Actually, I take that back, sorry. It is indeed a mix of the --no-bulk and the ep_item_sync_kill filter.

[2022-05-13 00:32] felipeelia commented on #2755
I think I've fixed the problem in #2761, @juliecampbell. Do you mind giving it a try? I've [added a zip there](https://github.com/10up/ElasticPress/pull/2761#issuecomment-1125544174) to make it easier to test. Thanks!

[2022-05-13 00:37] felipeelia commented on #2681
Hey @archon810, thanks for the detailed report! We've recently changed a bit that error handling, the code for that is already merged and planned to be released in our next version. I've also just created a PR addressing a problem that might be affecting you as well.
Would it be possible for you to test the [zip attached](https://github.com/10up/ElasticPress/pull/2761#issuecomment-1125544174) in #

[2022-05-13 00:47] archon810 commented on #2681
Sorry, this is a production env, and I'll wait for the official update with the fixes.

Btw, I also wanted to point out the "Last Object ID: 5" in my first screenshot. That doesn't sound right. *Edit*: Is this what your new PR is addressing?

[2022-05-13 07:37] archon810 commented on #2681
I ran a full resync with wp cli and it finished this time.

Here's the final output.
[code]
This explains where ID 5 came from previously.

Time elapsed doesn't seem to make any sense (as well as total time elapsed). This process ran for hours.

[2022-05-13 14:25] felipeelia commented on #2743
You can try one of the older search algorithms @glamble007. To change it you can either use a WP-CLI command (`wp elasticpress set-algorithm-version --version=3.4` or `wp elasticpress set-algorithm-version --version=3.5`) or you can install the [ElasticPressLabs plugin](https://github.com/10up/ElasticPressLabs/) to change it via Dashboard.

[2022-05-13 14:26] felipeelia commented on #2741
Hi @gillespieza, would it be possible to share the URLs and what kind of customization you are talking about?

[2022-05-13 15:15] juliecampbell commented on #2755
Thanks @felipeelia! Adding this fix allows the indexer to index all the expected posts again.

[2022-05-13 16:28] felipeelia commented on #2750
Hi @blenkhn. We have ElasticPress running in some very big multisite networks without any problems.

Although your server may have 36GB of memory, it seems MySQL is configured to use ~3GB. If you saw that error during a sync process, you can decrease the amount of memory used in the sync process lowering the number of "Content Items per Index Cycle" in the settings screen. If you had that in some

[2022-05-13 16:48] #2755 closed, assigned to felipeelia

[2022-05-13 16:55] felipeelia commented on #2758
Hi @Zyles,

Would it be possible for you to share the contents of the `ep_index_meta` option? You can get that by running `wp option get ep_index_meta`. If you have ElasticPress enabled for the entire network, then you'd need to run `wp site option get ep_index_meta`. Thanks in advance.

[2022-05-13 21:12] btweedy2879 opened #2764 "BUG: Search by Product SKU not working with standard url param pattern"
**Describe the bug**

Searching by sku does not seem to work when using the standard url param search (https://v1tactical.com/?s=KEKSA&post_type=product#search).  Autosuggest works but as soon as the user hits the enter key, an empty result is returned.

**Steps to Reproduce**

1. Go to v1tactical.com
2. Click on the search icon in the upper right hand corner
3. Type in "KEKSA".  Autosuggest resul

[2022-05-15 23:09] #2759 closed, assigned to nobody

[2022-05-16 09:56] dashaluna opened #2765 "QUESTION: EP and search ajax pagination inconsistencies"
Hello, I'm having issues (inconsistent results) while doing search page ajax pagination.

The current ElasticPress v.3.6.3 I have also tried this with the recent plugin v. 4.1.0  and the results are the same for both versions.

**Scenario:**
- I have several custom post types (that are searchable)
- I have WooCommerce and WooCommerce Membership plugins
- Posts per page is 10
- Search results page

[2022-05-16 10:02] dashaluna commented on #2765
PS I can see someone else also experienced the same issue with the search results ajax pagination as mentioned here https://github.com/10up/ElasticPress/issues/1082 but it wasn't resolved.

[2022-05-16 10:40] dashaluna commented on #1082
@dekode-rasmus have you figured out a way to do ajax pagination for search?

[2022-05-16 15:10] #2743 closed, assigned to nobody

[2022-05-16 17:12] #2758 closed, assigned to nobody

[2022-05-16 17:12] #2750 closed, assigned to nobody

[2022-05-16 22:02] NicoleGeissinger opened #2766 "BUG: Using --url when running index on a multisite not working. Getting full network index always."
I looked everywhere and didn't see any mention about the `index` command no longer supporting the global WP-CLI command `--url` so reaching out here to see what's up? This may not be a bug but it was unexpected for me.

I'm working on upgrading to v4 of ElasticPress on a couple of large multisite networks. Historically I could control the indexing to a single site when needed, but after upgrading

[2022-05-17 12:50] JakePT opened #2768 "Reduce size of Instant Results dependencies"
**Is your enhancement related to a problem? Please describe.**
As raised on #2756 Instant Results uses a couple of `@wordpress` packages that are quite large and could be substituted by smaller alternatives.

In particular `@wordpress/date` is used for displaying result dates, but is a large package that depends on `Moment.js`, another large package. Also, SlotFills from `@wordpress/components` is

[2022-05-17 14:01] oscarssanchez opened #2769 "BUG: values that are not dates can get formatted as if they were"
**Describe the bug**

Looks like https://github.com/10up/ElasticPress/blob/18a0d3b0797d258c99e519cae87a84a4fa3b6faf/includes/classes/Indexable.php#L711 is treating some values that are not dates as if they were, later causing issues with ElasticSearch. If we try to prepare the following value: 5479516sunt it gets formatted as a valid date value 107039-03-10

<img width="1530" alt="Screen Shot 2022

[2022-05-17 14:11] felipeelia commented on #2769
We will need to cap out the max Year there, preferably the same way Elasticsearch does. Docs related: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/mapping-date-format.html#strict-date-time

[2022-05-17 14:46] felipeelia opened #2770 "Features page: status and colors"
**Is your enhancement related to a problem? Please describe.**

Currently, features have a status and a color that are not super intuitive: not-filled vs. filled means active or not, colors are related to requirements, warning, etc.

**Describe the solution you'd like**

Some UX changes to make it more clear to the final user.

[2022-05-17 18:42] #2613 closed

[2022-05-18 08:52] gillespieza commented on #2741
Hi @felipeelia [felipeelia](https://github.com/felipeelia)

Here you go: https://gearysgarage.com/product-category/agricultural-equipment/tractors-loaders/
And you'll find the filters in the sidebar to the right

[2022-05-18 12:44] #2766 closed, assigned to nobody

[2022-05-18 14:09] felipeelia opened #2772 "[Release] 4.2.0"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method.  If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.2.0` for your changes.
- [x] 3. Version bump:

[2022-05-18 15:48] yashumitsu opened #2775 "BUG: With Instant Results URL parameters are not persist on page refresh"
Hi,

**Describe the bug**

With Instant Results enabled, URL query parameters are clearing on page refresh.

**Steps to Reproduce**

1. Enable Instant Results
2. Open any post with some args in url, for example: ```<wordpress>/hello-world/?key=value```
3. Reload page (F5)
4. Look at the browser address bar: all query arguments are disappeared

**Expected behavior**

The query parameters should be

[2022-05-18 19:57] felipeelia opened #2776 "Autosuggest: Document window.epAutosuggestItemHTMLFilter"
**Is your enhancement related to a problem? Please describe.**

Although it is currently possible to change the autosuggest output, we don't have that properly documented.

**Describe the solution you'd like**
 An addition to the [Theme Integration page](http://10up.github.io/ElasticPress/tutorial-theme-integration.html) seems the best place to explain how to use the [window.epAutosuggestItemHTMLF

[2022-05-19 12:26] MARQAS commented on #2776
I'll look into this and will add documentation on how to use it properly.

[2022-05-19 12:48] #2768 closed, assigned to JakePT

[2022-05-19 15:28] #2775 closed, assigned to JakePT

[2022-05-19 17:05] cmoa-webmaster opened #2778 "QUESTION: Support for Elasticsearch 7.17.3"
Hello @felipeelia

I was wondering when future versions of Elasticsearch would be supported. In short, we use elastic co using elasticsearch with Kibana and the only options for versions of Elasicsearch is 7.17.3 and sadly lower versions aren't supported. After, I was able to successfully connect to it, I got a warning that said "Your Elasticsearch version 7.17.3 is above the maximum required Elas

[2022-05-20 14:33] JakePT opened #2783 "Unapproved comments are being indexed"
**Describe the bug**
When the Comments feature is enabled all comments are synced regardless of approval status. Only approved comments should sync.

Only approved comments are displayed, as expected, it's just the indexing that's affected.

**Steps to Reproduce**
1. Enable Comments feature.
2. Add a number of comments.
3. Check Index Health, and the number of documents in the comments index will

[2022-05-20 14:38] JakePT opened #2784 "Sync interruption message mentions ElasticPress.io regardless of Elasticsearch host"
**Describe the bug**
The sync interruption message mentions ElasticPress.io regardless of Elasticsearch host. When a delete and sync is interrupted by WP CLI, the message displayed reads:

The likely cause is `epDate.is_epio` being `'0'` instead of `false`.

**Steps to Reproduce**
1. Start a delete and sync from the sync page.
2. Run `wp elasticpress stop-indexing'
3. Click _Show log_ and review t

[2022-05-21 10:16] RetroGameTalk opened #2785 "QUESTION: It looks like one or more of your indices are running on a single node. While this won't prevent you from using ElasticPress, depending on your site's specific needs this can represent a performance issue."
I got this warning: It looks like one or more of your indices are running on a single node. While this won't prevent you from using ElasticPress, depending on your site's specific needs this can represent a performance issue.
**Describe your question**

My question is what steps, exactly do I need to do to add more nodes? I'm a beginner.

Thanks.

[2022-05-23 05:54] burhandodhy opened #2786 "BUG: 400 Bad Request for WP_User_Query"
**Describe the bug**

When we set the `orderby` parameter to `user_name` in `WP_User_Query`. EP gives 400 bad request error.

[code]

**Steps to Reproduce**

Set `orderby` parameter to `user_name` in WP_User_Query and it will gives the error every time.

[code]

[2022-05-23 11:08] FutterupTiger opened #2787 "BUG: Filter not working with BeRocket brand pages"
**Describe the bug**

We have installed ElasticPress on a site with BeRocket brands. On the regular shop page the filter works, but when we visit the brandpages the filters are unavailable.

**Expected behavior**

I was kind of hoping the filter would be working on brand pages as well.

**Screenshots**

**Environment information**
 - Device: Laptop
 - OS: Windows
 - Browser and version: Chrome Ver

[2022-05-23 12:23] burhandodhy opened #2788 "BUG: Admin menu bar items are not clickable."
**Describe the bug**
The admin bar menu items are not clickable when the Instant Result popup is open.

**Steps to Reproduce**
1. Enable the Instant Results feature. 
2. Navigate to the front end and search anything. 
3. While the popup is open, the menu bar items are not clickable. 

**Expected behavior**
The menu bar items must be clickable even when the popup is open

[2022-05-23 12:35] felipeelia opened #2790 "Search products by their variations' SKUs"
**Is your enhancement related to a problem? Please describe.**

Currently, searching for a product variation SKU does not match its parent.

**Describe the solution you'd like**

Now that #2763 is merged and `meta._variations_skus` is available, we could add a new field to the Weighting Dashboard, allowing admin users to enable or not that field to be searchable.

[2022-05-23 15:13] burhandodhy commented on #2786
I just found out that `user_name` is an invalid term because `parse_orderby` returns empty. https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp-user-query.php#L660

The reason why WordPress is not giving error is because when `order_by` is empty, WordPress set `user_login` as a default https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp-user-query.php#L673

[2022-05-23 15:13] #2786 closed, assigned to nobody

[2022-05-24 09:01] JakePT opened #2791 "BUG: Admin searches in WooCommerce taxonomies return no results"
**Describe the bug**
When searching within WooCommerce Product Categories or product attributes in the admin with the Terms feature enabled, no results are returned.

With Debug Bar enabled two Elasticsearch queries will be shown. One of them will have no results, but the other one will have the expected results. The queries are exactly the same excerpt two differences. Firstly, the query with no

[2022-05-24 09:12] JakePT opened #2792 "Hide legacy widgets when not already in use"
**Is your enhancement related to a problem? Please describe.**
When using the block-based widgets editor both legacy widgets and blocks are available for Related Posts and Facets. This could be confusing as there are two options for the same thing.

**Describe the solution you'd like**
Following the pattern of WordPress core's legacy widgets that became blocks, we should not register the legacy wi

[2022-05-24 09:15] JakePT opened #2793 "Change sync button title attribute"
**Is your enhancement related to a problem? Please describe.**
The Sync button in the ElasticPress toolbar at the top of ElasticPress admin pages has a title attribute/tooltip that reads "Start Sync", however clicking the button only takes the user to the Sync page, and no longer starts a sync immediately.

**Describe the solution you'd like**
The title attribute should be updated to not suggest t

[2022-05-24 09:24] JakePT opened #2794 "Disabling Instant Results should deactivate search API"
**Is your enhancement related to a problem? Please describe.**
When using ElasticPress.io, activating Instant Results saves a 'search template' to EP.io which enables the publicly accessible search API that powers Instant Results for the user's posts index. However when Instant Results is deactivated the search template is not removed, the the API remains active.

**Describe the solution you'd lik

[2022-05-24 09:36] JakePT opened #2795 "BUG: Users can modify settings during a sync if the Features or Settings page was already open"
**Describe the bug**
Normally during a full delete and sync the _Features_ and _Settings_ pages are disabled to prevent changing settings, enabling or disabling features, or modifying feature settings during this process. However if the use opens the either page in before syncing, and keeps it open while starting a delete and sync in another tab, they will be able to make those changes while the s

[2022-05-24 11:36] felipeelia commented on #2783
As this only happens when Protected Content is enabled and is the expected behavior, I'm closing it out.

[2022-05-24 11:36] #2783 closed, assigned to nobody

[2022-05-24 11:41] felipeelia commented on #2769
https://www.elastic.co/guide/en/elasticsearch/reference/8.2/mapping-date-format.html
https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html

TL;DR 2099

(props to @tott)

[2022-05-24 12:54] burhandodhy opened #2796 "BUG: Behaviour of Related Posts widget and block are not consistent"
**Describe the bug**
The Related Posts widget doesn't show anything when the page is not is_single. However, the block does show the related posts. This is happening because we have a sanity check for the widget that checks if the page is not single then returns. https://github.com/10up/ElasticPress/blob/develop/includes/classes/Feature/RelatedPosts/Widget.php#L42

**Steps to Reproduce**

1. Add R

[2022-05-24 14:34] burhandodhy opened #2797 "BUG: Facet block doesn't render anything on frontend for single post"
**Describe the bug**

Facet block doesn't render anything on the frontend for the single post , but it does render the result in the post edit screen.

**Steps to Reproduce**

1. Add Facet block in new post.
2. The block does render the render in the edit screen but not on the frontend.

[2022-05-24 15:56] cmoa-webmaster commented on #2602
@felipeelia Hey again. So I wanted to start off by saying that I spun up and successfully connected a new elasticsearch version 7.17.3 to our development website. Possibly that it is a bit newer of a version could be the issue, but I have not been able to sync it properly. I have the full log from the /wp-admin side here when trying to run a sync here: https://pastebin.com/2biqa9e5 but when I run

[2022-05-24 16:07] brandwaffle commented on #2602
@cmoa-webmaster helping to troubleshoot custom Elasticsearch endpoints is something we can support, but unfortunately only through our hourly consulting. This is especially true given the version of Elasticsearch you're using is not yet supported by ElasticPress, and the fact that there seems to be other application(s) running in your Elasticsearch environment. You can learn more about our consult

[2022-05-24 16:14] felipeelia commented on #2778
Hey @cmoa-webmaster,

I've briefly talked about this in [this comment](https://github.com/10up/ElasticPress/issues/2671#issuecomment-1078972274). FWIW, we plan to increase the ES versions supported in 4.3.0, but so far the tests we've performed inform us that it should work with the latest ES. Thanks!

[2022-05-24 16:14] #2778 closed, assigned to nobody

[2022-05-24 17:13] cmoa-webmaster commented on #2778
Thank you @felipeelia

[2022-05-24 18:55] cmoa-webmaster commented on #2602
@brandwaffle No problem! I completely understand. I just may consider it. I wanted to use ElasticPress.io really bad, but it wouldn't connect to my instance. My theory was that our existing ES_SHIELD credential was being passed. Possibly since I was able to figure out how to override the constant on my end, I would be able to pass my username and password to elasticpress.io elasticsearch.

I am no

[2022-05-25 01:38] oscarssanchez commented on #2765
Hi @dashaluna ,

I'm curious to know the full query/query_vars. I see `'elasticsearch_success' => true` on both filter examples, so the only thing I can think at the moment is a different variable at play between these. I see you mention "WooCommerce Membership statuses", but I don't see them in the query, for example. Would you mind providing that as well?

Page 1 query args seem correct if you h

[2022-05-25 04:47] nickchomey commented on #3
I just found this repo https://github.com/MESH-Research/elasticpress-buddypress that offers a seemingly-maintained ElasticPress-BuddyPress Feature, though it is missing a lot of key functionality.

I'm quite eager to get this working in a fairly comprehensive way with automatic index updating for Groups, Members, Activity, Messages, as well as the BuddyBoss additions of Media, Documents etc...

I'

[2022-05-25 08:26] swissspidy commented on #3
As much as I would like to help you, I have used neither BuddyPress nor ElasticPress for over 6 years.

[2022-05-25 09:47] dashaluna commented on #2765
Hello @oscarssanchez thank you for getting back to me.

I'm not sure what else to provide for `WP_Query` objects, as you can see under the `query` and `query_vars` keys, there are the main query vars that are the same, like: `s`, `posts_per_page`, `ep_integrate`. Var `paged` is different as I'm requesting the next page of search results.

I've kept all the info that's different between `WP_Query`

[2022-05-25 11:15] aronvandervalk opened #2798 "QUESTION: How can I specify ACF fields in an ep_weighting_fields_for_post_type filter?"
Hi,

I am trying to implement custom weighting, using ACF fields.
We are using the WP_Query to query a specific set of posts:

[code]

[This article](https://www.elasticpress.io/blog/2020/06/custom-fields-and-weighted-search-with-elasticpress-part-2/) explains how to the add the custom field to the weighting settings.
[code]

We can successfully add these fields to the settings page, but making th

[2022-05-25 12:50] balajidamodare commented on #1817
facing the same issue on the latest version of the elasticpress [Version 4.1.0]

[2022-05-25 13:00] balajidamodare commented on #1817
simply I am indexing data via the command line and its mapping date field as text.
steps to reproduce

wp elasticpress clear-index
wp elasticpress delete-index --yes
wp elasticpress index --show-bulk-errors --post-type="videos, tech-101, news, interviews, guest-article, deep-dive, behind-the-scenes, ask-the-cxo, articles"

Not showing any errors on CLI

[2022-05-25 13:54] felipeelia commented on #1817
[code]
should actually be
[code]
`--setup` will send the mapping again, as they are deleted by the `delete-index` command you are calling right before.

[2022-05-25 16:22] nickchomey commented on #3
I've gotten some good feedback from @mikethicke over in his repo and will take a crack at writing a new feature that brings his BP-specific mechanisms to an existing core-EP Feature template. When there is something worth getting feedback on, I'll create a pull request to this repo and mention it here.

Hopefully I/we can get this to work soon enough! It really would be an enormously useful tool f

[2022-05-25 17:12] #2727 closed, assigned to felipeelia

[2022-05-25 18:59] oscarssanchez commented on #2765
Hi @dashaluna ,

Are those membership statuses then not being handled as a query arg? If that's the case, although it won't explain the difference in results, it is likely those are not being added.

I was trying to check a query with "surf" in our logs coming from your endpoint but I just was able to find 1 from 2 days ago, which seems odd since you probably have performed it more than that.

Cou

[2022-05-26 07:10] balajidamodare commented on #1817
Hi Flipeelia
Thank you for your reply I have tried and executed it, but the documents are not indexed and it shows the message as Success: Indexing posts....

followed following steps

command:  `wp elasticpress clear-index`
Output : `Success: Index cleared.`
command:  `wp elasticpress delete-index --yes`
Output : `Success: Index deleted`
`Deleting index for posts...`
command:  `wp elasticpress in

[2022-05-26 10:25] balajidamodare opened #2801 "Post date(post_date) Maps Date/Time Fields as String -- version 4.1.0"
simply I am indexing data via the command line and its mapping date field as text.
steps to reproduce

`wp elasticpress clear-index`
Output : `Success: Index cleared.`
`wp elasticpress delete-index --yes`
Output `Success: Index deleted
Deleting index for posts...`
`wp elasticpress index --setup --yes --show-bulk-errors --post-type="videos, tech-101, news, interviews, guest-article, deep-dive, behi

[2022-05-26 12:39] felipeelia commented on #2772
https://github.com/10up/ElasticPress/releases/tag/4.2.0

[2022-05-26 12:39] #2772 closed, assigned to felipeelia

[2022-05-26 13:40] felipeelia commented on #2801
Hi @balajidamodare,

Can you please update your ElasticPress version to 4.2.0 and try to run : `wp elasticpress put-mapping` and `wp elasticpress index --show-errors --post-type="videos, tech-101, news, interviews, guest-article, deep-dive, behind-the-scenes, ask-the-cxo, articles"`? FWIW you don't need to run `wp elasticpress delete-index` when you call `put-mapping` or `index` with the `--setup`

[2022-05-26 13:47] felipeelia commented on #2798
Hi @aronvandervalk,

It should be `meta.introduction_title.value`. It seems you are already using Debug Bar ElasticPress, right? If so, do you mind sharing an example of an ES query you are sending and an example of an Elasticsearch document that should match? For the latter, you can either search for something that brings results and share the "Query Results" content or run `wp elasticpress reque

[2022-05-26 13:51] felipeelia commented on #2797
We should probably prevent people from adding that block on single posts/pages, as it doesn't make much sense to facet anything there.

[2022-05-26 13:58] felipeelia commented on #2785
Hi @MediaMaquina. Installing and configuring Elasticsearch is something that falls outside of the support we provide here. You can follow the ES documentation located in the link below but we won't be able to help you further than pointing you to that. Thanks!

https://www.elastic.co/guide/en/elasticsearch/reference/7.17/add-elasticsearch-nodes.html

[2022-05-26 13:58] #2785 closed, assigned to nobody

[2022-05-26 14:07] felipeelia commented on #2764
Hi @btweedy2879,

It seems you have some incompatibility issue going on. If you go to https://v1tactical.com/?s=KEKSA (without the `post_type=product`) it is possible to see products in the results list.

Would it be possible for you to disable all the plugins with the exception of ElasticPress and WooCommerce, enable a WordPress default theme and test it? You can use the `Health Check & Troublesh

[2022-05-26 14:19] felipeelia commented on #2741
Got it @gillespieza. Would it be possible for you to share that custom template you are using?

[2022-05-26 14:24] felipeelia commented on #2681
Hi there! As the issues listed here were fixed by ElasticPress 4.2.0 I'm going ahead and closing this one out. If any of you face any issues with the latest release please open a new issue linking to this one. Thanks!

[2022-05-26 14:24] #2681 closed

[2022-05-26 16:19] balajidamodare commented on #2801
Thank you for the quick response. I will check and update here.

[2022-05-27 07:57] aronvandervalk commented on #2798
Hi @felipeelia

Thanks for the reply.

When checking the debug bar I see two ElasticPress queries:
The first request body:
[code]
ThIs request returns the items in the list, but these items are not affected by the weighting.

=======

The second query does seem to take the weight into account, but this query does not return any results.
[code]

Body:
[code]

Also, I do not understand where this qu

[2022-05-27 13:22] balajidamodare commented on #2801
It's working but I am getting the different errors now.
command: wp elasticpress put-mapping

Error:
Query Response Code: HTTP 400
Query Result:
[code]

any plugin settings will help to resolve this.

I am using already one filter to resolve this.
// to resolve max_shingle_diff issue default allowed 5
apply_filters( 'ep_max_shingle_diff', 10 );

[2022-05-27 18:47] ghost opened #2805 "BUG: Sync Issues (4.2.0)"
**Describe the bug**

I am experiencing the same issues seen in bug report #2681 - even after the upgrade to v4.2.0.

**Steps to Reproduce**

1. Perform sync via admin interface - it says there was already one in progress.
2. Progress resumes from same spot
3. Continuous loop on same progress

**Troubleshooting**

- When clicking Stop, then Start or Delete Data and Re-sync, it simply resumes from

[2022-05-29 15:09] #2741 closed, assigned to nobody

[2022-05-29 15:09] #2764 closed, assigned to nobody

[2022-05-30 02:59] balajidamodare opened #2806 "Mapping failed because of max_shingle_size .. I have changed settings but not working as its creating new index all time and applying settings-- version 4.2.0"
command: wp elasticpress put-mapping

**Describe your question**

Error:
Query Response Code: HTTP 400
Query Result:

[code]

any plugin settings will help to resolve this?

I am using already one filter to resolve this.
// to resolve max_shingle_diff issue default allowed 5
apply_filters( 'ep_max_shingle_diff', 10 );

[2022-05-30 10:24] balajidamodare commented on #2806
request and response
--------------------
`curl -XPUT -H 'Content-Type: application/json' -H 'Authorization: Basic' -H 'Accept-Encoding: gzip' -d '{"settings":{"index.number_of_shards":5,"index.number_of_replicas":1,"analysis":{"analyzer":{"default":{"tokenizer":"standard","filter":["ep_synonyms_filter","standard","ewp_word_delimiter","lowercase","stop","ewp_snowball"],"language":"english"},"shing

[2022-05-30 19:20] przestrzal opened #2807 "QUESTION: Sync crashes always after ~17 minutes"
Hi,

i've upgraded EP to 4.2.0 and i'm trying to build new index, but every time i run `wp elasticpress index --setup` from root, the process is crashing after about 17 minutes. You can see fatal error below:

[code]

I resumed few times the sync process from last synced ID

`wp elasticpress index --show-errors --upper-limit-object-id=1413875`

and there is the same problem. Sync in working correc

[2022-05-31 05:31] balajidamodare commented on #2801
any solution to the above error @felipeelia ??

[2022-05-31 09:10] cbratschi commented on #2805
In the release notes I read something about a fix for the CLI memory issues. However, we are seeing the exactly same issues as before.

We did not check the admin interface but will do soon.

[2022-05-31 09:36] cbratschi commented on #2805
In the admin interface the endless loop happens again:

[code]

So not seeing any improvements either.

We already upgraded to WordPress 6 and the older ElasticPress version produces some warnings. We hope we can soon migrate to a stable version again.

[2022-05-31 12:39] felipeelia opened #2808 "BUG: Facets on taxonomy archives"
**Describe the bug**

Currently, it seems the Facets feature is not working on any taxonomy archives, except WooCommerce product categories.

**Steps to Reproduce**
1. Install and enable WooCommerce
2. Activate the WooCommerce and the Facets Feature
3. Sync everything
4. Go to a product category archive
5. See the facets
6. Go to a regular taxonomy archive
7. Do not see facets

**Expected behavior

[2022-05-31 12:49] felipeelia opened #2809 "Limit WooCommerce integration"
**Is your enhancement related to a problem? Please describe.**

Currently, the [translate_args](https://github.com/10up/ElasticPress/blob/4.2.0/includes/classes/Feature/WooCommerce/WooCommerce.php#L238) and the [should_integrate_with_query](https://github.com/10up/ElasticPress/blob/4.2.0/includes/classes/Feature/WooCommerce/WooCommerce.php#L1090) methods are too broad. For example, running:

[code

[2022-05-31 14:09] MARQAS commented on #2790
I can look into this @felipeelia

[2022-05-31 14:21] MARQAS commented on #2788
I can take care of it @felipeelia

[2022-05-31 14:53] balajidamodare opened #2810 "BUG: Mapping Issue - Opensaerch"
**Describe the bug**

While mapping data on Opensaerch getting error.
**Steps to Reproduce**

run following command
wp elasticpress put-mapping
**Expected behavior**

need to complete the mapping
**Screenshots**

getting following error
`{
    "error": {
        "root_cause": [
            {
                "type": "illegal_argument_exception",
                "reason": "In Shingle TokenFilter the

[2022-05-31 15:25] felipeelia commented on #2806
Hi @balajidamodare,

Thanks for opening the issue. Before anything else, I think we need to align our expectations here :) Right now, you have the same problem reported in 3 different places, and that does not help anyone: it won't make us get to your question any faster and will not help to keep the repository organized for others with the same problem. That said, it is enough to report your prob

[2022-05-31 15:26] felipeelia commented on #2801
The problem is already being handled in https://github.com/10up/ElasticPress/issues/2806#issuecomment-1142283294. I'm closing this one out now.

[2022-05-31 15:26] #2801 closed, assigned to nobody

[2022-05-31 15:26] felipeelia commented on #2810
The problem is already being handled in https://github.com/10up/ElasticPress/issues/2806#issuecomment-1142283294. I'm closing this one out now.

[2022-05-31 15:26] #2810 closed, assigned to nobody

[2022-05-31 15:46] balajidamodare commented on #2806
@felipeelia Thank you for responding. I was a little bit confused is this the question or bug that's the reason I have reported separately and in the comment as well.
here is the result for post
command: `wp eval 'print_r(\ElasticPress\Indexables::factory()->get( "post" )->generate_mapping());'`
Result: `Array
(
    [settings] => Array
        (
            [index.number_of_shards] => 5

[2022-05-31 21:58] oscarssanchez commented on #2765
Hi @dashaluna ,

Just checking in, have you had a chance to look at my last reply?

[2022-05-31 22:01] oscarssanchez opened #2811 "Add autosuggest filter to modify list container"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

Sometimes users will want to modify the list container, while we have `epAutosuggestItemHTMLFilter` it applies to each autosuggest element.

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2022-05-31 22:14] oscarssanchez opened #2812 "Explore "Weightable" class"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

Currently, fields that can be weighted  are limited to post types. Since ElasticSearch offers weighting across different fields, such as date, index, etc, offering a way to add new weights outside of the standard way we have now would be good.

**Designs**

**Describe alternatives you've considere

[2022-06-01 02:16] ouch-digital commented on #2040
Thanks @bogdanarizancu this helped me :)

[2022-06-01 09:09] cbratschi commented on #2805
In the admin interface I could not delete all data and start a fresh sync, it always restarts at 12% and continues there the endless cycle. The delete all button seems not to work.

[2022-06-01 14:42] burhandodhy opened #2815 "BUG: Uncaught TypeError on Settings Page"
**Describe the bug**
The Settings page gave an error `Uncaught TypeError: Cannot read properties of null (reading 'dataset')` when `EP_HOST` constant is defined in `wp-config.php` file.

**Steps to Reproduce**

1. Define `EP_HOST` in `wp-config.php`
2. Go to ElasticPress Settings page.
3. You would see the `Uncaught TypeError` in console.

**Screenshots**

<img width="1082" alt="image" src="https:

[2022-06-01 15:08] #2815 closed, assigned to burhandodhy

[2022-06-02 09:54] pedlima opened #2818 "BUG: WC search filters widgets not working properly when using synonyms"
We noticed that whenever we use a synonym, it seems that the search filters on the shop do not represent the current search results at all.

One of many examples is this:

1. If we search for "bolsa multiusos" we get these filters on the left: https://americana.pt/?s=bolsa+multiusos&post_type=product
2. But if we search for "bolsas multiusos" (which is set in options as a a synonym of the above) w

[2022-06-02 13:19] balajidamodare commented on #2806
HI @felipeelia
any solution to this issue?

[2022-06-02 13:49] felipeelia commented on #2760
This would be an interesting option @Zyles, thanks. In the meantime, the `ep_facet_widget_term_html` filter can be used to achieve a similar result:
[code]

Note: worth pointing out the "similar" there, as the search field displayed above the list will not use the correct number of terms being displayed.

[2022-06-02 13:59] felipeelia commented on #2798
Hi @aronvandervalk,

The second query is created by the Autosuggest feature as a model to be used by the AJAX functionality. Although it appears in all page loads, ElasticPress caches its results, so it is not actually fired every time.

For the first one, you are not using `search_fields`, right? It might help if you can share all custom code you have related to ElasticPress. Also, are you using

[2022-06-02 16:57] felipeelia commented on #2807
Thanks for opening the issue @przestrzal, I am able to reproduce the problem. Would it be possible for you to test the change applied in #2820 and see if that also fixes the problem for you? Thanks!

[2022-06-02 19:51] felipeelia commented on #2806
@balajidamodare, I guess I was not clear enough in my last reply. Please, do NOT try to bump your questions. As you are using OpenSearch and that is not something we officially support, you will face errors that are not necessarily bugs but things that need to be worked around.
In addition to that, it is worth saying that the scope of our GitHub issues is to file and organize bug reports and enhan

[2022-06-02 19:51] #2806 closed, assigned to nobody

[2022-06-02 19:54] felipeelia opened #2824 "OpenSearch detection and documentation"
**Is your enhancement related to a problem? Please describe.**

Although we don't officially support OpenSearch yet, ElasticPress could detect its usage and alert about it (and potentially link the user to some documentation.)

As said in [this comment](https://github.com/10up/ElasticPress/issues/2806#issuecomment-1145280129), ElasticPress will get the 1.x or 2.x reported version and understand th

[2022-06-03 02:25] balajidamodare commented on #2806
@felipeelia
adding filter worked for me thanks a lot. and sorry for adding too many comments and questions.

[2022-06-03 05:20] blenkhn opened #2826 "Order changing status"
Hi,

I have a new issue to report.  When I update a status on a woocommerce order the order disappears and then doesn't reappear even after a new sync.  I have to do a "delete and rebuild" for them to show up.  Is there anything that can be done?

I do have to admit that this is with the 4.1 version of the plugin and I have upgraded the plugin now.  I will let you know if it still has a problem.

[2022-06-03 20:23] blenkhn opened #2827 "User Indexing BUG"
The big thing for me is how do I exclude the admin users from the index?

**Describe the bug**
472 (User): [illegal_argument_exception] Limit of total fields [5000] in index [keyinnovationsca-user] has been exceeded
454 (User): [illegal_argument_exception] Limit of total fields [5000] in index [keyinnovationsca-user] has been exceeded
393 (User): [illegal_argument_exception] Limit of total fields

[2022-06-07 08:09] aronvandervalk commented on #2798
Hi @felipeelia

I see that the second query is indeed autosuggest, which can be removed by disabling the autosuggest setting.

Leaves us with the first query. Our setup is that we want to combine meta queries, tax queries _and_ a custom search on `search_fields` in a Query setup. This works, but the weighting is not taken into account (which does seem to appear in the autosuggest query).
- No mult

[2022-06-07 11:48] felipeelia commented on #2827
This is not a bug but an Elasticsearch limitation. Although it is much more common on posts, it is possible to work around it for users as well.

We've covered this subject in these two articles:
- https://elasticpress.zendesk.com/hc/en-us/articles/360051401212-I-get-the-error-Limit-of-total-fields-in-index-has-been-exceeded-
- https://elasticpress.zendesk.com/hc/en-us/articles/360052019111

Inste

[2022-06-07 11:48] #2827 closed, assigned to nobody

[2022-06-07 12:14] jimhuds opened #2829 "Compatibility with JetSmartFilters"
I'm running a web store with WooCommerce and Crocoblocks JetPlugins suite. ElasticPress has made everything a lot faster apart from the AJAX products filters from JetSmartFilters. Integration with JetSmartFilters would be very useful. Or if it's already possible, then some sort of instructions on how to enable it would be great. Thanks

[2022-06-07 13:21] felipeelia commented on #2826
Hi @blenkhn,

I was not able to reproduce this problem. Do you have any errors in your log files that you could share?

[2022-06-07 13:29] felipeelia commented on #2829
Hi @jimhuds, it is great to read that ElasticPress made things a lot faster!

You are talking about this plugin here, right? https://crocoblock.com/plugins/jetengine-wp/

Unfortunately, we cannot access the codebase to Premium plugins thus restricting our ability to efficiently assist in regard to this issue. As their basic plan comes with premium support, we recommend reaching out directly to the

[2022-06-07 13:29] #2829 closed, assigned to nobody

[2022-06-07 13:43] felipeelia commented on #2818
Hi @pedlima,

It seems you are not using ElasticPress facets but WoodMart's layered navigation. That element probably does not integrate with ElasticPress aggregations out-of-the-box, more likely running a different SQL query using the search term in the query string.

If it is not possible for you to use ElasticPress Facets for some reason, I recommend you to reach out to the theme author and che

[2022-06-07 13:43] #2818 closed, assigned to nobody

[2022-06-07 13:52] felipeelia commented on #2798
Hi @aronvandervalk,

As you are using ` ep_weighting_fields_for_post_type` -- the filter pointed out in that article -- you should NOT use `search_fields` at all, as that will overwrite the weighting settings completely. Remove the piece of code where you are adding the `search_fields` clause to WP_Query and ElasticPress should inject into it all the fields marked as searchable in the Weighing Das

[2022-06-07 17:33] #2807 closed, assigned to nobody

[2022-06-07 17:55] blenkhn commented on #2826
This is still occurring in the new version as well.  I was not able to find anything in the error logs relating to this.

[2022-06-07 18:49] MARQAS opened #2830 "BUG: Indexing the site for the first can lead to an error"
**Describe the bug**
Indexing the site for the very first time before sending the mapping may lead to an error
Example: `514 (Post): [illegal_argument_exception] mapper [meta._regular_price.double] cannot be changed from type [long] to [float]`

**Steps to Reproduce**
1. Install ElasticPress for the first time
2. Add the details in the settings
3. Skip the Setup
4. Go to the sync page
5. Click Syn

[2022-06-07 23:15] JakePT commented on #2796
As discussed we probably don't want these to be consistent, since the block has uses outside of `is_single()`, so instead we can use a check for `in_the_loop() || is_singular()` so that at least we know that there is a relevant post to get related posts for. The legacy widget will remain unchanged because we don't want it to suddenly appear in places users did not expect it to.

@felipeelia I thin

[2022-06-07 23:20] JakePT commented on #2830
Normally during install the user will eventually be redirected to the sync page with the `?do_sync` parameter so that a delete and sync is started automatically. However if install is skipped when the user navigates to the Sync page they will see a regular Sync and a Delete & Sync option. To avoid errors the first sync should be a delete and sync so that mappings are sent to Elasticsearch, but the

[2022-06-08 07:45] scooterlord opened #2832 "QUESTION: Is there a way to use fuzziness only on strings but NOT on numbers/integers?"
Hello everyone!

I am looking for a way to alter the search query to only use fuzziness in _string parts_ of the query, but when it comes to numbers I want them to be searched as input. Fuzziness has a lot of advantages but when people are looking for numbers, they are usually specific.

So, using the default search algorithm and searching for a `post id `gives multiple _similar_ results and there

[2022-06-08 12:09] burhandodhy opened #2834 "BUG: EP returns no posts on taxonomy archive page for CTP"
**Describe the bug**
EP returns nothing on taxonomy archive page for the Custom Post Types.

**Steps to Reproduce**

1. Use the below code to register CPT and Custom Taxonomy
2. Create a new `Genre` let say `Horror`
3. Create a new post `Movie` and set the post Genre to `Horror`
4. Visit the `Horror` archive page `https://website.com/genre/horror/` and you will see the no result.

[code]

**Expect

[2022-06-08 12:47] rferguson10 commented on #1605
After coming back to this on a recent project, I'm finding that the indexing process really depends on the interface language you are on. Having suppress_filters isn't enough within ep_index_posts_args.

I caught this while indexing via wp-cli. 86 posts were being indexed there (all my english posts). Then sometimes I went to the backend to click sync. When doing so, I'd sometimes see 15 posts (my

[2022-06-08 13:00] burhandodhy commented on #2834
Issue closed. The problem arose as a result of my custom changes. 

[2022-06-08 13:00] #2834 closed, assigned to nobody

[2022-06-09 03:09] blenkhn commented on #2826
When I deactivate the plugin and teh reactivate the plugin the missing orders that have changed status show up.  very very interesting.

[2022-06-09 13:32] Finnstax opened #2838 "BUG: Creating synonym sets with spaces causes indexing problems, illegal_argument_exception"
**Describe the bug**
If I add a synonym set containing a space. no post containing that set will be indexed

The post with id 845 has the post_title 'Internet of Things (IoT)' which I will use to demonstrate this effect.

1. No synonym

=> No synonym set is added via the dashboard
➡️ the post is getting indexed

[code]

2. Synonym with space

=> If i add the following synonym set via the dashboard

[2022-06-10 13:12] pedlima commented on #2818
Hi @felipeelia

Thank you for your feedback. Indeed that's what was the case here. :)

[2022-06-14 10:55] pedlima commented on #2216
I am having this exact error for about a month now.

Here is one (of many) examples: `514650 (Post): [illegal_argument_exception] startOffset must be non-negative, and endOffset must be >= startOffset, and offsets must not go backwards startOffset=50680802,endOffset=50680807,lastStartOffset=50680804 for field 'post_content_filtered'`

The weird thing is, this is not even a product, it is a Landing

[2022-06-14 14:03] #2769 closed, assigned to burhandodhy

[2022-06-14 14:04] #2793 closed, assigned to burhandodhy

[2022-06-14 18:38] shmaltz commented on #2087
+1 For this very important feature!

[2022-06-15 10:17] scooterlord commented on #2216
Hello from me as well!

After resolving a few issued with the latest version, I did **not** encounter any issues with posts not being indexed so far. A few thousands have been indexed since then without any issues.

[2022-06-15 12:38] aronvandervalk commented on #2798
Hi @felipeelia

Thank you very much for the reply. Now it makes sense. For me it was unclear in the [example](https://www.elasticpress.io/blog/2020/06/custom-fields-and-weighted-search-with-elasticpress-part-2/)
that when search_fields in WP_Query are set, no weighting will be applied.

When removing them from the WP_Query the setup works as expected.

Thanks!!

[2022-06-16 12:45] ouch-digital commented on #1794
+1 This would be amazing

[2022-06-16 17:21] hugosolar opened #2841 "Add filter to enqueue autosuggest styles when reindexing"
** Problem **
We have a project that doesn't rely on ElasticPress built-in endpoint for autosuggestions, but we do rely on the styles on the frontend. So when we're running a re-index, the styles break the appearance of the site.

** Possible Solution **
Add a filter to allow enqueuing the autosuggest styles even if the site is being reindexed

**Additional context**
This change was added here: ht

[2022-06-17 21:32] scooterlord commented on #2832
Can anyone provide help with this one? Any direction/pointers would be nice.

I am wondering if there can be some kind of _graceful fallback_ for this one as an alternative, ie:

- if exact matches are found, only show those
- if exact matches are _not_ found, show results with fuzziness

[2022-06-18 00:03] oscarssanchez commented on #2832
You can explore something like https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-keep-types-tokenfilter.html#_settings_example_5 @scooterlord

Alternatively, if your use case is post_id, why not add that field to be searchable and increase its weight compared to other ones?

[2022-06-18 00:05] #2765 closed, assigned to nobody

[2022-06-18 00:08] oscarssanchez commented on #2826
Hi @blenkhn ,

Seems like you problem is resolved with the latest version?

[2022-06-18 00:09] #2798 closed, assigned to nobody

[2022-06-18 04:49] nickchomey opened #2844 "Searches are only looking for posts despite other features/indexes being enabled"
I have turned on a variety of features (comments, users, terms etc..) and they index with no problems. However, when I do a search from the nav bar search box in my theme, only the posts are searched (confirmed via debug bar).

Is there a particular setting or filter that I need to use to enable returning results based on all available indexes?

[2022-06-18 07:01] HypeAU opened #2845 "QUESTION: space between keywords"
Hey Guys

im stumped with this one, I'm sure its something simple Im missing

this search https://findcheap.com.au/?s=head+torch returns items fine however sometimes such keywords are joined together
like https://findcheap.com.au/?s=headtorch which returns no items .... tried enabling fuzzy 3.5 .. didn't help me

thanks

[2022-06-19 04:09] nickchomey commented on #2844
After doing a bit of debugging, the WP_User/Term/Comment_Query are run, but when the `integrate_search_queries` functions get evaluated, `query_vars['search']` is empty for everything except posts so `$enabled` always returns `false`.

For context, right now I'm just using the Twenty Twenty-One theme and searching from a blank page with the gutenberg search block.

Should this be working, or is it

[2022-06-19 04:11] nickchomey commented on #2844
Here's the curl request from Debug Bar. As you can see, it only searches the post-1 index.

`curl -XPOST -H 'Content-Type: application/json' -d '{"from":0,"size":100,"sort":[{"_score":{"order":"desc"}}],"query":{"bool":{"should":[{"bool":{"must":[{"bool":{"should":[{"multi_match":{"query":"ipsum","type":"phrase","fields":["post_title^1","post_excerpt^1","post_content^1","post_author.display_name^1

[2022-06-20 07:18] scooterlord commented on #2832
Hello @oscarssanchez and thank you for your reply. I am _afraid_ to use a different tokenizer, as in, everything else works as expected - and not really sure it would solve my problem.

...one of the problems was indeed post_id, but managed to overcome it in the following way - I take the search term, check if it's an integer, and if it is, I change the query param to have 0 fuzziness. The problem

[2022-06-20 09:37] dashaluna commented on #2765
Thank you @oscarssanchez  for looking into this and pointing me in the right direction.

---
I'm noting this here in case this helps someone else. I went ahead with a custom REST API endpoint solution.

On how to connect the different pieces (ajax call in a JS file + custom endpoint in a PHP file) these can help:
- https://www.excellarate.com/blogs/a-modern-way-of-ajax-in-wordpress-using-rest-api/

[2022-06-20 11:09] HypeAU commented on #2845
ok, so im assuming, the only way around this, is to create synonyms, so added
headtorch => head torch, headlamp
and that worked for me for now

[2022-06-20 11:09] #2845 closed, assigned to nobody

[2022-06-20 12:40] #2795 closed, assigned to JakePT

[2022-06-20 13:52] #2784 closed, assigned to burhandodhy

[2022-06-20 14:01] #2788 closed, assigned to JakePT, MARQAS

[2022-06-20 14:14] #2797 closed, assigned to oscarssanchez

[2022-06-20 15:00] #2808 closed, assigned to burhandodhy

[2022-06-20 16:00] #2791 closed, assigned to burhandodhy

[2022-06-20 16:19] felipeelia opened #2846 "New SearchAlgorithm class"
**Is your enhancement related to a problem? Please describe.**

The solution outlined below is the first step toward #2086.

Right now we have at least 3 different search algorithms. In post searches ([here](https://github.com/10up/ElasticPress/blob/4.2.0/includes/classes/Indexable/Post/Post.php#L1412)) it can be selected using the `ep_search_algorithm_version` filter but for Users and other index

[2022-06-20 16:32] felipeelia opened #2847 "Sync error messages linking to documentation"
**Is your enhancement related to a problem? Please describe.**

Right now, if the user syncing content via Dashboard has too many meta fields, for example, and receives a `Limit of total fields [???] in index [???] has been exceeded` error, the plugin does not offer any additional help.

**Describe the solution you'd like**

In this specific case, we could link them to [this article](https://elast

[2022-06-20 17:05] felipeelia opened #2848 "[Release] 4.2.1"
- [x] 1. If the new version requires a reindex, add its number to the `$reindex_versions` array in the `ElasticPress\Upgrades::check_reindex_needed()` method. If it is the case, remember to add that information to the Changelog listings in `readme.txt` and `CHANGELOG.md`.
- [x] 2. Branch: Starting from `develop`, cut a release branch named `release/4.2.1` for your changes.
- [x] 3. Version bump: B

[2022-06-20 18:31] slothluvchunk opened #2850 "QUESTION: Can I disable elasticpress for the "posts" page in the back-end?"
We have enabled "protected" search to allow for media library queries due to our large library of images (> 150k).
We also have a large number of posts (> 350k), but now that "protected" is enabled, we're not seeing recent posts show up on the "posts" page in the admin area.
Is there a way via hook or action that we can catch EP before it queries, and use the default wp_query for the "posts" and "

[2022-06-20 18:52] felipeelia commented on #2844
Hi @nickchomey, thanks for opening the issue.

Those are the intended behaviors.

- As WP_Query, the other Indexables (WP_Term_Query, etc.) will only integrate with ElasticPress if it is performing a search or if `ep_integrate` is explicitly set. The WP_Query being the most common use case, there are also some edge cases like Facets, etc. where EP is leveraged in that case but all those should be

[2022-06-20 18:52] #2844 closed, assigned to nobody

[2022-06-20 19:36] felipeelia commented on #2838
Hi @Finnstax, thanks for opening the issue, I am able to reproduce it locally.

In my tests, if I keep `IoT, Internet Of Things` as a synonym set and change the post title to simply `IoT` I still get the same error. Removing the spaces in `Internet of Things` makes it work.

That said, it seems you found an edge case. We are currently using both `word_delimiter_graph` and `synonym_graph` during in

[2022-06-20 19:45] felipeelia commented on #2830
Although these are all good findings, I now realize #2695 covers the same root problem, so I'm closing this one in favor of that.

[2022-06-20 19:45] #2830 closed, assigned to JakePT

[2022-06-20 20:09] felipeelia commented on #2805
Hi @77matt, thanks for opening the issue. I've updated that article now: running `wp elasticpress clear-index` should be enough to clear the sync process.

There are a couple of steps I'd like you to perform if all possible:
1. Run the `wp elasticpress clear-index` command and see if that unstuck the process
2. If that does not work, `wp elasticpress settings-reset` will remove ALL your ElasticPre

[2022-06-20 20:59] nickchomey commented on #2844
@felipeelia Thanks very much for the confirmation and explanation!

For a bit of context, I've been working on an ElasticPress-BuddyPress Integration (#3) for a couple weeks and I have successfully indexed some of the BuddyPress data types by extending the Feature and Indexable classes, but such a Feature would only really be useful if you could do a site-wite search across all of the EP Indexable

[2022-06-21 04:37] nickchomey commented on #2844
Actually, please ignore this. I've started investigating the possibility of piggybacking off of an existing open-source BuddyPress search plugin/mechanism which should be able to do all of the heavy lifting as far as integrating with WP goes.

All I'll need to do is
1. create indexables and mappings for the relevant data types. I dont see this being too difficult now that I have it roughly working

[2022-06-21 05:27] nickchomey commented on #3
I've made some progress on this (mostly just debugging [Boone's fork/update](https://github.com/hard-g/elasticpress-buddypress/tree/3.0-compat) of one of the EP-BP plugins mentioned above, such that the BP Groups indexing now works with the Indexables and Features APIs).

I then hit a roadblock when I discovered that EP doesn't automatically allow for a multi-index search (or even just a non-Posts

[2022-06-21 12:59] Finnstax commented on #2838
Hey @felipeelia - thank you so much for your reply.

Adding the snippet does unfortunately nothing. I still get the same results as described above.

Is there anything else I could try? Or should we just avoid using synonyms with spaces for now?

[2022-06-21 15:03] cbratschi commented on #2805
Hi @felipeelia `wp elasticpress clear-index` was working fine, it started from zero again.

Then at 33% we got into an endless update loop again:

[code]

ID 105027 is an attachment: https://telebasel.ch/wp-content/uploads/2016/12/unbenannt-10.jpg.

[2022-06-21 15:28] felipeelia commented on #2838
Sorry @Finnstax, I should have mentioned that you'll need to send the mapping again. Can you please run `wp elasticpress index --setup --yes --show-errors`? This will delete your index, send the correct mapping, and sync everything again. Thanks!

[2022-06-21 17:23] ghost commented on #2805
@felipeelia Here are my results:

1.  `wp elasticpress clear-index` command did not help
2. `wp elasticpress settings-reset` command successfully reset settings, however when I tried to continue setup, everything was greyed out and I was not able to set then host URL. I manually set the host in wp-config.php via the `EP_HOST` variable. I then tried re-syncing and it still had the previous sync pro

[2022-06-22 12:17] felipeelia opened #2852 "FAQ Section"
**Is your enhancement related to a problem? Please describe.**

Although that does not happen a lot, sometimes we receive the same questions over and over again.

**Describe the solution you'd like**

Currently, the plugin does not have a FAQ section in the WordPress.org repo, like this: https://wordpress.org/plugins/woocommerce/#faq That is something we could use to clarify some common questions.

[2022-06-22 18:38] #2824 closed, assigned to felipeelia

[2022-06-23 09:12] cbratschi commented on #2805
Hi @felipeelia, after disabling the object cache from LiteSpeed Cache the sync was successful. We will try it now several times again to be sure this is a workaround.

[2022-06-23 11:45] burhandodhy opened #2855 "BUG: Design issue on Quick Setup Screen"
**Describe the bug**

There is horizontal scrolling on the Quick Setup screen, and when we scroll it right, the admin menu layout becomes broken. This issue only happens when we have the `Update Notice` and this [CSS rule ](https://github.com/10up/ElasticPress/blob/release/4.2.1/assets/css/dashboard.css#L47) is causing the problem.

**Steps to Reproduce**

1. Downgrade WordPress to 5.9
2. Reset th

[2022-06-23 18:09] felipeelia opened #2856 "Output info about the last sync for Dashboard users"
**Is your enhancement related to a problem? Please describe.**

In ElasticPress 4.2.0, we've added a new `get-last-sync` WP-CLI command (see #2748.) Dashboard users could also have access to that.

**Describe the solution you'd like**

It can either be a new element in the Sync Page or a new entry in Health Tools' Info Screen

[2022-06-23 21:23] slothluvchunk commented on #2850
I've got a working solution for this, in case it's helpful to anyone else.

Using the `pre_get_posts` filter like we do for date sorting, etc., we evaluate a couple of new WP options that allow us to specify whether we're using elastic throughout the admin area, or just for the media library. We then look at the query coming in, and use `$query->set( 'ep_integrate', true)` conditionally, based on

[2022-06-23 21:23] #2850 closed, assigned to nobody

[2022-06-24 10:04] cbratschi commented on #2805
Yesterday evening we upgraded our production system with disabled LiteSpeed object cache and it was working fine.

[2022-06-24 13:27] burhandodhy opened #2859 "Reduce API calls on Terms page."
**Is your enhancement related to a problem? Please describe.**

On the term page, when we sort by any column, ElasticPress sends two API requests. 1 for the actual result and the other for the post count. We need to figure out a way to do both things in a single API call.

**Steps to Reproduce**
- Go to the Admin Dashboard -> Category Page. 
- Sort the category against any column. 

[2022-06-25 18:48] blenkhn commented on #2826
Why would I have to reinitialize the plugin to get missing items to show up?

[2022-06-27 13:21] MARQAS opened #2865 "BUG: Error during the index with Multisite + WooCommerce setup"
**Describe the bug**

An error related to WooCommerce occurred while indexing the multisite through the wp-cli command. It is happening on multisite setup where the ElasticPress is enabled on network wide and WooCommerce is enabled only on selected sites. It seems that it is trying to index the WooCommerce content for the site which don't have the WooCommerce enabled.

**Note: It is only happening

[2022-06-27 13:32] Finnstax commented on #2838
Hey @felipeelia, thank you. That worked flawlessly.

The synonyms with spaces are now also getting indexed and are no longer throwing errors.

I noticed that the synonyms (unlike the other search results) are case sensitive - is there a way to fix this too?

[2022-06-27 19:23] greg-carter1924 opened #2866 "Elastpress Sync Triggering Unexpectedly"
Elasticpress sync is being triggered unexpectedly and we're trying to figure out why. We're getting support from 10Up. So far, we have been unable to determine why this is happening.

We have checked with our developers and no external events outside the server environment are scheduled. We're in the WP Engine environment, and WP Engine support could not answer this question either.

The WP Contro

[2022-06-27 22:16] ecaron opened #2867 "Expand WooCommerce admin search to include WooCommerce Subscriptions"
**Is your enhancement related to a problem? Please describe.**
Yes. When our admins are supporting customer subscriptions, the ElasticPress search functionality doesn't "take control" for the WooCommerce subscriptions interface (`wp-admin/edit.php?post_type=shop_subscription`).

**Describe the solution you'd like**
In the same way that `Feature/WooCommerce/WooCommerce.php` does the `remove_action`

[2022-06-28 08:03] JakePT commented on #2640
@felipeelia Closing this as I've just double checked and this issue was solved by the Sync page JS rewrite, so nothing needs to be done here.

[2022-06-28 08:03] #2640 closed

[2022-06-28 12:19] JakePT opened #2868 "BUG: recreate-network-alias CLI command returns an error without explanation on single site installs"
**Describe the bug**
The WP CLI command `wp elasticpress recreate-network-alias` returns an error without explanation when run on a single site install.

**Steps to Reproduce**

1. On a single site install run `wp elasticpress recreate-network-alias`.

**Expected behavior**
The command should return a message that explains that it does nothing for a single site install.